--{{ cacheSize | json }}--
@if (!dataCollectionStatus) {
  <p>{{ 'HEALTHKIT.NOT_AVAILABLE' | translate }}</p>
} @else {
  @if (dataCollectionStatus === 'authorization') {
    <p>{{ 'HEALTHKIT.CHECKING_AUTHORIZATION' | translate }}</p>
  } @else {
    <ion-button class="my-4" shape="round" expand="full" (click)="startCollectingHealthkitData()"
                [disabled]="dataCollectionStatus !== 'enabled'">
      @if (dataCollectionStatus === 'started') {
        <ion-spinner class="mx-2" name="circular"/>
        <span>{{ 'HEALTHKIT.START_COLLECTING' | translate }}</span>
      } @else if (dataCollectionStatus === 'finished') {
        <span>{{ 'HEALTHKIT.COLLECTED' | translate }}</span>
      } @else {
        <span>{{ 'HEALTHKIT.START_COLLECTING' | translate }}</span>
      }
    </ion-button>

    <ion-list>
      @for (item of healthKitItems(); track item.item.code) {
        <ion-item>
          <div class="my-2">
            <div>{{ item.item.label }}</div>
            <div class="h-8 flex items-center">
              @if (dataCollectionStatus !== 'enabled') {
                @if (item.status.totalSamples > -1) {
                  <div class="text-sm text-gray-500">
                    {{ 'HEALTHKIT.SAMPLES_COUNT' | translate:{totalSamples: item.status.totalSamples} }}
                  </div>
                } @else {
                  <ion-spinner name="dots"/>
                }
              } @else {
                @if (item.lastSampleDate) {
                  <div class="text-sm text-gray-500">
                    {{ 'HEALTHKIT.LAST_SAMPLE_DATE' | translate:{lastSampleDate: item.lastSampleDate | date:"fullDate"} }}
                  </div>
                } @else {
                  <div class="text-sm text-gray-500">{{ 'HEALTHKIT.NO_LAST_SAMPLE_DATE' | translate }}</div>
                }
              }
            </div>
          </div>
        </ion-item>
      }
    </ion-list>
  }
}
