<mat-card class="m-4 p-4">
<rb-dialog-title [mode]='mode'
                 [label]='{singular: ("ADMIN.protocol.title.singular" | translate), plural: ("ADMIN.protocol.title.plural" | translate)}'>
</rb-dialog-title>

<ng-container *ngIf='form'>
  <mat-dialog-content>
    <rb-dialog-body-description *ngIf='entity && (mode === DialogMode.VIEW || mode === DialogMode.DELETE)'>
      <rb-protocol-details [mode]='mode' [entity]='entity'></rb-protocol-details>
    </rb-dialog-body-description>

    <ng-container *ngIf='mode === DialogMode.ADD || mode === DialogMode.EDIT'>
      <form [formGroup]='form' novalidate>
        <div class="flex justify-between items-start gap-4">
          <mat-form-field *ngIf='mode !== DialogMode.ADD'
                          class='small-input w-1/4'
                          subscriptSizing="dynamic"
                          appearance='outline'
                          floatLabel='always'>
            <mat-label>{{ 'ADMIN.project.id.label' | translate }}</mat-label>
            <input matInput formControlName='id'/>
          </mat-form-field>
          <mat-form-field class='small-input w-1/2'
                          subscriptSizing="dynamic"
                          appearance='outline'
                          floatLabel='always'>
            <mat-label>{{ 'ADMIN.questionnaire.name.label' | translate }}</mat-label>
            <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
            <input matInput formControlName='name' required/>
            <mat-error *ngIf="controls.name?.hasError('duplicate')">
              {{ "Name exists" }}
            </mat-error>
            <mat-error *ngIf="controls.name?.hasError('pattern')">
              {{ValidatorError.normalTextValidator}}
            </mat-error>
            <mat-error *ngIf="controls.name?.hasError('required')">
              {{ValidatorError.requiredValidator | translate: {value: 'ADMIN.questionnaire.name.label' | translate } }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class='small-input w-1/4'
                          subscriptSizing="dynamic"
                          appearance='outline'
                          floatLabel='always'>
            <mat-label>Language</mat-label>
            <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
            <mat-select formControlName='defaultLanguage' required>
              <mat-option *ngFor="let language of LANGUAGES" [value]="language.code">{{language.code}}: {{language.nativeName}}</mat-option>
            </mat-select>
            <!--            <mat-error *ngIf="form.get('defaultLanguage')?.errors?.['pattern'] && !form.get('defaultLanguage')?.hasError('required')">-->
            <!--              {{ValidatorError.normalTextValidator}}-->
            <!--            </mat-error>-->
            <!--            <mat-error *ngIf="form.get('defaultLanguage')?.hasError('required')">-->
            <!--              {{ValidatorError.requiredValidator | translate: {value: 'defaultLanguage' } }}-->
            <!--            </mat-error>-->
          </mat-form-field>
        </div>

        <div class="flex justify-between items-center gap-4">
          <ng-container formGroupName="questionnaire">
            <mat-form-field class='small-input w-1/3'
                            subscriptSizing="dynamic"
                            appearance='outline'
                            floatLabel='always'>
              <mat-label>Questionnaire</mat-label>
              <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
              <mat-select formControlName='name' required>
<!--                <mat-option *ngFor="let q of data.questionnaires" [value]="q.name">{{q.name}}</mat-option>-->
              </mat-select>
              <!--              <input matInput formControlName='name' required/>-->
              <!--              <mat-error *ngIf="form.get('name')?.errors?.['pattern'] && !form.get('name')?.hasError('required')">-->
              <!--                {{ValidatorError.normalTextValidator}}-->
              <!--              </mat-error>-->
              <!--              <mat-error *ngIf="form.get('name')?.hasError('required')">-->
              <!--                {{ValidatorError.requiredValidator | translate: {value: 'name' } }}-->
              <!--              </mat-error>-->
            </mat-form-field>

            <mat-form-field class='small-input w-1/3'
                            subscriptSizing="dynamic"
                            appearance='outline'
                            floatLabel='always'>
              <mat-label>AVCS</mat-label>
              <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
              <!--              <input matInput formControlName='avsc' required/>-->
              <mat-select formControlName='avsc' required>
                <mat-option [value]="'task'">Task</mat-option>
                <mat-option [value]="'questionnaire'">Questionnaire</mat-option>
              </mat-select>
              <!--              <mat-error *ngIf="form.get('avsc')?.errors?.['pattern'] && !form.get('avsc')?.hasError('required')">-->
              <!--                {{ValidatorError.normalTextValidator}}-->
              <!--              </mat-error>-->
              <!--              <mat-error *ngIf="form.get('avsc')?.hasError('required')">-->
              <!--                {{ValidatorError.requiredValidator | translate: {value: 'avsc' } }}-->
              <!--              </mat-error>-->
            </mat-form-field>

          </ng-container>

          <mat-form-field class='small-input w-1/3'
                          subscriptSizing="dynamic"
                          appearance='outline'
                          floatLabel='always'>
            <mat-label>Estimated Completion Time</mat-label>
            <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
            <input matInput type="number" formControlName='estimatedCompletionTime'/>
            <!--            <mat-error *ngIf="form.get('estimatedCompletionTime')?.errors?.['pattern'] && !form.get('estimatedCompletionTime')?.hasError('required')">-->
            <!--              {{ValidatorError.normalTextValidator}}-->
            <!--            </mat-error>-->
            <!--            <mat-error *ngIf="form.get('estimatedCompletionTime')?.hasError('required')">-->
            <!--              {{ValidatorError.requiredValidator | translate: {value: 'estimatedCompletionTime' } }}-->
            <!--            </mat-error>-->
          </mat-form-field>
        </div>


        <!--        <div class="p-4">-->
        <div class="flex justify-between items-center gap-4">
          <mat-form-field class='small-input w-1/4'
                          subscriptSizing="dynamic"
                          appearance='outline'
                          floatLabel='always'>
            <mat-label>Order</mat-label>
            <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
            <input matInput type="number" formControlName='order'/>
            <!--              <mat-error *ngIf="form.get('order')?.errors?.['pattern'] && !form.get('order')?.hasError('required')">-->
            <!--                {{ValidatorError.normalTextValidator}}-->
            <!--              </mat-error>-->
            <!--              <mat-error *ngIf="form.get('order')?.hasError('required')">-->
            <!--                {{ValidatorError.requiredValidator | translate: {value: 'order' } }}-->
            <!--              </mat-error>-->
          </mat-form-field>

          <span class='small-input w-1/4'>
              <mat-slide-toggle formControlName='showIntroduction'
                                class="mb-4" color="primary">
                Show Introduction
              </mat-slide-toggle>

            <!--              <span class="block text-xs leading-3 -mt-3 mb-4">-->
            <!--                {{ 'ADMIN.client.enableEmptySecret.hint' | translate }}-->
            <!--              </span>-->
            </span>

          <span class='small-input w-1/4'>
              <mat-slide-toggle formControlName='showInCalendar'
                                class="mb-4" color="primary">
                Show In Calendar
              </mat-slide-toggle>

            <!--              <span class="block text-xs leading-3 -mt-3 mb-4">-->
            <!--                {{ 'ADMIN.client.enableEmptySecret.hint' | translate }}-->
            <!--              </span>-->
            </span>

          <span class='small-input w-1/4'>
              <mat-slide-toggle formControlName='isDemo'
                                class="mb-4" color="primary">
                Is Demo
              </mat-slide-toggle>

            <!--              <span class="block text-xs leading-3 -mt-3 mb-4">-->
            <!--                {{ 'ADMIN.client.enableEmptySecret.hint' | translate }}-->
            <!--              </span>-->
            </span>
        </div>

        <div class="flex justify-between items-center gap-4">
          <mat-form-field class='small-input w-1/3'
                          subscriptSizing="dynamic"
                          appearance='outline'
                          floatLabel='always'>
            <mat-label>Start Text</mat-label>
            <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
            <input matInput formControlName='startText'/>
            <!--              <mat-error *ngIf="form.get('startText')?.errors?.['pattern'] && !form.get('startText')?.hasError('required')">-->
            <!--                {{ValidatorError.normalTextValidator}}-->
            <!--              </mat-error>-->
            <!--              <mat-error *ngIf="form.get('startText')?.hasError('required')">-->
            <!--                {{ValidatorError.requiredValidator | translate: {value: 'startText' } }}-->
            <!--              </mat-error>-->
          </mat-form-field>

          <mat-form-field class='small-input w-1/3'
                          subscriptSizing="dynamic"
                          appearance='outline'
                          floatLabel='always'>
            <mat-label>End Text</mat-label>
            <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
            <input matInput formControlName='endText'/>
            <!--              <mat-error *ngIf="form.get('endText')?.errors?.['pattern'] && !form.get('endText')?.hasError('required')">-->
            <!--                {{ValidatorError.normalTextValidator}}-->
            <!--              </mat-error>-->
            <!--              <mat-error *ngIf="form.get('endText')?.hasError('required')">-->
            <!--                {{ValidatorError.requiredValidator | translate: {value: 'endText' } }}-->
            <!--              </mat-error>-->
          </mat-form-field>

          <mat-form-field class='small-input w-1/3'
                          subscriptSizing="dynamic"
                          appearance='outline'
                          floatLabel='always'>
            <mat-label>Warn Text</mat-label>
            <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
            <input matInput formControlName='warn'/>
            <!--              <mat-error *ngIf="form.get('warn')?.errors?.['pattern'] && !form.get('warn')?.hasError('required')">-->
            <!--                {{ValidatorError.normalTextValidator}}-->
            <!--              </mat-error>-->
            <!--              <mat-error *ngIf="form.get('warn')?.hasError('required')">-->
            <!--                {{ValidatorError.requiredValidator | translate: {value: 'warn' } }}-->
            <!--              </mat-error>-->
          </mat-form-field>
        </div>


        <mat-divider class="my-4!"></mat-divider>

        <ng-container formGroupName="protocol">
          <div class="flex justify-between items-start gap-4">
            <span class='small-input w-1/4'>Repeat Protocol</span>
            <span formGroupName="repeatProtocol" class="w-1/4 flex gap-4 items-start">
              <mat-form-field class='small-input w-1/2'
                              subscriptSizing="dynamic"
                              appearance='outline'
                              floatLabel='always'>
                <mat-label>Amount</mat-label>
                <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
                <input matInput formControlName='amount' type="number" min="1" max="10000" required/>
                <!--                <mat-error *ngIf="form.get('amount')?.errors?.['pattern'] && !form.get('amount')?.hasError('required')">-->
                <!--                  {{ValidatorError.normalTextValidator}}-->
                <!--                </mat-error>-->
                <!--                <mat-error *ngIf="form.get('amount')?.hasError('required')">-->
                <!--                  {{ValidatorError.requiredValidator | translate: {value: 'amount' } }}-->
                <!--                </mat-error>-->
              </mat-form-field>
              <mat-form-field class='small-input w-1/2'
                              subscriptSizing="dynamic"
                              appearance='outline'
                              floatLabel='always'>
                <mat-label>Unit</mat-label>
                <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
                <mat-select formControlName='unit' required>
                  <mat-option *ngFor="let unit of units" [value]="unit.name">{{unit.label}}</mat-option>
                </mat-select>
                <!--                <mat-error *ngIf="form.get('unit')?.errors?.['pattern'] && !form.get('unit')?.hasError('required')">-->
                <!--                  {{ValidatorError.normalTextValidator}}-->
                <!--                </mat-error>-->
                <!--                <mat-error *ngIf="form.get('unit')?.hasError('required')">-->
                <!--                  {{ValidatorError.requiredValidator | translate: {value: 'unit' } }}-->
                <!--                </mat-error>-->
              </mat-form-field>
            </span>

            <mat-form-field class='small-input w-1/2'
                            subscriptSizing="dynamic"
                            appearance='outline'
                            floatLabel='always'
                            formGroupName="repeatQuestionnaire">
              <mat-label>Times</mat-label>
              <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
              <textarea matInput rows="3" formControlName='times' required></textarea>
              <!--              <mat-error *ngIf="form.get('times')?.errors?.['pattern'] && !form.get('times')?.hasError('required')">-->
              <!--                {{ValidatorError.normalTextValidator}}-->
              <!--              </mat-error>-->
              <!--              <mat-error *ngIf="form.get('times')?.hasError('required')">-->
              <!--                {{ValidatorError.requiredValidator | translate: {value: 'times' } }}-->
              <!--              </mat-error>-->
            </mat-form-field>

          </div>

          <!--          <mat-divider class="my-4!"></mat-divider>-->

          <!--          <fieldset class="p-4 pb-0 rounded-sm border">-->
          <!--            <legend class="px-4">repeatQuestionnaire</legend>-->
          <!--            <div class="flex justify-between items-center gap-4" formGroupName="repeatQuestionnaire">-->
          <!--              <mat-form-field class='w-1/2'-->
          <!--                              appearance='outline'-->
          <!--                              floatLabel='always'>-->
          <!--                <mat-label>Unit</mat-label>-->
          <!--                <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>-->
          <!--                <input matInput formControlName='unit' required/>-->
          <!--                <mat-error *ngIf="form.get('unit')?.errors?.['pattern'] && !form.get('unit')?.hasError('required')">-->
          <!--                  {{ValidatorError.normalTextValidator}}-->
          <!--                </mat-error>-->
          <!--                <mat-error *ngIf="form.get('unit')?.hasError('required')">-->
          <!--                  {{ValidatorError.requiredValidator | translate: {value: 'unit' } }}-->
          <!--                </mat-error>-->
          <!--              </mat-form-field>-->
          <!--              <mat-form-field class='w-1/2'-->
          <!--                              appearance='outline'-->
          <!--                              floatLabel='always'>-->
          <!--                <mat-label>unitsFromZero</mat-label>-->
          <!--                <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>-->
          <!--                <input matInput formControlName='unitsFromZero' required/>-->
          <!--                <mat-error *ngIf="form.get('unitsFromZero')?.errors?.['pattern'] && !form.get('unitsFromZero')?.hasError('required')">-->
          <!--                  {{ValidatorError.normalTextValidator}}-->
          <!--                </mat-error>-->
          <!--                <mat-error *ngIf="form.get('unitsFromZero')?.hasError('required')">-->
          <!--                  {{ValidatorError.requiredValidator | translate: {value: 'unitsFromZero' } }}-->
          <!--                </mat-error>-->
          <!--              </mat-form-field>-->
          <!--            </div>-->
          <!--          </fieldset>-->

          <mat-divider class="my-4!"></mat-divider>

          <ng-container formGroupName="reminders">
            <div>
              <mat-slide-toggle formControlName='enabled'
                                class="mb-4" color="primary">
                Reminders
              </mat-slide-toggle>
            </div>
            <div *ngIf="controls.protocol.reminders.enabled?.value" class="flex justify-between items-center gap-4 w-3/4">
              <mat-form-field class='small-input w-1/3'
                              subscriptSizing="dynamic"
                              appearance='outline'
                              floatLabel='always'>
                <mat-label>Amount</mat-label>
                <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
                <input matInput formControlName='amount' type="number" min="1" max="10000" required/>
                <!--                <mat-error *ngIf="form.get('amount')?.errors?.['pattern'] && !form.get('amount')?.hasError('required')">-->
                <!--                  {{ValidatorError.normalTextValidator}}-->
                <!--                </mat-error>-->
                <!--                <mat-error *ngIf="form.get('amount')?.hasError('required')">-->
                <!--                  {{ValidatorError.requiredValidator | translate: {value: 'amount' } }}-->
                <!--                </mat-error>-->
              </mat-form-field>
              <mat-form-field class='small-input w-1/3'
                              subscriptSizing="dynamic"
                              appearance='outline'
                              floatLabel='always'>
                <mat-label>Unit</mat-label>
                <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
                <mat-select formControlName='unit' required>
                  <mat-option *ngFor="let unit of units" [value]="unit.name">{{unit.label}}</mat-option>
                </mat-select>
                <!--                <mat-error *ngIf="form.get('unit')?.errors?.['pattern'] && !form.get('unit')?.hasError('required')">-->
                <!--                  {{ValidatorError.normalTextValidator}}-->
                <!--                </mat-error>-->
                <!--                <mat-error *ngIf="form.get('unit')?.hasError('required')">-->
                <!--                  {{ValidatorError.requiredValidator | translate: {value: 'unit' } }}-->
                <!--                </mat-error>-->
              </mat-form-field>
              <mat-form-field class='small-input w-1/3'
                              subscriptSizing="dynamic"
                              appearance='outline'
                              floatLabel='always'>
                <mat-label>Repeat</mat-label>
                <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
                <input matInput type="number" formControlName='repeat' required/>
                <!--                <mat-error *ngIf="form.get('repeat')?.errors?.['pattern'] && !form.get('repeat')?.hasError('required')">-->
                <!--                  {{ValidatorError.normalTextValidator}}-->
                <!--                </mat-error>-->
                <!--                <mat-error *ngIf="form.get('repeat')?.hasError('required')">-->
                <!--                  {{ValidatorError.requiredValidator | translate: {value: 'repeat' } }}-->
                <!--                </mat-error>-->
              </mat-form-field>
            </div>
          </ng-container>

          <mat-divider class="my-4!"></mat-divider>

          <ng-container formGroupName="completionWindow">
            <div>
              <mat-slide-toggle formControlName='enabled'
                                class="mb-4" color="primary">
                Completion Window
              </mat-slide-toggle>
            </div>
            <div *ngIf="controls.protocol.completionWindow.enabled?.value" class="flex justify-between items-center gap-4 w-1/2">
              <mat-form-field class='small-input w-1/2'
                              subscriptSizing="dynamic"
                              appearance='outline'
                              floatLabel='always'>
                <mat-label>Amount</mat-label>
                <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
                <input matInput formControlName='amount' type="number" min="1" max="10000" required/>
                <!--                <mat-error *ngIf="form.get('amount')?.errors?.['pattern'] && !form.get('amount')?.hasError('required')">-->
                <!--                  {{ValidatorError.normalTextValidator}}-->
                <!--                </mat-error>-->
                <!--                <mat-error *ngIf="form.get('amount')?.hasError('required')">-->
                <!--                  {{ValidatorError.requiredValidator | translate: {value: 'amount' } }}-->
                <!--                </mat-error>-->
              </mat-form-field>
              <mat-form-field class='small-input w-1/2'
                              subscriptSizing="dynamic"
                              appearance='outline'
                              floatLabel='always'>
                <mat-label>Unit</mat-label>
                <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
                <mat-select formControlName='unit' required>
                  <mat-option *ngFor="let unit of units" [value]="unit.name">{{unit.label}}</mat-option>
                </mat-select>
                <!--                <mat-error *ngIf="form.get('unit')?.errors?.['pattern'] && !form.get('unit')?.hasError('required')">-->
                <!--                  {{ValidatorError.normalTextValidator}}-->
                <!--                </mat-error>-->
                <!--                <mat-error *ngIf="form.get('unit')?.hasError('required')">-->
                <!--                  {{ValidatorError.requiredValidator | translate: {value: 'unit' } }}-->
                <!--                </mat-error>-->
              </mat-form-field>
            </div>
          </ng-container>

          <mat-divider class="my-4!"></mat-divider>

          <ng-container formGroupName="clinicalProtocol">
            <div>
              <mat-slide-toggle formControlName='enabled'
                                class="mb-4" color="primary">
                Clinical Protocol
              </mat-slide-toggle>
            </div>
            <div *ngIf="controls.protocol.clinicalProtocol.enabled?.value"
                 class="flex items-start gap-4 w-full">
              <div class="w-1/4">
                <mat-slide-toggle formControlName='requiresInClinicCompletion'
                                  class="mb-4" color="primary">
                  Requires In Clinic Completion
                </mat-slide-toggle>
              </div>
              <ng-container formGroupName="repeatAfterClinicVisit">
                <div class="w-1/4">
                  <mat-slide-toggle formControlName='enabled'
                                    class="mb-4" color="primary">
                    Repeat After Clinic Visit
                  </mat-slide-toggle>
                </div>
                <ng-container *ngIf="controls.protocol.clinicalProtocol.repeatAfterClinicVisit.enabled?.value">
                  <mat-form-field class='small-input w-1/4'
                                  subscriptSizing="dynamic"
                                  appearance='outline'
                                  floatLabel='always'>
                    <mat-label>Units From Zero</mat-label>
                    <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
                    <input matInput formControlName='unitsFromZero' required/>
                    <!--                    <mat-error *ngIf="form.get('unitsFromZero')?.errors?.['pattern'] && !form.get('unitsFromZero')?.hasError('required')">-->
                    <!--                      {{ValidatorError.normalTextValidator}}-->
                    <!--                    </mat-error>-->
                    <!--                    <mat-error *ngIf="form.get('unitsFromZero')?.hasError('required')">-->
                    <!--                      {{ValidatorError.requiredValidator | translate: {value: 'unitsFromZero' } }}-->
                    <!--                    </mat-error>-->
                  </mat-form-field>
                  <mat-form-field class='small-input w-1/4'
                                  subscriptSizing="dynamic"
                                  appearance='outline'
                                  floatLabel='always'>
                    <mat-label>Unit</mat-label>
                    <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
                    <mat-select formControlName='unit' required>
                      <mat-option *ngFor="let unit of units" [value]="unit.name">{{unit.label}}</mat-option>
                    </mat-select>
                    <!--                    <mat-error *ngIf="form.get('unit')?.errors?.['pattern'] && !form.get('unit')?.hasError('required')">-->
                    <!--                      {{ValidatorError.normalTextValidator}}-->
                    <!--                    </mat-error>-->
                    <!--                    <mat-error *ngIf="form.get('unit')?.hasError('required')">-->
                    <!--                      {{ValidatorError.requiredValidator | translate: {value: 'unit' } }}-->
                    <!--                    </mat-error>-->
                  </mat-form-field>

                </ng-container>

              </ng-container>

            </div>
          </ng-container>

          <mat-divider class="my-4!"></mat-divider>

          <ng-container formGroupName="notification">
            <div>
              <mat-slide-toggle formControlName='enabled'
                                class="mb-4" color="primary">
                Custom Notification
              </mat-slide-toggle>
            </div>
            <div *ngIf="controls.protocol.notification.enabled?.value" class="flex justify-between items-center gap-4">
              <mat-form-field class='small-input w-1/2'
                              subscriptSizing="dynamic"
                              appearance='outline'
                              floatLabel='always'>
                <mat-label>Title</mat-label>
                <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
                <input matInput formControlName='title'/>
                <!--                <mat-error *ngIf="form.get('title')?.errors?.['pattern'] && !form.get('title')?.hasError('required')">-->
                <!--                  {{ValidatorError.normalTextValidator}}-->
                <!--                </mat-error>-->
                <!--                <mat-error *ngIf="form.get('title')?.hasError('required')">-->
                <!--                  {{ValidatorError.requiredValidator | translate: {value: 'title' } }}-->
                <!--                </mat-error>-->
              </mat-form-field>
              <mat-form-field class='small-input w-1/2'
                              subscriptSizing="dynamic"
                              appearance='outline'
                              floatLabel='always'>
                <mat-label>Text</mat-label>
                <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
                <input matInput formControlName='text'/>
                <!--                <mat-error *ngIf="form.get('text')?.errors?.['pattern'] && !form.get('text')?.hasError('required')">-->
                <!--                  {{ValidatorError.normalTextValidator}}-->
                <!--                </mat-error>-->
                <!--                <mat-error *ngIf="form.get('text')?.hasError('required')">-->
                <!--                  {{ValidatorError.requiredValidator | translate: {value: 'text' } }}-->
                <!--                </mat-error>-->
              </mat-form-field>

            </div>
          </ng-container>

        </ng-container>

      </form>
    </ng-container>

  </mat-dialog-content>

  <div>
    <rb-message *ngIf='error'></rb-message>
    <rb-dialog-actions [mode]='mode'
                       [form]='form'
                       (actionTriggered)='onAction($event)'>
    </rb-dialog-actions>
  </div>
</ng-container>

</mat-card>
