@if (filters?.length) {
  <div class='mb-2 rounded-sm px-0 mt-0'>
    @if (form) {
      <form [formGroup]="form" novalidate autocomplete="off" class='w-full flex gap-1 justify-between'>
        <div
          class="flex-grow grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-4 3xl:grid-cols-6 gap-4 text-base items-stretch">
          <!--          <div class="flex gap-1 flex-wrap w-full">-->
          @for (filter of filters; track filter) {
            @if (!filter.advanced) {
              <mat-form-field class="m-0! small"
                              appearance="outline"
                              floatLabel="auto"
                              subscriptSizing="dynamic">
                <!--                max-w-[300px]-->

                @if (filter.type === FilterType.SELECT) {
                  <mat-select [formControlName]='filter.name'>
                    <mat-option [value]='""'>
                      {{ 'SHARED.filter.all' | translate }}
                    </mat-option>
                    @for (item of filter?.options || []; track item) {
                      <mat-option [value]='item.value.toString()'>
                        {{ item.label | translate }}
                      </mat-option>
                    }
                  </mat-select>
                }

                @if (filter.type === FilterType.INPUT) {
                  <!--                  <mat-icon fontSet='material-icons-outlined' class="p-1.5! text-neutral-300" matPrefix>search</mat-icon>-->
                  <input [id]="filter.name + '-search'"
                         type="search"
                         [formControlName]='filter.name'
                         matInput autocomplete="off" data-lpignore="true"
                         placeholder='{{ filter.label | translate }}'>
                }

                @if (filter.type === FilterType.DATEPICKER) {
                  <input [formControlName]='filter.name' matInput [matDatepicker]="picker" [placeholder]='dateFormat'>
                  <mat-datepicker-toggle matSuffix [for]="picker"/>
                  <mat-datepicker #picker/>
                }


                @if (filter.type === FilterType.RANGE_PICKER && filter.names) {
                  <mat-date-range-input [rangePicker]="rangePicker">
                    <input matStartDate [formControlName]="filter.names[0]" [placeholder]='dateFormat'>
                    <input matEndDate [formControlName]="filter.names[1]" [placeholder]='dateFormat'>
                  </mat-date-range-input>
                }

                @if (filter.type === FilterType.RANGE_PICKER) {
                  <mat-datepicker-toggle matSuffix [for]="rangePicker"/>
                }
                <mat-date-range-picker #rangePicker/>

              </mat-form-field>
            }
          }
        </div>
        @if (advancedFilterEnabled) {
          <div class="shrink-0">
            <button class="flex gap-1 justify-center items-center bg-neutral-300 border-neutral-300 border-2 rounded-full px-1 py-1 text-base font-bold text-neutral-700
                    transition duration-150 ease-in-out font-feature-default"
                    type="button"
                    [matMenuTriggerFor]="advancedFilter">
              <span class="material-symbols-outlined text-lg font-bold">filter_alt</span>
              <span class="text-sm">Advanced Filter</span>
              <span class="material-symbols-outlined text-lg font-bold">expand_more</span>
            </button>
            <mat-menu #advancedFilter="matMenu">
              <div class="text-sm p-4">
                @for (filter of filters; track filter) {
                  @if (filter.advanced) {
                    <div class="mb-4">
                      <span
                        class="dark:text-white">{{ "SHARED.filter.filterBy" | translate }} {{ filter.label | translate }}
                        :</span>
                      <mat-form-field appearance="outline"
                                      floatLabel="always"
                                      subscriptSizing="dynamic"
                                      (click)="$event.stopPropagation()">
                        <!--        <mat-label>-->
                        <!--          {{ "SHARED.filter.filterBy" | translate }} {{ filter.label | translate }}-->
                        <!--        </mat-label>-->
                        @if (filter.type === FilterType.SELECT) {
                          @if (filter.type === FilterType.SELECT) {
                            <mat-select [formControlName]='filter.name'>
                              <mat-option [value]='""'>
                                {{ 'SHARED.filter.all' | translate }}
                              </mat-option>
                              @for (item of filter?.options; track item.value) {
                                <mat-option [value]='item.value.toString()'>
                                  {{ item.label | translate }}
                                </mat-option>
                              }
                            </mat-select>
                          }
                        }

                        <span class="material-symbols-outlined p-1.5! text-neutral-300" matPrefix>filter_alt</span>
                        <!--              <mat-icon fontSet='material-icons-outlined'  matPrefix>filter_alt</mat-icon>-->
                        @if (filter.type === FilterType.INPUT) {
                          <input [formControlName]='filter.name'
                                 matInput
                                 name='{{ filter.name }}'
                                 placeholder='{{"SHARED.filter.filterBy" | translate}} {{ filter.label | translate }}'>
                        }
                        <!--        [placeholder]='filter.placeHolder? (filter.placeHolder | translate) : ""'>-->

                        @if (filter.type === FilterType.DATEPICKER) {
                          <input [formControlName]='filter.name'
                                 matInput
                                 [matDatepicker]="picker"
                                 [placeholder]='dateFormat'>
                        }

                        @if (filter.type === FilterType.DATEPICKER) {
                          <mat-datepicker-toggle matSuffix [for]="picker"/>
                        }

                        <mat-datepicker #picker/>

                        @if (filter.type === FilterType.RANGE_PICKER && filter.names) {
                          <mat-date-range-input [rangePicker]="rangePicker">
                            <input matStartDate [formControlName]="filter.names[0]" [placeholder]='dateFormat'>
                            <input matEndDate [formControlName]="filter.names[1]" [placeholder]='dateFormat'>
                          </mat-date-range-input>
                        }

                        @if (filter.type === FilterType.RANGE_PICKER) {
                          <mat-datepicker-toggle matSuffix [for]="rangePicker"/>
                        }

                        <mat-date-range-picker #rangePicker/>

                      </mat-form-field>
                    </div>
                  }
                }
              </div>
            </mat-menu>
          </div>
        }
      </form>
    }
  </div>
}
<!--<mat-chip-listbox class='text-sm! mb-2 items-center px-0' aria-label="Filter selection">-->
<!--  <mat-chip-option class="bg-accent-color! dark:bg-accent-dark-color!"-->
<!--                   color="accent">-->
<!--    Hello:-->

<!--  </mat-chip-option>-->
<!--</mat-chip-listbox>-->

<!--<mat-chip-listbox class='text-sm! text-white! mb-2 items-center px-0' aria-label="Filter selection">-->
<!--  @for (filter of filters; track filter.name) {-->
<!--    &lt;!&ndash;  <ng-container *ngFor='let filter of filters || []'>&ndash;&gt;-->
<!--    @if (filter.type === FilterType.RANGE_PICKER && filter.names) {-->
<!--      &lt;!&ndash;    <ng-container *ngIf='filter.type === FilterType.RANGE_PICKER && filter.names'>&ndash;&gt;-->
<!--      @if (form?.controls?.[filter.names[0]]?.value || form?.controls?.[filter.names[1]]?.value) {-->
<!--        <mat-chip-option class="!bg-accent-color! dark:bg-accent-dark-color! relative"-->
<!--                         color="accent">-->
<!--          &lt;!&ndash;      <mat-chip-option class="bg-primary-color-200  relative" *ngIf='form?.get([filter.names[0]])?.value || form?.get([filter.names[1]])?.value'&ndash;&gt;-->
<!--          &lt;!&ndash;                       color="accent"&ndash;&gt;-->
<!--          &lt;!&ndash;                       selected>&ndash;&gt;-->
<!--          {{ filter.label | translate }}-->
<!--          &lt;!&ndash;        <ng-container *ngIf='form?.get([filter.names[0]])?.value as fromValue'>&ndash;&gt;-->
<!--          @if (form?.controls?.[filter.names[0]]?.value; as fromValue) {-->
<!--            &lt;!&ndash;          <ng-container *ngIf='form?.controls?.[filter.names[0]]?.value as fromValue'>&ndash;&gt;-->
<!--              ({{ "SHARED.filter.from" | translate }}):-->
<!--            <rb-local-date [date]="fromValue" [format]="'mediumDate'"></rb-local-date>-->
<!--            &lt;!&ndash;        </ng-container>&ndash;&gt;-->
<!--          }-->
<!--          &lt;!&ndash;        <ng-container *ngIf='form?.get([filter.names[1]])?.value as toValue'>&ndash;&gt;-->
<!--          @if (form?.controls?.[filter.names[1]]?.value; as toValue) {-->
<!--            &lt;!&ndash;        <ng-container *ngIf='form?.controls?.[filter.names[1]]?.value as toValue'>&ndash;&gt;-->
<!--              ({{ "SHARED.filter.to" | translate }}):-->
<!--            <rb-local-date [date]="toValue" [format]="'mediumDate'"></rb-local-date>-->
<!--            &lt;!&ndash;        </ng-container>&ndash;&gt;-->
<!--          }-->

<!--          <button matChipRemove (click)='removeFilter(filter)'>-->
<!--            <mat-icon>cancel</mat-icon>-->
<!--          </button>-->
<!--        </mat-chip-option>-->
<!--      }-->
<!--      &lt;!&ndash;    </ng-container>&ndash;&gt;-->
<!--    }-->

<!--    @if (filter.type === FilterType.DATEPICKER) {-->
<!--      &lt;!&ndash;    <ng-container *ngIf='filter.type === FilterType.DATEPICKER'>&ndash;&gt;-->
<!--        &lt;!&ndash;      <mat-chip-option class="bg-primary-color-200 " *ngIf='form?.get([filter.name])?.value as value'&ndash;&gt;-->
<!--        &lt;!&ndash;                       color="accent"&ndash;&gt;-->
<!--        &lt;!&ndash;                       selected>&ndash;&gt;-->
<!--      @if (form?.controls?.[filter.name]?.value; as value) {-->
<!--        <mat-chip-option class="bg-accent-color! dark:bg-accent-dark-color!"-->
<!--                         color="accent">-->
<!--          {{ filter.label | translate }}:-->
<!--          <rb-local-date [date]="value" [format]="'mediumDate'"></rb-local-date>-->
<!--          <button matChipRemove (click)='removeFilter(filter)'>-->
<!--            <mat-icon>cancel</mat-icon>-->
<!--          </button>-->
<!--        </mat-chip-option>-->
<!--      }-->
<!--      &lt;!&ndash;    </ng-container>&ndash;&gt;-->
<!--    }-->
<!--    &lt;!&ndash;<div class="w-96 h-96 bg-accent-dark-color"></div>&ndash;&gt;-->
<!--    @if (filter.type !== FilterType.RANGE_PICKER && filter.type !== FilterType.DATEPICKER) {-->
<!--        &lt;!&ndash;    <ng-container *ngIf='filter.type !== FilterType.RANGE_PICKER && filter.type !== FilterType.DATEPICKER'>&ndash;&gt;-->
<!--      @if (form?.controls?.[filter.name]?.value; as value) {-->

<!--        <mat-chip-option class="bg-primary! flex items-center" [selectable]="false"-->
<!--                         color="primary">-->
<!--          &lt;!&ndash;                       class="text-white! bg-accent-color-500! dark:bg-accent-dark-color-500!"&ndash;&gt;-->
<!--          &lt;!&ndash;      <mat-chip-option class="bg-primary-color-200"&ndash;&gt;-->
<!--          &lt;!&ndash;                       *ngIf='form?.get(filter.name)?.value as value'&ndash;&gt;-->
<!--          &lt;!&ndash;                       color="accent"&ndash;&gt;-->
<!--          &lt;!&ndash;                       selected>&ndash;&gt;-->
<!--          @if (filter.type === FilterType.SELECT) {-->
<!--            &lt;!&ndash;        <ng-container *ngIf='filter.type === FilterType.SELECT'>&ndash;&gt;-->
<!--            @for (option of filter?.options; track option.value) {-->
<!--              &lt;!&ndash;          <ng-container *ngFor='let option of filter?.options || []'>&ndash;&gt;-->
<!--              @if (option.value.toString() === value) {-->
<!--                &lt;!&ndash;            <ng-container *ngIf='option.value.toString() === value'>&ndash;&gt;-->
<!--                {{ filter.label | translate }}: {{ option.label | translate }}-->
<!--                <button matChipRemove (click)='removeFilter(filter)'>-->
<!--                  <mat-icon>cancel</mat-icon>-->
<!--                </button>-->
<!--                &lt;!&ndash;            </ng-container>&ndash;&gt;-->
<!--              }-->
<!--              &lt;!&ndash;          </ng-container>&ndash;&gt;-->
<!--            }-->
<!--            &lt;!&ndash;        </ng-container>&ndash;&gt;-->
<!--          } @else {-->
<!--            &lt;!&ndash;          @if (filter.type !== FilterType.SELECT) {&ndash;&gt;-->
<!--              &lt;!&ndash;        <ng-container *ngIf='filter.type !== FilterType.SELECT'>&ndash;&gt;-->
<!--            {{ filter.label | translate }}: {{ value | translate }}-->
<!--            <button matChipRemove (click)='removeFilter(filter)'>-->
<!--              <mat-icon>cancel</mat-icon>-->
<!--            </button>-->
<!--            &lt;!&ndash;        </ng-container>&ndash;&gt;-->
<!--          }-->

<!--        </mat-chip-option>-->
<!--      }-->
<!--      &lt;!&ndash;    </ng-container>&ndash;&gt;-->
<!--    }-->
<!--    &lt;!&ndash;  </ng-container>&ndash;&gt;-->
<!--  }-->
<!--  @if (filterEnabled) {-->
<!--    <button mat-icon-button-->
<!--            color='warn'-->
<!--            class='shrink-0 filter-reset-button'-->
<!--            [disabled]='!filterEnabled'-->
<!--            (click)='resetFilters()'>-->
<!--      <mat-icon fontSet='material-icons-outlined'>filter_alt_off</mat-icon>-->
<!--    </button>-->
<!--  }-->
<!--</mat-chip-listbox>-->

<div class='flex items-center text-sm! text-white! mb-2 gap-2 px-0' aria-label="Filter selection">
  @for (filter of filters; track filter.name) {
    @if (filter.type === FilterType.RANGE_PICKER && filter.names) {
      @if (form?.controls?.[filter.names[0]]?.value || form?.controls?.[filter.names[1]]?.value) {
        <mat-chip-option class="!bg-accent-color! dark:bg-accent-dark-color! relative"
                         color="accent">
          {{ filter.label | translate }}
          @if (form?.controls?.[filter.names[0]]?.value; as fromValue) {
            ({{ "SHARED.filter.from" | translate }}):
            <rb-local-date [date]="fromValue" [format]="'mediumDate'"></rb-local-date>
          }
          @if (form?.controls?.[filter.names[1]]?.value; as toValue) {
            ({{ "SHARED.filter.to" | translate }}):
            <rb-local-date [date]="toValue" [format]="'mediumDate'"></rb-local-date>
          }

          <button matChipRemove (click)='removeFilter(filter)'>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-option>
      }
    }

    @if (filter.type === FilterType.DATEPICKER) {
      @if (form?.controls?.[filter.name]?.value; as value) {
        <mat-chip-option class="bg-accent-color! dark:bg-accent-dark-color!"
                         color="accent">
          {{ filter.label | translate }}:
          <rb-local-date [date]="value" [format]="'mediumDate'"></rb-local-date>
          <button matChipRemove (click)='removeFilter(filter)'>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-option>
      }
    }

    @if (filter.type !== FilterType.RANGE_PICKER && filter.type !== FilterType.DATEPICKER) {
      @if (form?.controls?.[filter.name]?.value; as value) {
        <button mat-flat-button
                type="button" class="bg-gray-300!">
          <span class="flex items-center gap-2">
              @if (filter.type === FilterType.SELECT) {
                @for (option of filter?.options; track option.value) {
                  @if (option.value.toString() === value) {
                    {{ filter.label | translate }}: {{ option.label | translate }}
                    <span class="material-symbols-outlined" (click)="removeFilter(filter)">cancel</span>
                  }
                }
              } @else {
                {{ filter.label | translate }}: {{ value | translate }}
                <span class="material-symbols-outlined" (click)="removeFilter(filter)">cancel</span>
              }
            </span>
          </button>
      }
    }
  }
  @if (filterEnabled) {
    <button mat-icon-button
            color='warn'
            class='shrink-0 filter-reset-button'
            [disabled]='!filterEnabled'
            (click)='resetFilters()'>
      <mat-icon fontSet='material-icons-outlined'>filter_alt_off</mat-icon>
    </button>
  }
</div>
