@let _prefix = 'ADMIN.questionnaire.dialog.variable';

<h2 mat-dialog-title class="border-b border-neutral-400 dark:border-neutral-500">
  <span>{{ `${_prefix}.${dialogData.mode}` | translate }} </span>
  <span>{{ `${_prefix}.title` | translate }}</span>
  <!--  <span> {{ `${_prefix}.title` | translate }}</span>-->
  @switch (dialogData.mode) {
    @case ('insert') {
      <code class="italic text-secondary"> Question: zzz - Field: yyy</code>
    }
    <!--    @case ('add') {-->
      <!--      <code class="italic text-secondary">Question: zzz - Field: yyy</code>-->
      <!--    }-->
    @case ('edit')
    @case ('delete') {
      <code class="italic text-secondary"> {{ dialogData.entity?.name }}</code>
    }
  }
</h2>

<mat-dialog-content class="p-4!">
  @if (dialogData.mode === 'delete') {
    <p>{{ `${_prefix}}.deleteWarningMessage` | translate }}</p>
  } @else {
    <form novalidate>
      @if (dialogData.mode === 'insert' && !addNewVariableEnabled) {
        <label for="template-variable" class="text-sm">{{ `${_prefix}.select` | translate }}</label>
        <mat-form-field class='small-input' appearance='outline' subscriptSizing="fixed">
          <mat-select [formField]="selectForm">
            @for (variable of store.selected()?.variables; track $index) {
              <mat-option [value]="variable">{{ variable.name }}</mat-option>
            }
          </mat-select>
          <mat-error>
            @if (selectForm().invalid()) {
              @for (error of selectForm().errors(); track error.kind) {
                {{ error.message }}
              }
            }
          </mat-error>
        </mat-form-field>

        <button mat-raised-button type="button" color="primary" (click)="createNewVariable()">{{ `${_prefix}}.create` | translate }}</button>
      } @else {
        <div>
          <label for="name" class="text-sm" [class]="form.name().invalid() ? 'text-red-700' : ''">
            {{ `${_prefix}.name` | translate }} *
          </label>
          <mat-form-field class='small-input' subscriptSizing="fixed" appearance='outline'>
            <input id="name" matInput [formField]="form.name"/>
            <mat-error>
              @if (form.name().invalid()) {
                @for (error of form.name().errors(); track error.kind) {
                  {{ error.message }}
                }
              }
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <label for="type" class="text-sm" [class]="form.type().invalid() ? 'text-red-700' : ''">
            {{ `${_prefix}.type` | translate }} *
          </label>
          <mat-form-field class='small-input' appearance="outline" subscriptSizing="fixed">
            <mat-select [formField]='form.type'>
              <mat-option [value]="'reservedVariable'">{{ `${_prefix}.reservedVariable` | translate }}</mat-option>
<!--              <mat-option [value]="'question'">{{ `${_prefix}.question` | translate }}</mat-option>-->
              <mat-option [value]="'questionnaire'">{{ `${_prefix}.questionnaire` | translate }}</mat-option>
              <mat-option [value]="'topic'">{{ `${_prefix}.topic` | translate }}</mat-option>
            </mat-select>
            <mat-error>
              @if (form.type().invalid()) {
                @for (error of form.type().errors(); track error.kind) {
                  {{ error.message }}
                }
              }
            </mat-error>
          </mat-form-field>
        </div>

        @if (form.type().value() === 'reservedVariable') {
          <div>
            <label for="reservedVariable" class="text-sm"
                   [class]="form.reservedVariable().invalid() ? 'text-red-700' : ''">
              {{ `${_prefix}.reservedVariable` | translate }} *
            </label>
            <mat-form-field class='small-input' appearance="outline" subscriptSizing="fixed">
              <mat-select [formField]='form.reservedVariable'>
                @for (reservedVariable of RESERVED_VARIABLES; track $index) {
                  <mat-option
                    [value]="reservedVariable.value">{{ `${_prefix}.${reservedVariable.label}` | translate }}
                  </mat-option>
                }
              </mat-select>
              <mat-error>
                @if (form.reservedVariable().invalid()) {
                  @for (error of form.reservedVariable().errors(); track error.kind) {
                    {{ error.message }}
                  }
                }
              </mat-error>
            </mat-form-field>
          </div>
        }

        @if (form.type().value() === 'questionnaire') {
          <div>
            <label for="questionnaireId" class="text-sm"
                   [class]="form.questionnaireId().invalid() ? 'text-red-700' : ''">
              {{ `${_prefix}.questionnaireId` | translate }} *
            </label>
            <mat-form-field class='small-input' appearance="outline" subscriptSizing="fixed">
              <mat-select [formField]='form.questionnaireId'>
                @for (questionnaire of store.allItems(); track questionnaire.id) {
                  <mat-option [value]="questionnaire.name">{{ questionnaire.name }}</mat-option>
                }
              </mat-select>
              <mat-error>
                @if (form.questionnaireId().invalid()) {
                  @for (error of form.questionnaireId().errors(); track error.kind) {
                    {{ error.message }}
                  }
                }
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <label for="questionId" class="text-sm" [class]="form.questionId().invalid() ? 'text-red-700' : ''">
              {{ `${_prefix}.questionId` | translate }} *
            </label>
            <mat-form-field class='small-input' appearance="outline" subscriptSizing="fixed">
              <mat-select [formField]='form.questionId'>
                @for (question of store.selected()?.questions; track question.id) {
<!--                  @if ($index < dialogData.questionIndex) {-->
                    <mat-option [value]="question.field_name">{{ question.field_name }}</mat-option>
<!--                  }-->
                }
              </mat-select>
              <mat-error>
                @if (form.questionId().invalid()) {
                  @for (error of form.questionId().errors(); track error.kind) {
                    {{ error.message }}
                  }
                }
              </mat-error>
            </mat-form-field>
          </div>
        }

<!--        @if (form.type().value() === 'question') {-->
<!--          <div>-->
<!--            <label for="questionId" class="text-sm" [class]="form.questionId().invalid() ? 'text-red-700' : ''">-->
<!--              {{ `${_prefix}.questionId` | translate }} *-->
<!--            </label>-->
<!--            <mat-form-field class='small-input' appearance="outline" subscriptSizing="fixed">-->
<!--              <mat-select [formField]='form.questionId'>-->
<!--                @for (question of store.selected()?.questions; track question.id) {-->
<!--                  &lt;!&ndash;                @if ($index < dialogData.questionIndex) {&ndash;&gt;-->
<!--                  <mat-option [value]="question.field_name">{{ question.field_name }}</mat-option>-->
<!--                  &lt;!&ndash;                }&ndash;&gt;-->
<!--                }-->
<!--              </mat-select>-->
<!--              <mat-error>-->
<!--                @if (form.questionId().invalid()) {-->
<!--                  @for (error of form.questionId().errors(); track error.kind) {-->
<!--                    {{ error.message }}-->
<!--                  }-->
<!--                }-->
<!--              </mat-error>-->
<!--            </mat-form-field>-->
<!--          </div>-->
<!--        }-->


        @if (form.type().value() === 'topic') {
          <div>
            <label for="topic" class="text-sm" [class]="form.topic().invalid() ? 'text-red-700' : ''">
              {{ `${_prefix}.topic` | translate }} *
            </label>
            <mat-form-field class='small-input' appearance="outline" subscriptSizing="fixed">
              <mat-select [formField]='form.topic'>
                @for (topic of TOPICS | keyvalue; track $index) {
                  <mat-option [value]="topic.key">{{ topic.key }}</mat-option>
                }
              </mat-select>
              <mat-error>
                @if (form.topic().invalid()) {
                  @for (error of form.topic().errors(); track error.kind) {
                    {{ error.message }}
                  }
                }
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <label for="topicVariable" class="text-sm" [class]="form.topicVariable().invalid() ? 'text-red-700' : ''">
              {{ `${_prefix}.topicVariable` | translate }} *
            </label>
            <mat-form-field class='small-input' appearance="outline" subscriptSizing="fixed">
              <mat-select [formField]='form.topicVariable'>
                @for (topicVariable of TOPICS[form.topic().value()]; track $index) {
                  <mat-option [value]="topicVariable.name">{{ topicVariable.name }}</mat-option>
                }
              </mat-select>
              <mat-error>
                @if (form.topicVariable().invalid()) {
                  @for (error of form.topicVariable().errors(); track error.kind) {
                    {{ error.message }}
                  }
                }
              </mat-error>
            </mat-form-field>
          </div>
        }

        @if (form.type().value() !== 'reservedVariable') {
          <div>
            <label for="method" class="text-sm" [class]="form.method().invalid() ? 'text-red-700' : ''">
              {{ `${_prefix}.method` | translate }} *
            </label>
            <mat-form-field class='small-input' appearance="outline" subscriptSizing="fixed">
              <mat-select [formField]='form.method'>
<!--                @if (form.type().value() === 'question') {-->
<!--                  <mat-option [value]="'value'">Value</mat-option>-->
<!--                } @else {-->
                  @for (method of METHODS; track $index) {
                    <mat-option [value]="method.value">{{ method.label }}</mat-option>
                  }
<!--                }-->
              </mat-select>
              <mat-error>
                @if (form.method().invalid()) {
                  @for (error of form.method().errors(); track error.kind) {
                    {{ error.message }}
                  }
                }
              </mat-error>
            </mat-form-field>
          </div>
        }


        @if (form.type().value() === 'questionnaire' || form.type().value() === 'topic') {
          <label for="start" class="text-sm">{{ `${_prefix}.start` | translate }}</label>
          <mat-form-field class='small-input' subscriptSizing="fixed" appearance='outline'>
            <input id="start" matInput [formField]="form.start" type="date"/>
            <mat-error>
              @if (form.start().invalid()) {
                @for (error of form.start().errors(); track error.kind) {
                  {{ error.message }}
                }
              }
            </mat-error>
          </mat-form-field>

          <label for="end" class="text-sm">{{ `${_prefix}.end` | translate }}</label>
          <mat-form-field class='small-input' subscriptSizing="fixed" appearance='outline'>
            <input id="end" matInput [formField]="form.end" type="date"/>
            <mat-error>
              @if (form.end().invalid()) {
                @for (error of form.end().errors(); track error.kind) {
                  {{ error.message }}
                }
              }
            </mat-error>
          </mat-form-field>
        }

        <label for="function" class="text-sm">{{ `${_prefix}.function` | translate }}</label>
        <mat-form-field class='small-input' subscriptSizing="fixed" appearance='outline'>
          <input id="function" matInput [formField]="form.function"/>
          <mat-error>
            @if (form.function().invalid()) {
              @for (error of form.function().errors(); track error.kind) {
                {{ error.message }}
              }
            }
          </mat-error>
        </mat-form-field>
      }
    </form>
  }
</mat-dialog-content>

<div class='px-6 py-4 flex flex-wrap justify-between gap-2 w-full border-t border-neutral-400 dark:border-neutral-500'>
  <div class='flex flex-wrap gap-2'>
    <button (click)='close()'
            mat-stroked-button
            color="accent"
            type="button">
      {{ 'SHARED.dialog.cancel' | translate }}
    </button>
  </div>
  <div class='ml-auto justify-end flex items-center gap-2'>
    <button (click)='save()'
            mat-raised-button
            [color]="dialogData.mode === 'delete' ? 'warn' : 'primary'"
            type="button"
            [disabled]="form().invalid() && selectForm().invalid()">
      {{ `${_prefix}.${dialogData.mode}` | translate }}
    </button>
  </div>
</div>
