@let configFields = configService.getFormFields();

<app-entity-table-row [gridView]="gridView()"
            [tableFields]="configService.getTableFields()"
            [extensionClass]="extensionClass()"
            [customTemplate]="entityTemplate"
            [updated]="updated()">
  <app-permission-details extension-row
                          [entity]='entity()'
                          [detailType]="DetailType.TABLE"
                          [organizationName]="organizationName()"
                          [projectName]="projectName()"/>
  <app-permission-actions extra-actions [entity]="entity()" [isExpanded]="true"/>
</app-entity-table-row>

<ng-template #entityTemplate let-property>
  @switch (property.name) {
    @case ('login') {
      <span class="font-bold text-primary dark:text-primary-dark">{{ entity().login }}</span>
      @if (!configFields || configFields['firstName'] === undefined || configFields['firstName'] || configFields['lastName'] === undefined || configFields['lastName']) {
        <p class="text-neutral-500 dark:text-neutral-300">{{entity().firstName}} {{entity().lastName}}</p>
      }
    }

    @case('email') {
      <span class="flex items-center gap-1">
              <app-user-activated class="inline-flex" [activated]="entity().activated" />
              <app-user-activate [entity]="entity()" />
              <a class="underline" href="mailto:{{ entity().email}}" target="_blank">{{ entity().email || '-' }}</a>
            </span>
    }

    @case('roles') {
      <app-permission-roles [roles]="entity()._roles" [organization]="organizationName()" [project]="projectName()" />
    }
    @default {
      {{ $any(entity())[property.name] || '-' }}
    }
  }
</ng-template>
