<!--<rb-detail-wrapper *ngIf="entity" [type]="type">-->
<!--  <rb-detail-element [ngClass]="{'sm:hidden': type === DetailType.TABLE}">-->
<!--    <ng-container label>{{ 'ADMIN.subject.id.label' | translate }}</ng-container>-->
<!--    <ng-container value>{{entity.id || '-'}}</ng-container>-->
<!--  </rb-detail-element>-->
<!--    <rb-detail-element [ngClass]="{'hidden': type === DetailType.TABLE}">-->
<!--      <ng-container label>{{ 'ADMIN.subject.login.label' | translate }}</ng-container>-->
<!--      <ng-container value>{{entity.login || '-'}}</ng-container>-->
<!--    </rb-detail-element>-->
<!--  <rb-detail-element [ngClass]="{'sm:hidden': type === DetailType.TABLE}">-->
<!--    <ng-container label>{{ 'ADMIN.subject.personName.label' | translate }}</ng-container>-->
<!--    <ng-container value>{{entity.personName || '-'}}</ng-container>-->
<!--  </rb-detail-element>-->
<!--  <rb-detail-element [ngClass]="{'lg:hidden': type === DetailType.TABLE}">-->
<!--    <ng-container label>{{ 'ADMIN.subject.dateOfBirth.label' | translate }}</ng-container>-->
<!--    <ng-container value>-->
<!--      <rb-local-date [date]="entity['dateOfBirth']" [format]="'mediumDate'"></rb-local-date>-->
<!--    </ng-container>-->
<!--  </rb-detail-element>-->
<!--  <rb-detail-element [ngClass]="{'sm:hidden': type === DetailType.TABLE}">-->
<!--    <ng-container label>{{ 'ADMIN.subject.externalId.label' | translate }}</ng-container>-->
<!--    <ng-container value>{{entity.externalId || '-'}}</ng-container>-->
<!--  </rb-detail-element>-->
<!--  <rb-detail-element [ngClass]="{'sm:hidden': type === DetailType.TABLE}">-->
<!--    <ng-container label>{{ 'ADMIN.subject.externalLink.label' | translate }}</ng-container>-->
<!--    <ng-container value>{{entity.externalLink || '-'}}</ng-container>-->
<!--  </rb-detail-element>-->
<!--  <rb-detail-element [ngClass]="{'lg:hidden': type === DetailType.TABLE}">-->
<!--    <ng-container label>{{ 'ADMIN.subject.status.label' | translate }}</ng-container>-->
<!--    <ng-container value>-->
<!--      <rb-tag *ngIf='entity.status === SubjectStatus.DEACTIVATED' colorClass="bg-red-100 text-red-700">{{entity.status}}</rb-tag>-->
<!--      <rb-tag *ngIf='entity.status === SubjectStatus.ACTIVATED' colorClass="bg-green-100 text-green-700">{{entity.status}}</rb-tag>-->
<!--      <rb-tag *ngIf='entity.status === SubjectStatus.DISCONTINUED' colorClass="bg-orange-100 text-orange-700">{{entity.status}}</rb-tag>-->
<!--      <rb-tag *ngIf='entity.status === SubjectStatus.INVALID' colorClass="bg-gray-100 text-gray-700">{{entity.status}}</rb-tag>-->
<!--      <ng-container *ngIf='!entity.status'>-->
<!--        - -->
<!--      </ng-container>-->
<!--    </ng-container>-->
<!--  </rb-detail-element>-->
<!--  <ng-container *ngIf='!mode || mode === DialogMode.VIEW'>-->
<!--    <rb-detail-element [ngClass]="{'lg:hidden': type === DetailType.TABLE}">-->
<!--      <ng-container label>{{ 'ADMIN.subject.project.label' | translate }}</ng-container>-->
<!--      <ng-container value>-->
<!--        <ng-container *ngIf='entity.roles && entity.roles.length'>-->
<!--          <ng-container *ngFor='let role of entity.roles'>-->
<!--            <rb-tag *ngIf='role.projectName' colorClass="bg-role-color-100 text-role-color-700">{{role.projectName}}</rb-tag>-->
<!--          </ng-container>-->
<!--        </ng-container>-->
<!--        <ng-container *ngIf='!entity.roles || !entity.roles.length'>-->
<!--          - -->
<!--        </ng-container>-->
<!--      </ng-container>-->
<!--    </rb-detail-element>-->
<!--    <rb-detail-element [ngClass]="{'lg:hidden': type === DetailType.TABLE}">-->
<!--      <ng-container label>{{ 'ADMIN.subject.group.label' | translate }}</ng-container>-->
<!--      <ng-container value>-->
<!--        <rb-tag *ngIf='entity.group' colorClass="bg-group-color-100 text-group-color-700">{{entity.group}}</rb-tag>-->
<!--        <ng-container *ngIf='!entity.group'>-->
<!--          - -->
<!--        </ng-container>-->
<!--      </ng-container>-->
<!--    </rb-detail-element>-->
<!--    <rb-detail-element [ngClass]="{'lg:hidden': type === DetailType.TABLE}">-->
<!--      <ng-container label>{{ 'ADMIN.subject.sources.label' | translate }}</ng-container>-->
<!--      <ng-container value>-->
<!--        <ng-container *ngIf='entity.sources && entity.sources.length'>-->
<!--          <rb-tag *ngFor='let source of entity.sources' colorClass="bg-orange-100 text-orange-700">{{source.sourceName}}</rb-tag>-->
<!--        </ng-container>-->
<!--        <ng-container *ngIf='!entity.sources || !entity.sources.length'>-->
<!--          - -->
<!--        </ng-container>-->
<!--      </ng-container>-->
<!--    </rb-detail-element>-->
<!--    <rb-detail-element>-->
<!--      <ng-container label>{{ 'ADMIN.subject.attributes.label' | translate }}</ng-container>-->
<!--      <ng-container value>-->
<!--        <ng-container *ngIf='entity?.attributes && (entity.attributes | keyvalue)?.length'>-->
<!--          <div *ngFor='let attribute of entity.attributes | keyvalue' >-->
<!--            {{attribute.key}}: {{attribute.value || '-'}}-->
<!--          </div>-->
<!--        </ng-container>-->
<!--        <ng-container *ngIf='!entity?.attributes || !(entity.attributes | keyvalue)?.length'>-->
<!--          - -->
<!--        </ng-container>-->
<!--      </ng-container>-->
<!--    </rb-detail-element>-->
<!--    <rb-detail-element>-->
<!--      <ng-container label>{{ 'ADMIN.subject.enrollmentDate.label' | translate }}</ng-container>-->
<!--      <ng-container value>-->
<!--        <rb-local-date [date]="entity['enrollmentDate']" [format]="'long'"></rb-local-date>-->
<!--      </ng-container>-->
<!--    </rb-detail-element>-->
<!--    <rb-detail-element *ngIf="entity.createdBy">-->
<!--      <ng-container label>{{ 'ADMIN.subject.createdBy.label' | translate }}</ng-container>-->
<!--      <ng-container value>{{entity.createdBy || '-'}}</ng-container>-->
<!--    </rb-detail-element>-->
<!--    <rb-detail-element *ngIf="entity.createdDate">-->
<!--      <ng-container label>{{ 'ADMIN.subject.createdDate.label' | translate }}</ng-container>-->
<!--      <ng-container value>-->
<!--        <rb-local-date [date]="entity['createdDate']" [format]="'long'"></rb-local-date>-->
<!--      </ng-container>-->
<!--    </rb-detail-element>-->
<!--    <rb-detail-element *ngIf="entity.lastModifiedBy">-->
<!--      <ng-container label>{{ 'ADMIN.subject.lastModifiedBy.label' | translate }}</ng-container>-->
<!--      <ng-container value>{{entity.lastModifiedBy || '-'}}</ng-container>-->
<!--    </rb-detail-element>-->
<!--    <rb-detail-element *ngIf="entity.lastModifiedDate">-->
<!--      <ng-container label>{{ 'ADMIN.subject.lastModifiedDate.label' | translate }}</ng-container>-->
<!--      <ng-container value>-->
<!--        <rb-local-date [date]="entity['lastModifiedDate']" [format]="'long'"></rb-local-date>-->
<!--      </ng-container>-->
<!--    </rb-detail-element>-->
<!--  </ng-container>-->
<!--</rb-detail-wrapper>-->
