@let _prefix = 'ADMIN.questionnaire.dialog';

<div class="w-full flex items-start gap-1" cdkDrag [formGroup]="form">
  <button mat-icon-button class="w-7! grow-0 shrink-0 cursor-move tiny">
    <mat-icon class="material-symbols-outlined">swap_vertical_circle</mat-icon>
  </button>
  <mat-form-field class='small-input w-3/12! grow-0' appearance='outline' subscriptSizing="dynamic">
    <input matInput formControlName="code">
    <mat-error>
      @if (form.controls.code?.errors; as errors) {
        @if (errors?.['required']) {
          {{ ValidatorError.requiredValidator | translate:{value: `${_prefix}.code` | translate} }}
        }
        @if (errors?.['duplicate']) {
          {{ ValidatorError.duplicateValidatorShort | translate: {value: `${_prefix}.code` | translate} }}
        }
      }
    </mat-error>
  </mat-form-field>

  <app-text-form-group class='small-input grow'
                       formControlName="label"
                       [language]="language()"
                       [languages]="languages()"
                       [label]="undefined"
                       [required]="true" />

  <button class="tiny" [disabled]="index() === 0"
          mat-icon-button color="warn"
          (click)='removeItem()'>
    <mat-icon class="material-symbols-outlined text-xl!">do_not_disturb_on</mat-icon>
  </button>
</div>
