<label for="" class="text-sm">{{ label() }}
  @if (required()) {
    <span>*</span>
  }
</label>

<mat-form-field class='small-input w-full'
                subscriptSizing="fixed"
                appearance="outline">
  <mat-select [formControl]="form"
              placeholder=""
              [multiple]="multiple()"
              [required]="required()"
              #multiSelect>
    @if (multiple()) {
      <mat-select-trigger>
        <div class="flex flex-wrap gap-1">
          @for (selected of form?.value; track selected._name) {
            <app-tag class="font-bold text-primary bg-primary/10">
              {{ selected["_name"] }}
              <button mat-icon-button class="tiny" [disabled]="selected.id === notRemovable()?.id"
                      (click)="removeChip(selected)">
                <mat-icon class="text-xl! material-symbols-outlined">cancel</mat-icon>
              </button>
            </app-tag>
          }
        </div>
      </mat-select-trigger>
    }
    <mat-option>
      <ngx-mat-select-search [formControl]="multiFilterCtrl"
                             [placeholderLabel]="'Search ' + label() + ' ...'"
                             [noEntriesFoundLabel]="'No matching ' + label() + ' found'"/>
    </mat-option>
    @for (option of filteredMulti$ | async; track option._name) {
      <mat-option [value]="option" [disabled]="option.id === notRemovable()?.id">
        {{ option._name }}
      </mat-option>
    }
  </mat-select>
  @if (form?.hasError('required')) {
    <mat-error>
      {{ ValidatorError.requiredValidator | translate: {value: label()} }}
    </mat-error>
  }
</mat-form-field>
