<nav aria-label="breadcrumb" class="bg-tertiary/10 px-4 py-2 flex flex-wrap items-center gap-1">
  <button class="app-button-small" color="tertiary" mat-flat-button [routerLink]="['/admin', 'organizations']">
    <mat-icon class="material-symbols-outlined">{{ ENTITY_REGISTRY.organization.icon }}</mat-icon>
    <span>{{ `ADMIN.${ENTITY_REGISTRY.organization.name}.title.plural` | translate }}</span>
  </button>
  <mat-icon class="material-symbols-outlined text-tertiary!">chevron_right</mat-icon>
  <button class="app-button-small" mat-flat-button color="tertiary" [routerLink]="['/admin', 'organizations', organization?.name ]">
    <span>{{ organization?.name }}</span>
  </button>
  <mat-icon class="material-symbols-outlined text-tertiary!">chevron_right</mat-icon>
  <button class="app-button-small" mat-flat-button color="tertiary" [routerLink]="['/admin', 'organizations', organization?.name, 'projects' ]">
    <mat-icon class="material-symbols-outlined">{{ ENTITY_REGISTRY.project.icon }}</mat-icon>
    <span>{{ `ADMIN.${ENTITY_REGISTRY.project.name}.title.plural` | translate }}</span>
  </button>
  <mat-icon class="material-symbols-outlined text-tertiary!">chevron_right</mat-icon>
  <button class="app-button-small" mat-flat-button color="tertiary" [routerLink]="['/admin', 'organizations', organization?.name, 'projects', project?.projectName ]">
    <span>{{ project?.projectName }}</span>
  </button>
</nav>

<div
  class='sticky top-0 z-50 flex flex-wrap justify-between gap-2 p-4 w-full bg-primary/10 dark:bg-primary/10'>
  <div class='flex flex-wrap gap-2 items-center'>
    <button class="app-button-small app-button-full-corner" mat-flat-button
            [routerLink]="['/admin', 'organizations', organization?.name, 'projects', project?.projectName, 'subjects']">
      <mat-icon class="material-symbols-outlined">{{ ENTITY_REGISTRY.subject.icon }}</mat-icon>
      <span>{{ `ADMIN.${ENTITY_REGISTRY.subject.name}.title.singular` | translate }}</span>
    </button>
    <h2 class='flex items-center gap-2 m-0 text-lg font-bold text-primary'>
      @if (entity().externalId) {
        <span>{{ entity().externalId }}</span>
      }
      @if (entity().personName) {
        <span>[{{ entity().personName }}]</span>
      }
      {{ entity().login }}
    </h2>
  </div>

  <ng-container
    *appShowIfHasRole='[{role: "ROLE_SYS_ADMIN"}, {role: "ROLE_ORGANIZATION_ADMIN", entityName: entity().login}]'>
    <app-subject-actions [entity]="entity()"/>
  </ng-container>
</div>

<div class="m-4">
  <nav class="border-b-2 border-neutral-200 dark:border-neutral-600"
       mat-tab-nav-bar
       mat-stretch-tabs="false"
       [tabPanel]="tabPanel">
    @for (link of links; track link) {
      <a mat-tab-link
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive"
         [routerLink]="link.path">
        <h2 class='flex items-center gap-2 m-0 text-base font-bold '>
          {{ link.label | translate }}
        </h2>
      </a>
    }
  </nav>
  <mat-tab-nav-panel #tabPanel>
    <router-outlet/>
  </mat-tab-nav-panel>
</div>
