@let tableFilters = configService.getTableFilters();
@let entityMetadata = configService.getEntityMetadata();
@let tableFields = configService.getTableFields();


<div class='sticky top-0 z-40 flex flex-wrap justify-between gap-2 p-4 w-full bg-app-background dark:bg-app-background-dark'>
  <h2 class='flex items-center gap-2 m-0 text-lg font-bold '>
    <span class="p-2 w-10! h-10! rounded-full bg-primary dark:bg-primary-dark font-bold text-on-primary relative">
      <span class="material-symbols-outlined absolute left-1 top-1 opacity-50">{{ entityMetadata.icon }}</span>
      <span class="material-symbols-outlined absolute left-2 top-2">{{ entityMetadata.icon }}</span>
    </span>
    <span class="text-primary dark:text-primary-dark">
      {{ 'ADMIN.' + entityMetadata.name + '.title.plural' | translate }}
    </span>
  </h2>

  <div class="flex items-center gap-2">
    <button type='button'
            class="small"
            mat-stroked-button
            color="primary"
            (click)="showHistory()">
      <span class="font-bold flex items-center gap-2">
        <mat-icon class="material-symbols-outlined">history</mat-icon>
      </span>
    </button>

    <ng-container *appShowIfHasRole="[{role: ROLES.SYS_ADMIN}]">
      <button (click)="openDialog(DialogMode.ADD)" mat-stroked-button color="primary" type="button">
        <span class="font-bold flex items-center gap-2">
          <mat-icon class="material-symbols-outlined">add</mat-icon>
          {{ 'ADMIN.' + entityMetadata.name + '.create' | translate }}
        </span>
      </button>
    </ng-container>
  </div>
</div>

<div class="px-4">
  @if (tableFilters.length && store.total() > MIN_ENTITIES_FOR_FILTERS) {
    <app-data-table-filter [filters]='tableFilters'
                           [filterOpened]='isFilterOpened'
                           (filterChanged)='handleFilterChange($event)'/>
<!--                           (filterEnableChanged)="onFilterEnabledChanged($event)"/>-->
  }
</div>

@if (isChanged()) {
  <div class="bg-orange-200 flex items-center gap-4 justify-between px-4 py-2 rounded-sm mb-2">
    <div class="flex items-center gap-4 text-orange-700">
      <mat-icon class="material-symbols-outlined">error_outline</mat-icon>
      <span>{{ `ADMIN.config.publishDialog.unpublishedMessage` | translate }}</span>
    </div>
    <div class="flex items-center gap-4">
      <button type='button'
              mat-stroked-button
              color='primary'
              (click)="openPublishDialog('discard')">
      <span class="font-bold flex items-center gap-2">
        <mat-icon class="material-symbols-outlined font-bold">close</mat-icon>
        {{ `ADMIN.config.discardDialog.discardAll` | translate }}
      </span>
      </button>
      <button class="text-white!" type='button'
              mat-flat-button
              color='accent'
              (click)="openPublishDialog('publish')">
      <span class="font-bold flex items-center gap-2">
        <mat-icon class="material-symbols-outlined font-bold">publish</mat-icon>
        {{ `ADMIN.config.publishDialog.title` | translate }}
      </span>
      </button>
    </div>
  </div>
}

@if (store.loading()) {
  <app-loader/>
}

<app-entity-list-page [entities]="entities()"
                      [tableFields]="tableFields"
                      [entityMetadata]="entityMetadata"
                      [page]="store.page()"
                      [sort]="store.sort()"
                      (switchPageEvent)="switchPage($event)"
                      (switchSortEvent)="switchSort($event)"
                      [customTemplate]="itemTemplate"
                      [gridView]="gridView"
                      [totalEntities]="store.total()"/>
<ng-template #itemTemplate let-entity>
  <app-config-table-row [entity]="entity"
                        [gridView]="gridView"
                        [extensionClass]="extensionClass()"/>
</ng-template>
