<!--<div class="flex">-->
<!--  <button mat-icon-button class="tiny" type="button" (click)="openQuestionPickerDialog()">-->
<!--    <mat-icon class="material-symbols-outlined text-lg!">data_array</mat-icon>-->
<!--  </button>-->
<!--  <button mat-icon-button class="tiny" type="button" (click)="openVariableDialog()">-->
<!--    <mat-icon class="material-symbols-outlined text-lg!">data_object</mat-icon>-->
<!--  </button>-->
<!--&lt;!&ndash;  <button mat-icon-button class="tiny" type="button" (click)="openQuestionPickerDialog()">&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-icon class="material-symbols-outlined text-lg!">code</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;  </button>&ndash;&gt;-->
<!--&lt;!&ndash;  <button mat-icon-button class="tiny" type="button" (click)="openQuestionPickerDialog()">&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-icon class="material-symbols-outlined text-lg!">asterisk</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;  </button>&ndash;&gt;-->
<!--</div>-->
<!--<div #editorContainer class="html-editor"></div>-->

<div class="flex">
  <button mat-icon-button class="tiny" type="button" (click)="openQuestionPickerDialog()">
    <mat-icon class="material-symbols-outlined text-lg!">data_array</mat-icon>
  </button>
</div>

<div #editorContainer class="html-editor"></div>
