@let _i18nPassword = "AUTH.PASSWORD";
@let _i18nError = "AUTH.ERROR";

<div class="flex justify-center items-center h-full p-4">
  <mat-card class="w-full max-w-150">
    <mat-card-content>
      <h4 class="my-4 text-center text-xl font-bold">{{ `${_i18nPassword}.title` | translate }}</h4>

      @if (error()) {
        <app-error-box>
          {{ `${_i18nError}.${error()?.error?.errorCode ?? error()?.error?.error}` | translate }}
        </app-error-box>
      }

      <form novalidate (submit)="onSubmit($event)">
        <app-input-form-field [field]="form.password"
                              [label]=`${_i18nPassword}.newPassword`
                              [type]="hidePassword ? 'password' : 'text'"
                              [required]="true">
          <button type='button'
                  matSuffix
                  mat-icon-button
                  class="app-icon-button-small text-sm shrink-0"
                  (click)="hidePassword = !hidePassword">
            <mat-icon matSuffix>
              {{ hidePassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </button>
        </app-input-form-field>
        <div class="h-4"></div>
        <app-input-form-field [field]="form.confirmPassword"
                              [label]=`${_i18nPassword}.confirmPassword`
                              [type]="hideConfirmPassword ? 'password' : 'text'"
                              [required]="true">
          <button type='button'
                  matSuffix
                  mat-icon-button
                  class="app-icon-button-small text-sm shrink-0"
                  (click)="hideConfirmPassword = !hideConfirmPassword">
            <mat-icon matSuffix>
              {{ hidePassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </button>
        </app-input-form-field>
      </form>

      <button mat-raised-button
              class="w-full my-4"
              [class]="success() ? 'bg-green-200! text-green-700!': ''"
              color='primary'
              name='update'
              [disabled]='formSubmitDisabled()'>
        @if (loading()) {
          <mat-icon>
            <mat-spinner diameter='20'/>
          </mat-icon>
        }
        @if (success()) {
          <mat-icon>check</mat-icon>
        }
        {{ success() ? (`${_i18nPassword}.success` | translate) : (`${_i18nPassword}.update` | translate) }}
      </button>
    </mat-card-content>
  </mat-card>
</div>
