@let configFields = configService.getFormFields();

<app-entity-table-row [gridView]="false"
            [tableFields]="configService.getTableFields()"
            [extensionClass]="extensionClass()"
            [customTemplate]="entityTemplate"
            [updated]="updated()">
  <app-user-details extension-row [entity]='entity()' [detailType]="DetailType.TABLE" />
  <app-user-actions extra-actions [entity]="entity()" />
</app-entity-table-row>

<ng-template #entityTemplate let-property>
  @switch (property.name) {
    @case ('login') {
      <a [routerLink]='[entity().login]' class="font-bold text-primary dark:text-primary-dark underline">
        <span>{{ entity().login }}</span>
      </a>
      @if (!configFields || configFields['firstName'] === undefined || configFields['firstName'] || configFields['lastName'] === undefined || configFields['lastName']) {
        <p class="text-neutral-500 dark:text-neutral-300">{{entity().firstName}} {{entity().lastName}}</p>
      }
    }

    @case('email') {
      <span class="flex items-center gap-1">
              <app-user-activated class="inline-flex" [activated]="entity().activated" />
              <app-user-activate [entity]="entity()" />
              <a class="underline" href="mailto:{{ entity().email}}" target="_blank">{{ entity().email || '-' }}</a>
            </span>
    }

    @case('roles') {
      <app-user-roles [roles]="entity()._roles" />
    }
    @default {
      {{ $any(entity())[property.name] || '-' }}
    }
  }
</ng-template>
