@let _prefix = 'ADMIN.protocol.dialog.general';

<div [formGroup]="form" class="grid grid-cols-1 min-w-[500px] w-1/2 mx-auto">
  <div>
    <label for="name" class="text-sm">{{ `${_prefix}.nameLabel` | translate }} *</label>
    <mat-form-field class='small-input w-full' appearance='outline' subscriptSizing="fixed">
      <input id="name" matInput formControlName='name' required>
      <mat-hint align="start">{{ ValidatorHint.stringIdValidator | translate }}</mat-hint>
      <mat-error>
        @if (form.controls['name']?.errors; as errors) {
          @if (errors?.['duplicate']) {
            {{ `${_prefix}.duplicate` | translate }}
          }
          @if (errors?.['pattern']) {
            {{ ValidatorError.normalTextValidator | translate }}
          }
          @if (errors?.['required']) {
            {{
              ValidatorError.requiredValidator | translate:{
                value: `${_prefix}.nameLabel` | translate
              }
            }}
          }
        }
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <app-mat-select-autocomplete formControlName="languages"
                                 [options]="ISO_LANGUAGES"
                                 [label]="`${_prefix}.languagesLabel` | translate"
                                 [required]="true"
                                 [multiple]="true"
                                 [notRemovable]="DEFAULT_LANG"/>
  </div>


  <div class="grid grid-cols-2 gap-4">
    <div>
      <label for="order" class="text-sm">
        {{ `${_prefix}.orderLabel` | translate }}
      </label>
      <mat-form-field class='small-input w-1/2' appearance='outline' subscriptSizing="fixed">
        <input id="order" matInput type="number" formControlName='order'>
      </mat-form-field>
    </div>
  </div>

  <mat-slide-toggle formControlName='onDemand' class="mb-4" color="primary">
    {{ `${_prefix}.onDemandLabel` | translate }}
  </mat-slide-toggle>

  <mat-slide-toggle formControlName='showInCalendar' class="mb-4" color="primary">
    {{ `${_prefix}.showInCalendarLabel` | translate }}
  </mat-slide-toggle>

  <mat-slide-toggle formControlName='isDemo' class="mb-4 text-sm" color="primary">
    {{ `${_prefix}.isDemoLabel` | translate }}
  </mat-slide-toggle>
</div>
