<!--<div class="p-2" #signatureWrapper>-->
<!--  <signature-pad class="bg-transparent! rounded-2xl border-2 border-gray-400 [&>canvas]:bg-transparent! [&>canvas]:rounded-2xl! [&>canvas]:border-none!"-->
<!--                 #signature-->
<!--                 [options]="signaturePadOptions"-->
<!--                 (drawStart)="drawStart($event)"-->
<!--                 (drawEnd)="drawComplete($event)" />-->

<!--</div>-->

<!--@if (!isDisabled) {-->
<!--  <ion-button class="mt-4" (click)="onReset()" color="danger" size="small">-->
<!--    Clear-->
<!--  </ion-button>-->
<!--}-->
