@if (!headerDisabled()) {
<div class='sticky top-0 z-50 flex flex-wrap justify-between gap-2 p-4 pb-0 w-full'>
  <div class='flex flex-wrap gap-2 items-center'>
        <span class="flex items-center gap-1 bg-secondary text-white rounded-full text-xs font-bold px-2">
          <span class="material-symbols-outlined text-lg!"
                matPrefix>{{ entityMetadata().icon }}</span>
          <span>{{ `ADMIN.${entityMetadata().name}.title.singular` | translate }}</span>
        </span>
    <h2 class='flex items-center gap-2 m-0 text-lg font-bold text-secondary'>
      {{entityName()}}
<!--      {{ entity().clientId }}-->
    </h2>
  </div>

  <div class='flex gap-1 ml-auto'>
    <ng-content select="[app-actions]" />
<!--    <ng-container-->
<!--      *appShowIfHasRole='[{role: "ROLE_SYS_ADMIN"}]'>-->
<!--      <app-client-actions [entity]="entity()"/>-->
<!--    </ng-container>-->
  </div>
</div>
}

<div [class]="!headerDisabled()? 'm-4' : ''">
  @if (!headerDisabled()) {
  <nav class="border-b-2 border-neutral-200 dark:border-neutral-600"
       mat-tab-nav-bar
       mat-stretch-tabs="false"
       [tabPanel]="tabPanel">
    @for (link of tabLinks(); track link) {
      <a mat-tab-link
         [routerLink]="link.path"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive">
        <h2 class='flex items-center gap-2 m-0 text-base font-bold'>
          {{ link.label | translate }}
        </h2>
      </a>
    }
  </nav>
  }
  <mat-tab-nav-panel #tabPanel class="">
    <router-outlet/>
  </mat-tab-nav-panel>
</div>
