@let _i18nEntity = 'ADMIN.questionnaire.dialog';

<form novalidate class="grid grid-cols-2 gap-4">
  <div>
    <mat-slide-toggle [formField]="form.relativeToReferenceTime" class="" color="primary">
      {{ `${_i18nEntity}.relativeToReferenceTime` | translate }}
    </mat-slide-toggle>

    @if (model().relativeToReferenceTime) {
      <mat-divider class="my-4!"/>

      <app-date-form-field [field]="form.referenceTimestamp"
                           [label]=`${_i18nEntity}.referenceTime`
                           [placeholder]='localeService.currentLocale()?.dateFormat || "dd/MM/yyyy"'/>
    }

    <mat-divider class="my-4!"/>

    <mat-slide-toggle [formField]="form.repeatedProtocol" class="" color="primary">
      {{ `${_i18nEntity}.repeatedProtocol` | translate }}
    </mat-slide-toggle>

    @if (model().repeatedProtocol) {
      <mat-divider class="my-4!"/>
      <p class="text-sm">
        {{ `${_i18nEntity}.repeatProtocol` | translate }}
      </p>
      <div class="grid grid-cols-2 gap-2">
        <app-input-form-field [field]="form.repeatProtocol.amount"
                              [label]="`${_i18nEntity}.repeatProtocolAmount`"
                              type="number"
                              [required]="true"/>

        <app-select-form-field [field]="form.repeatProtocol.unit"
                               [label]=`${_i18nEntity}.repeatProtocolUnit`
                               [options]="UNITS"/>
      </div>
    }

    <mat-divider class="my-4!"/>

    <p class="text-sm">{{ `${_i18nEntity}.timeOffsets` | translate }}</p>
    <div>
      <div cdkDropList (cdkDropListDropped)="onDrop($event)">
        <div class="text-sm grid grid-cols-[32px_minmax(0,1fr)_minmax(0,1fr)_32px] gap-1 items-center">
          <div></div>
          <div>{{ `${_i18nEntity}.timeOffsetsDay` | translate }} *</div>
          <div>{{ `${_i18nEntity}.timeOffsetsTime` | translate }} *</div>
          <div></div>
        </div>
        @for (offset of form.repeatQuestionnaire.unitsFromZero; track $index) {
          <div cdkDrag class="text-sm grid grid-cols-[32px_minmax(0,1fr)_minmax(0,1fr)_32px] gap-1 items-center">
            <button mat-icon-button class="cursor-move tiny">
              <mat-icon>swap_vertical_circle</mat-icon>
            </button>

            <app-input-form-field [field]="offset.day" [label]="null" subscriptSizing="dynamic" type="number" [disableError]="true" />

            <app-input-form-field [field]="offset.time" [label]="null" subscriptSizing="dynamic" type="time" [disableError]="true" />

            <button mat-icon-button class="tiny"
                    color="warn"
                    [disabled]="form.repeatQuestionnaire.unitsFromZero.length === 1"
                    (click)="removeTime($index)">
              <mat-icon>remove_circle</mat-icon>
            </button>
          </div>
        }
        <div class="text-sm grid grid-cols-[32px_minmax(0,1fr)_minmax(0,1fr)_32px] gap-1 items-center ">
          <div></div>
          <div></div>
          <div></div>
          <button class="tiny" mat-icon-button (click)="addTime()">
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <mat-divider class="my-4!"/>

    <p class="text-sm">{{ `${_i18nEntity}.completionWindow` | translate }}</p>
    <div class="grid grid-cols-2 gap-2">
      <app-input-form-field [field]="form.completionWindow.amount"
                            [label]="`${_i18nEntity}.completionWindowAmount`"
                            type="number"
                            [required]="true"/>

      <app-select-form-field [field]="form.completionWindow.unit"
                             [label]=`${_i18nEntity}.completionWindowUnit`
                             [options]="UNITS"/>
    </div>
  </div>
</form>
