@let configFields = config$ | async;

@if (!gridView()) {
  <mat-card class="rb-table-row" [class]="
    (updated() === entity().id ? 'bg-green-100! ' : '') +
    (expanded ? 'mb-2' : '')
  ">
    <div class="rb-table-main-row">
      @for (property of PROPERTIES; track property.name) {
        @if (configFields[property.name] !== false) {
          <div [class]="property.tableClass + ' ' + property.width + ' ' + property.classes" [class.flex-1]="!property.width" [class.shrink-0]="!!property.width">
            @switch (property.name) {
              @case ('name') {
                <p class="font-bold">{{ entity()['name'] || '-' }}</p>
                <!--            <div class="w-96">-->
                <div class="flex items-center flex-wrap">
                  <span class="text-xs font-bold text-neutral-400 uppercase">Translations</span>
                  @for (l of entity()['translations'] | keyvalue; track l.key;) {
                    <span>
                      <button mat-icon-button class="tiny uppercase"
                              (click)='$event.stopPropagation()'
                              [class]="'en' !== l.key ? 'text-secondary! dark:text-secondary-dark!' : 'text-primary! dark:text-primary-dark!'"
                              [matMenuTriggerFor]="menu">
<!--                        <span class="text-sm font-bold">{{l.key}}</span>-->
                        <span class="h-full flex items-center justify-center"><span class="text-sm font-bold">{{l.key}}</span></span>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)='onTranslationAction(DialogMode.EDIT, entity(), l.key, undefined)'>
                          <span class="flex items-center gap-2">
                            <span class="text-xl! material-symbols-outlined font-bold! text-primary">edit</span>
                            <span class="text-base">{{ 'ADMIN.questionnaire.edit' | translate }}</span>
                          </span>
<!--                          <span class="text-xl! material-symbols-outlined text-primary">edit</span>-->
<!--                          <span class="text-lg">{{ 'ADMIN.questionnaire.edit' | translate }}</span>-->
                        </button>
                        <button mat-menu-item (click)='onTranslationAction(DialogMode.DELETE, entity(), l.key, undefined)'>
                          <span class="flex items-center gap-2">
                            <span class="text-xl! text-red-500 material-symbols-outlined font-bold!">delete</span>
                            <span class="text-base">{{ 'ADMIN.questionnaire.delete' | translate }}</span>
                          </span>

<!--                          <span class="text-xl! material-symbols-outlined text-red-500">delete</span>-->
<!--                          <span class="text-sm">{{ 'ADMIN.questionnaire.delete' | translate }}</span>-->
                        </button>
                      </mat-menu>
                    </span>
                  }
                  <button mat-icon-button class="tiny"
                          (click)='onTranslationAction(DialogMode.ADD, entity())'>
                    <span class="material-symbols-outlined text-xl! text-primary">add</span>

<!--                    <span class="text-lg text-primary-color-500 material-symbols-outlined">add</span>-->
                  </button>
                </div>
              }

              @case ('questionnaire') {
                {{entity()['questionnaire'].name}}
              }
              @case ('repeatProtocol') {
                @if (entity()["protocol"]["repeatProtocol"]; as repeatProtocol) {
                  @if (entity()['customProtocol']['repeatProtocol']['enabled']) {
                    <div>
                      Every {{ repeatProtocol["amount"]}} {{repeatProtocol["unit"]}}(s) at specific times
                    </div>
                  } @else {
                    <div>
                      Once at specific times
                    </div>
                  }
                  @if (entity()["protocol"]["completionWindow"]; as completionWindow) {
                    <div>
                      {{completionWindow['amount']}} {{completionWindow['unit']}}(s)
                    </div>
                  } @else {
                    No Expiration
                  }
                  <!--              <div>Expires after {{completionWindow['amount']}} {{completionWindow['unit']}}(s)</div>-->
                }
              }

              @case ('completionWindow') {
                @if (entity()["protocol"]["completionWindow"]; as completionWindow) {
                  {{completionWindow['amount']}} {{completionWindow['unit']}}
                } @else {
                  -
                }
              }

              @case ('questionCount') {
                {{ entity()["translations"]["en"]["questions"]?.length || '-' }}
              }

              @case ('actions') {
                <!--          <button mat-icon-button class="mat-small-icon-button"-->
                  <!--                  (click)="$event.stopPropagation(); expandedElement = expandedElement === entity ? null : entity">-->
                  <!--            <span class="material-symbols-outlined">-->
                  <!--              {{entity !== expandedElement ? 'expand_more' : 'expand_less'}}-->
                  <!--            </span>-->
                  <!--          </button>-->
                  <!--          <button class="mat-small-icon-button"-->
                  <!--                  mat-icon-button color="primary"-->
                  <!--                  (click)='onAction(DialogMode.EDIT, entity, undefined)'>-->
                  <!--            <span class="material-symbols-outlined">edit</span>-->
                  <!--          </button>-->
                  <!--          <button class="mat-small-icon-button" mat-icon-button color="warn"-->
                  <!--                  (click)='onAction(DialogMode.DELETE, entity, undefined)'>-->
                  <!--            <span class="material-symbols-outlined">delete</span>-->
                  <!--          </button>-->

                <button mat-icon-button class="tiny lg:hidden!" (click)="onExpansionClick($event)">
                  <span class="material-symbols-outlined">
                    {{ expanded ? 'expand_less' : 'expand_more' }}
                  </span>
                </button>
                <ng-container *rbPermission="[{role: ROLES.SYS_ADMIN}]">
                  <button class="tiny" mat-icon-button color="primary" (click)='onAction(DialogMode.EDIT, entity())'>
                    <span class="material-symbols-outlined text-xl!">edit</span>
                  </button>
                  <button class="tiny" mat-icon-button color="warn" (click)='onAction(DialogMode.DELETE, entity())'>
                    <span class="text-red-500 material-symbols-outlined text-xl!">delete</span>
                  </button>
                </ng-container>
              }
              @default {
                {{ entity()[property.name] || '-' }}
              }
            }
          </div>
        }
      }
<!--      <div class='w-20'>-->
<!--        <button mat-icon-button class="mat-small-icon-button lg:hidden!" (click)="onExpansionClick($event)">-->
<!--          <span class="material-symbols-outlined">-->
<!--            {{ expanded ? 'expand_less' : 'expand_more' }}-->
<!--          </span>-->
<!--        </button>-->
<!--        <ng-container *rbPermission="[{role: ROLES.SYS_ADMIN}]">-->
<!--          <button class="tiny" mat-icon-button color="primary" (click)='onAction(DialogMode.EDIT, entity())'>-->
<!--            <span class="material-symbols-outlined text-xl!">edit</span>-->
<!--          </button>-->
<!--          <button class="tiny" mat-icon-button color="warn" (click)='onAction(DialogMode.DELETE, entity())'>-->
<!--            <span class="text-red-500 material-symbols-outlined text-xl!">delete</span>-->
<!--          </button>-->
<!--        </ng-container>-->
<!--      </div>-->
    </div>

    <div class="rb-table-extension-row" [@detailExpand]="expanded ? 'expanded' : 'collapsed'">
      <rb-protocol-details [entity]='entity()' [type]="DetailType.TABLE" />

      <!--      <rb-organization-details [entity]="entity()" [config]="configFields" [type]="DetailType.TABLE"/>-->
    </div>
  </mat-card>
} @else {
}
