<app-entity [entity]="entity()"
            [gridView]="gridView()"
            [tableFields]="configService.getTableFields()"
            [customTemplate]="entityTemplate">
  <app-protocol-details extension-row class="py-4"
                        [entity]='entity()'
                        [detailType]="DetailType.TABLE" />
  <app-protocol-actions extra-actions [entity]="entity()" [isExpanded]="true"/>
</app-entity>

<ng-template #entityTemplate let-property>
  @switch (property.name) {
    @case ('name') {
      <p class="font-bold text-primary">{{ entity().name || '-' }}</p>
      <div class="flex items-center flex-wrap gap-2">
        <span class="text-xs font-bold text-neutral-400 uppercase">Translations</span>
        @for (l of entity()._languages; track l) {
          <span class="h-full flex items-center justify-center uppercase"><span class="text-sm font-bold">{{ l.id }}</span></span>
        }
      </div>
    }
    @case ('questionnaire') {
      {{ entity().questionnaire?.name }}
    }
    @case ('repeatProtocol') {
      @if (entity().protocol?.repeatProtocol; as repeatProtocol) {
        <div>
          Every <span class="font-bold">{{ repeatProtocol.amount }} {{ repeatProtocol.unit }}(s)</span> at specific times
        </div>
      }
      @if (entity().protocol?.completionWindow; as completionWindow) {
        <div>
          Available: <span class="font-bold">{{ completionWindow.amount }} {{ completionWindow.unit }}(s)</span>
        </div>
      }
    }
    @case ('completionWindow') {
      @if (entity().protocol?.completionWindow; as completionWindow) {
        {{ completionWindow.amount }} {{ completionWindow.unit }}
      } @else {
        -
      }
    }
    @default {
      {{ entity()[property.name] || '-' }}
    }
  }
</ng-template>
