<app-dialog-title [dialogMode]='dialogData.mode'
                  [entityMetadata]="configService.getEntityMetadata()"
                  (closeEvent)='close()'/>
<mat-dialog-content>
  @if (dialogData.mode === DialogMode.VIEW || dialogData.mode === DialogMode.DELETE) {
    <app-dialog-body-description [dialogMode]="dialogData.mode"
                                 [label]="'Config'"
                                 [entityName]="dialogData.entity._name"/>
  }

  @if (dialogData.mode === DialogMode.ADD || dialogData.mode === DialogMode.EDIT) {
    <form [formGroup]="form" novalidate>
      <label for="name" class="text-sm">{{ 'ADMIN.config.name.label' | translate }}</label>
      <mat-form-field subscriptSizing="fixed"
                      appearance="outline">
        <input matInput formControlName='name' required/>
      </mat-form-field>

      <label for="name" class="text-sm">{{ 'ADMIN.config.value.label' | translate }}</label>
      <mat-form-field subscriptSizing="fixed"
                      appearance="outline">
        <textarea cdkTextareaAutosize matInput rows="1" formControlName='value'></textarea>
      </mat-form-field>
    </form>
  }
</mat-dialog-content>

@if (error()) {
  <app-error-message-box>
    {{ error()?.error.errorCode | translate }}
  </app-error-message-box>
}

<app-dialog-actions [dialogMode]='dialogData.mode'
                    [form]='form'
                    (actionTriggered)='onAction($event)'/>
