<app-entity-table-row [gridView]="gridView()"
                      [tableFields]="configService.getTableFields()"
                      [extensionClass]="extensionClass()"
                      [customTemplate]="entityTemplate"
                      [updated]="updated()">
  <app-protocol-details extension-row [entity]='entity()' [detailType]="DetailType.TABLE"/>
  <app-protocol-actions extra-actions [entity]="entity()"/>
</app-entity-table-row>
<ng-template #entityTemplate let-property>
  @switch (property.name) {
    @case ('name') {
      <p class="font-bold text-primary">{{ entity().name || '-' }}</p>
      <div class="flex items-center flex-wrap gap-2">
        <span
          class="text-xs font-bold text-neutral-400 uppercase">{{ 'ADMIN.protocol.availableLanguages' | translate }}</span>
        @for (l of entity()._languages; track l) {
          <span class="h-full flex items-center justify-center uppercase"><span
            class="text-sm font-bold">{{ l.id }}</span></span>
        }
      </div>
    }
    @case ('questionnaire') {
      @if (entity().questionnaire) {
        <div>
          <div class="flex items-center">
            <mat-icon class="material-symbols-outlined text-lg! opacity-50" [matTooltip]="entity().questionnaire?.repository">open_in_new</mat-icon>
            <p class="font-bold">{{ entity().questionnaire?.name }}</p>
          </div>
        </div>
      } @else {
        <div class="flex items-center">
          <mat-icon class="material-symbols-outlined text-lg! opacity-50">assignment</mat-icon>
          <p class="font-bold">{{ entity().appQuestionnaire }}</p>
        </div>
      }
    }
    @case ('repeatProtocol') {
      @if (entity().protocol?.repeatProtocol; as repeatProtocol) {
        @if (repeatProtocol.amount === 9999 && repeatProtocol.unit === 'year' ) {
          <div
            [innerHTML]="'ADMIN.protocol.oneTimeProtocol.tableContent' | translate">
          </div>
        } @else {
          <div
            [innerHTML]="'ADMIN.protocol.repeatProtocol.tableContent' | translate: {amount: repeatProtocol.amount, unit: repeatProtocol.unit}">
          </div>
        }
      } @else {
        {{'On Demand'}}
      }
      @if (entity().protocol?.completionWindow; as completionWindow) {
        <div>
          {{
            'ADMIN.protocol.completionWindow.tableContent' | translate: {
              amount: completionWindow.amount,
              unit: completionWindow.unit
            }
          }}
        </div>
      }
    }
    @case ('completionWindow') {
      @if (entity().protocol?.completionWindow; as completionWindow) {
        {{ completionWindow.amount }} {{ completionWindow.unit }}
      } @else {
        -
      }
    }
    @default {
      {{ $any(entity())[property.name] || '-' }}
    }
  }
</ng-template>
