<!--<h1>Global App Config</h1>-->
<div class='p-0'>
  @if (form) {
    <form [formGroup]='form' novalidate class="flex items-center gap-4 p-4 pb-0">
<!--      <label for="client" class="text-sm">{{ 'ADMIN.client.title.singular' | translate }} *</label>-->
      <mat-form-field class='w-1/2! small-input'
                      appearance='outline'>
<!--        <mat-label>{{ 'ADMIN.client.title.singular' | translate }}</mat-label>-->
        <mat-select formControlName='client' placeholder="Select an OAuth Client">
          @for (entity of entities; track entity.clientId) {
            <mat-option [value]="entity.clientId">{{ entity.clientId }}</mat-option>
          <!--        <mat-option [value]="'ONGOING'">{{ 'ADMIN.project.projectStatus.ONGOING' | translate }}</mat-option>-->
          <!--        <mat-option [value]="'ENDED'">{{ 'ADMIN.project.projectStatus.ENDED' | translate }}</mat-option>-->
          }
        </mat-select>
      </mat-form-field>
<!--      @if (form.get('client')?.value === 'pRMT') {-->
<!--      <mat-form-field class='small-input'-->
<!--                      appearance='outline'-->
<!--                      floatLabel='always'>-->
<!--        <mat-label>Config Category</mat-label>-->
<!--        <mat-select formControlName='category' placeholder="Select a config category">-->
<!--          <mat-option [value]="'general'">General</mat-option>-->
<!--          <mat-option [value]="'measurements'">Therapist App - Measurements</mat-option>-->
<!--          <mat-option [value]="'feedbackConfig'">Therapist App - Feedback</mat-option>-->
<!--          &lt;!&ndash;        <mat-option [value]="'ONGOING'">{{ 'ADMIN.project.projectStatus.ONGOING' | translate }}</mat-option>&ndash;&gt;-->
<!--          &lt;!&ndash;        <mat-option [value]="'ENDED'">{{ 'ADMIN.project.projectStatus.ENDED' | translate }}</mat-option>&ndash;&gt;-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--      }-->
<!--      @if (form.get('client')?.value === 'aRMT') {-->
<!--      <mat-form-field class='small-input'-->
<!--                      appearance='outline'-->
<!--                      floatLabel='always'>-->
<!--        <mat-label>Config Category</mat-label>-->
<!--        <mat-select formControlName='category' placeholder="Select a config category">-->
<!--          <mat-option [value]="'general'">General</mat-option>-->
<!--          <mat-option [value]="'protocols'">Protocols</mat-option>-->
<!--          <mat-option [value]="'questionnaires'">Questionnaires</mat-option>-->
<!--          &lt;!&ndash;        <mat-option [value]="'ONGOING'">{{ 'ADMIN.project.projectStatus.ONGOING' | translate }}</mat-option>&ndash;&gt;-->
<!--          &lt;!&ndash;        <mat-option [value]="'ENDED'">{{ 'ADMIN.project.projectStatus.ENDED' | translate }}</mat-option>&ndash;&gt;-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--      }-->
    </form>
<!--    {{selectedClient | json}}-->
<!--    <rb-configs-list [selectedClient]="form?.get('client')?.value" [selectedCategory]="form?.get('category')?.value"></rb-configs-list>-->
<!--  </ng-container>-->
  <router-outlet />
  }
</div>
