<div class="flex items-center justify-center gap-2">
  <p>Hour</p>
  <p>Minute</p>

  @if (isMeridianEnabled()) {
    <p>am/pm</p>
  }
</div>

<mat-form-field>
  <mat-label>Pick a time</mat-label>
  <input matInput [matTimepicker]="picker" (input)="onPickerChange($event)">
  <mat-timepicker-toggle matIconSuffix [for]="picker"/>
  <mat-timepicker #picker/>
</mat-form-field>

<!--<ion-datetime presentation="time" class="rounded-2xl border-2 border-primary"-->
<!--              (ionChange)="onPickerChange($event.detail.value?.toString())"-->
<!--              [locale]="locale + (isMeridianEnabled() ? '-u-hc-h12' : '')"-->
<!--              [min]="min"-->
<!--              [max]="max"-->
<!--              [value]="timePickerValue"-->
<!--              [disabled]="isDisabled"/>-->

@if (!isDisabled) {
  <button matButton class="m-4" (click)="onReset()" color="danger" size="small">
    Clear
  </button>
}
