<div [formGroup]="form">
  <div formArrayName="and_group">
    @for (condition of branchingLogics.controls; let j = $index; track condition) {
      <div class="flex items-center gap-4" [formGroupName]="j">

        <app-mat-select-autocomplete class="small-input w-1/4"
                                    formControlName='condition_field'
                                    [options]='previousQuestions'
                                    [label]='"Field"'
                                    [multiple]="false"/>
        <div class="w-1/4">
          <label class="text-sm">Condition</label>
          <mat-form-field class='small-input'
                          appearance='outline'>
            <mat-select formControlName='condition_operator'>
              <mat-option [value]="'equal'">Equals</mat-option>
              <mat-option [value]="'not_equal'">Not equal</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="w-1/4">
          <label class="text-sm">Value</label>
          <mat-form-field class='small-input' appearance='outline'>
            <mat-select formControlName='condition_value'>
<!--              @if (condition?.get('condition_field')?.value; as name) {-->
              @if (condition?.get('condition_field')?.value.id; as name) {
                @for (option of questionsOptions[name]; track option) {
                  <mat-option [value]="option.code">{{ option.label }}</mat-option>
                }
              }
            </mat-select>
          </mat-form-field>
        </div>

        <div class="flex items-center gap-4">
          <mat-icon fontSet='material-icons-outlined' (click)="removeBranchingLogic(j)" color="warn">
            do_not_disturb_on
          </mat-icon>
          <button mat-button color="primary" (click)="addBranchingLogic()">AND</button>
        </div>
      </div>
    }
  </div>
</div>
