<div class="text-sm" [class]="!isMenuOpen ? 'md:[&_.item-label]:hidden' : ''">
  @for (navGroupItem of navGroupItems; track navGroupItem) {
    <div class="m-2">
      <ng-container *rbPermission="navGroupItem.permission">
        @if (navGroupItem.header; as header) {
          <mat-expansion-panel class="bg-white/10!" [class.mat-elevation-z0]="true" [expanded]="!navGroupItem.close">
            <mat-expansion-panel-header class="py-2! bg-transparent! h-auto!" [class]="isMenuOpen ? 'px-4!': 'px-2!'">
              <div class="flex gap-2 items-center w-full!" [class]="!isMenuOpen ? 'md:justify-center' : ''">
                <span class="material-symbols-outlined" [matTooltip]="!isMenuOpen ? (('SHARED.nav.' + header.name) | translate) : ''"
                      [matTooltipPosition]="'after'">{{header.icon}}</span>
                <div class="item-label uppercase">
                  <span class=''>{{ ("SHARED.nav." + header.name) | translate }}</span>
                </div>
              </div>
            </mat-expansion-panel-header>
            <ng-container *ngTemplateOutlet="matNavList" />
          </mat-expansion-panel>
        } @else {
          <div class="my-1">
            <ng-container *ngTemplateOutlet="matNavList" />
          </div>
        }

        <ng-template #matNavList>
          <mat-nav-list dense>
            @for (nav of navGroupItem.navList; track nav) {
              <div class="border-t border-on-tertiary/50 w-full" *rbPermission='nav.permission'>
                @if (!nav.external) {
                  <mat-list-item class="h-auto!"
                                 [routerLink]='nav.link'
                                 rbRouterLinkExactActive="routerLinkActive" [targetUrl]="nav.link">
                    <span class="text-white! flex items-center gap-2" [class]="isMenuOpen ? 'px-4! pl-8!' : 'md:justify-center px-2!'">
                      <span class="material-symbols-outlined" [matTooltip]="!isMenuOpen ? (('ADMIN.' + nav.name + '.title.plural') | translate) : ''"
                            [matTooltipPosition]="'after'">{{ENTITIES[nav.name].icon}}</span>
                      <span class="item-label">{{ ('ADMIN.' + nav.name + '.title.plural') | translate }}</span>
                    </span>
                  </mat-list-item>

                } @else {
                  <mat-list-item>
                    <a class="text-white! flex items-center gap-2" [href]="nav.link" [class]="isMenuOpen ? 'px-4! pl-8!' : 'md:justify-center px-2!'">
                      <span class="material-symbols-outlined" [matTooltip]="!isMenuOpen ? (('ADMIN.' + nav.name + '.title.plural') | translate) : ''"
                            [matTooltipPosition]="'after'">{{ENTITIES[nav.name].icon}}</span>
                      <span class="flex-grow flex justify-between items-center">
                        <span class="item-label">{{ ('ADMIN.' + nav.name + '.title.plural') | translate }}</span>
                        <span class="material-symbols-outlined text-lg! opacity-50" [matTooltip]="!isMenuOpen ? (('ADMIN.' + nav.name + '.title.plural') | translate) : ''"
                              [matTooltipPosition]="'after'">open_in_new</span>
                      </span>
                    </a>
                  </mat-list-item>
                }
                </div>
            }
          </mat-nav-list>
        </ng-template>
      </ng-container>
    </div>
  }
</div>
