@let _tableFilters = configService.getTableFilters();
@let _entityMetadata = configService.getEntityMetadata();
@let _tableFields = configService.getTableFields();
@let _gridView = configService.getViewMode() === 'grid';

@let _i18nEntity = `ADMIN.${_entityMetadata.name}`;

<div class='sticky top-0 z-40 flex flex-wrap justify-between gap-2 p-4 w-full app-background'>
  <app-list-page-header [entityMetadata]="_entityMetadata"/>

  <div class="flex items-center gap-2">
    <button type='button' mat-icon-button color="primary" (click)="toggleViewMode()">
      <mat-icon>{{ _gridView ? 'list' : 'grid_view' }}</mat-icon>
    </button>
    <button *appShowIfHasRole="[{role: ROLES.SYS_ADMIN}]"
            (click)="openDialog(DialogMode.ADD)"
            mat-stroked-button
            color="primary"
            type="button">
      <mat-icon matButtonIconPrefix>add</mat-icon>
      <span class="font-bold">{{ `${_i18nEntity}.create` | translate }}</span>
    </button>
    <!--      <button *appShowIfHasRole="[{role: ROLES.SYS_ADMIN}]" (click)="openDialog(DialogMode.ADD)" mat-stroked-button color="primary" type="button">-->
    <!--        <span class="font-bold flex items-center gap-2">-->
    <!--          <mat-icon class="material-symbols-outlined">add</mat-icon>-->
    <!--          {{ 'ADMIN.' + entityMetadata.name + '.create' | translate }}-->
    <!--        </span>-->
    <!--      </button>-->
  </div>
</div>

<div class="px-4">
  @if (_tableFilters.length && store.total() > MIN_ENTITIES_FOR_FILTERS) {
    <app-data-table-filter [filters]='_tableFilters'
                           [filterOpened]='isFilterOpened'
                           (filterChanged)='handleFilterChange($event)'/>
  }
</div>

@if (store.loading()) {
  <app-loader/>
}
<app-entity-list-page [entities]="entities()"
                      [tableFields]="_tableFields"
                      [entityMetadata]="_entityMetadata"
                      [page]="store.page()"
                      [sort]="store.sort()"
                      (switchPageEvent)="switchPage($event)"
                      (switchSortEvent)="switchSort($event)"
                      [customTemplate]="itemTemplate"
                      [gridView]="_gridView"
                      [totalEntities]="store.total()"/>
<ng-template #itemTemplate let-entity>
  <app-project-table-row [entity]="entity" [gridView]="_gridView" [extensionClass]="extensionClass()"/>
</ng-template>
