@let _prefix = 'ADMIN.questionnaire.dialog';
<div class="flex gap-2 items-center">
  <div class="rounded-full bg-primary/50 text-white size-8 p-1 flex justify-center items-center"
       [class]="selected() ? 'bg-secondary': ''">
    <span>{{ index() + 1 }}</span>
  </div>
  <div class="w-full border border-primary hover:border-secondary/50 rounded px-4 py-1 mt-2 text-sm!"
       role="button"
       tabindex="0"
       (click)='selectQuestion()'
       [class]="selected() ? 'border-2 border-secondary!': ''">
    <div class="flex items-center gap-2 w-full justify-between mb-2">
      <div class="flex gap-2 items-center grow">
        <app-tag class="bg-secondary/20 text-primary cursor-pointer" [class]="!entity().field_name ? 'bg-red-500/20! text-red-500' : ''">
          {{ entity().field_name || 'N/A' }}
        </app-tag>
      </div>
      <div class="flex gap-2 items-center">
        @if (entity().branching_logic) {
          <mat-icon class="material-symbols-outlined text-xl! text-orange-500! cursor-pointer"
                    [matTooltip]="`${_prefix}.questionHasConditionalLogic` | translate">
            rule
          </mat-icon>
        }

        @if (!entity().valid) {
          <mat-icon class="material-symbols-outlined text-xl! text-red-500! cursor-pointer"
                    [matTooltip]="`${_prefix}.questionIsInvalid` | translate">
            warning
          </mat-icon>
        }

        <app-tag class="bg-secondary/20 text-primary">
          {{ entity().field_type | uppercase }}
        </app-tag>

        <button class="tiny"
                mat-icon-button color="warn"
                (click)='removeQuestion($event)'>
          <mat-icon class="material-symbols-outlined text-xl!">delete</mat-icon>
        </button>
      </div>
    </div>

    @if (selected() || true) {
      <div class="text-black">
        <div class="flex gap-2">
        @let field_label = entity().field_label?.[language().id];
        <span class="text-neutral-500" [class]="!field_label ? 'text-red-500' : ''">{{ `${_prefix}.questionLabelLabel` | translate }}:</span>
        <span class="font-bold" [class]="!field_label ? 'text-red-500' : ''">{{ field_label || 'N/A' }}</span>
      </div>
      <div class="flex gap-2">
        @let section_header = entity().section_header?.[language().id];
        <span class="text-neutral-500">{{ `${_prefix}.questionHeaderLabel` | translate }}:</span>
        <span>{{ section_header || 'N/A' }}</span>
      </div>
        <ng-container #questionHost></ng-container>

        <!---->
<!--        @if (entity().field_type === 'slider') {-->
<!--          <span class="text-neutral-500">{{ `${_prefix}.questionRangeLabel` | translate }}</span>-->
<!--          <span class="">Min: {{entity().range?.min ?? 'N/A'}}, Max: {{entity().range?.max ?? 'N/A'}}, Step: {{entity().range?.step ?? 'N/A'}}</span>-->
<!--        }-->

<!--        @if (entity().field_type === 'number') {-->
<!--          <span class="text-neutral-500">{{ `${_prefix}.questionValidationLabel` | translate }}</span>-->
<!--          <span class="">Min: {{entity().text_validation_min ?? 'N/A'}}, Max: {{entity().text_validation_max ?? 'N/A'}}</span>-->
<!--        }-->

<!--        @if (entity().select_choices_or_calculations; as choices) {-->
<!--          @if (choices.length) {-->
<!--            <span class="text-neutral-500">{{ `${_prefix}.questionChoicesLabel` | translate }}</span>-->
<!--            <div class="flex flex-wrap gap-x-2">-->
<!--              @for (choice of choices; track choice.code) {-->
<!--                @if (choice.code) {-->
<!--                  <span class="inline-flex gap-1">-->
<!--                <mat-icon class="material-symbols-outlined text-base!">-->
<!--                  @switch (entity().field_type) {-->
<!--                    @case ('radio') {-->
<!--                      radio_button_unchecked-->
<!--                    }-->
<!--                    @case ('checkbox') {-->
<!--                      check_box_outline_blank-->
<!--                    }-->
<!--                    @case ('range') {-->
<!--                      radio_button_unchecked-->
<!--                    }-->
<!--                    @case ('range-info') {-->
<!--                      radio_button_unchecked-->
<!--                    }-->
<!--                    @case ('info') {-->
<!--                      info-->
<!--                    }-->
<!--                  }-->
<!--                </mat-icon>-->
<!--                <span class="pt-0.5">{{ choice.code }}-->
<!--                  : {{ choice.label[language().id] }}</span>-->
<!--              </span>-->
<!--                } @else {-->
<!--                  N/A-->
<!--                }-->
<!--              }-->
<!--            </div>-->
<!--          }-->
<!--        }-->
      </div>
    }
  </div>
</div>
