@let configFields = config$ | async;

<mat-card class="rb-table-row" [class]="
    (updated() === entity().id ? 'bg-green-100! ' : '') +
    (expanded ? 'mb-2' : '')
  ">
  <div class="rb-table-main-row">
    @for (property of PROPERTIES; track property.name) {
      @if (configFields[property.name] !== false) {
        <div [class]="property.tableClass + ' ' + property.width + ' ' + property.classes"
           [class.flex-1]="!property.width"
           [class.shrink-0]="!!property.width">
          @switch (property.name) {
            @case ('sourceName') {
              <p class='font-bold'>{{ entity().sourceName || '-' }}</p>
              <p class=''>{{ entity().sourceId || '-' }}</p>
            }

            @case ('sourceId') {
              <p class=''>{{ entity().sourceId || '-' }}</p>
            }

            @case ('sourceType') {
              <rb-source-source-type [sourceType]="entity().sourceType" />
            }

            @case ('project') {
              <rb-source-project [project]="entity().project" />
            }

            @case ('assigned') {
              <rb-source-assigned [assigned]="entity().assigned" />
            }

            @case('actions') {
              <button mat-icon-button class="tiny" (click)="onExpansionClick($event)">
                <span class="material-symbols-outlined text-xl!">
                  {{ expanded ? 'expand_less' : 'expand_more' }}
                </span>
              </button>
              <button class="tiny"
                      mat-icon-button color="primary"
                      (click)='onAction(DialogMode.EDIT, entity())'>
                <span class="material-symbols-outlined text-xl!">edit</span>
              </button>
              <button class="tiny"
                      mat-icon-button color="warn"
                      (click)='onAction(DialogMode.DELETE, entity())'>
                <span class="material-symbols-outlined text-xl!">delete</span>
              </button>
            }

            @default {
              {{ entity()[property.name] || '-' }}
            }
          }
        </div>
      }
    }
  </div>
  <div class="rb-table-extension-row" [@detailExpand]="expanded ? 'expanded' : 'collapsed'">
    <rb-source-details class="py-4" [entity]='entity()' [type]="DetailType.TABLE" />
  </div>
</mat-card>

