<div>
  <h2 mat-dialog-title class="border-b border-neutral-400 dark:border-neutral-500">
  <span class='inline-flex items-center justify-between w-full'>
    <span class="text-lg">
      @if (dialogData.mode === DialogMode.ADD) {
        <span>{{ "ADMIN.permission.create" | translate }}</span>
      }
      @if (dialogData.mode === DialogMode.DELETE) {
        <span>{{ "ADMIN.permission.remove" | translate }}</span>
      }
    </span>
    <button mat-icon-button
            (click)='close()'>
      <span class="material-symbols-outlined">close</span>
    </button>
  </span>
  </h2>
</div>


<mat-dialog-content>
  @if (dialogData.mode === DialogMode.VIEW || dialogData.mode === DialogMode.DELETE) {
    <div class='mb-4 text-base'>
      @if (dialogData.mode === DialogMode.DELETE) {
        <div class="mt-4">
          <p>{{ "ADMIN.permission.removeMessage" | translate}} {{ 'ADMIN.user.title.singular' | translate }}: <strong>{{dialogData.entity.login}}</strong>.</p>
          <p>{{ "SHARED.dialog.deleteWarning" | translate}}</p>
        </div>
      }
    </div>
  }

  @if (dialogData.mode === DialogMode.ADD || dialogData.mode === DialogMode.EDIT) {
    <form [formGroup]='form' novalidate>
      <label for="email" class="text-sm">{{ 'ADMIN.permission.search.label' | translate }} *</label>
      <mat-form-field subscriptSizing="fixed"
                      appearance='outline'>
        <input matInput formControlName='email' required/>
        @if (form.controls.email?.errors; as errors) {
          <mat-error>
            @if (errors?.['required']) {
              {{ ValidatorError.requiredValidator | translate: {value: 'ADMIN.permission.search.label' | translate} }}
            }
          </mat-error>
        }
      </mat-form-field>
    </form>

    <div>
      @if (selectedUser$(); as user) {
        <div class="text-sm">
          <div class='py-1 flex items-center gap-1 sm:gap-0 flex-wrap sm:flex-nowrap bg-inherit border-neutral-300 dark:border-neutral-500 border-b'>
            <span class='shrink-0 w-full sm:w-1/4'>
              {{ "ADMIN.user.login.label" | translate }}
            </span>
            <span class='grow font-bold sm:font-normal flex whitespace-pre-wrap gap-1'>
              {{user.login}}
            </span>
          </div>
          <div class='py-1 flex items-center gap-1 sm:gap-0 flex-wrap sm:flex-nowrap bg-inherit border-neutral-300 dark:border-neutral-500 border-b'>
            <span class='shrink-0 w-full sm:w-1/4'>
              {{ "ADMIN.user.email.label" | translate }}
            </span>
            <span class='grow font-bold sm:font-normal flex whitespace-pre-wrap gap-1'>
              {{user.email}}
            </span>
          </div>
          <div class='py-1 flex items-center gap-1 sm:gap-0 flex-wrap sm:flex-nowrap bg-inherit border-neutral-300 dark:border-neutral-500 border-b'>
            <span class='shrink-0 w-full sm:w-1/4'>
              {{ "ADMIN.user.firstName.label" | translate }}
            </span>
            <span class='grow font-bold sm:font-normal flex whitespace-pre-wrap gap-1'>
              {{user.firstName}}
            </span>
          </div>
          <div class='py-1 flex items-center gap-1 sm:gap-0 flex-wrap sm:flex-nowrap bg-inherit border-neutral-300 dark:border-neutral-500 border-b'>
            <span class='shrink-0 w-full sm:w-1/4'>
              {{ "ADMIN.user.lastName.label" | translate }}
            </span>
            <span class='grow font-bold sm:font-normal flex whitespace-pre-wrap gap-1'>
              {{user.lastName}}
            </span>
          </div>
        </div>
      } @else {
        {{'ADMIN.permission.noUserFound' | translate}}
      }
    </div>
  }
</mat-dialog-content>

@if (error$()) {
  <div
    class="p-4 w-full text-center text-base rounded-sm break-words bg-red-100 text-red-600 dark:bg-red-800 dark:text-red-200">
    {{ (error$()?.error.errorCode | translate) ?? (error$()?.error?.message | translate) }}
  </div>
}

<div class='px-6 py-4 flex flex-wrap justify-between gap-2 w-full border-t border-neutral-400 dark:border-neutral-500'>
  <div class='flex flex-wrap gap-2'>
    <button (click)='close()'
            mat-stroked-button
            color="accent"
            type="button">
      {{ dialogData.mode !== DialogMode.DELETE ?
      ('SHARED.dialog.cancel' | translate) :
      ('SHARED.dialog.no' | translate)
      }}
    </button>
  </div>
  <div class='ml-auto justify-end flex items-center gap-2'>
    @if (dialogData.mode === DialogMode.DELETE) {
      <button [disabled]='loading$()'
              (click)='onAction("delete")'
              color="warn"
              mat-raised-button
              type="button">
        @if (loading$()) {
          <mat-icon><mat-spinner diameter='20'></mat-spinner></mat-icon>
            {{ 'SHARED.dialog.deletingButton' | translate }}
        } @else {
            {{ 'ADMIN.permission.remove' | translate }}
        }
      </button>
    }
    @if (dialogData.mode === DialogMode.ADD) {
      <button [disabled]='!form?.valid || loading$() || !selectedUser$()'
              (click)='onAction("save")'
              color="primary"
              mat-raised-button
              type="button">
        @if (loading$()) {
          <mat-icon><mat-spinner diameter='20' /></mat-icon>
        }
        {{ "ADMIN.permission.create" | translate}}
      </button>
    }
  </div>
</div>
