<div class="w-full pt-2">
  <div class="flex items-center gap-2">
    <div class="grow">
      <div class="w-full my-2 flex items-center gap-2 justify-between">
        <div class="grow flex w-full gap-2">
          <div class="w-1/3!">
            <mat-form-field class='small-input' appearance='outline' subscriptSizing="dynamic">
              <mat-select (selectionChange)="onOperandChange($event)" [value]="conditionalLogicItem()?.operand">
                @for (question of questions(); track question; let ind = $index) {
                  @if (ind < selectedIndex()) {
                    <mat-option [value]="question.field_name"
                                [disabled]="question.field_type === 'descriptive' || question.field_type === 'audion' || question.field_type === 'info'">
                      <p>[{{ question.field_name }}] ({{ question.field_type }})</p>
                      <p>{{ question.section_header?.[dialogState.selectedQuestionnaire()!.defaultLanguage.id] }}</p>
                      <p>{{ question.field_label?.[dialogState.selectedQuestionnaire()!.defaultLanguage.id] }}</p>
                    </mat-option>
                  }
                }
              </mat-select>
            </mat-form-field>
          </div>
          @if (selectedQuestion) {
            <div class="w-1/3!">
              <app-conditional-logic-operator-selector class=""
                                                       [question]="selectedQuestion"
                                                       [conditionalLogicItem]="conditionalLogicItem()"
                                                       (selectionChange)="onOperatorChange($event)"/>
            </div>
          }

          @if (selectedQuestion && operator && operator !== 'isNotEmpty' && operator !== 'isEmpty') {
            <div class="w-1/3!">
              <app-question-view [question]="selectedQuestion"
                                 [operator]="operator"
                                 [conditionalLogicItem]="conditionalLogicItem()"
                                 (selectionChange)="onValueChange($event)"/>
            </div>
          }
        </div>

        <div class="flex items-center gap-2">
          <button class="tiny"
                  mat-icon-button color="warn"
                  (click)='removeItem(index())'>
            <mat-icon class="material-symbols-outlined text-xl!">do_not_disturb_on</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


