@let entityName = configService.getEntityMetadata().name;

<app-dialog-title [dialogMode]='dialogData.mode'
                 [entityMetadata]="configService.getEntityMetadata()"
                 (closeEvent)='close()' />

<mat-dialog-content>
  @if (dialogData.mode === DialogMode.VIEW || dialogData.mode === DialogMode.DELETE) {
    <app-dialog-body-description [dialogMode]="dialogData.mode"
                                [label]="'Source Data'"
                                [entityName]="dialogData.entity.sourceDataName" />
  }

  @if (dialogData.mode === DialogMode.ADD || dialogData.mode === DialogMode.EDIT) {
    <form [formGroup]="form" novalidate autocomplete="off">
      @if (dialogData.mode !== DialogMode.ADD) {
        <label for="clientId" class="text-sm">{{ `ADMIN.${entityName}.id.label` | translate }}</label>
        <mat-form-field subscriptSizing="fixed"
                        appearance="fill">
          <input matInput formControlName='id' />
        </mat-form-field>
      }

      <label for="sourceDataType" class="text-sm">{{ `ADMIN.${entityName}.sourceDataType.label` | translate }} *</label>
      <mat-form-field subscriptSizing="fixed"
                      appearance="outline">
        <input matInput formControlName='sourceDataType' required
               id="search-source-data-type" autocomplete="off" data-lpignore="true"/>
        @if (form.controls.sourceDataType.errors?.['pattern']) {
          <mat-error>{{ValidatorError.normalTextValidator}}</mat-error>
        }
        @if (form.controls.sourceDataType.errors?.['required']) {
          <mat-error>
            {{ValidatorError.requiredValidator | translate: {value: `ADMIN.${entityName}.sourceDataType.label` | translate } }}
          </mat-error>
        }
      </mat-form-field>

      <app-mat-select-autocomplete formControlName='sourceType'
                                  [label]="(`ADMIN.${entityName}.sourceType.label` | translate) + ' *'"
                                   [options]='(dialogData.sourceTypeFullList | async) ?? []'
                                  [required]="true">
<!--                                  [options]='sourceTypesOptions'-->
      </app-mat-select-autocomplete>

      <label for="sourceDataName" class="text-sm">{{ `ADMIN.${entityName}.sourceDataName.label` | translate }} *</label>
      <mat-form-field subscriptSizing="fixed"
                      appearance="outline">
        <input matInput formControlName='sourceDataName' required
               id="search-source-data-name" autocomplete="off" data-lpignore="true" />
        @if (form.controls.sourceDataName.errors?.['required']) {
          <mat-error>
            {{ValidatorError.requiredValidator | translate: {value: `ADMIN.${entityName}.sourceDataName.label` | translate } }}
          </mat-error>
        }
      </mat-form-field>

      @if (!formFields || formFields['processingState'] === undefined || formFields['processingState']) {
        <label for="processingState" class="text-sm">{{ `ADMIN.${entityName}.processingState.label` | translate }}</label>
        <mat-form-field subscriptSizing="fixed"
                        appearance="outline">
          <mat-select formControlName='processingState'>
            <mat-option [value]='ProcessingState.RAW'>{{ `ADMIN.${entityName}.processingState.RAW` | translate }}</mat-option>
            <mat-option [value]='ProcessingState.DERIVED'>{{ `ADMIN.${entityName}.processingState.DERIVED` | translate }}</mat-option>
            <mat-option [value]='ProcessingState.VENDOR'>{{ `ADMIN.${entityName}.processingState.VENDOR` | translate }}</mat-option>
            <mat-option [value]='ProcessingState.RADAR'>{{ `ADMIN.${entityName}.processingState.RADAR` | translate }}</mat-option>
            <mat-option [value]='ProcessingState.UNKNOWN'>{{ `ADMIN.${entityName}.processingState.UNKNOWN` | translate }}</mat-option>
          </mat-select>
        </mat-form-field>
      }

      @if (!formFields || formFields['topic'] === undefined || formFields['topic']) {
        <label for="topic" class="text-sm">{{ `ADMIN.${entityName}.topic.label` | translate }}</label>
        <mat-form-field subscriptSizing="fixed"
                        appearance="outline">
          <input matInput formControlName='topic'
                 id="search-topic" autocomplete="off" data-lpignore="true"/>
        </mat-form-field>
      }

      @if (!formFields || formFields['keySchema'] === undefined || formFields['keySchema']) {
        <label for="keySchema" class="text-sm">{{ `ADMIN.${entityName}.keySchema.label` | translate }}</label>
        <mat-form-field subscriptSizing="fixed"
                        appearance="outline">
          <input matInput formControlName='keySchema'
                 id="search-key-schema" autocomplete="off" data-lpignore="true"/>
        </mat-form-field>
      }

      @if (!formFields || formFields['valueSchema'] === undefined || formFields['valueSchema']) {
        <label for="valueSchema" class="text-sm">{{ `ADMIN.${entityName}.valueSchema.label` | translate }}</label>
        <mat-form-field subscriptSizing="fixed"
                        appearance="outline">
          <input matInput formControlName='valueSchema'
                 id="search-value-schema" autocomplete="off" data-lpignore="true" />
        </mat-form-field>
      }

      @if (!formFields || formFields['frequency'] === undefined || formFields['frequency']) {
        <label for="frequency" class="text-sm">{{ `ADMIN.${entityName}.frequency.label` | translate }}</label>
        <mat-form-field subscriptSizing="fixed"
                        appearance="outline">
          <input matInput formControlName='frequency'
                 id="search-frequency" autocomplete="off" data-lpignore="true" />
        </mat-form-field>
      }

      @if (!formFields || formFields['unit'] === undefined || formFields['unit']) {
        <label for="unit" class="text-sm">{{ `ADMIN.${entityName}.unit.label` | translate }}</label>
        <mat-form-field subscriptSizing="fixed"
                        appearance="outline">
          <input matInput formControlName='unit'
                 id="search-unit" autocomplete="off" data-lpignore="true" />
        </mat-form-field>
      }
    </form>
  }
</mat-dialog-content>

@if (error()) {
  <div class="p-4 w-full text-center text-base rounded-sm break-words bg-red-100 text-red-600 dark:bg-red-800 dark:text-red-200">
      {{error()?.error.errorCode | translate}}
  </div>
}

<app-dialog-actions [dialogMode]='dialogData.mode'
                   [form]='form'
                   (actionTriggered)='onAction($event)' />
