<rb-dialog-title [mode]='dialogData.mode'
                 [name]="ENTITY_NAME.sourceData"
                 (closeClicked)='close()' />

<mat-dialog-content>
  @if (dialogData.mode === DialogMode.VIEW || dialogData.mode === DialogMode.DELETE) {
    <rb-dialog-body-description [mode]="dialogData.mode"
                                [label]="'Source Data'"
                                [entityName]="dialogData.entity.sourceDataName" />
  }

  @if (dialogData.mode === DialogMode.ADD || dialogData.mode === DialogMode.EDIT) {
    <form [formGroup]="form" novalidate autocomplete="off">
      @if (dialogData.mode !== DialogMode.ADD) {
        <label for="clientId" class="text-sm">{{ 'ADMIN.sourceData.id.label' | translate }}</label>
        <mat-form-field subscriptSizing="fixed"
                        appearance="outline">
          <input matInput formControlName='id' />
        </mat-form-field>
      }

      <label for="sourceDataType" class="text-sm">{{ 'ADMIN.sourceData.sourceDataType.label' | translate }} *</label>
      <mat-form-field subscriptSizing="fixed"
                      appearance="outline">
        <input matInput formControlName='sourceDataType' required
               id="search-source-data-type" autocomplete="off" data-lpignore="true"/>
        @if (form.controls.sourceDataType?.errors?.['pattern']) {
          <mat-error>{{ValidatorError.normalTextValidator}}</mat-error>
        }
        @if (form.controls.sourceDataType?.errors?.['required']) {
          <mat-error>
            {{ValidatorError.requiredValidator | translate: {value: 'ADMIN.sourceData.sourceDataType.label' | translate } }}
          </mat-error>
        }
      </mat-form-field>

      <rb-mat-select-autocomplete formControlName='sourceType'
                                  [legend]="'ADMIN.sourceData.sourceType.label' | translate "
                                  [options]='sourceTypesOptions'
                                  [label]="('ADMIN.sourceData.sourceType.label' | translate) + ' *'"
                                  [required]="true">
      </rb-mat-select-autocomplete>

      <label for="sourceDataName" class="text-sm">{{ 'ADMIN.sourceData.sourceDataName.label' | translate }}</label>
      <mat-form-field subscriptSizing="fixed"
                      appearance="outline">
        <input matInput formControlName='sourceDataName' required
               id="search-source-data-name" autocomplete="off" data-lpignore="true" />
        @if (form.controls.sourceDataName?.errors?.['required']) {
          <mat-error>
            {{ValidatorError.requiredValidator | translate: {value: 'ADMIN.sourceData.sourceDataName.label' | translate } }}
          </mat-error>
        }
      </mat-form-field>

      @if (!formFields || formFields['processingState'] === undefined || formFields['processingState']) {
        <label for="processingState" class="text-sm">{{ 'ADMIN.sourceData.processingState.label' | translate }}</label>
        <mat-form-field subscriptSizing="fixed"
                        appearance="outline">
          <mat-select formControlName='processingState'>
            <mat-option [value]='ProcessingState.RAW'>{{ 'ADMIN.sourceData.processingState.RAW' | translate }}</mat-option>
            <mat-option [value]='ProcessingState.DERIVED'>{{ 'ADMIN.sourceData.processingState.DERIVED' | translate }}</mat-option>
            <mat-option [value]='ProcessingState.VENDOR'>{{ 'ADMIN.sourceData.processingState.VENDOR' | translate }}</mat-option>
            <mat-option [value]='ProcessingState.RADAR'>{{ 'ADMIN.sourceData.processingState.RADAR' | translate }}</mat-option>
            <mat-option [value]='ProcessingState.UNKNOWN'>{{ 'ADMIN.sourceData.processingState.UNKNOWN' | translate }}</mat-option>
          </mat-select>
        </mat-form-field>
      }

      @if (!formFields || formFields['topic'] === undefined || formFields['topic']) {
        <label for="topic" class="text-sm">{{ 'ADMIN.sourceData.topic.label' | translate }}</label>
        <mat-form-field subscriptSizing="fixed"
                        appearance="outline">
          <input matInput formControlName='topic'
                 id="search-topic" autocomplete="off" data-lpignore="true"/>
        </mat-form-field>
      }

      @if (!formFields || formFields['keySchema'] === undefined || formFields['keySchema']) {
        <label for="keySchema" class="text-sm">{{ 'ADMIN.sourceData.keySchema.label' | translate }}</label>
        <mat-form-field subscriptSizing="fixed"
                        appearance="outline">
          <input matInput formControlName='keySchema'
                 id="search-key-schema" autocomplete="off" data-lpignore="true"/>
        </mat-form-field>
      }

      @if (!formFields || formFields['valueSchema'] === undefined || formFields['valueSchema']) {
        <label for="valueSchema" class="text-sm">{{ 'ADMIN.sourceData.valueSchema.label' | translate }}</label>
        <mat-form-field subscriptSizing="fixed"
                        appearance="outline">
          <input matInput formControlName='valueSchema'
                 id="search-value-schema" autocomplete="off" data-lpignore="true" />
        </mat-form-field>
      }

      @if (!formFields || formFields['frequency'] === undefined || formFields['frequency']) {
        <label for="frequency" class="text-sm">{{ 'ADMIN.sourceData.frequency.label' | translate }}</label>
        <mat-form-field subscriptSizing="fixed"
                        appearance="outline">
          <input matInput formControlName='frequency'
                 id="search-frequency" autocomplete="off" data-lpignore="true" />
        </mat-form-field>
      }

      @if (!formFields || formFields['unit'] === undefined || formFields['unit']) {
        <label for="unit" class="text-sm">{{ 'ADMIN.sourceData.unit.label' | translate }}</label>
        <mat-form-field subscriptSizing="fixed"
                        appearance="outline">
          <input matInput formControlName='unit'
                 id="search-unit" autocomplete="off" data-lpignore="true" />
        </mat-form-field>
      }
    </form>
  }
</mat-dialog-content>

@if (error$()) {
  <div class="p-4 w-full text-center text-base rounded-sm break-words bg-red-100 text-red-600 dark:bg-red-800 dark:text-red-200">
      {{error$()?.error.errorCode | translate}}
  </div>
}

<rb-dialog-actions [mode]='dialogData.mode'
                   [form]='form'
                   (actionTriggered)='onAction($event)' />
