<rb-loader *ngIf='loading'
           [loadingText]='"loading" | translate'>
</rb-loader>

<div class='p-4 pb-0'>
<!--  <rb-breadcrumb-->
<!--    [items]='[-->
<!--      {label: "Organizations", path: "/admin/organizations/"},-->
<!--      {label: "Organization", name: organizationName, path: "/admin/organizations/" + organizationName},-->
<!--    ]'>-->
<!--  </rb-breadcrumb>-->
  <div class='flex justify-between mb-4 flex-wrap items-center'>
    <div class='flex flex-wrap gap-2 items-center m-0 text-project-color'>
      <div class='flex items-center text-sm font-semibold rounded-full gap-1 py-2 px-4 bg-project-color-100 text-project-color-700'>
        <mat-icon fontSet='material-icons-outlined'>folder</mat-icon>
        {{ 'ADMIN.project.title.singular' | translate }}
      </div>
      <h2 class="">{{ entity.name }}</h2>
    </div>
<!--    <h2 class='details-page-header-title project-color-fg'>-->
<!--      <mat-chip disableRipple class='label-chip project-color'>-->
<!--        <mat-icon fontSet='material-icons-outlined'>folder</mat-icon>-->
<!--        {{ 'ADMIN.project.title.singular' | translate }}-->
<!--      </mat-chip>-->
<!--      {{ entity.humanReadableProjectName ?-->
<!--      entity.humanReadableProjectName :-->
<!--      entity.projectName }}-->
<!--    </h2>-->

    <div class='flex gap-1 ml-auto'>
      <button type='button'
              mat-icon-button
              color='primary'
              (click)='panelOpenState=!panelOpenState'>
        <mat-icon fontSet='material-icons-outlined' class='text-project-color'>description</mat-icon>
      </button>
      <ng-container>
<!--        *rbShowForRoles='[{role: "ROLE_SYS_ADMIN"}, {role: "ROLE_ORGANIZATION_ADMIN", entityName: organizationName}]'>-->
        <button mat-icon-button [matMenuTriggerFor]="menu" color='primary' aria-label="Example icon-button with a menu" (click)='$event.stopPropagation()'>
          <mat-icon class='text-project-color'>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item
                  (click)='onAction(DialogMode.EDIT, entity)'>
            <mat-icon color='primary' fontSet='material-icons-outlined'>edit</mat-icon>
            <span>{{ 'ADMIN.project.edit' | translate }}</span>
          </button>
          <button mat-menu-item
                  disabled
                  (click)='onAction(DialogMode.DELETE, entity)'>
            <mat-icon>delete</mat-icon>
            <span>{{ 'ADMIN.project.delete' | translate }}</span>
          </button>
        </mat-menu>
      </ng-container>
    </div>
  </div>

  <mat-accordion class=''
                 multi>
    <mat-expansion-panel [expanded]='panelOpenState'
                         class=''>
      <div class='p-4 text-sm border'>
        <rb-questionnaire-details [entity]='entity'>
        </rb-questionnaire-details>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

<!--  <nav mat-tab-nav-bar-->
<!--       class=''>-->
<!--&lt;!&ndash;    <a *rbShowForRoles='[{role: "ROLE_PROJECT_ADMIN", entityName: entity["projectName"]}]'&ndash;&gt;-->
<!--    <a mat-tab-link-->
<!--       [routerLink]='["subjects"]'-->
<!--       routerLinkActive='' #rla1='routerLinkActive' [active]='rla1.isActive'>-->
<!--      <h2 class='m-0 items-center gap-1 flex text-subject-color'>-->
<!--        <mat-icon class='h-4 w-4'-->
<!--                  fontSet='material-icons-outlined'>person_outline</mat-icon>-->
<!--        {{ 'ADMIN.subject.title.plural' | translate }}-->
<!--      </h2>-->
<!--&lt;!&ndash;      {{ 'ADMIN.subject.title.plural' | translate }}&ndash;&gt;-->
<!--    </a>-->
<!--&lt;!&ndash;    <a *rbShowForRoles='[{role: "ROLE_PROJECT_ADMIN", entityName: entity["projectName"]}]'&ndash;&gt;-->
<!--    <a mat-tab-link-->
<!--       [routerLink]='["sources"]'-->
<!--       routerLinkActive='' #rla2='routerLinkActive' [active]='rla2.isActive'>-->
<!--      <h2 class='m-0 items-center gap-1 flex text-source-color'>-->
<!--        <mat-icon class='h-4 w-4'-->
<!--                  fontSet='material-icons-outlined'>source</mat-icon>-->
<!--        {{ 'ADMIN.source.title.plural' | translate }}-->
<!--      </h2>-->
<!--&lt;!&ndash;      {{ 'ADMIN.source.title.plural' | translate }}&ndash;&gt;-->
<!--    </a>-->
<!--&lt;!&ndash;    <a *rbShowForRoles='[{role: "ROLE_PROJECT_ADMIN", entityName: entity["projectName"]}]'&ndash;&gt;-->
<!--    <a mat-tab-link-->
<!--       [routerLink]='["groups"]'-->
<!--       routerLinkActive='' #rla3='routerLinkActive' [active]='rla3.isActive'>-->
<!--      <h2 class='m-0 items-center gap-1 flex text-group-color'>-->
<!--        <mat-icon class='h-4 w-4'-->
<!--                  fontSet='material-icons-outlined'>portrait</mat-icon>-->
<!--        {{ 'ADMIN.group.title.plural' | translate }}-->
<!--      </h2>-->
<!--&lt;!&ndash;      {{ 'ADMIN.group.title.plural' | translate }}&ndash;&gt;-->
<!--    </a>-->
<!--&lt;!&ndash;    *rbShowForRoles='[{role: "ROLE_SYS_ADMIN"}, {role: "ROLE_ORGANIZATION_ADMIN", entityName: organizationName}]'&ndash;&gt;-->
<!--    <a mat-tab-link-->
<!--       -->
<!--       [routerLink]='["users/roles"]'-->
<!--       routerLinkActive='' #rla4='routerLinkActive' [active]='rla4.isActive'>-->
<!--      <h2 class='m-0 items-center gap-1 flex text-user-color'>-->
<!--        <mat-icon class='h-4 w-4'-->
<!--                  fontSet='material-icons-outlined'>manage_accounts</mat-icon>-->
<!--        {{ 'ADMIN.user.title.plural' | translate }}-->
<!--      </h2>-->
<!--&lt;!&ndash;      {{ 'ADMIN.user.title.plural' | translate }}&ndash;&gt;-->
<!--    </a>-->
<!--    <a mat-tab-link-->
<!--       [routerLink]='["subjects-authorizer"]'-->
<!--       routerLinkActive='' #rla6='routerLinkActive' [active]='rla6.isActive'>-->
<!--      <h2 class='m-0 items-center gap-1 flex text-subject-color'>-->
<!--        <mat-icon class='h-4 w-4'-->
<!--                  fontSet='material-icons-outlined'>person_outline</mat-icon>-->
<!--&lt;!&ndash;        {{ 'ADMIN.subject.title.plural' | translate }}&ndash;&gt;-->
<!--        Authorizer-->
<!--      </h2>-->
<!--      &lt;!&ndash;      {{ 'ADMIN.subject.title.plural' | translate }}&ndash;&gt;-->
<!--    </a>-->
<!--&lt;!&ndash;    *rbShowForRoles='[{role: "ROLE_SYS_ADMIN"}, {role: "ROLE_ORGANIZATION_ADMIN", entityName: organizationName}]'&ndash;&gt;-->
<!--    <a class="bg-gray-100 border opacity-100!"-->
<!--       mat-tab-link-->
<!--       [routerLink]='["clients"]'-->
<!--       [state]='{ projectName: entity.projectName }'-->
<!--       routerLinkActive=''-->
<!--       #rla5='routerLinkActive'-->
<!--       [active]='rla5.isActive'-->
<!--       [ngClass]="rla5.isActive ? 'bg-white! border-b-white border-b-4': ''">-->
<!--      <h2 class='m-0 items-center gap-1 flex text-user-color'-->
<!--          [ngClass]="rla5.isActive? 'opacity-100' : 'opacity-50'">-->
<!--        <mat-icon class='h-4 w-4'-->
<!--                  fontSet='material-icons-outlined'>app_settings_alt</mat-icon>-->
<!--&lt;!&ndash;        {{ 'ADMIN.user.title.plural' | translate }}&ndash;&gt;-->
<!--        App Config-->
<!--      </h2>-->
<!--      &lt;!&ndash;      {{ 'ADMIN.user.title.plural' | translate }}&ndash;&gt;-->
<!--    </a>-->
<!--  </nav>-->

<div class='border border-gray-300 border-t-0 m-0 rounded-b'>
  <router-outlet ></router-outlet>
</div>
</div>
