@let _prefix = 'ADMIN.protocol.dialog.questionsGroup';

<div [formGroup]="form" class="grid grid-cols-1 min-w-[500px] w-1/2 mx-auto">

  <mat-slide-toggle formControlName='github' class="my-4" color="primary">
    {{ `${_prefix}.githubLabel` | translate }}
  </mat-slide-toggle>

  @if (githubValueChanges()) {
    <p class="text-base">{{ `${_prefix}.githubPropertiesLabel` | translate }}</p>
    <div class="mb-2" [formGroup]="form.controls.questionnaire">
      <div>
        <label for="questionnaire-name" class="text-sm">
          {{ `${_prefix}.questionnaireNameLabel` | translate }} *
        </label>
        <mat-form-field class='small-input w-full' appearance='outline' subscriptSizing="dynamic">
          <input id="questionnaire-name" matInput formControlName='name' required>
          <mat-error>
            @if (form.controls.questionnaire.controls.name.errors; as errors) {
              @if (errors?.['pattern']) {
                {{ ValidatorError.normalTextValidator | translate }}
              }
              @if (errors?.['required']) {
                {{
                  ValidatorError.requiredValidator | translate:{
                    value: `${_prefix}.questionnaireNameLabel` | translate
                  }
                }}
              }
            }
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <label for="questionnaire-repository" class="text-sm">
          {{ `${_prefix}.questionnaireRepositoryLabel` | translate }} *
        </label>
        <mat-form-field class='small-input w-full' appearance='outline' subscriptSizing="dynamic">
          <input id="questionnaire-repository" matInput formControlName='repository' required>
          <mat-error>
            @if (form.controls.questionnaire.controls.repository.errors; as errors) {
              @if (errors?.['pattern']) {
                {{ ValidatorError.normalTextValidator | translate }}
              }
              @if (errors?.['required']) {
                {{
                  ValidatorError.requiredValidator | translate:{
                    value: `${_prefix}.questionnaireRepositoryLabel` | translate
                  }
                }}
              }
            }
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <mat-divider class="my-2!"/>

  } @else {

    <div>
      <label for="appQuestionnaire" class="text-sm">
        {{ `${_prefix}.appQuestionnaireLabel` | translate }} *
      </label>
      <mat-form-field class='small-input w-full' appearance='outline' subscriptSizing="dynamic">
        <mat-select id="appQuestionnaire" formControlName='appQuestionnaire' [required]="!githubValueChanges()">
          @for (q of questionnaires | async; track q.name) {
            <mat-option [value]="q.name">{{ q.name }}</mat-option>
          }
        </mat-select>
        <mat-error>
          @if (form.controls.appQuestionnaire.errors; as errors) {
            @if (errors?.['required']) {
              {{
                ValidatorError.requiredValidator | translate:{
                  value: `${_prefix}.appQuestionnaireLabel` | translate
                }
              }}
            }
          }
        </mat-error>
      </mat-form-field>
    </div>
  }

  <div>
    <label for="estimatedCompletionTime" class="text-sm">
      {{ `${_prefix}.estimatedCompletionTimeLabel` | translate }}
    </label>
    <mat-form-field class='small-input w-full' appearance='outline'>
      <input id="estimatedCompletionTime" matInput type="number" formControlName='estimatedCompletionTime'>
      <span matSuffix class="mx-4 text-neutral-500 dark:text-neutral-400">
        {{ `${_prefix}.minutes` | translate }}
      </span>
    </mat-form-field>
  </div>
</div>
