@let _i18nQuestion = 'ADMIN.questionnaire.dialog.question';
@let _language = store.selected()!.defaultLanguage!.code;
@let _question = entity();
@let _index = index();
<!--@let _isSelected = _question.field_name === questionsStore.question()?.field_name;-->
@let _field_label = _question.field_label[_language];
@let _section_header = _question.section_header?.[_language];
@let _field_type = _question.field_type;
@let _choices = _question.select_choices_or_calculations;

<div class="grid grid-cols-[auto_1fr] gap-x-3 gap-y-1">
  <div class="rounded-full bg-primary/50 text-white size-8 p-1 flex justify-center items-center"
       [class]="_field_type === 'variable' ? 'bg-orange-300!': ''">
    <!--    [class]="_isSelected ? 'bg-tertiary': '' + ' ' + _field_type === 'variable' ? 'bg-orange-300!': ''">-->
    <span>{{ _index + 1 }}</span>
  </div>
  <!--  <button class="w-full border border-primary hover:border-tertiary/50 rounded px-3 py-1 text-sm text-start"-->
  <!--       (click)='selectQuestion($event)'-->
  <!--       [class]="_isSelected ? 'border-2 border-tertiary!': ''">-->
  <mat-expansion-panel>
    <!--      (click)='selectQuestion($event)'-->
    <mat-expansion-panel-header>
      <div class="flex items-center gap-2 w-full mb-2">
        <div class="w-60 flex gap-2 shrink-0 grow-0">
          <button class="app-icon-button-small"
                  mat-icon-button color="primary"
                  (click)='selectQuestion($event)'>
            <mat-icon class="">edit</mat-icon>
          </button>
          <app-tag class="text-primary" [class]="_field_type === 'variable' ? 'bg-orange-300' : 'bg-primary/20'">
            {{ _field_type | uppercase }}
          </app-tag>

          <div class="shrink-0 grow-0">
            <app-tag class="cursor-pointer"
                     [class]="_question.field_name ? _field_type === 'variable' ? 'bg-orange-300 text-primary' : 'bg-tertiary/20 text-primary' : 'bg-red-500/20 text-red-500'">
              {{ _question.field_name || `${_i18nQuestion}.notAvailable` | translate }}
            </app-tag>
          </div>
        </div>

        <div class="grow shrink min-w-0">
          <div class="text-ellipsis text-nowrap overflow-hidden whitespace-nowrap pr-8 w-full min-w-0">
            {{ _question.field_label[_language] }}
            <!--            <app-tag class="cursor-pointer"-->
            <!--                     [class]="_question.field_name ? _field_type === 'variable' ? 'bg-orange-300 text-primary' : 'bg-tertiary/20 text-primary' : 'bg-red-500/20 text-red-500'">-->
            <!--              {{ _question.field_name || `${_i18nQuestion}.notAvailable` | translate }}-->
            <!--            </app-tag>-->
          </div>
        </div>

        <div class="flex gap-2 shrink-0 grow-0">
          @if (_question.matrix_group_name) {
            <app-tag class="bg-green-500/20 text-green-700">
              {{ _question.matrix_group_name | uppercase }}
            </app-tag>
          }

          @if (_question.conditionalLogic?.length) {
            <mat-icon class=" text-xl! text-orange-500! cursor-pointer"
                      [matTooltip]="`${_i18nQuestion}.hasConditionalLogic` | translate">
              rule
            </mat-icon>
          }




          <button class="app-icon-button-small"
                  mat-icon-button color="warn"
                  (click)='removeQuestion($event)'>
            <mat-icon class="">delete</mat-icon>
          </button>

          @if (!_question.isValid) {
            <mat-icon class=" text-xl! text-red-700! cursor-pointer"
                      [matTooltip]="`${_i18nQuestion}.isInvalid` | translate">
              warning
            </mat-icon>
          } @else {
            <mat-icon class=" text-xl! text-green-700! cursor-pointer"
                      [matTooltip]="`${_i18nQuestion}.isValid` | translate">
              check_circle
            </mat-icon>
          }

          @if (!_question.isActive) {
            <mat-icon class=" text-xl! text-red-700! cursor-pointer"
                      [matTooltip]="`${_i18nQuestion}.isInactive` | translate">
              <!--                visibility_off-->
              toggle_off
            </mat-icon>
          } @else {
            <mat-icon class=" text-xl! text-green-700! cursor-pointer"
                      [matTooltip]="`${_i18nQuestion}.isActive` | translate">
              <!--                visibility-->
              toggle_on
            </mat-icon>
          }
          <div class="w-2"></div>
        </div>
      </div>

    </mat-expansion-panel-header>
    <div class="grid grid-cols-[auto_1fr] gap-x-3 gap-y-1 [&>div:nth-child(odd)]:text-neutral-500">
      @if (_field_type !== 'variable') {
        <span [class]="!_field_label ? 'text-red-500' : ''">{{ `${_i18nQuestion}.fieldLabel` | translate }}</span>
        <span class="font-bold" [class]="!_field_label ? 'text-red-500' : ''"
              [innerHtml]="_field_label || `${_i18nQuestion}.notAvailable` | translate">
<!--          {{ _field_label || `${_i18nQuestion}.notAvailable` | translate }}-->
        </span>

        <span>{{ `${_i18nQuestion}.sectionHeader` | translate }}</span>
        <span>{{ _section_header || `${_i18nQuestion}.notAvailable` | translate }}</span>

        @if (CHOICES_ENABLED_FIELDS.includes(_field_type)) {
          <span [class]="!_choices ? 'text-red-500' : ''">
            {{ `${_i18nQuestion}.choices` | translate }}:
          </span>
          <span class="grid grid-cols-[auto_1fr] gap-y-1 font-bold" [class]="!_choices ? 'text-red-500' : ''">
              @for (choice of _choices; track choice.code) {
                @if (choice.code) {
                  <mat-icon class=" text-base!">
                      {{ CHOICE_ICON_REGISTRY[_field_type] }}
                    </mat-icon>
                  <span> {{ choice.code }}: {{ choice.label[_language] }}</span>
                } @else {
                  <mat-icon class=" text-base!">
                      {{ CHOICE_ICON_REGISTRY[_field_type] }}
                    </mat-icon>
                  <span> {{ `${_i18nQuestion}.notAvailable` | translate }}: {{ `${_i18nQuestion}.notAvailable` | translate }}</span>
                }
              } @empty {
                <span></span>
                <span class="font-bold text-red-500">{{ `${_i18nQuestion}.notAvailable` | translate }}</span>
              }
          </span>
        }

        @switch (_field_type) {

          @case (QuestionType.RANGE) {
            @if (_question.show_code) {
              <span></span>
              <span>{{ `${_i18nQuestion}.showCode` | translate }}</span>
            }
            @if (_question.show_selected_label) {
              <span></span>
              <span>{{ `${_i18nQuestion}.showSelectedLabel` | translate }}</span>
            }
          }
          @case (QuestionType.NUMBER)
          @case (QuestionType.TIME) {
            @if (_question.text_validation_min || _question.text_validation_max) {
              <span>{{ `${_i18nQuestion}.validation` | translate }}</span>
              <span>
                <span>{{ `${_i18nQuestion}.textValidationMin` | translate }}
                  : {{ _question.text_validation_min || `${_i18nQuestion}.notAvailable` | translate }}, </span>
                <span>{{ `${_i18nQuestion}.textValidationMax` | translate }}
                  : {{ _question.text_validation_max || `${_i18nQuestion}.notAvailable` | translate }}</span>
            </span>
            }
          }
          @case (QuestionType.DATE) {
            @if (_question.text_validation_min || _question.text_validation_max) {
              <span>{{ `${_i18nQuestion}.validation` | translate }}</span>
              <span>
                <span>{{ `${_i18nQuestion}.textValidationMin` | translate }}
                  : {{ (_question.text_validation_min | date) || `${_i18nQuestion}.notAvailable` | translate }}, </span>
                <span>{{ `${_i18nQuestion}.textValidationMax` | translate }}
                  : {{ (_question.text_validation_max | date) || `${_i18nQuestion}.notAvailable` | translate }}</span>
            </span>
            }
          }
          @case (QuestionType.SLIDER) {
            <span [class]="!_question.range ? 'text-red-500' : ''">{{ `${_i18nQuestion}.range` | translate }}</span>
            <span>
            <span
              [class]="(_question.range?.min) === null ? 'text-red-500' : ''">{{ `${_i18nQuestion}.rangeMin` | translate }}
              : {{ _question.range?.min ?? `${_i18nQuestion}.notAvailable` | translate }}, </span>
            <span
              [class]="(_question.range?.max) === null ? 'text-red-500' : ''">{{ `${_i18nQuestion}.rangeMax` | translate }}
              : {{ _question.range?.max ?? `${_i18nQuestion}.notAvailable` | translate }}, </span>
            <span
              [class]="(_question.range?.step) === null ? 'text-red-500' : ''">{{ `${_i18nQuestion}.rangeStep` | translate }}
              : {{ _question.range?.step ?? `${_i18nQuestion}.notAvailable` | translate }}</span>
          </span>
          }
          @case (QuestionType.TEXT) {
            @if (_question.multi_line) {
              <span></span>
              <p>{{ `${_i18nQuestion}.multiLineEnabled` | translate }}</p>
            }
          }
          @case (QuestionType.TIMED) {
            <span
              [class]="(_question.field_annotation?.timer) === null ? 'text-red-500' : ''">{{ `${_i18nQuestion}.annotationTimer` | translate }}</span>
            <span [class]="(_question.field_annotation?.timer) === null ? 'text-red-500' : ''">
            <span>{{ `${_i18nQuestion}.annotationTimerStart` | translate }}
              : {{ _question.field_annotation?.timer?.start ?? `${_i18nQuestion}.notAvailable` | translate }}, </span>
            <span>{{ `${_i18nQuestion}.annotationTimerEnd` | translate }}
              : {{ _question.field_annotation?.timer?.end ?? `${_i18nQuestion}.notAvailable` | translate }}</span>
          </span>
          }
          @case (QuestionType.CALC) {
            <span>{{ `${_i18nQuestion}.calculationFn` | translate }}</span>
            <code>{{ _question.calculation_fn ?? `${_i18nQuestion}.notAvailable` | translate }}</code>
            <span>{{ `${_i18nQuestion}.calculationArgs` | translate }}:</span>
            <code>{{ _question.calculation_args?.join(', ') ?? `${_i18nQuestion}.notAvailable` | translate }}</code>
          }

        }
      } @else {
        {{entity().variable | json}}
      }
    </div>
  </mat-expansion-panel>


  <!--  </button>-->
</div>
