<!--@switch(question().field_type) {-->
<!--  @case('radio') {-->
    <mat-form-field class='small-input w-full! grow-0' appearance='outline' subscriptSizing="dynamic">
      <mat-select [value]="conditionalLogicItem()?.operator" (selectionChange)="onInputChange($event)">
        @for (type of OPERATORS; track type) {
          <mat-option [value]="type.value">{{ type.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
<!--  }-->
<!--  @case('range') {-->
<!--    <mat-form-field class='small-input w-full! grow-0' appearance='outline' subscriptSizing="dynamic">-->
<!--      <mat-select [value]="conditionalLogicItem()?.operator" (selectionChange)="onInputChange($event)">-->
<!--        @for (type of OPERATORS; track type) {-->
<!--          <mat-option [value]="type.value">{{ type.name }}</mat-option>-->
<!--        }-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->
<!--  }-->
<!--  @case('slider') {-->
<!--    <mat-form-field class='small-input w-full! grow-0' appearance='outline' subscriptSizing="dynamic">-->
<!--      <mat-select [value]="conditionalLogicItem()?.operator" (selectionChange)="onInputChange($event)">-->
<!--        @for (type of OPERATORS; track type) {-->
<!--          <mat-option [value]="type.value">{{ type.name }}</mat-option>-->
<!--        }-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->
<!--  }-->
<!--  @case('checkbox') {-->
<!--    <mat-form-field class='small-input w-full! grow-0' appearance='outline' subscriptSizing="dynamic">-->
<!--      <mat-select [value]="conditionalLogicItem()?.operator" (selectionChange)="onInputChange($event)">-->
<!--        @for (type of OPERATORS; track type) {-->
<!--          <mat-option [value]="type.value">{{ type.name }}</mat-option>-->
<!--        }-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->
<!--  }-->
<!--}-->
