@let _prefix = 'ADMIN.questionnaire.dialog';

<div class="border-2 border-gray-200 hover:border-secondary/50 rounded-2xl px-4 py-1 mt-2 text-sm!"
     [class]="editMode() ? 'border-secondary!': 'border-gray-200'">
  <div class="flex items-center gap-2 w-full justify-between mb-2">
    <div class="flex gap-2 items-center grow">
      <button class="tiny"
              mat-icon-button color="primary"
              (click)='selectQuestion()'>
        <span class="material-symbols-outlined text-xl!">{{ editMode() ? 'edit_off' : 'edit' }}</span>
      </button>
      <app-tag class="bg-secondary/20 text-primary cursor-pointer"
               (click)='editMode.set(!editMode())'>
        {{ form.controls.field_name?.value || '-' }}
      </app-tag>
    </div>
    <div class="flex gap-2 items-center">
      @if (form.controls.branching_logic?.value) {
        <mat-icon class="material-symbols-outlined text-xl! text-orange-500! cursor-pointer"
                  [matTooltip]="`${_prefix}.questionHasConditionalLogic` | translate">
          rule
        </mat-icon>
      }

      <app-tag class="bg-secondary/20 text-primary">
        @if (form.controls.field_type?.value; as type) {
          {{ FIELD_TYPE_MAP[type] }}
        } @else {
          ?
        }
      </app-tag>

      <button class="tiny"
              mat-icon-button color="warn"
              (click)='remove.emit()'>
        <mat-icon class="material-symbols-outlined text-xl!">do_not_disturb_on</mat-icon>
      </button>
    </div>
  </div>

  @if (!editMode()) {
    <div class="grid grid-cols-[max-content_1fr] gap-x-2 gap-y-0 text-black">
      @if (form.controls.field_label?.value?.[questionnaireStateService.selectedLanguage()]; as field_label) {
        <span class="text-neutral-500">{{ `${_prefix}.questionLabelLabel` | translate }}</span>
        <span class="font-bold">{{ field_label }}</span>
      }

      @if (form.controls.section_header?.value?.[questionnaireStateService.selectedLanguage()]; as section_header) {
        <span class="text-neutral-500">{{ `${_prefix}.questionHeaderLabel` | translate }}</span>
        <span>{{ section_header }}</span>
      }

      @if (form.controls.select_choices_or_calculations?.value; as choices) {
        <span class="text-neutral-500">{{ `${_prefix}.questionChoicesLabel` | translate }}</span>
        <div class="flex flex-wrap gap-x-2">
          @for (choice of choices; track choice.code) {
            @if (choice.code) {
              <span class="inline-flex gap-1">
              <mat-icon class="material-symbols-outlined text-base!">
                @switch (form.controls.field_type?.value) {
                  @case ('radio') {
                    radio_button_unchecked
                  }
                  @case ('checkbox') {
                    check_box_outline_blank
                  }
                  @case ('range') {
                    radio_button_unchecked
                  }
                  @case ('range-info') {
                    radio_button_unchecked
                  }
                  @case ('info') {
                    info
                  }
                }
              </mat-icon>
              <span class="pt-0.5">{{ choice.code }}
                : {{ choice.label[questionnaireStateService.selectedLanguage()] }}</span>
            </span>
            }
          }
        </div>
      }
    </div>
  } @else {
    <div class="" [formGroup]="form">
      <label for="field_name" class="text-sm">{{ `${_prefix}.questionFieldNameLabel` | translate }} *</label>
      <mat-form-field class='small-input w-1/2' appearance="outline">
        <input matInput formControlName='field_name' required/>
        @if (form.controls.field_name?.errors; as errors) {
          <mat-error>
            @if (errors?.['required']) {
              {{ ValidatorError.requiredValidator | translate:{value: `${_prefix}.questionFieldNameLabel` | translate} }}
            }
          </mat-error>
        }
      </mat-form-field>

      <label for="field_type" class="text-sm">{{ `${_prefix}.questionFieldTypeLabel` | translate }} *</label>
      <mat-form-field class='small-input w-1/2' appearance="outline">
        <mat-select formControlName='field_type'>
          @for (type of QUESTION_TYPES; track type) {
            <mat-option [value]="type.name">{{ type.label }}</mat-option>
          }
        </mat-select>
        @if (form.controls.field_type?.errors; as errors) {
          <mat-error>
            @if (errors?.['pattern']) {
              {{ ValidatorError.normalTextValidator }}
            }
            @if (errors?.['required']) {
              {{ ValidatorError.requiredValidator | translate:{value: `${_prefix}.questionFieldTypeLabel` | translate} }}
            }
          </mat-error>
        }
      </mat-form-field>

      <div class="mb-4">
        <app-text-form-group formControlName="field_label"
                             [languages]="languages()"
                             label="Field Label"
                             [required]="true"
                             [textarea]="true"
                             [textareaAutosize]="true"/>
      </div>

      <div class="mb-4">
        <app-text-form-group formControlName="section_header"
                             [languages]="languages()"
                             label="Section Header"
                             [textarea]="true"
                             [textareaAutosize]="true"/>
      </div>

      @if (form.controls.select_choices_or_calculations; as select_choices_or_calculations) {
        <app-choices-form-array [formControl]="select_choices_or_calculations!"
                                [languages]="languages()"
                                [selectedLanguage]="questionnaireStateService.selectedLanguage()"/>
      }

      @if (form.controls.field_annotation; as field_annotation) {
        <app-annotation-form-group [formControl]="field_annotation!"/>
      }

      @if (form.controls.range; as range) {
        <app-range-form-group [formControl]="range!"/>
      }

      @if (form.controls.text_validation_type_or_show_slider_number; as text_validation_type_or_show_slider_number) {
        <div class="text-sm">
          <label
            for="text_validation_type_or_show_slider_number">{{ `${_prefix}.questionTextValidationLabel` | translate }}</label>
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="block"
            [formControl]="text_validation_type_or_show_slider_number!">
            @if (form.controls.field_type?.value === 'text') {
              <mat-radio-button [value]="''">{{ `${_prefix}.questionTextValidationText` | translate }}
              </mat-radio-button>
              <mat-radio-button [value]="'number'">{{ `${_prefix}.questionTextValidationNumber` | translate }}
              </mat-radio-button>
            } @else {
              <mat-radio-button [value]="'date_dmy'">{{ `${_prefix}.questionTextValidationDate` | translate }}
              </mat-radio-button>
              <mat-radio-button [value]="'datetime_dmy'">{{ `${_prefix}.questionTextValidationDateTime` | translate }}
              </mat-radio-button>
              <mat-radio-button [value]="'time'">{{ `${_prefix}.questionTextValidationTime` | translate }}
              </mat-radio-button>
              <mat-radio-button [value]="'duration'">{{ `${_prefix}.questionTextValidationDuration` | translate }}
              </mat-radio-button>
            }
          </mat-radio-group>
          <!--          <label for="text_validation_type_or_show_slider_number" class="text-sm">Text Type</label>-->
          <!--          <mat-form-field class='small-input' appearance="outline">-->
          <!--            <input id="text_validation_type_or_show_slider_number" matInput [formControl]='text_validation_type_or_show_slider_number'/>-->
          <!--          </mat-form-field>-->
        </div>
      }

      @if (form.controls.text_validation_type_or_show_slider_number?.value === 'number') {
        @if (form.controls.text_validation_min; as text_validation_min) {

          <label for="text_validation_min"
                 class="text-sm">{{ `${_prefix}.questionTextValidationMin` | translate }}</label>
          <mat-form-field class='small-input' appearance="outline">
            <input id="text_validation_max" matInput [formControl]='text_validation_min!'/>
          </mat-form-field>
        }

        @if (form.controls.text_validation_max; as text_validation_max) {
          <label for="text_validation_max"
                 class="text-sm">{{ `${_prefix}.questionTextValidationMax` | translate }}</label>
          <mat-form-field class='small-input' appearance="outline">
            <input id="text_validation_max" matInput [formControl]='text_validation_max!'/>
          </mat-form-field>
        }
      }


      @if (questionIndex() > 0) {
        <div class="flex">
          <label for="field_name" class="text-sm">{{ `${_prefix}.questionConditionalLogic` | translate }}</label>
          <mat-form-field class='small-input w-1/2' appearance="outline">
            <textarea matInput formControlName='branching_logic' rows="2"></textarea>
            <mat-error>
              @if (form.controls.branching_logic?.errors; as errors) {
                @if (errors?.['required']) {
                  {{ ValidatorError.requiredValidator | translate:{value: `${_prefix}.questionConditionalLogic` | translate} }}
                }
              }
            </mat-error>
          </mat-form-field>
          <button mat-icon-button color="primary" (click)="editConditionalLogic()">
            <mat-icon class="material-symbols-outlined">edit</mat-icon>
          </button>

        </div>
      }
      <!--        </div>-->
      <!--        @if (questionIndex > 0) {-->
      <!--        <app-branching-logic-form-group formControlName="branching_logic" />-->
      <!--        <mat-slide-toggle formControlName="branching_logic_enabled">Enable conditional logic</mat-slide-toggle>-->
      <!--        }-->
    </div>
  }
</div>

<!--{contacted-covid-positive} = 'No' or {date} > '2026-05-21' and {first-name} contains 'kl'-->
<!--"visibleIf": "{contacted-covid-positive} = 'No' or {date} > '2026-05-21' and {first-name} contains 'kl'",-->
<!--"visibleIf": "(({tested-covid-positive} = true or {contacted-covid-positive} = 'Yes') or ({symptoms} notempty and {symptoms} notcontains 'none'))",-->
