<div>
  @if (label() !== null) {
    <label for="project-name" class="text-sm">{{ label() | translate }}
      @if (required()) {
        *
      }
    </label>
  }
  <div class="flex">
    <div #editorContainer class="html-editor grow"></div>

    @if (picker()) {
      <div class="flex">
        <button mat-icon-button
                class="tiny"
                type="button"
                (click)="openQuestionPickerDialog()"
                [matTooltip]="'Insert question'">
          <mat-icon class="material-symbols-outlined">variable_insert</mat-icon>
        </button>
      </div>
    }
  </div>
</div>
