<!--<rb-detail-wrapper *ngIf="entity" [type]="type">-->
<!--  <rb-detail-element *ngFor="let property of PROPERTIES"-->
<!--                     [ngClass]="type === DetailType.TABLE ? property.showInTable + ':hidden': ''">-->
<!--    <ng-container label>{{ 'ADMIN.revision.' + property.name + '.label' | translate }}</ng-container>-->
<!--    <ng-container value [ngSwitch]="property.name">-->
<!--      <ng-container *ngSwitchCase="'timestamp'">-->
<!--        <rb-local-date [date]="entity['timestamp']" [format]="'long'"></rb-local-date>-->
<!--      </ng-container>-->
<!--      <ng-container *ngSwitchDefault>{{ entity[property.name] || '-' }}</ng-container>-->
<!--    </ng-container>-->
<!--  </rb-detail-element>-->
<!--</rb-detail-wrapper>-->
