@let configFields = config$ | async;

<mat-card class="rb-table-row" [class]="
    (updated() === entity().id ? 'bg-green-100! ' : '') +
    (expanded ? 'mb-2' : '')
  ">
  <div class="rb-table-main-row">
    @for (property of PROPERTIES; track property.name) {
      @if (configFields[property.name] !== false) {
<!--        @if (property.name === 'checkbox') {-->
<!--          <mat-checkbox color="primary" (click)="$event.stopPropagation()"-->
<!--                        (change)="$event ?  selection().toggle(entity()) : null"-->
<!--                        [checked]="selection().isSelected(entity())">-->
<!--            &lt;!&ndash;                  [aria-label]="checkboxLabel(entity)">&ndash;&gt;-->
<!--          </mat-checkbox>-->
<!--        } @else {-->
        <div [class]="property.tableClass + ' ' + property.width + ' ' + property.classes"
             [class.flex-1]="!property.width"
             [class.shrink-0]="!!property.width">

          @switch (property.name) {
            @case ('checkbox') {
              <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                            (change)="$event ?  selection().toggle(entity()) : null"
                            [checked]="selection().isSelected(entity())">
                <!--                  [aria-label]="checkboxLabel(entity)">-->
              </mat-checkbox>
            }
            @case ('login') {
              <a [routerLink]='[entity().login]' class="align-middle">
                <span class='font-bold text-primary dark:text-primary-dark'>{{ entity().login }}</span>
              </a>
              <rb-subject-status class="align-middle" [status]="entity().status" [type]="DetailType.TABLE"/>
            }
            @case ('externalId') {
              <p>
                <span class="text-gray-500">External ID: </span>
                <span class="font-bold">
              @if (entity().externalId) {
                @if (entity().externalLink) {
                  <a [href]='entity().externalLink' target='_blank'>{{ entity().externalId }}</a>
                } @else {
                  {{ entity().externalId }}
                }
              } @else {
                -
              }
            </span>
              </p>
              @if (configFields?.['personName'] !== false) {
                <p><span class="text-gray-500">Name: </span><span
                  class="font-bold">{{ entity().personName ?? '-' }}</span></p>
              }
              @if (configFields?.['dateOfBirth'] !== false) {
                <p><span class="text-gray-500">Date of birth: </span> <span class="font-bold"><rb-local-date
                  [date]="entity().dateOfBirth" [format]="'longDate'"/></span></p>
              }
            }
            @case ('dateOfBirth') {
              <rb-local-date [date]="entity().dateOfBirth" [format]="'mediumDate'"/>
            }
            @case ('group') {
              <rb-subject-group [group]="entity().group"/>
            }
            @case ('status') {
              <rb-subject-status [status]="entity().status"/>
            }
            @case ('sources') {
              <div class="grid grid-cols-[auto_auto_1fr] gap-2 items-center">
                @for (source of entity().sources; track source.id) {
                  <button (click)="openSourceDialog(entity(), source, 0)">
                    <span>{{ source.sourceTypeProducer }}_{{ source.sourceTypeModel }}
                      _{{ source.sourceTypeCatalogVersion }}</span>
                  </button>

                  <rb-tag colorClass="bg-green-500 text-white">
                    CONNECTED
                  </rb-tag>
                  <img src="assets/images/connectionStatus2.png" alt="logo" class="p-1 w-40 h-10 bg-neutral-200">
                }

                @for (source of mockSources; let i=$index; track source) {
                  <button (click)="openSourceDialog(entity(), source, i)">
                    <span class="cursor-pointer text-primary-color-500 font-bold">{{ source.name }}</span>
                  </button>
                  <span class="material-symbols-outlined {{source.color}}"
                        [matTooltip]="source.status">{{ source.icon }}</span>

                  <img src="assets/images/connectionStatus2.png" alt="logo" class="p-1 w-40 h-10 bg-neutral-200">
                  <!--                <img *ngIf="i === 0" src="assets/images/connectionStatusARMT{{j % 3 + 1}}.png" alt="logo" class="p-1 w-40 bg-neutral-200">-->
                  <!--                <img *ngIf="i === 2" src="assets/images/connectionStatusFitbit{{j % 3 + 1}}.png" alt="logo" class="p-1 w-40  bg-neutral-200">-->
                }
              </div>
            }
            @case ('actions') {
              <button mat-icon-button class="tiny" (click)="onExpansionClick($event)">
                <!--              (click)="$event.stopPropagation();">-->
                <!--      expandedElement() = expandedElement() === entity() ? null : entity()-->
                <span class="material-symbols-outlined text-xl!">
                  {{ expanded ? 'expand_less' : 'expand_more' }}
                          <!--          {{entity() !== expandedElement() ? 'expand_more' : 'expand_less'}}-->
                </span>
              </button>
              <!--      <ng-container *ngIf="entity">-->
              <rb-pair-app [entity]="entity()" [clients]="clients()" />
              <rb-pair-source [entity]="entity()" />
              <rb-discontinue [entity]="entity()" />
              <!--      (updateTrigger)="triggerUpdate($event)" />-->
              <button class="tiny" mat-icon-button
                      (click)='onAction(DialogMode.EDIT, entity())' color="primary">
                <span class="text-xl! text-primary material-symbols-outlined font-bold">edit</span>
              </button>
              <button class="tiny" mat-icon-button color="warn"
                      (click)='onAction(DialogMode.DELETE, entity())'>
                <span class="text-xl! material-symbols-outlined font-bold">delete</span>
              </button>

              <!--      <button mat-icon-button-->
                <!--              class="tiny mat-medium-icon-button"-->
                <!--              [matMenuTriggerFor]="menu"-->
                <!--              (click)="$event.stopPropagation();">-->
                <!--        <span class="text-xl! font-bold material-symbols-outlined">more_vert</span>-->
                <!--      </button>-->
                <!--      <mat-menu #menu="matMenu" class="*:p-0! text-base bg-white shadow-lg">-->
                <!--        <button class="hover:text-primary-color hover:bg-transparent! transition-all"-->
                <!--                mat-menu-item-->
                <!--                (click)='onAction(DialogMode.EDIT, entity())'>-->
                <!--                <span class="flex items-center gap-2">-->
                <!--                  <span class="text-xl text-primary-color-500 material-symbols-outlined font-bold">edit</span>-->
                <!--                  <span>{{ 'ADMIN.organization.edit' | translate }}</span>-->
                <!--                </span>-->
                <!--        </button>-->
                <!--        &lt;!&ndash;          <rb-pair-app [entity]="entity()" [projects]="projects" [clients]="clients"></rb-pair-app>&ndash;&gt;-->
                <!--        &lt;!&ndash;          <rb-pair-source [entity]="entity()" [projects]="projects" [clients]="clients"></rb-pair-source>&ndash;&gt;-->
                <!--        &lt;!&ndash;          <rb-discontinue [entity]="entity()" [projects]="projects" [clients]="clients" (updateTrigger)="triggerUpdate($event)"></rb-discontinue>&ndash;&gt;-->
                <!--        <button class="hover:text-red-500 hover:bg-transparent! transition-all tiny"-->
                <!--                mat-menu-item-->
                <!--                (click)='onAction(DialogMode.DELETE, entity())'>-->
                <!--              <span class="flex items-center gap-2">-->
                <!--                <span class="text-xl! text-red-500 material-symbols-outlined font-bold">delete</span>-->
                <!--                <span>{{ 'ADMIN.organization.delete' | translate }}</span>-->
                <!--              </span>-->
                <!--        </button>-->
                <!--      </mat-menu>-->
                <!--      </ng-container>-->
            }
            @default {
              {{ entity()[property.name] || '-' }}
            }
          }
        </div>
<!--        }-->
      }
    }
  </div>
  @if (isSourceClientsVisible) {
    <div class="flex flex-col justify-end items-end px-4">
      @for (sourceClient of sourceClients; track sourceClient.clientId) {
        <div class="flex items-center gap-2 p-2 border mb-1">
          <div class="w-24">
            <img class="w-16" [src]="thirdPartyLogos[sourceClient.sourceType]" alt="logo"/>
          </div>
          <div class="w-24">
            <rb-tag colorClass="bg-gray-100 text-gray-700">Unset</rb-tag>
          </div>

          <div class="w-72"><span>Dates:</span>20/11/2002 - 20/11/2003</div>

          <div class="w-20 flex items-center justify-end gap-2">
            <button mat-icon-button class="mat-small-icon-button" color="primary"
                    (click)="onAuthorizationAction(DialogMode.ADD, entity(), undefined)"><span
              class="material-symbols-outlined">add_link</span></button>
          </div>
        </div>
      }
    </div>
  }

  <div class="rb-table-extension-row" [@detailExpand]="expanded ? 'expanded' : 'collapsed'">
    <rb-subject-details class="py-4" [entity]='entity()' [type]="DetailType.TABLE" [config]="configFields" />
  </div>
</mat-card>

