<div [formGroup]="form" class="grid grid-cols-1 min-w-[500px] w-1/2 mx-auto">

  <mat-slide-toggle formControlName='github' class="my-4" color="primary">
    {{ 'ADMIN.protocol.dialog.questionGroup.githubLabel' | translate }}
  </mat-slide-toggle>

  @if (githubValueChanges()) {
    <p class="text-base">{{ 'ADMIN.protocol.dialog.questionGroup.githubPropertiesLabel' | translate }}</p>
    <div class="mb-2" [formGroup]="form.controls.questionnaire">
      <div>
        <label for="questionnaire-name" class="text-sm">
          {{ 'ADMIN.protocol.dialog.questionGroup.questionnaireNameLabel' | translate }} *
        </label>
        <mat-form-field class='small-input w-full' appearance='outline' subscriptSizing="dynamic">
          <input id="questionnaire-name" matInput formControlName='name' required/>
          @if (form.controls.questionnaire.controls.name.errors; as errors) {
            <mat-error>
              @if (errors?.['pattern']) {
                {{ ValidatorError.normalTextValidator }}
              }
              @if (errors?.['required']) {
                {{ ValidatorError.requiredValidator | translate:{value: 'ADMIN.protocol.dialog.questionGroup.questionnaireNameLabel' | translate} }}
              }
            </mat-error>
          }
        </mat-form-field>
      </div>

      <div>
        <label for="questionnaire-repository" class="text-sm">
          {{ 'ADMIN.protocol.dialog.questionGroup.questionnaireRepositoryLabel' | translate }} *
        </label>
        <mat-form-field class='small-input w-full' appearance='outline' subscriptSizing="dynamic">
          <input id="questionnaire-repository" matInput formControlName='repository' required/>
          @if (form.controls.questionnaire.controls.repository.errors; as errors) {
            <mat-error>
              @if (errors?.['pattern']) {
                {{ ValidatorError.normalTextValidator }}
              }
              @if (errors?.['required']) {
                {{ ValidatorError.requiredValidator | translate:{value: 'ADMIN.protocol.dialog.questionGroup.questionnaireRepositoryLabel' | translate } }}
              }
            </mat-error>
          }
        </mat-form-field>
      </div>
    </div>
    <mat-divider class="my-2!"/>

  } @else {

    <div>
      <label for="appQuestionnaire" class="text-sm">
        {{ 'ADMIN.protocol.dialog.questionGroup.appQuestionnaireLabel' | translate }} *
      </label>
      <mat-form-field class='small-input w-full'
                      appearance='outline' subscriptSizing="dynamic">
        <mat-hint align="start">{{ ValidatorHint.normalTextValidator }}</mat-hint>
        <mat-select id="appQuestionnaire" formControlName='appQuestionnaire' [required]="!githubValueChanges()">
          @for (q of questionnaires | async; track q.name) {
            <mat-option [value]="q.name">{{q.name}}</mat-option>
          }
        </mat-select>
        @if (form.controls.appQuestionnaire.errors; as errors) {
          <mat-error>
            @if (errors?.['required']) {
              {{ ValidatorError.requiredValidator | translate:{value: 'ADMIN.protocol.dialog.questionGroup.appQuestionnaireLabel' | translate} }}
            }
          </mat-error>
        }
      </mat-form-field>
    </div>

  }

  <div>
    <label for="estimatedCompletionTime" class="text-sm">
      {{ 'ADMIN.protocol.dialog.questionGroup.estimatedCompletionTimeLabel' | translate }}
    </label>
    <mat-form-field class='small-input w-full'
                    appearance='outline'>
      <mat-hint align="start">{{ ValidatorHint.normalTextValidator }}</mat-hint>
      <input id="estimatedCompletionTime" matInput type="number" formControlName='estimatedCompletionTime'/>
      <span matSuffix class="mx-4 text-neutral-500 dark:text-neutral-400">
        {{ 'ADMIN.protocol.dialog.questionGroup.minutes' | translate }}
      </span>
    </mat-form-field>
  </div>

</div>
