@let selectedLanguage = questionnaireStateService.selectedLanguage();

<mat-radio-group aria-label="Select an option" [value]="answer()?.value">
  @for (option of question().select_choices_or_calculations; track option.code) {
    <div>
      <mat-radio-button [value]="option.code" (click)="onInputChange(option.code)" [disabled]="isDisabled">
        <span class="ion-text-wrap" [innerHtml]="option.label[selectedLanguage] | replacePlaceholders"></span>
      </mat-radio-button>
    </div>
  }
</mat-radio-group>
@if (!isDisabled) {
  <button matButton class="m-4" (click)="onReset()" color="danger" size="small">
    Clear
  </button>
}

<!--<ion-radio-group [value]="answer()?.value">-->
<!--    @for (option of question().select_choices_or_calculations; track option.code) {-->
<!--    <ion-item>-->
<!--      <ion-radio [value]="option.code" (click)="onInputChange(option.code)" [disabled]="isDisabled">-->
<!--        <span class="ion-text-wrap" [innerHtml]="option.label | replacePlaceholders"></span>-->
<!--      </ion-radio>-->
<!--    </ion-item>-->
<!--    }-->
<!--  </ion-radio-group>-->
<!--@if (!isDisabled) {-->
<!--  <ion-button class="m-4" (click)="onReset()" color="danger" size="small">-->
<!--    Clear-->
<!--  </ion-button>-->
<!--}-->
