<div class="flex items-center flex-wrap gap-2 mt-1">
  @for (sourceType of showAll ? sourceTypes() : sourceTypes().slice(0, 5); track sourceType.id) {
    <app-tag class="bg-primary/10 text-primary" (click)="$event.stopPropagation()"
            [link]='["/admin/source-types", sourceType.producer, sourceType.model, sourceType.catalogVersion]'>
      {{ sourceType.producer }}_{{ sourceType.model }}_{{ sourceType.catalogVersion }}
    </app-tag>
  } @empty {
    -
  }

  @if (sourceTypes().length > 5) {
    @if (!showAll) {
      <span>...</span>
    }
    <button mat-stroked-button class="app-button-small" color="tertiary" (click)="toggleView($event, showAll)">
      @if (!showAll) {
        {{ 'ADMIN.project.viewAll' | translate: {count: sourceTypes().length} }}
      } @else {
        {{ 'ADMIN.project.viewLess' | translate }}
      }
    </button>
  }
</div>
