@let _prefix = 'ADMIN.questionnaire.dialog';

<form [formGroup]='form' novalidate class="grid grid-cols-2 gap-4">
  <div>
    <div class="">
      <label for="name" class="text-sm">{{ `${_prefix}.nameLabel` | translate }} *</label>
      <mat-form-field class='small-input' appearance='outline'>
        <input matInput formControlName='name' required>
        <mat-error>
          @if (form.controls.name.errors; as errors) {
            @if (errors['required']) {
              {{ ValidatorError.requiredValidator | translate: {value: `${_prefix}.nameLabel` | translate} }}
            }
            @if (errors['duplicate']) {
              {{ ValidatorError.duplicateValidator | translate: {value: `${_prefix}.nameLabel` | translate} }}
            }
            @if (errors['pattern']) {
              {{ ValidatorError.stringIdValidator | translate: {value: `${_prefix}.nameLabel` | translate} }}
            }
          }
        </mat-error>
      </mat-form-field>
    </div>

    <div class="">
      <app-mat-select-autocomplete formControlName="defaultLanguage"
                                   [options]="ISO_LANGUAGES"
                                   [label]="`${_prefix}.defaultLanguageLabel` | translate"
                                   [required]="true"
                                   [multiple]="false"/>
    </div>

    <div class="mb-4">
      {{entity()?.title | json}}
      <app-text-form-group [languages]="languages"
                           [language]="form.controls.defaultLanguage.value"
                           [label]="`${_prefix}.titleLabel` | translate"
                           [textGroup]="form.controls.title"
                           [value]="entity()?.title"/>
    </div>

    <div class="mb-4">
      <app-text-form-group [languages]="languages"
                           [language]="form.controls.defaultLanguage.value"
                           [label]="`${_prefix}.descriptionLabel` | translate"
                           [textarea]="true"
                           [textareaAutosize]="true"
                           [textGroup]="form.controls.description"
                           [value]="entity()?.description"/>
    </div>
  </div>

  <!--  <div>-->
  <!--    <div class="">-->
  <!--      <div>-->
  <!--        <label for="order" class="text-sm">-->
  <!--          {{ `${_prefix}.orderLabel` | translate }}-->
  <!--        </label>-->
  <!--        <mat-form-field class='small-input' appearance='outline' subscriptSizing="fixed">-->
  <!--          <input id="order" matInput type="number" formControlName='order'>-->
  <!--        </mat-form-field>-->
  <!--      </div>-->
  <!--    </div>-->

  <!--    <mat-slide-toggle formControlName='onDemand' class="mb-4" color="primary">-->
  <!--      {{ `${_prefix}.onDemandLabel` | translate }}-->
  <!--    </mat-slide-toggle>-->

  <!--    <mat-slide-toggle formControlName='showInCalendar' class="mb-4" color="primary">-->
  <!--      {{ `${_prefix}.showInCalendarLabel` | translate }}-->
  <!--    </mat-slide-toggle>-->

  <!--    <mat-slide-toggle formControlName='isDemo' class="mb-4 text-sm" color="primary">-->
  <!--      {{ `${_prefix}.isDemoLabel` | translate }}-->
  <!--    </mat-slide-toggle>-->
  <!--  </div>-->

</form>
