<rb-entities-page-header [showTitle]="true"
                         [entityName]="$name()"
                         [isGridView]="$gridViewEnabled() ? gridView : undefined"
                         [permission]="[{role: ROLES.SYS_ADMIN}]"
                         (action)="onAction(DialogMode.ADD)"
                         (gridListToggled)="gridView = !gridView">
  @if ($filters().length && $entities() && $entities().length > MIN_ENTITIES_FOR_FILTERS) {
    <rb-data-table-filter bottom-filter
                          [filters]='$filters()'
                          [filterOpened]='isFilterOpened'
                          (filterChanged)='handleFilterChange($event)'
                          (filterEnableChanged)="onFilterEnabledChanged($event)" />
  }
</rb-entities-page-header>

@if ($loading()) {
  <rb-loader />
}

<!--@if (!gridView) {-->
<div class="rb-table" [class]="$gridViewEnabled() && gridView ? 'hidden!' : ''"
     rbTableQueryReflector
     [page]="$page()"
     [sort]="$sort()"
     [defaultSort]="{sortField: 'id', sortOrder: 'desc'}"
     (activeQueryParams)="handleActiveQueryChange($event)"
     (dialogQueryParams)="onAction($event.mode, undefined, $event.id, undefined )">

  @if($entitiesToShow().length) {
    <div class="rb-table-header">
      @for (property of tableProperties(); track property.name) {
        <div [class]="property.tableClass + ' ' + property.width + ' ' + property.classes"
             [class.flex-1]="!property.width"
             [class.shrink-0]="!!property.width">
          <button class="rb-table-head group" (click)="switchSort(property)">
            <span>{{ 'ADMIN.' + $name() + '.' + property.name + '.tableLabel' | translate }}</span>
            @if (property.sortable) {
              <div class="rb-table-sort" [class.opacity-0]="$sort().sortField !== property.name">
                  <span class="rb-sort-icon material-symbols-outlined">
                    {{ $sort().sortField === property.name && $sort().sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward'}}
                  </span>
              </div>
            }
          </button>
        </div>
      }
      <div class='w-20'>
        <span>{{ 'ADMIN.' + $name() + '.actions' | translate }}</span>
      </div>
    </div>
  }

  @if ($entitiesToShow()) {
    @for (entity of $entitiesToShow(); track entity.id) {
      @switch ($name()) {
        @case ("organization") {
                <rb-organization-table-row [entity]="entity"
                                             [updated]="$updated()"
                                             (actionEvent)="onAction($event.mode, $event.entity, undefined)"/>
<!--                                             [expandedElement]="$expandedElement()"-->
        }
        @case ("project") {
                  <rb-project-table-row [entity]="entity"
                                        [updated]="$updated()"
                                          (actionEvent)="onAction($event.mode, $event.entity, undefined)"/>
        }
        @case ("sourceData") {
          <rb-source-data-table-row [entity]="entity"
                                [updated]="$updated()"
                                (actionEvent)="onAction($event.mode, $event.entity, undefined)"/>
<!--                                [expandedElement]="$expandedElement()"-->
        }
        @case ("sourceType") {
          <rb-source-type-table-row [entity]="entity"
                                [updated]="$updated()"
                                (actionEvent)="onAction($event.mode, $event.entity, undefined)"/>
<!--                                [expandedElement]="$expandedElement()"-->
        }
        @case ("user") {
          <rb-user-table-row [entity]="entity"
                                    [updated]="$updated()"
                                    (actionEvent)="onAction($event.mode, $event.entity, undefined)"/>
<!--                                    [expandedElement]="$expandedElement()"-->
        }
        @case ("subject") {
          <rb-subject-table-row [entity]="entity" [selection]="$selection()"
                             [updated]="$updated()"
                             (actionEvent)="onAction($event.mode, $event.entity, undefined)"/>
          <!--                                    [expandedElement]="$expandedElement()"-->
        }
        @case ("group") {
          <rb-group-table-row [entity]="entity"
                                [updated]="$updated()"
                                (actionEvent)="onAction($event.mode, $event.entity, undefined)"/>
          <!--                                    [expandedElement]="$expandedElement()"-->
        }
        @case ("source") {
          <rb-source-table-row [entity]="entity"
                              [updated]="$updated()"
                              (actionEvent)="onAction($event.mode, $event.entity, undefined)"/>
          <!--                                    [expandedElement]="$expandedElement()"-->
        }
        @case ("log") {
          <rb-log-table-row [entity]="entity"
                               [updated]="$updated()"
                               (actionEvent)="onAction($event.mode, $event.entity, undefined)"/>
          <!--                                    [expandedElement]="$expandedElement()"-->
        }
        @case ("audit") {
          <rb-audit-table-row [entity]="entity"
                               [updated]="$updated()"
                               (actionEvent)="onAction($event.mode, $event.entity, undefined)"/>
          <!--                                    [expandedElement]="$expandedElement()"-->
        }
        @case ("client") {
          <rb-client-table-row [entity]="entity"
                              [updated]="$updated()"
                              (actionEvent)="onAction($event.mode, $event.entity, undefined)"/>
          <!--                                    [expandedElement]="$expandedElement()"-->
        }
      }

    }
  }
</div>
<!--}-->
<!--{{gridView}}-->
@if ($entitiesToShow()) {
  <!--  //} && gridView) {-->
  <div class="grid-container" [class]="!$gridViewEnabled() || !gridView ? 'hidden!' : ''">
    @for (entity of $entitiesToShow(); track entity.id) {
      @switch ($name()) {
        @case ("organization") {
          <rb-organization-card [entity]="entity"
                                  [updated]="$updated()"
                                  (actionEvent)="onAction($event.mode, $event.entity)" />
        }

        @case ("project") {
          <rb-project-card [entity]="entity"
                            [updated]="$updated()"
                            (actionEvent)="onAction($event.mode, $event.entity)" />
        }
      }

    }
  </div>
}

<div class="flex items-center px-4 text-sm">
  @if (!$entities()?.length) {
    <span>{{ 'ADMIN.' + $name() + '.noItemFound' | translate }}</span>
  }
  @if ($entities()?.length && !$entitiesToShow()?.length) {
    <span>{{ 'No item found with this filter' | translate }}</span>
  }
</div>

@if ($filters().length && $entities() && $entities().length > MIN_ENTITIES_FOR_PAGINATION) {
  <mat-paginator (page)="switchPage($event)"
                 [length]="$filteredAndSortedEntities().length"
                 [pageSize]="$page().pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 [pageIndex]="$page().pageIndex"
                 aria-label="Select page" />
}
