<app-details [entityMetadata]="configService.getEntityMetadata()"
            [entity]="entity()"
            [tableFields]="configService.getTableFields()"
            [detailType]="detailType()"
            [customTemplate]="detailsTemplate"/>

<ng-template #detailsTemplate let-property>
  @switch (property.name) {
    @case ('checkbox') {}
    @case ('dateOfBirth') {
      <app-local-date [date]="entity()['dateOfBirth']" [format]="'mediumDate'"/>
    }
    @case ('status') {
      <app-subject-status [detailType]="detailType()" [status]="entity()['status']"/>
    }
    @case ('group') {
      <app-subject-group [group]="entity()['group']"/>
    }
    @case ('sources') {
      @if (entity().sources && entity().sources?.length) {
        @for (source of entity().sources; track source.sourceName) {
          <app-tag class="bg-primary/10 text-primary">{{ source.sourceName }}</app-tag>
        }
      } @else {
        -
      }
    }
    @case ('attributes') {
      <div>
        @if (entity().attributes && (entity().attributes | keyvalue)?.length) {
          @for (attribute of entity().attributes | keyvalue; track attribute.key) {
            <div class="flex flex-wrap gap-1 border-b border-neutral-200 py-1">
              <span class="w-40">{{ attribute.key }}</span><span>{{ attribute.value || '-' }}</span>
            </div>
          }
        } @else {
          -
        }
      </div>
    }
    @case ('enrollmentDate') {
      <app-local-date [date]="entity()['enrollmentDate']" [format]="'long'"/>
    }
    @case ('createdBy') {
      @if (entity().createdBy && entity().createdBy !== 'system') {
        <app-tag>
          <a [routerLink]='["/admin/users", entity().createdBy]'>
            {{ entity().createdBy || '-' }}
          </a>
        </app-tag>
      } @else {
        <span class="uppercase">{{ entity().createdBy || '-' }}</span>
      }
    }
    @case ('createdDate') {
      <app-local-date [date]="entity()['createdDate']" [format]="'long'"/>
    }
    @case ('lastModifiedBy') {
      @if (entity().lastModifiedBy && entity().lastModifiedBy !== 'system') {
        <app-tag>
          <a [routerLink]='["/admin/users", entity().lastModifiedBy]'>
            {{ entity().lastModifiedBy || '-' }}
          </a>
        </app-tag>
      } @else {
        <span class="uppercase">{{ entity().lastModifiedBy || '-' }}</span>
      }
    }
    @case ('lastModifiedDate') {
      <app-local-date [date]="entity()['lastModifiedDate']" [format]="'long'"/>
    }
    @default {
      {{ $any(entity())[property.name] || '-' }}
    }
  }
</ng-template>
