@let _prefix = "ADMIN.sourceData";

<app-dialog-title [dialogMode]='dialogData.mode'
                  [entityMetadata]="configService.getEntityMetadata()"
                  [entityName]="dialogData.entity?._name"
                  (closeEvent)='close()'/>

<mat-dialog-content>
  @if (dialogData.mode === DialogMode.VIEW || dialogData.mode === DialogMode.DELETE) {
    <app-dialog-body-description [dialogMode]="dialogData.mode"
                                 [label]="`${_prefix}.title.singular` | translate"
                                 [entityName]="dialogData.entity?.sourceDataName"/>
  }

  @if (dialogData.mode === DialogMode.ADD || dialogData.mode === DialogMode.EDIT) {
    <form [formGroup]="form" novalidate autocomplete="off">
      @if (dialogData.mode !== DialogMode.ADD) {
        <label for="source-data-id" class="text-sm">{{ `${_prefix}.id.label` | translate }}</label>
        <mat-form-field subscriptSizing="fixed" appearance="fill">
          <input id="source-data-id" matInput formControlName='id'>
        </mat-form-field>
      }

      <label for="source-data-type" class="text-sm">{{ `${_prefix}.sourceDataType.label` | translate  }} *</label>
      <mat-form-field subscriptSizing="fixed" appearance="outline">
        <input matInput formControlName='sourceDataType' required id="source-data-type"
               autocomplete="off" data-lpignore="true">
        @if (form.controls.sourceDataType.errors?.['pattern']) {
          <mat-error>{{ ValidatorError.normalTextValidator }}</mat-error>
        }
        @if (form.controls.sourceDataType.errors?.['required']) {
          <mat-error>
            {{ValidatorError.requiredValidator | translate: {value:`${_prefix}.sourceDataType.label` | translate } }}
          </mat-error>
        }
      </mat-form-field>

      @if (dialogData.sourceTypeFullList | async; as sourceTypes) {
        <app-mat-select-autocomplete formControlName='sourceType'
                                     [label]="`${_prefix}.sourceType.label` | translate"
                                     [options]='sourceTypes'
                                     [required]="true" />
      }

      <label for="source-data-name" class="text-sm">{{ `${_prefix}.sourceDataName.label` | translate  }} *</label>
      <mat-form-field subscriptSizing="fixed" appearance="outline">
        <input matInput formControlName='sourceDataName' required id="source-data-name"
               autocomplete="off" data-lpignore="true">
        @if (form.controls.sourceDataName.errors?.['required']) {
          <mat-error>
            {{ValidatorError.requiredValidator | translate: {value:`${_prefix}.sourceDataName.label` | translate } }}
          </mat-error>
        }
      </mat-form-field>

      @if (!formFields || formFields['processingState'] === undefined || formFields['processingState']) {
        <label for="processing-state" class="text-sm">
          {{ `${_prefix}.processingState.label` | translate  }}
        </label>
        <mat-form-field subscriptSizing="fixed" appearance="outline">
          <mat-select formControlName='processingState'>
            <mat-option [value]='ProcessingState.RAW'>
              {{ `${_prefix}.processingState.RAW` | translate }}
            </mat-option>
            <mat-option [value]='ProcessingState.DERIVED'>
              {{ `${_prefix}.processingState.DERIVED` | translate }}
            </mat-option>
            <mat-option [value]='ProcessingState.VENDOR'>
              {{ `${_prefix}.processingState.VENDOR` | translate }}
            </mat-option>
            <mat-option [value]='ProcessingState.RADAR'>
              {{ `${_prefix}.processingState.RADAR` | translate  }}
            </mat-option>
            <mat-option [value]='ProcessingState.UNKNOWN'>
              {{ `${_prefix}.processingState.UNKNOWN` | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      }

<!--      @if (!formFields || formFields['topic'] === undefined || formFields['topic']) {-->
        <label for="topic" class="text-sm">{{ `${_prefix}.topic.label` | translate  }}</label>
        <mat-form-field subscriptSizing="fixed" appearance="outline">
          <input matInput formControlName='topic' id="topic"
                 autocomplete="off" data-lpignore="true">
        </mat-form-field>
<!--      }-->

<!--      @if (!formFields || formFields['keySchema'] === undefined || formFields['keySchema']) {-->
        <label for="key-schema" class="text-sm">
          {{ `${_prefix}.keySchema.label` | translate }}
        </label>
        <mat-form-field subscriptSizing="fixed" appearance="outline">
          <input matInput formControlName='keySchema' id="key-schema"
                 autocomplete="off" data-lpignore="true">
        </mat-form-field>
<!--      }-->

<!--      @if (!formFields || formFields['valueSchema'] === undefined || formFields['valueSchema']) {-->
        <label for="value-schema" class="text-sm">
          {{ `${_prefix}.valueSchema.label` | translate  }}
        </label>
        <mat-form-field subscriptSizing="fixed" appearance="outline">
          <input matInput formControlName='valueSchema' id="value-schema"
                 autocomplete="off" data-lpignore="true">
        </mat-form-field>
<!--      }-->

<!--      @if (!formFields || formFields['frequency'] === undefined || formFields['frequency']) {-->
        <label for="frequency" class="text-sm">
          {{ `${_prefix}.frequency.label` | translate }}
        </label>
        <mat-form-field subscriptSizing="fixed" appearance="outline">
          <input matInput formControlName='frequency' id="frequency"
                 autocomplete="off" data-lpignore="true">
        </mat-form-field>
<!--      }-->

<!--      @if (!formFields || formFields['unit'] === undefined || formFields['unit']) {-->
        <label for="unit" class="text-sm">{{ `${_prefix}.unit.label` | translate  }}</label>
        <mat-form-field subscriptSizing="fixed" appearance="outline">
          <input matInput formControlName='unit' id="unit"
                 autocomplete="off" data-lpignore="true">
        </mat-form-field>
<!--      }-->
    </form>
  }
</mat-dialog-content>

@if (error()) {
  <app-error-message-box>
    {{ error()?.error.errorCode | translate }} <br>
  </app-error-message-box>
}

<app-dialog-actions [dialogMode]='dialogData.mode'
                    [form]='form'
                    (actionTriggered)='onAction($event)'/>
