<app-entity-details [entityMetadata]="configService.getEntityMetadata()"
            [tableFields]="configService.getTableFields()"
            [detailType]="detailType()"
            [customTemplate]="detailsTemplate" />

<ng-template #detailsTemplate let-property>
  @if (entity(); as _entity) {
  @switch (property.name) {
    @case ('sourceType') {
      <app-source-data-source-type [sourceType]="_entity.sourceType"/>
    }
    @case ('processingState') {
      <app-source-data-processing-state [processingState]="_entity.processingState"/>
    }
    @default {
      {{ $any(_entity)[property.name] || '-' }}
    }
  }
  }
</ng-template>
