<!--<p class="p-4">Config page</p>-->
<rb-entities-page-header [showTitle]="true"
                         [entityName]="name"
                         (action)="onAction(DialogMode.ADD)">
  <div extra-buttons class="flex items-center gap-2">
    <input type="file" class="hidden"
           onclick="this.value = null"
           (change)="onFileSelected($event)" #fileImport>
    <button (click)="fileImport.click()" mat-stroked-button color="primary"
            type="button">
      <span class="font-bold flex items-center gap-2">
        <span class="material-symbols-outlined font-bold">download</span>
        Import
      </span>
    </button>
    <a [href]="downloadJsonHref" mat-stroked-button color="primary"
       [download]="'app-config-' + clientId + '-' + (projectName || '') +'-export.json'"
       type="button">
        <span class="font-bold flex items-center gap-2">
          <span class="material-symbols-outlined font-bold">upload</span>
          Export
        </span>
    </a>
  </div>
</rb-entities-page-header>

@if (form) {
  <form class="px-4 pt-4" [formGroup]='form' novalidate>
    @if (clientId === 'pRMT') {
      <mat-form-field class='w-1/3! small-input'
                      appearance='outline'
                      subscriptSizing="dynamic"
                      floatLabel='always'>
        <mat-label>Config Category</mat-label>
        <mat-select formControlName='category' placeholder="Select a config category">
          <mat-option [value]="'general'">General</mat-option>
          <mat-option [value]="'measurements'">Therapist App - Measurements</mat-option>
          <mat-option [value]="'feedbackConfig'">Therapist App - Feedback</mat-option>
        </mat-select>
      </mat-form-field>
    }
    @if (clientId === 'aRMT') {
      <mat-form-field class='small-input'
                      subscriptSizing="fixed"
                      appearance='outline'
                      floatLabel='always'>
        <mat-label>Config Category</mat-label>
        <mat-select formControlName='category' placeholder="Select a config category">
          <mat-option [value]="'general'">General</mat-option>
          <mat-option [value]="'protocols'">Protocols</mat-option>
          <mat-option [value]="'questionnaires'">Questionnaires</mat-option>
        </mat-select>
      </mat-form-field>
    }
  </form>
}
@if (isChanged) {
  <rb-config-publish (updateTrigger)="triggerUpdate($event)" [entity]="entities"/>
}

<div class="p-4">
  @if (filters.length && entities && entities.length > MIN_ENTITIES_FOR_FILTERS) {
    <rb-data-table-filter [filters]='filters'
                          [filterOpened]='isFilterOpened'
                          (filterChanged)='handleFilterChange($event)'
                          (filterEnableChanged)="onFilterEnabledChanged($event)"/>
  }
  <!--<rb-data-table-filter *ngIf='filters.length'-->
  <!--                      [filters]='filters'-->
  <!--                      [filterOpened]='isFilterOpened'-->
  <!--                      (filterChanged)='handleFilterChange($event)'-->
  <!--                      (filterEnableChanged)="onFilterEnabledChanged($event)">-->
  <!--</rb-data-table-filter>-->
</div>

@if (loading) {
  <rb-loader/>
}

<div class="rb-table"
     rbTableQueryReflector
     [page]="page"
     [sort]="sort"
     [defaultSort]="{sortField: 'name', sortOrder: 'asc'}"
     (activeQueryParams)="handleActiveQueryChange($event)"
     (dialogQueryParams)="onAction($event.mode, undefined, $event.id, undefined )">
  <div class="rb-table-header  mat-app-background">
    @for (property of PROPERTIES; track property.name) {
      <div [class]="property.tableClass + ' ' + property.width + ' ' + property.classes"
           [class.flex-1]="!property.width"
           [class.shrink-0]="!!property.width">
        <button class="rb-table-head group" (click)="switchSort(property)">
          <span>{{ 'ADMIN.' + name + '.' + property.name + '.tableLabel' | translate }}</span>
          @if (property.sortable) {
            <div class="rb-table-sort" [class.opacity-0]="sort.sortField !== property.name">
              <span class="rb-sort-icon material-symbols-outlined">
                {{ sort.sortField === property.name && sort.sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward' }}
              </span>
            </div>
          }
        </button>
      </div>
    }
    <!--    <div class='w-20'>-->
    <!--      <span>{{ 'ADMIN.' + name + '.actions' | translate }}</span>-->
    <!--    </div>-->
  </div>

<!--  {{entitiesToShow | json}}-->
  @if (entitiesToShow) {
    @for (entity of entitiesToShow; track entity.id) {
      <rb-config-table-row [entity]="entity" [projectId]="projectName" [updated]="updated" (actionEvent)="onAction($event.mode, $event.entity, undefined)"/>
<!--      <div class="rb-table-row" [class]="updated === entity.id ? 'bg-green-100!' : ''">-->
<!--        <div class="rb-table-main-row">-->
<!--          @for (property of PROPERTIES; track property.name) {-->
<!--            <div [class]="property.tableClass + ' ' + property.width + ' ' + property.classes"-->
<!--                 [class.flex-1]="!property.width"-->
<!--                 [class.shrink-0]="!!property.width">-->
<!--              @switch (property.name) {-->
<!--                @case ('value') {-->
<!--                  @if (projectName) {-->
<!--                    <div>-->
<!--                      &lt;!&ndash;              {{entity | json}}&ndash;&gt;-->
<!--                      <div class="font-bold">{{ entity["value"] }}</div>-->
<!--                      &lt;!&ndash;              <div class="font-bold text-gray-400" *ngIf="entity['default']"><span class="uppercase font-bold text-neutral-400">Default</span> {{ entity["default"] || '-' }} (Default - {{ entity["scope"] || '-' }})</div>&ndash;&gt;-->
<!--                      @if (entity['default']) {-->
<!--                        <div class="font-bold text-gray-400"><span class="uppercase text-xs font-bold text-neutral-300">[Default]</span> {{ entity["default"] || '-' }}-->
<!--                        </div>-->
<!--                      } @else {-->
<!--                        <div class="font-bold text-gray-400">No default value</div>-->
<!--                      }-->
<!--                      &lt;!&ndash;              <div class="font-bold text-gray-400">Default ({{ entity["scope"] || '-' }}):</div>&ndash;&gt;-->
<!--                    </div>-->
<!--                  } @else {-->

<!--                    <span>{{ entity["value"] }}</span>-->
<!--                  }-->
<!--                }-->
<!--                @default {-->
<!--                  {{ entity[property.name] || '-' }}-->

<!--                }-->
<!--              }-->
<!--            </div>-->
<!--          }-->
<!--          <div class='w-20'>-->
<!--            &lt;!&ndash;          <button mat-icon-button class="mat-small-icon-button"&ndash;&gt;-->
<!--            &lt;!&ndash;                  (click)="$event.stopPropagation(); expandedElement = expandedElement === entity ? null : entity">&ndash;&gt;-->
<!--            &lt;!&ndash;          <span class="material-symbols-outlined">&ndash;&gt;-->
<!--            &lt;!&ndash;            {{entity !== expandedElement ? 'expand_more' : 'expand_less'}}&ndash;&gt;-->
<!--            &lt;!&ndash;          </span>&ndash;&gt;-->
<!--            &lt;!&ndash;          </button>&ndash;&gt;-->
<!--            &lt;!&ndash;          <button class="mat-small-icon-button"&ndash;&gt;-->
<!--            &lt;!&ndash;                  mat-icon-button color="primary"&ndash;&gt;-->
<!--            &lt;!&ndash;                  (click)='onAction(DialogMode.EDIT, entity, undefined)'>&ndash;&gt;-->
<!--            &lt;!&ndash;            <span class="material-symbols-outlined">edit</span>&ndash;&gt;-->
<!--            &lt;!&ndash;          </button>&ndash;&gt;-->
<!--            &lt;!&ndash;          <button class="mat-small-icon-button" mat-icon-button color="warn"&ndash;&gt;-->
<!--            &lt;!&ndash;                  (click)='onAction(DialogMode.DELETE, entity, undefined)'>&ndash;&gt;-->
<!--            &lt;!&ndash;            <span class="material-symbols-outlined">delete</span>&ndash;&gt;-->
<!--            &lt;!&ndash;          </button>&ndash;&gt;-->

<!--            <button class="mat-small-icon-button" mat-icon-button color="primary"-->
<!--                    (click)='onAction(DialogMode.EDIT, entity, undefined)'>-->
<!--              <span class="material-symbols-outlined">edit</span>-->
<!--            </button>-->
<!--            @if (projectName && entity['default']) {-->
<!--              <button class="mat-small-icon-button" mat-icon-button color="primary"-->
<!--                      [disabled]="entity['value'] === entity['default']"-->
<!--                      (click)='onAction(DialogMode.EDIT, entity, undefined)'>-->
<!--                <span class="font-bold material-symbols-outlined">undo</span>-->
<!--              </button>-->
<!--            } @else {-->
<!--              <button class="mat-small-icon-button" mat-icon-button color="warn"-->
<!--                      (click)='onAction(DialogMode.DELETE, entity, undefined)'>-->
<!--                <span class="material-symbols-outlined">delete</span>-->
<!--              </button>-->
<!--            }-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="rb-table-extension-row"-->
<!--             [@detailExpand]="entity === expandedElement ? 'expanded' : 'collapsed'"></div>-->
<!--      </div>-->
    }
  }
</div>

<div class="flex items-center px-4 text-sm">
  @if (!entities?.length) {
    <span>{{ 'ADMIN.' + name + '.noItemFound' | translate }}</span>
  }
  @if (entities?.length && !entitiesToShow?.length) {
    <span>{{ 'No item found with this filter' | translate }}</span>
  }
</div>

<!--<div class="flex items-center px-4 text-sm">-->
<!--  <span *ngIf="!entities?.length" >{{ 'ADMIN.' + name + '.noItemFound' | translate }}</span>-->
<!--  <span *ngIf="entities?.length && !entitiesToShow?.length">{{ 'No item found with this filter' | translate }}</span>-->
<!--</div>-->
@if (entities && entities.length > MIN_ENTITIES_FOR_PAGINATION) {
  <mat-paginator (page)="switchPage($event)"
                 [length]="filteredAndSortedEntities.length"
                 [pageSize]="page.pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 [pageIndex]="page.pageIndex"
                 aria-label="Select page"/>
}
<!--  -->
<!--<mat-paginator (page)="switchPage($event)"-->
<!--               [length]="filteredAndSortedEntities.length"-->
<!--               [pageSize]="page.pageSize"-->
<!--               [pageSizeOptions]="pageSizeOptions"-->
<!--               [pageIndex]="page.pageIndex"-->
<!--               aria-label="Select page">-->
<!--</mat-paginator>-->

