<app-question-header [question]="question()" [language]="language()"/>

<mat-form-field class="small-input" appearance='outline'>
  <input
    [min]="getDateISOString(question().text_validation_min | replacePlaceholders)"
    [max]="getDateISOString(question().text_validation_max | replacePlaceholders)"
    [value]="dateValue" matInput [matDatepicker]="dp" readonly (click)="dp.open()"
    (dateChange)="onDateInputChange($event)" [disabled]="!isEditEnabled">
  <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp></mat-datepicker>
</mat-form-field>

@if (error) {
  <p class="text-red-700 text-sm mt-4">{{ error }}</p>
}

@if (isEditEnabled) {
  <button color="warn" matButton class="my-4 text-sm!" (click)="onDateInputChange(null)">
    {{ 'clear' | translateLang}}
  </button>
}
