<rb-dialog-title [mode]='mode' [name]="name" (closeClicked)='close()' />

@let configFields = (config$ | async)?.['fields'] ?? {};

<mat-dialog-content>
  @if (mode === DialogMode.VIEW || mode === DialogMode.DELETE) {
    <rb-dialog-body-description [mode]="mode"
                                [label]="'ADMIN.source.title.singular' | translate"
                                [entityName]="entity.sourceName || entity.sourceId">
      <rb-source-details [mode]='mode' [entity]='entity' [config]="configFields"/>
    </rb-dialog-body-description>
  }

  @if (mode === DialogMode.ADD || mode === DialogMode.EDIT) {
    <form [formGroup]="form" novalidate>
      @if (mode !== DialogMode.ADD) {
        @if(!floatLabel) {
          <label for="id" class="text-sm">{{ 'ADMIN.source.id.label' | translate }}</label>
        }
        <mat-form-field class='w-full'
                        subscriptSizing="fixed"
                        appearance="outline"
                        [floatLabel]='floatLabel ? "always" : "auto"'>
          @if(floatLabel) {
            <mat-label>{{'ADMIN.source.id.label' | translate }}</mat-label>
          }
          <input matInput formControlName='id'
                 placeholder=''
                 required />
        </mat-form-field>
      }

      @if (mode !== DialogMode.ADD) {
        @if(!floatLabel) {
          <label for="sourceId" class="text-sm">{{ 'ADMIN.source.sourceId.label' | translate }}</label>
        }
        <mat-form-field class='w-full'
                        subscriptSizing="fixed"
                        appearance="outline"
                        [floatLabel]='floatLabel ? "always" : "auto"'>
          @if(floatLabel) {
            <mat-label>{{'ADMIN.source.sourceId.label' | translate }}</mat-label>
          }
          <input matInput formControlName='sourceId'
                 placeholder=''
                 required/>
        </mat-form-field>
      }

      @if(!floatLabel) {
        <label for="sourceName" class="text-sm">{{ 'ADMIN.source.sourceName.label' | translate }}</label>
      }
      <mat-form-field class='w-full'
                      subscriptSizing="fixed"
                      appearance="outline"
                      [floatLabel]='floatLabel ? "always" : "auto"'>
        @if(floatLabel) {
          <mat-label>{{'ADMIN.source.sourceName.label' | translate }}</mat-label>
        }
        <input matInput formControlName='sourceName'
               placeholder=''
               required/>
        <mat-error *ngIf="form.controls.sourceName?.errors?.['pattern']">
          {{ValidatorError.normalTextValidator}}
        </mat-error>
        <mat-error *ngIf="form.controls.sourceName?.errors?.['required']">
          {{ValidatorError.requiredValidator | translate:{value: 'ADMIN.source.sourceName.label' | translate} }}
        </mat-error>
      </mat-form-field>

      @if(!floatLabel) {
        <label for="expectedSourceName" class="text-sm">{{ 'ADMIN.source.expectedSourceName.label' | translate }}</label>
      }
      <mat-form-field class='w-full'
                      subscriptSizing="fixed"
                      appearance="outline"
                      [floatLabel]='floatLabel ? "always" : "auto"'>
        @if(floatLabel) {
          <mat-label>{{'ADMIN.source.expectedSourceName.label' | translate }}</mat-label>
        }
        <input matInput formControlName='expectedSourceName'
               placeholder='' />
        <mat-error *ngIf="form.controls.expectedSourceName?.errors?.['pattern']">
          {{ValidatorError.normalTextValidator}}
        </mat-error>
      </mat-form-field>

      <rb-mat-select-autocomplete formControlName='sourceType'
                                        [legend]='"ADMIN.source.sourceType.label" | translate '
                                        [options]='sourceTypesOptions'
                                        [label]='"ADMIN.source.sourceType.label" | translate '
                                        [multiple]="false"
                                        [required]="true">
      </rb-mat-select-autocomplete>

      @if(!floatLabel) {
        <label for="id" class="text-sm">{{ 'ADMIN.source.attributes.label' | translate }}</label>
      }
      <fieldset formGroupName='attributes'
              class="rounded-sm border p-4">
        @if(floatLabel) {
          <legend class="text-xs text-gray-500">{{ 'ADMIN.source.attributes.label' | translate }}</legend>
        }
        <mat-form-field class='w-full'
                        subscriptSizing="fixed"
                        appearance='outline'
                        [floatLabel]='floatLabel ? "always" : "auto"'>
          @if(floatLabel) {
            <mat-label>{{ 'ADMIN.source.attributes.externalIdentifier' | translate }}</mat-label>
          }
          <input matInput formControlName='External-identifier' />
          <mat-error *ngIf="form.controls.attributes.controls['External-identifier']?.errors?.['pattern']">
            {{ValidatorError.normalTextValidator}}
          </mat-error>
        </mat-form-field>
      </fieldset>
    </form>
  }
</mat-dialog-content>

@if (error) {
  <rb-message />
}

<rb-dialog-actions [mode]='mode'
                   [form]='form'
                   (actionTriggered)='onAction($event)' />
