<app-dialog-title [dialogMode]='dialogData.mode'
                 [entityMetadata]="configService.getEntityMetadata()"
                 (closeClicked)='close()'/>

<mat-dialog-content>
  @if (dialogData.mode === DialogMode.VIEW || dialogData.mode === DialogMode.DELETE) {
    <app-dialog-body-description [dialogMode]="dialogData.mode"
                                [label]="'Source'"
                                [entityName]="dialogData.entity.sourceName">
    </app-dialog-body-description>
  }

  @if (dialogData.mode === DialogMode.ADD || dialogData.mode === DialogMode.EDIT) {
    <form [formGroup]="form" novalidate>
      @if (dialogData.mode !== DialogMode.ADD) {
        <label for="id" class="text-sm">{{ 'ADMIN.source.id.label' | translate }}</label>
        <mat-form-field class='w-full'
                        subscriptSizing="fixed"
                        appearance="fill">
          <input matInput formControlName='id'
                 placeholder=''
                 required/>
        </mat-form-field>

        <label for="sourceId" class="text-sm">{{ 'ADMIN.source.sourceId.label' | translate }}</label>
        <mat-form-field class='w-full'
                        subscriptSizing="fixed"
                        appearance="fill">
          <input matInput formControlName='sourceId'
                 placeholder=''
                 required/>
        </mat-form-field>
      }

      <label for="sourceName" class="text-sm">{{ 'ADMIN.source.sourceName.label' | translate }} *</label>
      <mat-form-field class='w-full'
                      subscriptSizing="fixed"
                      appearance="outline">
        <input matInput formControlName='sourceName'
               placeholder=''
               required/>
        @if (form.controls.sourceName.errors; as errors) {
          <mat-error>
            @if (errors?.['pattern']) {
              {{ ValidatorError.normalTextValidator }}
            }
            @if (errors?.['required']) {
              {{ ValidatorError.requiredValidator | translate:{value: 'ADMIN.source.sourceName.label' | translate} }}
            }
          </mat-error>
        }
      </mat-form-field>

      @if (!formFields || formFields['expectedSourceName'] === undefined || formFields['expectedSourceName']) {
        <label for="expectedSourceName"
               class="text-sm">{{ 'ADMIN.source.expectedSourceName.label' | translate }}</label>
        <mat-form-field class='w-full'
                        subscriptSizing="fixed"
                        appearance="outline">
          <input matInput formControlName='expectedSourceName'
                 placeholder=''/>
          @if (form.controls.expectedSourceName.errors; as errors) {
            <mat-error>
              @if (errors?.['pattern']) {
                {{ ValidatorError.normalTextValidator }}
              }
            </mat-error>
          }
        </mat-form-field>
      }

      @if (dialogData.sourceTypeFullList | async; as sourceTypes) {
        <app-mat-select-autocomplete formControlName='sourceType'
                                    [options]='sourceTypes'
                                    [label]='("ADMIN.source.sourceType.label" | translate) + "*"'
                                    [multiple]="false"
                                    [required]="true"/>
      }

      @if (!formFields || formFields['attributes'] === undefined || formFields['attributes']) {
        <label for="attributes" class="text-sm">{{ 'ADMIN.source.attributes.label' | translate }}</label>
        <fieldset formGroupName='attributes' class="rounded-sm border p-4">

          @if (!formFields || formFields['attributes.External-identifier'] === undefined || formFields['attributes.External-identifier']) {
            <label for="External-identifier"
                   class="text-sm">{{ 'ADMIN.source.attributes.External-identifier' | translate }}</label>
            <mat-form-field class='w-full'
                            subscriptSizing="fixed"
                            appearance='outline'>
              <input matInput formControlName='External-identifier'/>
              @if (form.controls.attributes.controls['External-identifier'].errors; as errors) {
                <mat-error>
                  @if (errors?.['pattern']) {
                    {{ ValidatorError.normalTextValidator }}
                  }
                </mat-error>
              }
            </mat-form-field>
          }
        </fieldset>
      }
    </form>
  }
</mat-dialog-content>

@if (error()) {
  <app-error-message-box>
    {{ error()?.error.errorCode | translate }}
  </app-error-message-box>
}

<app-dialog-actions [dialogMode]='dialogData.mode'
                   [form]='form'
                   (actionTriggered)='onAction($event)'/>
