@if (isExpanded$()) {
    <button class="tiny"
            mat-icon-button color="primary" [matTooltip]="'Edit'"
            (click)='onAction(DialogMode.EDIT)'>
      <span class="material-symbols-outlined text-xl!">edit</span>
    </button>
    <button class="tiny"
            mat-icon-button color="warn" [matTooltip]="'Delete'"
            (click)='onAction(DialogMode.DELETE)'>
      <span class="material-symbols-outlined text-xl!">delete</span>
    </button>
    <button class="tiny" mat-icon-button color="primary" [disabled]="entity$().status === 'DISCONTINUED'"
            [matTooltip]="'Discontinue'" (click)='onAction(DialogMode.DISCONTINUE)'>
      <span class="text-xl! material-symbols-outlined font-bold"
            [class]="entity$().status === 'DISCONTINUED' ? 'text-gray-300': 'text-yellow-500'">stop_circle</span>
    </button>

    <button class="tiny" mat-icon-button color="primary"
            [matTooltip]="'Pair Source'" (click)='onAction(DialogMode.PAIR_SOURCE)'>
      <span class="text-xl! material-symbols-outlined font-bold">link</span>
    </button>
    <button class="tiny" mat-icon-button color="primary"
            [matTooltip]="'Pair App'" (click)='onAction(DialogMode.PAIR_APP)'>
      <span class="text-xl! material-symbols-outlined font-bold">qr_code</span>
    </button>
} @else {
  <button mat-icon-button class="tiny"
          [matMenuTriggerFor]="menu"
          (click)="$event.stopPropagation();">
    <span class="font-bold! material-symbols-outlined text-xl!">more_vert</span>
  </button>
  <mat-menu #menu="matMenu" class="*:p-0! text-base bg-white shadow-lg">
    <button class="hover:text-primary! hover:bg-transparent! transition-all"
            mat-menu-item
            (click)='onAction(DialogMode.EDIT)'>
              <span class="flex items-center gap-2">
                <span class="text-xl! text-primary material-symbols-outlined font-bold!">edit</span>
                <span>{{ 'ADMIN.subject.edit' | translate }}</span>
              </span>
    </button>
    <button class="hover:text-red-500 hover:bg-transparent! transition-all"
            mat-menu-item
            (click)='onAction(DialogMode.DELETE)'>
                <span class="flex items-center gap-2">
                  <span class="text-xl! text-red-500 material-symbols-outlined font-bold!">delete</span>
                  <span>{{ 'ADMIN.subject.delete' | translate }}</span>
                </span>
    </button>
    <button class="hover:text-yellow-600 hover:bg-transparent! transition-all"
            mat-menu-item [disabled]="entity$().status === 'DISCONTINUED'"
            (click)='onAction(DialogMode.DISCONTINUE)'>
      <span class="flex items-center gap-2">
                  <span class="text-xl! text-yellow-600 material-symbols-outlined font-bold!">stop_circle</span>
                  <span>{{ 'ADMIN.subject.discontinue.buttonLabel' | translate }}</span>
                </span>
    </button>
    <button class="hover:text-primary hover:bg-transparent! transition-all"
            mat-menu-item
            (click)='onAction(DialogMode.PAIR_SOURCE)'>
      <span class="flex items-center gap-2">
                  <span class="text-xl! text-primary material-symbols-outlined font-bold!">link</span>
                  <span>{{ 'ADMIN.subject.pairSource.buttonLabel' | translate }}</span>
                </span>
    </button>
    <button class="hover:text-primary hover:bg-transparent! transition-all"
            mat-menu-item
            (click)='onAction(DialogMode.DISCONTINUE)'>
      <span class="flex items-center gap-2">
                  <span class="text-xl! text-primary material-symbols-outlined font-bold!">qr_code</span>
                  <span>{{ 'ADMIN.subject.pairApp.buttonLabel' | translate }}</span>
                </span>
    </button>
  </mat-menu>
}
