@let _i18nEntity = "ADMIN.subject";
@let _i18nShared = "SHARED.dialog";


<h2 mat-dialog-title class="border-b border-neutral-400 dark:border-neutral-500">
  <span>{{ `${_i18nShared}.${dialogData.mode}` | translate }}</span>
  <span> {{ `${_i18nEntity}.title.singular` | translate }}</span>
  <code class="italic text-secondary"> {{ dialogData.entity?.login ? `${dialogData.entity?.login}` : `` }}</code>
</h2>

<mat-dialog-content>
  @if (dialogData.mode === SubjectDialogMode.DELETE) {
    <div class='mb-4 text-base'>
      <app-subject-details class="py-4" [entity]='dialogData.entity' [detailType]="DetailType.SUMMARY"/>
      <div class="mt-4">
        <p>{{ `${_i18nShared}.deleteMessage` | translate }} {{ `${_i18nEntity}.login` | translate }}:
          <code class="italic text-secondary">{{ dialogData.entity?.login }}</code>. </p>
        <p class="font-bold">{{ `${_i18nShared}.deleteWarning` | translate }}</p>
      </div>
    </div>
  }

  @if (dialogData.mode === SubjectDialogMode.ADD || dialogData.mode === SubjectDialogMode.EDIT) {
    <form novalidate>
      @if (dialogData.mode !== SubjectDialogMode.ADD) {
        <app-input-form-field [field]="form.id" [label]=`${_i18nEntity}.id` [appearance]='"fill"'/>

        <app-input-form-field [field]="form.login" [label]=`${_i18nEntity}.login` [appearance]='"fill"'/>
      }

      @if (formFields?.personName) {
        <app-input-form-field [field]="form.personName" [label]="`${_i18nEntity}.personName`"/>
      }

      @if (formFields?.dateOfBirth) {
        <app-date-form-field [field]="form.dateOfBirth"
                             [label]=`${_i18nEntity}.dateOfBirth`
                             [placeholder]='localeService.currentLocale()?.dateFormat || "dd/MM/yyyy"'/>
      }

      @if (formFields?.externalId) {
        <app-input-form-field [field]="form.externalId" [label]="`${_i18nEntity}.externalId`"/>
      }

      @if (formFields?.externalLink) {
        <app-input-form-field [field]="form.externalLink" [label]="`${_i18nEntity}.externalLink`"/>
      }

      @if (formFields?.group) {
        <app-searchable-multi-select [field]="form.group"
                                     [label]="`${_i18nEntity}.group`"
                                     [valueKey]="'name'"
                                     [labelKey]="'name'"
                                     [options]="dialogData.groupFullList"
                                     [multiple]="false"/>
      }

      <div>
        @for (field of extraFields; track field.name) {
          @switch (field.type) {
            @case ('text') {
              <app-input-form-field [field]="form.attributes[field.name]" [label]="field.name"/>
            }
            @case ('date') {
              <app-date-form-field [field]="form.attributes[field.name]" [label]="field.name"/>
            }
          }
        }

        @if (formFields?.attributes) {
          <label for="subject-attributes" class="text-sm">{{ `${_i18nEntity}.attributes` | translate }}</label>
          <fieldset class="rounded-sm border px-4">
            @if (formFields?.["attributes.humanReadableIdentifier"]) {
              <app-input-form-field [field]="form.attributes?.['humanReadableIdentifier']"
                                    [label]="`${_i18nEntity}.attributes.humanReadableIdentifier`"/>
            }

            @if (formFields?.["attributes.participant_group"]) {
              <app-input-form-field [field]="form.attributes?.['participant_group']"
                                    [label]="`${_i18nEntity}.attributes.participant_group`"/>
            }
          </fieldset>
        }
      </div>
    </form>
  }
</mat-dialog-content>

@if (store.error()) {
  <app-error-box>
    {{ store.error() | json }}
  </app-error-box>
}
<mat-dialog-actions align="end" class="justify-between!">
  <button (click)='close()' mat-stroked-button color="accent">
    {{
      dialogData.mode !== SubjectDialogMode.DELETE ?
        (`${_i18nShared}.cancel` | translate) : (`${_i18nShared}.no` | translate)
    }}
  </button>
  @switch (dialogData.mode) {
    @case (SubjectDialogMode.DELETE) {
      <button [disabled]='store.loading()' (click)='delete()' color="warn" mat-raised-button>
        @if (store.loading()) {
          <mat-icon>
            <mat-spinner diameter="20"/>
          </mat-icon>
        }

        {{
          store.loading() ?
            (`${_i18nShared}.deletingButton` | translate) :
            (`${_i18nShared}.yes` | translate)
        }}
      </button>
    }
    @case (SubjectDialogMode.EDIT) {
      <button [disabled]='form().invalid() || store.loading()' (click)='save()' mat-raised-button color="primary">
        @if (store.loading()) {
          <mat-icon>
            <mat-spinner diameter='20'/>
          </mat-icon>
        }
        {{ `${_i18nShared}.update` | translate }}
      </button>
    }
    @case (SubjectDialogMode.ADD) {
      <button [disabled]='form().invalid() || store.loading()' (click)='save()' color="primary" mat-raised-button>
        @if (store.loading()) {
          <mat-icon>
            <mat-spinner diameter='20'/>
          </mat-icon>
        }
        {{ `${_i18nShared}.create` | translate }}
      </button>
    }
  }
</mat-dialog-actions>

