<div class="p-4 metrics" *ngIf="cacheMetrics">
  <table class="w-full text-xs">
    <thead class="border-b border-gray-500">
    <tr class="[&>th]:text-start">
      <th>{{'ADMIN.metrics.cache.name' | translate }}</th>
      <th>{{'ADMIN.metrics.cache.hits' | translate }}</th>
      <th>{{'ADMIN.metrics.cache.misses' | translate }}</th>
      <th>{{'ADMIN.metrics.cache.gets' | translate }}</th>
      <th>{{'ADMIN.metrics.cache.puts' | translate }}</th>
      <th>{{'ADMIN.metrics.cache.removals' | translate }}</th>
      <th>{{'ADMIN.metrics.cache.evictions' | translate }}</th>
      <th>{{'ADMIN.metrics.cache.hitPercent' | translate }}</th>
      <th>{{'ADMIN.metrics.cache.missPercent' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let entry of cacheMetrics | keyvalue">
      <td>{{ entry.key }}</td>
      <td>{{ entry.value['cache.gets.hit'] }}</td>
      <td>{{ entry.value['cache.gets.miss'] }}</td>
      <td>{{ entry.value['cache.gets.hit'] + entry.value['cache.gets.miss'] }}</td>
      <td>{{ entry.value['cache.puts'] }}</td>
      <td>{{ entry.value['cache.removals'] }}</td>
      <td>{{ entry.value['cache.evictions'] }}</td>
      <td>{{(100 * entry.value['cache.gets.hit']) / (entry.value['cache.gets.hit'] + entry.value['cache.gets.miss']) | number: '1.0-4'}}</td>
      <td>{{(100 * entry.value['cache.gets.miss']) / (entry.value['cache.gets.hit'] + entry.value['cache.gets.miss']) | number: '1.0-4'}}</td>
    </tr>
    </tbody>
  </table>
</div>
