<app-dialog-title class="print-hide"
                  [dialogMode]='SubjectDialogMode.PAIR_APP'
                  [entityMetadata]="configService.getEntityMetadata()"
                  [entityName]="dialogData.entity._name"
                  [customLabel]="'ADMIN.subject.pairApp.title' | translate"
                  (closeEvent)='close()'>
  @if (pairInfo()) {
    <button mat-icon-button color="primary" (click)='print()'>
      <mat-icon class="material-symbols-outlined">print</mat-icon>
    </button>
  }
</app-dialog-title>

<mat-dialog-content>
  @if (pairInfo(); as pairInfo) {
    <div class="flex justify-center">
      <div class="">
        <qr-code class="" [value]="pairInfo.tokenUrl" size="300" errorCorrectionLevel="M"/>
      </div>
    </div>
    <app-dialog-body-description>
      <div class="text-sm [&_app-detail-element:nth-child(even)>div]:bg-gray-100 p-2">
        <app-detail-element>
          <ng-container label>{{ 'ADMIN.subject.pairApp.baseUrl' | translate }}</ng-container>
          <ng-container value>{{ pairInfo.baseUrl || '-' }}</ng-container>
        </app-detail-element>
        <app-detail-element>
          <ng-container label>{{ 'ADMIN.subject.pairApp.tokenName' | translate }}</ng-container>
          <ng-container value>{{ pairInfo.tokenName || '-' }}</ng-container>
        </app-detail-element>
        <app-detail-element>
          <ng-container label>{{ 'ADMIN.subject.pairApp.validUntil' | translate }}</ng-container>
          <ng-container value>{{ (pairInfo.timesOutAt | date:'medium') || '-' }}</ng-container>
        </app-detail-element>
        <app-detail-element>
          <ng-container label>{{ 'ADMIN.subject.pairApp.validity' | translate }}</ng-container>
          <ng-container value>{{ (pairInfo.timeout / 1000 | duration) || '-' }}</ng-container>
        </app-detail-element>
      </div>
    </app-dialog-body-description>
  }

  <form [formGroup]="form" novalidate>
    <label for="client"
           class="text-sm">{{ 'ADMIN.subject.pairApp.client' | translate }}</label>
    <mat-form-field class='w-full mb-4'
                    subscriptSizing="dynamic"
                    appearance="outline">
      <mat-select formControlName='client'>
        @if (dialogData.clientFullList | async; as clients) {
          @for (client of clients; track client.clientId) {
            <mat-option [value]='client'>
              {{ client.clientId }}
            </mat-option>
          }
        }
      </mat-select>
    </mat-form-field>
  </form>

  <app-dialog-body-description>
    <app-subject-details class="py-4"
                        [entity]='dialogData.entity'
                        [detailType]="DetailType.SUMMARY" />
  </app-dialog-body-description>
</mat-dialog-content>

@if (error()) {
  <app-error-message-box>
    {{ error()?.error.errorCode | translate }}
  </app-error-message-box>
}

<div class='print-hide px-6 py-4 flex flex-wrap justify-between gap-2 w-full border-t border-neutral-400 dark:border-neutral-500'>
  <div class='flex flex-wrap gap-2'>
    <button mat-stroked-button
            color='accent'
            type='button'
            class='close-button'
            (click)='close()'>
      {{ 'ADMIN.subject.pairApp.cancel' | translate }}
    </button>
  </div>
  <div class='flex gap-2 justify-end'>
    <button mat-raised-button
            color='primary'
            type='submit'
            name='update'
            [disabled]='!form.valid || !form.dirty || loading()'
            (click)='generateQRCode(false)'>
      @if (loading()) {
        <mat-icon>
          <mat-spinner diameter='20'/>
        </mat-icon>
      }
      {{ 'ADMIN.subject.pairApp.generateQrCode' | translate }}
    </button>

    <button mat-raised-button
            color='primary'
            type='submit'
            name='update'
            [disabled]='!form.valid || !form.dirty || loading()'
            (click)='generateQRCode(true)'>
      @if (loading()) {
        <mat-icon>
          <mat-spinner diameter='20'/>
        </mat-icon>
      }
      {{ 'ADMIN.subject.pairApp.generatePersistentQrCode' | translate }}
    </button>
  </div>
</div>
