<app-entity-details [entityMetadata]="configService.getEntityMetadata()"
                    [tableFields]="configService.getTableFields()"
                    [detailType]="detailType()"
                    [customTemplate]="detailsTemplate"/>


<ng-template #detailsTemplate let-property>
  @if (entity(); as _entity) {
    @switch (property.name) {
      @case ('sourceTypeScope') {
        <app-source-type-scope [sourceTypeScope]="_entity['sourceTypeScope']"/>
      }
      @case ('canRegisterDynamically') {
        <app-source-type-source-registration [canRegisterDynamically]="_entity['canRegisterDynamically']"/>
      }
      @case ('sourceData') {
        <app-source-type-sources-data [sourcesData]="_entity['sourceData']"/>
      }
      @default {
        {{ $any(_entity)[property.name] || "-" }}
      }
    }
  }
</ng-template>
