<div [formGroup]="form" class="grid grid-cols-1 min-w-[500px] w-1/2 mx-auto">
  <div>
    <label for="name" class="text-sm">{{ 'ADMIN.protocol.dialog.general.nameLabel' | translate }} *</label>
    <mat-form-field class='small-input w-full' appearance='outline' subscriptSizing="fixed">
      <input id="name" matInput formControlName='name' required/>
      @if (form.controls['name']?.errors; as errors) {
        <mat-error>
          @if (errors?.['duplicate']) {
            {{ "Protocol name exists" }}
          }
          @if (errors?.['pattern']) {
            {{ ValidatorError.normalTextValidator }}
          }
          @if (errors?.['required']) {
            {{ ValidatorError.requiredValidator | translate:{value: 'ADMIN.protocol.dialog.general.nameLabel' | translate} }}
          }
        </mat-error>
      }
    </mat-form-field>
  </div>

  <div>
    <app-mat-select-autocomplete formControlName="languages"
                                 [options]="ISO_LANGUAGES"
                                 [label]="'Languages *'"
                                 [required]="true"
                                 [multiple]="true"
                                 [notRemovable]="DEFAULT_LANG"
    />
  </div>


  <div class="grid grid-cols-2 gap-4">
    <div>
      <label for="order" class="text-sm">{{ 'ADMIN.protocol.dialog.general.orderLabel' | translate }}</label>
      <mat-form-field class='small-input w-1/2'
                      appearance='outline' subscriptSizing="fixed">
        <input id="order" matInput type="number" formControlName='order'/>
        <mat-hint align="start">{{ ValidatorHint.normalTextValidator }}</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <mat-slide-toggle formControlName='onDemand' class="mb-4" color="primary">
    {{ 'ADMIN.protocol.dialog.general.onDemandLabel' | translate }}
  </mat-slide-toggle>

  <mat-slide-toggle formControlName='showInCalendar' class="mb-4" color="primary">
    {{ 'ADMIN.protocol.dialog.general.showInCalendarLabel' | translate }}
  </mat-slide-toggle>

  <mat-slide-toggle formControlName='isDemo' class="mb-4 text-sm" color="primary">
    {{ 'ADMIN.protocol.dialog.general.isDemoLabel' | translate }}
  </mat-slide-toggle>
</div>
