<app-question-header [question]="question()" [language]="language()"/>

<mat-form-field subscriptSizing="fixed" appearance="outline">
  <input matInput maxlength="256" [value]="answer()?.value" [disabled]="!isEditEnabled"
         (input)="onInputChange($event)" [min]="Number(question().text_validation_min | replacePlaceholders)"
         [max]="Number(question().text_validation_max | replacePlaceholders)"
         [type]="'number'">
  @if (question().text_validation_min && question().text_validation_max) {
    <mat-hint>{{'numberBetween' | translateLang}} {{ question().text_validation_min | replacePlaceholders }}, {{ question().text_validation_max | replacePlaceholders }}</mat-hint>
  }
  @if (question().text_validation_min && !question().text_validation_max) {
    <mat-hint>{{'numberGreaterThan' | translateLang}} {{ question().text_validation_min | replacePlaceholders }}</mat-hint>
  }
  @if (!question().text_validation_min && question().text_validation_max) {
    <mat-hint>{{'numberLessThan' | translateLang}} {{ question().text_validation_max | replacePlaceholders }}</mat-hint>
  }

</mat-form-field>
@if (error) {
  <p class="text-red-700 text-sm mt-4">{{ error }}</p>
}

@if (isEditEnabled) {
  <button color="warn" matButton class="my-4 text-sm!" (click)="onInputChange(null)">
    {{ 'clear' | translateLang}}
  </button>
}

