@let _prefix = 'ADMIN.questionnaire.dialog';
@let entity = store.selected();
@let defaultLanguage = entity?.defaultLanguage;

@if (defaultLanguage) {
  <form class="h-full" novalidate>
    <div class="h-full w-full overflow-auto border border-gray-300">
      <div [style.grid-template-columns]="`repeat(${languagesList().length + 1}, 300px)`"
           class="grid text-xs *:border *:border-gray-300 *:p-2 *:-mt-px *:-ml-px">

        <div class=""></div>
        @for (language of languagesList(); track language) {
          <div>{{ language.label }}</div>
        }

        <div class="">{{ `${_prefix}.title` | translate }}</div>
        @for (language of languagesList(); track language) {
          @if (form.title) {
            <app-html-editor [formField]="form.title[language.code]" [picker]="false"/>
          }
        }

        <div class="">{{ `${_prefix}.description` | translate }}</div>
        @for (language of languagesList(); track language) {
          @if (form.description) {
            <app-html-editor [formField]="form.description[language.code]" [picker]="false"/>
          }
        }

        @if (entity?.warningEnabled) {
          <div class="">{{ `${_prefix}.warningText` | translate }}</div>
          @for (language of languagesList(); track language) {
            @if (form.warn) {
              <app-html-editor [formField]="form.warn[language.code]" [picker]="false"/>
            }
          }
        }

        @if (!entity?.onDemand) {
          <div class="">{{ `${_prefix}.notificationTitle` | translate }}</div>
          @for (language of languagesList(); track language) {
            @if (form.schedule?.notification?.title) {
              <app-html-editor [formField]="form.schedule!.notification!.title![language.code]" [picker]="false"/>
            }
          }

          <div class="">{{ `${_prefix}.notificationMessage` | translate }}</div>
          @for (language of languagesList(); track language) {
            @if (form.schedule?.notification?.text) {
              <app-html-editor [formField]="form.schedule!.notification!.text![language.code]" [picker]="false"/>
            }
          }
        }

        @for (question of form.questions; track $index; let i = $index) {
          <div class="border-y">
            {{ `${_prefix}.question.title` | translate }}
            <code class="text-secondary">[{{ entity?.questions?.[i]?.field_name }}]
                                         ({{ entity?.questions?.[i]?.field_type }})</code>
          </div>
          @for (language of languagesList(); track language) {
            <div></div>
          }

          <div class="px-8!">{{ `${_prefix}.question.fieldLabel` | translate }}</div>
          @for (language of languagesList(); track language) {
            <app-html-editor [formField]="question.field_label[language.code]" [picker]="false"/>
          }

          @if (question.section_header) {
            <div class="px-8!">{{ `${_prefix}.question.sectionHeader` | translate }}</div>
            @for (language of languagesList(); track language) {
              <app-html-editor [formField]="question.section_header[language.code]" [picker]="false"/>
            }
          }

          @if (question.field_note) {
            <div class="px-8!">{{ `${_prefix}.question.fieldNote` | translate }}</div>
            @for (language of languagesList(); track language) {
              <app-html-editor [formField]="question.field_note[language.code]" [picker]="false"/>
            }
          }

          @for (choice of question.select_choices_or_calculations; track $index; let j = $index) {
            <div class="px-8!">{{ `${_prefix}.question.choice` | translate }}
              <code class="text-secondary">[{{ entity?.questions?.[i].select_choices_or_calculations?.[j]?.code }}
                                           ]</code> {{ `${_prefix}.question.choiceLabel` | translate }}
            </div>
            @for (language of languagesList(); track language) {
              <app-html-editor [formField]="choice.label[language.code]" [picker]="false"/>
            }
          }

          @if (question.range?.labelLeft) {
            <div class="px-8!">{{ `${_prefix}.question.rangeLabelLeft` | translate }}</div>
            @for (language of languagesList(); track language) {
              <app-html-editor [formField]="question.range!.labelLeft![language.code]" [picker]="false"/>
            }
          }

          @if (question.range?.labelRight) {
            <div class="px-8!">{{ `${_prefix}.question.rangeLabelRight` | translate }}</div>
            @for (language of languagesList(); track language) {
              <app-html-editor [formField]="question.range!.labelRight![language.code]" [picker]="false"/>
            }
          }
        }
      </div>
    </div>
  </form>
}

