@let _prefix = 'ADMIN.questionnaire.dialog';

<app-question-choices-form-array [choices]="choices" [languages]="languages" [language]="language" [index]="index" [_choices]="entity.select_choices_or_calculations"></app-question-choices-form-array>

<!--<app-question-choices [languages]="dialogData.languages"-->
<!--                      [language]="dialogData.language"-->
<!--                      [choices]="dialogData.entity?.select_choices_or_calculations ?? []"-->
<!--                      (changeEvent)="onChoicesChange($event)" />-->

<!--<label for="select_choices_or_calculations" class="text-sm">-->
<!--  {{ `${_prefix}.questionChoicesLabel` | translate }} *-->
<!--</label>-->
<!--<div cdkDropList (cdkDropListDropped)="onDrop($event)" class="">-->
<!--  <div class="w-full flex-col mt-0 mb-1 text-sm">-->
<!--    <div class="flex items-center gap-1 w-full">-->
<!--      <div class="w-7 grow-0"></div>-->
<!--      <div class="w-3/12 grow-0">{{ `${_prefix}.questionChoiceCode` | translate }} *</div>-->
<!--      <div class="grow">{{ `${_prefix}.questionChoiceLabel` | translate }} *</div>-->
<!--      <div class="w-7 grow-0"></div>-->
<!--    </div>-->

<!--    @for (choice of choices.controls; let i = $index; track choice.code) {-->
<!--      <app-question-choice [choice]="choice"-->
<!--                           [languages]="languages()"-->
<!--                           [language]="language()"-->
<!--                           [index]="i"-->
<!--                           (removeEvent)="removeItem(i)"-->
<!--                           (validEvent)="onValidChange($event, i)"-->
<!--                           (changeEvent)="onValueChange($event, i)" />-->
<!--    }-->

<!--    <div class="flex items-center gap-1 w-full">-->
<!--      <div class="grow"></div>-->
<!--      <button class="tiny w-7! grow-0 shrink-0 material-symbols-outlined" mat-icon-button (click)="addItem(0)">-->
<!--        <mat-icon class="material-symbols-outlined">add_circle</mat-icon>-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
