<rb-dialog-title [mode]='mode' [name]="name" (closeClicked)='close()' />

@let configFields = (config$ | async)?.['fields'] ?? {};

<mat-dialog-content>
  @if (mode === DialogMode.VIEW || mode === DialogMode.DELETE) {
    <rb-dialog-body-description>
      <rb-organization-details [mode]='mode' [entity]="entity" [config]="configFields" />
    </rb-dialog-body-description>
  }

  @if (mode === DialogMode.ADD || mode === DialogMode.EDIT) {
    <form [formGroup]='form' novalidate>

      @if (mode !== DialogMode.ADD) {
        @if(!floatLabel) {
          <label for="id" class="text-sm">{{ 'ADMIN.organization.id.label' | translate }}</label>
        }
        <mat-form-field appearance='outline'
                        [floatLabel]='floatLabel ? "always" : "auto"'>
          @if(floatLabel) {
            <mat-label>{{ 'ADMIN.organization.id.label' | translate }}</mat-label>
          }
          <input matInput formControlName='id'/>
        </mat-form-field>
      }

      @if(!floatLabel) {
        <label for="name" class="text-sm">Name *</label>
      }
      <mat-form-field class="mb-1! w-full small"
                      subscriptSizing="fixed"
                      appearance='outline'
                      [floatLabel]='floatLabel ? "always" : "auto"'>
        @if(floatLabel) {
          <mat-label>{{ 'ADMIN.organization.name.label' | translate }}</mat-label>
        }
        <input matInput id="name" autocomplete="off" data-lpignore="true"
               formControlName='name'
               required
               [placeholder]="'My organization'"
               type="text"/>
        <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>

        @let errors = form.controls.name?.errors;

        @if (errors?.['duplicate']) {
          <mat-error>{{ "Organization name exists" }}</mat-error>
        }
        @if (errors?.['pattern']) {
          <mat-error>{{ValidatorError.normalTextValidator}}</mat-error>
        }
        @if (errors?.['required']) {
          <mat-error>
            {{ValidatorError.requiredValidator | translate:{value: 'ADMIN.organization.name.label' | translate} }}
          </mat-error>
        }
      </mat-form-field>

      @if (configFields['location'] !== false) {
        @if(!floatLabel) {
          <label for="location" class="text-sm">Location *</label>
        }
        <mat-form-field class="mb-1! w-full small"
                        subscriptSizing="fixed"
                        appearance='outline'
                        [floatLabel]='floatLabel ? "always" : "auto"'>
          @if(floatLabel) {
            <mat-label>{{ 'ADMIN.organization.name.label' | translate }}</mat-label>
          }
          <input matInput id="location" autocomplete="off" data-lpignore="true" formControlName='location' [placeholder]="'Organization\'s location'" type="text"/>
  <!--        <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>-->
  <!--        <mat-error *ngIf="form.controls.location?.errors?.['pattern']">-->
  <!--          {{ValidatorError.normalTextValidator}}-->
  <!--        </mat-error>-->
  <!--        <mat-error *ngIf="form.controls.location?.errors?.['required']">-->
  <!--          {{ValidatorError.requiredValidator | translate: {value: 'ADMIN.organization.location.label' | translate } }}-->
  <!--        </mat-error>-->
        </mat-form-field>
      }

      @if (configFields['description'] !== false) {
        @if(!floatLabel) {
          <label for="description" class="text-sm">Description *</label>
        }
        <mat-form-field class="mb-1! w-full small" subscriptSizing="fixed" appearance='outline' [floatLabel]='floatLabel ? "always" : "auto"'>
          @if(floatLabel) {
            <mat-label>{{ 'ADMIN.organization.name.label' | translate }}</mat-label>
          }
          <textarea matInput #description formControlName='description' rows='3' maxlength='255'></textarea>
          <mat-hint align="start">{{ValidatorHint.longTextValidator}}</mat-hint>
          <mat-hint align="end">{{description.value.length}} / 255</mat-hint>

          @let errors = form.controls.description?.errors;
          @if (errors?.['pattern']) {
           <mat-error>{{ValidatorError.longTextValidator}}</mat-error>
          }
          @if (errors?.['required']) {
            <mat-error>
              {{ValidatorError.requiredValidator | translate: {value: 'ADMIN.organization.description.label' | translate} }}
            </mat-error>
          }
        </mat-form-field>
        }
    </form>
  }
</mat-dialog-content>

@if (error) {
  <rb-message />
}

<rb-dialog-actions [mode]='mode' [form]='form' (actionTriggered)='onAction($event)' />
