<app-entity [entity]="entity()"
            [gridView]="gridView()"
            [tableFields]="configService.getTableFields()"
            [customTemplate]="entityTemplate">
</app-entity>

<ng-template #entityTemplate let-property>
  @switch (property.name) {
    @case ('modifications') {
      <app-modification class="flex gap-2" [revision]="entity()"/>
    }
    @case ('timestamp') {
      <app-local-date [date]="entity()['timestamp']" [format]="'long'"/>
    }
    @default {
      {{ entity()[property.name] || '-' }}
    }
  }
</ng-template>
