@let configFields = config$ | async;

<mat-card class="rb-table-row" [class]="
    (updated() === entity().id ? 'bg-green-100! ' : '') +
    (expanded ? 'mb-2' : '')
  ">
  <div class="rb-table-main-row">
    @for (property of PROPERTIES; track property.name) {
      @if (configFields[property.name] !== false) {
        <div [class]="property.tableClass + ' ' + property.width + ' ' + property.classes"
             [class.flex-1]="!property.width"
             [class.shrink-0]="!!property.width">
          @switch (property.name) {
            @case ('modifications') {
              <rb-modification class="flex gap-2" [revision]="entity()"/>
            }
            @case ('timestamp') {
              <rb-local-date [date]="entity()['timestamp']" [format]="'long'"/>
            }
            @case ('actions') {
              <button mat-icon-button class="tiny" (click)="onExpansionClick($event)">
                <span class="material-symbols-outlined">
                  {{ expanded ? 'expand_less' : 'expand_more' }}
                </span>
              </button>
            }
            @default {
              {{ entity()[property.name] || '-' }}
            }
          }
        </div>
      }
    }
  </div>
  <div class="rb-table-extension-row" [@detailExpand]="expanded ? 'expanded' : 'collapsed'">
    <!--  <rb-source-data-details class="py-4" [entity]='entity()' [type]="DetailType.TABLE"></rb-source-data-details>-->
  </div>
</mat-card>
