<!--<div *ngIf="entity"-->
<!--     class="text-sm"-->
<!--     [ngClass]="{'[&_rb-detail-element>div]:border-b' : type === DetailType.TABLE, '[&_rb-detail-element:nth-child(even)>div]:bg-gray-100 p-2': type !== DetailType.TABLE}">-->
<rb-detail-wrapper *ngIf="entity" [type]="type">
  <rb-detail-element *ngFor="let property of PROPERTIES" [type]="type" [element]="property">
    <ng-container label>{{ 'ADMIN.protocol.' + property.name + '.label' | translate }}</ng-container>
      <ng-container value [ngSwitch]="property.name">
          <ng-container *ngSwitchCase="'repeatProtocol'">
              <ng-container *ngIf='entity["protocol"]["repeatProtocol"] as repeatProtocol'>
                  <div *ngIf="entity['customProtocol']['repeatProtocol']['enabled']">
                      Every {{ repeatProtocol["amount"]}} {{repeatProtocol["unit"]}}(s) at specific times
                  </div>
                  <div *ngIf="!entity['customProtocol']['repeatProtocol']['enabled']">
                      Once at specific times
                  </div>
                  <div *ngIf='entity["protocol"]["completionWindow"] as completionWindow; else noCompletionWindow'>
                      {{completionWindow['amount']}} {{completionWindow['unit']}}(s)
                  </div>
                  <ng-template #noCompletionWindow>
                      No Expiration
                  </ng-template>
                  <!--              <div>Expires after {{completionWindow['amount']}} {{completionWindow['unit']}}(s)</div>-->
              </ng-container>
          </ng-container>

<!--        <ng-container *ngSwitchCase="'createdBy'">-->
<!--          <rb-user-created-by [createdBy]="entity['createdBy']"></rb-user-created-by>-->
<!--        </ng-container>-->

        <ng-container *ngSwitchCase="'createdAt'">
          <rb-local-date [date]="entity['createdAt']" [format]="'long'"></rb-local-date>
        </ng-container>

<!--        <ng-container *ngSwitchCase="'lastModifiedBy'">-->
<!--          <rb-user-created-by [createdBy]="entity['lastModifiedBy']"></rb-user-created-by>-->
<!--        </ng-container>-->
<!--  -->
        <ng-container *ngSwitchCase="'modifiedAt'">
          <rb-local-date [date]="entity['modifiedAt']" [format]="'long'"></rb-local-date>
        </ng-container>

        <ng-container *ngSwitchDefault>{{ entity[property.name] || '-' }}</ng-container>
      </ng-container>
  </rb-detail-element>
</rb-detail-wrapper>
