@let _selectedLanguage = previewStore.language().code;

<div class="h-full w-full grid grid-cols-3 gap-4 ">
  <div class="">
    <div class="flex gap-1">
      @for (language of entity.languages; track language) {
        <button mat-icon-button
                class="tiny uppercase"
                (click)='switchPreviewLanguage($event, language)'
                [class]="_selectedLanguage === language.code ? 'text-primary! dark:text-primary-dark!' : 'text-neutral-400! dark:text-neutral-500!'">
            <span class="h-full flex items-center justify-center">
              <span class="text-sm font-bold">{{ language.code }}</span>
            </span>
        </button>
      }
    </div>

    <div class="flex">
    <div class="grow max-w-80 aspect-9/16 bg-primary/20 border-2 border-gray-300 rounded-lg overflow-x-hidden">
      <div class="h-full flex flex-col">
        @if (_selectedLanguage) {
          <span class="p-4 shrink-0 font-bold">{{ entity.title?.[_selectedLanguage] || entity.name }}</span>
        }
          <div class="grow overflow-auto p-4">
            @if (index() === -1) {
              <app-introduction-page [entity]="entity" [language]="previewStore.language()"/>
            } @else if (index() >= questionGroups.size) {
              <app-finish-page [entity]="entity" [language]="previewStore.language()"/>
            } @else {
              @for (group of questionGroups.entries(); track group[0]; let i = $index) {
                @if (index() === i) {
                  @for (question of group[1]; track question.id) {
                    @if (question.visible) {
                      <app-question [questionnaire]="entity" [question]="question" (answerEvent)="onAnswer($event)"/>
                    }
                  }
                }
              }
            }
          </div>
          @if (index() < questionGroups.size) {
            <app-toolbar (toolbarEvent)="handleToolbarEvent($event)"
                         [progress]="progress()"
                         [leftButton]="{enabled: leftButtonEnabled(), label: leftButtonLabel()}"
                         [rightButton]="{enabled: rightButtonEnabled(), label: rightButtonLabel()}"/>
          }
      </div>

    </div>
    </div>
  </div>
  <div class="h-full overflow-auto">
    <p class="font-bold my-2">{{ 'Answers' | translate }}</p>
    <pre class="text-xs">{{ previewStore.answers() | json }}</pre>
  </div>
  <div class="">
        <app-preview-placeholder-form />
  </div>
</div>
