<!--@let _prefix = 'ADMIN.questionnaire.dialog';-->
<!--@let _entity = entity();-->
@let _selectedLanguage = previewStore.language();

<!--@if (entity) {-->
  <div class="flex justify-between items-center sticky top-0 z-10 py-2">
    <span class="font-bold"></span>
    <div class="flex gap-2 items-center">
      <div class='small-input text-sm flex justify-end gap-1'>
        @for (language of entity.languages; track language) {
          <button mat-icon-button
                  class="tiny uppercase"
                  (click)='switchPreviewLanguage($event, language)'
                  [class]="_selectedLanguage.code === language.code ? 'text-primary! dark:text-primary-dark!' : 'text-neutral-400! dark:text-neutral-500!'">
              <span class="h-full flex items-center justify-center">
                <span class="text-sm font-bold">{{ language.code }}</span>
              </span>
          </button>
        }
      </div>
    </div>
  </div>

  <div class="flex h-[90%] justify-between">
    <div class="h-full aspect-9/16 bg-primary/20 border-2 border-gray-300 rounded-lg">
      <div class="h-full flex flex-col">
        @if (_selectedLanguage) {
          <span class="p-4 shrink-0 font-bold">{{ entity.title?.[_selectedLanguage.code] || entity.name }}</span>
        }
        @if (!loading) {
          @if (groupedQuestions) {
            <div class="grow overflow-auto p-4">
              @for (q of currentQuestionsGroup.questions; track q.field_name) {
                @if (q.visible) {
                  <app-question [question]="q"
                                [language]="_selectedLanguage"
                                [answers]="previewStore.answers()"
                                [answer]="previewStore.answers()[q.field_name]?.[0]"
                                (answerEvent)="onAnswer($event)"/>
                }
              }
            </div>
            <div>
              <app-toolbar (toolbarEvent)="handleToolbarEvent($event)"
                           [progress]="progress()"
                           [leftButton]="{enabled: leftButtonEnabled(), label: leftButtonLabel()}"
                           [rightButton]="{enabled: rightButtonEnabled(), label: rightButtonLabel()}"/>
            </div>
          } @else {
            Loading...
          }
        }
      </div>
    </div>
    <div class="h-full overflow-auto w-1/3 text-sm">
      <pre>{{ previewStore.answers() | json }}</pre>
    </div>

<!--    <app-preview-placeholder-form class="w-1/3" />-->


<!--    <div class="h-full overflow-auto w-1/3 text-sm">-->
<!--      List of templates values-->
<!--      @for (p of placeholders; track $index) {-->
<!--        <p>{{p.questionnaireId}} / {{p.questionId}} / {{p.operator ?? 'latest'}}</p>-->
<!--      }-->

<!--&lt;!&ndash;      <div class="h-full overflow-auto w-1/3 text-sm">&ndash;&gt;-->
<!--        <form class="mt-16" [formGroup]="placeholderForm">-->
<!--&lt;!&ndash;          <p class="font-bold mb-2">List of template values</p>&ndash;&gt;-->

<!--          <div formArrayName="placeholders" class="flex flex-col gap-3">-->
<!--            @for (placeholderGroup of placeholderControls; track $index) {-->
<!--              <div [formGroupName]="$index" class="">-->
<!--                <p class="mb-2">-->
<!--                  {{ placeholderGroup.controls['questionnaireId'].value }}-->
<!--                  /-->
<!--                  {{ placeholderGroup.controls['questionId'].value }}-->
<!--                  /-->
<!--                  {{ placeholderGroup.controls['operator'].value }}-->
<!--                </p>-->

<!--                <mat-form-field class="small-input w-full" appearance="outline">-->
<!--                  <input matInput [formControl]="placeholderGroup.controls.value" placeholder="Value">-->
<!--                </mat-form-field>-->
<!--              </div>-->
<!--            }-->
<!--          </div>-->
<!--        </form>-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--    </div>-->

  </div>
<!--}-->
