<button mat-icon-button
        class="tiny mat-medium-icon-button"
        [matMenuTriggerFor]="menu"
        (click)="$event.stopPropagation();">
    <span class="font-bold! material-symbols-outlined text-xl!">more_vert</span>
</button>
<mat-menu #menu="matMenu" class="*:p-0! text-base bg-white shadow-lg">
  <button class="hover:text-primary! hover:bg-transparent! transition-all"
          mat-menu-item
          (click)='onAction(DialogMode.EDIT, entity())'>
        <span class="flex items-center gap-2">
          <span class="text-xl! material-symbols-outlined font-bold! text-primary">edit</span>
          <span>{{ 'ADMIN.organization.edit' | translate }}</span>
        </span>
  </button>
  <button class="hover:text-red-500! hover:bg-transparent! transition-all"
          mat-menu-item
          (click)='onAction(DialogMode.DELETE, entity())'>
        <span class="flex items-center gap-2">
          <span class="text-xl! text-red-500 material-symbols-outlined font-bold!">delete</span>
          <span>{{ 'ADMIN.organization.delete' | translate }}</span>
        </span>
  </button>
</mat-menu>
