<rb-dialog-title [mode]='mode'
                 [label]='{singular: ("ADMIN.protocol.translateTitle.singular" | translate), plural: ("ADMIN.protocol.translateTitle.plural" | translate)}'
                 (closeClicked)='close()'>
</rb-dialog-title>

<ng-container *ngIf='form'>
  <mat-dialog-content>
    <rb-dialog-body-description *ngIf='mode === DialogMode.VIEW || mode === DialogMode.DELETE'>
      <rb-protocol-details [mode]='mode' [entity]='entity'></rb-protocol-details>
    </rb-dialog-body-description>

    <ng-container *ngIf='mode === DialogMode.ADD || mode === DialogMode.EDIT'>
      <form [formGroup]='form' novalidate>
        <div class="flex justify-between items-start gap-4">
<!--          {{entity.id}}/{{entity.name}}/{{language | json}} ({{language.code}})-->
<!--          *ngIf='mode !== DialogMode.ADD'-->
          <mat-form-field class='small-input w-1/4'
                          subscriptSizing="dynamic"
                          appearance='outline'
                          floatLabel='always'>
            <mat-label>{{ 'ADMIN.project.id.label' | translate }}</mat-label>
            <input matInput formControlName='id'/>
          </mat-form-field>

          <mat-form-field class='small-input w-1/2'
                          subscriptSizing="dynamic"
                          appearance='outline'
                          floatLabel='always'>
            <mat-label>{{ 'ADMIN.questionnaire.name.label' | translate }}</mat-label>
            <input matInput formControlName='name' required/>
          </mat-form-field>

          <mat-form-field class='small-input w-1/4'
                          appearance='outline'
                          subscriptSizing="dynamic"
                          floatLabel='always'>
            <mat-label>Language</mat-label>
<!--            <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>-->
            <mat-select formControlName='language'>
              <mat-option *ngFor="let language of LANGUAGES" [value]="language.code">{{language.name}}</mat-option>
            </mat-select>
<!--            <mat-error *ngIf="form.get('defaultLanguage')?.errors?.['pattern'] && !form.get('defaultLanguage')?.hasError('required')">-->
<!--              {{ValidatorError.normalTextValidator}}-->
<!--            </mat-error>-->
<!--            <mat-error *ngIf="form.get('defaultLanguage')?.hasError('required')">-->
<!--              {{ValidatorError.requiredValidator | translate: {value: 'defaultLanguage' } }}-->
<!--            </mat-error>-->
          </mat-form-field>
        </div>
        <table class="w-full border-collapse">
          <thead>
          <tr>
            <th class="text-left bg-primary-color text-white border p-2">Name</th>
            <th class="text-left bg-primary-color text-white border p-2">Default ({{entity.languages[0].code}})</th>
            <th class="text-left bg-primary-color text-white border p-2">Translation ({{form.controls.language.value}})</th>
          </tr>
          </thead>
          <tr *ngIf="entity.customStartText.enabled">
            <td class="border px-2">Start Text</td>
            <td class="border px-2">{{entity.startText[entity.languages[0].code]}}</td>
            <td class="border px-2" formGroupName="customStartText">
              <mat-form-field class='small-input w-full'
                              appearance='outline'
                              subscriptSizing="dynamic"
                              floatLabel='always'>
              <input matInput formControlName='startText' required/>
            </mat-form-field>
            </td>
          </tr>

          <tr *ngIf="entity.customEndText?.enabled">
            <td class="border px-2">End Text</td>
            <td class="border px-2">{{entity.endText[entity.languages[0].code]}}</td>
            <td class="border px-2" formGroupName="customEndText">
              <mat-form-field class='small-input w-full'
                              appearance='outline'
                              subscriptSizing="dynamic"
                              floatLabel='always'>
                <input matInput formControlName='endText' required/>
              </mat-form-field>
            </td>
          </tr>

          <tr *ngIf="entity.customWarnText?.enabled">
            <td class="border px-2">Warn Text</td>
            <td class="border px-2">{{entity.warn[entity.languages[0].code]}}</td>
            <td class="border px-2" formGroupName="customWarnText">
              <mat-form-field class='small-input w-full'
                              subscriptSizing="dynamic"
                              appearance='outline'
                              floatLabel='always'>
              <input matInput formControlName='warn' required/>
            </mat-form-field></td>
          </tr>

          <ng-container *ngIf="entity.customProtocol.notification?.enabled" formGroupName="customProtocol">
            <tr>
              <td class="border px-2">Notification Title</td>
              <td class="border px-2">{{entity.protocol.notification?.title?.[entity.languages[0].code]}}</td>
              <td class="border px-2" formGroupName="notification">
                <mat-form-field class='small-input w-full'
                                subscriptSizing="dynamic"
                                appearance='outline'
                                floatLabel='always'>
                  <input matInput formControlName='title' required/>
                </mat-form-field></td>
            </tr>

            <tr>
              <td class="border px-2">Notification Text</td>
              <td class="border px-2">{{entity.protocol.notification?.text?.[entity.languages[0].code]}}</td>
              <td class="border px-2" formGroupName="notification">
                <mat-form-field class='small-input w-full'
                                subscriptSizing="dynamic"
                                appearance='outline'
                                floatLabel='always'>
                  <input matInput formControlName='text' required/>
                </mat-form-field></td>
            </tr>
          </ng-container>

        </table>
      </form>
    </ng-container>
  </mat-dialog-content>

  <div>
    <rb-message *ngIf='error'></rb-message>
    <rb-dialog-actions [mode]='mode'
                       [form]='form'
                       (actionTriggered)='onAction($event)'>
    </rb-dialog-actions>
  </div>
</ng-container>
