<app-auth-card>
  <ng-container header>
    {{ 'CORE.AUTH.FORGOT_PASSWORD_PAGE.title' | translate }}
  </ng-container>
  <ng-container body>
    @if (!success()) {
      <p class="mb-4">
        {{ 'CORE.AUTH.FORGOT_PASSWORD_PAGE.subtitle' | translate }}
      </p>

      <form [formGroup]="form" novalidate>
        <label for="email" class="text-sm">
          {{ 'CORE.AUTH.FORGOT_PASSWORD_PAGE.email' | translate }} *
        </label>
        <mat-form-field subscriptSizing="fixed"
                        class="w-full small"
                        appearance='outline'
                        floatLabel='auto'>
          <input matInput id="email"
                 formControlName='email'
                 required
                 type="email"/>
          @if (form.controls.email.errors?.['email']) {
            <mat-error>
              {{ ValidatorError.emailValidator }}
            </mat-error>
          }
          @if (form.controls.email.errors?.['required']) {
            <mat-error>
              {{ ValidatorError.requiredValidator | translate: {value: 'CORE.AUTH.FORGOT_PASSWORD_PAGE.email' | translate} }}
            </mat-error>
          }
        </mat-form-field>

        @if (error()) {
          <app-error-message-box>
            {{ `ERROR.${error()?.error.error}` | translate }}
          </app-error-message-box>
        }

        <button mat-raised-button
                class="gradient-btn w-full mt-2 mb-4"
                color='primary'
                type='submit'
                name='update'
                [disabled]='!form.valid || !form.dirty || loading()'
                (click)='send()'>
          @if (loading()) {
            <mat-icon>
              <mat-spinner diameter='20'/>
            </mat-icon>
          } @else {
          {{ 'CORE.AUTH.FORGOT_PASSWORD_PAGE.submitButton' | translate }}
          }
        </button>
      </form>
    } @else {
      <div>
        <p>
          {{ 'CORE.AUTH.FORGOT_PASSWORD_PAGE.successMessage' | translate }}
        </p>

        <button mat-raised-button
                [disabled]="true"
                class="gradient-btn w-full my-4 bg-green-200! text-green-700!"
                color='primary'
                type='submit'
                name='update'>
          <span class="flex justify-center items-center gap-2">
          <mat-icon class="material-symbols-outlined">check</mat-icon>
          <span>{{ 'CORE.AUTH.FORGOT_PASSWORD_PAGE.successButton' | translate }}</span>
          </span>
        </button>
      </div>
    }
    <a class="text-primary dark:text-primary-dark" [routerLink]='["/auth/login"]'>
      {{ 'CORE.AUTH.FORGOT_PASSWORD_PAGE.return' | translate }}
    </a>
  </ng-container>
</app-auth-card>
