<rb-auth-card>
  <ng-container header>
    {{ 'CORE.AUTH.FORGOT_PASSWORD_PAGE.title' | translate }}
  </ng-container>
  <ng-container body>
    @if (!success) {
      <p class="mb-4">
        {{ 'CORE.AUTH.FORGOT_PASSWORD_PAGE.subtitle' | translate }}
      </p>
    } @else {
      <div>
        <p>
          {{ 'CORE.AUTH.FORGOT_PASSWORD_PAGE.successMessage' | translate }}
        </p>

        <button mat-raised-button
                [disabled]="true"
                class="gradient-btn w-full my-4"
                color='primary'
                type='submit'
                name='update'>
          <span class="material-symbols-outlined">check</span>
          {{ 'CORE.AUTH.FORGOT_PASSWORD_PAGE.successButton' | translate }}
        </button>
      </div>
    }

    @if (!success) {
      <form [formGroup]="form" novalidate>
        <label for="email" class="text-sm">
          {{ 'CORE.AUTH.FORGOT_PASSWORD_PAGE.email' | translate }} *
        </label>
        <mat-form-field subscriptSizing="fixed" class="w-full small"
                        appearance='outline'
                        floatLabel='auto'>
          <input matInput id="email"
                 formControlName='email'
                 required
                 type="email"/>
          @if (form.controls.email?.errors?.['email']) {
            <mat-error>
              {{ ValidatorError.emailValidator }}
            </mat-error>
          }
          @if (form.controls.email?.errors?.['required']) {
            <mat-error>
              {{ ValidatorError.requiredValidator | translate: {value: 'CORE.AUTH.FORGOT_PASSWORD_PAGE.email' | translate} }}
            </mat-error>
          }
        </mat-form-field>

        @if (error) {
          <rb-message/>
        }

        <button mat-raised-button
                class="gradient-btn w-full mt-2 mb-4"
                [class]="success ? 'bg-green-200! text-green-700!': ''"
                color='primary'
                type='submit'
                name='update'
                [disabled]='!form.valid || !form.dirty || isLoading || success'
                (click)='send()'>
          @if (isLoading) {
            <mat-icon>
              <mat-spinner diameter='20'/>
            </mat-icon>
          }
          @if (success) {
            <mat-icon>check</mat-icon>
          }
          {{ success ? ('CORE.AUTH.PASSWORD_PAGE.successButton' | translate) : ('CORE.AUTH.FORGOT_PASSWORD_PAGE.submitButton' | translate) }}
        </button>

        <a class="text-primary dark:text-primary-dark" [routerLink]='["/login"]'>
          {{ 'CORE.AUTH.FORGOT_PASSWORD_PAGE.return' | translate }}
        </a>
      </form>
    }

  </ng-container>
</rb-auth-card>
