@let _i18nEntity = "ADMIN.subject.pairApp";
@let _i18nShared = "SHARED.dialog";

<h2 mat-dialog-title class="border-b border-neutral-400 dark:border-neutral-500">
  <span>{{ `${_i18nShared}.${dialogData.mode}` | translate }}</span>
  <span> {{ `${_i18nEntity}.title` | translate }}</span>
  <code class="italic text-secondary"> {{ dialogData.entity?.login ? `${dialogData.entity?.login}` : `` }}</code>
  @if (pairInfo()) {
    <button mat-icon-button color="primary" (click)='print()'>
      <mat-icon>print</mat-icon>
    </button>
  }
</h2>

<mat-dialog-content>
  @if (pairInfo(); as pairInfo) {
    <div class="flex justify-center">
      <div class="">
        <qr-code class="" [value]="pairInfo.tokenUrl" size="300" errorCorrectionLevel="M"/>
      </div>
    </div>

    <div class='mb-4 text-base'>
      <div class="text-sm [&_app-detail-element:nth-child(even)>div]:bg-gray-100 p-2">
        <app-detail-element>
          <ng-container label>{{ `${_i18nEntity}.baseUrl` | translate }}</ng-container>
          <ng-container value>{{ pairInfo.baseUrl || '-' }}</ng-container>
        </app-detail-element>
        <app-detail-element>
          <ng-container label>{{ `${_i18nEntity}.tokenName` | translate }}</ng-container>
          <ng-container value>{{ pairInfo.tokenName || '-' }}</ng-container>
        </app-detail-element>
        <app-detail-element>
          <ng-container label>{{ `${_i18nEntity}.validUntil` | translate }}</ng-container>
          <ng-container value>{{ (pairInfo.timesOutAt | date:'medium') || '-' }}</ng-container>
        </app-detail-element>
        <app-detail-element>
          <ng-container label>{{ `${_i18nEntity}.validity` | translate }}</ng-container>
          <ng-container value>{{ (pairInfo.timeout / 1000 | duration) || '-' }}</ng-container>
        </app-detail-element>
      </div>
    </div>
  }

  <form novalidate>
    <label for="client" class="text-sm">{{ `${_i18nEntity}.client` | translate }}</label>
    <mat-form-field class='w-full mb-4'
                    subscriptSizing="dynamic"
                    appearance="outline">
      <mat-select [formField]="form.client">
        @for (client of dialogData.clientFullList; track client.clientId) {
          <mat-option [value]='client.clientId'>
            {{ client.clientId }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>

  <div class='mb-4 text-base'>
    <app-subject-details class="py-4"
                        [entity]='dialogData.entity'
                        [detailType]="DetailType.SUMMARY" />
  </div>
</mat-dialog-content>

@if (store.error()) {
  <app-error-box>
    {{ store.error() | json }}
  </app-error-box>
}

<div class='print-hide px-6 py-4 flex flex-wrap justify-between gap-2 w-full border-t border-neutral-400 dark:border-neutral-500'>
  <div class='flex flex-wrap gap-2'>
    <button mat-stroked-button
            color='accent'
            type='button'
            class='close-button'
            (click)='close()'>
      {{ `${_i18nEntity}.cancel` | translate }}
    </button>
  </div>
  <div class='flex gap-2 justify-end'>
    <button mat-raised-button
            color='primary'
            type='submit'
            name='update'
            [disabled]='form().invalid() || !form().dirty() || store.loading()'
            (click)='generateQRCode(false)'>
      @if (store.loading()) {
        <mat-icon>
          <mat-spinner diameter='20'/>
        </mat-icon>
      }
      {{ `${_i18nEntity}.generateQrCode` | translate }}
    </button>

    <button mat-raised-button
            color='primary'
            type='submit'
            name='update'
            [disabled]='form().invalid() || !form().dirty() || store.loading()'
            (click)='generateQRCode(true)'>
      @if (store.loading()) {
        <mat-icon>
          <mat-spinner diameter='20'/>
        </mat-icon>
      }
      {{ `${_i18nEntity}.generatePersistentQrCode` | translate }}
    </button>
  </div>
</div>
