@let _prefix = 'ADMIN.questionnaire';

<h2 mat-dialog-title class="border-b border-neutral-400 dark:border-neutral-500">
  <span>{{ `SHARED.dialog.${dialogData.mode}` | translate }}</span>
  <span> {{ `${_prefix}.title.singular` | translate }}</span>
  <code class="italic text-secondary"> {{ dialogData.entity?._name ? `${dialogData.entity?._name}` : `` }}</code>
</h2>

<mat-dialog-content [class]="dialogData.mode !== DialogMode.DELETE ? 'p-0!' : ''">
  @if (dialogData.mode === DialogMode.DELETE) {
    <div class='mb-4 text-base'>
      <div class="mt-4">
        <p>{{ "SHARED.dialog.deleteMessage" | translate }} {{ `${_prefix}.name.label` | translate }}: <code class="italic text-secondary">{{ dialogData.entity?.name }}</code>.</p>
        <p class="font-bold">{{ "SHARED.dialog.deleteWarning" | translate }}</p>
      </div>
    </div>
  }

  @if (dialogData.mode === DialogMode.ADD || dialogData.mode === DialogMode.EDIT) {
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms"
                   class="h-full [&>.mat-mdc-tab-body-wrapper]:h-full! [&>mat-tab-header]:border-b-2 [&>mat-tab-header]:border-neutral-200 [&>mat-tab-header]:dark:border-neutral-600 [&>.mat-mdc-tab-body-wrapper]:p-4!">
      <mat-tab>
        <ng-template mat-tab-label>
          <h2 class='flex items-center gap-2 m-0 text-base font-bold'>
            General
          </h2>
          @if (!sectionsValidity.general) {
            <mat-icon class="absolute -right-6 material-symbols-outlined text-base! text-red-600! font-bold">warning</mat-icon>
          }
        </ng-template>
        <ng-template matTabContent>
          <app-questionnaire-general [questionnaires]="dialogData.questionnaireFullList"
                                     (valid)="onSectionValidEvent('general', $event)" />
<!--                                     (changeEvent)="onEntityUpdate($event)"-->
        </ng-template>
      </mat-tab>

      <mat-tab [disabled]="!sectionsValidity.general">
        <ng-template mat-tab-label>
          <h2 class='flex items-center gap-2 m-0 text-base font-bold'>Questions</h2>
          @if (!sectionsValidity.questions) {
            <mat-icon class="absolute -right-6 material-symbols-outlined text-base! text-red-600! font-bold">warning</mat-icon>
          }
        </ng-template>
        <ng-template matTabContent>
          <app-questionnaire-questions
                                       (validEvent)="onSectionValidEvent('questions', $event)" />
<!--          (changeEvent)="onEntityUpdate($event)"-->
        </ng-template>
      </mat-tab>

      <mat-tab [disabled]="!sectionsValidity.general">
        <ng-template mat-tab-label>
          <h2 class='flex items-center gap-2 m-0 text-base font-bold'>
            Scheduling
          </h2>
          @if (!sectionsValidity.scheduling) {
            <mat-icon class="absolute -right-6 material-symbols-outlined text-base! text-red-600! font-bold">warning</mat-icon>
          }
        </ng-template>
        <ng-template matTabContent>
          <app-questionnaire-scheduling (valid)="onSectionValidEvent('scheduling', $event)" />
<!--          (changeEvent)="onEntityUpdate($event)"-->
        </ng-template>
      </mat-tab>

      <mat-tab [disabled]="!sectionsValidity.general">
        <ng-template mat-tab-label>
          <h2 class='flex items-center gap-2 m-0 text-base font-bold'>
            Custom Messages
          </h2>
          @if (!sectionsValidity.customMessages) {
            <mat-icon class="absolute -right-6 material-symbols-outlined text-base! text-red-600! font-bold">warning</mat-icon>
          }
        </ng-template>
        <ng-template matTabContent>
          <app-questionnaire-custom-messages
                                             (valid)="onSectionValidEvent('customMessages', $event)" />
<!--          (changeEvent)="onEntityUpdate($event)"-->
        </ng-template>
      </mat-tab>


      <mat-tab [disabled]="store.selected()?.schedule?.onDemand || !sectionsValidity.general">
        <ng-template mat-tab-label>
          <h2 class='flex items-center gap-2 m-0 text-base font-bold'>
            Notifications
          </h2>
          @if (!sectionsValidity.notifications) {
            <mat-icon class="absolute -right-6 material-symbols-outlined text-base! text-red-600! font-bold">warning</mat-icon>
          }
        </ng-template>
        <ng-template matTabContent>
          <app-questionnaire-notifications (valid)="onSectionValidEvent('notifications', $event)" />
<!--          (changeEvent)="onEntityUpdate($event)"-->
<!---->
        </ng-template>
      </mat-tab>

      <mat-tab [disabled]="!sectionsValidity.general">
        <ng-template mat-tab-label>
          <h2 class='flex items-center gap-2 m-0 text-base font-bold'>
            Translations
          </h2>
          @if (!sectionsValidity.translations) {
            <mat-icon class="absolute -right-6 material-symbols-outlined text-base! text-red-600! font-bold">warning</mat-icon>
          }
        </ng-template>
        <ng-template matTabContent>
          <app-questionnaire-translation (valid)="onSectionValidEvent('translations', $event)" />
<!--          (changeEvent)="onEntityUpdate($event)"-->
        </ng-template>
      </mat-tab>
      <mat-tab [disabled]="!sectionsValidity.general">
        <ng-template mat-tab-label>
          <h2 class='flex items-center gap-2 m-0 text-base font-bold'>Intervention Flow</h2>
        </ng-template>
        <ng-template matTabContent>
          <app-questionnaire-intervention-flow />
        </ng-template>
      </mat-tab>
      <mat-tab [disabled]="!sectionsValidity.general">
        <ng-template mat-tab-label>
          <h2 class='flex items-center gap-2 m-0 text-base font-bold'>Preview</h2>
        </ng-template>
        <ng-template matTabContent>
          <app-questionnaire-preview />
        </ng-template>
      </mat-tab>
      <mat-tab [disabled]="!sectionsValidity.general">
        <ng-template mat-tab-label>
          <h2 class='flex items-center gap-2 m-0 text-base font-bold'>Advanced (JSON) Editor</h2>
        </ng-template>
        <ng-template matTabContent>
          <app-questionnaire-json-editor />
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  }
</mat-dialog-content>

@if (store.error()) {
  <app-error-message-box>
    {{ store.error() | json }}
  </app-error-message-box>
}

<div class='px-6 py-4 flex flex-wrap justify-between gap-2 w-full border-t border-neutral-400 dark:border-neutral-500'>
  <div class='flex flex-wrap gap-2'>
    <button (click)='close()'
            mat-stroked-button
            color="accent"
            type="button">
      {{ dialogData.mode !== DialogMode.DELETE ?
      ('SHARED.dialog.cancel' | translate) :
      ('SHARED.dialog.no' | translate) }}
    </button>
  </div>
  <div class='ml-auto justify-end flex items-center gap-2'>
    @if (dialogData.mode === DialogMode.DELETE) {
      <button [disabled]='isLoading'
              (click)='delete()'
              color="warn"
              mat-raised-button
              type="button">
        @if (isLoading) {
          <ng-container>
            <mat-icon>
              <mat-spinner diameter='20' />
            </mat-icon>
            {{ 'SHARED.dialog.deletingButton' | translate }}
          </ng-container>
        } @else {
          {{ 'SHARED.dialog.yes' | translate }}
        }
      </button>
    }
    @if (dialogData.mode === DialogMode.EDIT) {
      <button
              (click)='save()'
              mat-raised-button
              color="primary"
              type="button">
        @if (isLoading) {
          <mat-icon>
            <mat-spinner diameter='20' />
          </mat-icon>
        }
        {{ "SHARED.dialog.update" | translate }}
      </button>
    }
    @if (dialogData.mode === DialogMode.ADD) {
      <button
              (click)='save()'
              color="primary"
              mat-raised-button
              type="button" [disabled]="!sectionsValidity.general">
        @if (isLoading) {
          <mat-icon>
            <mat-spinner diameter='20' />
          </mat-icon>
        }
        {{ "SHARED.dialog.create" | translate }}
      </button>
    }
  </div>
</div>
