<app-entity-details [entityMetadata]="configService.getEntityMetadata()"
                    [tableFields]="configService.getTableFields()"
                    [detailType]="detailType()"
                    [customTemplate]="detailsTemplate"/>

<ng-template #detailsTemplate let-property>
  @if (entity(); as _entity) {
    @switch (property.name) {
      @case ('email') {
        @if (_entity.email) {
          <a class="underline" href="mailto:{{ _entity.email}}" target="_blank">{{ _entity.email || '-' }}</a>
        } @else {
          -
        }
      }
      @case ('activated') {
        <span class="flex items-center gap-1">
        <app-user-activated class="inline-flex" [activated]="_entity.activated"/>
        <app-user-activate [entity]="_entity"/>
      </span>

      }
      @case ('langKey') {
        {{ _entity.langKey?.toUpperCase() || '-' }}
      }
      @case ('roles') {
        <app-user-roles [roles]="_entity._roles"/>
      }
      @case ('createdBy') {
        <app-user-created-by [createdBy]="_entity.createdBy"/>
      }
      @case ('createdDate') {
        <app-local-date [date]="_entity.createdDate" [format]="'long'"/>
      }
      @case ('lastModifiedBy') {
        <app-user-created-by [createdBy]="_entity.lastModifiedBy"/>
      }
      @case ('lastModifiedDate') {
        <app-local-date [date]="_entity.lastModifiedDate" [format]="'long'"/>
      }
      @default {
        {{ $any(_entity)[property.name] || '-' }}
      }
    }
  }
</ng-template>
