<rb-details [properties]="PROPERTIES"
            [name]="ENTITY_NAME.user"
            [entity]="entity()"
            [config]="config()"
            [type]="type()"
            [customTemplate]="detailsTemplate" />

<ng-template #detailsTemplate let-property>
  @switch (property.name) {
    @case ('email') {
      @if (entity().email) {
        <a [href]='"mailto:"+entity().email' target='_blank'>
          <span class="font-bold text-primary-color">{{ entity().email || '-' }}</span>
        </a>
      } @else {
        -
      }
    }
    @case ('activated') {
      <rb-user-activated [activated]="entity().activated" />
    }
    @case ('langKey') {
      {{ entity()["langKey"]?.toUpperCase() || '-' }}
    }
    @case ('roles') {
      <rb-user-roles [roles]="entity()._roles" />
    }
    @case ('createdBy') {
      <rb-user-created-by [createdBy]="entity().createdBy" />
    }
    @case ('createdDate') {
      <rb-local-date [date]="entity().createdDate" [format]="'long'" />
    }
    @case ('lastModifiedBy') {
      <rb-user-created-by [createdBy]="entity().lastModifiedBy" />
    }
    @case ('lastModifiedDate') {
      <rb-local-date [date]="entity().lastModifiedDate" [format]="'long'" />
    }
    @default {
      {{ entity()[property.name] || '-' }}
    }
  }
</ng-template>
