@let _prefix = "ADMIN.subject";

<h2 mat-dialog-title class="border-b border-neutral-400 dark:border-neutral-500">
  <span>Assign selected Subjects to a group</span>
</h2>

<mat-dialog-content>
  <form [formGroup]="form" novalidate>
    <p>Select a group</p>
    @if (dialogData.groupFullList | async; as groups) {
      <app-mat-select-autocomplete [options]="groups"
                                   formControlName='group'
                                   [label]="'ADMIN.subject.group.label' | translate"
                                   [adapter]="groupAdapter" />
    }
  </form>
</mat-dialog-content>

@if (error()) {
  <app-error-message-box>
    {{ error()?.error.errorCode | translate }}
  </app-error-message-box>
}

<div class='px-6 py-4 flex flex-wrap justify-between gap-2 w-full'>
  <div class='flex flex-wrap gap-2'>
    <button mat-stroked-button
            color='primary'
            type='button'
            class='close-button'
            [mat-dialog-close]='true'
            (click)='close()'>
      {{ 'ADMIN.subject.assignGroupDialog.cancel' | translate }}
    </button>
  </div>
  <div class='action-buttons-container-right'>
    <button mat-raised-button
            color='primary'
            type='submit'
            name='update'
            [disabled]='!form.valid || !form.dirty || loading()'
            (click)='onAction()'>
      @if (loading()) {
        <mat-icon><mat-spinner diameter='20' /></mat-icon>
      }
      {{'ADMIN.subject.assignGroupDialog.assign' | translate }}
    </button>
  </div>
</div>

