<rb-dialog-title [mode]='mode'
                 [label]='{singular: ("ADMIN.protocol.title.singular" | translate), plural: ("ADMIN.protocol.title.plural" | translate)}'
                 (closeClicked)='close()'>
</rb-dialog-title>

<ng-container *ngIf='form'>
  <mat-dialog-content>
    <rb-dialog-body-description *ngIf='mode === DialogMode.VIEW || mode === DialogMode.DELETE'>
      <rb-protocol-details [mode]='mode' [entity]='entity'></rb-protocol-details>
    </rb-dialog-body-description>

    <ng-container *ngIf='mode === DialogMode.ADD || mode === DialogMode.EDIT'>
      <form [formGroup]='form' novalidate class="">
        <div class="flex justify-between items-start gap-4">
          <mat-form-field *ngIf='mode !== DialogMode.ADD'
                          class='small-input w-1/2'
                          subscriptSizing="dynamic"
                          appearance='outline'
                          floatLabel='always'>
            <mat-label>{{ 'ADMIN.project.id.label' | translate }}</mat-label>
            <input matInput formControlName='id'/>
          </mat-form-field>
          <mat-form-field class='small-input w-1/2'
                          subscriptSizing="dynamic"
                          appearance='outline'
                          floatLabel='always'>
            <mat-label>{{ 'ADMIN.questionnaire.name.label' | translate }}</mat-label>
            <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
            <input matInput formControlName='name' required/>
            <mat-error *ngIf="form.controls.name.errors?.['duplicate']">
              {{ "Name exists" }}
            </mat-error>
            <mat-error *ngIf="form.controls.name.errors?.['pattern']">
              {{ValidatorError.normalTextValidator}}
            </mat-error>
            <mat-error *ngIf="form.controls.name.errors?.['required']">
              {{ValidatorError.requiredValidator | translate: {value: 'ADMIN.questionnaire.name.label' | translate } }}
            </mat-error>
          </mat-form-field>
        </div>

        <mat-divider class="my-4!"></mat-divider>

        <div class="flex justify-between items-start gap-4">
          <mat-form-field class='small-input w-1/2'
                          subscriptSizing="dynamic"
                          appearance='outline'
                          floatLabel='always'>
            <mat-label>Order</mat-label>
            <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
            <input matInput type="number" formControlName='order'/>
          </mat-form-field>

          <mat-form-field class='small-input w-1/2'
                          subscriptSizing="dynamic"
                          appearance='outline'
                          floatLabel='always'>
            <mat-label>Default Language</mat-label>
            <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
            <mat-select formControlName='defaultLanguage' required>
              <mat-option *ngFor="let language of LANGUAGES" [value]="language.code">{{language.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-divider class="my-4!"></mat-divider>

        <ng-container formGroupName="questionnaire">
          <div class="flex justify-between items-center gap-4">
            <mat-form-field class='small-input w-1/2'
                            subscriptSizing="dynamic"
                            appearance='outline'
                            floatLabel='always'>
              <mat-label>Questionnaire</mat-label>
              <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
              <mat-select formControlName='name' required>
                <mat-option *ngFor="let q of data.questionnaires" [value]="q.name">{{q.name}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class='small-input w-1/2'
                            subscriptSizing="dynamic"
                            appearance='outline'
                            floatLabel='always'>
              <mat-label>AVCS</mat-label>
              <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
              <mat-select formControlName='avsc' required>
                <mat-option [value]="'task'">Task</mat-option>
                <mat-option [value]="'questionnaire'">Questionnaire</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </ng-container>

        <mat-divider class="my-4!"></mat-divider>

        <div>
          <mat-form-field class='small-input w-1/2'
                          subscriptSizing="dynamic"
                          appearance='outline'
                          floatLabel='always'>
            <mat-label>Estimated Completion Time</mat-label>
            <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
            <input matInput type="number" formControlName='estimatedCompletionTime'/>
          </mat-form-field>
        </div>

        <div class='small-input w-1/2 text-sm'>
          <mat-slide-toggle formControlName='showInCalendar'
                            class="mb-4" color="primary">
            Show In Calendar
          </mat-slide-toggle>
        </div>

        <div class='w-1/2'>
          <mat-slide-toggle formControlName='isDemo'
                            class="mb-4 text-sm" color="primary">
            Is Demo
          </mat-slide-toggle>
        </div>
        <mat-divider class="my-4!"></mat-divider>

        <ng-container formGroupName="customStartText">
          <div>
            <mat-slide-toggle formControlName='enabled'
                              class="mb-4 text-sm" color="primary">
              Show Introduction
            </mat-slide-toggle>
          </div>
          <div *ngIf="form.controls.customStartText.controls.enabled?.value" class="flex justify-between items-center gap-4">
            <mat-form-field class='small-input w-1/2'
                            subscriptSizing="dynamic"
                            appearance='outline'
                            floatLabel='always'>
              <mat-label>Start Text</mat-label>
              <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
              <input matInput formControlName="startText"/>
            </mat-form-field>
          </div>
        </ng-container>

        <mat-divider class="my-4!"></mat-divider>

        <ng-container formGroupName="customEndText">
          <div>
            <mat-slide-toggle formControlName='enabled'
                              class="mb-4 text-sm" color="primary">
              Custom End Text
            </mat-slide-toggle>
          </div>
          <div *ngIf="form.controls.customEndText.controls.enabled?.value" class="flex justify-between items-center gap-4">
            <mat-form-field class='small-input w-1/2'
                            subscriptSizing="dynamic"
                            appearance='outline'
                            floatLabel='always'>
              <mat-label>End Text</mat-label>
              <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
              <input matInput formControlName="endText"/>
            </mat-form-field>
          </div>
        </ng-container>

        <mat-divider class="my-4!"></mat-divider>

        <ng-container formGroupName="customWarnText">
          <div>
            <mat-slide-toggle formControlName='enabled'
                              class="mb-4 text-sm" color="primary">
              Custom Warn Text
            </mat-slide-toggle>
          </div>
          <div *ngIf="form.controls.customWarnText.controls.enabled?.value" class="flex justify-between items-center gap-4">
            <mat-form-field class='small-input w-1/2'
                            subscriptSizing="dynamic"
                            appearance='outline'
                            floatLabel='always'>
              <mat-label>Warn Text</mat-label>
              <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
              <input matInput formControlName="warn" />
            </mat-form-field>
          </div>
        </ng-container>


        <mat-divider class="my-4!"></mat-divider>

        <ng-container formGroupName="customProtocol">
          <div class="flex justify-between items-start gap-4">
            <div formGroupName="repeatProtocol" class="w-1/2">
              <div>
                <mat-slide-toggle formControlName='enabled'
                                  class="mb-4 text-sm" color="primary">
                  Repeat Protocol
                </mat-slide-toggle>
              </div>
              <ng-container *ngIf="form.controls.customProtocol.controls.repeatProtocol.controls.enabled?.value">
                <div class="flex gap-4 items-start">
                  <mat-form-field class='small-input w-1/2'
                                  subscriptSizing="dynamic"
                                  appearance='outline'
                                  floatLabel='always'>
                    <mat-label>Amount</mat-label>
                    <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
                    <input matInput formControlName='amount' type="number" min="1" max="10000"/>
                  </mat-form-field>
                  <mat-form-field class='small-input w-1/2'
                                  subscriptSizing="dynamic"
                                  appearance='outline'
                                  floatLabel='always'>
                    <mat-label>Unit</mat-label>
                    <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
                    <mat-select formControlName='unit'>
                      <mat-option *ngFor="let unit of units" [value]="unit.name">{{unit.label}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

              </ng-container>
            </div>
            <mat-form-field class='small-input w-1/2'
                            subscriptSizing="dynamic"
                            appearance='outline'
                            floatLabel='always'
                            formGroupName="repeatQuestionnaire">
              <mat-label>Times</mat-label>
              <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
              <textarea matInput rows="4" formControlName='times' required></textarea>
            </mat-form-field>
          </div>

          <mat-divider class="my-4!"></mat-divider>

          <ng-container formGroupName="reminders">
            <div>
              <mat-slide-toggle formControlName='enabled'
                                class="mb-4 text-sm" color="primary">
                Reminders
              </mat-slide-toggle>
            </div>
            <div *ngIf="form.controls.customProtocol.controls.reminders.controls.enabled?.value" class="flex justify-between items-center gap-4 w-3/4">
              <mat-form-field class='small-input w-1/3'
                              subscriptSizing="dynamic"
                              appearance='outline'
                              floatLabel='always'>
                <mat-label>Amount</mat-label>
                <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
                <input matInput formControlName='amount' type="number" min="1" max="10000"/>
              </mat-form-field>
              <mat-form-field class='small-input w-1/3'
                              subscriptSizing="dynamic"
                              appearance='outline'
                              floatLabel='always'>
                <mat-label>Unit</mat-label>
                <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
                <mat-select formControlName='unit'>
                  <mat-option *ngFor="let unit of units" [value]="unit.name">{{unit.label}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class='small-input w-1/3'
                              subscriptSizing="dynamic"
                              appearance='outline'
                              floatLabel='always'>
                <mat-label>Repeat</mat-label>
                <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
                <input matInput type="number" formControlName='repeat'/>
              </mat-form-field>
            </div>
          </ng-container>

          <mat-divider class="my-4!"></mat-divider>

          <ng-container formGroupName="completionWindow">
            <div>
              <mat-slide-toggle formControlName='enabled'
                                class="mb-4 text-sm" color="primary">
                Completion Window
              </mat-slide-toggle>
            </div>
            <div *ngIf="form.controls.customProtocol.controls.completionWindow.controls.enabled?.value" class="flex justify-between items-center gap-4 w-1/2">
              <mat-form-field class='small-input w-1/2'
                              subscriptSizing="dynamic"
                              appearance='outline'
                              floatLabel='always'>
                <mat-label>Amount</mat-label>
                <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
                <input matInput formControlName='amount' type="number" min="1" max="10000"/>
              </mat-form-field>
              <mat-form-field class='small-input w-1/2'
                              subscriptSizing="dynamic"
                              appearance='outline'
                              floatLabel='always'>
                <mat-label>Unit</mat-label>
                <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
                <mat-select formControlName='unit'>
                  <mat-option *ngFor="let unit of units" [value]="unit.name">{{unit.label}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </ng-container>

          <mat-divider class="my-4!"></mat-divider>

          <ng-container formGroupName="clinicalProtocol">
            <div>
              <mat-slide-toggle formControlName='enabled'
                                class="mb-4 text-sm" color="primary">
                Clinical Protocol
              </mat-slide-toggle>
            </div>
            <div *ngIf="form.controls.customProtocol.controls.clinicalProtocol.controls.enabled?.value">
              <div>
                <mat-slide-toggle formControlName='requiresInClinicCompletion'
                                  class="mb-4 text-sm" color="primary">
                  Requires In Clinic Completion
                </mat-slide-toggle>
              </div>
              <ng-container formGroupName="repeatAfterClinicVisit">
                <div>
                  <mat-slide-toggle formControlName='enabled'
                                    class="mb-4 text-sm" color="primary">
                    Repeat After Clinic Visit
                  </mat-slide-toggle>
                </div>
                <ng-container *ngIf="form.controls.customProtocol.controls.clinicalProtocol.controls.repeatAfterClinicVisit.controls.enabled?.value">
                  <div class="flex items-center gap-4">
                    <mat-form-field class='small-input w-1/4'
                                    subscriptSizing="dynamic"
                                    appearance='outline'
                                    floatLabel='always'>
                      <mat-label>Units From Zero</mat-label>
                      <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
                      <input matInput formControlName='unitsFromZero'/>
                    </mat-form-field>
                    <mat-form-field class='small-input w-1/4'
                                    subscriptSizing="dynamic"
                                    appearance='outline'
                                    floatLabel='always'>
                      <mat-label>Unit</mat-label>
                      <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
                      <mat-select formControlName='unit'>
                        <mat-option *ngFor="let unit of units" [value]="unit.name">{{unit.label}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </ng-container>

              </ng-container>

            </div>
          </ng-container>

          <mat-divider class="my-4!"></mat-divider>

          <ng-container formGroupName="notification">
            <div>
              <mat-slide-toggle formControlName='enabled'
                                class="mb-4 text-sm" color="primary">
                Custom Notification
              </mat-slide-toggle>
            </div>
            <div *ngIf="form.controls.customProtocol.controls.notification.controls.enabled?.value" class="flex justify-between items-center gap-4">
              <mat-form-field class='small-input w-1/2'
                              subscriptSizing="dynamic"
                              appearance='outline'
                              floatLabel='always'>
                <mat-label>Title</mat-label>
                <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
                <input matInput formControlName='title'/>
              </mat-form-field>
              <mat-form-field class='small-input w-1/2'
                              subscriptSizing="dynamic"
                              appearance='outline'
                              floatLabel='always'>
                <mat-label>Text</mat-label>
                <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
                <input matInput formControlName='text'/>
              </mat-form-field>

            </div>
          </ng-container>

        </ng-container>

      </form>
    </ng-container>

  </mat-dialog-content>

  <div>
    <rb-message *ngIf='error'></rb-message>
<!--    <button (click)="reset()">Reset</button>-->
<!--    <div class='px-6 py-4 flex flex-wrap justify-between gap-2 w-full'>-->
<!--      <div class='flex flex-wrap gap-2'></div>-->
<!--      <div class='flex gap-4 ml-auto justify-end'>-->
<!--        <input type="file" class="hidden"-->
<!--               onclick="this.value = null"-->
<!--               (change)="onFileSelected($event)" #fileImport>-->
<!--        <button type='button'-->
<!--                mat-stroked-button-->
<!--                color='primary'-->
<!--                (click)="fileImport.click()">-->
<!--          <mat-icon fontSet='material-icons-outlined'>input</mat-icon>-->
<!--          <span class="font-bold">Import</span>-->
<!--        </button>-->

<!--        <a type='button' mat-stroked-button color='primary' [href]="downloadJsonHref"-->
<!--           [download]="'protocol-' + form.controls.name.value + '-export.json'">-->
<!--          <mat-icon fontSet='material-icons-outlined'>output</mat-icon>-->
<!--          <span class="font-bold">Export</span>-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->

    <rb-dialog-actions [mode]='mode'
                       [form]='form'
                       (actionTriggered)='onAction($event)'>
      <input type="file" class="hidden"
             onclick="this.value = null"
             (change)="onFileSelected($event)" #fileImport>
      <button (click)="fileImport.click()" mat-raised-button color="primary" type="button">
        <span class="material-symbols-outlined font-bold">download</span>
        <span class="font-bold">Import</span>
      </button>
      <a [href]="downloadJsonHref" mat-raised-button color="primary"
         [download]="'protocol-' + form.controls.name.value + '-export.json'"
              type="button">
        <span class="material-symbols-outlined font-bold">upload</span>
        <span class="font-bold">Export</span>
      </a>
    </rb-dialog-actions>
  </div>
</ng-container>
