@let _i18nResetPassword = "AUTH.RESET_PASSWORD";
@let _i18nError = "AUTH.ERROR";

<div class="flex justify-center items-center h-full">
  <mat-card class="max-w-200">
    <mat-card-content class="p-0! grid! grid-cols-2">
      <div class="p-8">
        <h4 class="my-12 text-center text-xl font-bold">{{ `${_i18nResetPassword}.title` | translate }}</h4>

        @if (!key) {
          <app-error-box>
            {{ `${_i18nResetPassword}.errorMessage` | translate }}
          </app-error-box>

          <p class="mt-4">
            <a class="text-primary" [routerLink]='["/forgot-password"]'>
              {{ `${_i18nResetPassword}.goToForgotPassword` | translate }}
            </a>
          </p>
        } @else {
          <p class="mb-4">{{ `${_i18nResetPassword}.subtitle` | translate }}</p>
          @if (success()) {
            <button mat-raised-button
                    [disabled]="true"
                    class="from-green-700 to-green-500 w-full my-4"
                    color='primary'
                    type='submit'
                    name='update'>
              <mat-icon matIconSuffix>check</mat-icon>
              {{ `${_i18nResetPassword}.success` | translate }}
            </button>
          } @else {
            <form class="mb-4" novalidate (submit)="onSubmit($event)">
              <app-input-form-field [field]="form.password"
                                    [label]=`${_i18nResetPassword}.newPassword`
                                    [type]="hidePassword ? 'password' : 'text'"
                                    [required]="true">
                <button type='button'
                        matSuffix
                        mat-icon-button
                        class="app-icon-button-small text-sm shrink-0"
                        (click)="hidePassword = !hidePassword">
                  <mat-icon matSuffix>
                    {{ hidePassword ? 'visibility_off' : 'visibility' }}
                  </mat-icon>
                </button>
              </app-input-form-field>

              <app-input-form-field [field]="form.confirmPassword"
                                    [label]=`${_i18nResetPassword}.confirmPassword`
                                    [type]="hideConfirmPassword ? 'password' : 'text'"
                                    [required]="true">
                <button type='button'
                        matSuffix
                        mat-icon-button
                        class="app-icon-button-small text-sm shrink-0"
                        (click)="hideConfirmPassword = !hideConfirmPassword">
                  <mat-icon matSuffix>
                    {{ hidePassword ? 'visibility_off' : 'visibility' }}
                  </mat-icon>
                </button>
              </app-input-form-field>

              <button mat-raised-button
                      class="w-full mt-4"
                      color='primary'
                      name='update'
                      [disabled]='formSubmitDisabled()'>
                @if (loading()) {
                  <mat-icon>
                    <mat-spinner diameter='20'/>
                  </mat-icon>
                }
                {{ `${_i18nResetPassword}.submit` | translate }}
              </button>
            </form>
          }

          @if (error()) {
            <div class="my-4">
              <app-error-box class="mt-4">
                {{ `${_i18nError}.${error()?.error?.errorCode ?? error()?.error?.error}` | translate }}
                <p class="my-4 text-start">{{ `${_i18nResetPassword}.errorMessage` | translate }}</p>
              </app-error-box>
            </div>


            <p>
              <a [routerLink]='["/forgot-password"]'>
                {{ `${_i18nResetPassword}.goToForgotPassword` | translate }}
              </a>
            </p>
          }
        }
      </div>
      <app-branding class="w-full"/>
    </mat-card-content>
  </mat-card>
</div>
