@use '@angular/material' as mat;

@mixin overrides() {
  @include mat.form-field-overrides((
    // Base
    calendar-container-elevation-shadow: (0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12)),
    calendar-container-shape: var(--mat-sys-corner-large),
    calendar-container-touch-elevation-shadow: (0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12)),
    calendar-container-touch-shape: var(--mat-sys-corner-extra-large),
    // Color
    calendar-body-label-text-color: var(--mat-sys-on-surface),
    calendar-container-background-color: var(--mat-sys-surface-container-high),
    calendar-container-text-color: var(--mat-sys-on-surface),
    calendar-date-disabled-state-text-color: color-mix(in srgb, var(--mat-sys-on-surface) 38%, transparent),
    calendar-date-focus-state-background-color: color-mix(in srgb, var(--mat-sys-on-surface) calc(var(--mat-sys-focus-state-layer-opacity) * 100%), transparent),
    calendar-date-hover-state-background-color: color-mix(in srgb, var(--mat-sys-on-surface) calc(var(--mat-sys-hover-state-layer-opacity) * 100%), transparent),
    calendar-date-in-comparison-range-state-background-color: var(--mat-sys-tertiary-container),
    calendar-date-in-overlap-range-selected-state-background-color: var(--mat-sys-secondary),
    calendar-date-in-overlap-range-state-background-color: var(--mat-sys-secondary-container),
    calendar-date-in-range-state-background-color: var(--mat-sys-primary-container),
    calendar-date-outline-color: transparent,
    calendar-date-preview-state-outline-color: var(--mat-sys-primary),
    calendar-date-selected-disabled-state-background-color: color-mix(in srgb, var(--mat-sys-on-surface) 38%, transparent),
    calendar-date-selected-state-background-color: var(--mat-sys-primary),
    calendar-date-selected-state-text-color: var(--mat-sys-on-primary),
    calendar-date-text-color: var(--mat-sys-on-surface),
    calendar-date-today-disabled-state-outline-color: color-mix(in srgb, var(--mat-sys-on-surface) 38%, transparent),
    calendar-date-today-outline-color: var(--mat-sys-primary),
    calendar-date-today-selected-state-outline-color: var(--mat-sys-primary),
    calendar-header-divider-color: transparent,
    calendar-header-text-color: var(--mat-sys-on-surface-variant),
    calendar-navigation-button-icon-color: var(--mat-sys-on-surface-variant),
    calendar-period-button-icon-color: var(--mat-sys-on-surface-variant),
    calendar-period-button-text-color: var(--mat-sys-on-surface-variant),
    range-input-disabled-state-separator-color: color-mix(in srgb, var(--mat-sys-on-surface) 38%, transparent),
    range-input-disabled-state-text-color: color-mix(in srgb, var(--mat-sys-on-surface) 38%, transparent),
    range-input-separator-color: var(--mat-sys-on-surface),
    toggle-active-state-icon-color: var(--mat-sys-primary),
    toggle-icon-color: var(--mat-sys-on-surface-variant),
    // Typography
    calendar-body-label-text-size: var(--mat-sys-title-small-size),
    calendar-body-label-text-weight: var(--mat-sys-title-small-weight),
    calendar-header-text-size: var(--mat-sys-title-small-size),
    calendar-header-text-weight: var(--mat-sys-title-small-weight),
    calendar-period-button-text-size: var(--mat-sys-title-small-size),
    calendar-period-button-text-weight: var(--mat-sys-title-small-weight),
    calendar-text-font: var(--mat-sys-body-medium-font),
    calendar-text-size: var(--mat-sys-body-medium-size),
)) }
