@use '@angular/material' as mat;

@mixin overrides() {
  @include mat.form-field-overrides((
    // Base
    //filled-active-indicator-height: 1px,
    //filled-focus-active-indicator-height: 2px,
    //filled-container-shape: --mat-sys-corner-extra-small,
    //outlined-outline-width: 1px,
    //outlined-focus-outline-width: 2px,
    //outlined-container-shape: --mat-sys-corner-extra-small,

    // Color
    //disabled-input-text-placeholder-color: color-mix(in srgb, var(--mat-sys-on-surface) 38%, transparent),
    //disabled-leading-icon-color: color-mix(in srgb, var(--mat-sys-on-surface) 38%, transparent),
    //disabled-select-arrow-color: color-mix(in srgb, var(--mat-sys-on-surface) 38%, transparent),
    //disabled-trailing-icon-color: color-mix(in srgb, var(--mat-sys-on-surface) 38%, transparent),
    //enabled-select-arrow-color: var(--mat-sys-on-surface-variant),
    //error-focus-trailing-icon-color: var(--mat-sys-error),
    //error-hover-trailing-icon-color: var(--mat-sys-on-error-container),
    //error-text-color: var(--mat-sys-error),
    //error-trailing-icon-color: var(--mat-sys-error),
    //filled-active-indicator-color: var(--mat-sys-on-surface-variant),
    //filled-caret-color: var(--mat-sys-primary),
    //filled-container-color: var(--mat-sys-surface-variant),
    //filled-disabled-active-indicator-color: color-mix(in srgb, var(--mat-sys-on-surface) 38%, transparent),
    //filled-disabled-container-color: color-mix(in srgb, var(--mat-sys-on-surface) 4%, transparent),
    //filled-disabled-input-text-color: color-mix(in srgb, var(--mat-sys-on-surface) 38%, transparent),
    //filled-disabled-label-text-color: color-mix(in srgb, var(--mat-sys-on-surface) 38%, transparent),
    //filled-error-active-indicator-color: var(--mat-sys-error),
    //filled-error-caret-color: var(--mat-sys-error),
    //filled-error-focus-active-indicator-color: var(--mat-sys-error),
    //filled-error-focus-label-text-color: var(--mat-sys-error),
    //filled-error-hover-active-indicator-color: var(--mat-sys-on-error-container),
    //filled-error-hover-label-text-color: var(--mat-sys-on-error-container),
    //filled-error-label-text-color: var(--mat-sys-error),
    //filled-focus-active-indicator-color: var(--mat-sys-primary),
    //filled-focus-label-text-color: var(--mat-sys-primary),
    //filled-hover-active-indicator-color: var(--mat-sys-on-surface),
    //filled-hover-label-text-color: var(--mat-sys-on-surface-variant),
    //filled-input-text-color: var(--mat-sys-on-surface),
    //filled-input-text-placeholder-color: var(--mat-sys-on-surface-variant),
    //filled-label-text-color: var(--mat-sys-on-surface-variant),
    //focus-select-arrow-color: var(--mat-sys-primary),
    //focus-state-layer-opacity: 0,
    //hover-state-layer-opacity: var(--mat-sys-hover-state-layer-opacity),
    //leading-icon-color: var(--mat-sys-on-surface-variant),
    //outlined-caret-color: var(--mat-sys-primary),
    //outlined-disabled-input-text-color: color-mix(in srgb, var(--mat-sys-on-surface) 38%, transparent),
    //outlined-disabled-label-text-color: color-mix(in srgb, var(--mat-sys-on-surface) 38%, transparent),
    //outlined-disabled-outline-color: color-mix(in srgb, var(--mat-sys-on-surface) 12%, transparent),
    //outlined-error-caret-color: var(--mat-sys-error),
    //outlined-error-focus-label-text-color: var(--mat-sys-error),
    //outlined-error-focus-outline-color: var(--mat-sys-error),
    //outlined-error-hover-label-text-color: var(--mat-sys-on-error-container),
    //outlined-error-hover-outline-color: var(--mat-sys-on-error-container),
    //outlined-error-label-text-color: var(--mat-sys-error),
    //outlined-error-outline-color: var(--mat-sys-error),
    //outlined-focus-label-text-color: var(--mat-sys-primary),
    //outlined-focus-outline-color: var(--mat-sys-primary),
    //outlined-hover-label-text-color: var(--mat-sys-on-surface),
    //outlined-hover-outline-color: var(--mat-sys-on-surface),
    //outlined-input-text-color: var(--mat-sys-on-surface),
    //outlined-input-text-placeholder-color: var(--mat-sys-on-surface-variant),
    //outlined-label-text-color: var(--mat-sys-on-surface-variant),
    //outlined-outline-color: var(--mat-sys-outline),
    //select-disabled-option-text-color: color-mix(in srgb, var(--mat-sys-neutral10) 38%, transparent),
    //select-option-text-color: var(--mat-sys-neutral10),
    //state-layer-color: var(--mat-sys-on-surface),
    //trailing-icon-color: var(--mat-sys-on-surface-variant),

    // Typography
    //container-text-font: var(--mat-sys-body-large-font),
    container-text-line-height: var(--mat-sys-body-small-line-height), //var(--mat-sys-body-large-line-height),
    container-text-size: var(--mat-sys-body-small-size), //var(--mat-sys-body-large-size),
    container-text-tracking: var(--mat-sys-body-small-tracking), //var(--mat-sys-body-large-tracking),
    container-text-weight: var(--mat-sys-body-small-weight), //var(--mat-sys-body-large-weight),
    //subscript-text-font: var(--mat-sys-body-small-font),
    subscript-text-line-height: var(--mat-sys-body-small-line-height),
    subscript-text-size: var(--mat-sys-body-small-size),
    subscript-text-tracking: var(--mat-sys-body-small-tracking),
    subscript-text-weight: var(--mat-sys-body-small-weight),
    //outlined-label-text-font: var(--mat-sys-body-large-font),
    outlined-label-text-size: var(--mat-sys-body-large-size),
    outlined-label-text-tracking: var(--mat-sys-body-large-tracking),
    outlined-label-text-weight: var(--mat-sys-body-large-weight),
    //filled-label-text-font: var(--mat-sys-body-large-font),
    filled-label-text-size: var(--mat-sys-body-large-size),
    filled-label-text-tracking: var(--mat-sys-body-large-tracking),
    filled-label-text-weight: var(--mat-sys-body-large-weight),
    //outlined-label-text-populated-sizeTypography,

    // Density
    container-height: 36px, //56px,
    //filled-label-display: block,
    container-vertical-padding: 8px, //16px,
    //filled-with-label-container-padding-top: 24px,
    //filled-with-label-container-padding-bottom: 8px,
  ));

  //mat-form-field.small {
  //  @include mat.form-field-overrides((
  //    container-height: 33.5px, //28px,
  //    container-vertical-padding: 4px, //8px,
  //    filled-with-label-container-padding-top: 12px,
  //    filled-with-label-container-padding-bottom: 4px,
  //    container-text-font: var(--mat-sys-body-small-font), //var(--mat-sys-body-large-font),
  //    container-text-line-height: var(--mat-sys-body-small-line-height), //var(--mat-sys-body-large-line-height),
  //    container-text-size: var(--mat-sys-body-small-size), //var(--mat-sys-body-small-size),
  //    container-text-tracking: var(--mat-sys-body-small-tracking),
  //    container-text-weight: var(--mat-sys-body-small-weight),
  //    outlined-label-text-font: var(--mat-sys-body-small-font),
  //    outlined-label-text-size: var(--mat-sys-body-small-size),
  //    outlined-label-text-tracking: var(--mat-sys-body-small-tracking),
  //    outlined-label-text-weight: var(--mat-sys-body-small-weight),
  //  ));
  //}
}

