@use '@angular/material' as mat;

@mixin overrides() {
  @include mat.slide-toggle-overrides((
    //Base
    disabled-selected-handle-opacity: 0.38, //1,
    //disabled-selected-icon-opacity: 0.38,
    //disabled-track-opacity: 0.12,
    //disabled-unselected-handle-opacity: 0.38,
    //disabled-unselected-icon-opacity: 0.38,
    disabled-unselected-track-outline-width: 1px,//2px,
    handle-shape: 10px, //var(--mat-sys-corner-full),
    hidden-track-opacity: 1, //0,
    hidden-track-transition: transform 75ms 0ms cubic-bezier(0.4, 0, 0.6, 1), //(opacity,75ms),
    pressed-handle-size: 20px,//28px,
    selected-handle-horizontal-margin: 0, //(0,24px),
    selected-handle-size: 20px,//24px,
    selected-icon-size: 18px,//16px,
    selected-pressed-handle-horizontal-margin: 0, //(0,22px),
    //selected-track-outline-color: transparent,
    selected-track-outline-width: 1px, //2px,
    selected-with-icon-handle-horizontal-margin: 0, //(0,24px),
    //state-layer-size: 40px,
    track-height: 14px, //32px,
    track-outline-width: 1px, //2px,
    track-shape: 7px, //var(--mat-sys-corner-full),
    track-width: 36px, //52px,
    unselected-handle-horizontal-margin: 0,//(0,8px),
    unselected-handle-size: 20px, //16px,
    unselected-icon-size: 18px, //16px,
    unselected-pressed-handle-horizontal-margin: 0,//(0,2px),
    unselected-with-icon-handle-horizontal-margin: 0,//(0,4px),
    //visible-track-opacity: 1,
    visible-track-transition: transform 75ms 0ms cubic-bezier(0, 0, 0.2, 1),//(opacity,75ms),
    with-icon-handle-size: 20px, //24px,
    handle-width: 20px, //
    handle-height: 20px, //
    touch-target-size: 48px,

    // Color
    disabled-label-text-color: var(--mat-sys-on-surface),
    disabled-selected-handle-color: var(--mat-sys-surface),
    disabled-selected-icon-color: var(--mat-sys-on-surface),
    disabled-selected-track-color: var(--mat-sys-on-surface),
    disabled-unselected-handle-color: var(--mat-sys-on-surface),
    disabled-unselected-icon-color: var(--mat-sys-surface-variant),
    disabled-unselected-track-color: var(--mat-sys-surface-variant),
    disabled-unselected-track-outline-color: var(--mat-sys-on-surface),
    label-text-color: var(--mat-sys-on-surface),
    selected-focus-handle-color: var(--mat-sys-primary-container),
    selected-focus-state-layer-color: var(--mat-sys-primary),
    selected-focus-state-layer-opacity: var(--mat-sys-focus-state-layer-opacity),
    selected-focus-track-color: var(--mat-sys-primary),
    //selected-handle-color: var(--mat-sys-on-primary),
    selected-handle-color: var(--mat-sys-primary),
    selected-hover-handle-color: var(--mat-sys-primary-container),
    selected-hover-state-layer-color: var(--mat-sys-primary),
    selected-hover-state-layer-opacity: var(--mat-sys-hover-state-layer-opacity),
    selected-hover-track-color: var(--mat-sys-primary),
    selected-icon-color: var(--mat-sys-on-primary),
    //selected-icon-color: var(--mat-sys-on-primary-container),
    selected-pressed-handle-color: var(--mat-sys-primary-container),
    selected-pressed-state-layer-color: var(--mat-sys-primary),
    selected-pressed-state-layer-opacity: var(--mat-sys-pressed-state-layer-opacity),
    selected-pressed-track-color: var(--mat-sys-primary),
    //selected-track-color: var(--mat-sys-primary),
    selected-track-color: color-mix(in srgb, var(--mat-sys-primary) 38%, transparent),
    track-outline-color: var(--mat-sys-outline),
    unselected-focus-handle-color: var(--mat-sys-on-surface-variant),
    unselected-focus-state-layer-color: var(--mat-sys-on-surface),
    unselected-focus-state-layer-opacity: var(--mat-sys-focus-state-layer-opacity),
    unselected-focus-track-color: var(--mat-sys-surface-variant),
    unselected-handle-color: var(--mat-sys-outline),
    unselected-hover-handle-color: var(--mat-sys-on-surface-variant),
    unselected-hover-state-layer-color: var(--mat-sys-on-surface),
    unselected-hover-state-layer-opacity: var(--mat-sys-hover-state-layer-opacity),
    unselected-hover-track-color: var(--mat-sys-surface-variant),
    unselected-icon-color: var(--mat-sys-surface-variant),
    unselected-pressed-handle-color: var(--mat-sys-on-surface-variant),
    unselected-pressed-state-layer-color: var(--mat-sys-on-surface),
    unselected-pressed-state-layer-opacity: var(--mat-sys-pressed-state-layer-opacity),
    unselected-pressed-track-color: var(--mat-sys-surface-variant),
    unselected-track-color: var(--mat-sys-surface-variant),
    //handle-surface-color,
    //handle-elevation-shadow,
    //disabled-handle-elevation-shadow,

    // Typography
    //label-text-font: var(--mat-sys-body-medium-font),
    //label-text-line-height: var(--mat-sys-body-medium-line-height),
    //label-text-size: var(--mat-sys-body-medium-size),
    //label-text-tracking: var(--mat-sys-body-medium-tracking),
    //label-text-weight: var(--mat-sys-body-medium-weight),

    label-text-font: var(--mat-sys-body-small-font),
    label-text-line-height: var(--mat-sys-body-small-line-height),
    label-text-size: var(--mat-sys-body-small-size),
    label-text-tracking: var(--mat-sys-body-small-tracking),
    label-text-weight: var(--mat-sys-body-small-weight),

    // Density
    touch-target-display: block,
  ))
}
