@use '@angular/material' as mat;

@mixin overrides() {
  @include mat.timepicker-overrides((
    // Base
    active-indicator-height: 2px,
    active-indicator-shape: 0,
    divider-height: 1px,

    // Color
    active-focus-indicator-color: var(--mat-sys-primary),
    active-focus-label-text-color: var(--mat-sys-on-surface),
    active-hover-indicator-color: var(--mat-sys-primary),
    active-hover-label-text-color: var(--mat-sys-on-surface),
    active-indicator-color: var(--mat-sys-primary),
    active-label-text-color: var(--mat-sys-on-surface),
    active-ripple-color: var(--mat-sys-on-surface),
    divider-color: var(--mat-sys-surface-variant),
    inactive-focus-label-text-color: var(--mat-sys-on-surface),
    inactive-hover-label-text-color: var(--mat-sys-on-surface),
    inactive-label-text-color: var(--mat-sys-on-surface),
    inactive-ripple-color: var(--mat-sys-on-surface),
    pagination-icon-color: var(--mat-sys-on-surface),
    disabled-ripple-color: var(--mat-sys-on-surface-variant),
    //background-color,
    //foreground-color,

    // Typography
    label-text-font: var(--mat-sys-title-small-font),
    label-text-line-height: var(--mat-sys-title-small-line-height),
    label-text-size: var(--mat-sys-title-small-size),
    label-text-tracking: var(--mat-sys-title-small-tracking),
    label-text-weight: var(--mat-sys-title-small-weight),

    // Density
    container-height: 48px,
  ))
}
