@let _prefix = 'ADMIN.questionnaire.dialog';

<app-dialog-title [dialogMode]='dialogData.mode'
                  [entityMetadata]="configService.getEntityMetadata()"
                  [entityName]="dialogData.mode !== DialogMode.ADD ? dialogData.entity?._name : undefined"
                  (closeEvent)='close()' />

<mat-dialog-content class="h-full overflow-auto p-0!">
  @if (dialogData.mode === DialogMode.VIEW || dialogData.mode === DialogMode.DELETE) {
    <app-dialog-body-description [dialogMode]="dialogData.mode"
                                 [label]="`ADMIN.questionnaire.name.label` | translate"
                                 [entityName]="dialogData.entity?._name"/>
  }

  @if (dialogData.mode === DialogMode.ADD || dialogData.mode === DialogMode.EDIT) {
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms"
                   class="h-full [&>.mat-mdc-tab-body-wrapper]:h-full! [&>mat-tab-header]:border-b-2 [&>mat-tab-header]:border-neutral-200 [&>mat-tab-header]:dark:border-neutral-600 [&>.mat-mdc-tab-body-wrapper]:p-4!">
      <mat-tab>
        <ng-template mat-tab-label>
          <h2 class='flex items-center gap-2 m-0 text-base font-bold'>
            General
          </h2>
          @if (!isGeneralValid) {
            <mat-icon class="absolute -right-6 material-symbols-outlined text-base! text-red-600! font-bold">warning</mat-icon>
          }
        </ng-template>
        <ng-template matTabContent>
          <app-questionnaire-general [entity]="entity()"
                                     [questionnaires]="dialogData.questionnaireFullList | async"
                                     (changeEvent)="onEntityUpdate($event)"
                                     (valid)="onGeneralValid($event)" />
        </ng-template>
      </mat-tab>

      <mat-tab [disabled]="!isGeneralValid">
        <ng-template mat-tab-label>
          <h2 class='flex items-center gap-2 m-0 text-base font-bold'>Questions</h2>
        </ng-template>
        <ng-template matTabContent>
          <app-questionnaire-questions [entity]="entity()"
                                       (changeEvent)="onEntityUpdate($event)"
                                       (valid)="onQuestionsValid($event)" />
        </ng-template>
      </mat-tab>

      <mat-tab [disabled]="!isGeneralValid">
        <ng-template mat-tab-label>
          <h2 class='flex items-center gap-2 m-0 text-base font-bold'>
            Scheduling
          </h2>
          @if (!isSchedulingValid) {
            <mat-icon class="absolute -right-6 material-symbols-outlined text-base! text-red-600! font-bold">warning</mat-icon>
          }
        </ng-template>
        <ng-template matTabContent>
          <app-questionnaire-scheduling [entity]="entity()"
                                        (changeEvent)="onEntityUpdate($event)"
                                        (valid)="onSchedulingValid($event)" />
        </ng-template>
      </mat-tab>

      <mat-tab [disabled]="!isGeneralValid">
        <ng-template mat-tab-label>
          <h2 class='flex items-center gap-2 m-0 text-base font-bold'>
            Custom Messages
          </h2>
          @if (!isCustomMessageValid) {
            <mat-icon class="absolute -right-6 material-symbols-outlined text-base! text-red-600! font-bold">warning</mat-icon>
          }
        </ng-template>
        <ng-template matTabContent>
          <app-questionnaire-custom-messages [entity]="entity()"
                                             (changeEvent)="onEntityUpdate($event)"
                                             (valid)="onCustomMessageValid($event)" />
        </ng-template>
      </mat-tab>


      <mat-tab [disabled]="entity()?.schedule?.onDemand || !isGeneralValid">
        <ng-template mat-tab-label>
          <h2 class='flex items-center gap-2 m-0 text-base font-bold'>
            Notifications
          </h2>
          @if (!isNotificationValid) {
            <mat-icon class="absolute -right-6 material-symbols-outlined text-base! text-red-600! font-bold">warning</mat-icon>
          }
        </ng-template>
        <ng-template matTabContent>
          <app-questionnaire-notifications [entity]="entity()"
                                           (changeEvent)="onEntityUpdate($event)"
                                           (valid)="onNotificationValid($event)" />
        </ng-template>
      </mat-tab>

      <mat-tab [disabled]="!isGeneralValid">
        <ng-template mat-tab-label>
          <h2 class='flex items-center gap-2 m-0 text-base font-bold'>
            Translations
          </h2>
          @if (!isCustomMessageValid) {
            <mat-icon class="absolute -right-6 material-symbols-outlined text-base! text-red-600! font-bold">warning</mat-icon>
          }
        </ng-template>
        <ng-template matTabContent>
          <app-questionnaire-translation [entity]="entity()"/>
        </ng-template>
      </mat-tab>
      <mat-tab [disabled]="!isGeneralValid">
        <ng-template mat-tab-label>
          <h2 class='flex items-center gap-2 m-0 text-base font-bold'>Intervention Flow</h2>
        </ng-template>
        <ng-template matTabContent>
          <app-questionnaire-intervention-flow />
        </ng-template>
      </mat-tab>
      <mat-tab [disabled]="!isGeneralValid">
        <ng-template mat-tab-label>
          <h2 class='flex items-center gap-2 m-0 text-base font-bold'>Preview</h2>
        </ng-template>
        <ng-template matTabContent>
          <app-questionnaire-preview [entity]="entity()" />
        </ng-template>
      </mat-tab>
      <mat-tab [disabled]="!isGeneralValid">
        <ng-template mat-tab-label>
          <h2 class='flex items-center gap-2 m-0 text-base font-bold'>Advanced (JSON) Editor</h2>
        </ng-template>
        <ng-template matTabContent>
          <app-questionnaire-json-editor />
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  }
</mat-dialog-content>

@if (error()) {
  <app-error-message-box>
    {{ error()?.error.errorCode | translate }}
  </app-error-message-box>
}

<!--<app-dialog-actions [dialogMode]='dialogData.mode'-->
<!--                    [form]='form'-->
<!--                    (actionTriggered)='onAction($event)'/>-->


<div class='px-6 py-4 flex flex-wrap justify-between gap-2 w-full border-t border-neutral-400 dark:border-neutral-500'>
  <div class='flex flex-wrap gap-2'>
    <button (click)='close()'
            mat-stroked-button
            color="accent"
            type="button">
      {{ dialogData.mode !== DialogMode.DELETE ?
      ('SHARED.dialog.cancel' | translate) :
      ('SHARED.dialog.no' | translate) }}
    </button>
  </div>
  <div class='ml-auto justify-end flex items-center gap-2'>
    @if (dialogData.mode === DialogMode.DELETE) {
      <button [disabled]='isLoading'
              (click)='onAction(DialogAction.DELETE)'
              color="warn"
              mat-raised-button
              type="button">
        @if (isLoading) {
          <ng-container>
            <mat-icon>
              <mat-spinner diameter='20' />
            </mat-icon>
            {{ 'SHARED.dialog.deletingButton' | translate }}
          </ng-container>
        } @else {
          {{ 'SHARED.dialog.yes' | translate }}
        }
      </button>
    }
    @if (dialogData.mode === DialogMode.EDIT) {
      <button
              (click)='onAction(DialogAction.SAVE)'
              mat-raised-button
              color="primary"
              type="button">
<!--        [disabled]='!form()?.valid || !form()?.dirty || isLoading'-->
        @if (isLoading) {
          <mat-icon>
            <mat-spinner diameter='20' />
          </mat-icon>
        }
        {{ "SHARED.dialog.update" | translate }}
      </button>
    }
    @if (dialogData.mode === DialogMode.ADD) {
      <button
              (click)='onAction(DialogAction.SAVE)'
              color="primary"
              mat-raised-button
              type="button" [disabled]="!isGeneralValid">
<!--        [disabled]='!form()?.valid || isLoading'-->
        @if (isLoading) {
          <mat-icon>
            <mat-spinner diameter='20' />
          </mat-icon>
        }
        {{ "SHARED.dialog.create" | translate }}
      </button>
    }
  </div>
</div>
