@let _prefix = 'ADMIN.questionnaire.dialog';
@let entityName = configService.getEntityMetadata().name;

<app-dialog-title [dialogMode]='dialogData.mode'
                  [entityMetadata]="configService.getEntityMetadata()"
                  [entityName]="dialogData.mode !== DialogMode.ADD ? dialogData.entity?._name : undefined"
                  (closeEvent)='close()'>
  <button mat-icon-button (click)="toggleCodeView()" [matTooltip]="showCode ? 'Show form' : 'Show code'">
    <span class="material-symbols-outlined">{{ showCode ? 'assignment' : 'code_blocks' }}</span>
  </button>
</app-dialog-title>


<mat-dialog-content class="h-full overflow-auto">
  @if (showCode) {
    <div class="h-full">
      <ngx-monaco-editor style="display:block;height:100%"
                         [options]="editorOptions"
                         [(ngModel)]="updatedCode"/>
    </div>
  } @else {
    @if (dialogData.mode === DialogMode.VIEW || dialogData.mode === DialogMode.DELETE) {
      <app-dialog-body-description [dialogMode]="dialogData.mode"
                                   [label]="`ADMIN.${entityName}.name.label` | translate"
                                   [entityName]="dialogData.entity?._name"/>
    }

    @if (dialogData.mode === DialogMode.ADD || dialogData.mode === DialogMode.EDIT) {
      <form [formGroup]='form' novalidate class="grid grid-cols-2 grid-rows-[auto_1fr] h-full gap-4">

        <div class="">
          <label for="name" class="text-sm">{{ `${_prefix}.nameLabel` | translate }} *</label>
          <mat-form-field class='small-input w-1/2' appearance='outline'>
            <input matInput formControlName='name' required/>
          </mat-form-field>
        </div>

        <div class="">
          <app-mat-select-autocomplete formControlName="languages"
                                       [options]="ISO_LANGUAGES"
                                       [label]="`${_prefix}.languagesLabel` | translate"
                                       [required]="true"
                                       [multiple]="true"
                                       [notRemovable]="DEFAULT_LANG"/>
        </div>

        <app-questions-form-array class="col-span-2"
                                  formControlName="questions"
                                  [languages]="form.controls.languages.value"/>
      </form>
    }
  }
</mat-dialog-content>

@if (error()) {
  <app-error-message-box>
    {{ error()?.error.errorCode | translate }}
  </app-error-message-box>
}

<app-dialog-actions [dialogMode]='dialogData.mode'
                    [form]='form'
                    (actionTriggered)='onAction($event)'/>
