@let _prefix = 'ADMIN.questionnaire.dialog';

@switch (type) {
  @case ('button') {
    <div class="flex gap-2">
      <span class="text-neutral-500">{{ `${_prefix}.questionMultiLineEnabledLabel` | translate }}</span>
      <span>{{ entity().multi_line ? 'Yes' : 'No' }}</span>
    </div>
  }
  @case ('form') {
    <div>
    <div>
      <label for="" class="text-sm">{{ `${_prefix}.questionMultiLineEnabledLabel` | translate }}</label>
    </div>
    <mat-slide-toggle [formControl]="multi_line"/>
    </div>

    <label for="unit" class="text-sm">{{ `${_prefix}.questionValidationLabel` | translate }}</label>
    <div>
      <div>
        <label for="text_validation_min"
               class="text-sm">{{ `${_prefix}.questionTextValidationMin` | translate }}</label>
      </div>
      <mat-form-field class='small-input' appearance="outline">
        <input id="text_validation_max" matInput [formControl]='matrix_group_name'/>
      </mat-form-field>
    </div>
  }
  @case ('preview') {
    <app-question-header [question]="entity()" [language]="language()" />

    <mat-form-field subscriptSizing="fixed" appearance="outline">
    <input matInput maxlength="256" [value]="answer()?.value" [disabled]="isPreviewDisabled"
           (input)="onPreviewInputChange($event)"
           [type]="'text'">
  </mat-form-field>

  @if (error) {
    <p class="text-red-700">{{ error }}</p>
  }

  @if (!isPreviewDisabled) {
    <button matButton class="m-4" (click)="onPreviewInputChange(null)" color="warn" size="small">
      Clear
    </button>
  }
  }
  @case ('logic') {
    <div class="">
      <mat-form-field class='small-input' appearance='outline'>
        <input matInput (input)="onLogicInputChange($event)" [value]="value" required>
      </mat-form-field>
    </div>
  }
}



