<div [formGroup]="textGroup">
  <div class="flex gap-2 items-center justify-between">
    @if (label()) {
      <label for="startText" class="text-sm" [class]="textGroup.controls[`${language()!.code}`].errors ? 'text-red-500' : '' ">{{ label() }} {{ required() ? '*' : '' }}</label>
    }
  </div>

  <mat-form-field class='small-input w-full' appearance='outline' subscriptSizing="dynamic">
    @if (textarea()) {
      <textarea matInput [cdkTextareaAutosize]="textareaAutosize()" [rows]="textareaRows()"
                [formControlName]="`${language()!.code}`"></textarea>
    } @else {
      <input matInput [formControlName]="`${language()!.code}`">
    }
    <mat-error>
      @if (textGroup.controls[`${language()!.code}`].errors; as errors) {
        @if (errors['required']) {
          {{ ValidatorError.requiredValidator | translate: {value: (label() ?? 'Label') | translate} }}
        }
      }
    </mat-error>
  </mat-form-field>
</div>

