@let _i18nQuestion = 'ADMIN.questionnaire.dialog.question';

<div class="grid grid-cols-[minmax(0,1fr)_minmax(0,320px)] gap-2 h-full">

  <form class="h-full overflow-y-auto pr-4">
    <div class="grid grid-cols-2 gap-2 items-center">
      <app-select-form-field [field]="form.field_type"
                             [options]="QUESTION_TYPE_OPTIONS"
                             [label]="`${_i18nQuestion}.fieldType`"
                             [required]="true"/>

      <div class="flex items-center justify-between">
        <mat-slide-toggle [formField]="form.isActive" class="my-4" color="primary">
          {{ `${_i18nQuestion}.isActive` | translate }}
        </mat-slide-toggle>
        <div class="flex items-center gap-1">
          @if (form.matrix_group_name().value()) {
            <app-tag class="bg-green-500/20 text-green-700">
              {{ form.matrix_group_name().value() | uppercase }}
            </app-tag>
          }

          @if (form.conditionalLogic().value().length) {
            <mat-icon class=" text-orange-500! cursor-pointer"
                      [matTooltip]="`${_i18nQuestion}.questionHasConditionalLogic` | translate">
              rule
            </mat-icon>
          }


          @if (form().valid()) {
            <mat-icon class=" text-green-700! cursor-pointer"
                      [matTooltip]="`${_i18nQuestion}.questionIsValid` | translate">
              check_circle
            </mat-icon>
          } @else {
            <mat-icon class=" text-xl! text-red-700! cursor-pointer"
                      [matTooltip]="`${_i18nQuestion}.questionIsInvalid` | translate">
              warning
            </mat-icon>
          }

          <span>#{{ _index + 1 }}</span>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-2 items-center">
      <app-input-form-field [field]="form.field_name" [label]="`${_i18nQuestion}.fieldName`" [required]="true"/>

      <mat-slide-toggle [formField]="form.required_field" class="my-4" color="primary">
        {{ `${_i18nQuestion}.requiredField` | translate }}
      </mat-slide-toggle>
    </div>


    <div class="mb-4">
      <app-html-editor [formField]="form.field_label[_lang]"
                       [questionIndex]="_index"
                       [label]="`${_i18nQuestion}.fieldLabel`"
                       [required]="true"/>
    </div>

    <div class="mb-4">
      <app-html-editor [formField]="form.section_header[_lang]"
                       [questionIndex]="_index"
                       [label]="`${_i18nQuestion}.sectionHeader`"/>
    </div>

    <div class="mb-4">
      <app-html-editor [formField]="form.field_note[_lang]"
                       [questionIndex]="_index"
                       [label]="`${_i18nQuestion}.fieldNote`"/>
    </div>


    <fieldset class="p-2 rounded-sm border grid grid-cols-2 gap-2 mb-4">
      <app-input-form-field [field]="form.text_validation_min" [label]="`${_i18nQuestion}.textValidationMin`" type="time"/>
      <app-input-form-field [field]="form.text_validation_max" [label]="`${_i18nQuestion}.textValidationMax`" type="time"/>
    </fieldset>

    <app-input-form-field [field]="form.matrix_group_name" [label]="`${_i18nQuestion}.matrixGroupName`" type="number"/>

    @if ((matrixIndex() ?? 0) > 0 || (_index ?? 0) > 0) {
      <app-question-conditional-logic [conditionalLogic]="model().conditionalLogic"
                                      [questions]="_questions"
                                      [question]="model()"
                                      [selectedIndex]="_index"
                                      (updateEvent)="updateConditionalLogic($event)"/>
    }

  </form>

  <div class="">
    <div class="flex">
      <div class="grow max-w-80 aspect-9/16 bg-primary/20 border-2 border-gray-300 rounded-lg">
        <div class="h-full flex flex-col">
          <span class="p-4 shrink-0 font-bold">{{ store.selected()?.title?.[_lang] || store.selected()?.name }}</span>
          <div class="grow overflow-auto p-4">
            <app-question [question]="{..._question, ...model()}"
                          (answerEvent)="onAnswer($event)"/>
          </div>
          <div>
            <app-toolbar [leftButton]="{enabled: false, label: '' }"
                         [progress]="{current: 0, enabled: false, total: 100}"
                         [rightButton]="{enabled: false, label: '' }"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
