@let configFields = configService.getFormFields();

<app-entity [entity]="entity()"
            [gridView]="gridView()"
            [tableFields]="configService.getTableFields()"
            [customTemplate]="entityTemplate">
  <app-organization-details extension-row [entity]='entity()' [detailType]="DetailType.TABLE"/>
  <mat-card card-view
            appearance="outlined"
            class="cursor-pointer flex items-start justify-start h-full"
            [class]="updated() ? 'bg-primary/5! dark:bg-primary-dark/5! ' : ''"
            [routerLink]='[entity().name]'>
    <mat-card-content class="p-0! w-full">
      <div class="p-4 flex items-center justify-between gap-2 w-full">
        <div class="flex items-center gap-2">
          <span
              class="p-2 w-10! h-10! rounded-full bg-primary dark:bg-primary-dark material-symbols-outlined font-bold text-white">corporate_fare</span>
          <span class='text-base font-bold text-primary dark:text-primary-dark'>{{ entity().name }}</span>
        </div>
        <app-organization-actions
            *showIfHasRole='[{role: ROLES.SYS_ADMIN}, {role: ROLES.ORGANIZATION_ADMIN, entityName: entity().name}]'
            [entity]="entity()" [isExpanded]="false"/>
      </div>
      <div class="p-4">
        @if (!configFields || configFields['description'] === undefined || configFields['description']) {
          <div class="text-sm text-gray-500 dark:text-gray-300">{{ entity().description }}</div>
        }
        @if (!configFields || configFields['location'] === undefined || configFields['location']) {
          <div class="text-sm mt-4 flex gap-2 items-center text-gray-500 dark:text-gray-300">
            <span class="material-symbols-outlined">place</span>
            <span>{{ entity().location || '-' }}</span>
          </div>
        }
      </div>
      @if (!configFields || configFields['projects'] === undefined || configFields['projects']) {
        <div class="mt-4 border-t-2 border-neutral-100 p-4 dark:border-neutral-600 dark:text-neutral-50">
          <div class="text-xs uppercase text-neutral-400 font-bold mb-1">Projects ({{ entity()['projects']?.length }})
          </div>
          <app-organization-projects [organization]="entity()['name']" [projects]="entity()['projects']"/>
        </div>
      }
    </mat-card-content>
  </mat-card>
  <app-organization-actions extra-actions
      *showIfHasRole='[{role: ROLES.SYS_ADMIN}, {role: ROLES.ORGANIZATION_ADMIN, entityName: entity().name}]'
      [entity]="entity()"
      [isExpanded]="true"/>
</app-entity>

<ng-template #entityTemplate let-property>
  @switch (property.name) {
    @case ('name') {
      <a [routerLink]='[entity().name]' class="underline font-bold text-primary dark:text-primary-dark">
        <span class=''>{{ entity().name }}</span>
      </a>
      @if (!configFields || configFields['description'] === undefined || configFields['description']) {
        <p>{{ entity().description }}</p>
      }
    }
    @case ('numberOfProjects') {
      {{ entity()['projects']?.length }}
    }
    @case ('projects') {
      <app-organization-projects [organization]="entity()['name']" [projects]="entity()['projects']"/>
    }
    @default {
      {{ entity()[property.name] || '-' }}
    }
  }
</ng-template>
