@let _i18nEntity = "ADMIN.project";
@let _i18nShared = "SHARED.dialog";

<h2 mat-dialog-title class="border-b border-neutral-400">
  <span>{{ `${_i18nShared}.${dialogData.mode}` | translate }}</span>
  <span> {{ `${_i18nEntity}.title.singular` | translate }}</span>
  <code class="italic text-secondary"> {{ dialogData.entity?.projectName ? `${dialogData.entity?.projectName}` : `` }}</code>
</h2>

<mat-dialog-content>
  @if (dialogData.mode === DialogMode.DELETE) {
    <div class='mb-4 text-base'>
      <div class="mt-4">
        <p>{{ `${_i18nShared}.deleteMessage` | translate }} {{ `${_i18nEntity}.name` | translate }}:
          <code class="italic text-secondary">{{ dialogData.entity?.projectName }}</code>.</p>
        <p class="font-bold">{{ `${_i18nShared}.deleteWarning` | translate }}</p>
      </div>
    </div>
  }

  @if (dialogData.mode === DialogMode.ADD || dialogData.mode === DialogMode.EDIT) {
    <form novalidate>
      @if (!dialogData.organization && (!dialogData.entity || !dialogData.entity.organization)) {
        <app-searchable-multi-select [field]="form.organization"
                                     [label]="`${_i18nEntity}.organization`"
                                     [valueKey]="'name'"
                                     [labelKey]="'name'"
                                     [options]="dialogData.organizationFullList"
                                     [multiple]="false"
                                     [required]="true"/>
      }

      @if (dialogData.mode !== DialogMode.ADD) {
        <app-input-form-field [field]="form.id"
                              [label]=`${_i18nEntity}.id`
                              [appearance]='"fill"'/>
      }

      <app-input-form-field [field]="form.projectName"
                            [label]=`${_i18nEntity}.projectName`
                            [required]="true"
                            [appearance]='dialogData.entity ? "fill": "outline"'/>

      @if (!formFields || formFields['humanReadableProjectName'] === undefined || formFields['humanReadableProjectName']) {
        <app-input-form-field [field]="form.humanReadableProjectName"
                              [label]=`${_i18nEntity}.humanReadableProjectName` />
        <span class="block text-xs leading-3 -mt-3 mb-4">
          {{ `${_i18nEntity}.humanReadableProjectName.hint` | translate }}
        </span>
      }

      <app-searchable-multi-select [field]="form.sourceTypes"
                                   [label]="`${_i18nEntity}.sourceTypes`"
                                   [labelKey]="'name'"
                                   [options]="dialogData.sourceTypeFullList"
                                   [valueKey]="'id'"/>

      @if (!formFields || formFields['description'] === undefined || formFields['description']) {
        <app-textarea-form-field [field]="form.description"
                                 [label]=`${_i18nEntity}.description` />
      }

      @if (!formFields || formFields['location'] === undefined || formFields['location']) {
        <app-input-form-field [field]="form.location" [label]=`${_i18nEntity}.location` />
      }

      @if (!formFields || formFields['projectStatus'] === undefined || formFields['projectStatus']) {
        <app-select-form-field [field]="form.projectStatus"
                               [label]=`${_i18nEntity}.projectStatus`
                               [options]="[
                                {value: 'PLANNING', label: `${_i18nEntity}.projectStatus.PLANNING` | translate},
                                {value: 'ONGOING', label: `${_i18nEntity}.projectStatus.ONGOING` | translate},
                                {value: 'ENDED', label: `${_i18nEntity}.projectStatus.ENDED` | translate}
                                ]"/>
      }


      @if (!formFields || formFields['startDate'] === undefined || formFields['startDate']) {
        <app-date-form-field [field]="form.startDate"
                             [label]=`${_i18nEntity}.startDate`
                             [minDate]="minDate"
                             [maxDate]="maxDate"
                             [placeholder]='localeService.currentLocale()?.dateFormat || "dd/MM/yyyy"'/>
      }

      @if (!formFields || formFields['endDate'] === undefined || formFields['endDate']) {
        <app-date-form-field [field]="form.endDate"
                             [label]=`${_i18nEntity}.endDate`
                             [minDate]="minDate"
                             [maxDate]="maxDate"
                             [placeholder]='localeService.currentLocale()?.dateFormat || "dd/MM/yyyy"'/>
      }

      @if (!formFields || formFields['attributes'] === undefined || formFields['attributes']) {
        <div>
          <label for="attributes" class="text-sm">{{ `${_i18nEntity}.attributes` | translate }}</label>
          <fieldset class="mb-4 rounded-sm border p-4">
            @if (!formFields || formFields['attributes.Work-package'] === undefined || formFields['attributes.Work-package']) {
              <app-input-form-field [field]="form.attributes['Work-package']"
                                    [label]=`${_i18nEntity}.attributes.workPackage` />
            }

            @if (!formFields || formFields['attributes.Phase'] === undefined || formFields['attributes.Phase']) {
              <app-input-form-field [field]="form.attributes?.['Phase']"
                                    [label]=`${_i18nEntity}.attributes.phase` />
            }

            @if (!formFields || formFields['attributes.External-project-url'] === undefined || formFields['attributes.External-project-url']) {
              <app-input-form-field [field]="form.attributes?.['External-project-url']"
                                    [label]=`${_i18nEntity}.attributes.externalProjectUrl` />
            }

            @if (!formFields || formFields['attributes.External-project-id'] === undefined || formFields['attributes.External-project-id']) {
              <app-input-form-field [field]="form.attributes?.['External-project-id']"
                                    [label]=`${_i18nEntity}.attributes.externalProjectId` />
            }

            @if (!formFields || formFields['attributes.Privacy-policy-url'] === undefined || formFields['attributes.Privacy-policy-url']) {
              <app-input-form-field [field]="form.attributes?.['Privacy-policy-url']"
                                    [label]=`${_i18nEntity}.attributes.privacyPolicyUrl` />
            }
          </fieldset>
        </div>
      }
    </form>
  }
</mat-dialog-content>

@if (store.error()) {
  <app-error-box>
    {{ store.error() | json }}
  </app-error-box>
}

<mat-dialog-actions align="end" class="justify-between!">
  <button (click)='close()' mat-stroked-button color="accent">
    {{
      dialogData.mode !== DialogMode.DELETE ?
        (`${_i18nShared}.cancel` | translate) : (`${_i18nShared}.no` | translate)
    }}
  </button>
  @switch (dialogData.mode) {
    @case (DialogMode.DELETE) {
      <button [disabled]='store.loading()' (click)='delete()' color="warn" mat-raised-button>
        @if (store.loading()) {
          <mat-icon>
            <mat-spinner diameter="20"/>
          </mat-icon>
        }

        {{
          store.loading() ?
            (`${_i18nShared}.deletingButton` | translate) :
            (`${_i18nShared}.yes` | translate)
        }}
      </button>
    }
    @case (DialogMode.EDIT) {
      <button [disabled]='form().invalid() || store.loading()' (click)='save()' mat-raised-button color="primary">
        @if (store.loading()) {
          <mat-icon>
            <mat-spinner diameter='20'/>
          </mat-icon>
        }
        {{ `${_i18nShared}.update` | translate }}
      </button>
    }
    @case (DialogMode.ADD) {
      <button [disabled]='form().invalid() || store.loading()' (click)='save()' color="primary" mat-raised-button>
        @if (store.loading()) {
          <mat-icon>
            <mat-spinner diameter='20'/>
          </mat-icon>
        }
        {{ `${_i18nShared}.create` | translate }}
      </button>
    }
  }
</mat-dialog-actions>

