<app-entity-details [entityMetadata]="configService.getEntityMetadata()"
                    [tableFields]="configService.getTableFields()"
                    [detailType]="detailType()"
                    [customTemplate]="detailsTemplate"/>

<ng-template #detailsTemplate let-property>
  @if (entity(); as _entity) {
    @switch (property.name) {
      @case ('projectCount') {
        {{ _entity.projects?.length }}
      }
      @case ('projects') {
        <app-organization-projects [organization]="_entity.name" [projects]="_entity.projects"/>
      }
      @default {
        {{ $any(_entity)[property.name] || "-" }}
      }
    }
  }
</ng-template>
