<app-details [entityMetadata]="configService.getEntityMetadata()"
            [entity]="entity()"
            [tableFields]="configService.getTableFields()"
            [detailType]="detailType()"
            [customTemplate]="detailsTemplate"/>

<ng-template #detailsTemplate let-property>
  @switch (property.name) {
    @case ('projectCount') {
      {{ entity().projects?.length }}
    }
    @case ('projects') {
      <app-organization-projects [organization]="entity().name" [projects]="entity().projects"/>
    }
    @default {
      {{ entity()[property.name] || "-" }}
    }
  }
</ng-template>
