<rb-details [properties]="PROPERTIES"
            [name]="ENTITY_NAME.organization"
            [entity]="entity()"
            [config]="config()"
            [type]="type()"
            [customTemplate]="detailsTemplate" />

<ng-template #detailsTemplate let-property>
  @switch (property.name) {
    @case ('projectCount') {
      {{ entity().projects?.length }}
    }
    @case ('projects') {
      <rb-organization-projects [organization]="entity().name" [projects]="entity().projects"/>
    }
    @default {
      {{ entity()[property.name] || "-" }}
    }
  }
</ng-template>
