<app-entity-details [entityMetadata]="configService.getEntityMetadata()"
                    [tableFields]="configService.getTableFields()"
                    [detailType]="detailType()"
                    [customTemplate]="detailsTemplate"/>

<ng-template #detailsTemplate let-property>
  @switch (property.name) {
    @case ('startDate') {
      <app-local-date [date]="entity().startDate" [format]="'mediumDate'"/>
    }
    @case ('endDate') {
      <app-local-date [date]="entity().endDate" [format]="'mediumDate'"/>
    }
    @case ('projectStatus') {
      <app-project-status [projectStatus]="entity().projectStatus"/>
    }
    @case ('sourceTypes') {
      <app-project-source-types [sourceTypes]="entity().sourceTypes ?? []"/>
    }
    @case ('attributes') {
      <div>
        @for (attribute of entity().attributes | keyvalue; track attribute.key) {
          @if (configService.getFormFields()[`attributes.${attribute.key}`] !== false) {
            <div class="flex flex-wrap gap-1 py-1">
              <span class="w-40">{{ attribute.key }}</span><span>{{ attribute.value || '-' }}</span>
            </div>
          }
        }
      </div>
    }
    @default {
      {{ $any(entity())[property.name] || "-" }}
    }
  }
</ng-template>
