<label for="unit" class="text-sm">Range</label>
<fieldset [formGroup]="form" class="p-2 rounded-sm border">
  <div class="grid grid-cols-3 gap-4">
    <div>
      <label for="select_choices_or_calculations" class="text-sm">Min *</label>
      <mat-form-field class='small-input' appearance='outline' subscriptSizing="dynamic">
        <input matInput formControlName='min' required/>
        @if (form.controls.min.errors; as errors) {
          <mat-error>
            @if (errors?.['pattern']) {
              {{ ValidatorError.normalTextValidator }}
            }
            @if (errors?.['required']) {
              {{ ValidatorError.requiredValidator | translate:{value: 'ADMIN.organization.name.label' | translate} }}
            }
          </mat-error>
        }
      </mat-form-field>
    </div>

    <div>
      <label for="select_choices_or_calculations" class="text-sm">Max *</label>
      <mat-form-field class='small-input w-1/3' appearance='outline' subscriptSizing="dynamic">
        <input matInput formControlName='max' required/>
        @if (form.controls.max.errors; as errors) {
          <mat-error>
            @if (errors?.['pattern']) {
              {{ ValidatorError.normalTextValidator }}
            }
            @if (errors?.['required']) {
              {{ ValidatorError.requiredValidator | translate:{value: 'ADMIN.organization.name.label' | translate} }}
            }
          </mat-error>
        }
      </mat-form-field>
    </div>

    <div>
      <label for="select_choices_or_calculations" class="text-sm">Step *</label>
      <mat-form-field class='w-1/3' appearance='outline' subscriptSizing="dynamic">
        <input matInput formControlName='step' required/>
        @if (form.controls.step.errors; as errors) {
          <mat-error>
            @if (errors?.['pattern']) {
              {{ ValidatorError.normalTextValidator }}
            }
            @if (errors?.['required']) {
              {{ ValidatorError.requiredValidator | translate:{value: 'ADMIN.organization.name.label' | translate} }}
            }
          </mat-error>
        }
      </mat-form-field>
    </div>
  </div>
</fieldset>
