<label for="project-name" class="text-sm">{{ label() | translate }}
  @if (required()) {
    *
  }
</label>
<mat-form-field class='small-input w-full' subscriptSizing="fixed" [appearance]='appearance()'>
  <mat-select [formField]="field()">
    @for (option of options(); track option.value) {
      <mat-option [value]="option.value">{{ `${option.label}` | translate }}</mat-option>
    }
  </mat-select>
  <mat-error>
    @if (field()().touched() && field()().invalid()) {
      @for (error of field()().errors(); track error.kind) {
        {{ error.message | translate }}
      }
    }
  </mat-error>
</mat-form-field>
