<!--@if (!config.notInCreate || mode !== DialogMode.ADD) {-->
  @switch (field.type) {
<!--    @case ('group') {-->
<!--      @if(!floatLabel) {-->
<!--        <label [for]="field.name" class="text-sm">{{ 'ADMIN.' + name + '.' + field.name + '.label' | translate }}</label>-->
<!--      }-->
<!--      <fieldset [formGroup]="formGroup"-->
<!--                class="mb-4 rounded-sm border p-4">-->
<!--        @if(floatLabel) {-->
<!--          <legend class="text-xs text-gray-500">{{ 'ADMIN.' + name + '.' + field.name + '.label' | translate }}</legend>-->
<!--        }-->
<!--        @for (groupField of field.groupFields; track groupField.name) {-->
<!--          <rb-dynamic-input [field]="field.name" [control]="formGroup.get(groupField.name)!"-->
<!--          />-->
<!--&lt;!&ndash;                            [config]="groupField"&ndash;&gt;-->
<!--&lt;!&ndash;                            [dynamicOptions]="dynamicOptions[groupField.name]"&ndash;&gt;-->
<!--        }-->
<!--      </fieldset>-->
<!--    }-->
<!--    @case ('singleSelect') {-->
<!--      <rb-mat-select-autocomplete [formControl]="formControl"-->
<!--                                  [legend]="(field.label ?? '') | translate"-->
<!--                                  [options]='dynamicOptions'-->
<!--                                  [label]="(field.label ?? '') | translate"-->
<!--                                  [multiple]="false"-->
<!--                                  [required]="true">-->
<!--      </rb-mat-select-autocomplete>-->
<!--    }-->
<!--    @case ('multiSelect') {-->
<!--      <rb-mat-select-autocomplete [formControl]="formControl"-->
<!--                                  [legend]="(field.label ?? '') | translate"-->
<!--                                  [options]='dynamicOptions'-->
<!--                                  [label]="(field.label ?? '') | translate"-->
<!--                                  [multiple]="true"-->
<!--                                  [required]="true">-->
<!--      </rb-mat-select-autocomplete>-->
<!--    }-->
    @case ('slideToggle') {
      <div>
        <mat-slide-toggle color="primary" [formControl]="formControl">{{ field.label ?? '' | translate}}</mat-slide-toggle>
      </div>
    }
    @default {
      @if(!floatLabel) {
        <label [for]="field.name" class="text-sm">{{ 'ADMIN.' + name + '.' + field.name + '.label' | translate }}</label>
      }
      <mat-form-field appearance='outline' [floatLabel]='floatLabel ? "always" : "auto"'>
        @if(floatLabel) {
          <mat-label>{{ 'ADMIN.' + name + '.' + field.name + '.label' | translate }}</mat-label>
        }

        @switch (field.type) {
          @case ('text') {
            <input matInput
                   [id]="field.name"
                   autocomplete="off" data-lpignore="true"
                   [formControl]="formControl"
                   [placeholder]="field.placeholder ?? ''"
                   [required]="!!field.required"
                   [attr.maxlength]="field.maxlength"
                   type="text"
                   (blur)="control.markAsTouched()" />
          }
          @case ('textarea') {
            <textarea matInput
                      [formControl]="formControl"
                      [rows]="field.rows ?? 3"
                      [maxlength]="field.maxlength ?? 255"
                      [required]="!!field.required"
                      [placeholder]="field.placeholder ?? ''"
                      (blur)="control.markAsTouched()"></textarea>
          }
          @case ('date') {
            <input matInput [matDatepicker]='datePicker'
                   [formControl]="formControl"
                   [min]="field.minDate" [max]="field.maxDate"
                   [placeholder]="dateFormat" />
            <mat-datepicker-toggle matSuffix [for]='datePicker'></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
          }
          @case ('simpleSelect') {
            <mat-select [formControl]="formControl">
              @for (option of field.options; track option.value) {
                <mat-option [value]="option.value">{{ option.label | translate }}</mat-option>
              }
            </mat-select>
          }
          @case ('slideToggle') {
            <mat-slide-toggle color="primary" [formControl]="formControl">ROLE_ORGANIZATION_ADMIN</mat-slide-toggle>
          }
        }
        <mat-hint align="start">
          @if (field.hint) {
            {{ValidatorHint.normalTextValidator}}
          }
        </mat-hint>
        <mat-hint align="end">
          @if (field.maxlength) {
            {{(this.control.valueChanges | async)?.length ?? 0}} / {{field.maxlength ?? 255}}
          }
        </mat-hint>
        @if (field.validators?.duplicateValidator) {
          <mat-error *ngIf="formControl.errors?.['duplicate']">
            {{ "Organization name exists" }}
          </mat-error>
        }
        @if (field.validators?.longTextValidator) {
          <mat-error *ngIf="formControl.errors?.['pattern']">
            {{ValidatorError.longTextValidator}}
          </mat-error>
        }
        @if (field.validators?.normalTextValidator) {
          <mat-error *ngIf="formControl.errors?.['pattern']">
            {{ValidatorError.normalTextValidator}}
          </mat-error>
        }
        @if (field.validators?.requiredValidator) {
          <mat-error *ngIf="formControl.errors?.['required']">
            {{ValidatorError.requiredValidator | translate:{value: 'ADMIN.' + name + '.' + field.name + '.label' | translate} }}
          </mat-error>
        }
        @if (field.type === 'date') {
          <mat-error *ngIf="formControl.errors?.['matDatepickerMin']">
            Date is out of range. It should be after 2000. <!-- TODO translate -->
          </mat-error>
          <mat-error *ngIf="formControl.errors?.['matDatepickerMax']">
            Date is out of range. It should be before 2050. <!-- TODO translate -->
          </mat-error>
          <mat-error *ngIf="formControl.errors?.['matDatepickerParse']">
            {{ 'ADMIN.project.startDate.startDateInvalid' | translate }}
          </mat-error>
          <mat-error *ngIf="formControl.errors?.['matStartDateInvalid']">
            {{ 'ADMIN.project.startDate.startDateInvalid' | translate }}
          </mat-error>
        }

      </mat-form-field>
    }
  }
<!--  @if (config.type === 'singleSelect' || config.type === 'multiSelect') {-->
<!--    <rb-mat-select-autocomplete [formControl]="formControl"-->
<!--                                [legend]="(config.label ?? '') | translate"-->
<!--                                [options]='dynamicOptions'-->
<!--                                [label]="(config.label ?? '') | translate"-->
<!--                                [multiple]="config.type === 'multiSelect'"-->
<!--                                [required]="true">-->
<!--    </rb-mat-select-autocomplete>-->
<!--  } @else if (config.type === 'group') {-->
<!--    -->

<!--  } @else {-->

<!--    -->
<!--  }-->
<!--}-->
