<div class="text-base flex justify-between items-center w-full p-1 border border-gray-200 rounded-lg mb-2"
     [class]="selectedQuestion() ? 'bg-primary/10' : ''">
  <div class="w-8 flex">
    <span class="material-symbols-outlined">swap_vertical_circle</span>
  </div>
  <span class="w-16">#{{ index() + 1 }}</span>
  <span class="flex-1">{{questionFormControl().value?.field_name || '-'}}</span>
  <span class="w-72 uppercase">{{questionFormControl().value?.field_type || '-'}}</span>

  <button class="material-symbols-outlined text-red-500" (click)="remove.emit()">
    do_not_disturb_on
  </button>
</div>
