<section class="">
  <app-question-header [question]="entity()" [language]="language()"/>

  @for (item of entity().select_choices_or_calculations; track item.code) {
    <p>
      <mat-checkbox class="w-full"
                    (click)="onPreviewInputChange(item.code)"
                    [disabled]="isPreviewDisabled"
                    [checked]="previewItems()[item.code]">
        <span class="ion-text-wrap text-lg" [innerHtml]="item.label[language().code] | replacePlaceholders"></span>
      </mat-checkbox>
    </p>
  }
</section>
@if (!isPreviewDisabled) {
  <button color="warn" matButton class="my-4 text-sm!" (click)="onPreviewInputChange(null)">
    Clear
  </button>
}
