@let _prefix = 'ADMIN.questionnaire.dialog.question';
@let language = store.selected()!.defaultLanguage!.code;

<h2 mat-dialog-title class="border-b border-neutral-400 dark:border-neutral-500">
  <span>{{ `SHARED.dialog.${dialogData.mode}` | translate }}</span>
  <span> {{ `${_prefix}.title` | translate }}</span>
  <code
    class="italic text-secondary"> {{ form.field_name().value() }}</code>
</h2>

<mat-dialog-content class="p-4!">
  <div class="grid grid-cols-2 gap-4 h-full">

    <form class="h-full overflow-y-auto">
      <div class="grid grid-cols-2 gap-2 items-center">
        <div>
          <label for="field_type" class="text-sm"
                 [class]="form.field_type().invalid() ? 'text-red-700' : ''">
            {{ `${_prefix}.fieldType` | translate }} *
          </label>
          <mat-form-field class='small-input' appearance="outline" subscriptSizing="fixed">
            <mat-select [formField]='form.field_type'>
              @for (item of QUESTION_TYPES; track item) {
                @for (type of item.types; track type.type) {
                  <mat-option [value]="type.type">{{ type.label }}</mat-option>
                }
              }
            </mat-select>
            <mat-error>
              @if (form.field_type().invalid()) {
                @for (error of form.field_type().errors(); track error.kind) {
                  {{ error.message }}
                }
              }
            </mat-error>
          </mat-form-field>
        </div>
        <div class="flex items-center justify-between">
          <mat-slide-toggle [formField]="form.isActive" class="my-4" color="primary">
            {{ `${_prefix}.isActive` | translate }}
          </mat-slide-toggle>
          <div class="flex items-center gap-1">
            @if (form.matrix_group_name().value()) {
              <app-tag class="bg-green-500/20 text-green-700">
                {{ form.matrix_group_name().value() | uppercase }}
              </app-tag>
            }

            @if (form.conditionalLogic().value().length) {
              <mat-icon class="material-symbols-outlined text-orange-500! cursor-pointer"
                        [matTooltip]="`${_prefix}.questionHasConditionalLogic` | translate">
                rule
              </mat-icon>
            }


            @if (form().valid()) {
              <mat-icon class="material-symbols-outlined text-green-700! cursor-pointer"
                        [matTooltip]="`${_prefix}.questionIsValid` | translate">
                check_circle
              </mat-icon>
            } @else {
              <mat-icon class="material-symbols-outlined text-xl! text-red-700! cursor-pointer"
                        [matTooltip]="`${_prefix}.questionIsInvalid` | translate">
                warning
              </mat-icon>
            }

            <!--            <div class="text-xs rounded-full bg-primary/50 text-white size-5 p-1 flex justify-center items-center">-->
            <span>#{{ dialogData.index + 1 }}</span>
            <!--            </div>-->
          </div>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-2 items-center">
        <div>
          <label for="field_name" class="text-sm"
                 [class]="form.field_name().invalid() ? 'text-red-700' : ''">
            {{ `${_prefix}.fieldName` | translate }} *
          </label>
          <mat-form-field class='small-input' appearance="outline" subscriptSizing="fixed">
            <input matInput [formField]='form.field_name'/>
            <mat-error>
              @if (form.field_name().invalid()) {
                @for (error of form.field_name().errors(); track error.kind) {
                  {{ error.message }}
                }
              }
            </mat-error>
          </mat-form-field>
        </div>

        <mat-slide-toggle [formField]="form.required_field" class="my-4" color="primary">
          {{ `${_prefix}.requiredField` | translate }}
        </mat-slide-toggle>
      </div>


      <div>
        <label for="field_label" class="text-sm"
               [class]="form.field_label[language]().invalid() ? 'text-red-700' : ''">
          {{ `${_prefix}.fieldLabel` | translate }} *
        </label>

        <app-question-template-variables [questionIndex]="dialogData.index" [formField]="form.field_label[language]"/>
      </div>

      <div class="flex justify-between items-baseline">
        <label for="section_header" class="text-sm">{{ `${_prefix}.sectionHeader` | translate }}</label>
      </div>
      <app-question-template-variables [questionIndex]="dialogData.index" [formField]="form.section_header[language]"/>

      <div class="flex justify-between items-baseline">
        <label for="field_note" class="text-sm">{{ `${_prefix}.fieldNote` | translate }}</label>
      </div>
      <app-question-template-variables [questionIndex]="dialogData.index" [formField]="form.field_note[language]"/>

      @let fieldType = form.field_type().value();
      @let hasChoices = fieldType === QuestionType.INFO || fieldType === QuestionType.CHECKBOX || fieldType === QuestionType.RADIO || fieldType === QuestionType.RANGE;

      <!--    Info / Checkbox / Radio / Range -->
      @if (hasChoices) {
        <app-question-choices [formField]="form.select_choices_or_calculations"/>
      }

      @switch (fieldType) {
        @case (QuestionType.CALC) {
          <label for="calculation_fn"
                 class="text-sm">{{ `${_prefix}.calculationFn` | translate }} *</label>
          <mat-form-field class='small-input' appearance="outline" subscriptSizing="fixed">
            <input id="calculation_fn" matInput [formField]="form.calculation_fn"/>
            <mat-error>
              @if (form.calculation_fn().touched() && form.calculation_fn().invalid()) {
                @for (error of form.calculation_fn().errors(); track error.kind) {
                  {{ error.message }}
                }
              }
            </mat-error>
          </mat-form-field>

          <label for="calculation_args"
                 class="text-sm">{{ `${_prefix}.calculationArgs` | translate }}</label>
          <mat-form-field class='small-input' appearance="outline">
            <input id="calculation_args" matInput [formField]="form.calculation_args"/>
            <mat-error>
              @if (form.calculation_args().touched() && form.calculation_args().invalid()) {
                @for (error of form.calculation_args().errors(); track error.kind) {
                  {{ error.message }}
                }
              }
            </mat-error>
          </mat-form-field>
        }
        @case (QuestionType.DATE) {
          <fieldset class="p-2 rounded-sm border grid grid-cols-2 gap-2 mb-4">
            <div>
              <label for="text_validation_min" class="text-sm"
                     [class]="form.text_validation_min().invalid() ? 'text-red-700' : ''">
                {{ `${_prefix}.textValidationMin` | translate }} *
              </label>
              <mat-form-field class="small-input" appearance='outline'>
                <input [formField]="form.text_validation_min"
                       matInput [matDatepicker]="dp1" readonly (click)="dp1.open()">
                <mat-datepicker-toggle matIconSuffix [for]="dp1" />
                <mat-datepicker #dp1/>
                  <mat-error>
                    @if (form.text_validation_min().invalid()) {
                      @for (error of form.text_validation_min().errors(); track error.kind) {
                        {{ error.message }}
                      }
                    }
                  </mat-error>
              </mat-form-field>
            </div>

            <div>
              <label for="text_validation_max" class="text-sm"
                     [class]="form.text_validation_max().invalid() ? 'text-red-700' : ''">
                {{ `${_prefix}.textValidationMax` | translate }} *
              </label>
              <mat-form-field class="small-input" appearance='outline'>
                <input [formField]="form.text_validation_max"
                       matInput [matDatepicker]="dp2" readonly (click)="dp2.open()">
                <mat-datepicker-toggle matIconSuffix [for]="dp2"/>
                <mat-datepicker #dp2/>
                <mat-error>
                  @if (form.text_validation_min().invalid()) {
                    @for (error of form.text_validation_min().errors(); track error.kind) {
                      {{ error.message }}
                    }
                  }
                </mat-error>
              </mat-form-field>
            </div>

<!--            <div>-->
<!--              <label for="text_validation_min" class="text-sm"-->
<!--                     [class]="form.text_validation_min().invalid() ? 'text-red-700' : ''">-->
<!--                {{ `${_prefix}.textValidationMin` | translate }} *-->
<!--              </label>-->
<!--              <app-question-template-variables [variables]="variables['text_validation_min']"-->
<!--                                               [questionIndex]="dialogData.index"-->
<!--                                               [formField]="form.text_validation_min"-->
<!--                                               (variableUpdateEvent)="updateVariables('text_validation_min', $event)"/>-->
<!--            </div>-->

<!--            <div>-->
<!--              <label for="text_validation_max" class="text-sm"-->
<!--                     [class]="form.text_validation_max().invalid() ? 'text-red-700' : ''">-->
<!--                {{ `${_prefix}.textValidationMax` | translate }} *-->
<!--              </label>-->
<!--              <app-question-template-variables [variables]="variables['text_validation_max']"-->
<!--                                               [questionIndex]="dialogData.index"-->
<!--                                               [formField]="form.text_validation_max"-->
<!--                                               (variableUpdateEvent)="updateVariables('text_validation_max', $event)"/>-->
<!--            </div>-->
          </fieldset>

<!--          <fieldset class="p-2 rounded-sm border grid grid-cols-2 gap-2 mb-4">-->
<!--            <div>-->
<!--              <label for="text_validation_min"-->
<!--                     class="text-sm">{{ `${_prefix}.textValidationMin` | translate }}</label>-->
<!--              <mat-form-field class="small-input w-1/2" appearance='outline' subscriptSizing="fixed">-->
<!--                <input id="text_validation_min" [formField]="form.text_validation_min" matInput-->
<!--                       placeholder="dd/MM/yyyy or [q1]">-->

<!--                @if (form.text_validation_min().value()) {-->
<!--                  <button matIconButton-->
<!--                          matSuffix-->
<!--                          type="button"-->
<!--                          aria-label="Clear min date"-->
<!--                          (click)="$event.stopPropagation(); form.text_validation_min().reset()">-->
<!--                    <mat-icon class="material-symbols-outlined">close</mat-icon>-->
<!--                  </button>-->
<!--                }-->

<!--                <mat-datepicker-toggle matIconSuffix [for]="dp1"></mat-datepicker-toggle>-->
<!--                <mat-datepicker #dp1></mat-datepicker>-->
<!--                <mat-error>-->
<!--                  @if (form.text_validation_min().invalid()) {-->
<!--                    @for (error of form.text_validation_min().errors(); track error.kind) {-->
<!--                      {{ error.message }}-->
<!--                    }-->
<!--                  }-->
<!--                </mat-error>-->
<!--              </mat-form-field>-->

<!--              <input-->
<!--                class="hidden"-->
<!--                [matDatepicker]="dp1"-->
<!--                (dateChange)="onValidationDatePicked($event, form.text_validation_min)">-->


<!--            </div>-->

<!--            <div>-->
<!--              <label for="text_validation_max"-->
<!--                     class="text-sm">{{ `${_prefix}.textValidationMax` | translate }}</label>-->
<!--              <mat-form-field class="small-input w-1/2" appearance='outline' subscriptSizing="fixed">-->
<!--                <input-->
<!--                  id="text_validation_max"-->
<!--                  [formField]="form.text_validation_max"-->
<!--                  matInput-->
<!--                  placeholder="dd/MM/yyyy or [q1]">-->

<!--                @if (form.text_validation_max().value()) {-->
<!--                  <button matIconButton-->
<!--                          matSuffix-->
<!--                          type="button"-->
<!--                          aria-label="Clear max date"-->
<!--                          (click)="$event.stopPropagation(); form.text_validation_max().reset()">-->
<!--                    <mat-icon class="material-symbols-outlined">close</mat-icon>-->
<!--                  </button>-->
<!--                }-->

<!--                <mat-datepicker-toggle matIconSuffix [for]="dp2"></mat-datepicker-toggle>-->
<!--                <mat-datepicker #dp2></mat-datepicker>-->
<!--                <mat-error>-->
<!--                  @if (form.text_validation_max().invalid()) {-->
<!--                    @for (error of form.text_validation_max().errors(); track error.kind) {-->
<!--                      {{ error.message }}-->
<!--                    }-->
<!--                  }-->
<!--                </mat-error>-->
<!--              </mat-form-field>-->

<!--              <input-->
<!--                class="hidden"-->
<!--                [matDatepicker]="dp2"-->
<!--                (dateChange)="onValidationDatePicked($event, form.text_validation_max)">-->


<!--            </div>-->
<!--          </fieldset>-->
        }
        @case (QuestionType.TIME) {
          <fieldset class="p-2 rounded-sm border grid grid-cols-2 gap-2 mb-4">
            <div>
              <label for="text_validation_min"
                     class="text-sm">{{ `${_prefix}.textValidationMin` | translate }}</label>
              <mat-form-field class='small-input' appearance="outline" subscriptSizing="fixed">
                <input id="text_validation_max" matInput [formField]="form.text_validation_min" type="time"/>
                <mat-error>
                  @if (form.text_validation_min().invalid()) {
                    @for (error of form.text_validation_min().errors(); track error.kind) {
                      {{ error.message }}
                    }
                  }
                </mat-error>
              </mat-form-field>
            </div>

            <div>
              <label for="text_validation_max"
                     class="text-sm">{{ `${_prefix}.textValidationMax` | translate }}</label>
              <mat-form-field class='small-input' appearance="outline" subscriptSizing="fixed">
                <input id="text_validation_max" matInput [formField]="form.text_validation_max" type="time"/>
                <mat-error>
                  @if (form.text_validation_max().invalid()) {
                    @for (error of form.text_validation_max().errors(); track error.kind) {
                      {{ error.message }}
                    }
                  }
                </mat-error>
              </mat-form-field>
            </div>
          </fieldset>
        }
        @case (QuestionType.NUMBER) {
          <fieldset class="p-2 rounded-sm border grid grid-cols-2 gap-2">
            <div>
              <label for="text_validation_min"
                     class="text-sm">{{ `${_prefix}.textValidationMin` | translate }}</label>
              <mat-form-field class='small-input' appearance="outline" subscriptSizing="fixed">
                <input id="text_validation_max" matInput type="number" [formField]="form.text_validation_min"/>
                <mat-error>
                  @if (form.text_validation_min().invalid()) {
                    @for (error of form.text_validation_min().errors(); track error.kind) {
                      {{ error.message }}
                    }
                  }
                </mat-error>
              </mat-form-field>
            </div>

            <div>
              <label for="text_validation_max"
                     class="text-sm">{{ `${_prefix}.textValidationMax` | translate }}</label>
              <mat-form-field class='small-input' appearance="outline" subscriptSizing="fixed">
                <input id="text_validation_max" type="number" matInput [formField]="form.text_validation_max"/>
                <mat-error>
                  @if (form.text_validation_max().invalid()) {
                    @for (error of form.text_validation_max().errors(); track error.kind) {
                      {{ error.message }}
                    }
                  }
                </mat-error>
              </mat-form-field>
            </div>
          </fieldset>
        }
        @case (QuestionType.RANGE) {
          <div>
            <mat-slide-toggle [formField]="form.show_code" class="my-4" color="primary">
              {{ `${_prefix}.showCode` | translate }}
            </mat-slide-toggle>
          </div>
          <div>
            <mat-slide-toggle [formField]="form.show_selected_label" class="my-4" color="primary">
              {{ `${_prefix}.showSelectedLabel` | translate }}
            </mat-slide-toggle>
          </div>
        }
        @case (QuestionType.SLIDER) {
          <label for="" class="text-sm">{{ `${_prefix}.range` | translate }} *</label>
          <fieldset class="p-2 rounded-sm border">
            <div class="grid grid-cols-3 gap-2">
              <div>
                <label for="range-min" class="text-sm"
                       [class]="form.range.min().invalid() ? 'text-red-700' : ''">
                  {{ `${_prefix}.rangeMin` | translate }} *
                </label>
                <mat-form-field class='small-input' appearance='outline' subscriptSizing="fixed">
                  <input id="range-min" matInput [formField]="form.range.min" type="number">
                  <mat-error>
                    @if (form.range.min().invalid()) {
                      @for (error of form.range.min().errors(); track error.kind) {
                        {{ error.message }}
                      }
                    }
                  </mat-error>
                </mat-form-field>
              </div>

              <div>
                <label for="range-max" class="text-sm"
                       [class]="form.range.max().invalid() ? 'text-red-700' : ''">
                  {{ `${_prefix}.rangeMax` | translate }} *
                </label>
                <mat-form-field class='small-input' appearance='outline' subscriptSizing="fixed">
                  <input id="range-max" matInput [formField]="form.range.max" type="number">
                  <mat-error>
                    @if (form.range.min().invalid()) {
                      @for (error of form.range.min().errors(); track error.kind) {
                        {{ error.message }}
                      }
                    }
                  </mat-error>
                </mat-form-field>
              </div>

              <div>
                <label for="range-step" class="text-sm"
                       [class]="form.range.step().invalid() ? 'text-red-700' : ''">
                  {{ `${_prefix}.rangeStep` | translate }} *
                </label>
                <mat-form-field class='small-input' appearance='outline' subscriptSizing="fixed">
                  <input id="range-step" matInput [formField]="form.range.step" type="number">
                  <mat-error>
                    @if (form.range.step().invalid()) {
                      @for (error of form.range.step().errors(); track error.kind) {
                        {{ error.message }}
                      }
                    }
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="grid grid-cols-2 gap-2">
              <div class="">
                <label for="range-label-left" class="text-sm">{{ `${_prefix}.rangeLabelLeft` | translate }}</label>
                <mat-form-field class='small-input w-full' subscriptSizing="fixed"
                                appearance='outline'>
                  <input id="range-label-left" matInput [formField]="form.range.labelLeft[language]">
                  <mat-error>
                    @if (form.range.labelLeft().invalid()) {
                      @for (error of form.range.labelLeft().errors(); track error.kind) {
                        {{ error.message }}
                      }
                    }
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="">
                <label for="range-label-right" class="text-sm">{{ `${_prefix}.rangeLabelRight` | translate }}</label>
                <mat-form-field class='small-input w-full' subscriptSizing="fixed"
                                appearance='outline'>
                  <input id="range-label-right" matInput [formField]="form.range.labelRight[language]">
                  <mat-error>
                    @if (form.range.labelRight().invalid()) {
                      @for (error of form.range.labelRight().errors(); track error.kind) {
                        {{ error.message }}
                      }
                    }
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </fieldset>
        }
        @case (QuestionType.TEXT) {
          <div>
            <mat-slide-toggle [formField]="form.multi_line" class="my-4" color="primary">
              {{ `${_prefix}.multiLineEnabled` | translate }}
            </mat-slide-toggle>
          </div>
        }
        @case (QuestionType.TIMED) {
          <label for="unit" class="text-sm">{{ `${_prefix}.annotation` | translate }}</label>
          <fieldset class="p-2 rounded-sm border grid grid-cols-2 gap-2">
            <div>
              <label for="annotation-timer-start" class="text-sm"
                     [class]="form.field_annotation.timer.start().invalid() ? 'text-red-700' : ''">
                {{ `${_prefix}.annotationTimerStart` | translate }} *
              </label>
              <mat-form-field class='small-input' appearance='outline' subscriptSizing="fixed">
                <input id="annotation-timer-start" matInput [formField]='form.field_annotation.timer.start'
                       type="number">
                <mat-error>
                  @if (form.field_annotation.timer.start().invalid()) {
                    @for (error of form.field_annotation.timer.start().errors(); track error.kind) {
                      {{ error.message }}
                    }
                  }
                </mat-error>
              </mat-form-field>
            </div>

            <div>
              <label for="annotation-timer-end" class="text-sm"
                     [class]="form.field_annotation.timer.end().invalid() ? 'text-red-700' : ''">
                {{ `${_prefix}.annotationTimerEnd` | translate }} *
              </label>
              <mat-form-field class='small-input' appearance='outline' subscriptSizing="fixed">
                <input id="annotation-timer-end" matInput [formField]='form.field_annotation.timer.end' type="number">
                <mat-error>
                  @if (form.field_annotation.timer.end().invalid()) {
                    @for (error of form.field_annotation.timer.end().errors(); track error.kind) {
                      {{ error.message }}
                    }
                  }
                </mat-error>
              </mat-form-field>
            </div>
          </fieldset>
        }
      }

      @if (fieldType === QuestionType.RANGE || fieldType === QuestionType.TEXT || fieldType === QuestionType.NUMBER || fieldType === QuestionType.DATE || fieldType === QuestionType.RADIO || fieldType === QuestionType.CHECKBOX || fieldType === QuestionType.SLIDER || fieldType === QuestionType.YESNO) {
        <label for="matrix_group_name"
               class="text-sm">{{ `${_prefix}.matrixGroupName` | translate }}</label>
        <mat-form-field class='small-input' appearance="outline" subscriptSizing="fixed">
          <input id="matrix_group_name" matInput [formField]='form.matrix_group_name'/>
          <mat-error>
            @if (form.matrix_group_name().invalid()) {
              @for (error of form.matrix_group_name().errors(); track error.kind) {
                {{ error.message }}
              }
            }
          </mat-error>
        </mat-form-field>
      }


      @if ((dialogData.matrixIndex ?? 0) > 0 || (dialogData.index ?? 0) > 0) {
        <app-question-conditional-logic [conditionalLogic]="model().conditionalLogic"
                                        [questions]="dialogData.questions"
                                        [selectedIndex]="dialogData.index"
                                        (updateEvent)="updateConditionalLogic($event)"/>
      }

    </form>

    <div class="">
      <div class="flex">
        <div class="grow max-w-80 aspect-9/16 bg-primary/20 border-2 border-gray-300 rounded-lg">

        <!--        <div class="h-full aspect-9/16 bg-primary/20 border-2 border-gray-300 rounded-lg">-->
          <div class="h-full flex flex-col">
            <span class="p-4 shrink-0 font-bold">{{ store.selected()?.title?.[_lang] || store.selected()?.name }}</span>
            <!--              @if (groupedQuestions) {-->
            <div class="grow overflow-auto p-4">
              <!--                  @for (q of currentQuestionsGroup.questions; track q.field_name) {-->
              <!--                    @if (q.visible) {-->
              <app-question [question]="{...dialogData.entity, ...model()}"
                            (answerEvent)="onAnswer($event)"/>
              <!--                                [answers]="previewState.answers()"-->
              <!--                                [answer]="previewState.answers()[model().field_name]?.[0]"-->
              <!--                                [language]="store.selected()?.defaultLanguage!"-->
              <!--                      <app-question [answer]="undefined" [answers]="{}" [language]="store.selected()?.defaultLanguage!" [question]="{...dialogData.entity, ...model()}"/>-->
              <!--                  }-->
              <!--                  }-->
            </div>
            <div>
              <!--                  <app-toolbar (toolbarEvent)="handleToolbarEvent($event)"-->
              <!--                               [progress]="progress()"-->
              <!--                               [leftButton]="{enabled: leftButtonEnabled(), label: leftButtonLabel()}"-->
              <!--                               [rightButton]="{enabled: rightButtonEnabled(), label: rightButtonLabel()}"/>-->
              <app-toolbar [leftButton]="{enabled: false, label: '' }"
                           [progress]="{current: 0, enabled: false, total: 100}"
                           [rightButton]="{enabled: false, label: '' }"/>
            </div>
            <!--              } @else {-->
            <!--                Loading...-->
            <!--              }-->
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>

<div class='px-6 py-4 flex flex-wrap justify-between gap-2 w-full border-t border-neutral-400 dark:border-neutral-500'>
  <div class='flex flex-wrap gap-2'>
    <button (click)='close()'
            mat-stroked-button
            color="accent"
            type="button">
      {{ 'SHARED.dialog.cancel' | translate }}
    </button>
  </div>
  <div class='ml-auto justify-end flex items-center gap-2'>
    <button (click)='handleSaveAction()'
            mat-raised-button
            color="primary"
            type="button"
            [disabled]="form().invalid()">
      {{ "SHARED.dialog.update" | translate }}
    </button>
  </div>
</div>
