@let _prefix = 'ADMIN.questionnaire.dialog';

<h2 mat-dialog-title class="border-b border-neutral-400 dark:border-neutral-500">
  <span>{{ `SHARED.dialog.${dialogData.mode}` | translate }}</span>
  <span> {{ `${_prefix}.questionTitle` | translate }}</span>
    <code class="italic text-secondary"> {{ dialogData.entity?.field_name ? `${dialogData.entity?.field_name}` : `` }}</code>
</h2>

<mat-dialog-content class="h-full overflow-auto">
  <form>
<!--    &#45;&#45;{{form.field_name().errors() | json}}&#45;&#45;-->
    <label for="field_name" class="text-sm"
           [class]="form.field_name().touched() && form.field_name().invalid() ? 'text-red-700' : ''">{{ `${_prefix}.questionFieldNameLabel` | translate }}
      *</label>
    <mat-form-field class='small-input w-1/2' appearance="outline">
      <input matInput [formField]='form.field_name'/>
        <mat-error>
          @if (form.field_name().touched() && form.field_name().invalid()) {
            @for (error of form.field_name().errors(); track error.kind) {
              {{ error.message }}
            }
          }
        </mat-error>
    </mat-form-field>

    <label for="field_type" class="text-sm"
           [class]="form.field_type().touched() && form.field_type().invalid() ? 'text-red-700' : ''">{{ `${_prefix}.questionFieldTypeLabel` | translate }}
      *</label>
    <mat-form-field class='small-input w-1/2' appearance="outline">
      <mat-select [formField]='form.field_type'>
        @for (item of QUESTION_TYPES; track item) {
          @for (type of item.types; track type.type) {
            <mat-option [value]="type.type">{{ type.label }}</mat-option>
          }
        }
      </mat-select>
      @if (form.field_type().touched() && form.field_type().invalid()) {
        @for (error of form.field_type().errors(); track error.kind) {
          {{ error.message }}
        }
      }
    </mat-form-field>

    <div class="mb-4">
      <!--        <app-text-editor />-->
      <label for="field_label" class="text-sm"
             [class]="form.field_label().touched() && form.field_label().invalid() ? 'text-red-700' : ''">{{ `${_prefix}.field_label` | translate }} *</label>
      <mat-form-field class='small-input w-full' subscriptSizing="fixed"
                      appearance='outline'>
        <input id="field_label" matInput [formField]="form.field_label">
        <mat-error>
          @if (form.field_label().touched() && form.field_label().invalid()) {
            @for (error of form.field_label().errors(); track error.kind) {
              {{ error.message }}
            }
          }
        </mat-error>
      </mat-form-field>
    </div>

    <div class="mb-4">
      <div>
        <label for="" class="text-sm">{{ `${_prefix}.questionRequiredLabel` | translate }}</label>
      </div>
      <mat-slide-toggle [formField]="form.required_field"/>
    </div>

    <div class="mb-4">
      <label for="section_header" class="text-sm">{{ `${_prefix}.section_header` | translate }}</label>
      <mat-form-field class='small-input w-full' subscriptSizing="fixed"
                      appearance='outline'>
        <input id="section_header" matInput [formField]="form.section_header">
        <mat-error>
          @if (form.section_header().touched() && form.section_header().invalid()) {
            @for (error of form.section_header().errors(); track error.kind) {
              {{ error.message }}
            }
          }
        </mat-error>
      </mat-form-field>
    </div>

    <div class="mb-4">
      <label for="field_note" class="text-sm">{{ `${_prefix}.field_note` | translate }}</label>
      <mat-form-field class='small-input w-full' subscriptSizing="fixed"
                      appearance='outline'>
        <input id="field_note" matInput [formField]="form.field_note">
        <mat-error>
          @if (form.field_note().touched() && form.field_note().invalid()) {
            @for (error of form.field_label().errors(); track error.kind) {
              {{ error.message }}
            }
          }
        </mat-error>
      </mat-form-field>
    </div>

    <ng-container #questionHost></ng-container>

    <div class="mt-4">
      <div>
        <label for="matrix_group_name"
               class="text-sm">{{ `${_prefix}.questionMatrixGroupName` | translate }}</label>
      </div>
      <mat-form-field class='small-input' appearance="outline">
        <input id="matrix_group_name" matInput [formField]='form.matrix_group_name'/>
      </mat-form-field>
    </div>

    @if ((dialogData.matrixIndex ?? 0) > 0 || (dialogData.index ?? 0) > 0) {
      <div class="flex items-center justify-between">
        <label for="field_name" class="text-sm">{{ `${_prefix}.questionConditionalLogic` | translate }}</label>
        <button mat-icon-button color="primary" class="tiny" (click)="editConditionalLogic()">
          <mat-icon class="material-symbols-outlined text-lg!">edit</mat-icon>
        </button>
      </div>
      <pre>{{branchingLogicString()}}</pre>
    }

  </form>
</mat-dialog-content>

<div class='px-6 py-4 flex flex-wrap justify-between gap-2 w-full border-t border-neutral-400 dark:border-neutral-500'>
  <div class='flex flex-wrap gap-2'>
    <button (click)='close()'
            mat-stroked-button
            color="accent"
            type="button">
      {{ 'SHARED.dialog.cancel' | translate }}
    </button>
  </div>
  <div class='ml-auto justify-end flex items-center gap-2'>
    <button (click)='handleSaveAction()'
            mat-raised-button
            color="primary"
            type="button">
      {{ "SHARED.dialog.update" | translate }}
    </button>
  </div>
</div>
