@let _prefix = 'ADMIN.questionnaire.dialog';

<h2 mat-dialog-title class="border-b border-neutral-400 dark:border-neutral-500">
  <span>{{ `SHARED.dialog.${dialogData.mode}` | translate }}</span>
  <span> {{ `${_prefix}.questionTitle` | translate }}</span>
    <code class="italic text-secondary"> {{ dialogData.entity?.field_name ? `${dialogData.entity?.field_name}` : `` }}</code>
</h2>

<mat-dialog-content class="h-full overflow-auto">
  <form>
    <label for="field_name" class="text-sm"
           [class]="form.field_name().touched() && form.field_name().invalid() ? 'text-red-700' : ''">{{ `${_prefix}.questionFieldNameLabel` | translate }}
      *</label>
    <mat-form-field class='small-input w-1/2' appearance="outline">
      <input matInput [formField]='form.field_name'/>
        <mat-error>
          @if (form.field_name().touched() && form.field_name().invalid()) {
            @for (error of form.field_name().errors(); track error.kind) {
              {{ error.message }}
            }
          }
        </mat-error>
    </mat-form-field>

    <label for="field_type" class="text-sm"
           [class]="form.field_type().touched() && form.field_type().invalid() ? 'text-red-700' : ''">{{ `${_prefix}.questionFieldTypeLabel` | translate }}
      *</label>
    <mat-form-field class='small-input w-1/2' appearance="outline">
      <mat-select [formField]='form.field_type'>
        @for (item of QUESTION_TYPES; track item) {
          @for (type of item.types; track type.type) {
            <mat-option [value]="type.type">{{ type.label }}</mat-option>
          }
        }
      </mat-select>
      @if (form.field_type().touched() && form.field_type().invalid()) {
        @for (error of form.field_type().errors(); track error.kind) {
          {{ error.message }}
        }
      }
    </mat-form-field>

    <div class="mb-4">
      <!--        <app-text-editor />-->
      <label for="field_label" class="text-sm"
             [class]="form.field_label().touched() && form.field_label().invalid() ? 'text-red-700' : ''">{{ `${_prefix}.field_label` | translate }} *</label>
      <mat-form-field class='small-input w-full' subscriptSizing="fixed"
                      appearance='outline'>
        <input id="field_label" matInput [formField]="form.field_label">
        <mat-error>
          @if (form.field_label().touched() && form.field_label().invalid()) {
            @for (error of form.field_label().errors(); track error.kind) {
              {{ error.message }}
            }
          }
        </mat-error>
      </mat-form-field>
    </div>

    <div class="mb-4">
      <div>
        <label for="" class="text-sm">{{ `${_prefix}.questionRequiredLabel` | translate }}</label>
      </div>
      <mat-slide-toggle [formField]="form.required_field"/>
    </div>

    <div class="mb-4">
      <label for="section_header" class="text-sm">{{ `${_prefix}.section_header` | translate }}</label>
      <mat-form-field class='small-input w-full' subscriptSizing="fixed"
                      appearance='outline'>
        <input id="section_header" matInput [formField]="form.section_header">
        <mat-error>
          @if (form.section_header().touched() && form.section_header().invalid()) {
            @for (error of form.section_header().errors(); track error.kind) {
              {{ error.message }}
            }
          }
        </mat-error>
      </mat-form-field>
    </div>

    <div class="mb-4">
      <label for="field_note" class="text-sm">{{ `${_prefix}.field_note` | translate }}</label>
      <mat-form-field class='small-input w-full' subscriptSizing="fixed"
                      appearance='outline'>
        <input id="field_note" matInput [formField]="form.field_note">
        <mat-error>
          @if (form.field_note().touched() && form.field_note().invalid()) {
            @for (error of form.field_note().errors(); track error.kind) {
              {{ error.message }}
            }
          }
        </mat-error>
      </mat-form-field>
    </div>

    @let fieldType = form.field_type().value();

<!--    Info / Checkbox / Radio / Range -->
    @if (fieldType === 'info' || fieldType === 'checkbox'  || fieldType === 'radio' || fieldType === 'range') {
      <app-question-choices [formField]="form.select_choices_or_calculations"/>
    }

<!--    Calc-->
    @if (fieldType === 'calc') {
      <div class="mt-4">
        <div>
          <label for="calculation_fn"
                 class="text-sm">{{ `${_prefix}.questionCalculationFn` | translate }} *</label>
        </div>
        <mat-form-field class='small-input' appearance="outline">
          <input id="calculation_fn" matInput [formField]="form.calculation_fn"/>
        </mat-form-field>
      </div>

      <div class="mt-4">
        <div>
          <label for="calculation_args"
                 class="text-sm">{{ `${_prefix}.questionCalculationArgs` | translate }}</label>
        </div>
        <mat-form-field class='small-input' appearance="outline">
          <input id="calculation_args" matInput [formField]="form.calculation_args"/>
        </mat-form-field>
      </div>
    }

<!--    Date / Time-->
    @if (fieldType === 'datetime' || fieldType === 'time') {
      <label for="unit" class="text-sm">{{ `${_prefix}.questionDateTypeLabel` | translate }}</label>
      <mat-form-field class='small-input w-full! grow-0' appearance='outline' subscriptSizing="dynamic">
        <mat-select [formField]="form.date_type">
          <mat-option [value]="'date'">{{ 'ADMIN.questionnaire.dialog.questionDateTypeDate' | translate }}
          </mat-option>
          <mat-option [value]="'time'">{{ 'ADMIN.questionnaire.dialog.questionDateTypeTime' | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="mt-4">
        <fieldset class="p-2 rounded-sm border flex gap-2">
          <div class="w-1/2">
            <div>
              <label for="text_validation_min"
                     class="text-sm">{{ `${_prefix}.questionTextValidationMin` | translate }}</label>
            </div>
            <mat-form-field class="small-input w-1/2" appearance='outline'>
              <input
                id="text_validation_min"
                [formField]="form.text_validation_min"
                matInput
                placeholder="dd/MM/yyyy or [q1]">

              @if (form.text_validation_min().value()) {
                <button matIconButton
                        matSuffix
                        type="button"
                        aria-label="Clear min date"
                        (click)="$event.stopPropagation(); form.text_validation_min().reset()">
                  <mat-icon class="material-symbols-outlined">close</mat-icon>
                </button>
              }

              <mat-datepicker-toggle matIconSuffix [for]="dp1"></mat-datepicker-toggle>
              <mat-datepicker #dp1></mat-datepicker>
            </mat-form-field>

            <input
              class="hidden"
              [matDatepicker]="dp1"
              (dateChange)="onValidationDatePicked($event, form.text_validation_min)">

          </div>

          <div class="w-1/2">
            <div>
              <label for="text_validation_max"
                     class="text-sm">{{ `${_prefix}.questionTextValidationMax` | translate }}</label>
            </div>
            <mat-form-field class="small-input w-1/2" appearance='outline'>
              <input
                id="text_validation_max"
                [formField]="form.text_validation_max"
                matInput
                placeholder="dd/MM/yyyy or [q1]">

              @if (form.text_validation_max().value()) {
                <button matIconButton
                        matSuffix
                        type="button"
                        aria-label="Clear max date"
                        (click)="$event.stopPropagation(); form.text_validation_max().reset()">
                  <mat-icon class="material-symbols-outlined">close</mat-icon>
                </button>
              }

              <mat-datepicker-toggle matIconSuffix [for]="dp2"></mat-datepicker-toggle>
              <mat-datepicker #dp2></mat-datepicker>
            </mat-form-field>

            <input
              class="hidden"
              [matDatepicker]="dp2"
              (dateChange)="onValidationDatePicked($event, form.text_validation_max)">

          </div>
        </fieldset>
      </div>
    }

<!--    Number-->
    @if (fieldType === 'number') {
      <fieldset class="p-2 rounded-sm border flex gap-2">
        <div class="w-1/2">
          <div>
            <label for="text_validation_min"
                   class="text-sm">{{ `${_prefix}.questionTextValidationMin` | translate }}</label>
          </div>
          <mat-form-field class='small-input' appearance="outline">
            <input id="text_validation_max" matInput [formField]="form.text_validation_min"/>
          </mat-form-field>
        </div>

        <div class="w-1/2">
          <div>
            <label for="text_validation_max"
                   class="text-sm">{{ `${_prefix}.questionTextValidationMax` | translate }}</label>
          </div>
          <mat-form-field class='small-input' appearance="outline">
            <input id="text_validation_max" matInput [formField]="form.text_validation_max"/>
          </mat-form-field>
        </div>
      </fieldset>
    }

<!--    Range-->
    @if (fieldType === 'range') {
      <div>
        <div>
          <label for="show_code" class="text-sm">{{ `${_prefix}.showCode` | translate }}</label>
        </div>
        <mat-slide-toggle [formField]="form.show_code"/>
      </div>

      <div>
        <div>
          <label for="show_selected_label" class="text-sm">{{ `${_prefix}.showSelectedLabel` | translate }}</label>
        </div>
        <mat-slide-toggle [formField]="form.show_selected_label"/>
      </div>
    }

<!--    Slider-->
    @if (fieldType === 'slider') {
      <label for="unit" class="text-sm">{{ `${_prefix}.questionRangeLabel` | translate }} *</label>
      <fieldset class="p-2 rounded-sm border">
        <div class="grid grid-cols-3 gap-4">
          <div>
            <label for="select_choices_or_calculations" class="text-sm" [class]="form.range.min().invalid() && form.range.min().dirty() ? 'text-red-700' : ''">
              {{ `${_prefix}.questionRangeMin` | translate }} *
            </label>
            <mat-form-field class='small-input' appearance='outline' subscriptSizing="dynamic">
              <input matInput [formField]="form.range.min" type="number">
              <mat-error>
                @if (form.range.min().touched() && form.range.min().invalid()) {
                  @for (error of form.range.min().errors(); track error.kind) {
                    {{ error.message }}
                  }
                }
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <label for="select_choices_or_calculations" class="text-sm" [class]="form.range.max().invalid() && form.range.max().dirty() ? 'text-red-700' : ''">
              {{ `${_prefix}.questionRangeMax` | translate }} *
            </label>
            <mat-form-field class='small-input w-1/3' appearance='outline' subscriptSizing="dynamic">
              <input matInput [formField]="form.range.max" type="number">
              <mat-error>
                @if (form.range.min().touched() && form.range.min().invalid()) {
                  @for (error of form.range.min().errors(); track error.kind) {
                    {{ error.message }}
                  }
                }
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <label for="select_choices_or_calculations" class="text-sm" [class]="form.range.step().invalid() && form.range.step().dirty() ? 'text-red-700' : ''">
              {{ `${_prefix}.questionRangeStep` | translate }} *
            </label>
            <mat-form-field class='w-1/3' appearance='outline' subscriptSizing="dynamic">
              <input matInput [formField]="form.range.step" type="number">
              <mat-error>
                @if (form.range.step().touched() && form.range.step().invalid()) {
                  @for (error of form.range.step().errors(); track error.kind) {
                    {{ error.message }}
                  }
                }
              </mat-error>
            </mat-form-field>
          </div>
        </div>
<!--        @if (range.errors?.['minLessThanMax']) {-->
<!--          <mat-error class="text-sm">Min should be less than max.</mat-error>-->
<!--        }-->

<!--        @if (range.errors?.['stepGreaterThanZero']) {-->
<!--          <mat-error class="text-sm">Step should be greater than 0.</mat-error>-->
<!--        }-->

        <div class="grid grid-cols-2 gap-4 mt-4">
          <div class="mb-4">
            <label for="range.labelLeft" class="text-sm">{{ `${_prefix}.range.labelLeft` | translate }}</label>
            <mat-form-field class='small-input w-full' subscriptSizing="fixed"
                            appearance='outline'>
              <input id="range.labelLeft" matInput [formField]="form.range.labelLeft">
              <mat-error>
                @if (form.range.labelLeft().touched() && form.range.labelLeft().invalid()) {
                  @for (error of form.range.labelLeft().errors(); track error.kind) {
                    {{ error.message }}
                  }
                }
              </mat-error>
            </mat-form-field>
          </div>
          <div class="mb-4">
            <label for="range.labelRight" class="text-sm">{{ `${_prefix}.range.labelRight` | translate }}</label>
            <mat-form-field class='small-input w-full' subscriptSizing="fixed"
                            appearance='outline'>
              <input id="range.labelRight" matInput [formField]="form.range.labelRight">
              <mat-error>
                @if (form.range.labelRight().touched() && form.range.labelRight().invalid()) {
                  @for (error of form.range.labelRight().errors(); track error.kind) {
                    {{ error.message }}
                  }
                }
              </mat-error>
            </mat-form-field>
          </div>
<!--          <app-text-form-group class='small-input grow'-->
<!--                               [textGroup]="asFormGroup(range.controls['labelLeft'])"-->
<!--                               label="Min Label"/>-->

<!--          <app-text-form-group class='small-input grow'-->
<!--                               [textGroup]="asFormGroup(range.controls['labelRight'])"-->
<!--                               label="Max Label"/>-->
        </div>
      </fieldset>
    }

    <!--    Text-->
    @if (fieldType === 'text') {
      <div>
        <label for="text_validation_min" class="text-sm">{{ `${_prefix}.questionTextValidationMin` | translate }}</label>
        <mat-form-field class='small-input' appearance="outline">
          <input id="text_validation_min" matInput [formField]="form.text_validation_min"/>
        </mat-form-field>
      </div>

      <div>
        <label for="text_validation_max" class="text-sm">{{ `${_prefix}.questionTextValidationMax` | translate }}</label>
        <mat-form-field class='small-input' appearance="outline">
          <input id="text_validation_max" matInput [formField]="form.text_validation_max"/>
        </mat-form-field>
      </div>

      <div>
        <div>
          <label for="" class="text-sm">{{ `${_prefix}.questionMultiLineEnabledLabel` | translate }}</label>
        </div>
        <mat-slide-toggle [formField]="form.multi_line"/>
      </div>
    }

    <!--    Timed-->
    @if (fieldType === 'timed') {
      <label for="unit" class="text-sm">{{ `${_prefix}.questionAnnotationLabel` | translate }}</label>
      <fieldset class="p-2 rounded-sm border">

        <div>
          <label for="select_choices_or_calculations" class="text-sm" [class]="form.field_annotation.image().invalid() && form.field_annotation.image().dirty() ? 'text-red-700' : ''">{{ `${_prefix}.questionAnnotationImage` | translate }} *</label>
          <mat-form-field class='small-input' appearance='outline' subscriptSizing="dynamic">
            <input matInput [formField]="form.field_annotation.image" type="url">
            <mat-error>
              @if (form.field_annotation.image().touched() && form.field_annotation.image().invalid()) {
                @for (error of form.field_annotation.image().errors(); track error.kind) {
                  {{ error.message }}
                }
              }
            </mat-error>
          </mat-form-field>
        </div>

        <div class="flex gap-2">
          <div>
            <label for="select_choices_or_calculations" class="text-sm" [class]="form.field_annotation.unit().invalid() && form.field_annotation.unit().dirty() ? 'text-red-700' : ''">{{ `${_prefix}.questionAnnotationUnit` | translate }}
              *</label>
            <mat-form-field class='small-input w-1/3' appearance='outline' subscriptSizing="dynamic">
              <input matInput [formField]="form.field_annotation.unit" type="text">
              <mat-error>
                @if (form.field_annotation.unit().touched() && form.field_annotation.unit().invalid()) {
                  @for (error of form.field_annotation.unit().errors(); track error.kind) {
                    {{ error.message }}
                  }
                }
              </mat-error>
            </mat-form-field>
          </div>

          <div class="flex gap-2">
            <div>
              <label for="select_choices_or_calculations" class="text-sm" [class]="form.field_annotation.timer.start().invalid() && form.field_annotation.timer.start().dirty() ? 'text-red-700' : ''">
                {{ `${_prefix}.questionAnnotationTimerStart` | translate }} *
              </label>
              <mat-form-field class='small-input w-1/3' appearance='outline' subscriptSizing="dynamic">
                <input matInput [formField]='form.field_annotation.timer.start' type="number">
                <mat-error>
                  @if (form.field_annotation.timer.start().touched() && form.field_annotation.timer.start().invalid()) {
                    @for (error of form.field_annotation.timer.start().errors(); track error.kind) {
                      {{ error.message }}
                    }
                  }
                </mat-error>
              </mat-form-field>
            </div>

            <div>
              <label for="select_choices_or_calculations" class="text-sm" [class]="form.field_annotation.timer.end().invalid() && form.field_annotation.timer.end().dirty() ? 'text-red-700' : ''">
                {{ `${_prefix}.questionAnnotationTimerEnd` | translate }} *
              </label>
              <mat-form-field class='small-input w-1/3' appearance='outline' subscriptSizing="dynamic">
                <input matInput [formField]='form.field_annotation.timer.end' type="number">
                <mat-error>
                  @if (form.field_annotation.timer.end().touched() && form.field_annotation.timer.end().invalid()) {
                    @for (error of form.field_annotation.timer.end().errors(); track error.kind) {
                      {{ error.message }}
                    }
                  }
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </fieldset>
    }

    <div class="mt-4">
      <div>
        <label for="matrix_group_name"
               class="text-sm">{{ `${_prefix}.questionMatrixGroupName` | translate }}</label>
      </div>
      <mat-form-field class='small-input' appearance="outline">
        <input id="matrix_group_name" matInput [formField]='form.matrix_group_name'/>
      </mat-form-field>
    </div>

    @if ((dialogData.matrixIndex ?? 0) > 0 || (dialogData.index ?? 0) > 0) {
      <div class="flex items-center justify-between">
        <label for="field_name" class="text-sm">{{ `${_prefix}.questionConditionalLogic` | translate }}</label>
        <button mat-icon-button color="primary" class="tiny" (click)="editConditionalLogic()">
          <mat-icon class="material-symbols-outlined text-lg!">edit</mat-icon>
        </button>
      </div>
      <pre>{{branchingLogicString()}}</pre>
    }

  </form>
</mat-dialog-content>

<div class='px-6 py-4 flex flex-wrap justify-between gap-2 w-full border-t border-neutral-400 dark:border-neutral-500'>
  <div class='flex flex-wrap gap-2'>
    <button (click)='close()'
            mat-stroked-button
            color="accent"
            type="button">
      {{ 'SHARED.dialog.cancel' | translate }}
    </button>
  </div>
  <div class='ml-auto justify-end flex items-center gap-2'>
    <button (click)='handleSaveAction()'
            mat-raised-button
            color="primary"
            type="button"
            [disabled]="form().invalid()">
      {{ "SHARED.dialog.update" | translate }}
    </button>
  </div>
</div>
