@mixin tokens() {
  /* Material system tokens exposed by Angular Material */
  --color-primary: var(--mat-sys-primary);
  --color-on-primary: var(--mat-sys-on-primary);

  --color-surface: var(--mat-sys-surface);
  --color-on-surface: var(--mat-sys-on-surface);

  --color-error: var(--mat-sys-error);

  /* containers (very useful in M3) */
  --color-primary-container: var(--mat-sys-primary-container);
  --color-on-primary-container: var(--mat-sys-on-primary-container);
}
