.mdc-notched-outline__notch {
  border-right: none;
}

.mat-expansion-panel-body {
  padding: 0 !important;
}

.mat-mdc-dialog-content {
  max-height: none !important;
}

@layer utilities {
  /*#region SCROLLBAR*/
  /* Base scrollbar style*/
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: transparent; /*#00ff00;/*theme('colors.red.500');*/
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--rb-accent); /*theme('colors.yellow.500');*/
    border-radius: 9999px;
    /*border: 2px solid transparent;/*theme('colors.red.300');*/
  }

   /*Firefox*/
  .scrollbar {
    /*scrollbar-base-color: #8e24aa;*/
    /*scrollbar-face-color: #0000ef;*/
    /*scrollbar-track-color: #0f766e;*/
    scrollbar-width: thin;
    scrollbar-color: var(--rb-accent) transparent; /*#8e24aa; /*theme('colors.cyan.500') theme('colors.cyan.200');*/
  }

  /*Optional hover effect*/
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--rb-accent); /*theme('colors.orange.600');*/
  }
  /*#endregion*/

  /*#region TABLE*/
  //.rb-table {
  //  @apply w-full text-sm relative px-4;
  //}

  //.rb-table-header {
  //  @apply sticky top-[72px] z-20 flex items-center gap-4 w-full py-2 px-4 font-bold border-y border-neutral-300 bg-background dark:bg-background-dark;
  //}

  //.rb-table-head {
  //  @apply flex items-center gap-2;
  //}

  //.rb-table-sort {
  //  @apply group-hover:opacity-70 transition-opacity duration-500;
  //}

  //.rb-sort-icon {
  //  @apply w-3.5! h-3.5! text-base!;
  //}

  //.rb-table-main-row {
  //  @apply flex gap-4 items-center py-2 px-4 border-t border-t-neutral-300 dark:border-neutral-500;
  //}

  /*.rb-table-extension-row {*/
  /*  @apply px-4 mt-0.5 overflow-hidden transition-[height] duration-500 border-t border-t-neutral-300 dark:border-neutral-500 w-full max-w-[calc(100vw-56px)];*/
  /*}*/
  //.rb-table-extension-row {
  //  @apply px-4 mt-0.5 border-t border-t-neutral-300 dark:border-neutral-500 w-full max-w-[calc(100vw-56px)] grid;
  //}

  //.rb-table-extension-row > * {
  //  overflow: hidden;
  //}

  .expand-in-anim {
    animation: expand-in 0.3s ease-out forwards;
  }

  .expand-out-anim {
    animation: expand-in 0.3s ease-out reverse;
  }
  //
  //.grid-container {
  //  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-4 3xl:grid-cols-6 gap-4 px-4 text-base items-stretch;
  //}
  /*#endregion*/

  /*#region SLIDE PANEL*/
  .tailwind-slide-panel {
    @apply fixed top-0 right-0 h-screen m-0 rounded-none bg-white shadow-lg overflow-hidden;
    transform: translateX(100%);
  }

  .tailwind-slide-panel-child {
    @apply fixed top-0 right-0 h-screen m-0 rounded-none bg-white shadow-lg overflow-hidden;
    transform: translateX(100%);
  }

  .dialog-enter-active {
    animation: slideInRight 0.3s ease-out forwards;
  }

  .dialog-exit-active {
    animation: slideOutRight 0.3s ease-out forwards;
    transform: translateX(100%);
  }

  @keyframes slideInRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slideOutRight {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(100%);
    }
  }
  /*#endregion*/

  /*#region FORM FIELD*/
  .mat-mdc-form-field {
    @apply w-full;
  }

  .mat-mdc-slide-toggle {
    @apply text-sm mb-4
  }

  .mat-mdc-checkbox {
    @apply text-sm
  }

  fieldset {
    @apply mb-4 rounded border px-2
  }

  fieldset legend {
    @apply text-sm
  }

  mat-hint {
    @apply text-xs leading-3
  }

  .suffix .mat-mdc-form-field-infix {
    display: flex;
  }
  /*#endregion*/
}

@keyframes expand-in {
  from {
    grid-template-rows: 0fr;
  }
  to {
    grid-template-rows: 1fr;
  }
}

.input-select .mat-form-field-infix {
  display: inherit;
}


.filter-has-value.mat-form-field-appearance-outline {
  --mat-form-field-outlined-outline-color: var(--rb-primary) !important;
  --mat-form-field-outlined-outline-width: 2px !important;
}

@media print {
  body.print-dialog-only {
    /* Hide the whole app by default */
    * {
      visibility: hidden !important;
    }

    /* Don’t print the dimmed backdrop */
    .cdk-overlay-backdrop {
      display: none !important;
    }

    /* Show overlay contents (dialog) */
    .cdk-overlay-container,
    .cdk-overlay-container * {
      visibility: visible !important;
    }

    /* Make dialog flow as a normal page */
    .cdk-overlay-pane {
      position: static !important;
      transform: none !important;
      width: 100% !important;
      height: auto !important;
      max-width: none !important;
    }

    .mat-mdc-dialog-surface {
      box-shadow: none !important;
      overflow: visible !important;
      background: #fff !important;
      color: #000 !important;
    }

    /* Hide anything you tagged as not-for-print */
    .print-hide {
      display: none !important;
    }
  }
}
