// Global style overrides (for Material or Tailwind)

.mdc-notched-outline__notch {
  border-right: none;
}

.mat-mdc-form-field {
  width: 100%;
}

.mat-mdc-slide-toggle {
  @apply text-sm mb-4
}
.mat-mdc-checkbox {
  @apply text-sm
}
.mdc-checkbox__mixedmark {
  @apply border-red-500
}

fieldset {
  @apply mb-4 rounded border px-2
}
fieldset legend {
  @apply text-sm
}
mat-hint {
  @apply text-xs leading-3
}

mat-option {
  @apply min-h-[36px] text-sm
}

.mat-mdc-form-field-hint-wrapper, .mat-mdc-form-field-error-wrapper {
  @apply text-sm p-0
}

.mat-mdc-paginator {
  @apply text-sm mt-2 bg-transparent
}
.mat-mdc-paginator .mdc-icon-button {
  @apply flex
}



.rb-error-snackbar {
  .mat-mdc-snackbar-surface {
    @apply bg-red-700!;
  }
}

html {
  .large {
    --mat-form-field-container-vertical-padding: 16px;
    --mat-form-field-container-height: 56px;
    --mat-form-field-container-text-size: 14px;
  }

  --mat-form-field-container-vertical-padding: 8px;
  --mat-form-field-container-height: 36px;
  --mat-form-field-container-text-size: 12px;
}

  .mat-mdc-icon-button.mat-mdc-button-base.tiny {
    --mdc-icon-button-state-layer-size: 28px; /*48px;*/
    line-height: normal; /* Added */
    width: var(--mdc-icon-button-state-layer-size);
    height: var(--mdc-icon-button-state-layer-size);
    padding: 1px; /*12px;*/
  }

  .mat-mdc-icon-button.mat-mdc-button-base.small {
    --mdc-icon-button-state-layer-size: 32px; /*48px;*/
    line-height: normal; /* Added */
    width: var(--mdc-icon-button-state-layer-size);
    height: var(--mdc-icon-button-state-layer-size);
    padding: 4px; /*12px;*/
  }


  .mat-mdc-icon-button.tiny .mat-mdc-button-touch-target {
    width: 24px;
    height: 24px;
  }

  .mat-mdc-icon-button.small .mat-mdc-button-touch-target {
    width: 32px;
    height: 32px;
  }

rb-sidebar-nav {
  --mat-expansion-container-text-color: rgba(var(--rb-on-tertiary-rgb), 0.87); // 0, 0, 0, 0.87);
  --mat-expansion-header-text-color: rgba(var(--rb-on-tertiary-rgb), 0.87);
  --mat-expansion-header-description-color: rgba(var(--rb-on-tertiary-rgb), 0.54);
  --mat-expansion-header-indicator-color: rgba(var(---rb-on-tertiary-rgb), 0.54);

  .mat-expansion-panel-body {
    padding: 0 !important;
  }

  @layer utilities {
    //rb-sidebar-nav {
      mat-expansion-panel {
        /*@apply text-neutral-300! bg-black/10! hover:bg-black/20! my-1!;*/
        @apply hover:bg-black/20!;
      }

      mat-expansion-panel-header {
        /*@apply py-2! bg-transparent! h-auto!;*/
        @apply py-2! h-auto!;
      }

      mat-nav-list {
        @apply p-0!;
      }

      /*rb-sidebar-nav mat-list-item {*/
      /*  @apply px-0! py-2! rounded-sm! transition-all! hover:text-primary-color! dark:hover:text-primary-dark-color!;*/
      /*}*/
      mat-list-item {
        @apply px-0! py-2! rounded-sm! transition-all! hover:text-primary! dark:hover:text-primary!;
      }

      /*rb-sidebar-nav .routerLinkActive {*/
      /*  @apply bg-linear-to-r! from-primary-color-500! to-accent-color-500! dark:bg-primary-dark-color-400! [&>span>span]:text-white! dark:from-primary-dark-color-500! dark:to-accent-dark-color-500!;*/
      /*}*/
      /*rb-sidebar-nav .routerLinkActive {*/
      /*  @apply bg-linear-to-r! from-primary! to-secondary! [&>span>span]:text-white!;*/
      /*}*/
    }
  //}

}

.mat-form-field-appearance-outline.custom-outlined.mat-focused {
  /* Change border color when the input is focused or has a value */
  .mat-form-field-outline {
    color: #1976d2; /* Change this to your desired color */
    border-color: #1976d2; /* Matches the focus color */
  }
}

.mat-form-field-appearance-outline.custom-outlined.mat-focused .mat-form-field-outline-thick {
  border-color: #1976d2 !important; /* Ensures the thick outline matches */
}
