@use '@angular/material' as mat;

@use 'material/palettes';
@use 'material/app-tokens';
@use 'material/components/button';
@use 'material/components/card';
@use 'material/components/checkbox';
@use "material/components/core";
@use 'material/components/dialog';
@use 'material/components/expansion-panel';
@use 'material/components/form-fields';
//@use './material/icon-buttons';
@use 'material/components/list';
@use 'material/components/menu';
@use 'material/components/progress-bar';
@use 'material/components/paginator';
@use 'material/components/select';
@use 'material/components/slide-toggle';
@use 'material/components/snackbar';
//@use './material/table';
@use 'material/components/toolbar';
//@use './material/tooltip';

@include mat.core();

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: palettes.$primary-palette,
    tertiary: palettes.$primary-palette,//mat.$cyan-palette,
    use-system-variables: true,
  ),
  typography: (
    plain-family: Inter var, //sans-serif, //Roboto,
    brand-family: Inter var,
    //brand-family: Open Sans,
    //bold-weight: 900,
    //medium-weight: 500,
    //regular-weight: 300,
    use-system-variables: true,
  ),
  density: (
    scale: -2,
  ),
));

$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: palettes.$primary-palette,
    tertiary: palettes.$primary-palette,
    use-system-variables: true,
  ),
  typography: (
    plain-family: Inter var, //sans-serif, //Roboto,
    brand-family: Inter var,
    //brand-family: Open Sans,
    //bold-weight: 900,
    //medium-weight: 500,
    //regular-weight: 300,
    use-system-variables: true,
  ),
  density: (
    scale: -2,
  ),
));

:root {
  @include mat.all-component-themes($theme);
  @include mat.system-level-colors($theme);
  @include mat.system-level-typography($theme);
  //@include mat.system-level-shape($theme, (
  //  corner-small: 4px,
  //));
  @include mat.system-level-shape($theme);
  @include mat.system-level-elevation($theme);
  @include mat.system-level-state($theme);

  @include app-tokens.tokens();

  @include button.overrides();
  @include card.overrides();
  @include core.overrides();
  @include checkbox.overrides();
  @include dialog.overrides();
  @include expansion-panel.overrides();
  @include form-fields.overrides();
  //@include icon-buttons.theme();
  @include list.overrides();
  @include menu.overrides();
  @include progress-bar.overrides();
  @include paginator.overrides();
  @include select.overrides();
  @include slide-toggle.overrides();
  @include snackbar.overrides();
  //@include table.theme();
  @include toolbar.overrides();
  //@include tooltip.theme();


  //--mat-sys-background: white;
}

:root.dark {
  @include mat.all-component-colors($dark-theme);
  @include mat.system-level-colors($dark-theme);
}
