<div *ngIf="selectedOrganization$ | async as organization"
     class='px-4 py-2 flex flex-wrap items-center bg-white dark:bg-neutral-700'>

  <div class='flex flex-wrap gap-2 items-center'>
    <span class="material-symbols-outlined bg-neutral-100 dark:bg-neutral-600 rounded-full cursor-pointer" rbBackButton>chevron_left</span>
    <button class="small-button bg-neutral-100! dark:bg-neutral-600! dark:text-white!"  mat-flat-button
            [routerLink]="['/admin/organizations/']">
      <span class="flex items-center gap-1">
        <span class="material-symbols-outlined text-lg" matPrefix>corporate_fare</span>
        <span>{{ 'ADMIN.organization.title.plural' | translate }}</span>
      </span>
    </button>
    <span class="text-xs font-bold">{{ organization.name }}</span>
  </div>

  <ng-container *ngIf="selectedProject$ | async as project">
    <div class='flex flex-wrap gap-2 items-center'>
      <span class="material-symbols-outlined">chevron_right</span>
      <button class="small-button bg-neutral-100! dark:bg-neutral-600! dark:text-white!" mat-flat-button
              [routerLink]="['/admin/organizations/', organization.name, 'projects']">
        <span class="flex items-center gap-1">
          <span class="material-symbols-outlined text-lg" matPrefix>folder</span>
          <span>{{ 'ADMIN.project.title.plural' | translate }}</span>
        </span>
      </button>
      <span class="text-xs font-bold">
        {{ project.humanReadableProjectName || project.projectName }}
      </span>
    </div>

    <ng-container *ngIf="selectedSubject$ | async as subject">
      <div class='flex flex-wrap gap-2 items-center'>
        <span class="material-symbols-outlined">chevron_right</span>
        <button class="small-button bg-neutral-100! dark:bg-neutral-600! dark:text-white!" mat-flat-button
                [routerLink]="['/admin/organizations/', organization.name, 'projects', project.projectName, 'subjects']">
          <span class="flex items-center gap-1">
            <span class="material-symbols-outlined text-lg" matPrefix>person_outline</span>
            <span>{{ 'ADMIN.subject.title.plural' | translate }}</span>
          </span>
        </button>
        <span class="text-xs font-bold">
          {{ subject.login }}
        </span>
      </div>
    </ng-container>

    <ng-container *ngIf="selectedClient$ | async as client">
      <div class='flex flex-wrap gap-2 items-center'>
        <mat-icon fontSet='material-icons-outlined' class="">chevron_right</mat-icon>
        <button class="small-button bg-neutral-100! dark:bg-neutral-600! dark:text-white!" color="primary" mat-flat-button
                [routerLink]="['/admin/organizations/', organization.name, 'projects', project.projectName, 'subjects']">
          <mat-icon fontSet='material-icons-outlined' class="" matPrefix>app_shortcut</mat-icon>
          {{ 'ADMIN.client.title.plural' | translate }}
        </button>
        <h2 class="text-xs font-bold">
          {{ client.clientId }}
        </h2>
      </div>
    </ng-container>
  </ng-container>
</div>

