@let _prefix = 'ADMIN.questionnaire.dialog';

<form novalidate class="grid grid-cols-2 gap-4">
  <div>
    <div class="">
      <label for="name" class="text-sm">{{ `${_prefix}.name` | translate }} *</label>
      <mat-form-field class='small-input' appearance='outline' subscriptSizing="fixed">
        <input id="name" matInput [formField]="form.name">
        <mat-error>
          @if (form.name().touched() && form.name().invalid()) {
            @for (error of form.name().errors(); track error.kind) {
              {{ error.message }}
            }
          }
        </mat-error>
      </mat-form-field>
    </div>

    <div class="">
      <label for="languages" class="text-sm">{{ `${_prefix}.languages` | translate }}</label>
      <app-searchable-multi-select [formField]="form.languages"
                                   [disabledItem]="form.defaultLanguage().value()"
                                   [labelKey]="'label'"
                                   [options]="ISO_LANGUAGES"
                                   [valueKey]="'code'"
                                   [multiple]="true"/>
    </div>

    <div class="">
      <label for="defaultLanguage" class="text-sm">{{ `${_prefix}.defaultLanguage` | translate }} *</label>
      <app-searchable-multi-select [formField]="form.defaultLanguage"
                                   [labelKey]="'label'"
                                   [options]="form.languages().value()"
                                   [valueKey]="'code'"
                                   [multiple]="false"/>
    </div>

    <mat-slide-toggle [formField]="form.onDemand" class="my-4" color="primary">
      {{ `${_prefix}.onDemand` | translate }}
    </mat-slide-toggle>

    <div>
      <label for="estimatedCompletionTime" class="text-sm">
        {{ `${_prefix}.estimatedCompletionTime` | translate }}
      </label>
      <mat-form-field class='small-input w-full' appearance='outline' subscriptSizing="fixed">
        <input id="estimatedCompletionTime" matInput type="number" [formField]="form.estimatedCompletionTime">
        <span matSuffix class="mx-4 text-neutral-500 dark:text-neutral-400">
          {{ `${_prefix}.minutes` | translate }}
        </span>
        <mat-error>
          @if (form.estimatedCompletionTime().touched() && form.estimatedCompletionTime().invalid()) {
            @for (error of form.estimatedCompletionTime().errors(); track error.kind) {
              {{ error.message }}
            }
          }
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <!--  <div>-->
  <!--    <div class="">-->
  <!--      <div>-->
  <!--        <label for="order" class="text-sm">-->
  <!--          {{ `${_prefix}.orderLabel` | translate }}-->
  <!--        </label>-->
  <!--        <mat-form-field class='small-input' appearance='outline' subscriptSizing="fixed">-->
  <!--          <input id="order" matInput type="number" formControlName='order'>-->
  <!--        </mat-form-field>-->
  <!--      </div>-->
  <!--    </div>-->

  <!--    <mat-slide-toggle formControlName='onDemand' class="mb-4" color="primary">-->
  <!--      {{ `${_prefix}.onDemandLabel` | translate }}-->
  <!--    </mat-slide-toggle>-->

  <!--    <mat-slide-toggle formControlName='showInCalendar' class="mb-4" color="primary">-->
  <!--      {{ `${_prefix}.showInCalendarLabel` | translate }}-->
  <!--    </mat-slide-toggle>-->

  <!--    <mat-slide-toggle formControlName='isDemo' class="mb-4 text-sm" color="primary">-->
  <!--      {{ `${_prefix}.isDemoLabel` | translate }}-->
  <!--    </mat-slide-toggle>-->
  <!--  </div>-->
  <pre class="text-sm">
    {{store.selected() | json}}
  </pre>
</form>
