@let _i18nEntity = 'ADMIN.questionnaire.dialog';

<form novalidate class="grid grid-cols-2 gap-4">
  <div>
    <app-input-form-field [field]="form.name" [label]="`${_i18nEntity}.name`" [required]="true"/>

    <app-searchable-multi-select [field]="form.languages"
                                 [label]="`${_i18nEntity}.languages`"
                                 [disabledItem]="form.defaultLanguage().value()"
                                 [labelKey]="'label'"
                                 [options]="ISO_LANGUAGES"
                                 [valueKey]="'code'"
                                 [multiple]="true"/>

    <app-searchable-multi-select [field]="form.defaultLanguage"
                                 [label]="`${_i18nEntity}.defaultLanguage`"
                                 [labelKey]="'label'"
                                 [options]="form.languages().value()"
                                 [valueKey]="'code'"
                                 [multiple]="false"/>

    <mat-slide-toggle [formField]="form.onDemand" class="my-4" color="primary">
      {{ `${_i18nEntity}.onDemand` | translate }}
    </mat-slide-toggle>

    <app-input-form-field [field]="form.estimatedCompletionTime" [label]="`${_i18nEntity}.estimatedCompletionTime`">
      <span matSuffix class="mx-4 text-neutral-500 dark:text-neutral-400">
          {{ `${_i18nEntity}.minutes` | translate }}
        </span>
    </app-input-form-field>

    <div>
      <mat-slide-toggle [formField]="form.autoNextEnabled" class="my-4" color="primary">
        {{ `${_i18nEntity}.autoNextQuestionEnabled` | translate }}
      </mat-slide-toggle>
    </div>

    <div>
      <mat-slide-toggle [formField]="form.previousEnabled" class="my-4" color="primary">
        {{ `${_i18nEntity}.previousQuestionEnabled` | translate }}
      </mat-slide-toggle>
    </div>

    <div>
      <mat-slide-toggle [formField]="form.editEnabled" class="my-4" color="primary">
        {{ `${_i18nEntity}.editQuestionEnabled` | translate }}
      </mat-slide-toggle>
    </div>
  </div>

  <!--  <div>-->
  <!--    <div class="">-->
  <!--      <div>-->
  <!--        <label for="order" class="text-sm">-->
  <!--          {{ `${_i18nEntity}.orderLabel` | translate }}-->
  <!--        </label>-->
  <!--        <mat-form-field class='small-input' appearance='outline' subscriptSizing="fixed">-->
  <!--          <input id="order" matInput type="number" formControlName='order'>-->
  <!--        </mat-form-field>-->
  <!--      </div>-->
  <!--    </div>-->

  <!--    <mat-slide-toggle formControlName='onDemand' class="mb-4" color="primary">-->
  <!--      {{ `${_i18nEntity}.onDemandLabel` | translate }}-->
  <!--    </mat-slide-toggle>-->

  <!--    <mat-slide-toggle formControlName='showInCalendar' class="mb-4" color="primary">-->
  <!--      {{ `${_i18nEntity}.showInCalendarLabel` | translate }}-->
  <!--    </mat-slide-toggle>-->

  <!--    <mat-slide-toggle formControlName='isDemo' class="mb-4 text-sm" color="primary">-->
  <!--      {{ `${_i18nEntity}.isDemoLabel` | translate }}-->
  <!--    </mat-slide-toggle>-->
  <!--  </div>-->
  <!--  <pre class="text-sm">-->
  <!--    {{ store.selected() | json }}-->
  <!--  </pre>-->
  <div></div>
</form>
