@let _prefix = 'ADMIN.questionnaire.dialog';

<form novalidate class="grid grid-cols-2 gap-4">
  <div>
    <div class="">
      <label for="name" class="text-sm">{{ `${_prefix}.nameLabel` | translate }} *</label>
      <mat-form-field class='small-input' appearance='outline'>
        <input matInput [formField]="form.name">
        <mat-error>
          @if (form.name().touched() && form.name().invalid()) {
            @for (error of form.name().errors(); track error.kind) {
              {{ error.message }}
            }
          }
        </mat-error>
      </mat-form-field>
    </div>

    <div class="">
      <label for="defaultLanguageLabel" class="text-sm">{{ `${_prefix}.defaultLanguageLabel` | translate }} *</label>
      <app-searchable-multi-select [formField]="form.defaultLanguage"
                                   [labelKey]="'label'"
                                   [options]="ISO_LANGUAGES"
                                   [valueKey]="'code'"
                                   [multiple]="false"/>
    </div>

    <div class="mb-4">
      <label for="titleLabel" class="text-sm">
        {{ `${_prefix}.titleLabel` | translate }}
      </label>
      <mat-form-field class='small-input w-full' appearance='outline'>
        <input id="titleLabel" matInput [formField]="form.title">
      </mat-form-field>
<!--      <app-text-form-group [label]="`${_prefix}.titleLabel` | translate"-->
<!--                           [textGroup]="form.controls.title"-->
<!--                           [value]="$safeNavigationMigration(dialogState.questionnaire()?.title)"/>-->
    </div>

    <div class="mb-4">
      <label for="descriptionLabel" class="text-sm">
        {{ `${_prefix}.descriptionLabel` | translate }}
      </label>
      <mat-form-field class='small-input w-full' appearance='outline'>
        <input id="descriptionLabel" matInput [formField]="form.description">
      </mat-form-field>
<!--      <app-text-form-group [label]="`${_prefix}.descriptionLabel` | translate"-->
<!--                           [textarea]="true"-->
<!--                           [textareaAutosize]="true"-->
<!--                           [textGroup]="form.controls.description"-->
<!--                           [value]="$safeNavigationMigration(dialogState.questionnaire()?.description)"/>-->
    </div>
  </div>

  <!--  <div>-->
  <!--    <div class="">-->
  <!--      <div>-->
  <!--        <label for="order" class="text-sm">-->
  <!--          {{ `${_prefix}.orderLabel` | translate }}-->
  <!--        </label>-->
  <!--        <mat-form-field class='small-input' appearance='outline' subscriptSizing="fixed">-->
  <!--          <input id="order" matInput type="number" formControlName='order'>-->
  <!--        </mat-form-field>-->
  <!--      </div>-->
  <!--    </div>-->

  <!--    <mat-slide-toggle formControlName='onDemand' class="mb-4" color="primary">-->
  <!--      {{ `${_prefix}.onDemandLabel` | translate }}-->
  <!--    </mat-slide-toggle>-->

  <!--    <mat-slide-toggle formControlName='showInCalendar' class="mb-4" color="primary">-->
  <!--      {{ `${_prefix}.showInCalendarLabel` | translate }}-->
  <!--    </mat-slide-toggle>-->

  <!--    <mat-slide-toggle formControlName='isDemo' class="mb-4 text-sm" color="primary">-->
  <!--      {{ `${_prefix}.isDemoLabel` | translate }}-->
  <!--    </mat-slide-toggle>-->
  <!--  </div>-->

</form>
