@let _prefix = 'ADMIN.questionnaire.dialog';

<h2 mat-dialog-title class="border-b border-neutral-400 dark:border-neutral-500">
  <span>{{ `SHARED.dialog.${dialogData.mode}` | translate }}</span>
  <span> {{ `${_prefix}.questionTitle` | translate }}</span>
    <code class="italic text-secondary"> {{ dialogData.entity?.field_name ? `${dialogData.entity?.field_name}` : `` }}</code>
</h2>

<!--<app-dialog-title [dialogMode]='dialogData.mode'-->
<!--                  [entityMetadata]="{name: 'conditionalLogic', icon: ''}"-->
<!--                  [entityName]="undefined"-->
<!--                  (closeEvent)='close()'>-->
<!--</app-dialog-title>-->

<mat-dialog-content class="h-full overflow-auto">
  <form [formGroup]="form">
    <label for="field_name" class="text-sm"
           [class]="form.controls.field_name?.errors ? 'text-red-500' : ''">{{ `${_prefix}.questionFieldNameLabel` | translate }}
      *</label>
    <mat-form-field class='small-input w-1/2' appearance="outline">
      <input matInput formControlName='field_name' required/>
      @if (form.controls.field_name?.errors; as errors) {
        <mat-error>
          @if (errors?.['required']) {
            {{ ValidatorError.requiredValidator | translate:{value: `${_prefix}.questionFieldNameLabel` | translate} }}
          }
          @if (errors['duplicate']) {
            {{ ValidatorError.duplicateValidator | translate: {value: `${_prefix}.questionFieldNameLabel` | translate} }}
          }
          @if (errors['pattern']) {
            {{ ValidatorError.stringIdValidator | translate: {value: `${_prefix}.questionFieldNameLabel` | translate} }}
          }
        </mat-error>

      }
    </mat-form-field>

    <label for="field_type" class="text-sm"
           [class]="form.controls.field_type?.errors ? 'text-red-500' : ''">{{ `${_prefix}.questionFieldTypeLabel` | translate }}
      *</label>
    <mat-form-field class='small-input w-1/2' appearance="outline">
      <mat-select formControlName='field_type'>
        @for (item of QUESTION_TYPES; track item) {
          @for (type of item.types; track type.type) {
            <mat-option [value]="type.type">{{ type.label }}</mat-option>
          }
        }
      </mat-select>
      @if (form.controls.field_type?.errors; as errors) {
        <mat-error>
          @if (errors?.['pattern']) {
            {{ ValidatorError.normalTextValidator }}
          }
          @if (errors?.['required']) {
            {{ ValidatorError.requiredValidator | translate:{value: `${_prefix}.questionFieldTypeLabel` | translate} }}
          }
        </mat-error>
      }
    </mat-form-field>

    <div class="mb-4">
      <!--        <app-text-editor />-->
      <app-text-form-group [textGroup]="form.controls.field_label"
                           label="Field Label"
                           [required]="true"
                           [textarea]="true"
                           [textareaAutosize]="true"
                           [value]="dialogData.entity.field_label"/>
    </div>

    <div class="mb-4">
      <div>
        <label for="" class="text-sm">{{ `${_prefix}.questionRequiredLabel` | translate }}</label>
      </div>
      <mat-slide-toggle formControlName="required_field"/>
    </div>

    <div class="mb-4">
      <app-text-form-group [textGroup]="form.controls.section_header"
                           label="Section Header"
                           [textarea]="true"
                           [textareaAutosize]="true"
                           [value]="dialogData.entity.section_header"/>
    </div>

    <div class="mb-4">
      <app-text-form-group [textGroup]="form.controls.field_note"
                           label="Field Note"
                           [textarea]="true"
                           [textareaAutosize]="true"
                           [value]="dialogData.entity.field_note"/>
    </div>

    <ng-container #questionHost></ng-container>

    <div class="mt-4">
      <div>
        <label for="matrix_group_name"
               class="text-sm">{{ `${_prefix}.questionMatrixGroupName` | translate }}</label>
      </div>
      <mat-form-field class='small-input' appearance="outline">
        <input id="matrix_group_name" matInput formControlName='matrix_group_name'/>
      </mat-form-field>
    </div>

    @if ((dialogData.matrixIndex ?? 0) > 0 || (dialogData.index ?? 0) > 0) {
      <div class="flex items-center justify-between">
        <label for="field_name" class="text-sm">{{ `${_prefix}.questionConditionalLogic` | translate }}</label>
        <button mat-icon-button color="primary" class="tiny" (click)="editConditionalLogic()">
          <mat-icon class="material-symbols-outlined text-lg!">edit</mat-icon>
        </button>
      </div>
<!--      {{form.controls.conditionalLogic.value | json}}-->
  <pre>{{branchingLogicString()}}</pre>
<!--      <mat-form-field class='small-input w-1/2' appearance="outline">-->
<!--&lt;!&ndash;        <input matInput formControlName='branching_logic'/>&ndash;&gt;-->
<!--        <input matInput formControlName='branching_logic'/>-->
<!--        <mat-error>-->
<!--          @if (form.controls.branching_logic?.errors; as errors) {-->
<!--            @if (errors?.['required']) {-->
<!--              {{ ValidatorError.requiredValidator | translate:{value: `${_prefix}.questionConditionalLogic` | translate} }}-->
<!--            }-->
<!--          }-->
<!--        </mat-error>-->
<!--      </mat-form-field>-->
    }

  </form>
</mat-dialog-content>

@if (error()) {
  <app-error-message-box>
    {{ $safeNavigationMigration(error()?.error.errorCode) | translate }}
  </app-error-message-box>
}

<div class='px-6 py-4 flex flex-wrap justify-between gap-2 w-full border-t border-neutral-400 dark:border-neutral-500'>
  <div class='flex flex-wrap gap-2'>
    <button (click)='close()'
            mat-stroked-button
            color="accent"
            type="button">
      {{ 'SHARED.dialog.cancel' | translate }}
    </button>
  </div>
  <div class='ml-auto justify-end flex items-center gap-2'>
    <button (click)='handleSaveAction()'
            mat-raised-button
            color="primary"
            type="button">
      {{ "SHARED.dialog.update" | translate }}
    </button>
  </div>
</div>
