<div>
  <h2 mat-dialog-title class="border-b border-neutral-400 dark:border-neutral-500">
    <span class='inline-flex items-center justify-between w-full'>
    <span class="text-lg">
      <span>{{'ADMIN.subject.pairSource.title' | translate }}</span>
    </span>
    <button mat-icon-button
            (click)='close()'>
      <span class="material-symbols-outlined">close</span>
    </button>
  </span>
</h2>
</div>

<mat-dialog-content>
  <app-dialog-body-description>
    <app-subject-details class="py-4"
                        [entity]='dialogData.entity'
                        [detailType]="DetailType.SUMMARY" />
  </app-dialog-body-description>

  {{'ADMIN.source.title.plural' | translate }}
  <app-dialog-body-description>
  @if (dialogData.entity.sources?.length) {

      @for (source of dialogData.entity.sources; track source.id) {
        <div class='detail-item'>
          <span class='label'>
            <mat-checkbox [(ngModel)]='source.assigned'>
<!--              {{source.sourceTypeProducer+"_"+source.sourceTypeModel+"_"+source.sourceTypeCatalogVersion}}-->
            </mat-checkbox>
          </span>
          <span class='value text-base' >
            <app-tag class="bg-source-type-color text-white">{{source.sourceTypeProducer+"_"+source.sourceTypeModel+"_"+source.sourceTypeCatalogVersion}}</app-tag>
<!--            <app-tag class="bg-source-type-color text-white">{{`${source.sourceType?.producer}_${source.sourceType?.model}_${source.sourceType?.catalogVersion}`}}</app-tag>-->
            {{source.sourceName}}
            @if (source.expectedSourceName) {
              <span>[{{ source.expectedSourceName }}]</span>
            }
<!--            {{source.sourceName}}-->
<!--            @if (source.expectedSourceName) {-->
<!--              <span>({{ source.expectedSourceName }})</span>-->
<!--            }-->
          </span>
        </div>
      }
  } @else {
    <p>No Source assigned</p>
  }

  @for (source of sources(); track source.id) {
    <div class='detail-item'>
      <span class='label'>
        <mat-checkbox [(ngModel)]='source.assigned' />
      </span>
      <span class='value text-base'>
        <app-tag class="bg-source-type-color text-white">{{`${source.sourceType?.producer}_${source.sourceType?.model}_${source.sourceType?.catalogVersion}`}}</app-tag>
        {{source.sourceName}}
        @if (source.expectedSourceName) {
          <span>[{{ source.expectedSourceName }}]</span>
        }
      </span>
    </div>
  }
  </app-dialog-body-description>

</mat-dialog-content>

@if (error()) {
  <div
    class="p-4 w-full text-center text-base rounded-sm break-words bg-red-100 text-red-600 dark:bg-red-800 dark:text-red-200">
    {{ error()?.error.errorCode | translate }}
  </div>
}


<div class='px-6 py-4 flex flex-wrap justify-between gap-2 w-full border-t border-neutral-400 dark:border-neutral-500'>
  <div class='flex flex-wrap gap-2'>
    <button mat-stroked-button
            color='primary'
            type='button'
            class='close-button'
            [mat-dialog-close]='true'
            (click)='close()'>
      {{'ADMIN.subject.pairSource.cancel' | translate }}
    </button>
  </div>
  <div class='ml-auto justify-end'>
    <button mat-raised-button
            color='primary'
            type='submit'
            name='update'
            [disabled]='loading()'
            (click)='save()'>
      @if (loading()) {
        <mat-icon><mat-spinner diameter='20' /></mat-icon>
      }
      {{'ADMIN.subject.pairSource.save' | translate }}
    </button>
  </div>
</div>
