<rb-entities-page-header [showTitle$]="true"
                         [entityName$]="ENTITY_NAME.permission"
                         [enableAddButton$]="true"
                         [isGridView]="undefined"
                         [permission$]="[{role: ROLES.SYS_ADMIN}]">
  @if (tableFilters.length && entities$().length > MIN_ENTITIES_FOR_FILTERS) {
    <rb-data-table-filter bottom-filter
                          [filters]='tableFilters'
                          [filterOpened]='isFilterOpened'
                          (filterChanged)='switchFilter($event)'
                          (filterEnableChanged)="onFilterEnabledChanged($event)"/>
  }
</rb-entities-page-header>

@if (loading$()) {
  <rb-loader/>
}


<div class="rb-table"
     rbTableQueryReflector
     [page]="page$()"
     [defaultSort]="{sortField: 'id', sortOrder: 'desc'}"
     [sort]="sort$()"
     (activeQueryParams)="handleActiveQueryChange($event)">

  @if (visibleEntities$().length) {
    <div class="rb-table-header mat-app-background">
      @for (tableElement of tableFields; track tableElement.name) {
        @if (tableElement.name === 'checkbox') {
          <div [class]="tableElement.tableClass + ' ' + tableElement.width + ' ' + tableElement.classes"
               [class.flex-1]="!tableElement.width"
               [class.shrink-0]="!!tableElement.width">
            <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()"/>
          </div>
        } @else {
          <div [class]="tableElement.tableClass + ' ' + tableElement.width + ' ' + tableElement.classes"
               [class.flex-1]="!tableElement.width"
               [class.shrink-0]="!!tableElement.width">
            <button class="rb-table-head group" [class]="tableElement.sortable ? 'cursor-pointer': ''"
                    (click)="switchSort(tableElement)">
              <span>{{ 'ADMIN.user.' + tableElement.name + '.tableLabel' | translate }}</span>
              @if (tableElement.sortable) {
                <div class="rb-table-sort" [class.opacity-0]="sort$().sortField !== tableElement.name">
                      <span class="rb-sort-icon material-symbols-outlined">
                        {{ sort$().sortField === tableElement.name && sort$().sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward' }}
                      </span>
                </div>
              }
            </button>
          </div>
        }
      }
    </div>
  }
  @if (visibleEntities$()?.length) {
    @for (entity of visibleEntities$(); track entity.id) {
      <rb-permission-table-row [entity$]="entity"
                               [entityUpdateTrigger$]="dialogService.dialogUpdateEvent$()"
                               [tableFields$]="tableFields"
                               [extensionClass$]="extensionClass$()"
                               [configFields$]="configFields" [organizationName$]="currentOrganization?.name" [projectName$]="currentProject?.projectName"
                               class="block transition-all duration-200 hover:shadow-lg hover:-translate-y-0.5 hover:scale-[1.01]" />
    }
  }
</div>

<div class="flex items-center p-4 text-sm font-bold">
  @if (entities$().length === 0) {
    <span>{{ 'ADMIN.sourceType.noItemFound' | translate }}</span>
  }
  @if (processedEntities$().length === 0) {
    <span>{{ 'No item found with this filter' | translate }}</span>
  }
</div>

@if (processedEntities$().length > MIN_ENTITIES_FOR_PAGINATION) {
  <mat-paginator (page)="switchPage($event)"
                 [length]="processedEntities$().length"
                 [pageSize]="page$().pageSize"
                 [pageSizeOptions]="PAGE_SIZE_OPTIONS"
                 [pageIndex]="page$().pageIndex"
                 aria-label="Select page"/>
}
