<div mat-dialog-title>
  <div class='flex items-center justify-between'>
    <div class="text-lg">
      <span>Add user</span>
    </div>
    <button mat-icon-button
            class=''
            [mat-dialog-close]='true'
            (click)='close()'>
      <mat-icon class=''>close</mat-icon>
    </button>
  </div>
</div>

<!--<rb-dialog-title [mode]='mode'-->
<!--                 [label]='{singular: "ADMIN.role.title.singular" | translate, plural: "ADMIN.role.title.plural" | translate }'-->
<!--                 (closeClicked)='close()'>-->
<!--</rb-dialog-title>-->
<ng-container *ngIf='form'>
  <mat-dialog-content>
<!--    <rb-dialog-body-description *ngIf='mode === DialogMode.VIEW || mode === DialogMode.DELETE'-->
<!--                                [mode]="mode"-->
<!--                                [label]="'ADMIN.user.title.singular' | translate"-->
<!--                                [entityName]="entity.login">-->
<!--      <rb-user-details [mode]='mode' [entity]='entity'></rb-user-details>-->
<!--    </rb-dialog-body-description>-->
    <p *ngIf='mode === DialogMode.VIEW || mode === DialogMode.DELETE'>You are going to remove this user from this project/organization</p>
    <p *ngIf='mode === DialogMode.EDIT'>Select a user by entering email</p>

    <ng-container *ngIf='mode === DialogMode.ADD || mode === DialogMode.EDIT'>
      <form [formGroup]='form' novalidate>
        <mat-form-field class='w-full mb-4'
                        subscriptSizing="dynamic"
                        appearance='outline'
                        floatLabel='always'>
          <mat-label>{{ 'ADMIN.user.email.label' | translate }}</mat-label>
          <input matInput formControlName='email' required/>
          <mat-error *ngIf="form.controls.email?.errors?.['duplicate']">
            {{ "ADMIN.user.email.duplicate" }}
          </mat-error>
          <mat-error *ngIf="form.controls.email?.errors?.['email']">
            {{ValidatorError.emailValidator}}
          </mat-error>
          <mat-error *ngIf="form.controls.email?.errors?.['required']">
            {{ValidatorError.requiredValidator | translate: {value: 'ADMIN.user.email.label' | translate } }}
          </mat-error>
        </mat-form-field>
      </form>
    </ng-container>
    <p>{{user | json}}</p>
  </mat-dialog-content>

  <div>
    <rb-message *ngIf='error'></rb-message>
    <div class='px-6 py-4 flex flex-wrap justify-between gap-2 w-full'>
      <div class='flex flex-wrap gap-2'>
        <button mat-stroked-button
                color='primary'
                type='button'
                class='close-button'
                [mat-dialog-close]='true'
                (click)='close()'>
          {{ 'SHARED.dialog.cancel' | translate }}
        </button>
      </div>
      <div class='ml-auto justify-end'>
<!--        <button class="text-white!"-->
<!--                mat-raised-button-->
<!--                color="primary"-->
<!--                type='submit'-->
<!--                name='update'-->
<!--                [disabled]='!user || isLoading'-->
<!--                (click)='save()'>-->
<!--          <mat-icon *ngIf='isLoading'>-->
<!--            <mat-spinner diameter='20'></mat-spinner>-->
<!--          </mat-icon>-->
<!--          {{ "SHARED.dialog.update" | translate }}-->
<!--        </button>-->
        <button *ngIf='mode === DialogMode.DELETE'
                mat-raised-button
                color='warn'
                [disabled]='isLoading'
                (click)='delete()'>
          <ng-container *ngIf='isLoading'>
            <mat-icon>
              <mat-spinner diameter='20'></mat-spinner>
            </mat-icon>
            {{ 'ADMIN.user.role.remove.removing' | translate }}
          </ng-container>
          <ng-container *ngIf='!isLoading'>
            {{ 'ADMIN.user.role.remove.remove' | translate }}
          </ng-container>
        </button>

        <button *ngIf='mode === DialogMode.EDIT'
                mat-raised-button
                color='primary'
                type='submit'
                name='update'
                [disabled]='!user || isLoading'
                (click)='save()'>
          <mat-icon *ngIf='isLoading'>
            <mat-spinner diameter='20'></mat-spinner>
          </mat-icon>
          Add
<!--          {{ "SHARED.dialog.create" | translate}}-->
        </button>

      </div>
    </div>


<!--    <rb-dialog-actions [mode]='mode'-->
<!--                       [form]='form'-->
<!--                       (actionTriggered)='onAction($event)'>-->
<!--    </rb-dialog-actions>-->
  </div>
</ng-container>

<!--<div mat-dialog-title>-->
<!--  <div class='flex items-center justify-between'>-->
<!--    <div class="text-lg">-->
<!--      <p *ngIf='mode === DialogMode.EDIT'>-->
<!--        {{ 'ADMIN.user.role.add.title' | translate }}-->
<!--      </p>-->
<!--      <p *ngIf='mode === DialogMode.DELETE'>-->
<!--        {{ 'ADMIN.user.role.remove.title' | translate }}-->
<!--      </p>-->
<!--    </div>-->
<!--    <button mat-icon-button-->
<!--            class='close-button'-->
<!--            [mat-dialog-close]='true'-->
<!--            (click)='close()'>-->
<!--      <mat-icon class='close-icon'>close</mat-icon>-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash;<ng-container *ngIf='form'>&ndash;&gt;-->

<!--  <mat-dialog-content>-->
<!--    <p *ngIf='mode === DialogMode.EDIT'>-->
<!--      {{ 'ADMIN.user.role.add.message' | translate:{role: role, entityName: entityName} }}-->
<!--    </p>-->
<!--    <p *ngIf='mode === DialogMode.DELETE'>-->
<!--      {{ 'ADMIN.user.role.remove.message' | translate: {role: role, entityName: entityName} }}-->
<!--    </p>-->
<!--    <div class='dialog-page-desc'>-->
<!--      <rb-user-details [mode]='mode' [entity]='entity'></rb-user-details>-->
<!--    </div>-->
<!--    <p *ngIf='mode === DialogMode.DELETE || mode === DialogMode.EDIT'>-->
<!--      {{ 'ADMIN.user.role.confirmationMessage' | translate }}-->
<!--    </p>-->
<!--&lt;!&ndash;    <ng-container *ngIf='mode === DialogMode.EDIT || mode === DialogMode.DELETE'>&ndash;&gt;-->
<!--&lt;!&ndash;      <p *ngIf='mode === DialogMode.EDIT'>&ndash;&gt;-->
<!--&lt;!&ndash;        {{ 'ADMIN.user.role.add.message' | translate:{role: role, entityName: entityName} }}&ndash;&gt;-->
<!--&lt;!&ndash;      </p>&ndash;&gt;-->
<!--&lt;!&ndash;      <p *ngIf='mode === DialogMode.DELETE'>&ndash;&gt;-->
<!--&lt;!&ndash;        {{ 'ADMIN.user.role.remove.message' | translate: {role: role, entityName: entityName} }}&ndash;&gt;-->
<!--&lt;!&ndash;      </p>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class='dialog-page-desc'>&ndash;&gt;-->
<!--&lt;!&ndash;        <rb-user-details [mode]='mode' [entity]='entity'></rb-user-details>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;      <p *ngIf='mode === DialogMode.DELETE || mode === DialogMode.ADD'>&ndash;&gt;-->
<!--&lt;!&ndash;        {{ 'ADMIN.user.role.confirmationMessage' | translate }}&ndash;&gt;-->
<!--&lt;!&ndash;      </p>&ndash;&gt;-->
<!--&lt;!&ndash;    </ng-container>&ndash;&gt;-->
<!--</mat-dialog-content>-->

<!--  <div>-->
<!--    <rb-message *ngIf='error'></rb-message>-->
<!--    <div class='px-6 py-4 flex flex-wrap justify-between gap-2 w-full'>-->
<!--      <div class='flex flex-wrap gap-2'>-->
<!--        <button mat-stroked-button-->
<!--                color='primary'-->
<!--                type='button'-->
<!--                class='close-button'-->
<!--                [mat-dialog-close]='true'-->
<!--                (click)='close()'>-->
<!--              {{ 'ADMIN.user.role.no' | translate }}-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class='ml-auto justify-end'>-->
<!--        <button *ngIf='mode === DialogMode.EDIT'-->
<!--                mat-raised-button-->
<!--                color='primary'-->
<!--                type='submit'-->
<!--                name='update'-->
<!--                (click)='save()'>-->
<!--&lt;!&ndash;          [disabled]='!form.valid || !form.dirty || isLoading'&ndash;&gt;-->
<!--          <ng-container *ngIf='isLoading'>-->
<!--            <mat-icon>-->
<!--              <mat-spinner diameter='20'></mat-spinner>-->
<!--            </mat-icon>-->
<!--            {{ 'ADMIN.user.role.add.adding' | translate }}-->
<!--          </ng-container>-->
<!--          <ng-container *ngIf='!isLoading'>-->
<!--            {{ 'ADMIN.user.role.add.add' | translate }}-->
<!--          </ng-container>-->
<!--        </button>-->

<!--        <button *ngIf='mode === DialogMode.DELETE'-->
<!--                mat-raised-button-->
<!--                color='warn'-->
<!--                [disabled]='isLoading'-->
<!--                (click)='delete()'>-->
<!--          <ng-container *ngIf='isLoading'>-->
<!--            <mat-icon>-->
<!--              <mat-spinner diameter='20'></mat-spinner>-->
<!--            </mat-icon>-->
<!--            {{ 'ADMIN.user.role.remove.removing' | translate }}-->
<!--          </ng-container>-->
<!--          <ng-container *ngIf='!isLoading'>-->
<!--            {{ 'ADMIN.user.role.remove.remove' | translate }}-->
<!--          </ng-container>-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--&lt;!&ndash;</ng-container>&ndash;&gt;-->
