@let configFields = config$ | async;

<mat-card class="rb-table-row" [class]="
    (updated() === entity().id ? 'bg-green-100! ' : '') +
    (expanded ? 'mb-2' : '')
  ">
  <div class="rb-table-main-row">
    @for (property of TableElements; track property.name) {
      @if (configFields[property.name] !== false) {
        <div [class]="property.tableClass + ' ' + property.width + ' ' + property.classes"
             [class.flex-1]="!property.width"
             [class.shrink-0]="!!property.width">
          @switch (property.name) {
            @case ('sourceDataName') {
              <a [routerLink]='["/admin/source-data", entity()["sourceDataName"]]'>
                <span class="font-bold text-primary-color">{{ entity()["sourceDataName"] }}</span>
              </a>
              <p class="text-neutral-500 dark:text-neutral-300 font-bold">
                <span class="uppercase text-xs text-neutral-400">Topic</span> {{ entity()['topic'] || '-' }}
              </p>
            }
            @case ('sourceType') {
              <rb-source-data-source-type [sourceType]="entity()['sourceType']"/>
            }
            @case ('processingState') {
              <rb-source-data-processing-state [processingState]="entity()['processingState']"/>
            }
            @case ("actions") {
              <button mat-icon-button class="tiny" (click)="onExpansionClick($event)">
                <span class="material-symbols-outlined">
                  {{ expanded ? 'expand_less' : 'expand_more' }}
                </span>
              </button>
              <app-actions [entity]="entity()" [isExpanded]="true"/>
<!--              <button class="tiny"-->
<!--                      mat-icon-button color="primary"-->
<!--                      (click)='onAction(DialogMode.EDIT, entity())'>-->
<!--                <span class="material-symbols-outlined text-xl!">edit</span>-->
<!--              </button>-->
<!--              <button class="tiny"-->
<!--                      mat-icon-button color="warn"-->
<!--                      (click)='onAction(DialogMode.DELETE, entity())'>-->
<!--                <span class="material-symbols-outlined text-xl!">delete</span>-->
<!--              </button>-->
            }
            @default {
              {{ entity()[property.name] || '-' }}
            }
          }
        </div>
      }
    }
  </div>

  <div class="rb-table-extension-row" [@detailExpand]="expanded ? 'expanded' : 'collapsed'">
    <rb-source-data-details class="py-4" [entity]='entity()' [type]="DetailType.TABLE" [config]="configFields"/>
  </div>
</mat-card>
