<mat-toolbar color="primary"
             class="primary bg-linear-to-r! from-tertiary from-0 via-tertiary via-[256px] to-primary to-100% dark:from-tertiary-dark dark:to-primary-dark dark:via-tertiary-dark">
  <mat-toolbar-row class="justify-between">
    <div class="flex items-center sm:gap-2">
        <button class="small"
                mat-icon-button
                aria-label="Menu button"
                (click)="toggleMenu()">
          <mat-icon class="material-symbols-outlined">menu</mat-icon>
        </button>
      <app-logo class="block mx-auto max-h-12" [url]="appCustomizationService.brandingCustomization().logo"/>
    </div>

    <div class="flex items-center sm:gap-1">
      @if (localeService.locales()) {
        @if (localeService.locales().length > 1) {
          <div class="flex items-center">
            <button mat-button
                    [matMenuTriggerFor]="languageMenu"
                    aria-label="Language button">
              <span class="flex items-center gap-1">
                <mat-icon class="material-symbols-outlined">language</mat-icon>
                <span class="text-base">
                  {{ localeService.currentLocale()?.shortLabel || localeService.currentLocale()?.label }}
                </span>
              </span>
            </button>
          </div>

          <mat-menu #languageMenu="matMenu"
                    xPosition="before"
                    class="text-base w-64">
            @for (language of localeService.locales(); track language.code) {
              <button class="hover:text-primary! dark:hover:text-primary-dark! hover:bg-transparent! transition-all"
                      mat-menu-item
                      [class]="localeService.currentLocale()?.locale === language.locale ? 'text-primary! dark:text-primary-dark!' : ''"
                      (click)="switchLanguage(language)">
                <span>{{ language.label }}</span>
              </button>
            }
          </mat-menu>
        }
      }

      @if (authService.user(); as user) {
        <button mat-icon-button
                class="small"
                aria-label="User account button"
                [matMenuTriggerFor]="userMenu">
          <mat-icon class="material-symbols-outlined">account_circle</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu"
                  xPosition="before"
                  class="text-base w-64 *:p-0!">
          <div class="bg-primary/40 dark:bg-primary-dark/40 dark:text-white p-4">
            <span>{{ user.firstName || user.login }}</span>
          </div>
          <button class="hover:text-primary! dark:hover:text-primary-dark! hover:bg-transparent! transition-all"
                  mat-menu-item
                  [routerLink]="['/admin','profile']">
              <span class="flex items-center gap-4">
                <mat-icon class="text-xl sm:text-2xl material-symbols-outlined font-bold">account_circle</mat-icon>
                <span>{{ 'Profile' | translate }}</span>
              </span>
          </button>
          <button class="hover:text-primary! dark:hover:text-primary-dark! hover:bg-transparent! transition-all"
                  mat-menu-item
                  [routerLink]="['/admin','change-password']">
              <span class="flex items-center gap-4">
                <mat-icon class="text-xl sm:text-2xl material-symbols-outlined font-bold">lock</mat-icon>
                <span>{{ 'Reset Password' | translate }}</span>
              </span>
          </button>
          <button class="hover:text-primary! dark:hover:text-primary-dark! hover:bg-transparent! transition-all"
                  mat-menu-item
                  (click)="logout()">
              <span class="flex items-center gap-4">
                <mat-icon class="text-xl sm:text-2xl material-symbols-outlined font-bold">logout</mat-icon>
                <span>{{ 'Sign Out' | translate }}</span>
              </span>
          </button>
        </mat-menu>
      }

      <button mat-icon-button
              class="tiny"
              aria-label="Light/Dark mode button"
              (click)="themeService.toggleTheme()">
        <span class="material-symbols-outlined">{{ themeService.isLightTheme() ? "dark_mode" : "light_mode" }}</span>
      </button>

    </div>
  </mat-toolbar-row>
</mat-toolbar>
