@switch (processingState$()) {
  @case(ProcessingState.VENDOR) {
    <rb-tag class="bg-primary/50 text-white">{{ ProcessingState.VENDOR }}</rb-tag>
  }
  @case (ProcessingState.RAW) {
    <rb-tag class="bg-secondary text-white">{{ ProcessingState.RAW }}</rb-tag>
  }
  @case (ProcessingState.RADAR) {
    <rb-tag class="bg-primary text-white">{{ ProcessingState.RADAR }}</rb-tag>
  }
  @case (ProcessingState.DERIVED) {
    <rb-tag class="bg-secondary/10 text-primary">{{ ProcessingState.DERIVED }}</rb-tag>
  }
  @case (ProcessingState.UNKNOWN) {
    <rb-tag class="bg-primary/10 text-primary">{{ ProcessingState.UNKNOWN }}</rb-tag>
  }
  @default {
    <rb-tag class="bg-gray-200 text-gray-800">{{ 'ADMIN.sourceData.processingState.NOT_STATED' | translate }}</rb-tag>
  }
}
