<h2 mat-dialog-title class="border-b border-neutral-400 dark:border-neutral-500">
  <span class='inline-flex items-center justify-between w-full'>
    <span class="text-lg">
      @if (dialogMode() === DialogMode.EDIT) {
        <span>{{ "SHARED.dialog.edit" | translate }}</span>
      }
      @if (dialogMode() === DialogMode.VIEW) {
        <span>{{ "SHARED.dialog.view" | translate }}</span>
      }
      @if (dialogMode() === DialogMode.ADD) {
        <span>{{ "SHARED.dialog.add" | translate }}</span>
      }
      @if (dialogMode() === DialogMode.DELETE) {
        <span>{{ "SHARED.dialog.delete" | translate }}</span>
      }
      @if (customLabel()) {
        <span>{{ customLabel() }}</span>
      }
<!--      <span> {{ label()?.singular! | translate }} {{ "ADMIN." + entityMetadata()?.name + ".title.singular" | translate }}</span>-->
      <span> {{ `ADMIN.${entityMetadata()?.name}.title.singular` | translate }}</span>
      <span> {{ entityName() ? `"${entityName()}"` : `` }}</span>
    </span>
    <div>
      <ng-content/>
      <button mat-icon-button (click)='close()'>
        <mat-icon class="material-symbols-outlined">close</mat-icon>
      </button>
    </div>
  </span>
</h2>
