@if (!gridView()) {
  <mat-card class="rb-table-row" [class]="
    (updated$() ? 'bg-primary/5! ' : '') +
    (expanded$() ? 'mb-2' : '')
  ">
    <div class="rb-table-main-row">
      @for (tableElement of tableFields$(); track tableElement.name) {
        <div [class]="tableElement.tableClass + ' ' + tableElement.width + ' ' + tableElement.classes"
             [class.flex-1]="!tableElement.width"
             [class.shrink-0]="!!tableElement.width">
          @switch (tableElement.name) {
            @case ('projectName') {
              <a [routerLink]='["/admin", "organizations", entity$().organization.name, "projects", entity$().projectName]' class="font-bold text-primary underline">
                <span class=''>{{ entity$().projectName }}</span>
              </a>
              @if (!configFields$() || configFields$()['description'] === undefined || configFields$()['description']) {
                <p class="">{{ entity$().description }}</p>
              }
            }
            @case ('startDate') {
              <rb-local-date [date]="entity$().startDate" [format]="'mediumDate'"/>
            }
            @case ('endDate') {
              <rb-local-date [date]="entity$().endDate" [format]="'mediumDate'"/>
            }
            @case ('projectStatus') {
              <rb-project-status [projectStatus$]="entity$().projectStatus"/>
            }
            @case ('sourceTypes') {
              <rb-project-source-types [sourceTypes$]="entity$().sourceTypes"/>
            }
            @case ("actions") {
              <button mat-icon-button
                      class="tiny block"
                      [class.xs:hidden!]="extensionClass$() === 'block xs:hidden'"
                      [class.sm:hidden!]="extensionClass$() === 'block sm:hidden'"
                      [class.md:hidden!]="extensionClass$() === 'block md:hidden'"
                      [class.lg:hidden!]="extensionClass$() === 'block lg:hidden'"
                      [class.xl:hidden!]="extensionClass$() === 'block xl:hidden'"
                      [class.2xl:hidden!]="extensionClass$() === 'block 2xl:hidden'"
                      [class.3xl:hidden!]="extensionClass$() === 'block 3xl:hidden'"
                      (click)="onExpansionClick($event)">
                <span class="material-symbols-outlined">
                  {{ expanded$() ? 'expand_less' : 'expand_more' }}
                </span>
              </button>

              <ng-container *rbPermission="[{role: ROLES.SYS_ADMIN}]">
                <app-actions [entity$]="entity$()" [isExpanded$]="true"/>
              </ng-container>
            }
            @default {
              {{ entity$()[tableElement.name] || '-' }}
            }
          }
        </div>
      }
    </div>

    <div class="rb-table-extension-row" [@detailExpand]="expanded$() ? 'expanded' : 'collapsed'">
      <rb-project-details class="py-4"
                          [entity$]='entity$()'
                          [type$]="DetailType.TABLE"
                          [tableFields$]="tableFields$()"/>
    </div>
  </mat-card>
} @else {
  <mat-card appearance="outlined"
            class="cursor-pointer flex items-start justify-start h-full"
            [class]="updated$() ? 'bg-primary/5! ' : ''"
            [routerLink]='["/admin", "organizations", entity$().organization.name, "projects", entity$()._name]'>
    <mat-card-content class="p-0! w-full">
      <div class="rounded-t-[4px] px-4 py-2 flex gap-2 items-center justify-between bg-neutral-100 dark:bg-neutral-600">
        <div
          class="flex items-center gap-2 px-2 rounded-full bg-neutral-200 dark:bg-neutral-500 text-neutral-500 dark:text-neutral-100">
          <span class="material-symbols-outlined font-bold text-base!">corporate_fare</span>
          <span class='text-xs'>{{ entity$().organization.name }}</span>
        </div>
        @if (!configFields$() || configFields$()['projectStatus'] === undefined || configFields$()['projectStatus']) {
          <rb-project-status class="" [projectStatus$]="entity$().projectStatus"/>
        }
      </div>

      <div class="p-4 flex items-center justify-between gap-2 w-full">
        <div class="flex items-center gap-2">
        <span
          class="p-2 w-10! h-10! rounded-full bg-primary dark:bg-primary-dark material-symbols-outlined font-bold text-white">folder_open</span>
          <span class='text-base font-bold text-primary dark:text-primary-dark'>{{ entity$()._name }}</span>
        </div>
        <app-actions *rbPermission="[{role: ROLES.SYS_ADMIN}]" [entity$]="entity$()" [isExpanded$]="false"/>
      </div>
      <div class="p-4">
        @if (!configFields$() || configFields$()['description'] === undefined || configFields$()['description']) {
          <div class="text-sm text-gray-500 dark:text-gray-300">{{ entity$().description }}</div>
        }
        @if (!configFields$() || configFields$()['startDate'] === undefined || configFields$()['startDate']) {
          <div class="text-sm flex mt-4 gap-4 items-center text-gray-500 dark:text-gray-300">
            <span class="material-symbols-outlined text-xl shrink-0">date_range</span>
            @if (entity$().startDate || entity$().endDate) {
              <rb-local-date [date]="entity$().startDate" [format]="'mediumDate'"/>
              <span> - </span>
              <rb-local-date [date]="entity$().endDate" [format]="'mediumDate'"/>
            } @else {
              Dates not set.
            }
          </div>
        }
      </div>
      @if (!configFields$() || configFields$()['sourceTypes'] === undefined || configFields$()['sourceTypes']) {
        <div class="mt-4 border-t-2 border-neutral-100 p-4 dark:border-neutral-600 dark:text-neutral-50">
          <div class="text-xs uppercase text-neutral-400 font-bold mb-1">Source Types
            ({{ entity$().sourceTypes?.length ?? 0 }})
          </div>
          <rb-project-source-types [sourceTypes$]="entity$().sourceTypes"/>
        </div>
      }
    </mat-card-content>
  </mat-card>
}
