<p class="p-4">Protocols page</p>
<!--<rb-entities-page-header [entityName]="name"-->
<!--                         (action)="onAction(DialogMode.ADD)">-->
<!--</rb-entities-page-header>-->

<!--<rb-data-table-filter *ngIf='filters.length'-->
<!--                      [filters]='filters'-->
<!--                      [filterOpened]='isFilterOpened'-->
<!--                      (filterChanged)='handleFilterChange($event)'-->
<!--                      (filterEnableChanged)="onFilterEnabledChanged($event)">-->
<!--</rb-data-table-filter>-->

<!--<rb-loader *ngIf='loading'></rb-loader>-->

<!--<div class="rb-table" rbTableQueryReflector [page]="page" [sort]="sort" [defaultSort]="{sortField: 'id', sortOrder: 'desc'}"-->
<!--     (activeQueryParams)="handleActiveQueryChange($event)" (dialogQueryParams)="onAction($event.mode, undefined, $event.id, undefined )">-->
<!--  <div class="rb-table-header">-->
<!--    <div *ngFor="let property of PROPERTIES"-->
<!--         [class]="property.tableClass + ' ' + property.width + ' ' + property.classes"-->
<!--         [class.flex-1]="!property.width"-->
<!--         [class.shrink-0]="!!property.width">-->
<!--      <div class="rb-table-head group" (click)="switchSort(property)">-->
<!--        <span>{{ 'ADMIN.' + name + '.' + property.name + '.tableLabel' | translate }}</span>-->
<!--        <div *ngIf="property.sortable">-->
<!--          <div class="rb-table-sort" [class.opacity-0]="sort.sortField !== property.name">-->
<!--          <span class="rb-sort-icon material-symbols-outlined">-->
<!--            {{ sort.sortField === property.name && sort.sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward'}}-->
<!--          </span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--&lt;!&ndash;    <div class='w-96'>&ndash;&gt;-->
<!--&lt;!&ndash;      <span class="font-bold">Translations</span>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--    <div class='w-20'>-->
<!--      <span>{{ 'ADMIN.' + name + '.actions' | translate }}</span>-->
<!--    </div>-->
<!--  </div>-->

<!--  <ng-container *ngIf="entitiesToShow">-->
<!--    <div class="rb-table-row" [ngClass]="updated === entity.id ? 'bg-green-100!' : ''"-->
<!--         *ngFor="let entity of entitiesToShow">-->
<!--      <div class="rb-table-main-row">-->
<!--        <div *ngFor="let property of PROPERTIES"-->
<!--             [class]="property.tableClass + ' ' + property.width + ' ' + property.classes"-->
<!--             [class.flex-1]="!property.width"-->
<!--             [class.shrink-0]="!!property.width"-->
<!--             [ngSwitch]="property.name">-->
<!--          <ng-container *ngSwitchCase="'name'">-->
<!--            <p>{{ entity['name'] || '-' }}</p>-->
<!--&lt;!&ndash;            <div class="w-96">&ndash;&gt;-->
<!--              <div class="flex items-center flex-wrap">-->
<!--                <span class="text-xs font-bold text-neutral-400 uppercase">Translations</span>-->
<!--                <span *ngFor="let l of entity['languages']; let i = index">-->
<!--                  <button mat-icon-button class="mat-small-icon-button uppercase text-sm"-->
<!--                          [matMenuTriggerFor]="menu"-->
<!--                          aria-label="Example icon-button with a menu"-->
<!--                          (click)='$event.stopPropagation()'-->
<!--                          [ngClass]="{'text-primary-color-500!' : l.default, 'text-accent-color-500!': !l.default}">-->
<!--&lt;!&ndash;                          [ngClass]="{'text-primary-color-500!' : l.default, 'text-accent-color-400!': !l.default && l.valid, 'text-accent-color-500!': !l.default && !l.valid}">&ndash;&gt;-->
<!--                    <span class="text-sm font-bold">{{l.code}}</span>-->
<!--                  </button>-->
<!--                  <mat-menu #menu="matMenu">-->
<!--                    <button mat-menu-item (click)='onTranslationAction(DialogMode.EDIT, entity, l, undefined)'>-->
<!--                      <span class="text-xl material-symbols-outlined">edit</span>-->
<!--                      <span>{{ 'ADMIN.questionnaire.edit' | translate }}</span>-->
<!--                    </button>-->
<!--                    <button mat-menu-item (click)='onTranslationAction(DialogMode.DELETE, entity, l, undefined)'>-->
<!--                      <span class="text-xl material-symbols-outlined">delete</span>-->
<!--                      <span>{{ 'ADMIN.questionnaire.delete' | translate }}</span>-->
<!--                    </button>-->
<!--                  </mat-menu>-->
<!--                </span>-->
<!--                <button mat-icon-button class="mat-small-icon-button"-->
<!--                        (click)='onTranslationAction(DialogMode.ADD, entity)'>-->
<!--                  <span class="text-lg text-primary-color-500 material-symbols-outlined">add</span>-->
<!--                </button>-->
<!--              </div>-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--          </ng-container>-->
<!--          <ng-container *ngSwitchCase="'questionnaire'">-->
<!--            {{entity['questionnaire'].name}}-->
<!--          </ng-container>-->
<!--          <ng-container *ngSwitchCase="'repeatProtocol'">-->
<!--            <ng-container *ngIf='entity["protocol"]["repeatProtocol"] as repeatProtocol'>-->
<!--              <div *ngIf="entity['customProtocol']['repeatProtocol']['enabled']">-->
<!--                Every {{ repeatProtocol["amount"]}} {{repeatProtocol["unit"]}}(s) at specific times-->
<!--              </div>-->
<!--              <div *ngIf="!entity['customProtocol']['repeatProtocol']['enabled']">-->
<!--                Once at specific times-->
<!--              </div>-->
<!--              <div *ngIf='entity["protocol"]["completionWindow"] as completionWindow; else noCompletionWindow'>-->
<!--                {{completionWindow['amount']}} {{completionWindow['unit']}}(s)-->
<!--              </div>-->
<!--              <ng-template #noCompletionWindow>-->
<!--                No Expiration-->
<!--              </ng-template>-->
<!--              &lt;!&ndash;              <div>Expires after {{completionWindow['amount']}} {{completionWindow['unit']}}(s)</div>&ndash;&gt;-->
<!--            </ng-container>-->
<!--          </ng-container>-->
<!--          <ng-container *ngSwitchCase="'completionWindow'">-->
<!--            <ng-container *ngIf='entity["protocol"]["completionWindow"] as completionWindow; else noCompletionWindow'>-->
<!--              {{completionWindow['amount']}} {{completionWindow['unit']}}-->
<!--            </ng-container>-->
<!--            <ng-template #noCompletionWindow>-->
<!--              - -->
<!--            </ng-template>-->
<!--          </ng-container>-->
<!--          <ng-container *ngSwitchDefault>{{ entity[property.name] || '-' }}</ng-container>-->
<!--        </div>-->
<!--&lt;!&ndash;        <div class="w-96">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="flex items-center p-2">&ndash;&gt;-->
<!--&lt;!&ndash;            <button mat-icon-button class="mat-small-icon-button"&ndash;&gt;-->
<!--&lt;!&ndash;                    (click)='onTranslationAction(DialogMode.ADD, entity)'>&ndash;&gt;-->
<!--&lt;!&ndash;              <span class="text-xl material-symbols-outlined">add</span>&ndash;&gt;-->
<!--&lt;!&ndash;            </button>&ndash;&gt;-->
<!--&lt;!&ndash;            <span *ngFor="let l of entity['translations'] | keyvalue; let i = index">&ndash;&gt;-->
<!--&lt;!&ndash;                <button mat-icon-button class="mat-small-icon-button uppercase text-sm"&ndash;&gt;-->
<!--&lt;!&ndash;                        (click)='$event.stopPropagation()'&ndash;&gt;-->
<!--&lt;!&ndash;                        [ngClass]="{'text-blue-500!' : 'en' === l.key, 'text-green-500!': 'en' !== l.key, 'text-red-500!': 'en' !== l.key}"&ndash;&gt;-->
<!--&lt;!&ndash;                        [matMenuTriggerFor]="menu">&ndash;&gt;-->
<!--&lt;!&ndash;                  <span class="text-sm">{{l.key}}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                </button>&ndash;&gt;-->
<!--&lt;!&ndash;                <mat-menu #menu="matMenu">&ndash;&gt;-->
<!--&lt;!&ndash;                  <button mat-menu-item (click)='onTranslationAction(DialogMode.EDIT, entity, l.key, undefined)'>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="text-xl material-symbols-outlined">edit</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span>{{ 'ADMIN.questionnaire.edit' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                  </button>&ndash;&gt;-->
<!--&lt;!&ndash;                  <button mat-menu-item (click)='onTranslationAction(DialogMode.DELETE, entity, l.key, undefined)'>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="text-xl material-symbols-outlined">delete</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span>{{ 'ADMIN.questionnaire.delete' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                  </button>&ndash;&gt;-->
<!--&lt;!&ndash;                </mat-menu>&ndash;&gt;-->
<!--&lt;!&ndash;              </span>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="w-96">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="flex items-center p-2">&ndash;&gt;-->
<!--&lt;!&ndash;            <button mat-icon-button class="mat-small-icon-button"&ndash;&gt;-->
<!--&lt;!&ndash;                    (click)='onTranslationAction(DialogMode.ADD, entity)'>&ndash;&gt;-->
<!--&lt;!&ndash;              <span class="text-xl material-symbols-outlined">add</span>&ndash;&gt;-->
<!--&lt;!&ndash;            </button>&ndash;&gt;-->
<!--&lt;!&ndash;            <span *ngFor="let l of entity['languages']; let i = index">&ndash;&gt;-->
<!--&lt;!&ndash;                <button mat-icon-button class="mat-small-icon-button uppercase text-sm"&ndash;&gt;-->
<!--&lt;!&ndash;                      [matMenuTriggerFor]="menu"&ndash;&gt;-->
<!--&lt;!&ndash;                      aria-label="Example icon-button with a menu"&ndash;&gt;-->
<!--&lt;!&ndash;                      (click)='$event.stopPropagation()'&ndash;&gt;-->
<!--&lt;!&ndash;                      [ngClass]="{'text-blue-500!' : l.default, 'text-green-500!': !l.default && l.valid, 'text-red-500!': !l.default && !l.valid}">&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="text-sm">{{l.code}}</span>&ndash;&gt;-->
<!--&lt;!&ndash;              </button>&ndash;&gt;-->
<!--&lt;!&ndash;              <mat-menu #menu="matMenu">&ndash;&gt;-->
<!--&lt;!&ndash;                <button mat-menu-item (click)='onTranslationAction(DialogMode.EDIT, entity, l, undefined)'>&ndash;&gt;-->
<!--&lt;!&ndash;                  <span class="text-xl material-symbols-outlined">edit</span>&ndash;&gt;-->
<!--&lt;!&ndash;                  <span>{{ 'ADMIN.questionnaire.edit' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                </button>&ndash;&gt;-->
<!--&lt;!&ndash;                <button mat-menu-item (click)='onTranslationAction(DialogMode.DELETE, entity, l, undefined)'>&ndash;&gt;-->
<!--&lt;!&ndash;                  <span class="text-xl material-symbols-outlined">delete</span>&ndash;&gt;-->
<!--&lt;!&ndash;                  <span>{{ 'ADMIN.questionnaire.delete' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                </button>&ndash;&gt;-->
<!--&lt;!&ndash;              </mat-menu>&ndash;&gt;-->
<!--&lt;!&ndash;            </span>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--        <div class='w-20'>-->
<!--          <button mat-icon-button class="mat-small-icon-button"-->
<!--                  (click)="$event.stopPropagation(); expandedElement = expandedElement === entity ? null : entity">-->
<!--            <span class="material-symbols-outlined">-->
<!--              {{entity !== expandedElement ? 'expand_more' : 'expand_less'}}-->
<!--            </span>-->
<!--          </button>-->
<!--          <button class="mat-small-icon-button"-->
<!--                  mat-icon-button color="primary"-->
<!--                  (click)='onAction(DialogMode.EDIT, entity, undefined)'>-->
<!--            <span class="material-symbols-outlined">edit</span>-->
<!--          </button>-->
<!--          <button class="mat-small-icon-button" mat-icon-button color="warn"-->
<!--                  (click)='onAction(DialogMode.DELETE, entity, undefined)'>-->
<!--            <span class="material-symbols-outlined">delete</span>-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="rb-table-extension-row" [@detailExpand]="entity === expandedElement ? 'expanded' : 'collapsed'">-->
<!--        <rb-protocol-details [entity]='entity' [type]="DetailType.TABLE"></rb-protocol-details>-->
<!--      </div>-->
<!--    </div>-->
<!--  </ng-container>-->
<!--</div>-->
<!--<mat-paginator (page)="switchPage($event)"-->
<!--               [length]="filteredAndSortedEntities.length"-->
<!--               [pageSize]="page.pageSize"-->
<!--               [pageSizeOptions]="pageSizeOptions"-->
<!--               [pageIndex]="page.pageIndex"-->
<!--               aria-label="Select page">-->
<!--</mat-paginator>-->


<!--&lt;!&ndash;<rb-entities-page-header [entityName]="ENTITY_NAME.protocol"&ndash;&gt;-->
<!--&lt;!&ndash;                         (action)="onAction(DialogMode.ADD)">&ndash;&gt;-->
<!--&lt;!&ndash;</rb-entities-page-header>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="flex justify-between items-start px-4 mt-4">&ndash;&gt;-->
<!--&lt;!&ndash;  <rb-data-table-filter *ngIf='filters.length'&ndash;&gt;-->
<!--&lt;!&ndash;                        [filters]='filters'&ndash;&gt;-->
<!--&lt;!&ndash;                        [filterOpened]='isFilterOpened'&ndash;&gt;-->
<!--&lt;!&ndash;                        (filterChanged)='handleFilterChange($event)'&ndash;&gt;-->
<!--&lt;!&ndash;                        (filterEnableChanged)="onFilterEnabledChanged($event)">&ndash;&gt;-->
<!--&lt;!&ndash;  </rb-data-table-filter>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<rb-loader *ngIf='loading' [cover]='false'></rb-loader>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="w-full px-4 text-sm">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="flex gap-4 w-full py-1 px-4">&ndash;&gt;-->
<!--&lt;!&ndash;    <div *ngFor="let property of PROPERTIES"&ndash;&gt;-->
<!--&lt;!&ndash;         [class]="(property.tableClass || '') + ' ' + (property.width || '') + ' ' + (property.classes || '')"&ndash;&gt;-->
<!--&lt;!&ndash;         [class.flex-1]="property.width === undefined"&ndash;&gt;-->
<!--&lt;!&ndash;         [class.shrink-0]="property.width !== undefined"&ndash;&gt;-->
<!--&lt;!&ndash;         [ngSwitch]="property.name">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="flex items-center gap-2 font-bold cursor-pointer group" (click)="switchSort(property)">&ndash;&gt;-->
<!--&lt;!&ndash;        <span class="font-bold">{{ 'ADMIN.protocol.' + property.name + '.tableLabel' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;        <div  *ngIf="property.sortable">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="group-hover:opacity-70 transition-opacity duration-500" [class.opacity-0]="sort.sortField !== property.name">&ndash;&gt;-->
<!--&lt;!&ndash;        <span class="material-symbols-outlined w-3.5! h-3.5! text-base">&ndash;&gt;-->
<!--&lt;!&ndash;          {{ sort.sortField === property.name && sort.sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward'}}&ndash;&gt;-->
<!--&lt;!&ndash;        </span>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class='w-96'>&ndash;&gt;-->
<!--&lt;!&ndash;      <span class="font-bold">Translations</span>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class='w-20 action-column'>&ndash;&gt;-->
<!--&lt;!&ndash;      <span class="font-bold">{{ 'ADMIN.protocol.actions' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  <ng-container *ngIf="entitiesToShow">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="shadow-sm rounded-sm bg-white my-1 hover:drop-shadow-sm" *ngFor="let entity of entitiesToShow">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="flex gap-4 items-center py-2 px-4">&ndash;&gt;-->
<!--&lt;!&ndash;        <div *ngFor="let property of PROPERTIES"&ndash;&gt;-->
<!--&lt;!&ndash;             [class]="(property.tableClass || '') + ' ' + (property.width || '') + ' ' + (property.classes || '')"&ndash;&gt;-->
<!--&lt;!&ndash;             [class.flex-1]="property.width === undefined"&ndash;&gt;-->
<!--&lt;!&ndash;             [class.shrink-0]="property.width !== undefined"&ndash;&gt;-->
<!--&lt;!&ndash;             [ngSwitch]="property.name">&ndash;&gt;-->
<!--&lt;!&ndash;          <ng-container *ngSwitchCase="'questionnaire'">&ndash;&gt;-->
<!--&lt;!&ndash;            {{entity['questionnaire'].name}}&ndash;&gt;-->
<!--&lt;!&ndash;          </ng-container>&ndash;&gt;-->
<!--&lt;!&ndash;          <ng-container *ngSwitchCase="'repeatProtocol'">&ndash;&gt;-->
<!--&lt;!&ndash;            <ng-container *ngIf='entity["protocol"]["repeatProtocol"] as repeatProtocol'>&ndash;&gt;-->
<!--&lt;!&ndash;              <div *ngIf="entity['customProtocol']['repeatProtocol']['enabled']">&ndash;&gt;-->
<!--&lt;!&ndash;                Every {{ repeatProtocol["amount"]}} {{repeatProtocol["unit"]}}(s) at specific times&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div *ngIf="!entity['customProtocol']['repeatProtocol']['enabled']">&ndash;&gt;-->
<!--&lt;!&ndash;                Once at specific times&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div *ngIf='entity["protocol"]["completionWindow"] as completionWindow; else noCompletionWindow'>&ndash;&gt;-->
<!--&lt;!&ndash;                {{completionWindow['amount']}} {{completionWindow['unit']}}(s)&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <ng-template #noCompletionWindow>&ndash;&gt;-->
<!--&lt;!&ndash;                No Expiration&ndash;&gt;-->
<!--&lt;!&ndash;              </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;              &lt;!&ndash;              <div>Expires after {{completionWindow['amount']}} {{completionWindow['unit']}}(s)</div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            </ng-container>&ndash;&gt;-->
<!--&lt;!&ndash;          </ng-container>&ndash;&gt;-->
<!--&lt;!&ndash;          <ng-container *ngSwitchCase="'completionWindow'">&ndash;&gt;-->
<!--&lt;!&ndash;            <ng-container *ngIf='entity["protocol"]["completionWindow"] as completionWindow; else noCompletionWindow'>&ndash;&gt;-->
<!--&lt;!&ndash;              {{completionWindow['amount']}} {{completionWindow['unit']}}&ndash;&gt;-->
<!--&lt;!&ndash;            </ng-container>&ndash;&gt;-->
<!--&lt;!&ndash;            <ng-template #noCompletionWindow>&ndash;&gt;-->
<!--&lt;!&ndash;              - &ndash;&gt;-->
<!--&lt;!&ndash;            </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;          </ng-container>&ndash;&gt;-->
<!--&lt;!&ndash;          <ng-container *ngSwitchDefault>{{ entity[property.name] || '-' }}</ng-container>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="w-96">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="flex items-center p-2">&ndash;&gt;-->
<!--&lt;!&ndash;            <button mat-icon-button class="mat-small-icon-button"&ndash;&gt;-->
<!--&lt;!&ndash;                    (click)='onTranslationAction(DialogMode.ADD, entity)'>&ndash;&gt;-->
<!--&lt;!&ndash;              <span class="text-xl material-symbols-outlined">add</span>&ndash;&gt;-->
<!--&lt;!&ndash;            </button>&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                <mat-menu #menu="matMenu">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                  <button *ngIf="!l.default" mat-menu-item&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                          (click)='onTranslationAction(DialogMode.EDIT, entity, l, undefined)'>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                    <mat-icon color='primary' fontSet='material-icons-outlined'>edit</mat-icon>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                    <span>{{ 'ADMIN.questionnaire.edit' | translate }}</span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                  </button>&ndash;&gt;&ndash;&gt;-->


<!--&lt;!&ndash;            <span *ngFor="let l of entity['languages']; let i = index">&ndash;&gt;-->
<!--&lt;!&ndash;              <button mat-icon-button&ndash;&gt;-->
<!--&lt;!&ndash;                      [matMenuTriggerFor]="menu"&ndash;&gt;-->
<!--&lt;!&ndash;                      aria-label="Example icon-button with a menu"&ndash;&gt;-->
<!--&lt;!&ndash;                      (click)='$event.stopPropagation()'&ndash;&gt;-->
<!--&lt;!&ndash;                      class="text-sm uppercase"&ndash;&gt;-->
<!--&lt;!&ndash;                      [ngClass]="{'text-blue-500!' : l.default, 'text-green-500!': !l.default && l.valid, 'text-red-500!': !l.default && !l.valid}">&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="text-sm">{{l.code}}</span>&ndash;&gt;-->
<!--&lt;!&ndash;              </button>&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;                <button mat-icon-button class="mat-small-icon-button uppercase text-sm"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        (click)='$event.stopPropagation()'&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        [ngClass]="{'text-blue-500!' : 'en' === l.key, 'text-green-500!': 'en' !== l.key, 'text-red-500!': 'en' !== l.key}"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        [matMenuTriggerFor]="menu">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                  <span class="text-sm">{{l.code}}</span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                </button>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                <mat-menu #menu="matMenu">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                  <button mat-menu-item (click)='onTranslationAction(DialogMode.EDIT, entity, l.key, undefined)'>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                    <span class="text-xl material-symbols-outlined">edit</span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                    <span>{{ 'ADMIN.questionnaire.edit' | translate }}</span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                  </button>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                  <button mat-menu-item (click)='onTranslationAction(DialogMode.DELETE, entity, l.key, undefined)'>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                    <span class="text-xl material-symbols-outlined">delete</span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                    <span>{{ 'ADMIN.questionnaire.delete' | translate }}</span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                  </button>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  <button mat-menu-item (click)='onTranslationAction(DialogMode.EDIT, entity, l, undefined)'>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="text-xl material-symbols-outlined">edit</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span>{{ 'ADMIN.questionnaire.edit' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                  </button>&ndash;&gt;-->
<!--&lt;!&ndash;                  <button mat-menu-item (click)='onTranslationAction(DialogMode.DELETE, entity, l, undefined)'>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="text-xl material-symbols-outlined">delete</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span>{{ 'ADMIN.questionnaire.delete' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                  </button>&ndash;&gt;-->

<!--&lt;!&ndash;                </mat-menu>&ndash;&gt;-->
<!--&lt;!&ndash;              </span>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class='w-20'>&ndash;&gt;-->
<!--&lt;!&ndash;          <button mat-icon-button class="mat-small-icon-button"&ndash;&gt;-->
<!--&lt;!&ndash;                  (click)="$event.stopPropagation(); expandedElement = expandedElement === entity ? null : entity">&ndash;&gt;-->
<!--&lt;!&ndash;          <span class="text-xl material-symbols-outlined">&ndash;&gt;-->
<!--&lt;!&ndash;            {{entity !== expandedElement ? 'expand_more' : 'expand_less'}}&ndash;&gt;-->
<!--&lt;!&ndash;          </span>&ndash;&gt;-->
<!--&lt;!&ndash;          </button>&ndash;&gt;-->
<!--&lt;!&ndash;          <button class="mat-small-icon-button"&ndash;&gt;-->
<!--&lt;!&ndash;                  mat-icon-button color="primary"&ndash;&gt;-->
<!--&lt;!&ndash;                  (click)='onAction(DialogMode.EDIT, entity, undefined)'>&ndash;&gt;-->
<!--&lt;!&ndash;            <span class="text-xl material-symbols-outlined font-bold">edit</span>&ndash;&gt;-->
<!--&lt;!&ndash;          </button>&ndash;&gt;-->
<!--&lt;!&ndash;          <button class="mat-small-icon-button" mat-icon-button color="warn"&ndash;&gt;-->
<!--&lt;!&ndash;                  (click)='onAction(DialogMode.DELETE, entity, undefined)'>&ndash;&gt;-->
<!--&lt;!&ndash;            <span class="text-xl material-symbols-outlined font-bold">delete</span>&ndash;&gt;-->
<!--&lt;!&ndash;          </button>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class='px-4'>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="mt-0.5 flex overflow-hidden transition-all duration-500"&ndash;&gt;-->
<!--&lt;!&ndash;             [@detailExpand]="entity === expandedElement ? 'expanded' : 'collapsed'">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="border-t w-full max-w-[calc(100vw-56px)]">&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;            <rb-user-details [entity]='entity' [type]="DetailType.TABLE"></rb-user-details>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </ng-container>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<mat-paginator (page)="switchPage($event)"&ndash;&gt;-->
<!--&lt;!&ndash;               [length]="filteredAndSortedEntities.length"&ndash;&gt;-->
<!--&lt;!&ndash;               [pageSize]="page.pageSize"&ndash;&gt;-->
<!--&lt;!&ndash;               [pageSizeOptions]="pageSizeOptions"&ndash;&gt;-->
<!--&lt;!&ndash;               [pageIndex]="page.pageIndex"&ndash;&gt;-->
<!--&lt;!&ndash;               aria-label="Select page">&ndash;&gt;-->
<!--&lt;!&ndash;</mat-paginator>&ndash;&gt;-->



<!--&lt;!&ndash;<div class='p-4'>&ndash;&gt;-->
<!--&lt;!&ndash;  <rb-entities-page-header [entityName]="ENTITY_NAME.protocol" (action)="onAction(DialogMode.ADD)"></rb-entities-page-header>&ndash;&gt;-->

<!--&lt;!&ndash;  &lt;!&ndash;  <div class='flex flex-wrap justify-between gap-2 mb-4'>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <h2 class='text-lg m-0 font-bold flex items-center gap-2'>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      <mat-icon class='p-2 w-10! h-10! rounded-full bg-gray-200'&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                fontSet='material-icons-outlined'>pending_actions</mat-icon>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      {{ 'ADMIN.protocol.title.plural' | translate }}&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    </h2>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <div class='flex gap-2 items-center ml-auto'>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      <button *rbPermission='[{role: "ROLE_SYS_ADMIN"}]'&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              type='button'&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              mat-stroked-button&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              color='primary'&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              (click)='onAction(DialogMode.ADD)'>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;              [routerLink]="['new']">&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <mat-icon>add</mat-icon>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <span class="font-bold">{{ 'ADMIN.protocol.create' | translate }}</span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      </button>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;  </div>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;  <rb-data-table-filter *ngIf='filters.length'&ndash;&gt;-->
<!--&lt;!&ndash;                        [filters]='filters'&ndash;&gt;-->
<!--&lt;!&ndash;                        [filterOpened]='isFilterOpened'&ndash;&gt;-->
<!--&lt;!&ndash;                        (filterChanged)='onFilterChange($event)'>&ndash;&gt;-->
<!--&lt;!&ndash;  </rb-data-table-filter>&ndash;&gt;-->
<!--&lt;!&ndash;  <mat-card appearance="outlined" class="p-0">&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-card-content>&ndash;&gt;-->
<!--&lt;!&ndash;      <rb-loader *ngIf='loading' [cover]='false'></rb-loader>&ndash;&gt;-->
<!--&lt;!&ndash;      <table class='text-sm sticky-head w-full'&ndash;&gt;-->
<!--&lt;!&ndash;             mat-table&ndash;&gt;-->
<!--&lt;!&ndash;             [dataSource]='dataSource'&ndash;&gt;-->
<!--&lt;!&ndash;             matSort&ndash;&gt;-->
<!--&lt;!&ndash;             [paginator]='paginator'&ndash;&gt;-->
<!--&lt;!&ndash;             [sort]='sort'&ndash;&gt;-->
<!--&lt;!&ndash;             [defaultPageSize]='defaultPageSize'&ndash;&gt;-->
<!--&lt;!&ndash;             (dialogQueryParams)='onAction($event.mode, undefined, $event.id)'&ndash;&gt;-->
<!--&lt;!&ndash;             rbNgMatTableQueryReflector&ndash;&gt;-->
<!--&lt;!&ndash;             [trackBy]="trackId"&ndash;&gt;-->
<!--&lt;!&ndash;             aria-label='Items List'&ndash;&gt;-->
<!--&lt;!&ndash;             multiTemplateDataRows>&ndash;&gt;-->

<!--&lt;!&ndash;        <ng-container matColumnDef='id'>&ndash;&gt;-->
<!--&lt;!&ndash;          <th mat-header-cell&ndash;&gt;-->
<!--&lt;!&ndash;              *matHeaderCellDef&ndash;&gt;-->
<!--&lt;!&ndash;              mat-sort-header=''&ndash;&gt;-->
<!--&lt;!&ndash;              disableClear&ndash;&gt;-->
<!--&lt;!&ndash;              class='w-16 hidden sm:table-cell'>&ndash;&gt;-->
<!--&lt;!&ndash;            {{ 'ADMIN.questionnaire.id.tableLabel' | translate }}&ndash;&gt;-->
<!--&lt;!&ndash;          </th>&ndash;&gt;-->
<!--&lt;!&ndash;          <td mat-cell *matCellDef='let entity' class='w-16 hidden sm:table-cell'>&ndash;&gt;-->
<!--&lt;!&ndash;            {{ entity.id || '-' }}&ndash;&gt;-->
<!--&lt;!&ndash;          </td>&ndash;&gt;-->
<!--&lt;!&ndash;        </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;        <ng-container matColumnDef='name'>&ndash;&gt;-->
<!--&lt;!&ndash;          <th mat-header-cell&ndash;&gt;-->
<!--&lt;!&ndash;              *matHeaderCellDef&ndash;&gt;-->
<!--&lt;!&ndash;              mat-sort-header=''>&ndash;&gt;-->
<!--&lt;!&ndash;            {{ 'ADMIN.questionnaire.name.tableLabel' | translate }}&ndash;&gt;-->
<!--&lt;!&ndash;          </th>&ndash;&gt;-->
<!--&lt;!&ndash;          <td mat-cell *matCellDef='let entity'>&ndash;&gt;-->
<!--&lt;!&ndash;            <span class='text-primary-color'>{{ entity["name"] }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;          </td>&ndash;&gt;-->
<!--&lt;!&ndash;        </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;        <ng-container matColumnDef='questionnaire'>&ndash;&gt;-->
<!--&lt;!&ndash;          <th mat-header-cell&ndash;&gt;-->
<!--&lt;!&ndash;              *matHeaderCellDef&ndash;&gt;-->
<!--&lt;!&ndash;              mat-sort-header=''>&ndash;&gt;-->
<!--&lt;!&ndash;            Questionnaire&ndash;&gt;-->
<!--&lt;!&ndash;          </th>&ndash;&gt;-->
<!--&lt;!&ndash;          <td mat-cell *matCellDef='let entity'>&ndash;&gt;-->
<!--&lt;!&ndash;            {{entity['questionnaire'].name}}&ndash;&gt;-->
<!--&lt;!&ndash;          </td>&ndash;&gt;-->
<!--&lt;!&ndash;        </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;        <ng-container matColumnDef='repeatProtocol'>&ndash;&gt;-->
<!--&lt;!&ndash;          <th mat-header-cell&ndash;&gt;-->
<!--&lt;!&ndash;              *matHeaderCellDef&ndash;&gt;-->
<!--&lt;!&ndash;              class='hidden lg:table-cell'>&ndash;&gt;-->
<!--&lt;!&ndash;            Schedule's Description&ndash;&gt;-->
<!--&lt;!&ndash;          </th>&ndash;&gt;-->
<!--&lt;!&ndash;          <td mat-cell *matCellDef='let entity' class='hidden lg:table-cell'>&ndash;&gt;-->
<!--&lt;!&ndash;            <ng-container *ngIf='entity["protocol"]["repeatProtocol"] as repeatProtocol'>&ndash;&gt;-->
<!--&lt;!&ndash;              <div *ngIf="entity['customProtocol']['repeatProtocol']['enabled']">&ndash;&gt;-->
<!--&lt;!&ndash;                Every {{ repeatProtocol["amount"]}} {{repeatProtocol["unit"]}}(s) at specific times&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div *ngIf="!entity['customProtocol']['repeatProtocol']['enabled']">&ndash;&gt;-->
<!--&lt;!&ndash;                Once at specific times&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div *ngIf='entity["protocol"]["completionWindow"] as completionWindow; else noCompletionWindow'>&ndash;&gt;-->
<!--&lt;!&ndash;                {{completionWindow['amount']}} {{completionWindow['unit']}}(s)&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <ng-template #noCompletionWindow>&ndash;&gt;-->
<!--&lt;!&ndash;                No Expiration&ndash;&gt;-->
<!--&lt;!&ndash;              </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              <div>Expires after {{completionWindow['amount']}} {{completionWindow['unit']}}(s)</div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            </ng-container>&ndash;&gt;-->
<!--&lt;!&ndash;          </td>&ndash;&gt;-->
<!--&lt;!&ndash;        </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;        <ng-container matColumnDef='completionWindow' >&ndash;&gt;-->
<!--&lt;!&ndash;          <th mat-header-cell&ndash;&gt;-->
<!--&lt;!&ndash;              *matHeaderCellDef&ndash;&gt;-->
<!--&lt;!&ndash;              class='w-36 hidden lg:table-cell'>&ndash;&gt;-->
<!--&lt;!&ndash;            Completion Window&ndash;&gt;-->
<!--&lt;!&ndash;          </th>&ndash;&gt;-->
<!--&lt;!&ndash;          <td mat-cell *matCellDef='let entity' class='w-36 hidden lg:table-cell'>&ndash;&gt;-->
<!--&lt;!&ndash;            <ng-container *ngIf='entity["protocol"]["completionWindow"] as completionWindow; else noCompletionWindow'>&ndash;&gt;-->
<!--&lt;!&ndash;              {{completionWindow['amount']}} {{completionWindow['unit']}}&ndash;&gt;-->
<!--&lt;!&ndash;            </ng-container>&ndash;&gt;-->
<!--&lt;!&ndash;            <ng-template #noCompletionWindow>&ndash;&gt;-->
<!--&lt;!&ndash;              - &ndash;&gt;-->
<!--&lt;!&ndash;            </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;          </td>&ndash;&gt;-->
<!--&lt;!&ndash;        </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;        <ng-container matColumnDef='translations'>&ndash;&gt;-->
<!--&lt;!&ndash;          <th mat-header-cell&ndash;&gt;-->
<!--&lt;!&ndash;              *matHeaderCellDef&ndash;&gt;-->
<!--&lt;!&ndash;              class='w-36 hidden lg:table-cell'>&ndash;&gt;-->
<!--&lt;!&ndash;            {{ 'ADMIN.questionnaire.translations.tableLabel' | translate }}&ndash;&gt;-->
<!--&lt;!&ndash;          </th>&ndash;&gt;-->
<!--&lt;!&ndash;          <td mat-cell *matCellDef='let entity' class='w-36 hidden lg:table-cell'>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="flex items-center">&ndash;&gt;-->
<!--&lt;!&ndash;              <button class="" mat-icon-button aria-label="Example icon-button with a menu" (click)='onTranslationAction(DialogMode.EDIT, entity)' >&ndash;&gt;-->
<!--&lt;!&ndash;                <mat-icon>add</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;              </button>&ndash;&gt;-->
<!--&lt;!&ndash;              <span *ngFor="let l of entity['languages']; let i = index">&ndash;&gt;-->
<!--&lt;!&ndash;                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" (click)='$event.stopPropagation()'&ndash;&gt;-->
<!--&lt;!&ndash;                        class="text-sm uppercase" [ngClass]="{'text-blue-500!' : l.default, 'text-green-500!': !l.default && l.valid, 'text-red-500!': !l.default && !l.valid}">&ndash;&gt;-->
<!--&lt;!&ndash;                  {{l.code}}&ndash;&gt;-->
<!--&lt;!&ndash;                </button>&ndash;&gt;-->
<!--&lt;!&ndash;                <mat-menu #menu="matMenu">&ndash;&gt;-->
<!--&lt;!&ndash;                  <button *ngIf="!l.default" mat-menu-item&ndash;&gt;-->
<!--&lt;!&ndash;                          (click)='onTranslationAction(DialogMode.EDIT, entity, l, undefined)'>&ndash;&gt;-->
<!--&lt;!&ndash;                    <mat-icon color='primary' fontSet='material-icons-outlined'>edit</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span>{{ 'ADMIN.questionnaire.edit' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                  </button>&ndash;&gt;-->
<!--&lt;!&ndash;                  <button *ngIf="l.default" mat-menu-item&ndash;&gt;-->
<!--&lt;!&ndash;                          (click)='onAction(DialogMode.EDIT, entity, undefined)'>&ndash;&gt;-->
<!--&lt;!&ndash;                    <mat-icon color='primary' fontSet='material-icons-outlined'>edit</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span>{{ 'ADMIN.questionnaire.edit' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                  </button>&ndash;&gt;-->
<!--&lt;!&ndash;                  <button mat-menu-item&ndash;&gt;-->
<!--&lt;!&ndash;                          disabled&ndash;&gt;-->
<!--&lt;!&ndash;                          (click)='onTranslationAction(DialogMode.DELETE, entity, l, undefined)'>&ndash;&gt;-->
<!--&lt;!&ndash;                    <mat-icon>delete</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span>{{ 'ADMIN.questionnaire.delete' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                  </button>&ndash;&gt;-->
<!--&lt;!&ndash;                </mat-menu>&ndash;&gt;-->
<!--&lt;!&ndash;              </span>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </td>&ndash;&gt;-->
<!--&lt;!&ndash;        </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;        <ng-container matColumnDef='actions'>&ndash;&gt;-->
<!--&lt;!&ndash;          <th mat-header-cell&ndash;&gt;-->
<!--&lt;!&ndash;              *matHeaderCellDef&ndash;&gt;-->
<!--&lt;!&ndash;              class='w-20'>&ndash;&gt;-->
<!--&lt;!&ndash;            {{ 'ADMIN.questionnaire.actions' | translate }}&ndash;&gt;-->
<!--&lt;!&ndash;          </th>&ndash;&gt;-->
<!--&lt;!&ndash;          <td mat-cell&ndash;&gt;-->
<!--&lt;!&ndash;              *matCellDef="let entity"&ndash;&gt;-->
<!--&lt;!&ndash;              class='w-20'>&ndash;&gt;-->
<!--&lt;!&ndash;            <ng-container>&ndash;&gt;-->
<!--&lt;!&ndash;              <button mat-icon-button&ndash;&gt;-->
<!--&lt;!&ndash;                      (click)="$event.stopPropagation(); expandedElement = expandedElement === entity ? null : entity">&ndash;&gt;-->
<!--&lt;!&ndash;                <mat-icon *ngIf="entity !== expandedElement">expand_more</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;                <mat-icon *ngIf="entity === expandedElement">expand_less</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;              </button>&ndash;&gt;-->
<!--&lt;!&ndash;                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" (click)='$event.stopPropagation()'>&ndash;&gt;-->
<!--&lt;!&ndash;                  <mat-icon>more_vert</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;                </button>&ndash;&gt;-->
<!--&lt;!&ndash;                <mat-menu #menu="matMenu">&ndash;&gt;-->
<!--&lt;!&ndash;                  <button mat-menu-item&ndash;&gt;-->
<!--&lt;!&ndash;                          (click)='onAction(DialogMode.EDIT, entity, undefined)'>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                          [routerLink]="[entity.id]">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    <mat-icon color='primary' fontSet='material-icons-outlined'>edit</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span>{{ 'ADMIN.questionnaire.edit' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                  </button>&ndash;&gt;-->
<!--&lt;!&ndash;                  <button mat-menu-item&ndash;&gt;-->
<!--&lt;!&ndash;                          (click)='onAction(DialogMode.DELETE, entity, undefined)'>&ndash;&gt;-->
<!--&lt;!&ndash;                    <mat-icon color='warn' fontSet='material-icons-outlined'>delete</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span>{{ 'ADMIN.questionnaire.delete' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                  </button>&ndash;&gt;-->
<!--&lt;!&ndash;                </mat-menu>&ndash;&gt;-->
<!--&lt;!&ndash;              </ng-container>&ndash;&gt;-->
<!--&lt;!&ndash;          </td>&ndash;&gt;-->
<!--&lt;!&ndash;        </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;        <ng-container matColumnDef="expandedDetail">&ndash;&gt;-->
<!--&lt;!&ndash;          <td mat-cell *matCellDef="let entity" [attr.colspan]="displayedColumns.length"&ndash;&gt;-->
<!--&lt;!&ndash;              class=''>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="flex overflow-hidden"&ndash;&gt;-->
<!--&lt;!&ndash;                 [@detailExpand]="entity === expandedElement ? 'expanded' : 'collapsed'">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="bg-gray-50 w-full max-w-[calc(100vw-56px)]">&ndash;&gt;-->
<!--&lt;!&ndash;                <rb-protocol-details [entity]='entity' [type]="DetailType.TABLE"></rb-protocol-details>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </td>&ndash;&gt;-->
<!--&lt;!&ndash;        </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;        <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <tr mat-row *matRowDef="let element; columns: displayedColumns;"&ndash;&gt;-->
<!--&lt;!&ndash;            class=""&ndash;&gt;-->
<!--&lt;!&ndash;            [class.expanded-row]="expandedElement === element">&ndash;&gt;-->
<!--&lt;!&ndash;        </tr>&ndash;&gt;-->

<!--&lt;!&ndash;        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="h-0!"></tr>&ndash;&gt;-->

<!--&lt;!&ndash;        <tr class='mat-row' *matNoDataRow>&ndash;&gt;-->
<!--&lt;!&ndash;          <td class='mat-cell' [colSpan]='displayedColumns.length'>&ndash;&gt;-->
<!--&lt;!&ndash;            {{ 'ADMIN.protocol.noItemFound' | translate }}&ndash;&gt;-->
<!--&lt;!&ndash;          </td>&ndash;&gt;-->
<!--&lt;!&ndash;        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;      </table>&ndash;&gt;-->

<!--&lt;!&ndash;      <mat-paginator *ngIf="false"&ndash;&gt;-->
<!--&lt;!&ndash;                     [pageSizeOptions]=pageSizeOptions&ndash;&gt;-->
<!--&lt;!&ndash;                     aria-label='Select page of items'>&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-paginator>&ndash;&gt;-->
<!--&lt;!&ndash;    </mat-card-content>&ndash;&gt;-->
<!--&lt;!&ndash;  </mat-card>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
