@let _prefix = 'ADMIN.questionnaire.dialog';

<div [formGroup]="form" class="w-125">
  <div formGroupName="schedule" class="mt-4">
    <div formGroupName="notification" class="mt-4">
      <p class="text-base">{{ `${_prefix}.notificationLabel` | translate }}</p>
      <div class="mb-4">
        <app-text-form-group class="mb-4"
                             [textGroup]="form.controls.schedule.controls.notification.controls.title"
                             [label]="`${_prefix}.notificationTitleLabel` | translate"
                             [value]="dialogState.questionnaire()?.schedule?.notification?.title"/>
      </div>
      <div class="mb-4">
        <app-text-form-group [textGroup]="form.controls.schedule.controls.notification.controls.text"
                             [label]="`${_prefix}.notificationMessageLabel` | translate"
                             [textarea]="true"
                             [textareaAutosize]="true"
                             [value]="dialogState.questionnaire()?.schedule?.notification?.text"/>
      </div>
    </div>

    <div formGroupName="reminders">
      <p class="text-sm my-2">{{ `${_prefix}.remindersLabel` | translate }}</p>
      <mat-slide-toggle formControlName='enabled' class="mb-4" color="primary">
        {{ `${_prefix}.remindersEnableLabel` | translate }}
      </mat-slide-toggle>

      @if (form.controls.schedule.controls.reminders.controls.enabled.value) {
        <div class="grid grid-cols-3 gap-4">
          <div>
            <label for="reminders-repeat" class="text-sm">
              {{ `${_prefix}.reminderRepeat` | translate }} *
            </label>
            <mat-form-field class='small-input w-1/3'
                            subscriptSizing="dynamic"
                            appearance='outline'>
              <input id="reminders-repeat" matInput type="number" formControlName='repeat' required>
            </mat-form-field>
          </div>
          <div>
            <label for="reminders-amount" class="text-sm">
              {{ `${_prefix}.reminderAmount` | translate }} *
            </label>
            <mat-form-field class='small-input' appearance='outline'>
              <input id="reminders-amount" matInput formControlName='amount' type="number" min="1" max="10000" required>
            </mat-form-field>
          </div>
          <div>
            <label for="reminders-unit" class="text-sm">
              {{ `${_prefix}.reminderUnit` | translate }} *
            </label>
            <mat-form-field class='small-input' appearance='outline'>
              <mat-select id="reminders-unit" formControlName='unit'>
                @for (unit of UNITS; track unit.name) {
                  <mat-option [value]="unit.name">{{ unit.label }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      }
    </div>
  </div>
</div>
