@let _prefix = 'ADMIN.questionnaire.dialog';

<label for="select_choices_or_calculations" class="text-sm">
  {{ `${_prefix}.questionChoicesLabel` | translate }} *
</label>
<div #choicesContainer cdkDropList (cdkDropListDropped)="onDrop($event)" class="" cdkDropListOrientation="vertical">
  <div class="w-full flex-col mt-0 mb-1 text-sm">
    <div class="flex items-center gap-1 w-full">
      <div class="w-7 grow-0"></div>
      <div class="w-3/12 grow-0" [class]="!isValid() ? 'text-red-500' : ''">{{ `${_prefix}.questionChoiceCode` | translate }} *</div>
      <div class="grow" [class]="!isValid() ? 'text-red-500' : ''">{{ `${_prefix}.questionChoiceLabel` | translate }} *</div>
      <div class="w-7 grow-0"></div>
    </div>

    @for (choiceGroup of choiceGroups; let i = $index; track $index) {
      <div class="w-full flex items-start gap-1" cdkDrag [formGroup]="choiceGroup" [cdkDragBoundary]="choicesContainer" cdkDragLockAxis="y">
        <button mat-icon-button class="w-7! grow-0 shrink-0 cursor-move tiny" cdkDragHandle>
          <mat-icon class="material-symbols-outlined">swap_vertical_circle</mat-icon>
        </button>
        <mat-form-field class='small-input w-3/12! grow-0' appearance='outline' subscriptSizing="dynamic">
          <input matInput formControlName="code" required>
          <mat-error>
            @if (choiceGroup.controls['code']?.errors; as errors) {
              @if (errors?.['required']) {
                {{ ValidatorError.requiredValidator | translate:{value: `${_prefix}.code` | translate} }}
              }
              @if (errors?.['duplicate']) {
                {{ ValidatorError.duplicateValidatorShort | translate: {value: `${_prefix}.code` | translate} }}
              }
            }
          </mat-error>
        </mat-form-field>

        <app-text-form-group class='small-input grow'
                             [language]="language()"
                             [languages]="languages()"
                             [label]="undefined"
                             [required]="true"
                             [textGroup]="asFormGroup(choiceGroup.controls['label'])"/>

        <button class="tiny" [disabled]="i === 0"
                mat-icon-button color="warn"
                (click)="removeChoice(i)">
          <mat-icon class="material-symbols-outlined text-xl!">do_not_disturb_on</mat-icon>
        </button>
      </div>
    }

    <div class="flex items-center gap-1 w-full">
      <div class="grow"></div>
      <button class="tiny w-7! grow-0 shrink-0 material-symbols-outlined" mat-icon-button (click)="addChoice()">
        <mat-icon class="material-symbols-outlined">add_circle</mat-icon>
      </button>
    </div>
  </div>
</div>
