@let _prefix = 'ADMIN.questionnaire.dialog';

<label for="select_choices_or_calculations" class="text-sm">
  {{ `${_prefix}.questionChoicesLabel` | translate }} *
</label>
<div cdkDropList (cdkDropListDropped)="onDrop($event)" class="">
  <div class="w-full flex-col mt-0 mb-1 text-sm">
    <div class="flex items-center gap-1 w-full">
      <div class="w-[28px] flex-grow-0"></div>
      <div class="w-3/12 flex-grow-0">{{ `${_prefix}.questionChoiceCode` | translate }}</div>
      <div class="flex-grow-1">{{ `${_prefix}.questionChoiceLabel` | translate }}</div>
      <div class="w-[28px] flex-grow-0"></div>
    </div>

    @if (form.controls.length) {
      @for (choice of form.controls; let i = $index; track choice) {
        <div class="w-full flex items-center gap-1" cdkDrag [formGroup]="choice">
          <button mat-icon-button class="w-[28px]! flex-grow-0 flex-shrink-0 cursor-move tiny">
            <mat-icon class="material-symbols-outlined">swap_vertical_circle</mat-icon>
          </button>
          <mat-form-field class='small-input w-3/12! flex-grow-0' appearance='outline' subscriptSizing="dynamic">
            <input matInput formControlName="code">
          </mat-form-field>

          <app-text-form-group class='small-input flex-grow-1'
                               formControlName="label"
                               [languages]="languages()"
                               [label]="undefined"/>

          <button mat-icon-button class="tiny w-[28px]! flex-grow-0 flex-shrink-0 material-symbols-outlined"
                  color="warn"
                  [disabled]="form.controls.length === 1"
                  (click)="removeItem(i)">
            <mat-icon class="material-symbols-outlined">remove_circle</mat-icon>
          </button>
        </div>
      }
    }
    <div class="flex items-center gap-1 w-full">
      <div class="flex-grow-1"></div>
      <button class="tiny w-[28px]! flex-grow-0 flex-shrink-0 material-symbols-outlined" mat-icon-button
              (click)="addItem()">
        <mat-icon class="material-symbols-outlined">add_circle</mat-icon>
      </button>
    </div>
  </div>
</div>
