@let _prefix = 'ADMIN.questionnaire.dialog';

<app-question-header [question]="entity()" [language]="language()"/>

<div class="w-full flex flex-wrap items-center mt-4 gap-px">
  @for (item of entity().select_choices_or_calculations; track item) {
    <button
      class="cursor-pointer flex grow items-center justify-center py-3 px-1 border-2 border-primary text-lg first:rounded-l-lg last:rounded-r-lg last:border-r-2 last:border-primary"
      [class]="(previewValue === item.code ? 'bg-primary/30' : '') + ' ' + (isPreviewDisabled ? 'opacity-70' : '')"
      (click)="onPreviewInputChange(item.code)">
          <span class="ion-text-wrap text-center"
                [innerHtml]="(entity().show_code ? item.code : item.label[language().code]) | replacePlaceholders"></span>
    </button>
  }
</div>

@if (entity().show_code && entity().select_choices_or_calculations; as choices) {
  <div class="flex justify-between mt-2">
    <div class="w-1/2" [innerHtml]="choices[0].label[language().code] | replacePlaceholders"></div>
    <div class="w-1/2 text-right"
         [innerHtml]="choices[choices.length - 1].label[language().code] | replacePlaceholders"></div>
  </div>
}

@if (entity().show_selected_label && previewSelectedLabel) {
  <div class="p-2 bg-primary/10 mt-2">
    {{ previewSelectedLabel }}
  </div>
}

@if (!isPreviewDisabled) {
  <button color="warn" matButton class="my-4 text-sm!" (click)="onPreviewInputChange(null)">
    Clear
  </button>
}

