<div mat-dialog-title>
  <div class='dialog-title-wrapper'>
    <div>
      <p>{{ 'ADMIN.user.activate.title' | translate }}</p>
    </div>
    <button mat-icon-button
            class='close-button'
            [mat-dialog-close]='true'
            (click)='close()'>
      <mat-icon class='close-icon'>close</mat-icon>
    </button>
  </div>
</div>

<ng-container>
  <mat-dialog-content>
    <div class='dialog-page-desc'>
      <rb-user-details [mode]='DialogMode.DELETE'
                       [entity]='entity'>
      </rb-user-details>
    </div>
    <p>
      {{ 'ADMIN.user.activate.message' | translate: {user: entity.login, email: entity.email} }}
    </p>
  </mat-dialog-content>

  <div>
    <rb-message *ngIf='error'></rb-message>
    <div class='action-buttons-container'>
      <div class='action-buttons-container-left'>
        <button mat-stroked-button
                color='primary'
                type='button'
                class='close-button'
                [mat-dialog-close]='true'
                (click)='close()'>
          {{ 'ADMIN.user.activate.cancel' | translate }}
        </button>
      </div>
      <div class='action-buttons-container-right'>
        <button mat-raised-button
                color='accent'
                [disabled]='isLoading'
                (click)='sendActivationEmail()'>
          <ng-container *ngIf='isLoading'>
            <mat-icon>
              <mat-spinner diameter='20'></mat-spinner>
            </mat-icon>
            {{ 'ADMIN.user.activate.sending' | translate }}
          </ng-container>
          <ng-container *ngIf='!isLoading'>
            {{ 'ADMIN.user.activate.send' | translate }}
          </ng-container>
        </button>
      </div>
    </div>
  </div>
</ng-container>
