<mat-card class="rb-table-row" [class]="
    (updated$() ? 'bg-primary/5! ' : '') +
    (expanded$() ? 'mb-2' : '')
  ">
  <div class="rb-table-main-row">
    @for (tableElement of tableFields$(); track tableElement.name) {
      <div [class]="tableElement.tableClass + ' ' + tableElement.width + ' ' + tableElement.classes"
           [class.flex-1]="!tableElement.width"
           [class.shrink-0]="!!tableElement.width">
        @switch (tableElement.name) {
          @case ('clientId') {
            <a class="font-bold text-primary underline" [routerLink]='[entity$().clientId]'>
              <span>{{ entity$().clientId || '-' }}</span>
            </a>
          }
          @case ('_dynamic_registration') {
            @if (entity$()._dynamic_registration) {
              <rb-tag class="bg-primary text-white">Dynamic</rb-tag>
            } @else {
              <rb-tag class="bg-gray-200 text-primary">Manual</rb-tag>
            }
          }
          @case ('resourceIds') {
            <div class="flex flex-wrap gap-1 py-1">
              @for (tag of entity$().resourceIds; track tag) {
                <rb-tag class="bg-primary/10 text-primary">{{ tag }}</rb-tag>
              } @empty {
                -
              }
            </div>
          }
          @case ('authorizedGrantTypes') {
            <div class="flex flex-wrap gap-1 py-1">
              @for (tag of entity$().authorizedGrantTypes; track tag) {
                <rb-tag class="bg-secondary/10 text-primary">{{ tag }}</rb-tag>
              } @empty {
                -
              }
            </div>
          }
          @case ('accessTokenValiditySeconds') {
            {{ entity$().accessTokenValiditySeconds | dhms }}
          }
          @case ('refreshTokenValiditySeconds') {
            {{ entity$().refreshTokenValiditySeconds | dhms }}
          }
          @case ("actions") {
            <button mat-icon-button
                    class="tiny block"
                    [class.xs:hidden!]="extensionClass$() === 'block xs:hidden'"
                    [class.sm:hidden!]="extensionClass$() === 'block sm:hidden'"
                    [class.md:hidden!]="extensionClass$() === 'block md:hidden'"
                    [class.lg:hidden!]="extensionClass$() === 'block lg:hidden'"
                    [class.xl:hidden!]="extensionClass$() === 'block xl:hidden'"
                    [class.2xl:hidden!]="extensionClass$() === 'block 2xl:hidden'"
                    [class.3xl:hidden!]="extensionClass$() === 'block 3xl:hidden'"
                    (click)="onExpansionClick($event)">
                <span class="material-symbols-outlined text-xl!">
                  {{ expanded$() ? 'expand_less' : 'expand_more' }}
                </span>
            </button>
            <app-actions [entity$]="entity$()" [isExpanded$]="true"/>
          }
          @default {
            {{ entity$()[tableElement.name] || '-' }}
          }
        }

      </div>

    }
  </div>
  <div class="rb-table-extension-row" [@detailExpand]="expanded$() ? 'expanded' : 'collapsed'">
    <rb-client-details class="py-4"
                       [entity$]='entity$()'
                       [type$]="DetailType.TABLE"
                       [tableFields$]="tableFields$()"/>
  </div>
</mat-card>
