@let configFields = config$ | async;

<mat-card class="rb-table-row" [class]="
    (updated() === entity().id ? 'bg-green-100! ' : '') +
    (expanded ? 'mb-2' : '')
  ">
  <div class="rb-table-main-row">
    @for (property of PROPERTIES; track property.name) {
      @if (configFields[property.name] !== false) {
        <div [class]="property.tableClass + ' ' + property.width + ' ' + property.classes"
             [class.flex-1]="!property.width"
             [class.shrink-0]="!!property.width">
          @switch (property.name) {
            @case ('clientId') {
              <a [routerLink]='[entity().clientId, "general"]'>
                <span class="">{{ entity().clientId || '-' }}</span>
              </a>
            }
            @case ('dynamic_registration') {
              @if (entity().additionalInformation?.['dynamic_registration']) {
<!--                <rb-tag class="bg-teal-500 text-white" colorClass="bg-green-500 text-white">Dynamic</rb-tag>-->
                <rb-tag class="bg-green-500 text-white">Dynamic</rb-tag>
              } @else {
<!--                <rb-tag class="bg-red-500 text-white" colorClass="bg-red-500 text-white">Manual</rb-tag>-->
                <rb-tag class="bg-red-500 text-white">Manual</rb-tag>
              }
            }
            @case ('resourceIds') {
              <div class="flex flex-wrap gap-1 py-1">
                @for (tag of entity().resourceIds; track tag) {
                  <rb-tag class="bg-red-100 text-red-700">{{ tag }}</rb-tag>
                } @empty {
                  -
                }
              </div>
<!--              <rb-client-tags [type]="DetailType.TABLE" [tags]="entity().resourceIds"-->
<!--                              colorClass="bg-red-100 text-red-700"/>-->
            }
            @case ('authorizedGrantTypes') {
<!--              <div class="flex flex-wrap gap-1 py-1">-->
                <div class="flex flex-wrap gap-1 py-1">
                  @for (tag of entity().authorizedGrantTypes; track tag) {
                    <rb-tag class="bg-green-100 text-green-700">{{ tag }}</rb-tag>
                  } @empty {
                    -
                  }
                </div>
<!--                <rb-client-tags [type]="DetailType.TABLE" [tags]="entity().authorizedGrantTypes"-->
<!--                                colorClass="bg-teal-500 text-white"/>-->
<!--              </div>-->
            }
            @case ('accessTokenValiditySeconds') {
              {{ entity().accessTokenValiditySeconds | dhms }}
            }
            @case ('refreshTokenValiditySeconds') {
              {{ entity().refreshTokenValiditySeconds | dhms }}
            }
            @case ('actions') {
              <button mat-icon-button class="tiny" (click)="onExpansionClick($event)">
                <span class="material-symbols-outlined text-xl!">
                  {{ expanded ? 'expand_less' : 'expand_more' }}
                </span>
              </button>
              <button class="tiny mat-small-icon-button"
                      mat-icon-button color="primary"
                      [routerLink]='[entity().clientId]'>
                <span class="text-xl! material-symbols-outlined font-bold">app_settings_alt</span>
              </button>
              <button class="tiny mat-small-icon-button"
                      mat-icon-button color="primary"
                      (click)='onAction(DialogMode.EDIT, entity())'>
                <span class="material-symbols-outlined text-xl!">edit</span>
              </button>
              <button class="tiny mat-small-icon-button" mat-icon-button color="warn"
                      (click)='onAction(DialogMode.DELETE, entity())'>
                <span class="material-symbols-outlined text-xl!">delete</span>
              </button>
            }
            @default {
              {{ entity()[property.name] || '-' }}
            }
          }
        </div>
      }
    }
<!--    <div class='w-28'>-->
<!--      <button mat-icon-button class="tiny" (click)="onExpansionClick($event)">-->
<!--        <span class="material-symbols-outlined text-xl!">-->
<!--          {{ expanded ? 'expand_less' : 'expand_more' }}-->
<!--            </span>-->
<!--      </button>-->
<!--      <button class="tiny mat-small-icon-button"-->
<!--              mat-icon-button color="primary"-->
<!--              [routerLink]='[entity().clientId]'>-->
<!--        <span class="text-xl! material-symbols-outlined font-bold">app_settings_alt</span>-->
<!--      </button>-->
<!--      <button class="tiny mat-small-icon-button"-->
<!--              mat-icon-button color="primary"-->
<!--              (click)='onAction(DialogMode.EDIT, entity())'>-->
<!--        <span class="material-symbols-outlined text-xl!">edit</span>-->
<!--      </button>-->
<!--      <button class="tiny mat-small-icon-button" mat-icon-button color="warn"-->
<!--              (click)='onAction(DialogMode.DELETE, entity())'>-->
<!--        <span class="material-symbols-outlined text-xl!">delete</span>-->
<!--      </button>-->
<!--    </div>-->
  </div>
  <div class="rb-table-extension-row" [@detailExpand]="expanded ? 'expanded' : 'collapsed'">
    <rb-client-details [entity]='entity()' [config]="configFields" [type]="DetailType.TABLE"/>
  </div>
</mat-card>
