<app-entity-table-row [tableFields]="configService.getTableFields()"
            [extensionClass]="extensionClass()"
            [customTemplate]="entityTemplate"
            [updated]="updated()">
  <app-client-details extension-row
                      class="py-4"
                      [entity]='entity()'
                      [detailType]="DetailType.TABLE" />
  <app-client-actions extra-actions [entity]="entity()" [isExpanded]="true"/>
</app-entity-table-row>

<ng-template #entityTemplate let-property>
  @switch (property.name) {
    @case ('clientId') {
      <a class="font-bold text-primary dark:text-primary-dark underline" [routerLink]='[entity().clientId]'>
        <span>{{ entity().clientId || '-' }}</span>
      </a>
    }
    @case ('_dynamic_registration') {
      @if (entity().additionalInformation['dynamic_registration'] === "true") {
        <app-tag class="bg-primary text-white">{{ 'ADMIN.client.dynamic_registration.dynamic' | translate }}</app-tag>
      } @else {
        <app-tag class="bg-gray-200 dark:bg-gray-300 text-primary dark:text-primary-dark">{{ 'ADMIN.client.dynamic_registration.manual' | translate }}</app-tag>
      }
    }
    @case ('resourceIds') {
      <div class="flex flex-wrap gap-1 py-1">
        @for (tag of entity().resourceIds; track tag) {
          <app-tag class="bg-primary/10 dark:bg-primary-dark/10 text-primary dark:text-primary-dark">{{ tag }}</app-tag>
        } @empty {
          -
        }
      </div>
    }
    @case ('authorizedGrantTypes') {
      <div class="flex flex-wrap gap-1 py-1">
        @for (tag of entity().authorizedGrantTypes; track tag) {
          <app-tag class="bg-secondary/10 dark:bg-secondary-dark/10 text-primary dark:text-primary-dark">{{ tag }}</app-tag>
        } @empty {
          -
        }
      </div>
    }
    @case ('accessTokenValiditySeconds') {
      {{ entity().accessTokenValiditySeconds | duration:'s' }}
    }
    @case ('refreshTokenValiditySeconds') {
      {{ entity().refreshTokenValiditySeconds | duration:'s' }}
    }
    @default {
      {{ $any(entity())[property.name] || '-' }}
    }
  }
</ng-template>
