<h2 mat-dialog-title class="border-b border-neutral-400 dark:border-neutral-500">
  <span>{{ (dialogData.mode === "publish" ? "ADMIN.config.publishDialog.title" : "ADMIN.config.discardDialog.title") | translate }}</span>
</h2>

<mat-dialog-content>
  @if (dialogData.mode === "publish") {
    <p>{{ "ADMIN.config.publishDialog.confirmationMessage" | translate }}</p>
    <p>{{ "ADMIN.config.publishDialog.message" | translate }}</p>
  } @else {
    <p>{{ "ADMIN.config.discardDialog.confirmationMessage" | translate }}</p>
  }

  <div class="text-base mt-4">
    <h3 class="border-b py-2">{{ "ADMIN.config.publishDialog.changes" | translate }}</h3>
    @for (diff of dialogData.differences; track $index) {
      <div class="grid gap-4 grid-cols-2 mt-2">
        @switch(diff.change) {
          @case('added')
          @case('updated'){
            <span>{{ diff.newValue?.name }}</span>
            <span>{{ diff.change | uppercase }}</span>
          }
          @case ('deleted'){
            <span>{{ diff.oldValue?.name }}</span>
            <span>{{ diff.change | uppercase }}</span>
          }
        }
      </div>
    }
  </div>
</mat-dialog-content>

@if (store.error()) {
  <app-error-message-box>
    {{ store.error() | json}}
  </app-error-message-box>
}


<div class='px-6 py-4 flex flex-wrap justify-between gap-2 w-full'>
  <div class='flex flex-wrap gap-2'>
    <button mat-stroked-button
            color='primary'
            type='button'
            class='close-button'
            (click)='close()'>
      {{ 'ADMIN.config.publishDialog.cancel' | translate }}
    </button>
  </div>
  <div class=''>
    @if (dialogData.mode === "publish") {
      <button mat-raised-button class="text-white!"
              color='primary'
              [disabled]='store.loading()'
              (click)='publish()'>
        @if (store.loading()) {
          <mat-icon>
            <mat-spinner diameter='20'/>
          </mat-icon>
          {{ "ADMIN.config.publishDialog.publishing" | translate }}
        } @else {
          {{ "ADMIN.config.publishDialog.publish" | translate }}
        }
      </button>
    } @else {
      <button mat-raised-button class="text-white!"
              color='warn'
              [disabled]='store.loading()'
              (click)='discard()'>
        @if (store.loading()) {
          <mat-icon>
            <mat-spinner diameter='20'/>
          </mat-icon>
          {{ "ADMIN.config.discardDialog.discarding" | translate }}
        } @else {
          {{ "ADMIN.config.discardDialog.discard" | translate }}
        }
      </button>
    }
  </div>
</div>
