<!--<div class='px-4'>-->
<!--  <div class='flex flex-wrap justify-between gap-2 mb-4'>-->
<!--    <h2 class='m-0 font-bold flex items-center gap-2'>-->
<!--      <mat-icon class='p-2 w-10! h-10! rounded-full bg-gray-200'-->
<!--                fontSet='material-icons-outlined'>person_outline</mat-icon>-->
<!--      Subjects Authorizer-->
<!--    </h2>-->
<!--    <div class='flex gap-2 items-center ml-auto'>-->
<!--      <button type='button'-->
<!--              mat-stroked-button-->
<!--              color='primary'-->
<!--              (click)='onAction(DialogMode.ADD)'>-->
<!--        <mat-icon>add</mat-icon>-->
<!--        <span class="font-bold">{{ 'ADMIN.subject.create' | translate }}</span>-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->

<!--  <rb-data-table-filter *ngIf='filters.length'-->
<!--                        [filters]='filters'-->
<!--                        [filterOpened]='isFilterOpened'-->
<!--                        (filterChanged)='onFilterChange($event)'>-->
<!--  </rb-data-table-filter>-->

<!--  <mat-card appearance="outlined">-->
<!--    <mat-card-content>-->
<!--      <rb-loader *ngIf='loading'></rb-loader>-->
<!--      <table class='text-sm sticky-head w-full'-->
<!--               mat-table-->
<!--               [dataSource]='dataSource'-->
<!--               matSort-->
<!--               [paginator]='paginator'-->
<!--               [sort]='sort'-->
<!--               [defaultPageSize]='defaultPageSize'-->
<!--               (changed)='onPageSortChange($event)'-->
<!--               (dialogQueryParams)='onAction($event.mode, undefined, $event.id)'-->
<!--               [trackBy]="trackId"-->
<!--               rbNgMatTableQueryReflector-->
<!--               aria-label='Items List'-->
<!--               multiTemplateDataRows>-->
<!--          <ng-container matColumnDef='id'>-->
<!--            <th mat-header-cell-->
<!--                *matHeaderCellDef-->
<!--                mat-sort-header=""-->
<!--                disableClear-->
<!--                class='w-16 hidden sm:table-cell'>-->
<!--              {{ 'ADMIN.subject.id.tableLabel' | translate }}-->
<!--            </th>-->
<!--            <td mat-cell *matCellDef='let entity' class='w-16 hidden sm:table-cell'>-->
<!--              {{ entity.id || '-' }}-->
<!--            </td>-->
<!--          </ng-container>-->

<!--          <ng-container matColumnDef='login'>-->
<!--            <th mat-header-cell-->
<!--                *matHeaderCellDef-->
<!--                mat-sort-header="">-->
<!--              {{ 'ADMIN.subject.login.tableLabel' | translate }}-->
<!--            </th>-->
<!--            <td mat-cell *matCellDef='let entity'>-->
<!--              {{ entity["login"] }}-->
<!--            </td>-->
<!--          </ng-container>-->

<!--          <ng-container matColumnDef='externalId'>-->
<!--            <th mat-header-cell-->
<!--                *matHeaderCellDef-->
<!--                mat-sort-header=""-->
<!--                class='hidden sm:table-cell'>-->
<!--              {{ 'ADMIN.subject.externalId.tableLabel' | translate }}-->
<!--            </th>-->
<!--            <td mat-cell *matCellDef='let entity' class='hidden sm:table-cell'>-->
<!--              <ng-container *ngIf='entity["externalId"] && entity["externalLink"]'>-->
<!--                <a [href]='entity["externalLink"]' target='_blank'>{{entity["externalId"] }}</a>-->
<!--              </ng-container>-->
<!--              <ng-container *ngIf='entity["externalId"] && !entity["externalLink"]'>-->
<!--                {{entity["externalId"] }}-->
<!--              </ng-container>-->
<!--              <ng-container *ngIf='!entity["externalId"]'>-->
<!--                - -->
<!--              </ng-container>-->
<!--            </td>-->
<!--          </ng-container>-->

<!--          <ng-container matColumnDef='startEndDate'>-->
<!--            <th mat-header-cell-->
<!--                *matHeaderCellDef-->
<!--                class='w-32 hidden lg:table-cell'>-->
<!--              Start/End Date-->
<!--            </th>-->
<!--            <td mat-cell *matCellDef='let entity' class='w-32 hidden lg:table-cell'>-->
<!--              <rb-local-date [date]="entity['dateOfBirth']" [format]="'mediumDate'"></rb-local-date>-->
<!--            </td>-->
<!--          </ng-container>-->

<!--&lt;!&ndash;        <ng-container matColumnDef='endDate'>&ndash;&gt;-->
<!--&lt;!&ndash;          <th mat-header-cell&ndash;&gt;-->
<!--&lt;!&ndash;              *matHeaderCellDef&ndash;&gt;-->
<!--&lt;!&ndash;              class='w-32 hidden lg:table-cell'>&ndash;&gt;-->
<!--&lt;!&ndash;            End Date&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                {{ 'ADMIN.subject.dateOfBirth.tableLabel' | translate }}&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;          </th>&ndash;&gt;-->
<!--&lt;!&ndash;          <td mat-cell *matCellDef='let entity' class='w-32 hidden lg:table-cell'>&ndash;&gt;-->
<!--&lt;!&ndash;            <rb-local-date [date]="entity['dateOfBirth']" [format]="'mediumDate'"></rb-local-date>&ndash;&gt;-->
<!--&lt;!&ndash;          </td>&ndash;&gt;-->
<!--&lt;!&ndash;        </ng-container>&ndash;&gt;-->

<!--        <ng-container matColumnDef='status'>-->
<!--          <th mat-header-cell-->
<!--              *matHeaderCellDef-->
<!--              class='hidden lg:table-cell'>-->
<!--            {{ 'ADMIN.subject.status.tableLabel' | translate }}-->
<!--          </th>-->
<!--          <td mat-cell *matCellDef='let entity' class='hidden lg:table-cell'>-->
<!--            <rb-tag *ngIf='entity.status === SubjectStatus.DEACTIVATED' colorClass="bg-red-100 text-red-700">{{entity.status}}</rb-tag>-->
<!--            <rb-tag *ngIf='entity.status === SubjectStatus.ACTIVATED' colorClass="bg-green-100 text-green-700">{{entity.status}}</rb-tag>-->
<!--            <rb-tag *ngIf='entity.status === SubjectStatus.DISCONTINUED' colorClass="bg-orange-100 text-orange-700">{{entity.status}}</rb-tag>-->
<!--            <rb-tag *ngIf='entity.status === SubjectStatus.INVALID' colorClass="bg-gray-100 text-gray-700">{{entity.status}}</rb-tag>-->
<!--            <ng-container *ngIf='!entity.status'>-->
<!--              - -->
<!--            </ng-container>-->
<!--            <div>-->
<!--              <span>Start/End Dates</span>-->
<!--              <rb-local-date [date]="entity['dateOfBirth']" [format]="'mediumDate'"></rb-local-date>-->
<!--            </div>-->
<!--            <div>-->
<!--              <span>Link Generated At</span>-->
<!--              <rb-local-date [date]="entity['dateOfBirth']" [format]="'mediumDate'"></rb-local-date>-->
<!--            </div>-->

<!--          </td>-->
<!--        </ng-container>-->

<!--&lt;!&ndash;        <ng-container matColumnDef='linkGeneratedAt'>&ndash;&gt;-->
<!--&lt;!&ndash;          <th mat-header-cell&ndash;&gt;-->
<!--&lt;!&ndash;              *matHeaderCellDef&ndash;&gt;-->
<!--&lt;!&ndash;              class='w-32 hidden lg:table-cell'>&ndash;&gt;-->
<!--&lt;!&ndash;          </th>&ndash;&gt;-->
<!--&lt;!&ndash;          <td mat-cell *matCellDef='let entity' class='w-32 hidden lg:table-cell'>&ndash;&gt;-->
<!--&lt;!&ndash;            Link Generated At&ndash;&gt;-->
<!--&lt;!&ndash;            <rb-local-date [date]="entity['dateOfBirth']" [format]="'mediumDate'"></rb-local-date>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <rb-local-date [date]="entity['dateOfBirth']" [format]="'mediumDate'"></rb-local-date>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;          </td>&ndash;&gt;-->
<!--&lt;!&ndash;        </ng-container>&ndash;&gt;-->
<!--          <ng-container matColumnDef='actions'>-->
<!--            <th mat-header-cell-->
<!--                *matHeaderCellDef-->
<!--                class='w-20'>-->
<!--              {{ 'ADMIN.subject.actions' | translate }}-->
<!--            </th>-->
<!--            <td mat-cell-->
<!--                *matCellDef="let entity"-->
<!--                class='w-20'>-->
<!--              <button mat-icon-button-->
<!--                      (click)="$event.stopPropagation(); expandedElement = expandedElement === entity ? null : entity">-->
<!--                <mat-icon *ngIf="entity !== expandedElement">expand_more</mat-icon>-->
<!--                <mat-icon *ngIf="entity === expandedElement">expand_less</mat-icon>-->
<!--              </button>-->
<!--              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" (click)='$event.stopPropagation()'>-->
<!--                <mat-icon>more_vert</mat-icon>-->
<!--              </button>-->
<!--              <mat-menu #menu="matMenu" class="bg-white shadow-lg">-->
<!--                <button *ngIf="entity['isAuthorized']"-->
<!--                        class="hover:bg-primary-color-50"-->
<!--                        mat-menu-item-->
<!--                        (click)="onAction(DialogMode.EDIT, entity)">-->
<!--                  <mat-icon color='primary' fontSet='material-icons-outlined'>update</mat-icon>-->
<!--                  <span>Reset</span>-->
<!--&lt;!&ndash;                      <mat-icon>update</mat-icon>&ndash;&gt;-->
<!--                </button>-->
<!--                <button *ngIf="!entity['isAuthorized']"-->
<!--                        class="hover:bg-primary-color-50"-->
<!--                        mat-menu-item-->
<!--                        (click)="onAction(DialogMode.ADD, entity)">-->
<!--&lt;!&ndash;                      <mat-icon>add_link</mat-icon>&ndash;&gt;-->
<!--                  <mat-icon color='primary' fontSet='material-icons-outlined'>add_link</mat-icon>-->
<!--                  <span>Link</span>-->
<!--                </button>-->
<!--                <button *ngIf="entity['isAuthorized']"-->
<!--                        class="hover:bg-primary-color-50"-->
<!--                        mat-menu-item-->
<!--                        (click)="onAction(DialogMode.DELETE, entity)">-->
<!--&lt;!&ndash;                      <mat-icon>link_off</mat-icon>&ndash;&gt;-->
<!--                  <mat-icon color='warn' fontSet='material-icons-outlined'>link_off</mat-icon>-->
<!--                  <span>Unlink</span>-->
<!--                </button>-->
<!--&lt;!&ndash;                    <rb-pair-app [entity]="entity" [project]="project" [projects]="projects" [projectName]="projectName" [clients]="clients" (updateTrigger)="triggerUpdate($event)"></rb-pair-app>&ndash;&gt;-->
<!--&lt;!&ndash;                    <rb-pair-source [entity]="entity" [project]="project" [projects]="projects" [projectName]="projectName" [clients]="clients" (updateTrigger)="triggerUpdate($event)"></rb-pair-source>&ndash;&gt;-->
<!--&lt;!&ndash;                    <button mat-menu-item&ndash;&gt;-->
<!--&lt;!&ndash;                            (click)='onAction(DialogMode.EDIT, entity, undefined)'>&ndash;&gt;-->
<!--&lt;!&ndash;                      <mat-icon color='primary' fontSet='material-icons-outlined'>edit</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;                      <span>{{ 'ADMIN.subject.edit' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </button>&ndash;&gt;-->
<!--&lt;!&ndash;                    <rb-discontinue [entity]="entity" [projects]="projects" [projectName]="projectName" [clients]="clients" (updateTrigger)="triggerUpdate($event)"></rb-discontinue>&ndash;&gt;-->
<!--&lt;!&ndash;                    <button mat-menu-item&ndash;&gt;-->
<!--&lt;!&ndash;                            (click)='onAction(DialogMode.DELETE, entity, undefined)'>&ndash;&gt;-->
<!--&lt;!&ndash;                      <mat-icon color='warn' fontSet='material-icons-outlined'>delete</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;                      <span>{{ 'ADMIN.subject.delete' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </button>&ndash;&gt;-->
<!--              </mat-menu>-->
<!--            </td>-->
<!--          </ng-container>-->

<!--          <ng-container matColumnDef="expandedDetail">-->
<!--            <td mat-cell *matCellDef="let entity" [attr.colspan]="displayedColumns.length"-->
<!--                class=''>-->
<!--              <div class="flex overflow-hidden"-->
<!--                   [@detailExpand]="entity === expandedElement ? 'expanded' : 'collapsed'">-->
<!--                <div class="bg-gray-50 w-full max-w-[calc(100vw-56px)]">-->
<!--                  <rb-subject-authorizer-details [entity]='entity' [type]="DetailType.TABLE"></rb-subject-authorizer-details>-->
<!--                </div>-->
<!--              </div>-->
<!--            </td>-->
<!--          </ng-container>-->

<!--          <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>-->
<!--          <tr mat-row *matRowDef="let element; columns: displayedColumns;"-->
<!--              class=""-->
<!--              [class.expanded-row]="expandedElement === element"-->
<!--              [routerLink]='["/admin/subjects", element["login"]]'>-->
<!--          </tr>-->
<!--          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="h-0!"></tr>-->

<!--          <tr class='mat-row' *matNoDataRow>-->
<!--            <td class='mat-cell' [colSpan]='displayedColumns.length'>-->
<!--              {{ 'ADMIN.subject.noItemFound' | translate }}-->
<!--            </td>-->
<!--          </tr>-->
<!--        </table>-->

<!--        <mat-paginator [length]='total'-->
<!--                       [pageSizeOptions]=pageSizeOptions-->
<!--                       aria-label='Select page of items'>-->
<!--        </mat-paginator>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->
<!--</div>-->
