<app-entity-details [entityMetadata]="configService.getEntityMetadata()"
                    [tableFields]="configService.getTableFields()"
                    [detailType]="detailType()"
                    [customTemplate]="detailsTemplate"/>

<ng-template #detailsTemplate let-property>
  @if (entity(); as _entity) {
    @switch (property.name) {
      @case ('assigned') {
        <app-source-assigned [assigned]="_entity.assigned"/>
      }
      @case ('sourceType') {
        <app-source-source-type [sourceType]="_entity.sourceType"/>
      }
      @case ('attributes') {
        @if (_entity.attributes) {
          @for (attribute of _entity.attributes | keyvalue; track attribute.key) {
            <div>
              {{ attribute.key }}: {{ attribute.value || '-' }}
            </div>
          }
        }
        @if (!_entity.attributes || !(_entity.attributes | keyvalue)?.length) {
          -
        }
      }
      @default {
        {{ $any(_entity)[property.name] || '-' }}
      }
    }
  }
</ng-template>
