@let _prefix = 'ADMIN.questionnaire.dialog';

@switch (type) {
  @case ('button') {
    <div class="flex gap-2">
<!--      <span class="text-neutral-500">{{ `${_prefix}.questionAnnotationLabel` | translate }}</span>-->
<!--    <span class="">Min: {{entity().range?.min ?? 'N/A'}}, Max: {{entity().range?.max ?? 'N/A'}}, Step: {{entity().range?.step ?? 'N/A'}}</span>-->
      <span class="text-neutral-500" [class]="!entity().field_annotation ? 'text-red-500' : ''">{{ `${_prefix}.questionAnnotationLabel` | translate }}</span>
      <span [class]="entity().field_annotation?.image === null ? 'text-red-500' : ''">Image: {{entity().field_annotation?.image ?? 'N/A'}}, </span>
      <span [class]="entity().field_annotation?.unit === null ? 'text-red-500' : ''">Unit: {{entity().field_annotation?.unit ?? 'N/A'}}, </span>
      <span [class]="entity().field_annotation?.timer === null ? 'text-red-500' : ''">Timer: {{entity().field_annotation?.timer ?? 'N/A'}}</span>
    </div>
  }
  @case ('form') {
    <label for="unit" class="text-sm">{{ `${_prefix}.questionAnnotationLabel` | translate }}</label>
    <fieldset [formGroup]="field_annotation" class="p-2 rounded-sm border">

        <div>
          <label for="select_choices_or_calculations" class="text-sm" [class]="field_annotation.controls['image'].errors ? 'text-red-500' : ''">{{ `${_prefix}.questionAnnotationImage` | translate }} *</label>
          <mat-form-field class='small-input' appearance='outline' subscriptSizing="dynamic">
            <input matInput formControlName='image' required type="url">
            <mat-error>
              @if (field_annotation.controls['image'].errors; as errors) {
                @if (errors?.['pattern']) {
                  {{ ValidatorError.normalTextValidator | translate }}
                }
                @if (errors?.['required']) {
                  {{ ValidatorError.requiredValidator | translate:{value: `${_prefix}.questionRangeMin` | translate} }}
                }
              }
            </mat-error>
          </mat-form-field>
        </div>

      <div class="flex gap-2">
        <div>
          <label for="select_choices_or_calculations" class="text-sm" [class]="field_annotation.controls['unit'].errors ? 'text-red-500' : ''">{{ `${_prefix}.questionAnnotationUnit` | translate }}
            *</label>
          <mat-form-field class='small-input w-1/3' appearance='outline' subscriptSizing="dynamic">
            <input matInput formControlName='unit' required type="text">
            <mat-error>
              @if (field_annotation.controls['unit'].errors; as errors) {
                @if (errors?.['pattern']) {
                  {{ ValidatorError.normalTextValidator | translate }}
                }
                @if (errors?.['required']) {
                  {{ ValidatorError.requiredValidator | translate:{value: `${_prefix}.questionRangeMax` | translate} }}
                }
              }
            </mat-error>
          </mat-form-field>
        </div>

        <div [formGroup]="timer" class="flex gap-2">
          <div>
            <label for="select_choices_or_calculations" class="text-sm" [class]="timer.controls['start'].errors ? 'text-red-500' : ''">
              {{ `${_prefix}.questionAnnotationTimerStart` | translate }} *
            </label>
            <mat-form-field class='small-input w-1/3' appearance='outline' subscriptSizing="dynamic">
              <input matInput formControlName='start' required type="number">
              <mat-error>
                @if (timer.controls['start'].errors; as errors) {
                  @if (errors?.['pattern']) {
                    {{ ValidatorError.normalTextValidator | translate }}
                  }
                  @if (errors?.['required']) {
                    {{ ValidatorError.requiredValidator | translate:{value: `${_prefix}.questionRangeMax` | translate} }}
                  }
                }
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <label for="select_choices_or_calculations" class="text-sm" [class]="timer.controls['end'].errors ? 'text-red-500' : ''">
              {{ `${_prefix}.questionAnnotationTimerEnd` | translate }} *
            </label>
            <mat-form-field class='small-input w-1/3' appearance='outline' subscriptSizing="dynamic">
              <input matInput formControlName='end' required type="number">
              <mat-error>
                @if (timer.controls['end'].errors; as errors) {
                  @if (errors?.['pattern']) {
                    {{ ValidatorError.normalTextValidator | translate }}
                  }
                  @if (errors?.['required']) {
                    {{ ValidatorError.requiredValidator | translate:{value: `${_prefix}.questionRangeMax` | translate} }}
                  }
                }
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </fieldset>

  }
  @case ('preview') {
    <div class="flex flex-col h-full">
<!--      <app-scrollable-content class="grow">-->
        <app-question-header [question]="entity()" [language]="language()" />
<!--      </app-scrollable-content>-->

      <div class="m-4">
        <div class="overflow-hidden rounded-lg text-center">
          @if (!isPreviewDisabled) {
            <span class="text-7xl">{{ taskTimer.displayTime() }}</span>
          } @else {
            <div class="text-lg">Done!</div>
          }
        </div>

        @if (!isPreviewDisabled) {
          <button matButton class="m-4" (click)="startTimer()" [disabled]="taskTimer.hasStarted()" color="primary" size="small">
<!--            {{ selectedValue ? "Start again" : "Start"}}-->
            Start
          </button>
        }
      </div>

    </div>
  }
}



