@let _prefix = "ADMIN.user";

<h2 mat-dialog-title class="border-b border-neutral-400 dark:border-neutral-500">
  <span>{{ `SHARED.dialog.${dialogData.mode}` | translate }}</span>
  <span> {{ `${_prefix}.title.singular` | translate }}</span>
  <code class="italic text-secondary"> {{ dialogData.entity?._name ? `${dialogData.entity?._name}` : `` }}</code>
</h2>

<mat-dialog-content>
  @if (dialogData.mode === DialogMode.DELETE) {
    <div class='mb-4 text-base'>
      <app-user-details [entity]='dialogData.entity' [detailType]="DetailType.SUMMARY" />
      <div class="mt-4">
        <p>{{ "SHARED.dialog.deleteMessage" | translate }} {{ `${_prefix}.name.label` | translate }}: <code class="italic text-secondary">{{ dialogData.entity?.login }}</code>.</p>
        <p class="font-bold">{{ "SHARED.dialog.deleteWarning" | translate }}</p>
      </div>
    </div>
  }

  @if (dialogData.mode === DialogMode.ADD || dialogData.mode === DialogMode.EDIT) {
    <form [formGroup]='form' novalidate>

      @if (dialogData.mode !== DialogMode.ADD) {
        <label for="id" class="text-sm">{{ `${_prefix}.id.label` | translate }}</label>
        <mat-form-field subscriptSizing="fixed" appearance='fill'>
          <input matInput formControlName='id'>
        </mat-form-field>
      }

      <label for="login" class="text-sm">{{ `${_prefix}.login.label` | translate }} *</label>
      <mat-form-field subscriptSizing="fixed" appearance='outline'>
        <input matInput formControlName='login' required>
        <mat-error>
          @if (form.controls.login.errors; as errors) {
            @if (errors?.['duplicate']) {
              {{ ValidatorError.duplicateValidator | translate:{value: form.controls.login.value} }}
            }
            @if (errors?.['pattern']) {
              {{ ValidatorError.normalTextValidator | translate }}
            }
            @if (errors?.['required']) {
              {{ ValidatorError.requiredValidator | translate: {value: (`${_prefix}.login.label` | translate)} }}
            }
          }
        </mat-error>
      </mat-form-field>

      <label for="email" class="text-sm">{{ `${_prefix}.email.label` | translate }} *</label>
      <mat-form-field subscriptSizing="fixed" [appearance]='dialogData.entity ? "fill": "outline"'>
        <input matInput formControlName='email' required >
        <mat-error>
          @if (form.controls.email.errors; as errors) {
            @if (errors?.['duplicate']) {
              {{ "ADMIN.user.email.duplicate" }}
            }
            @if (errors?.['email']) {
              {{ ValidatorError.emailValidator | translate }}
            }
            @if (errors?.['required']) {
              {{ ValidatorError.requiredValidator | translate: {value: `${_prefix}.email.label` | translate} }}
            }
          }
        </mat-error>
      </mat-form-field>

      @if (!formFields || formFields['firstName'] === undefined || formFields['firstName']) {
        <label for="firstName" class="text-sm">{{ `${_prefix}.firstName.label` | translate }}</label>
      <mat-form-field subscriptSizing="fixed" appearance='outline'>
        <input matInput formControlName='firstName'>
        <mat-error>
          @if (form.controls.firstName.errors; as errors) {
            @if (errors['pattern']) {
              {{ ValidatorError.normalTextValidator | translate }}
            }
          }
        </mat-error>
      </mat-form-field>
      }

      @if (!formFields || formFields['lastName'] === undefined || formFields['lastName']) {
        <label for="lastName" class="text-sm">{{ `${_prefix}.lastName.label` | translate }}</label>
      <mat-form-field subscriptSizing="fixed" appearance='outline'>
        <input matInput formControlName='lastName'>
        <mat-error>
          @if (form.controls.lastName.errors; as errors) {
            @if (errors['pattern']) {
              {{ ValidatorError.normalTextValidator | translate }}
            }
          }
        </mat-error>
      </mat-form-field>
      }

      <label for="_roles" class="text-sm">{{ `${_prefix}.roles.label` | translate }}</label>
      <fieldset formGroupName='_roles'>
        <div>
          <mat-slide-toggle class="my-2" color="primary" formControlName='_sysAdmin'>
            {{ `${_prefix}.role.sysAdmin` | translate }}
          </mat-slide-toggle>
        </div>
        @if (!form.controls._roles.controls._sysAdmin.value) {
          <div>
            <mat-slide-toggle class="my-2" color="primary" formControlName='_organizationAdmin'>
              {{ `${_prefix}.role.organizationAdmin` | translate }}
            </mat-slide-toggle>
          </div>
          @if (form.controls._roles.controls._organizationAdmin.value) {
            @if (dialogData.organizationFullList | async; as organizations) {
              <app-mat-select-autocomplete formControlName='_organizations'
                                           [label]='"ADMIN.organization.title.plural" | translate'
                                           [options]='organizations'
                                           [multiple]="true"
                                           [adapter]="organizationAdapter" />
            }
          }
        }
        @if (!form.controls._roles.controls._sysAdmin.value) {
          <div>
            <mat-slide-toggle class="my-2" color="primary" formControlName='_projectAdmin'>
              {{ `${_prefix}.role.projectAdmin` | translate }}
            </mat-slide-toggle>
          </div>
          @if (form.controls._roles.controls._projectAdmin.value) {
            @if (dialogData.projectFullList | async; as projects) {
              <app-mat-select-autocomplete formControlName='_projects'
                                           [label]='"ADMIN.project.title.plural" | translate'
                                           [options]='projects'
                                           [multiple]="true"
                                           [adapter]="projectAdapter"/>
            }
          }
        }
      </fieldset>
    </form>
  }
</mat-dialog-content>

@if (error()) {
  <app-error-message-box>
    {{ error()?.error.errorCode | translate }}
  </app-error-message-box>
}

<app-dialog-actions [dialogMode]='dialogData.mode'
                    [form]='form'
                    (actionTriggered)='onAction($event)'/>
