@let _prefix = "ADMIN.user";

<app-dialog-title [dialogMode]='dialogData.mode'
                  [entityMetadata]="configService.getEntityMetadata()"
                  [entityName]="dialogData.entity?._name"
                  (closeEvent)='close()'/>

<mat-dialog-content>
  @if (dialogData.mode === DialogMode.VIEW || dialogData.mode === DialogMode.DELETE) {
    <app-dialog-body-description [dialogMode]="dialogData.mode"
                                 [label]="`${_prefix}.title.singular` | translate"
                                 [entityName]="dialogData.entity.login">
      <!--      <rb-user-details [mode]='mode' [entity]='entity' [config]="configFields" />-->
    </app-dialog-body-description>
  }

  @if (dialogData.mode === DialogMode.ADD || dialogData.mode === DialogMode.EDIT) {
    <form [formGroup]='form' novalidate>

      @if (dialogData.mode !== DialogMode.ADD) {
        <label for="id" class="text-sm">{{ `${_prefix}.id.label` | translate }}</label>
        <mat-form-field subscriptSizing="fixed" appearance='fill'>
          <input matInput formControlName='id'>
        </mat-form-field>
      }

      <label for="login" class="text-sm">{{ `${_prefix}.login.label` | translate }} *</label>
      <mat-form-field subscriptSizing="fixed" appearance='outline'>
        <input matInput formControlName='login' required>
        @if (form.controls.login.errors; as errors) {
          <mat-error>
            @if (errors?.['duplicate']) {
              {{ ValidatorError.duplicateValidator | translate:{value: form.controls.login.value} }}
            }
            @if (errors?.['pattern']) {
              {{ ValidatorError.normalTextValidator | translate }}
            }
            @if (errors?.['required']) {
              {{ ValidatorError.requiredValidator | translate: {value: (`${_prefix}.login.label` | translate)} }}
            }
          </mat-error>
        }
      </mat-form-field>

      <label for="firstName" class="text-sm">{{ `${_prefix}.firstName.label` | translate }}</label>
      <mat-form-field subscriptSizing="fixed" appearance='outline'>
        <input matInput formControlName='firstName'>
        @if (form.controls.firstName.errors; as errors) {
          <mat-error>
            @if (errors['pattern']) {
              {{ ValidatorError.normalTextValidator | translate }}
            }
          </mat-error>
        }
      </mat-form-field>

      <label for="lastName" class="text-sm">{{ `${_prefix}.lastName.label` | translate }}</label>
      <mat-form-field subscriptSizing="fixed" appearance='outline'>
        <input matInput formControlName='lastName'>
        @if (form.controls.lastName.errors; as errors) {
          <mat-error>
            @if (errors['pattern']) {
              {{ ValidatorError.normalTextValidator | translate }}
            }
          </mat-error>
        }
      </mat-form-field>

      <label for="email" class="text-sm">{{ `${_prefix}.email.label` | translate }} *</label>
      <mat-form-field subscriptSizing="fixed" appearance='outline'>
        <input matInput formControlName='email' required>
        @if (form.controls.email.errors; as errors) {
          <mat-error>
            @if (errors?.['duplicate']) {
              {{ "ADMIN.user.email.duplicate" }}
            }
            @if (errors?.['email']) {
              {{ ValidatorError.emailValidator | translate }}
            }
            @if (errors?.['required']) {
              {{ ValidatorError.requiredValidator | translate: {value: `${_prefix}.email.label` | translate} }}
            }
          </mat-error>
        }
      </mat-form-field>

      <label for="_roles" class="text-sm">{{ `${_prefix}.roles.label` | translate }}</label>
      <fieldset formGroupName='_roles'>
        <div>
          <mat-slide-toggle color="primary" formControlName='_sysAdmin'>
            {{ `${_prefix}.role.sysAdmin` | translate }}
          </mat-slide-toggle>
        </div>
        @if (!form.controls._roles.controls._sysAdmin.value) {
          <div class='flex items-center'>
            <div class='w-1/3'>
              <mat-slide-toggle color="primary" formControlName='_organizationAdmin'>
                {{ `${_prefix}.role.organizationAdmin` | translate }}
              </mat-slide-toggle>
            </div>
            <div class="w-2/3">
              @if (form.controls._roles.controls._organizationAdmin.value) {
                @if (dialogData.organizationFullList | async; as organizations) {
                  <app-mat-select-autocomplete formControlName='_organizations'
                                               [label]='"ADMIN.organization.title.plural" | translate'
                                               [options]='organizations'
                                               [multiple]="true"/>
                }
              }
            </div>
          </div>
        }
        @if (!form.controls._roles.controls._sysAdmin.value) {
          <div class='flex items-center'>
            <div class='w-1/3'>
              <mat-slide-toggle color="primary" formControlName='_projectAdmin'>
                {{ `${_prefix}.role.projectAdmin` | translate }}
              </mat-slide-toggle>
            </div>
            <div class="w-2/3">
              @if (form.controls._roles.controls._projectAdmin.value) {
                @if (dialogData.projectFullList | async; as projects) {
                  <app-mat-select-autocomplete formControlName='_projects'
                                               [label]='"ADMIN.project.title.plural" | translate'
                                               [options]='projects'
                                               [multiple]="true"/>
                }
              }
            </div>
          </div>
        }
      </fieldset>
    </form>
  }
</mat-dialog-content>

@if (error()) {
  <app-error-message-box>
    {{ error()?.error.errorCode | translate }}
  </app-error-message-box>
}

<app-dialog-actions [dialogMode]='dialogData.mode'
                    [form]='form'
                    (actionTriggered)='onAction($event)'/>
