<!--<ion-input [type]="textInputType"-->
<!--           fill="outline"-->
<!--           enterkeyhint="next"-->
<!--           [value]="selectedValue"-->
<!--           (ionInput)="onInputChange($event.detail.value ?? '')"-->

<!--           [disabled]="isDisabled"/>-->

<mat-form-field subscriptSizing="fixed" appearance="outline">
<!--  <mat-label>Message</mat-label>-->
  <input matInput maxlength="256" [value]="selectedValue" [disabled]="isDisabled"
         (input)="onInputStringChange($event)"
         [type]="textInputType"

  >
<!--         (input)="onInputChange(($event.target as HTMLInputElement).value ?? '')"-->
</mat-form-field>
<!--(ionFocus)="emitKeyboardEvent('focus')"-->
<!--(ionBlur)="emitKeyboardEvent('blur')"-->
<!--(keyup)="emitKeyboardEvent($event.key)"-->
<!--           placeholder="{{ 'PLACEHOLDER_TEXT_INPUT' | translate }}"-->


@if (error) {
  <p class="text-red-700">{{ error }}</p>
}

@if (!isDisabled) {
  <button matButton class="m-4" (click)="onReset()" color="danger" size="small">
    Clear
  </button>
}
