@let _prefix = 'ADMIN.questionnaire.dialog';

@switch (type) {
  @case ('button') {
<!--    <div class="text-black">-->
<!--      <div class="flex gap-2">-->
<!--        @let field_label = entity().field_label?.[language().id];-->
<!--        <span class="text-neutral-500" [class]="!field_label ? 'text-red-500' : ''">{{ `${_prefix}.questionLabelLabel` | translate }}:</span>-->
<!--        <span class="font-bold" [class]="!field_label ? 'text-red-500' : ''">{{ field_label || 'N/A' }}</span>-->
<!--      </div>-->
<!--      <div class="flex gap-2">-->
<!--        @let section_header = entity().section_header?.[language().id];-->
<!--        <span class="text-neutral-500">{{ `${_prefix}.questionHeaderLabel` | translate }}:</span>-->
<!--        <span>{{ section_header || 'N/A' }}</span>-->
<!--      </div>-->

    @let choices = entity().select_choices_or_calculations;

    <div class="flex gap-2">
      <span class="text-neutral-500" [class]="!choices ? 'text-red-500' : ''">
        {{ `${_prefix}.questionChoicesLabel` | translate }}:
      </span>
      <span class="font-bold" [class]="!choices ? 'text-red-500' : ''">
        <div class="flex flex-wrap gap-x-2 items-center">
          @for (choice of choices; track choice.code) {
            @if (choice.code) {
              <span class="inline-flex gap-1">
                <mat-icon class="material-symbols-outlined text-base!">
                  @switch (entity().field_type) {
                    @case ('radio') {
                      radio_button_unchecked
                    }
                    @case ('checkbox') {
                      check_box_outline_blank
                    }
                    @case ('range') {
                      radio_button_unchecked
                    }
                    @case ('range-info') {
                      radio_button_unchecked
                    }
                    @case ('info') {
                      info
                    }
                  }
                </mat-icon>
                <span class="pt-0.5">{{ choice.code }}: {{ choice.label[language().id] }}</span>
              </span>
            } @else {
              <span class="inline-flex gap-1 text-red-500">
                <mat-icon class="material-symbols-outlined text-base!">
                  @switch (entity().field_type) {
                    @case ('radio') {
                      radio_button_unchecked
                    }
                    @case ('checkbox') {
                      check_box_outline_blank
                    }
                    @case ('range') {
                      radio_button_unchecked
                    }
                    @case ('range-info') {
                      radio_button_unchecked
                    }
                    @case ('info') {
                      info
                    }
                  }
                </mat-icon>
                <span class="pt-0.5">N/A: N/A</span>
              </span>
            }
          } @empty {
            <span class="font-bold text-red-500">N/A</span>
          }
        </div>
      </span>
    </div>
<!--    </div>-->
  }
  @case ('form') {
    <app-question-choices-form-array [choices]="choices"
                                     [index]="index"
                                     [_choices]="entity().select_choices_or_calculations" />
  }
  @case ('preview') {
    <app-question-header [question]="entity()" [language]="language()"/>

    <mat-radio-group aria-label="Select an option" [value]="answer()?.value">
      @for (option of entity().select_choices_or_calculations; track option.code) {
        <div>
          <mat-radio-button [value]="option.code" (click)="onPreviewInputChange(option.code)" [disabled]="isPreviewDisabled">
            <span class="ion-text-wrap" [innerHtml]="option.label[language()!.id] | replacePlaceholders"></span>
          </mat-radio-button>
        </div>
      }
    </mat-radio-group>
    @if (!isPreviewDisabled) {
      <button color="warn" matButton class="my-4 text-sm!" (click)="onPreviewInputChange(null)">
        Clear
      </button>
    }
  }
  @case ('logic') {
    <mat-form-field class='small-input' appearance='outline' subscriptSizing="dynamic">
      <mat-select (selectionChange)="onLogicInputChange($event)" [value]="value">
        @for (option of entity().select_choices_or_calculations; track option.code) {
          <mat-option [value]="option.code">
            <p>[{{ option.code }}]: {{ option.label[language().id] }}</p>
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
}



