@if (isExpanded()) {
  <div class="flex items-center">
    <button class="tiny"
            [matTooltip]="`ADMIN.${entityName}.delete` | translate"
            mat-icon-button color="warn"
            (click)='onAction(DialogMode.DELETE)'>
      <span class="material-symbols-outlined text-xl!">close</span>
    </button>
  </div>
} @else {
  <button mat-icon-button class="tiny"
          [matMenuTriggerFor]="menu"
          (click)="$event.stopPropagation();">
    <span class="font-bold! material-symbols-outlined text-xl!">more_vert</span>
  </button>
  <mat-menu #menu="matMenu" class="*:p-0! text-base bg-white shadow-lg">
    <button class="hover:text-primary! hover:bg-transparent! transition-all"
            mat-menu-item
            (click)='onAction(DialogMode.EDIT)'>
                <span class="flex items-center gap-2">
                  <span class="text-xl! text-primary material-symbols-outlined font-bold!">edit</span>
                  <span>{{ `ADMIN.${entityName}.edit` | translate }}</span>
                </span>
    </button>
    <button class="hover:text-red-500 hover:bg-transparent! transition-all"
            mat-menu-item
            (click)='onAction(DialogMode.DELETE)'>
                <span class="flex items-center gap-2">
                  <span class="text-xl! text-red-500 material-symbols-outlined font-bold!">delete</span>
                  <span>{{ `ADMIN.${entityName}.delete` | translate }}</span>
                </span>
    </button>
  </mat-menu>
}
