@let configFields = config$ | async;

<mat-card class="rb-table-row" [class]="
    (updated() === entity().id ? 'bg-green-100! ' : '') +
    (expanded ? 'mb-2' : '')
  ">
    <div class="rb-table-main-row">
      @for (property of PROPERTIES; track property.name) {
        <div [class]="property.tableClass + ' ' + property.width + ' ' + property.classes"
             [class.flex-1]="!property.width"
             [class.shrink-0]="!!property.width">
          @switch (property.name) {
            @case ('value') {
<!--              //{{projectId()}}//{{entity() | json}}-->
              @if (projectId()) {
                <div>
                  <!--              {{entity | json}}-->
                  <div class="font-bold">{{ entity()["value"] }}</div>
                  <!--              <div class="font-bold text-gray-400" *ngIf="entity['default']"><span class="uppercase font-bold text-neutral-400">Default</span> {{ entity["default"] || '-' }} (Default - {{ entity["scope"] || '-' }})</div>-->
                  @if (entity()['default']) {
                    <div class="font-bold text-gray-400"><span class="uppercase text-xs font-bold text-neutral-300">[Default]</span> {{ entity()["default"] || '-' }}
                    </div>
                  } @else {
                    <div class="font-bold text-gray-400">No default value</div>
                  }
                  <!--              <div class="font-bold text-gray-400">Default ({{ entity["scope"] || '-' }}):</div>-->
                </div>
              } @else {

                <span>{{ entity()["value"] }}</span>
              }
            }
            @case ('actions') {
<!--              <div class='w-20'>-->
                <button mat-icon-button class="tiny" color="primary"
                        (click)='onAction(DialogMode.EDIT, entity())'>
                  <span class="material-symbols-outlined text-xl!">edit</span>
                </button>
<!--                @if (projectName && entity()['default']) {-->
<!--                  <button class="mat-small-icon-button" mat-icon-button color="primary"-->
<!--                          [disabled]="entity()['value'] === entity()['default']"-->
<!--                          (click)='onAction(DialogMode.EDIT, entity())'>-->
<!--                    <span class="font-bold material-symbols-outlined">undo</span>-->
<!--                  </button>-->
<!--                } @else {-->
                  <button mat-icon-button class="tiny" color="warn"
                          (click)='onAction(DialogMode.DELETE, entity())'>
                    <span class="material-symbols-outlined text-xl!">delete</span>
                  </button>
<!--                }-->
<!--              </div>-->
            }
            @default {
              {{ entity()[property.name] || '-' }}
            }
          }
        </div>
      }
    </div>
    <div class="rb-table-extension-row" [@detailExpand]="expanded ? 'expanded' : 'collapsed'"></div>

<!--    <div class="rb-table-extension-row" [@detailExpand]="expanded ? 'expanded' : 'collapsed'">-->
<!--      <rb-client-details [entity]='entity()' [config]="configFields" [type]="DetailType.TABLE"/>-->
<!--    </div>-->
<!--  </div>-->

<!--  -->
<!--  <div class="rb-table-main-row">-->
<!--    @for (property of PROPERTIES; track property.name) {-->
<!--      @if (configFields[property.name] !== false) {-->
<!--        <div [class]="property.tableClass + ' ' + property.width + ' ' + property.classes"-->
<!--             [class.flex-1]="!property.width"-->
<!--             [class.shrink-0]="!!property.width">-->
<!--          @switch (property.name) {-->
<!--            @case ('clientId') {-->
<!--              <a [routerLink]='[entity().clientId, "general"]'>-->
<!--                <span class="">{{ entity().clientId || '-' }}</span>-->
<!--              </a>-->
<!--            }-->
<!--            @case ('dynamic_registration') {-->
<!--              @if (entity().additionalInformation?.['dynamic_registration']) {-->
<!--&lt;!&ndash;                <rb-tag class="bg-teal-500 text-white" colorClass="bg-green-500 text-white">Dynamic</rb-tag>&ndash;&gt;-->
<!--                <rb-tag class="bg-green-500 text-white">Dynamic</rb-tag>-->
<!--              } @else {-->
<!--&lt;!&ndash;                <rb-tag class="bg-red-500 text-white" colorClass="bg-red-500 text-white">Manual</rb-tag>&ndash;&gt;-->
<!--                <rb-tag class="bg-red-500 text-white">Manual</rb-tag>-->
<!--              }-->
<!--            }-->
<!--            @case ('resourceIds') {-->
<!--              <div class="flex flex-wrap gap-1 py-1">-->
<!--                @for (tag of entity().resourceIds; track tag) {-->
<!--                  <rb-tag class="bg-red-100 text-red-700">{{ tag }}</rb-tag>-->
<!--                } @empty {-->
<!--                  - -->
<!--                }-->
<!--              </div>-->
<!--&lt;!&ndash;              <rb-client-tags [type]="DetailType.TABLE" [tags]="entity().resourceIds"&ndash;&gt;-->
<!--&lt;!&ndash;                              colorClass="bg-red-100 text-red-700"/>&ndash;&gt;-->
<!--            }-->
<!--            @case ('authorizedGrantTypes') {-->
<!--&lt;!&ndash;              <div class="flex flex-wrap gap-1 py-1">&ndash;&gt;-->
<!--                <div class="flex flex-wrap gap-1 py-1">-->
<!--                  @for (tag of entity().authorizedGrantTypes; track tag) {-->
<!--                    <rb-tag class="bg-green-100 text-green-700">{{ tag }}</rb-tag>-->
<!--                  } @empty {-->
<!--                    - -->
<!--                  }-->
<!--                </div>-->
<!--&lt;!&ndash;                <rb-client-tags [type]="DetailType.TABLE" [tags]="entity().authorizedGrantTypes"&ndash;&gt;-->
<!--&lt;!&ndash;                                colorClass="bg-teal-500 text-white"/>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--            }-->
<!--            @case ('accessTokenValiditySeconds') {-->
<!--              {{ entity().accessTokenValiditySeconds | dhms }}-->
<!--            }-->
<!--            @case ('refreshTokenValiditySeconds') {-->
<!--              {{ entity().refreshTokenValiditySeconds | dhms }}-->
<!--            }-->
<!--            @case ('actions') {-->
<!--              <button mat-icon-button class="tiny" (click)="onExpansionClick($event)">-->
<!--                <span class="material-symbols-outlined text-xl!">-->
<!--                  {{ expanded ? 'expand_less' : 'expand_more' }}-->
<!--                </span>-->
<!--              </button>-->
<!--              <button class="tiny mat-small-icon-button"-->
<!--                      mat-icon-button color="primary"-->
<!--                      [routerLink]='[entity().clientId]'>-->
<!--                <span class="text-xl! material-symbols-outlined font-bold">app_settings_alt</span>-->
<!--              </button>-->
<!--              <button class="tiny mat-small-icon-button"-->
<!--                      mat-icon-button color="primary"-->
<!--                      (click)='onAction(DialogMode.EDIT, entity())'>-->
<!--                <span class="material-symbols-outlined text-xl!">edit</span>-->
<!--              </button>-->
<!--              <button class="tiny mat-small-icon-button" mat-icon-button color="warn"-->
<!--                      (click)='onAction(DialogMode.DELETE, entity())'>-->
<!--                <span class="material-symbols-outlined text-xl!">delete</span>-->
<!--              </button>-->
<!--            }-->
<!--            @default {-->
<!--              {{ entity()[property.name] || '-' }}-->
<!--            }-->
<!--          }-->
<!--        </div>-->
<!--      }-->
<!--    }-->
<!--&lt;!&ndash;    <div class='w-28'>&ndash;&gt;-->
<!--&lt;!&ndash;      <button mat-icon-button class="tiny" (click)="onExpansionClick($event)">&ndash;&gt;-->
<!--&lt;!&ndash;        <span class="material-symbols-outlined text-xl!">&ndash;&gt;-->
<!--&lt;!&ndash;          {{ expanded ? 'expand_less' : 'expand_more' }}&ndash;&gt;-->
<!--&lt;!&ndash;            </span>&ndash;&gt;-->
<!--&lt;!&ndash;      </button>&ndash;&gt;-->
<!--&lt;!&ndash;      <button class="tiny mat-small-icon-button"&ndash;&gt;-->
<!--&lt;!&ndash;              mat-icon-button color="primary"&ndash;&gt;-->
<!--&lt;!&ndash;              [routerLink]='[entity().clientId]'>&ndash;&gt;-->
<!--&lt;!&ndash;        <span class="text-xl! material-symbols-outlined font-bold">app_settings_alt</span>&ndash;&gt;-->
<!--&lt;!&ndash;      </button>&ndash;&gt;-->
<!--&lt;!&ndash;      <button class="tiny mat-small-icon-button"&ndash;&gt;-->
<!--&lt;!&ndash;              mat-icon-button color="primary"&ndash;&gt;-->
<!--&lt;!&ndash;              (click)='onAction(DialogMode.EDIT, entity())'>&ndash;&gt;-->
<!--&lt;!&ndash;        <span class="material-symbols-outlined text-xl!">edit</span>&ndash;&gt;-->
<!--&lt;!&ndash;      </button>&ndash;&gt;-->
<!--&lt;!&ndash;      <button class="tiny mat-small-icon-button" mat-icon-button color="warn"&ndash;&gt;-->
<!--&lt;!&ndash;              (click)='onAction(DialogMode.DELETE, entity())'>&ndash;&gt;-->
<!--&lt;!&ndash;        <span class="material-symbols-outlined text-xl!">delete</span>&ndash;&gt;-->
<!--&lt;!&ndash;      </button>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </div>-->
<!--  <div class="rb-table-extension-row" [@detailExpand]="expanded ? 'expanded' : 'collapsed'">-->
<!--    <rb-client-details [entity]='entity()' [config]="configFields" [type]="DetailType.TABLE"/>-->
<!--  </div>-->
</mat-card>
