<app-entity-table-row [gridView]="gridView()"
            [tableFields]="configService.getTableFields()"
            [extensionClass]="extensionClass()"
            [customTemplate]="entityTemplate"
            [updated]="updated()">
  <app-config-actions extra-actions [entity]="entity()" />
</app-entity-table-row>
<ng-template #entityTemplate let-property>
  @switch (property.name) {
    @case ('value') {
      @if (entity().default !== entity().value) {
        <div class="font-bold">{{ entity().value }}</div>
      } @else {

      }

      @if (!!entity().default) {
        <div class="font-bold text-gray-400 flex items-center gap-1">
          {{ entity().default }}
          @if (entity().scope?.includes('global')) {
            <mat-icon class="cursor-pointer material-symbols-outlined text-xl!"
                  [matTooltip]="'Global Default'">public</mat-icon>
          } @else {
            @if (entity().scope?.includes('project')) {
              <mat-icon class="cursor-pointer material-symbols-outlined text-xl!" [matTooltip]="'Project Default'">folder</mat-icon>
            }
          }
        </div>
      }
    }
    @default {
      {{ $any(entity())[property.name] || '-' }}
    }
  }
</ng-template>
