@let _prefix = 'ADMIN.questionnaire.dialog';

<form [formGroup]='form' novalidate class="w-125">

  <div>
    <label for="estimatedCompletionTime" class="text-sm">
      {{ `${_prefix}.estimatedCompletionTimeLabel` | translate }}
    </label>
    <mat-form-field class='small-input w-full' appearance='outline'>
      <input id="estimatedCompletionTime" matInput type="number" formControlName='estimatedCompletionTime'>
      <span matSuffix class="mx-4 text-neutral-500 dark:text-neutral-400">
        {{ `${_prefix}.minutes` | translate }}
      </span>
    </mat-form-field>
  </div>

  <div class="text-sm w-1/2">
    <label for="showIntroduction">
      {{ `${_prefix}.showIntroductionLabel` | translate }}
    </label>
    <mat-form-field class='small-input' appearance='outline'>
      <mat-select id="showIntroduction" formControlName="showIntroduction">
        <mat-option value="no">
          {{ `${_prefix}.showIntroductionNo` | translate }}
        </mat-option>
        <mat-option value="once">
          {{ `${_prefix}.showIntroductionOnce` | translate }}
        </mat-option>
        <mat-option value="always">
          {{ `${_prefix}.showIntroductionAlways` | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  @if (form.controls.showIntroduction.value !== 'no') {
    <app-text-form-group class="mb-4"
                         [label]="`${_prefix}.startTextLabel` | translate"
                         [textarea]="true"
                         [textareaAutosize]="true"
                         [textGroup]="form.controls.startText"/>
  }

  <div class="mb-4">
    <app-text-form-group [label]="`${_prefix}.endTextLabel` | translate"
                         [textarea]="true"
                         [textareaAutosize]="true"
                         [textGroup]="form.controls.endText"/>
  </div>

  <mat-slide-toggle formControlName='warningEnabled' class="my-4" color="primary">
    {{ `${_prefix}.warningEnabled` | translate }}
  </mat-slide-toggle>

  @if (form.controls.warningEnabled.value) {
    <div class="mb-4">
      <app-text-form-group [label]="`${_prefix}.warningTextLabel` | translate"
                           [textGroup]="form.controls.warn"/>
    </div>
  }
</form>
