<app-entities-page-header [showTitle]="true"
                         [entityMetadata]="entityMetadata"
                         [enableAddButton]="false"
                         [isGridView]="undefined"
                         [permission]="[{role: ROLES.SYS_ADMIN}]">
  @if (tableFilters.length) {
    <app-data-table-filter bottom-filter
                          [filters]='tableFilters'
                          [filterOpened]='isFilterOpened'
                          (filterChanged)='handleFilterChange($event)'
                          (filterEnableChanged)="onFilterEnabledChanged($event)"/>
  }
</app-entities-page-header>

@if (loading()) {
  <app-loader/>
}

<div class="rb-table"
     tableQueryReflector
     [page]="page()"
     [sort]="sort()"
     (activeQueryParams)="handleActiveQueryChange($event)">

  @if (visibleEntities().length) {
    <div class="rb-table-header mat-app-background">
      @for (tableElement of tableFields; track tableElement.name) {
        @if (tableElement.name === 'checkbox') {
        } @else {
          <div [class]="tableElement.tableClass + ' ' + tableElement.width + ' ' + tableElement.classes"
               [class.flex-1]="!tableElement.width"
               [class.shrink-0]="!!tableElement.width">
            <button class="rb-table-head group" [class]="tableElement.sortable ? 'cursor-pointer': ''"
                    (click)="switchSort(tableElement)">
              <span>{{ `ADMIN.${entityMetadata.name}.${tableElement.name}.tableLabel` | translate }}</span>
              @if (tableElement.sortable) {
                <div class="rb-table-sort" [class.opacity-0]="sort().sortField !== tableElement.name">
                      <span class="rb-sort-icon material-symbols-outlined">
                        {{ sort().sortField === tableElement.name && sort().sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward' }}
                      </span>
                </div>
              }
            </button>
          </div>
        }
      }
    </div>
  }

  @if (visibleEntities().length) {
    @for (entity of visibleEntities(); track entity.timestamp) {
      <app-audit-table-row [entity]="entity"
                           [extensionClass]="extensionClass()"
                           class="block transition-all duration-200 hover:shadow-lg hover:-translate-y-0.5 hover:scale-[1.01]"/>
    }
  }
</div>

<div class="flex items-center px-4 text-sm">
  @if (!visibleEntities().length) {
    <span class="py-4">{{ `ADMIN.${entityMetadata.name}.noItemFoundWithTheFilter` | translate }}</span>
  }
</div>

@if (entityService.total > MIN_ENTITIES_FOR_PAGINATION) {
  <mat-paginator (page)="switchPage($event)"
                 [length]="entityService.total"
                 [pageSize]="page().pageSize"
                 [pageSizeOptions]="PAGE_SIZE_OPTIONS"
                 [pageIndex]="page().pageIndex"
                 aria-label="Select page"/>
}
