@let _prefix = "ADMIN.group";

<h2 mat-dialog-title class="border-b border-neutral-400 dark:border-neutral-500">
  <span>{{ `SHARED.dialog.${dialogData.mode}` | translate }}</span>
  <span> {{ `${_prefix}.title.singular` | translate }}</span>
  <code class="italic text-secondary"> {{ dialogData.entity?.name ? `${dialogData.entity?.name}` : `` }}</code>
</h2>

<mat-dialog-content>
  @if (dialogData.mode === DialogMode.DELETE) {
    <div class='mb-4 text-base'>
      <div class="mt-4">
        <p>{{ "SHARED.dialog.deleteMessage" | translate }} {{ `${_prefix}.name.label` | translate }}: <code class="italic text-secondary">{{ dialogData.entity?.name }}</code>.</p>
        <p class="font-bold">{{ "SHARED.dialog.deleteWarning" | translate }}</p>
      </div>
    </div>
  }

  @if (dialogData.mode === DialogMode.ADD || dialogData.mode === DialogMode.EDIT) {
    <form novalidate>
      @if (dialogData.mode !== DialogMode.ADD) {
        <label for="group-id" class="text-sm">{{ `${_prefix}.id.label` | translate }}</label>
        <mat-form-field subscriptSizing="fixed" appearance="fill">
          <input id="group-id" matInput [formField]="form.id">
        </mat-form-field>
      }

      <label for="group-name" class="text-sm">{{ `${_prefix}.name.label` | translate }} *</label>
      <mat-form-field subscriptSizing="fixed" appearance="outline">
        <input id="group-name" matInput [formField]="form.name">
        <mat-error>
          @if (form.name().touched() && form.name().invalid()) {
            @for (error of form.name().errors(); track error.kind) {
              {{ error.message }}
            }
          }
        </mat-error>
      </mat-form-field>
    </form>
  }
</mat-dialog-content>

@if (store.error()) {
  <app-error-message-box>
    {{store.error() | json}}
  </app-error-message-box>
}

<mat-dialog-actions align="end" class="justify-between!">
  <button (click)='close()' mat-stroked-button color="accent">
    {{ dialogData.mode !== DialogMode.DELETE ? ('SHARED.dialog.cancel' | translate) : ('SHARED.dialog.no' | translate) }}
  </button>
  @switch (dialogData.mode) {
    @case (DialogMode.DELETE) {
      <button [disabled]='store.loading()' (click)='delete()' color="warn" mat-raised-button>
        @if (store.loading()) {
          <mat-icon>
            <mat-spinner diameter="20" />
          </mat-icon>
        }

        {{ store.loading()
        ? ('SHARED.dialog.deletingButton' | translate)
        : ('SHARED.dialog.yes' | translate) }}
<!--        @if (store.loading()) {-->
<!--          <mat-icon><mat-spinner diameter='20' /></mat-icon>-->
<!--          {{ 'SHARED.dialog.deletingButton' | translate }}-->
<!--        } @else {-->
<!--          {{ 'SHARED.dialog.yes' | translate }}-->
<!--        }-->
      </button>
    }
    @case (DialogMode.EDIT) {
      <button [disabled]='form().invalid() || store.loading()' (click)='save()' mat-raised-button color="primary">
        @if (store.loading()) {
          <mat-icon><mat-spinner diameter='20' /></mat-icon>
        }
        {{ "SHARED.dialog.update" | translate }}
      </button>
    }
    @case (DialogMode.ADD) {
      <button [disabled]='form().invalid() || store.loading()' (click)='save()' color="primary" mat-raised-button>
        @if (store.loading()) {
          <mat-icon><mat-spinner diameter='20' /></mat-icon>
        }
        {{ "SHARED.dialog.create" | translate }}
      </button>
    }
  }
</mat-dialog-actions>
