<div class="flex items-center flex-wrap gap-2 mt-1">
  @for (project of showAll ? projects() : projects().slice(0, 5); track project.projectName) {
    <app-tag class="bg-primary/10"
             [link]="['/admin/organizations', organization(), 'projects', project.projectName]"
             (click)="$event.stopPropagation()">
      {{ project.projectName }}
    </app-tag>
  } @empty {
    -
  }

  @if (projects().length > 5) {
    @if (!showAll) {
      <span>...</span>
    }
    <button mat-stroked-button class="app-button-small" color="tertiary" (click)="toggleView($event, showAll)">
      @if (!showAll) {
        {{ 'ADMIN.organization.viewAll' | translate: {count: projects().length} }}
      } @else {
        {{ 'ADMIN.organization.viewLess' | translate }}
      }
    </button>
  }
</div>
