@let _projects = projects();

@if (_projects && _projects?.length) {
  <div class="flex items-center flex-wrap gap-2 mt-1">
    @for (project of showAll ? _projects : _projects?.slice(0, 5); track project.projectName) {
      <rb-tag class="bg-project-color text-white" colorClass="bg-project-color text-white"
              [link]="['/admin/organizations', organization(), 'projects', project['projectName']]">
        {{project["projectName"]}}
      </rb-tag>
    }

    @if (_projects.length > 5) {
      <rb-tag class="bg-primary text-white" colorClass="bg-primary text-white" (click)="toggleView($event, showAll)" style="cursor: pointer;">
        @if (!showAll) {
          View all {{_projects.length}} projects
        } @else {
          View less
        }
      </rb-tag>
    }
  </div>
} @else {
  -
}
