@let _projects = projects();

@if (_projects && _projects?.length) {
  <div class="flex items-center flex-wrap gap-2 mt-1">
    @for (project of showAll ? _projects : _projects?.slice(0, 5); track project.projectName) {
      <app-tag class="bg-primary/10 text-primary dark:bg-primary-dark/10 dark:text-primary-dark"
              [link]="['/admin/organizations', organization(), 'projects', project['projectName']]" (click)="$event.stopPropagation()">
        {{project["projectName"]}}
      </app-tag>
    }

    @if (_projects.length > 5) {
      @if (!showAll) {
      <span>...</span>
      }
      <app-tag class="border bg-white dark:bg-black text-primary dark:text-primary-dark" (click)="toggleView($event, showAll)" style="cursor: pointer;">
        @if (!showAll) {
          {{ 'ADMIN.organization.viewAll' | translate: {count: _projects.length} }}
        } @else {
          {{ 'ADMIN.organization.viewLess' | translate}}
        }
      </app-tag>
    }
  </div>
} @else {
  -
}
