@let _prefix = "ADMIN.source";

<h2 mat-dialog-title class="border-b border-neutral-400 dark:border-neutral-500">
  <span>{{ `SHARED.dialog.${dialogData.mode}` | translate }}</span>
  <span> {{ `${_prefix}.title.singular` | translate }}</span>
  <code class="italic text-secondary"> {{ dialogData.entity?._name ? `${dialogData.entity?._name}` : `` }}</code>
</h2>

<mat-dialog-content>
  @if (dialogData.mode === DialogMode.DELETE) {
    <div class='mb-4 text-base'>
      <div class="mt-4">
        <p>{{ "SHARED.dialog.deleteMessage" | translate }} {{ `${_prefix}.name.label` | translate }}: <code class="italic text-secondary">{{ dialogData.entity?._name }}</code>.</p>
        <p class="font-bold">{{ "SHARED.dialog.deleteWarning" | translate }}</p>
      </div>
    </div>
  }

  @if (dialogData.mode === DialogMode.ADD || dialogData.mode === DialogMode.EDIT) {
    <form [formGroup]="form" novalidate>
      @if (dialogData.mode !== DialogMode.ADD) {
        <label for="source-id" class="text-sm">{{ `${_prefix}.id.label` | translate }}</label>
        <mat-form-field class='w-full' subscriptSizing="fixed" appearance="fill">
          <input id="source-id" matInput formControlName='id' required>
        </mat-form-field>

        <label for="sourceId" class="text-sm">{{ `${_prefix}.sourceId.label` | translate }}</label>
        <mat-form-field class='w-full' subscriptSizing="fixed" appearance="fill">
          <input id="sourceId" matInput formControlName='sourceId' required>
        </mat-form-field>
      }

      <label for="sourceName" class="text-sm">{{ `${_prefix}.sourceName.label` | translate }} *</label>
      <mat-form-field class='w-full' subscriptSizing="fixed" appearance="outline">
        <input id="sourceName" matInput formControlName='sourceName' required>
        @if (form.controls.sourceName.errors; as errors) {
          <mat-error>
            @if (errors?.['pattern']) {
              {{ ValidatorError.normalTextValidator | translate }}
            }
            @if (errors?.['required']) {
              {{ ValidatorError.requiredValidator | translate:{value: `${_prefix}.sourceName.label` | translate} }}
            }
          </mat-error>
        }
      </mat-form-field>

      @if (!formFields || formFields['expectedSourceName'] === undefined || formFields['expectedSourceName']) {
        <label for="expectedSourceName" class="text-sm">
          {{ `${_prefix}.expectedSourceName.label` | translate }}
        </label>
        <mat-form-field class='w-full' subscriptSizing="fixed" appearance="outline">
          <input id="expectedSourceName" matInput formControlName='expectedSourceName'>
          @if (form.controls.expectedSourceName.errors; as errors) {
            <mat-error>
              @if (errors?.['pattern']) {
                {{ ValidatorError.normalTextValidator | translate }}
              }
            </mat-error>
          }
        </mat-form-field>
      }

      @if (dialogData.sourceTypeFullList | async; as sourceTypes) {
        <app-mat-select-autocomplete formControlName='sourceType'
                                     [options]='sourceTypes'
                                     [label]='`${_prefix}.sourceType.label` | translate'
                                     [multiple]="false"
                                     [required]="true" [adapter]="sourceTypeAdapter"/>
      }

      @if (!formFields || formFields['attributes'] === undefined || formFields['attributes']) {
        <label for="attributes" class="text-sm">{{ `${_prefix}.attributes.label` | translate }}</label>
        <fieldset formGroupName='attributes' class="rounded-sm border p-4">
          @if (!formFields || formFields['attributes.External-identifier'] === undefined || formFields['attributes.External-identifier']) {
            <label for="External-identifier" class="text-sm">
              {{ `${_prefix}.attributes.External-identifier` | translate }}
            </label>
            <mat-form-field class='w-full' subscriptSizing="fixed" appearance='outline'>
              <input id="External-identifier" matInput formControlName='External-identifier'/>
              <mat-error>
                @if (form.controls.attributes.controls['External-identifier'].errors; as errors) {
                  @if (errors?.['pattern']) {
                    {{ ValidatorError.normalTextValidator | translate }}
                  }
                }
              </mat-error>
            </mat-form-field>
          }
        </fieldset>
      }
    </form>
  }
</mat-dialog-content>

@if (error()) {
  <app-error-message-box>
    {{ error()?.error.errorCode | translate }}
  </app-error-message-box>
}

<app-dialog-actions [dialogMode]='dialogData.mode'
                    [form]='form'
                    (actionTriggered)='onAction($event)'/>
