<!--<rb-entities-page-header [entityName]="name"-->
<!--                         [enableAddButton]="false"-->
<!--                         (action)="onAction(DialogMode.ADD)">-->
<!--  <div extra-buttons class='flex gap-2 items-center ml-auto'>-->
<!--    <rb-tag class="bg-green-100 text-green-700">{{'ADMIN.revision.added' | translate }}</rb-tag>-->
<!--    <rb-tag class="bg-cyan-100 text-cyan-700">{{'ADMIN.revision.modified' | translate }}</rb-tag>-->
<!--    <rb-tag class="bg-red-100 text-red-700">{{'ADMIN.revision.deleted' | translate }}</rb-tag>-->
<!--  </div>-->
<!--  @if (filters.length && entities && entities.length > MIN_ENTITIES_FOR_FILTERS) {-->
<!--    <rb-data-table-filter bottom-filter-->
<!--                          [filters]='filters'-->
<!--                          [filterOpened]='isFilterOpened'-->
<!--                          (filterChanged)='handleFilterChange($event)'-->
<!--                          (filterEnableChanged)="onFilterEnabledChanged($event)" />-->
<!--  }-->
<!--</rb-entities-page-header>-->

<!--@if (loading) {-->
<!--  <rb-loader />-->
<!--}-->

<!--<div class="rb-table"-->
<!--     rbTableQueryReflector-->
<!--     [page]="page" [sort]="sort" [defaultSort]="{sortField: 'id', sortOrder: 'desc'}"-->
<!--     (activeQueryParams)="handleActiveQueryChange($event)"-->
<!--     (dialogQueryParams)="onAction($event.mode, undefined, $event.id, undefined )">-->
<!--  <div class="rb-table-header">-->
<!--    @for (property of PROPERTIES; track property.name) {-->
<!--      <div [class]="property.tableClass + ' ' + property.width + ' ' + property.classes"-->
<!--           [class.flex-1]="!property.width"-->
<!--           [class.shrink-0]="!!property.width">-->
<!--      <div class="rb-table-head group" (click)="switchSort(property)">-->
<!--        <span>{{ 'ADMIN.' + name + '.' + property.name + '.tableLabel' | translate }}</span>-->
<!--        <div *ngIf="property.sortable">-->
<!--          <div class="rb-table-sort" [class.opacity-0]="sort.sortField !== property.name">-->
<!--          <span class="rb-sort-icon material-symbols-outlined">-->
<!--            {{ sort.sortField === property.name && sort.sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward'}}-->
<!--          </span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    }-->
<!--    <div class='w-20'>-->
<!--      <span>{{ 'ADMIN.' + name + '.actions' | translate }}</span>-->
<!--    </div>-->
<!--  </div>-->


<!--  @if (entitiesToShow) {-->
<!--    @for (entity of entitiesToShow; track entity.id) {-->
<!--      <rb-revision-table-row [entity]="entity" [updated]="updated"-->
<!--                                (actionEvent)="onAction($event.mode, $event.entity, undefined)" />-->
<!--    }-->
<!--  }-->
<!--</div>-->

<!--<div class="flex items-center px-4 text-sm">-->
<!--  <span *ngIf="!entities?.length" >{{ 'ADMIN.' + name + '.noItemFound' | translate }}</span>-->
<!--  <span *ngIf="entities?.length && !entitiesToShow?.length">{{ 'No item found with this filter' | translate }}</span>-->
<!--</div>-->

<!--@if (filters.length && entities && entities.length > MIN_ENTITIES_FOR_PAGINATION) {-->
<!--  <mat-paginator (page)="switchPage($event)"-->
<!--                 [length]="filteredAndSortedEntities.length"-->
<!--                 [pageSize]="page.pageSize"-->
<!--                 [pageSizeOptions]="pageSizeOptions"-->
<!--                 [pageIndex]="page.pageIndex"-->
<!--                 aria-label="Select page" />-->
<!--}-->




<!--&lt;!&ndash;<div class='p-4'>&ndash;&gt;-->
<!--&lt;!&ndash;  <div class='flex flex-wrap justify-between gap-2 mb-4'>&ndash;&gt;-->
<!--&lt;!&ndash;    <h2 class='m-0 font-bold flex items-center gap-2'>&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-icon class='p-2 w-10! h-10! rounded-full bg-gray-200'&ndash;&gt;-->
<!--&lt;!&ndash;                fontSet='material-icons-outlined'>history</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;      {{'ADMIN.revision.title.plural' | translate }}&ndash;&gt;-->
<!--&lt;!&ndash;    </h2>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class='flex gap-2 items-center ml-auto'>&ndash;&gt;-->
<!--&lt;!&ndash;      <rb-tag [colors]='["bg-green-100","text-green-700"]'>{{'ADMIN.revision.added' | translate }}</rb-tag>&ndash;&gt;-->
<!--&lt;!&ndash;      <rb-tag [colors]='["bg-cyan-100","text-cyan-700"]'>{{'ADMIN.revision.modified' | translate }}</rb-tag>&ndash;&gt;-->
<!--&lt;!&ndash;      <rb-tag [colors]='["bg-red-100","text-red-700"]'>{{'ADMIN.revision.deleted' | translate }}</rb-tag>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->

<!--&lt;!&ndash;  <rb-data-table-filter *ngIf='filters.length'&ndash;&gt;-->
<!--&lt;!&ndash;                        [filters]='filters'&ndash;&gt;-->
<!--&lt;!&ndash;                        [filterOpened]='isFilterOpened'&ndash;&gt;-->
<!--&lt;!&ndash;                        (filterChanged)='onFilterChange($event)'>&ndash;&gt;-->
<!--&lt;!&ndash;  </rb-data-table-filter>&ndash;&gt;-->

<!--&lt;!&ndash;  &ndash;&gt;-->
<!--&lt;!&ndash;  <mat-card appearance="outlined" class="border p-0">&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-card-content>&ndash;&gt;-->
<!--&lt;!&ndash;      <rb-loader *ngIf='loading' [cover]='false'></rb-loader>&ndash;&gt;-->
<!--&lt;!&ndash;      <table class='text-sm sticky-head w-full'&ndash;&gt;-->
<!--&lt;!&ndash;             mat-table&ndash;&gt;-->
<!--&lt;!&ndash;             matSort&ndash;&gt;-->
<!--&lt;!&ndash;             [dataSource]='dataSource'&ndash;&gt;-->
<!--&lt;!&ndash;             rbNgMatTableQueryReflector&ndash;&gt;-->
<!--&lt;!&ndash;             [paginator]='paginator'&ndash;&gt;-->
<!--&lt;!&ndash;             [sort]='sort'&ndash;&gt;-->
<!--&lt;!&ndash;             [defaultPageSize]='defaultPageSize'&ndash;&gt;-->
<!--&lt;!&ndash;             (changed)='onPageSortChange($event)'&ndash;&gt;-->
<!--&lt;!&ndash;             [trackBy]="trackId"&ndash;&gt;-->
<!--&lt;!&ndash;             aria-label='Items List'&ndash;&gt;-->
<!--&lt;!&ndash;             multiTemplateDataRows>&ndash;&gt;-->
<!--&lt;!&ndash;        <ng-container *ngFor="let property of PROPERTIES" [matColumnDef]="property.name">&ndash;&gt;-->
<!--&lt;!&ndash;          <th mat-header-cell&ndash;&gt;-->
<!--&lt;!&ndash;              *matHeaderCellDef&ndash;&gt;-->
<!--&lt;!&ndash;              mat-sort-header&ndash;&gt;-->
<!--&lt;!&ndash;              [disabled]="!!property.notSortable"&ndash;&gt;-->
<!--&lt;!&ndash;              disableClear&ndash;&gt;-->
<!--&lt;!&ndash;              [class.hidden]="property.showInTable"&ndash;&gt;-->
<!--&lt;!&ndash;              [ngClass]=""&ndash;&gt;-->
<!--&lt;!&ndash;              [class]="property.showInTable + ':table-cell ' + property.classes">&ndash;&gt;-->
<!--&lt;!&ndash;            {{ 'ADMIN.revision.' + property.name + '.tableLabel' | translate }}&ndash;&gt;-->
<!--&lt;!&ndash;          </th>&ndash;&gt;-->
<!--&lt;!&ndash;          <td mat-cell *matCellDef='let entity'&ndash;&gt;-->
<!--&lt;!&ndash;              [class.hidden]="property.showInTable"&ndash;&gt;-->
<!--&lt;!&ndash;              [ngClass]=""&ndash;&gt;-->
<!--&lt;!&ndash;              [class]="property.showInTable + ':table-cell ' + property.classes"&ndash;&gt;-->
<!--&lt;!&ndash;              [ngSwitch]="property.name">&ndash;&gt;-->
<!--&lt;!&ndash;            <rb-local-date *ngSwitchCase="'timestamp'" [date]="entity['timestamp']" [format]="'long'"></rb-local-date>&ndash;&gt;-->
<!--&lt;!&ndash;            <rb-modification *ngSwitchCase="'modifications'" class="flex gap-2" [revision]="entity"></rb-modification>&ndash;&gt;-->

<!--&lt;!&ndash;            <ng-container *ngSwitchDefault>{{ entity[property.name] || '-' }}</ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;          </td>&ndash;&gt;-->
<!--&lt;!&ndash;        </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;        <ng-container matColumnDef='actions'>&ndash;&gt;-->
<!--&lt;!&ndash;          <th mat-header-cell *matHeaderCellDef&ndash;&gt;-->
<!--&lt;!&ndash;              class='w-10 p-0! md:hidden'>&ndash;&gt;-->
<!--&lt;!&ndash;            {{'ADMIN.revision.actions' | translate }}&ndash;&gt;-->
<!--&lt;!&ndash;          </th>&ndash;&gt;-->
<!--&lt;!&ndash;          <td mat-cell&ndash;&gt;-->
<!--&lt;!&ndash;              *matCellDef="let entity"&ndash;&gt;-->
<!--&lt;!&ndash;              class='w-10 p-0! md:hidden'>&ndash;&gt;-->
<!--&lt;!&ndash;            <button mat-icon-button&ndash;&gt;-->
<!--&lt;!&ndash;                    (click)="$event.stopPropagation(); expandedElement = expandedElement === entity ? null : entity">&ndash;&gt;-->
<!--&lt;!&ndash;              <mat-icon *ngIf="entity !== expandedElement">expand_more</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;              <mat-icon *ngIf="entity === expandedElement">expand_less</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;            </button>&ndash;&gt;-->
<!--&lt;!&ndash;          </td>&ndash;&gt;-->
<!--&lt;!&ndash;        </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;        <ng-container matColumnDef="expandedDetail">&ndash;&gt;-->
<!--&lt;!&ndash;          <td mat-cell *matCellDef="let entity" [attr.colspan]="displayedColumns.length"&ndash;&gt;-->
<!--&lt;!&ndash;              class=''>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="flex overflow-hidden"&ndash;&gt;-->
<!--&lt;!&ndash;                 [@detailExpand]="entity === expandedElement ? 'expanded' : 'collapsed'">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="bg-gray-50 w-full max-w-[calc(100vw-56px)]">&ndash;&gt;-->
<!--&lt;!&ndash;                <rb-revision-details [entity]='entity' [type]="DetailType.TABLE"></rb-revision-details>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </td>&ndash;&gt;-->
<!--&lt;!&ndash;        </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;        <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <tr mat-row *matRowDef="let element; columns: displayedColumns;"&ndash;&gt;-->
<!--&lt;!&ndash;            class="element-row"&ndash;&gt;-->
<!--&lt;!&ndash;            [class.example-expanded-row]="expandedElement === element">&ndash;&gt;-->
<!--&lt;!&ndash;        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="h-0!"></tr>&ndash;&gt;-->

<!--&lt;!&ndash;        <tr class='mat-row' *matNoDataRow>&ndash;&gt;-->
<!--&lt;!&ndash;          <td class='mat-cell' [colSpan]='displayedColumns.length'>&ndash;&gt;-->
<!--&lt;!&ndash;            {{'ADMIN.revision.noItemFound' | translate }}&ndash;&gt;-->
<!--&lt;!&ndash;          </td>&ndash;&gt;-->
<!--&lt;!&ndash;        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;      </table>&ndash;&gt;-->

<!--&lt;!&ndash;      <mat-paginator [length]='total'&ndash;&gt;-->
<!--&lt;!&ndash;                     [pageSizeOptions]=pageSizeOptions&ndash;&gt;-->
<!--&lt;!&ndash;                     aria-label='Select page of items'>&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-paginator>&ndash;&gt;-->
<!--&lt;!&ndash;    </mat-card-content>&ndash;&gt;-->
<!--&lt;!&ndash;  </mat-card>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
