<rb-entities-page-header [entityName]="name"
                         [enableAddButton]="false"
                         (action)="onAction(DialogMode.ADD)">
  <div extra-buttons class='flex gap-2 items-center ml-auto'>
    <rb-tag class="bg-green-100 text-green-700">{{'ADMIN.revision.added' | translate }}</rb-tag>
    <rb-tag class="bg-cyan-100 text-cyan-700">{{'ADMIN.revision.modified' | translate }}</rb-tag>
    <rb-tag class="bg-red-100 text-red-700">{{'ADMIN.revision.deleted' | translate }}</rb-tag>
  </div>
  @if (filters.length && entities && entities.length > MIN_ENTITIES_FOR_FILTERS) {
    <rb-data-table-filter bottom-filter
                          [filters]='filters'
                          [filterOpened]='isFilterOpened'
                          (filterChanged)='handleFilterChange($event)'
                          (filterEnableChanged)="onFilterEnabledChanged($event)" />
  }
</rb-entities-page-header>

@if (loading) {
  <rb-loader />
}

<div class="rb-table"
     rbTableQueryReflector
     [page]="page" [sort]="sort" [defaultSort]="{sortField: 'id', sortOrder: 'desc'}"
     (activeQueryParams)="handleActiveQueryChange($event)"
     (dialogQueryParams)="onAction($event.mode, undefined, $event.id, undefined )">
  <div class="rb-table-header">
    @for (property of PROPERTIES; track property.name) {
      <div [class]="property.tableClass + ' ' + property.width + ' ' + property.classes"
           [class.flex-1]="!property.width"
           [class.shrink-0]="!!property.width">
      <div class="rb-table-head group" (click)="switchSort(property)">
        <span>{{ 'ADMIN.' + name + '.' + property.name + '.tableLabel' | translate }}</span>
        <div *ngIf="property.sortable">
          <div class="rb-table-sort" [class.opacity-0]="sort.sortField !== property.name">
          <span class="rb-sort-icon material-symbols-outlined">
            {{ sort.sortField === property.name && sort.sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward'}}
          </span>
          </div>
        </div>
      </div>
    </div>
    }
    <div class='w-20'>
      <span>{{ 'ADMIN.' + name + '.actions' | translate }}</span>
    </div>
  </div>


  @if (entitiesToShow) {
    @for (entity of entitiesToShow; track entity.id) {
      <rb-revision-table-row [entity]="entity" [updated]="updated"
                                (actionEvent)="onAction($event.mode, $event.entity, undefined)" />
    }
  }
</div>

<div class="flex items-center px-4 text-sm">
  <span *ngIf="!entities?.length" >{{ 'ADMIN.' + name + '.noItemFound' | translate }}</span>
  <span *ngIf="entities?.length && !entitiesToShow?.length">{{ 'No item found with this filter' | translate }}</span>
</div>

@if (filters.length && entities && entities.length > MIN_ENTITIES_FOR_PAGINATION) {
  <mat-paginator (page)="switchPage($event)"
                 [length]="filteredAndSortedEntities.length"
                 [pageSize]="page.pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 [pageIndex]="page.pageIndex"
                 aria-label="Select page" />
}




<!--<div class='p-4'>-->
<!--  <div class='flex flex-wrap justify-between gap-2 mb-4'>-->
<!--    <h2 class='m-0 font-bold flex items-center gap-2'>-->
<!--      <mat-icon class='p-2 w-10! h-10! rounded-full bg-gray-200'-->
<!--                fontSet='material-icons-outlined'>history</mat-icon>-->
<!--      {{'ADMIN.revision.title.plural' | translate }}-->
<!--    </h2>-->
<!--    <div class='flex gap-2 items-center ml-auto'>-->
<!--      <rb-tag [colors]='["bg-green-100","text-green-700"]'>{{'ADMIN.revision.added' | translate }}</rb-tag>-->
<!--      <rb-tag [colors]='["bg-cyan-100","text-cyan-700"]'>{{'ADMIN.revision.modified' | translate }}</rb-tag>-->
<!--      <rb-tag [colors]='["bg-red-100","text-red-700"]'>{{'ADMIN.revision.deleted' | translate }}</rb-tag>-->
<!--    </div>-->
<!--  </div>-->

<!--  <rb-data-table-filter *ngIf='filters.length'-->
<!--                        [filters]='filters'-->
<!--                        [filterOpened]='isFilterOpened'-->
<!--                        (filterChanged)='onFilterChange($event)'>-->
<!--  </rb-data-table-filter>-->

<!--  -->
<!--  <mat-card appearance="outlined" class="border p-0">-->
<!--    <mat-card-content>-->
<!--      <rb-loader *ngIf='loading' [cover]='false'></rb-loader>-->
<!--      <table class='text-sm sticky-head w-full'-->
<!--             mat-table-->
<!--             matSort-->
<!--             [dataSource]='dataSource'-->
<!--             rbNgMatTableQueryReflector-->
<!--             [paginator]='paginator'-->
<!--             [sort]='sort'-->
<!--             [defaultPageSize]='defaultPageSize'-->
<!--             (changed)='onPageSortChange($event)'-->
<!--             [trackBy]="trackId"-->
<!--             aria-label='Items List'-->
<!--             multiTemplateDataRows>-->
<!--        <ng-container *ngFor="let property of PROPERTIES" [matColumnDef]="property.name">-->
<!--          <th mat-header-cell-->
<!--              *matHeaderCellDef-->
<!--              mat-sort-header-->
<!--              [disabled]="!!property.notSortable"-->
<!--              disableClear-->
<!--              [class.hidden]="property.showInTable"-->
<!--              [ngClass]=""-->
<!--              [class]="property.showInTable + ':table-cell ' + property.classes">-->
<!--            {{ 'ADMIN.revision.' + property.name + '.tableLabel' | translate }}-->
<!--          </th>-->
<!--          <td mat-cell *matCellDef='let entity'-->
<!--              [class.hidden]="property.showInTable"-->
<!--              [ngClass]=""-->
<!--              [class]="property.showInTable + ':table-cell ' + property.classes"-->
<!--              [ngSwitch]="property.name">-->
<!--            <rb-local-date *ngSwitchCase="'timestamp'" [date]="entity['timestamp']" [format]="'long'"></rb-local-date>-->
<!--            <rb-modification *ngSwitchCase="'modifications'" class="flex gap-2" [revision]="entity"></rb-modification>-->

<!--            <ng-container *ngSwitchDefault>{{ entity[property.name] || '-' }}</ng-container>-->

<!--          </td>-->
<!--        </ng-container>-->

<!--        <ng-container matColumnDef='actions'>-->
<!--          <th mat-header-cell *matHeaderCellDef-->
<!--              class='w-10 p-0! md:hidden'>-->
<!--            {{'ADMIN.revision.actions' | translate }}-->
<!--          </th>-->
<!--          <td mat-cell-->
<!--              *matCellDef="let entity"-->
<!--              class='w-10 p-0! md:hidden'>-->
<!--            <button mat-icon-button-->
<!--                    (click)="$event.stopPropagation(); expandedElement = expandedElement === entity ? null : entity">-->
<!--              <mat-icon *ngIf="entity !== expandedElement">expand_more</mat-icon>-->
<!--              <mat-icon *ngIf="entity === expandedElement">expand_less</mat-icon>-->
<!--            </button>-->
<!--          </td>-->
<!--        </ng-container>-->

<!--        <ng-container matColumnDef="expandedDetail">-->
<!--          <td mat-cell *matCellDef="let entity" [attr.colspan]="displayedColumns.length"-->
<!--              class=''>-->
<!--            <div class="flex overflow-hidden"-->
<!--                 [@detailExpand]="entity === expandedElement ? 'expanded' : 'collapsed'">-->
<!--              <div class="bg-gray-50 w-full max-w-[calc(100vw-56px)]">-->
<!--                <rb-revision-details [entity]='entity' [type]="DetailType.TABLE"></rb-revision-details>-->
<!--              </div>-->
<!--            </div>-->
<!--          </td>-->
<!--        </ng-container>-->

<!--        <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>-->
<!--        <tr mat-row *matRowDef="let element; columns: displayedColumns;"-->
<!--            class="element-row"-->
<!--            [class.example-expanded-row]="expandedElement === element">-->
<!--        </tr>-->
<!--        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="h-0!"></tr>-->

<!--        <tr class='mat-row' *matNoDataRow>-->
<!--          <td class='mat-cell' [colSpan]='displayedColumns.length'>-->
<!--            {{'ADMIN.revision.noItemFound' | translate }}-->
<!--          </td>-->
<!--        </tr>-->
<!--      </table>-->

<!--      <mat-paginator [length]='total'-->
<!--                     [pageSizeOptions]=pageSizeOptions-->
<!--                     aria-label='Select page of items'>-->
<!--      </mat-paginator>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->
<!--</div>-->
