@if (isExpanded()) {
  <div class="flex items-center">
    <button class="tiny"
            mat-icon-button color="primary" [matTooltip]="`ADMIN.${entityName}.duplicate` | translate"
            (click)='onDuplicate()'>
      <mat-icon class="material-symbols-outlined text-xl!">content_copy</mat-icon>
    </button>
    <button class="tiny"
            mat-icon-button color="primary" [matTooltip]="`ADMIN.${entityName}.edit` | translate"
            (click)='onAction(DialogMode.EDIT)'>
      <mat-icon class="material-symbols-outlined text-xl!">edit</mat-icon>
    </button>
    <button class="tiny"
            mat-icon-button color="warn" [matTooltip]="`ADMIN.${entityName}.delete` | translate"
            (click)='onAction(DialogMode.DELETE)'>
      <mat-icon class="material-symbols-outlined text-xl!">delete</mat-icon>
    </button>
  </div>
} @else {
  <button mat-icon-button class="tiny"
          [matMenuTriggerFor]="menu"
          (click)="$event.stopPropagation();">
    <mat-icon class="font-bold! material-symbols-outlined text-xl!">more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="*:p-0! text-base shadow-lg">
    <button class="hover:text-primary! dark:hover:text-primary-dark! hover:bg-transparent! transition-all"
            mat-menu-item
            (click)='onAction(DialogMode.EDIT)'>
              <span class="flex items-center gap-2">
                <mat-icon class="text-xl! text-primary dark:text-primary-dark material-symbols-outlined font-bold!">edit</mat-icon>
                <span>{{ `ADMIN.${entityName}.edit` | translate }}</span>
              </span>
    </button>
    <button class="hover:text-red-500 hover:bg-transparent! transition-all"
            mat-menu-item
            (click)='onAction(DialogMode.DELETE)'>
              <span class="flex items-center gap-2">
                <mat-icon class="text-xl! text-red-500 material-symbols-outlined font-bold!">delete</mat-icon>
                <span>{{ `ADMIN.${entityName}.delete` | translate }}</span>
              </span>
    </button>
  </mat-menu>
}
