@let tableFilters = configService.getTableFilters();
@let entityMetadata = configService.getEntityMetadata();
@let tableFields = configService.getTableFields();

<app-entities-page-header [showTitle]="true"
                          [entityMetadata]="entityMetadata"
                          [enableAddButton]="true"
                          [permission]="[{role: ROLES.SYS_ADMIN}]">
  @if (tableFilters.length && processedEntities().length > MIN_ENTITIES_FOR_FILTERS) {
    <app-data-table-filter bottom-filter
                           [filters]='tableFilters'
                           [filterOpened]='isFilterOpened'
                           (filterChanged)='switchFilter($event)'
                           (filterEnableChanged)="onFilterEnabledChanged($event)"/>
  }
</app-entities-page-header>

@if (loading()) {
  <app-loader/>
}

<app-entities-page [entities]="visibleEntities()"
                   [tableFields]="tableFields"
                   [entityMetadata]="entityMetadata"
                   [page]="page()"
                   [sort]="sort()"
                   (switchPageEvent)="switchPage($event)"
                   (switchSortEvent)="switchSort($event)"
                   (activeQueryChangeEvent)="handleActiveQueryChange($event)"
                   [customTemplate]="itemTemplate"
                   [gridView]="gridView"
                   [totalEntities]="processedEntities().length"/>
<ng-template #itemTemplate let-entity>
  <app-questionnaire-table-row [entity]="entity"
                               [gridView]="gridView"
                               [entityUpdateTrigger]="dialogService.dialogUpdateEvent()"
                               [extensionClass]="extensionClass()"
                               class="block transition-all duration-200 hover:shadow-lg hover:-translate-y-0.5 hover:scale-[1.01]"/>
</ng-template>
