@let _field = field();

@if (_field) {
  @switch (_field.type) {
    @case ('slideToggle') {
      <p class="text-base">{{ `ADMIN.${entityName()}.${_field.name}.label` | translate }}</p>
      <div>
        <mat-slide-toggle class="mb-0!" color="primary" [formControl]="form"/>
      </div>
      <div class="mb-2">
        <mat-hint align="start">
          @if (_field.hint) {
            {{ _field.hint | translate }}
          }
        </mat-hint>
      </div>
    }
<!--    @case ('select') {-->
<!--      <app-mat-select-autocomplete [formControl]="form"-->
<!--                                   [label]="`ADMIN.${entityName()}.${_field.name}.label` | translate"-->
<!--                                   [options]="_options()"-->
<!--                                   [required]="!!_field.validators?.['requiredValidator']"/>-->
<!--    }-->
    @default {
      <label [for]="_field.name" class="text-sm">
        {{ `ADMIN.${entityName()}.${_field.name}.label` | translate }} {{_field.required ? '*' : ''}}
      </label>
      <mat-form-field appearance='outline'>
        @switch (_field.type) {
          @case ('text') {
            <input matInput
                   [id]="field.name"
                   autocomplete="off" data-lpignore="true"
                   [formControl]="form"
                   [placeholder]="(_field.placeholder ?? '') | translate"
                   [required]="!!_field.required"
                   [attr.maxlength]="_field.maxlength"
                   type="text"
                   (blur)="form.markAsTouched()">
          }
          @case ('number') {
            <input matInput
                   [id]="field.name"
                   autocomplete="off" data-lpignore="true"
                   [formControl]="form"
                   [placeholder]="(_field.placeholder ?? '') | translate"
                   [required]="!!_field.required"
                   [attr.maxlength]="_field.maxlength"
                   type="number"
                   [min]="_field.min ?? null"
                   [max]="_field.max ?? null"
                   (blur)="form.markAsTouched()">
          }
          @case ('textarea') {
            <textarea matInput
                      [formControl]="form"
                      [rows]="_field.rows ?? 3"
                      [maxlength]="_field.maxlength ?? 255"
                      [required]="!!_field.required"
                      [placeholder]="(_field.placeholder ?? '') | translate"
                      (blur)="form.markAsTouched()">
          </textarea>
          }
          @case ('date') {
            <input matInput [matDatepicker]="datePicker"
                   [formControl]="form"
                   [min]="(_field.min ?? '') | toDate" [max]="(_field.max ?? '') | toDate"
                   [placeholder]='localeService.currentLocale()?.dateFormat || "dd/MM/yyyy"'>
          }
          @case ('select') {
            <mat-select [formControl]="form">
              @for (option of _field.options; track option) {
                <mat-option [value]="option">{{ option | translate }}</mat-option>
              }
            </mat-select>
          }
        }

        @if (_field.type === 'date') {
          <mat-datepicker-toggle matSuffix [for]="datePicker" />
        } @else {
          <span matSuffix style="width:0;height:0;padding:0;margin:0;display:inline-block"></span>
        }

        <mat-datepicker #datePicker/>
        <mat-hint align="start">
          @if (_field.hint) {
            {{ _field.hint | translate }}
          }
        </mat-hint>
        <mat-hint align="end">
          @if (_field.maxlength) {
            {{(form.valueChanges | async)?.length ?? 0}} / {{_field.maxlength}}
          }
        </mat-hint>

        <mat-error>
          @if (_field.validators?.['duplicateValidator'] && form.errors?.['duplicate']) {
            {{ "Organization name exists" }}
          }
          @if (_field.validators?.['longTextValidator'] && form.errors?.['pattern']) {
            {{ ValidatorError.longTextValidator }}
          }
          @if (_field.validators?.['normalTextValidator'] && form.errors?.['pattern']) {
            {{ ValidatorError.normalTextValidator }}
          }
          @if (_field.type === 'number') {
            @if (form.errors?.['min']) {
              {{ ValidatorError.minValidator | translate:{value: $safeNavigationMigration(form.errors?.['min']['min'])} }}
            }
            @if (form.errors?.['max']) {
              {{ ValidatorError.maxValidator | translate:{value: $safeNavigationMigration(form.errors?.['max']['max'])} }}
            }
          }
          @if (form.errors?.['required']) {
<!--            @if (_field.validators?.['requiredValidator'] && form.errors?.['required']) {-->
            {{ ValidatorError.requiredValidator | translate:{value: 'ADMIN.' + entityName() + '.' + _field.name + '.label' | translate} }}
          }
          @if (_field.type === 'date') {
            @if (form.errors?.['matDatepickerMin']) {
              {{ ValidatorError.dateOutOfMinRange | translate:{value: $safeNavigationMigration(form.errors?.['matDatepickerMin']['min']) | date: $safeNavigationMigration(localeService.currentLocale()?.dateFormat)} }}
            }
            @if (form.errors?.['matDatepickerMax']) {
              {{ ValidatorError.dateOutOfMaxRange | translate:{value: $safeNavigationMigration(form.errors?.['matDatepickerMax']['max']) | date: $safeNavigationMigration(localeService.currentLocale()?.dateFormat)} }}
            }
            @if (form.errors?.['matDatepickerParse']) {
              {{ 'ADMIN.project.startDate.startDateInvalid' | translate }}
            }
            @if (form.errors?.['matStartDateInvalid']) {
              {{ 'ADMIN.project.startDate.startDateInvalid' | translate }}
            }
          }
        </mat-error>
      </mat-form-field>
    }
  }
}
