@let _i18nEntity = "ADMIN.user";
@let _i18nShared = "SHARED.dialog";

<h2 mat-dialog-title class="border-b border-neutral-400 dark:border-neutral-500">
  <span>{{ `${_i18nShared}.${dialogData.mode}` | translate }}</span>
  <span> {{ `${_i18nEntity}.title.singular` | translate }}</span>
  <code class="italic text-secondary"> {{ dialogData.entity?.login ? `${dialogData.entity?.login}` : `` }}</code>
</h2>

<mat-dialog-content>
  @if (dialogData.mode === DialogMode.DELETE) {
    <div class='mb-4 text-base'>
      <app-user-details [entity]='dialogData.entity' [detailType]="DetailType.SUMMARY"/>
      <div class="mt-4">
        <p>{{ `${_i18nShared}.deleteMessage` | translate }} {{ `${_i18nEntity}.name` | translate }}:
          <code class="italic text-secondary">{{ dialogData.entity?.login }}</code>.</p>
        <p class="font-bold">{{ `${_i18nShared}.deleteWarning` | translate }}</p>
      </div>
    </div>
  }

  @if (dialogData.mode === DialogMode.ADD || dialogData.mode === DialogMode.EDIT) {
    <form novalidate>

      @if (dialogData.mode !== DialogMode.ADD) {
        <app-input-form-field [field]="form.id" [label]=`${_i18nEntity}.id` [appearance]='"fill"'/>
      }

      <app-input-form-field [field]="form.login" [label]=`${_i18nEntity}.login` [required]="true"/>

      <app-input-form-field [field]="form.email"
                            [label]=`${_i18nEntity}.email`
                            [required]="true"
                            [appearance]='dialogData.entity ? "fill": "outline"'/>

<!--      @if (!formFields || formFields['firstName'] === undefined || formFields['firstName']) {-->
        <app-input-form-field [field]="form.firstName" [label]="`${_i18nEntity}.firstName`"/>
<!--      }-->

<!--      @if (!formFields || formFields['lastName'] === undefined || formFields['lastName']) {-->
        <app-input-form-field [field]="form.lastName" [label]="`${_i18nEntity}.lastName`"/>
<!--      }-->

      <label for="_roles" class="text-sm">{{ `${_i18nEntity}.roles` | translate }}</label>
      <fieldset>
        <div>
          <mat-slide-toggle class="my-2" color="primary" [formField]="form.uiRoles._sysAdmin">
            {{ `${_i18nEntity}.role.sysAdmin` | translate }}
          </mat-slide-toggle>
        </div>
        @if (!model().uiRoles._sysAdmin) {
          <div>
            <mat-slide-toggle class="my-2" color="primary" [formField]="form.uiRoles._organizationAdmin">
              {{ `${_i18nEntity}.role.organizationAdmin` | translate }}
            </mat-slide-toggle>
          </div>
          @if (model().uiRoles._organizationAdmin) {
            <app-searchable-multi-select [field]="form.uiRoles._organizations"
                                         [label]="`ADMIN.organization.title.plural`"
                                         [labelKey]="'name'"
                                         [options]="dialogData.organizationFullList"
                                         [valueKey]="'name'"/>
          }

          <div>
            <mat-slide-toggle class="my-2" color="primary" [formField]="form.uiRoles._projectAdmin">
              {{ `${_i18nEntity}.role.projectAdmin` | translate }}
            </mat-slide-toggle>
          </div>
          @if (model().uiRoles._projectAdmin) {
            <app-searchable-multi-select [field]="form.uiRoles._projects"
                                         [label]="`ADMIN.project.title.plural`"
                                         [labelKey]="'projectName'"
                                         [options]="dialogData.projectFullList"
                                         [valueKey]="'projectName'"/>
          }
        }
      </fieldset>
    </form>
  }
</mat-dialog-content>

@if (store.error()) {
  <app-error-box>
    {{ store.error() | json }}
  </app-error-box>
}

<mat-dialog-actions align="end" class="justify-between!">
  <button (click)='close()' mat-stroked-button color="accent">
    {{
      dialogData.mode !== DialogMode.DELETE ?
        (`${_i18nShared}.cancel` | translate) : (`${_i18nShared}.no` | translate)
    }}
  </button>
  @switch (dialogData.mode) {
    @case (DialogMode.DELETE) {
      <button [disabled]='store.loading()' (click)='delete()' color="warn" mat-raised-button>
        @if (store.loading()) {
          <mat-icon>
            <mat-spinner diameter="20"/>
          </mat-icon>
        }

        {{
          store.loading() ?
            (`${_i18nShared}.deletingButton` | translate) :
            (`${_i18nShared}.yes` | translate)
        }}
      </button>
    }
    @case (DialogMode.EDIT) {
      <button [disabled]='form().invalid() || store.loading()' (click)='save()' mat-raised-button color="primary">
        @if (store.loading()) {
          <mat-icon>
            <mat-spinner diameter='20'/>
          </mat-icon>
        }
        {{ `${_i18nShared}.update` | translate }}
      </button>
    }
    @case (DialogMode.ADD) {
      <button [disabled]='form().invalid() || store.loading()' (click)='save()' color="primary" mat-raised-button>
        @if (store.loading()) {
          <mat-icon>
            <mat-spinner diameter='20'/>
          </mat-icon>
        }
        {{ `${_i18nShared}.create` | translate }}
      </button>
    }
  }
</mat-dialog-actions>
