@let _i18nEntity = `ADMIN.project`;

@if (isExpanded()) {
  <div class="flex items-center gap-2">
    <button class="app-icon-button-small"
            mat-icon-button
            color="primary"
            [matTooltip]="`${_i18nEntity}.edit` | translate"
            (click)='onAction(DialogMode.EDIT)'>
      <mat-icon>edit</mat-icon>
    </button>
    <button class="app-icon-button-small"
            mat-icon-button
            color="warn"
            [matTooltip]="`${_i18nEntity}.delete` | translate"
            (click)='onAction(DialogMode.DELETE)'
            disabled>
      <mat-icon>delete</mat-icon>
    </button>
  </div>
} @else {
  <button mat-icon-button class="app-icon-button-small" [matMenuTriggerFor]="menu" (click)="$event.stopPropagation();">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button (click)='onAction(DialogMode.EDIT)' mat-menu-item type="button">
      <mat-icon matButtonIconPrefix>edit</mat-icon>
      {{ `${_i18nEntity}.edit` | translate }}
    </button>

    <button (click)='onAction(DialogMode.DELETE)' mat-menu-item type="button" disabled>
      <mat-icon matButtonIconPrefix class="text-red-500!">delete</mat-icon>
      {{ `${_i18nEntity}.delete` | translate }}
    </button>
  </mat-menu>
}
