<!--@if (loading) {-->
<!--  <rb-loader [loadingText]='"loading" | translate' />-->
<!--}-->

<rb-breadcrumb />

<div class='flex flex-wrap justify-between gap-2 p-4 bg-white dark:bg-neutral-700'>
  <h2 class='flex items-center gap-2 m-0 text-lg font-bold '>
  <span class="material-symbols-outlined p-2 w-10! h-10! rounded-full bg-neutral-200 dark:bg-neutral-600">
    {{ ENTITIES.sourceData.icon }}
  </span>
    {{ entity.name }}
  </h2>
  <div class='flex gap-1 ml-auto'>
    <app-actions [entity]="entity" [isExpanded]="false"/>
  </div>
</div>

<mat-card class="m-4 p-4 text-sm border">
  <mat-card-content>
    <rb-source-data-details [entity]='entity'/>
  </mat-card-content>
</mat-card>
