<div class='p-4'>
  <div class='flex flex-wrap justify-between gap-2 mb-4'>
    <h2 class='m-0 font-bold flex items-center gap-2'>
      <mat-icon class="material-symbols-outlined p-2 w-10! h-10! rounded-full bg-neutral-200 dark:bg-neutral-600">monitor_heart</mat-icon>
      {{ 'ADMIN.health.title.plural' | translate }}
    </h2>
    <div class='flex gap-2 items-center ml-auto'>
      <button (click)='refresh()'
              mat-stroked-button
              color="primary"
              type="button">
            <span class="font-bold flex items-center gap-2">
              <mat-icon class="material-symbols-outlined">sync</mat-icon>
              {{ 'ADMIN.metrics.refresh' | translate }}
            </span>
      </button>
    </div>
  </div>

  @if (loading()) {
    <app-loader/>
  }

  @if (health()?.components) {
    <mat-accordion class="text-sm">
      @for (componentHealth of $safeNavigationMigration(health()?.components) | keyvalue; track componentHealth.key) {
        <mat-expansion-panel class="dark:border border-neutral-400 mb-1!"
                             [hideToggle]='!componentHealth.value.details'>
          <mat-expansion-panel-header class="p-4! dark:bg-neutral-700">
            <mat-panel-title class="flex gap-4 justify-between">
              <span>{{ 'ADMIN.health.service' | translate }}
                : {{ 'health.indicator.' + componentHealth.key | translate }}</span>
              @if (componentHealth.value.status === 'UP') {
                <app-tag class="bg-green-100 text-green-700">
                  {{ 'ADMIN.health.status' | translate }}: {{ componentHealth.value.status }}
                </app-tag>
              }
              @if (componentHealth.value.status !== 'UP') {
                <app-tag class="bg-red-100 text-red-700">
                  {{ 'ADMIN.health.status' | translate }}: {{ componentHealth.value.status }}
                </app-tag>
              }
            </mat-panel-title>
          </mat-expansion-panel-header>
          @if (componentHealth.value.details) {
            <div class="p-4">
              <p class="mb-4">{{ 'ADMIN.health.properties' | translate }}</p>
              <div
                class="border [&_app-detail-element:nth-child(even)>div]:bg-neutral-100 dark:[&_app-detail-element:nth-child(even)>div]:bg-neutral-600 p-2">
                @for (entry of componentHealth.value.details | keyvalue; track entry.key) {
                  <app-detail-element>
                    <ng-container label>{{ entry.key }}</ng-container>
                    @if (entry.key !== 'diskSpace') {
                      <ng-container value>{{ entry.value }}</ng-container>
                    }
                    @if (entry.key === 'diskSpace') {
                      <ng-container value>{{ +entry.value | fileSize:2 }}</ng-container>
                    }
                  </app-detail-element>
                }
              </div>
            </div>
          }
        </mat-expansion-panel>
      }
    </mat-accordion>
  }
</div>
