<app-entity-details [entityMetadata]="configService.getEntityMetadata()"
                    [tableFields]="configService.getTableFields()"
                    [detailType]="detailType()"
                    [customTemplate]="detailsTemplate"/>

<ng-template #detailsTemplate let-property>
  @if (entity(); as _entity) {
    @switch (property.name) {
      @case ('checkbox') {
      }
      @case ('dateOfBirth') {
        <app-local-date [date]="_entity['dateOfBirth']" [format]="'mediumDate'"/>
      }
      @case ('status') {
        <app-subject-status [detailType]="detailType()" [status]="_entity['status']"/>
      }
      @case ('group') {
        <app-subject-group [group]="_entity['group']"/>
      }
      @case ('sources') {
        @if (_entity.sources && _entity.sources?.length) {
          @for (source of _entity.sources; track source.sourceName) {
            <app-tag class="bg-primary/10 text-primary">{{ source.sourceName }}</app-tag>
          }
        } @else {
          -
        }
      }
      @case ('attributes') {
        <div>
          @if (_entity.attributes && (_entity.attributes | keyvalue)?.length) {
            @for (attribute of _entity.attributes | keyvalue; track attribute.key) {
              <div class="flex flex-wrap gap-1 border-b border-neutral-200 py-1">
                <span class="w-40">{{ attribute.key }}</span><span>{{ attribute.value || '-' }}</span>
              </div>
            }
          } @else {
            -
          }
        </div>
      }
      @case ('enrollmentDate') {
        <app-local-date [date]="_entity['enrollmentDate']" [format]="'long'"/>
      }
      @case ('createdBy') {
        @if (_entity.createdBy && _entity.createdBy !== 'system') {
          <app-tag>
            <a [routerLink]='["/admin/users", _entity.createdBy]'>
              {{ _entity.createdBy || '-' }}
            </a>
          </app-tag>
        } @else {
          <span class="uppercase">{{ _entity.createdBy || '-' }}</span>
        }
      }
      @case ('createdDate') {
        <app-local-date [date]="_entity['createdDate']" [format]="'long'"/>
      }
      @case ('lastModifiedBy') {
        @if (_entity.lastModifiedBy && _entity.lastModifiedBy !== 'system') {
          <app-tag>
            <a [routerLink]='["/admin/users", _entity.lastModifiedBy]'>
              {{ _entity.lastModifiedBy || '-' }}
            </a>
          </app-tag>
        } @else {
          <span class="uppercase">{{ _entity.lastModifiedBy || '-' }}</span>
        }
      }
      @case ('lastModifiedDate') {
        <app-local-date [date]="_entity['lastModifiedDate']" [format]="'long'"/>
      }
      @default {
        {{ $any(_entity)[property.name] || '-' }}
      }
    }
  }
</ng-template>
