<div>
  <app-label-form-field [field]="field()" [label]="label()" [required]="required()"/>

  <ng-content/>

  <mat-form-field class='small-input w-full' subscriptSizing="fixed" [appearance]='appearance()'>
    <input [id]="field()().name()"
           matInput
           [formField]="field()"
           [matDatepicker]='datePicker'
           [min]="minDate"
           [max]="maxDate"
           [placeholder]='placeholder() || "dd/MM/yyyy"'/>
    <mat-datepicker-toggle matSuffix [for]='datePicker'/>
    <mat-datepicker #datePicker/>

    @if (errors() !== 'none') {
      <mat-error>
        @if (field()().touched() && field()().invalid()) {
          @if (errors() === 'all') {
            @for (error of field()().errors(); track error.kind) {
              {{ error.message | translate }}
            }
          } @else {
            {{ field()().errors()[0].message | translate }}
          }
        }
      </mat-error>
    }

  </mat-form-field>
</div>
