<app-auth-card>
  <ng-container header>
    {{ 'CORE.AUTH.RESET_PASSWORD_PAGE.title' | translate }}
  </ng-container>
  <ng-container body>
    @if (!key) {
      <p>{{ 'CORE.AUTH.RESET_PASSWORD_PAGE.invalidKeyErrorMessage' |translate }} {{ 'CORE.AUTH.RESET_PASSWORD_PAGE.invalidKeyErrorDescription' | translate }}
        <a class="text-primary-color" [routerLink]='["/forgot-password"]'>
          {{ 'CORE.AUTH.RESET_PASSWORD_PAGE.gotoForgotPasswordPage' | translate }}
        </a>
      </p>
    } @else {
      <p class="mb-4">{{ 'CORE.AUTH.RESET_PASSWORD_PAGE.subtitle' | translate }}</p>
      @if (success()) {
        <button mat-raised-button
                [disabled]="true"
                class="gradient-btn from-green-700 to-green-500 w-full my-4"
                color='primary'
                type='submit'
                name='update'>
          <mat-icon class="material-symbols-outlined">check</mat-icon>
          {{ 'CORE.AUTH.FORGOT_PASSWORD_PAGE.successButton' | translate }}
        </button>
      } @else {
        <form [formGroup]='form' novalidate>
          <label for="password" class="text-sm">{{ 'CORE.AUTH.RESET_PASSWORD_PAGE.newPassword' | translate }}</label>
          <mat-form-field class='w-full'
                          subscriptSizing="fixed"
                          appearance='outline'>
            <input matInput
                   formControlName='password'
                   required
                   [type]="hidePassword ? 'password' : 'text'"/>
            <mat-icon matSuffix
                      (click)="hidePassword = !hidePassword">
              {{ hidePassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
            @if (form.controls.password.errors; as errors) {
              <mat-error>
                @if (errors['passwordStrengthValidator']) {
                  {{ 'CORE.AUTH.RESET_PASSWORD_PAGE.weakPasswordError' | translate }}
                }
                @if (errors['required']) {
                  {{ ValidatorError.requiredValidator | translate: {value: 'CORE.AUTH.FORGOT_PASSWORD_PAGE.email' | translate} }}
                }
              </mat-error>
            }
          </mat-form-field>

          <label for="confirmPassword" class="text-sm">{{ 'CORE.AUTH.RESET_PASSWORD_PAGE.confirmPassword' | translate }}</label>
          <mat-form-field class='w-full'
                          subscriptSizing="fixed"
                          appearance='outline'>
            <input matInput
                   formControlName='confirmPassword'
                   required
                   [type]="hideConfirmPassword ? 'password' : 'text'"/>
            <mat-icon matSuffix
                      (click)="hideConfirmPassword = !hideConfirmPassword">
              {{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
            @if (form.controls.confirmPassword.errors; as errors) {
              <mat-error>
                @if (errors['confirmPasswordValidator']) {
                  {{ 'CORE.AUTH.RESET_PASSWORD_PAGE.confirmPasswordError' | translate }}
                }
                @if (errors['required']) {
                  {{
                    ValidatorError.requiredValidator | translate:
                      {value: 'CORE.AUTH.RESET_PASSWORD_PAGE.confirmPassword' | translate}
                  }}
                }
              </mat-error>
            }
          </mat-form-field>

          <button mat-raised-button
                  class="w-full mt-4"
                  color='primary'
                  type='submit'
                  name='update'
                  [disabled]='!form.valid || !form.dirty || loading()'
                  (click)='update()'>
            @if (loading()) {
              <mat-icon>
                <mat-spinner diameter='20'/>
              </mat-icon>
            }
            {{ 'CORE.AUTH.FORGOT_PASSWORD_PAGE.submitButton' | translate }}
          </button>
        </form>
      }

      @if (error()) {
        <app-error-message-box>
          {{ `ERROR.${$safeNavigationMigration(error()?.error.error)}` | translate }}
        </app-error-message-box>

        <p>
          {{ 'CORE.AUTH.RESET_PASSWORD_PAGE.gotTo' | translate }}
          <a [routerLink]='["/forgot-password"]'>
            {{ 'CORE.AUTH.RESET_PASSWORD_PAGE.loginPage' | translate }}
          </a>
          {{ 'CORE.AUTH.RESET_PASSWORD_PAGE.gotToForgotPasswordEndMessage' | translate }}
        </p>
      }
    }
    <p class="mt-4">
      <a class="text-primary dark:text-primary-dark" [routerLink]='["/auth/login"]'>
        {{ 'CORE.AUTH.FORGOT_PASSWORD_PAGE.return' | translate }}
      </a>
    </p>
  </ng-container>
</app-auth-card>
