<rb-auth-card>
  <ng-container header>
    {{ 'CORE.AUTH.RESET_PASSWORD_PAGE.title' | translate }}
  </ng-container>
  <ng-container body>
    @if (!key) {
      <p>The link is invalid or expired. {{ 'CORE.AUTH.RESET_PASSWORD_PAGE.invalidKeyErrorDescription' | translate }}
        <a class="text-primary-color" [routerLink]='["/forgot-password"]'>
          {{ 'CORE.AUTH.RESET_PASSWORD_PAGE.gotoForgotPasswordPage' | translate }}
        </a>
      </p>
    } @else {
      <p class="mb-4">{{ 'CORE.AUTH.RESET_PASSWORD_PAGE.subtitle' | translate }}</p>
      @if (success) {
        <button mat-raised-button
                [disabled]="true"
                class="gradient-btn from-green-700 to-green-500 w-full my-4"
                color='primary'
                type='submit'
                name='update'>
          <span class="material-symbols-outlined">check</span>
          {{ 'CORE.AUTH.FORGOT_PASSWORD_PAGE.successButton' | translate }}
        </button>
      } @else {
        <form [formGroup]='form' novalidate>
          <mat-form-field class='w-full my-4'
                          subscriptSizing="fixed"
                          appearance='outline'
                          floatLabel='always'>
            <mat-label>
              {{ 'CORE.AUTH.RESET_PASSWORD_PAGE.newPassword' | translate }}
            </mat-label>
            <input matInput
                   formControlName='password'
                   required
                   [type]="hidePassword ? 'password' : 'text'"/>
            <mat-icon matSuffix
                      (click)="hidePassword = !hidePassword">
              {{ hidePassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
            @if (form.controls.password?.errors; as errors) {
              <mat-error>
                @if (errors['passwordStrengthValidator']) {
                  {{ 'CORE.AUTH.RESET_PASSWORD_PAGE.weakPasswordError' | translate }}
                }
                @if (errors['required']) {
                  {{ ValidatorError.requiredValidator | translate: {value: 'CORE.AUTH.FORGOT_PASSWORD_PAGE.email' | translate} }}
                }
              </mat-error>
            }
          </mat-form-field>

          <mat-form-field class='w-full mb-4'
                          subscriptSizing="fixed"
                          appearance='outline'
                          floatLabel='always'>
            <mat-label>
              {{ 'CORE.AUTH.RESET_PASSWORD_PAGE.confirmPassword' | translate }} *
            </mat-label>
            <input matInput
                   formControlName='confirmPassword'
                   required
                   [type]="hideConfirmPassword ? 'password' : 'text'"/>
            <mat-icon matSuffix
                      (click)="hideConfirmPassword = !hideConfirmPassword">
              {{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
            @if (form.controls.confirmPassword?.errors; as errors) {
              <mat-error>
                @if (errors['confirmPasswordValidator']) {
                  {{ 'CORE.AUTH.RESET_PASSWORD_PAGE.confirmPasswordError' | translate }}
                }
                @if (errors['required']) {
                  {{
                    ValidatorError.requiredValidator | translate:
                      {value: 'CORE.AUTH.RESET_PASSWORD_PAGE.confirmPassword' | translate}
                  }}
                }
              </mat-error>
            }
          </mat-form-field>

          <button mat-raised-button
                  class="w-full"
                  color='primary'
                  type='submit'
                  name='update'
                  [disabled]='!form.valid || !form.dirty || isLoading'
                  (click)='update()'>
            @if (isLoading) {
              <mat-icon>
                <mat-spinner diameter='20'/>
              </mat-icon>
            }
            {{ 'CORE.AUTH.FORGOT_PASSWORD_PAGE.submitButton' | translate }}
          </button>
        </form>
      }

      @if (error) {
        <rb-message/>

        <p>
          {{ 'CORE.AUTH.RESET_PASSWORD_PAGE.gotTo' | translate }}
          <a [routerLink]='["/forgot-password"]'>
            {{ 'CORE.AUTH.RESET_PASSWORD_PAGE.loginPage' | translate }}
          </a>
          {{ 'CORE.AUTH.RESET_PASSWORD_PAGE.gotToForgotPasswordEndMessage' | translate }}
        </p>
      }
    }
    <p class="mt-4">
      <a class="text-primary dark:text-primary-dark" [routerLink]='["/login"]'>
        {{ 'CORE.AUTH.FORGOT_PASSWORD_PAGE.return' | translate }}
      </a>
    </p>
  </ng-container>
</rb-auth-card>
