<!--@let _prefix = 'ADMIN.questionnaire.dialog';-->

<div class="flex flex-col h-full">
  <div class="shrink-0 rounded-lg text-center">
  @if (!isPreviewDisabled) {
    <span class="text-7xl">{{ taskTimer.displayTime() }}</span>
  } @else {
    <div class="text-lg">Done!</div>
  }
  </div>

  @if (!isPreviewDisabled) {
    <button mat-raised-button class="shrink-0 my-4!" (click)="startTimer()" [disabled]="taskTimer.hasStarted()"
            color="primary">
      Start
    </button>
  }

  <app-question-header class="grow min-h-0 overflow-auto" [question]="entity()" [language]="language()" [disableRequiredAsterisk]="true"/>
</div>
