<!--@let _prefix = 'ADMIN.questionnaire.dialog';-->
<!--@let defaultLanguage = entity()?.defaultLanguage;-->

<!--@if (defaultLanguage) {-->
<!--  <form [formGroup]='form' novalidate>-->

<!--    <div class="">-->
<!--      <app-mat-select-autocomplete formControlName="languages"-->
<!--                                   [options]="ISO_LANGUAGES"-->
<!--                                   [label]="`${_prefix}.languagesLabel` | translate"-->
<!--                                   [required]="true"-->
<!--                                   [multiple]="true"-->
<!--                                   [notRemovable]="defaultLanguage"/>-->
<!--    </div>-->

<!--    @let languages = form.controls.languages.value;-->
<!--    <div class="w-full overflow-x-auto border border-gray-300">-->
<!--      <div class="grid auto-cols-[minmax(300px,max-content)] text-xs *:border *:border-gray-300 *:p-2 *:-mt-px *:-ml-px"-->
<!--        [style.grid-template-columns]="`repeat(${3}, max-content)`">-->
<!--        <div class=""></div>-->
<!--        @for (language of languages; track language.id) {-->
<!--          <div class="">{{ language._name }}</div>-->
<!--        }-->

<!--        <div class="">Title</div>-->
<!--        @for (language of languages; track language.id) {-->
<!--          <div>-->
<!--            <app-text-form-group formControlName="title"-->
<!--                                 [languages]="form.controls.languages.value"-->
<!--                                 [language]="language"-->
<!--                                 [textarea]="false"-->
<!--                                 [textareaAutosize]="false"/>-->
<!--          </div>-->
<!--        }-->

<!--        <div class="">Description</div>-->
<!--        @for (language of languages; track language.id) {-->
<!--          <div>-->
<!--            <app-text-form-group formControlName="description"-->
<!--                                 [languages]="form.controls.languages.value"-->
<!--                                 [language]="language"-->
<!--                                 [textarea]="true"-->
<!--                                 [textareaAutosize]="true"/>-->
<!--          </div>-->
<!--        }-->

<!--        <div class="">End Text</div>-->
<!--        @for (language of languages; track language.id) {-->
<!--          <div>-->
<!--            <app-text-form-group formControlName="endText"-->
<!--                                 [languages]="form.controls.languages.value"-->
<!--                                 [language]="language"-->
<!--                                 [textarea]="true"-->
<!--                                 [textareaAutosize]="true"/>-->
<!--          </div>-->
<!--        }-->

<!--        @if (entity()?.warningEnabled) {-->
<!--          <div class="">Warn</div>-->
<!--          @for (language of languages; track language.id) {-->
<!--            <div>-->
<!--            <app-text-form-group formControlName="warn"-->
<!--                                 [languages]="form.controls.languages.value"-->
<!--                                 [language]="language"-->
<!--                                 [textarea]="true"-->
<!--                                 [textareaAutosize]="true"/>-->
<!--          </div>-->
<!--          }-->
<!--        }-->

<!--        <ng-container formGroupName="schedule">-->
<!--          <ng-container formGroupName="notification">-->
<!--        <div class="">Notification Title</div>-->
<!--        @for (language of languages; track language.id) {-->
<!--          <div>-->
<!--            <app-text-form-group formControlName="title"-->
<!--                                 [languages]="form.controls.languages.value"-->
<!--                                 [language]="language"-->
<!--                                 [textarea]="true"-->
<!--                                 [textareaAutosize]="true"/>-->
<!--          </div>-->
<!--        }-->
<!--          <div class="">Notification Text</div>-->
<!--        @for (language of languages; track language.id) {-->
<!--          <div>-->
<!--            <app-text-form-group formControlName="text"-->
<!--                                 [languages]="form.controls.languages.value"-->
<!--                                 [language]="language"-->
<!--                                 [textarea]="true"-->
<!--                                 [textareaAutosize]="true"/>-->
<!--          </div>-->
<!--        }-->
<!--          </ng-container>-->
<!--        </ng-container>-->

<!--        @for (question of entity()?.questions; track question.field_name) {-->
<!--          <div class="border-y col-span-full">Question {{ question.field_name }}</div>-->
<!--          <div>Field Label</div>-->
<!--          <div>-->
<!--            <app-text-form-group [formControl]="$any(question.controls['field_label'])"-->
<!--                                 [languages]="form.controls.languages.value"-->
<!--                                 [language]="language"-->
<!--                                 [textarea]="true"-->
<!--                                 [textareaAutosize]="true"/>-->
<!--          </div>-->
<!--          @if (question.section_header?.[defaultLanguage.id]) {-->
<!--            <div>Section Header</div>-->
<!--          }-->
<!--          @if (question.field_note?.[defaultLanguage.id]) {-->
<!--            <div>Field Note</div>-->
<!--          }-->
<!--          @for (choice of question.select_choices_or_calculations; track choice.code) {-->
<!--            <div>Choice {{ choice.code }}</div>-->
<!--          }-->
<!--        }-->
<!--&lt;!&ndash;        @for (language of languages; track language.id) {&ndash;&gt;-->
<!--&lt;!&ndash;          <div>{{ language._name }}</div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div>&ndash;&gt;-->
<!--&lt;!&ndash;            <app-text-form-group formControlName="title"&ndash;&gt;-->
<!--&lt;!&ndash;                                 [languages]="form.controls.languages.value"&ndash;&gt;-->
<!--&lt;!&ndash;                                 [language]="language"&ndash;&gt;-->
<!--&lt;!&ndash;                                 [textarea]="false"&ndash;&gt;-->
<!--&lt;!&ndash;                                 [textareaAutosize]="false"/>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div>&ndash;&gt;-->
<!--&lt;!&ndash;            <app-text-form-group formControlName="description"&ndash;&gt;-->
<!--&lt;!&ndash;                                 [languages]="form.controls.languages.value"&ndash;&gt;-->
<!--&lt;!&ndash;                                 [language]="language"&ndash;&gt;-->
<!--&lt;!&ndash;                                 [textarea]="true"&ndash;&gt;-->
<!--&lt;!&ndash;                                 [textareaAutosize]="true"/>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div>&ndash;&gt;-->
<!--&lt;!&ndash;            <app-text-form-group formControlName="endText"&ndash;&gt;-->
<!--&lt;!&ndash;                                 [languages]="form.controls.languages.value"&ndash;&gt;-->
<!--&lt;!&ndash;                                 [language]="language"&ndash;&gt;-->
<!--&lt;!&ndash;                                 [textarea]="true"&ndash;&gt;-->
<!--&lt;!&ndash;                                 [textareaAutosize]="true"/>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          @if (entity()?.warningEnabled) {&ndash;&gt;-->
<!--&lt;!&ndash;            <div>&ndash;&gt;-->
<!--&lt;!&ndash;              <app-text-form-group formControlName="warn"&ndash;&gt;-->
<!--&lt;!&ndash;                                   [languages]="form.controls.languages.value"&ndash;&gt;-->
<!--&lt;!&ndash;                                   [language]="language"&ndash;&gt;-->
<!--&lt;!&ndash;                                   [textarea]="true"&ndash;&gt;-->
<!--&lt;!&ndash;                                   [textareaAutosize]="true"/>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          }&ndash;&gt;-->
<!--&lt;!&ndash;          <ng-container formGroupName="schedule">&ndash;&gt;-->
<!--&lt;!&ndash;            <ng-container formGroupName="notification">&ndash;&gt;-->
<!--&lt;!&ndash;              <div>&ndash;&gt;-->
<!--&lt;!&ndash;                <app-text-form-group formControlName="title"&ndash;&gt;-->
<!--&lt;!&ndash;                                     [languages]="form.controls.languages.value"&ndash;&gt;-->
<!--&lt;!&ndash;                                     [language]="language"&ndash;&gt;-->
<!--&lt;!&ndash;                                     [textarea]="true"&ndash;&gt;-->
<!--&lt;!&ndash;                                     [textareaAutosize]="true"/>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div>&ndash;&gt;-->
<!--&lt;!&ndash;                <app-text-form-group formControlName="text"&ndash;&gt;-->
<!--&lt;!&ndash;                                     [languages]="form.controls.languages.value"&ndash;&gt;-->
<!--&lt;!&ndash;                                     [language]="language"&ndash;&gt;-->
<!--&lt;!&ndash;                                     [textarea]="true"&ndash;&gt;-->
<!--&lt;!&ndash;                                     [textareaAutosize]="true"/>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </ng-container>&ndash;&gt;-->
<!--&lt;!&ndash;          </ng-container>&ndash;&gt;-->
<!--&lt;!&ndash;          &lt;!&ndash;      <div>{{ entity()?.schedule?.notification?.title?.[language.id] }}</div>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;            &lt;!&ndash;      <div>{{ entity()?.schedule?.notification?.text?.[language.id] }}</div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;          <div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;            <app-text-form-group class="mb-4"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                                 formControlName="title"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                                 [languages]="form.controls.languages.value"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                                 [label]="`${_prefix}.titleLabel` | translate"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                                 [textarea]="false"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                                 [textareaAutosize]="false"/>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;          </div>&ndash;&gt;&ndash;&gt;-->
<!--          @for (question of form.controls.questions.controls; track $index) {-->
<!--            <div class="border-y"></div>-->
<!--            <div>-->
<!--              <app-text-form-group [formControl]="$any(question.controls['field_label'])"-->
<!--                                   [languages]="form.controls.languages.value"-->
<!--                                   [language]="language"-->
<!--                                   [textarea]="true"-->
<!--                                   [textareaAutosize]="true"/>-->
<!--            </div>-->
<!--            @if (question.controls['section_header']) {-->
<!--              <div>-->
<!--                <app-text-form-group [formControl]="$any(question.controls['section_header'])"-->
<!--                                     [languages]="form.controls.languages.value"-->
<!--                                     [language]="language"-->
<!--                                     [textarea]="true"-->
<!--                                     [textareaAutosize]="true"/>-->
<!--              </div>-->
<!--            }-->
<!--            @if (question.controls['field_note']) {-->
<!--              <div>-->
<!--                <app-text-form-group [formControl]="$any(question.controls['field_note'])"-->
<!--                                     [languages]="form.controls.languages.value"-->
<!--                                     [language]="language"-->
<!--                                     [textarea]="true"-->
<!--                                     [textareaAutosize]="true"/>-->
<!--              </div>-->
<!--            }-->
<!--            @for (choice of $any($any(question.controls['select_choices_or_calculations']).controls); track choice.code) {-->
<!--              <div>-->
<!--                <app-text-form-group [formControl]="$any(choice.controls['label'])"-->
<!--                                     [languages]="form.controls.languages.value"-->
<!--                                     [language]="language"-->
<!--                                     [textarea]="false"-->
<!--                                     [textareaAutosize]="false"/>-->
<!--              </div>-->
<!--            }-->
<!--          }-->
<!--&lt;!&ndash;        }&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->
<!--}-->


@let _prefix = 'ADMIN.questionnaire.dialog';
@let defaultLanguage = dialogState.selectedQuestionnaire()?.defaultLanguage;

@if (defaultLanguage) {
  <form [formGroup]='form' novalidate>

    <div class="">
      <app-mat-select-autocomplete formControlName="languages"
                                   [options]="ISO_LANGUAGES"
                                   [label]="`${_prefix}.languagesLabel` | translate"
                                   [required]="true"
                                   [multiple]="true"
                                   [notRemovable]="defaultLanguage"/>
    </div>

    @let languages = form.controls.languages.value;
    <div class="w-full overflow-x-auto border border-gray-300">
      <div [style.grid-template-rows]="`repeat(${numberOfRows}, max-content)`"
           class="grid grid-flow-col auto-cols-[minmax(300px,max-content)] text-xs *:border *:border-gray-300 *:p-2 *:-mt-px *:-ml-px">
        <div class=""></div>
        <div class="">Title</div>
        <div class="">Description</div>
        <div class="">End Text</div>
        @if (dialogState.selectedQuestionnaire()?.warningEnabled) {
          <div class="">Warn</div>
        }
        <div class="">Notification Title</div>
        <div class="">Notification Text</div>
        @for (question of dialogState.selectedQuestionnaire()?.questions; track question.field_name) {
          <div class="border-y">Question {{ question.field_name }}</div>
          <div>Field Label</div>
          @if (question.section_header?.[defaultLanguage.id]) {
            <div>Section Header</div>
          }
          @if (question.field_note?.[defaultLanguage.id]) {
            <div>Field Note</div>
          }
          @for (choice of question.select_choices_or_calculations; track choice.code) {
            <div>Choice {{ choice.code }}</div>
          }
        }

<!--        &#45;&#45;&#45;&#45;-->

        @let language = dialogState.selectedQuestionnaire()?.defaultLanguage;
        @if (language) {
          <div>{{ language._name }}</div>
          <div>
            <app-text-form-group [language]="language"
                                 [textarea]="false"
                                 [textareaAutosize]="false"
                                 [textGroup]="form.controls.title"/>
          </div>
          <div>
            <app-text-form-group [language]="language"
                                 [textarea]="true"
                                 [textareaAutosize]="true"
                                 [textGroup]="form.controls.description"/>
          </div>
          <div>
            <app-text-form-group [language]="language"
                                 [textarea]="true"
                                 [textareaAutosize]="true"
                                 [textGroup]="form.controls.endText"/>
          </div>
          @if (dialogState.selectedQuestionnaire()?.warningEnabled) {
            <div>
              <app-text-form-group [language]="language"
                                   [textarea]="true"
                                   [textareaAutosize]="true"
                                   [textGroup]="form.controls.warn"/>
            </div>
          }
          <ng-container formGroupName="schedule">
            <ng-container formGroupName="notification">
              <div>
                <app-text-form-group [language]="language"
                                     [textarea]="true"
                                     [textareaAutosize]="true"
                                     [textGroup]="form.controls.schedule.controls.notification.controls.title"/>
              </div>
              <div>
                <app-text-form-group [language]="language"
                                     [textarea]="true"
                                     [textareaAutosize]="true"
                                     [textGroup]="form.controls.schedule.controls.notification.controls.text"/>
              </div>
            </ng-container>
          </ng-container>
          <!--      <div>{{ entity()?.schedule?.notification?.title?.[language.id] }}</div>-->

            <!--      <div>{{ entity()?.schedule?.notification?.text?.[language.id] }}</div>-->
            <!--          <div>-->
            <!--            <app-text-form-group class="mb-4"-->
            <!--                                 formControlName="title"-->
            <!--                                 [languages]="form.controls.languages.value"-->
            <!--                                 [label]="`${_prefix}.titleLabel` | translate"-->
            <!--                                 [textarea]="false"-->
            <!--                                 [textareaAutosize]="false"/>-->
            <!--          </div>-->
          @for (question of form.controls.questions.controls; track $index) {
            <div class="border-y"></div>
            <div>
              <app-text-form-group [language]="language"
                                   [textarea]="true"
                                   [textareaAutosize]="true"
                                   [textGroup]="asFormGroup(question.controls['field_label'])"/>
            </div>
            @if (question.controls['section_header']) {
              <div>
                <app-text-form-group [language]="language"
                                     [textarea]="true"
                                     [textareaAutosize]="true"
                                     [textGroup]="asFormGroup(question.controls['section_header'])"/>
              </div>
            }
            @if (question.controls['field_note']) {
              <div>
                <app-text-form-group [language]="language"
                                     [textarea]="true"
                                     [textareaAutosize]="true"
                                     [textGroup]="asFormGroup(question.controls['field_note'])"/>
              </div>
            }
            @for (choice of $any($any(question.controls['select_choices_or_calculations']).controls); track choice.code) {
              <div>
                <app-text-form-group [language]="language"
                                     [textarea]="false"
                                     [textareaAutosize]="false"
                                     [textGroup]="asFormGroup(choice.controls['label'])"/>
              </div>
            }
          }
        }

        @for (language of languages; track language.id) {
          @if(language.id !== dialogState.selectedQuestionnaire()?.defaultLanguage?.id) {
            <div>{{ language._name }}</div>
            <div>
              <app-text-form-group [language]="language"
                                   [textarea]="false"
                                   [textareaAutosize]="false"
                                   [textGroup]="form.controls.title"/>
            </div>
            <div>
              <app-text-form-group [language]="language"
                                   [textarea]="true"
                                   [textareaAutosize]="true"
                                   [textGroup]="form.controls.description"/>
            </div>
            <div>
              <app-text-form-group [language]="language"
                                   [textarea]="true"
                                   [textareaAutosize]="true"
                                   [textGroup]="form.controls.endText"/>
            </div>
            @if (dialogState.selectedQuestionnaire()?.warningEnabled) {
              <div>
                <app-text-form-group [language]="language"
                                     [textarea]="true"
                                     [textareaAutosize]="true"
                                     [textGroup]="form.controls.warn"/>
              </div>
            }
            <ng-container formGroupName="schedule">
              <ng-container formGroupName="notification">
                <div>
                  <app-text-form-group [language]="language"
                                       [textarea]="true"
                                       [textareaAutosize]="true"
                                       [textGroup]="form.controls.schedule.controls.notification.controls.title"/>
                </div>
                <div>
                  <app-text-form-group [language]="language"
                                       [textarea]="true"
                                       [textareaAutosize]="true"
                                       [textGroup]="form.controls.schedule.controls.notification.controls.text"/>
                </div>
              </ng-container>
            </ng-container>
            <!--      <div>{{ entity()?.schedule?.notification?.title?.[language.id] }}</div>-->

              <!--      <div>{{ entity()?.schedule?.notification?.text?.[language.id] }}</div>-->
              <!--          <div>-->
              <!--            <app-text-form-group class="mb-4"-->
              <!--                                 formControlName="title"-->
              <!--                                 [languages]="form.controls.languages.value"-->
              <!--                                 [label]="`${_prefix}.titleLabel` | translate"-->
              <!--                                 [textarea]="false"-->
              <!--                                 [textareaAutosize]="false"/>-->
              <!--          </div>-->
            @for (question of form.controls.questions.controls; track $index) {
              <div class="border-y"></div>
              <div>
                <app-text-form-group [language]="language"
                                     [textarea]="true"
                                     [textareaAutosize]="true"
                                     [textGroup]="asFormGroup(question.controls['field_label'])"/>
              </div>
              @if (question.controls['section_header']) {
                <div>
                  <app-text-form-group [language]="language"
                                       [textarea]="true"
                                       [textareaAutosize]="true"
                                       [textGroup]="asFormGroup(question.controls['section_header'])"/>
                </div>
              }
              @if (question.controls['field_note']) {
                <div>
                  <app-text-form-group [language]="language"
                                       [textarea]="true"
                                       [textareaAutosize]="true"
                                       [textGroup]="asFormGroup(question.controls['field_note'])"/>
                </div>
              }
              @for (choice of $any($any(question.controls['select_choices_or_calculations']).controls); track choice.code) {
                <div>
                  <app-text-form-group [formControl]="$any(choice.controls['label'])"
                                       [language]="language"
                                       [textarea]="false"
                                       [textareaAutosize]="false"
                                       [textGroup]="asFormGroup(choice.controls['label'])"/>
                </div>
              }
            }
          }
        }
      </div>
    </div>
  </form>
}
