@let _prefix = 'ADMIN.questionnaire.dialog';
@let defaultLanguage = entity?.defaultLanguage;

@if (defaultLanguage) {
  <form [formGroup]='form' novalidate>

    <div class="">
      <app-mat-select-autocomplete formControlName="languages"
                                   [options]="ISO_LANGUAGES"
                                   [label]="`${_prefix}.languagesLabel` | translate"
                                   [required]="true"
                                   [multiple]="true"
                                   [notRemovable]="defaultLanguage"
                                   [adapter]="languageAdapter" />
    </div>

    @let languages = form.controls.languages.value;
<!--    <pre>{{entity | json}}</pre>-->
    <div class="w-full overflow-x-auto border border-gray-300">
<!--      <div class="grid grid-cols-3 gap-4">-->
<!--      <div [style.grid-template-rows]="`repeat(7, max-content)`"-->
<!--           class="grid grid-flow-col auto-cols-[minmax(300px,max-content)] text-xs *:border *:border-gray-300 *:p-2 *:-mt-px *:-ml-px">-->
      <div [style.grid-template-rows]="`repeat(${numberOfRows}, max-content)`"
           class="grid grid-flow-col auto-cols-[minmax(300px,max-content)] text-xs *:border *:border-gray-300 *:p-2 *:-mt-px *:-ml-px">
        <div class=""></div>
        <div class="">Title</div>
        <div class="">Description</div>
        <div class="">End Text</div>
        @if (entity?.warningEnabled) {
          <div class="">Warn</div>
        }
        <div class="">Notification Title</div>
        <div class="">Notification Text</div>

        @for (question of entity?.questions; track question.field_name) {
<!--          {{question | json}}-->
          <div class="border-y">Question <code class="text-secondary">{{ question.field_name }}</code></div>
          <div>Field Label</div>
          @if (question.section_header?.[defaultLanguage.code]) {
            <div>Section Header</div>
          }
          @if (question.field_note?.[defaultLanguage.code]) {
            <div>Field Note</div>
          }
          @for (choice of question.select_choices_or_calculations; track choice.code) {
            <div>Choice {{ choice.code }}</div>
          }
        }

        @let language = entity?.defaultLanguage;
        @if (language) {
          <div>{{ language.label }}</div>
          <div>
            <app-text-form-group [language]="language"
                                 [textarea]="false"
                                 [textareaAutosize]="false"
                                 [textGroup]="form.controls.title"
                                 [value]="entity?.title"/>
          </div>
          <div>
            <app-text-form-group [language]="language"
                                 [textarea]="true"
                                 [textareaAutosize]="true"
                                 [textGroup]="form.controls.description"
                                 [value]="entity?.description"/>
          </div>
          <div>
            <app-text-form-group [language]="language"
                                 [textarea]="true"
                                 [textareaAutosize]="true"
                                 [textGroup]="form.controls.endText"
                                 [value]="entity?.endText"/>
          </div>
          @if (entity?.warningEnabled) {
            <div>
              <app-text-form-group [language]="language"
                                   [textarea]="true"
                                   [textareaAutosize]="true"
                                   [textGroup]="form.controls.warn"
                                   [value]="entity?.warn"/>
            </div>
          }
          <ng-container formGroupName="schedule">
            <ng-container formGroupName="notification">
              <div>
                <app-text-form-group [language]="language"
                                     [textarea]="true"
                                     [textareaAutosize]="true"
                                     [textGroup]="form.controls.schedule.controls.notification.controls.title"
                                     [value]="entity?.schedule?.notification?.title"/>
              </div>
              <div>
                <app-text-form-group [language]="language"
                                     [textarea]="true"
                                     [textareaAutosize]="true"
                                     [textGroup]="form.controls.schedule.controls.notification.controls.text"
                                     [value]="entity?.schedule?.notification?.text"/>
              </div>
            </ng-container>
          </ng-container>

          @for (question of form.controls.questions.controls; track $index; let i = $index) {
            <div class="border-y"></div>
            <div>
              <app-text-form-group [language]="language"
                                   [textarea]="true"
                                   [textareaAutosize]="true"
                                   [textGroup]="asFormGroup(question.controls['field_label'])"
                                   [value]="entity?.questions?.[i]?.field_label"/>
            </div>
            @if (question.controls['section_header']) {
              <div>
                <app-text-form-group [language]="language"
                                     [textarea]="true"
                                     [textareaAutosize]="true"
                                     [textGroup]="asFormGroup(question.controls['section_header'])"
                                     [value]="entity?.questions?.[i]?.section_header"/>
              </div>
            }
            @if (question.controls['field_note']) {
              <div>
                <app-text-form-group [language]="language"
                                     [textarea]="true"
                                     [textareaAutosize]="true"
                                     [textGroup]="asFormGroup(question.controls['field_note'])"
                                     [value]="entity?.questions?.[i]?.field_note"/>
              </div>
            }
            @for (choice of $any($any(question.controls['select_choices_or_calculations']).controls); track $index; let j = $index) {
              <div>
                <app-text-form-group [language]="language"
                                     [textarea]="false"
                                     [textareaAutosize]="false"
                                     [textGroup]="asFormGroup(choice.controls['label'])"
                                     [value]="entity?.questions?.[i]?.select_choices_or_calculations?.[j]?.label"/>
              </div>
            }
          }
        }

        @for (language of languages; track language.code) {
          @if(language.code !== entity?.defaultLanguage?.code) {
            <div>{{ language.label }}</div>
            <div>
              <app-text-form-group [language]="language"
                                   [textarea]="false"
                                   [textareaAutosize]="false"
                                   [textGroup]="form.controls.title"
                                   [value]="entity?.title"/>
            </div>
            <div>
              <app-text-form-group [language]="language"
                                   [textarea]="true"
                                   [textareaAutosize]="true"
                                   [textGroup]="form.controls.description"
                                   [value]="entity?.description"/>
            </div>
            <div>
              <app-text-form-group [language]="language"
                                   [textarea]="true"
                                   [textareaAutosize]="true"
                                   [textGroup]="form.controls.endText"
                                   [value]="entity?.endText"/>
            </div>
            @if (entity?.warningEnabled) {
              <div>
                <app-text-form-group [language]="language"
                                     [textarea]="true"
                                     [textareaAutosize]="true"
                                     [textGroup]="form.controls.warn"
                                     [value]="entity?.warn"/>
              </div>
            }
            <ng-container formGroupName="schedule">
              <ng-container formGroupName="notification">
                <div>
                  <app-text-form-group [language]="language"
                                       [textarea]="true"
                                       [textareaAutosize]="true"
                                       [textGroup]="form.controls.schedule.controls.notification.controls.title"
                                       [value]="entity?.schedule?.notification?.title"/>
                </div>
                <div>
                  <app-text-form-group [language]="language"
                                       [textarea]="true"
                                       [textareaAutosize]="true"
                                       [textGroup]="form.controls.schedule.controls.notification.controls.text"
                                       [value]="entity?.schedule?.notification?.text"/>
                </div>
              </ng-container>
            </ng-container>

            @for (question of form.controls.questions.controls; track $index; let i = $index) {
              <div class="border-y"></div>
              <div>
                <app-text-form-group [language]="language"
                                     [textarea]="true"
                                     [textareaAutosize]="true"
                                     [textGroup]="asFormGroup(question.controls['field_label'])"
                                     [value]="entity?.questions?.[i]?.field_label"/>
              </div>
              @if (question.controls['section_header']) {
                <div>
                  <app-text-form-group [language]="language"
                                       [textarea]="true"
                                       [textareaAutosize]="true"
                                       [textGroup]="asFormGroup(question.controls['section_header'])"
                                       [value]="entity?.questions?.[i]?.section_header"/>
                </div>
              }
              @if (question.controls['field_note']) {
                <div>
                  <app-text-form-group [language]="language"
                                       [textarea]="true"
                                       [textareaAutosize]="true"
                                       [textGroup]="asFormGroup(question.controls['field_note'])"
                                       [value]="entity?.questions?.[i]?.field_note"/>
                </div>
              }
              @for (choice of $any($any(question.controls['select_choices_or_calculations']).controls); track $index; let j = $index) {
                <div>
                  <app-text-form-group [language]="language"
                                       [textarea]="false"
                                       [textareaAutosize]="false"
                                       [textGroup]="asFormGroup(choice.controls['label'])"
                                       [value]="entity?.questions?.[i]?.select_choices_or_calculations?.[j]?.label"/>
                </div>
              }
            }
          }
        }
      </div>
    </div>
  </form>
}
