@let _prefix = 'ADMIN.questionnaire.dialog';
@let defaultLanguage = dialogState.selectedQuestionnaire()?.defaultLanguage;
--{{numberOfRows}}--
@if (defaultLanguage) {
  <form [formGroup]='form' novalidate>

    <div class="">
      <app-mat-select-autocomplete formControlName="languages"
                                   [options]="ISO_LANGUAGES"
                                   [label]="`${_prefix}.languagesLabel` | translate"
                                   [required]="true"
                                   [multiple]="true"
                                   [notRemovable]="defaultLanguage"/>
    </div>

    @let languages = form.controls.languages.value;
    <div class="w-full overflow-x-auto border border-gray-300">
      <div [style.grid-template-rows]="`repeat(${numberOfRows}, max-content)`"
           class="grid grid-flow-col auto-cols-[minmax(300px,max-content)] text-xs *:border *:border-gray-300 *:p-2 *:-mt-px *:-ml-px">
        <div class=""></div>
        <div class="">Title</div>
        <div class="">Description</div>
        <div class="">End Text</div>
        @if (dialogState.selectedQuestionnaire()?.warningEnabled) {
          <div class="">Warn</div>
        }
        <div class="">Notification Title</div>
        <div class="">Notification Text</div>
        @for (question of dialogState.selectedQuestionnaire()?.questions; track question.field_name) {
          <div class="border-y">Question {{ question.field_name }}</div>
          <div>Field Label</div>
          @if (question.section_header?.[defaultLanguage.id]) {
            <div>Section Header</div>
          }
          @if (question.field_note?.[defaultLanguage.id]) {
            <div>Field Note</div>
          }
          @for (choice of question.select_choices_or_calculations; track choice.code) {
            <div>Choice {{ choice.code }}</div>
          }
        }

        @let language = dialogState.selectedQuestionnaire()?.defaultLanguage;
        @if (language) {
          <div>{{ language._name }}</div>
          <div>
            <app-text-form-group [language]="language"
                                 [textarea]="false"
                                 [textareaAutosize]="false"
                                 [textGroup]="form.controls.title"/>
          </div>
          <div>
            <app-text-form-group [language]="language"
                                 [textarea]="true"
                                 [textareaAutosize]="true"
                                 [textGroup]="form.controls.description"/>
          </div>
          <div>
            <app-text-form-group [language]="language"
                                 [textarea]="true"
                                 [textareaAutosize]="true"
                                 [textGroup]="form.controls.endText"/>
          </div>
          @if (dialogState.selectedQuestionnaire()?.warningEnabled) {
            <div>
              <app-text-form-group [language]="language"
                                   [textarea]="true"
                                   [textareaAutosize]="true"
                                   [textGroup]="form.controls.warn"/>
            </div>
          }
          <ng-container formGroupName="schedule">
            <ng-container formGroupName="notification">
              <div>
                <app-text-form-group [language]="language"
                                     [textarea]="true"
                                     [textareaAutosize]="true"
                                     [textGroup]="form.controls.schedule.controls.notification.controls.title"/>
              </div>
              <div>
                <app-text-form-group [language]="language"
                                     [textarea]="true"
                                     [textareaAutosize]="true"
                                     [textGroup]="form.controls.schedule.controls.notification.controls.text"/>
              </div>
            </ng-container>
          </ng-container>

          @for (question of form.controls.questions.controls; track $index) {
            <div class="border-y"></div>
            <div>
              <app-text-form-group [language]="language"
                                   [textarea]="true"
                                   [textareaAutosize]="true"
                                   [textGroup]="asFormGroup(question.controls['field_label'])"/>
            </div>
            @if (question.controls['section_header']) {
              <div>
                <app-text-form-group [language]="language"
                                     [textarea]="true"
                                     [textareaAutosize]="true"
                                     [textGroup]="asFormGroup(question.controls['section_header'])"/>
              </div>
            }
            @if (question.controls['field_note']) {
              <div>
                <app-text-form-group [language]="language"
                                     [textarea]="true"
                                     [textareaAutosize]="true"
                                     [textGroup]="asFormGroup(question.controls['field_note'])"/>
              </div>
            }
            @for (choice of $any($any(question.controls['select_choices_or_calculations']).controls); track choice.code) {
              <div>
                <app-text-form-group [language]="language"
                                     [textarea]="false"
                                     [textareaAutosize]="false"
                                     [textGroup]="asFormGroup(choice.controls['label'])"/>
              </div>
            }
          }
        }

        @for (language of languages; track language.id) {
          @if(language.id !== dialogState.selectedQuestionnaire()?.defaultLanguage?.id) {
            <div>{{ language._name }}</div>
            <div>
              <app-text-form-group [language]="language"
                                   [textarea]="false"
                                   [textareaAutosize]="false"
                                   [textGroup]="form.controls.title"/>
            </div>
            <div>
              <app-text-form-group [language]="language"
                                   [textarea]="true"
                                   [textareaAutosize]="true"
                                   [textGroup]="form.controls.description"/>
            </div>
            <div>
              <app-text-form-group [language]="language"
                                   [textarea]="true"
                                   [textareaAutosize]="true"
                                   [textGroup]="form.controls.endText"/>
            </div>
            @if (dialogState.selectedQuestionnaire()?.warningEnabled) {
              <div>
                <app-text-form-group [language]="language"
                                     [textarea]="true"
                                     [textareaAutosize]="true"
                                     [textGroup]="form.controls.warn"/>
              </div>
            }
            <ng-container formGroupName="schedule">
              <ng-container formGroupName="notification">
                <div>
                  <app-text-form-group [language]="language"
                                       [textarea]="true"
                                       [textareaAutosize]="true"
                                       [textGroup]="form.controls.schedule.controls.notification.controls.title"/>
                </div>
                <div>
                  <app-text-form-group [language]="language"
                                       [textarea]="true"
                                       [textareaAutosize]="true"
                                       [textGroup]="form.controls.schedule.controls.notification.controls.text"/>
                </div>
              </ng-container>
            </ng-container>

            @for (question of form.controls.questions.controls; track $index) {
              <div class="border-y"></div>
              <div>
                <app-text-form-group [language]="language"
                                     [textarea]="true"
                                     [textareaAutosize]="true"
                                     [textGroup]="asFormGroup(question.controls['field_label'])"/>
              </div>
              @if (question.controls['section_header']) {
                <div>
                  <app-text-form-group [language]="language"
                                       [textarea]="true"
                                       [textareaAutosize]="true"
                                       [textGroup]="asFormGroup(question.controls['section_header'])"/>
                </div>
              }
              @if (question.controls['field_note']) {
                <div>
                  <app-text-form-group [language]="language"
                                       [textarea]="true"
                                       [textareaAutosize]="true"
                                       [textGroup]="asFormGroup(question.controls['field_note'])"/>
                </div>
              }
              @for (choice of $any($any(question.controls['select_choices_or_calculations']).controls); track choice.code) {
                <div>
                  <app-text-form-group [language]="language"
                                       [textarea]="false"
                                       [textareaAutosize]="false"
                                       [textGroup]="asFormGroup(choice.controls['label'])"/>
                </div>
              }
            }
          }
        }
      </div>
    </div>
  </form>
}
