<div class="px-4 mb-4 flex gap-2 items-center">
  <span class="text-sm">
    {{ "ADMIN.subject.assignGroupDialog.message" | translate:{numberOfItems: selection().selected.length} }}
  </span>
  @if (selection().selected.length) {
    <button type='button'
            mat-stroked-button
            color='primary'
            (click)='assignGroupToSubjects($event)'>
      <span class="text-sm font-bold flex items-center gap-2">
        <mat-icon class="text-base! material-symbols-outlined">add</mat-icon>
        {{ "ADMIN.subject.assignGroupDialog.button" | translate }}
      </span>
    </button>
  }
</div>
