@switch (config.type) {
  @case ('slideToggle') {
    <div>
      <mat-slide-toggle color="primary" [formControl]="form">{{ config.label ?? '' | translate}}</mat-slide-toggle>
    </div>
  }
  @default {
    @if(!floatLabel) {
      <label [for]="config.name" class="text-sm">{{ 'ADMIN.' + entityName() + '.' + config.name + '.label' | translate }}</label>
    }
    <mat-form-field appearance='outline' [floatLabel]='floatLabel ? "always" : "auto"'>
      @if(floatLabel) {
        <mat-label>{{ 'ADMIN.' + entityName() + '.' + config.name + '.label' | translate }}</mat-label>
      }

      @switch (config.type) {
        @case ('text') {
          <input matInput
                 [id]="config.name"
                 autocomplete="off" data-lpignore="true"
                 [formControl]="form"
                 [placeholder]="config.placeholder ?? ''"
                 [required]="!!config.required"
                 [attr.maxlength]="config.maxlength"
                 type="text"
                 (blur)="form.markAsTouched()" />
        }
        @case ('textarea') {
          <textarea matInput
                    [formControl]="form"
                    [rows]="config.rows ?? 3"
                    [maxlength]="config.maxlength ?? 255"
                    [required]="!!config.required"
                    [placeholder]="config.placeholder ?? ''"
                    (blur)="form.markAsTouched()">
          </textarea>
        }
        @case ('date') {
          <input matInput [matDatepicker]='datePicker'
                 [formControl]="form"
                 [min]="config.minDate | toDate" [max]="config.maxDate | toDate"
                 [placeholder]="dateFormat" />
          <mat-datepicker-toggle matSuffix [for]='datePicker'></mat-datepicker-toggle>
          <mat-datepicker #datePicker></mat-datepicker>
        }
        @case ('simpleSelect') {
          <mat-select [formControl]="form">
            @for (option of config.options; track option.value) {
              <mat-option [value]="option.value">{{ option.label | translate }}</mat-option>
            }
          </mat-select>
        }
        @case ('slideToggle') {
          <mat-slide-toggle color="primary" [formControl]="form">ROLE_ORGANIZATION_ADMIN</mat-slide-toggle>
        }
      }
      <mat-hint align="start">
        @if (config.hint) {
          {{ValidatorHint.normalTextValidator}}
        }
      </mat-hint>
      <mat-hint align="end">
        @if (config.maxlength) {
<!--          {{(form.valueChanges | async)?.length ?? 0}} / {{config.maxlength ?? 255}}-->
        }
      </mat-hint>
      @if (config.validators?.duplicateValidator) {
        <mat-error *ngIf="form.errors?.['duplicate']">
          {{ "Organization name exists" }}
        </mat-error>
      }
      @if (config.validators?.longTextValidator) {
        <mat-error *ngIf="form.errors?.['pattern']">
          {{ValidatorError.longTextValidator}}
        </mat-error>
      }
      @if (config.validators?.normalTextValidator) {
        <mat-error *ngIf="form.errors?.['pattern']">
          {{ValidatorError.normalTextValidator}}
        </mat-error>
      }
      @if (config.validators?.requiredValidator) {
        <mat-error *ngIf="form.errors?.['required']">
          {{ValidatorError.requiredValidator | translate:{value: 'ADMIN.' + entityName() + '.' + config.name + '.label' | translate} }}
        </mat-error>
      }
      @if (config.type === 'date') {
        <mat-error *ngIf="form.errors?.['matDatepickerMin']">
          Date is out of range. It should be after {{config.minDate | toDate | date}}. <!-- TODO translate -->
        </mat-error>
        <mat-error *ngIf="form.errors?.['matDatepickerMax']">
          Date is out of range. It should be before {{config.maxDate | toDate | date}}. <!-- TODO translate -->
        </mat-error>
        <mat-error *ngIf="form.errors?.['matDatepickerParse']">
          {{ 'ADMIN.project.startDate.startDateInvalid' | translate }}
        </mat-error>
        <mat-error *ngIf="form.errors?.['matStartDateInvalid']">
          {{ 'ADMIN.project.startDate.startDateInvalid' | translate }}
        </mat-error>
      }

    </mat-form-field>
  }
}
