<mat-drawer-container class="absolute! top-[56px]  sm:top-[64px] bottom-0 inset-x-0">
  <mat-drawer #drawer
              class="w-64! md:![transition-property:width] md:!duration-300 h-full"
              [opened]="!isHandset"
              [class]="!isMenuOpened && !isHandset ? 'w-0! md:w-[72px]!' : ''"
              [mode]="isHandset ? 'over' : 'side'">
    <div class="absolute inset-0 flex flex-col">
      <div class="flex-grow overflow-auto">
        <rb-sidebar-nav class="min-h-0"/>
      </div>
      <rb-footer class="" [isMenuOpen$]="isMenuOpened"/>
    </div>
  </mat-drawer>

  <mat-drawer-content class="duration-300"
                      [class]="!isMenuOpened && !isHandset ? 'md:!ml-[72px]' : 'md:!ml-[256px]'">
    <router-outlet/>
  </mat-drawer-content>
</mat-drawer-container>
