<rb-entities-page-header [showTitle]="true"
                         [entityName]="name"
                         [isGridView]="gridView"
                         [permission]="[{role: ROLES.SYS_ADMIN}]"
                         (action)="onAction(DialogMode.ADD)"
                         (gridListToggled)="gridView = !gridView">
  @if (filters.length && entities && entities.length > MIN_ENTITIES_FOR_FILTERS) {
    <rb-data-table-filter bottom-filter
                          [filters]='filters'
                          [filterOpened]='isFilterOpened'
                          (filterChanged)='handleFilterChange($event)'
                          (filterEnableChanged)="onFilterEnabledChanged($event)" />
  }
</rb-entities-page-header>

@if (loading) {
  <rb-loader />
}

@if (!gridView) {
  <div class="rb-table"
       rbTableQueryReflector
       [page]="page" [sort]="sort" [defaultSort]="{sortField: 'id', sortOrder: 'desc'}"
       (activeQueryParams)="handleActiveQueryChange($event)"
       (dialogQueryParams)="onAction($event.mode, undefined, $event.id, undefined )">

    @if(entitiesToShow.length) {
      <div class="rb-table-header">
        @for (property of PROPERTIES; track property.name) {
          <div [class]="property.tableClass + ' ' + property.width + ' ' + property.classes"
               [class.flex-1]="!property.width"
               [class.shrink-0]="!!property.width">
            <button class="rb-table-head group" (click)="switchSort(property)">
              <span>{{ 'ADMIN.' + name + '.' + property.name + '.tableLabel' | translate }}</span>
              @if (property.sortable) {
                <div class="rb-table-sort" [class.opacity-0]="sort.sortField !== property.name">
                <span class="rb-sort-icon material-symbols-outlined">
                  {{ sort.sortField === property.name && sort.sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward'}}
                </span>
                </div>
              }
            </button>
          </div>
        }
        <div class='w-20'>
          <span>{{ 'ADMIN.' + name + '.actions' | translate }}</span>
        </div>
      </div>
    }

    @if (entitiesToShow) {
      @for (entity of entitiesToShow; track entity.id) {
        <rb-project-table-row [entity]="entity" [expandedElement]="expandedElement" [updated]="updated"
                                   (actionEvent)="onAction($event.mode, $event.entity, undefined)"/>
      }
    }
  </div>
}

@if (entitiesToShow && gridView) {
  <div class="grid-container">
    @for (entity of entitiesToShow; track entity.id) {
      <rb-project-card [entity]="entity" [updated]="updated"
                            (actionEvent)="onAction($event.mode, $event.entity)" />
    }
  </div>
}

<div class="flex items-center px-4 text-sm">
  @if (!entities?.length) {
    <span>{{ 'ADMIN.' + name + '.noItemFound' | translate }}</span>
  }
  @if (entities?.length && !entitiesToShow?.length) {
    <span>{{ 'No item found with this filter' | translate }}</span>
  }
</div>

@if (filters.length && entities && entities.length > MIN_ENTITIES_FOR_PAGINATION) {
  <mat-paginator (page)="switchPage($event)"
                 [length]="filteredAndSortedEntities.length"
                 [pageSize]="page.pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 [pageIndex]="page.pageIndex"
                 aria-label="Select page" />
}


<!--  <ng-container *ngIf="entitiesToShow">-->
<!--    <div class="rb-table-row" [ngClass]="updated === entity.id ? 'bg-green-100!' : ''"-->
<!--         *ngFor="let entity of entitiesToShow">-->
<!--      <div class="rb-table-main-row">-->
<!--        <div *ngFor="let property of PROPERTIES"-->
<!--             [class]="property.tableClass + ' ' + property.width + ' ' + property.classes"-->
<!--             [class.flex-1]="!property.width"-->
<!--             [class.shrink-0]="!!property.width"-->
<!--             [ngSwitch]="property.name">-->
<!--            <ng-container *ngSwitchCase="'name'">-->
<!--              <a [routerLink]='["..", entity.name]'>-->
<!--                <span class='font-bold text-primary-color'>{{ entity.name }}</span>-->
<!--              </a>-->
<!--              <p class="text-neutral-500 dark:text-neutral-300">{{entity.description}}</p>-->
<!--            </ng-container>-->

<!--            <ng-container *ngSwitchCase="'startDate'">-->
<!--              <rb-local-date [date]="entity['startDate']" [format]="'mediumDate'"></rb-local-date>-->
<!--            </ng-container>-->

<!--            <ng-container *ngSwitchCase="'endDate'">-->
<!--              <rb-local-date [date]="entity['endDate']" [format]="'mediumDate'"></rb-local-date>-->
<!--            </ng-container>-->

<!--            <ng-container *ngSwitchCase="'projectStatus'">-->
<!--              <rb-project-status [projectStatus]="entity['projectStatus']"></rb-project-status>-->
<!--            </ng-container>-->

<!--            <ng-container *ngSwitchCase="'sourceTypes'">-->
<!--              <rb-project-source-types [sourceTypes]="entity['sourceTypes']"></rb-project-source-types>-->
<!--            </ng-container>-->

<!--            <ng-container *ngSwitchDefault>{{ entity[property.name] || '-' }}</ng-container>-->
<!--        </div>-->
<!--        <div class='w-20'>-->
<!--          <button mat-icon-button class="mat-small-icon-button lg:hidden!"-->
<!--                  (click)="$event.stopPropagation(); expandedElement = expandedElement === entity ? null : entity">-->
<!--            <span class="material-symbols-outlined">-->
<!--              {{entity !== expandedElement ? 'expand_more' : 'expand_less'}}-->
<!--            </span>-->
<!--          </button>-->
<!--          &lt;!&ndash;          <rb-actions [entity]="entity" (action)="onAction($event.mode, $event.entity)"></rb-actions>&ndash;&gt;-->
<!--          <ng-container *rbPermission="[{role: ROLES.SYS_ADMIN}, {role: ROLES.ORGANIZATION_ADMIN, entityName: entity.name}]">-->
<!--            <button class="mat-small-icon-button"-->
<!--                    mat-icon-button color="primary"-->
<!--                    (click)='onAction(DialogMode.EDIT, entity, undefined)'>-->
<!--              <span class="material-symbols-outlined">edit</span>-->
<!--            </button>-->
<!--            <button class="mat-small-icon-button" mat-icon-button color="warn"-->
<!--                    (click)='onAction(DialogMode.DELETE, entity, undefined)'>-->
<!--              <span class="material-symbols-outlined">delete</span>-->
<!--            </button>-->
<!--          </ng-container>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="rb-table-extension-row" [@detailExpand]="entity === expandedElement ? 'expanded' : 'collapsed'">-->
<!--        <rb-project-details [entity]='entity' [type]="DetailType.TABLE"></rb-project-details>-->
<!--      </div>-->
<!--    </div>-->
<!--  </ng-container>-->
<!--</div>-->

<!--<div *ngIf="entitiesToShow"-->
<!--     class="grid-container" [ngClass]="{'hidden!': !gridView}">-->
<!--  <mat-card *ngFor="let entity of entitiesToShow"-->
<!--            class="cursor-pointer flex justify-center p-0! flex-row!"-->
<!--            [ngClass]="updated === entity.id ? 'bg-green-100!' : ''"-->
<!--            [routerLink]='[entity.name]'>-->
<!--    <mat-card-content class="p-0! w-full">-->
<!--      <div class="p-4 flex items-center justify-between gap-2 w-full">-->
<!--        <div class="flex items-center gap-2">-->
<!--          <span class="material-symbols-outlined font-bold">folder</span>-->
<!--          <div class='text-lg m-0 font-bold'>{{entity.name}}</div>-->
<!--        </div>-->
<!--&lt;!&ndash;        <div class="flex items-center gap-4">&ndash;&gt;-->
<!--&lt;!&ndash;          <rb-project-status [projectStatus]="entity['projectStatus']"></rb-project-status>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;          <button mat-icon-button class="mat-small-icon-button">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <span class="font-bold material-symbols-outlined">more_vert</span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;          </button>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;          <rb-actions *rbPermission="[{role: ROLES.SYS_ADMIN}, {role: ROLES.ORGANIZATION_ADMIN, entityName: entity.name}]" [entity]="entity" (action)="onAction($event.mode, $event.entity)"></rb-actions>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--        <div class="flex items-center gap-4">-->

<!--          &lt;!&ndash;          <button mat-icon-button class="mat-small-icon-button">&ndash;&gt;-->
<!--          &lt;!&ndash;            <span class="font-bold material-symbols-outlined">more_vert</span>&ndash;&gt;-->
<!--          &lt;!&ndash;          </button>&ndash;&gt;-->
<!--          <rb-actions *rbPermission="[{role: ROLES.SYS_ADMIN}, {role: ROLES.ORGANIZATION_ADMIN, entityName: entity.name}]" [entity]="entity" (action)="onAction($event.mode, $event.entity)"></rb-actions>-->
<!--        </div>-->

<!--      </div>-->
<!--      <div class="flex justify-end px-4">-->
<!--        <rb-project-status class="" [projectStatus]="entity['projectStatus']"></rb-project-status>-->
<!--      </div>-->

<!--      <div class="p-4">-->
<!--        <div class="text-sm text-gray-500 dark:text-gray-300">{{entity.description}}</div>-->
<!--&lt;!&ndash;        <div class="flex justify-between">&ndash;&gt;-->
<!--          <div class="text-sm flex mt-4 gap-4 items-center text-gray-500 dark:text-gray-300">-->
<!--            <span class="material-symbols-outlined text-xl shrink-0">date_range</span>-->
<!--            <ng-container *ngIf="(entity['startDate'] || entity['endDate']); else noDateTemplate">-->
<!--              <rb-local-date [date]="entity['startDate']" [format]="'mediumDate'"></rb-local-date>-->
<!--              <span> - </span>-->
<!--              <rb-local-date [date]="entity['endDate']" [format]="'mediumDate'"></rb-local-date>-->
<!--            </ng-container>-->
<!--            <ng-template #noDateTemplate>-->
<!--              Dates not set.-->
<!--            </ng-template>-->
<!--          </div>-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--      </div>-->
<!--      <div class="mt-4 border-t-2 border-neutral-100 p-4 dark:border-neutral-600 dark:text-neutral-50">-->
<!--        <div class="text-xs uppercase text-neutral-400 font-bold mb-1">Source Types ({{entity['sourceTypes']?.length ?? 0}})</div>-->
<!--        <rb-project-source-types [sourceTypes]="entity['sourceTypes']"></rb-project-source-types>-->
<!--      </div>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->
<!--&lt;!&ndash;  <div class="flex items-center">&ndash;&gt;-->
<!--&lt;!&ndash;    <span *ngIf="!entities?.length" >{{ 'ADMIN.project.noItemFound' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span *ngIf="entities?.length && !entitiesToShow?.length">{{ 'No item found with this filter' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--</div>-->

<!--<div class="flex items-center px-4 text-sm">-->
<!--  <span *ngIf="!entities?.length" >{{ 'ADMIN.' + name + '.noItemFound' | translate }}</span>-->
<!--  <span *ngIf="entities?.length && !entitiesToShow?.length">{{ 'No item found with this filter' | translate }}</span>-->
<!--</div>-->

<!--<mat-paginator (page)="switchPage($event)"-->
<!--               [length]="filteredAndSortedEntities.length"-->
<!--               [pageSize]="page.pageSize"-->
<!--               [pageSizeOptions]="pageSizeOptions"-->
<!--               [pageIndex]="page.pageIndex"-->
<!--               aria-label="Select page">-->
<!--</mat-paginator>-->
