@let _i18nForgotPassword = "AUTH.FORGOT_PASSWORD";
@let _i18nError = "AUTH.ERROR";

<div class="flex justify-center items-center h-full p-4">
  <mat-card class="w-full max-w-200">
    <mat-card-content class="p-0! block lg:grid! lg:grid-cols-2">
      <div class="p-8">
        <h4 class="my-12 text-center text-xl font-bold">{{ `${_i18nForgotPassword}.title` | translate }}</h4>

        @if (!success()) {
          <p class="mb-4">{{ `${_i18nForgotPassword}.subtitle` | translate }}</p>

          <form novalidate (submit)="onSubmit($event)">
            <app-input-form-field [field]="form.email" [label]="`${_i18nForgotPassword}.email`" [required]="true"/>

            @if (error()) {
              <app-error-box>
                {{ `${_i18nError}.${error()?.error?.errorCode ?? error()?.error?.error}` | translate }}
              </app-error-box>
            }

            <button mat-raised-button
                    class="w-full my-4"
                    color='primary'
                    type='submit'
                    name='update'
                    [disabled]='formSubmitDisabled()'>
              @if (loading()) {
                <mat-icon>
                  <mat-spinner diameter='20'/>
                </mat-icon>
              } @else {
                {{ `${_i18nForgotPassword}.submit` | translate }}
              }
            </button>
          </form>
        } @else {
          <div>
            <p>{{ `${_i18nForgotPassword}.successMessage` | translate }}</p>

            <button mat-raised-button
                    [disabled]="true"
                    class="w-full my-4 bg-green-200! text-green-700!"
                    color='primary'
                    name='update'>
              <mat-icon matIconSuffix>check</mat-icon>
              {{ `${_i18nForgotPassword}.success` | translate }}
            </button>
          </div>
        }
        <a class="text-primary" [routerLink]='["/auth/login"]'>
          {{ `${_i18nForgotPassword}.goToLogin` | translate }}
        </a>

      </div>
      <app-branding class="hidden lg:block w-full"/>
    </mat-card-content>
  </mat-card>
</div>
