<div class='px-6 py-4 flex flex-wrap justify-between gap-2 w-full border-t-2'>
  <div class='flex flex-wrap gap-2'>
    <button [mat-dialog-close]='true'
            (click)='close()'
            mat-stroked-button
            color="accent"
            type="button">
      {{mode !== DialogMode.DELETE ?
      ('SHARED.dialog.cancel' | translate) :
      ('SHARED.dialog.no' | translate)
      }}
    </button>
  </div>
  <div class='ml-auto justify-end flex items-center gap-2'>
    <ng-content></ng-content>
    @if (mode === DialogMode.DELETE) {
    <button [disabled]='isLoading'
            (click)='delete()'
            color="warn"
            mat-raised-button
            type="button">
      @if (isLoading) {
      <ng-container>
        <mat-icon><mat-spinner diameter='20'></mat-spinner></mat-icon>
        {{ 'SHARED.dialog.deletingButton' | translate }}
      </ng-container>
      }
      @if (!isLoading) {
      <ng-container>
        {{ 'SHARED.dialog.yes' | translate }}
      </ng-container>
      }
    </button>
    }
    @if (mode === DialogMode.EDIT) {
    <button [disabled]='!form?.valid || !form?.dirty || isLoading'
            (click)='save()'
            mat-raised-button
            color="primary"
            type="button">
      @if (isLoading) {
        <mat-icon>
        <mat-spinner diameter='20'></mat-spinner>
      </mat-icon>
      }
      {{ "SHARED.dialog.update" | translate }}
    </button>
    }
    @if (mode === DialogMode.ADD) {
    <button [disabled]='!form?.valid || isLoading'
            (click)='save()'
            color="primary"
            mat-raised-button
            type="button">
      @if (isLoading) {
      <mat-icon>
        <mat-spinner diameter='20'></mat-spinner>
      </mat-icon>
      }
      {{ "SHARED.dialog.create" | translate}}
    </button>
    }
  </div>
</div>
