@let _prefix = 'ADMIN.questionnaire.dialog';

@switch (type) {
  @case ('button') {
<!--    @if (entity().select_choices_or_calculations; as choices) {-->
<!--      @if (choices.length) {-->
<!--        <span class="text-neutral-500">{{ `${_prefix}.questionChoicesLabel` | translate }}</span>-->
<!--        <div class="flex flex-wrap gap-x-2">-->
<!--          @for (choice of choices; track choice.code) {-->
<!--            @if (choice.code) {-->
<!--              <span class="inline-flex gap-1">-->
<!--        <mat-icon class="material-symbols-outlined text-base!">-->
<!--          @switch (entity().field_type) {-->
<!--            @case ('radio') {-->
<!--              radio_button_unchecked-->
<!--            }-->
<!--            @case ('checkbox') {-->
<!--              check_box_outline_blank-->
<!--            }-->
<!--            @case ('range') {-->
<!--              radio_button_unchecked-->
<!--            }-->
<!--            @case ('range-info') {-->
<!--              radio_button_unchecked-->
<!--            }-->
<!--            @case ('info') {-->
<!--              info-->
<!--            }-->
<!--          }-->
<!--        </mat-icon>-->
<!--        <span class="pt-0.5">{{ choice.code }}-->
<!--          : {{ choice.label[language().id] }}</span>-->
<!--      </span>-->
<!--            } @else {-->
<!--              N/A-->
<!--            }-->
<!--          }-->
<!--        </div>-->
<!--      }-->
<!--    }-->
  }
  @case ('form') {
  }
  @case ('preview') {
    <app-question-header [question]="entity()" [language]="language()" />

    <mat-radio-group aria-label="Select an option" [value]="answer()?.value">
      <div>
        <mat-radio-button [value]="'1'" (click)="onPreviewInputChange('1')" [disabled]="isPreviewDisabled">
          <span class="ion-text-wrap">{{ 'Yes' | translate }}</span>
        </mat-radio-button>
      </div>
      <div>
        <mat-radio-button [value]="'0'" (click)="onPreviewInputChange('0')" [disabled]="isPreviewDisabled">
          <span class="ion-text-wrap">{{ 'No' | translate }}</span>
        </mat-radio-button>
      </div>
    </mat-radio-group>
    @if (!isPreviewDisabled) {
      <button color="warn" matButton class="my-4 text-sm!" (click)="onPreviewInputChange(null)">
        Clear
      </button>
    }
  }
  @case ('logic') {
    <mat-form-field class='small-input' appearance='outline' subscriptSizing="dynamic">
      <mat-select (selectionChange)="onLogicInputChange($event)" [value]="value">
        <mat-option [value]="'1'">
          <p>[1]: {{ `${_prefix}.yes` | translate }}</p>
        </mat-option>
        <mat-option [value]="'0'">
          <p>[0]: {{ `${_prefix}.no` | translate }}</p>
        </mat-option>
      </mat-select>
    </mat-form-field>
  }
}



