<!--<rb-loader *ngIf="isLoading"></rb-loader>-->

<!--<div class="flex justify-center items-center h-[calc(100vh-64px)] text-base">-->
<!--  <mat-card class="m-4 lg:w-10/12 xl:w-8/12">-->
<!--    <mat-card-content class="flex! p-0!">-->
<!--      <div class="text-center text-neutral-900 dark:text-neutral-100 shrink-0 grow-0 w-full p-4 md:p-16 md:w-1/2">-->
<!--        <div class="text-center">-->
<!--          <h4 class="mb-12 mt-1 pb-1 text-xl font-semibold">-->
<!--            <span *ngIf="!error">{{ 'SHARED.AUTHORIZATION_PAGE.title' | translate:-->
<!--                    {sourceType: sourceType, project: project} }}</span>-->
<!--            <span *ngIf="error">{{ 'SHARED.AUTHORIZATION_PAGE.ERROR.title' | translate }}</span>-->
<!--          </h4>-->
<!--          <h5>-->
<!--            <span *ngIf="!error">{{ 'SHARED.AUTHORIZATION_PAGE.subtitle' | translate:-->
<!--                  {sourceType: sourceType, project: project} }}-->
<!--            </span>-->
<!--            <span *ngIf="error">{{ 'SHARED.AUTHORIZATION_PAGE.ERROR.subtitle' | translate }}</span>-->
<!--          </h5>-->
<!--        </div>-->
<!--        <div *ngIf="!error">-->
<!--          <p>-->
<!--            {{ 'SHARED.AUTHORIZATION_PAGE.description' | translate:-->
<!--                  {sourceType: sourceType, project: project} }}-->
<!--          </p>-->
<!--          <button mat-raised-button class="gradient-btn w-full mt-2 mb-4" color="primary"-->
<!--                  (click)="authorize()"-->
<!--                  [disabled]="!authEndpointUrl">-->
<!--            {{ 'SHARED.AUTHORIZATION_PAGE.authorizeButton' | translate:{sourceType: sourceType} }}-->
<!--          </button>-->
<!--        </div>-->
<!--        <rb-message-box *ngIf="error">-->
<!--          {{error | translate}}-->
<!--          <br/><br/>-->
<!--          {{'SHARED.AUTHORIZATION_PAGE.ERROR.contactSupport' | translate}}-->
<!--        </rb-message-box>-->
<!--      </div>-->
<!--      <div class="hidden md:flex h-full w-full shrink-0 grow-0 items-center rounded-b-lg md:rounded-r-lg md:rounded-bl-none-->
<!--        bg-linear-to-r from-primary-color to-accent-color-500 dark:from-primary-dark-color dark:to-accent-dark-color-500">-->
<!--        &lt;!&ndash;        <div *ngIf="config$ | async as config" class="p-16 text-white text-center">&ndash;&gt;-->
<!--        &lt;!&ndash;          <img class="mx-auto w-48" [src]="config.logo" alt="logo"/>&ndash;&gt;-->
<!--        &lt;!&ndash;          <h2 class="mb-12 mt-1 text-lg font-semibold">&ndash;&gt;-->
<!--        &lt;!&ndash;            {{config.branding.title}}&ndash;&gt;-->
<!--        &lt;!&ndash;          </h2>&ndash;&gt;-->
<!--        &lt;!&ndash;          <p class="text-sm">&ndash;&gt;-->
<!--        &lt;!&ndash;            {{config.branding.description}}&ndash;&gt;-->
<!--        &lt;!&ndash;          </p>&ndash;&gt;-->
<!--        &lt;!&ndash;        </div>&ndash;&gt;-->
<!--      </div>-->
<!--&lt;!&ndash;      <rb-branding></rb-branding>&ndash;&gt;-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->
<!--</div>-->
