@if (authService.user(); as user) {
  <div class="flex justify-center items-center h-[calc(100vh-64px)]">
    <mat-card appearance="outlined" class="w-[400px]">
      <mat-card-header class='block! text-center'>
        <mat-card-title class="text-lg">
          {{ 'CORE.AUTH.PROFILE_PAGE.title' | translate }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ 'CORE.AUTH.PROFILE_PAGE.subtitle' | translate }}: {{ user.login }}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        @if (error()) {
          <app-error-message-box>
            {{ `ERROR.${error()?.error.error}` | translate }}
          </app-error-message-box>
        }
        <form [formGroup]='form' novalidate>
          <label for="login" class="text-sm">{{ 'CORE.AUTH.PROFILE_PAGE.login' | translate }}</label>
          <mat-form-field class='w-full'
                          subscriptSizing="fixed"
                          appearance='outline'>
            <input matInput formControlName='login'>
          </mat-form-field>

          <label for="firstName" class="text-sm">{{ 'CORE.AUTH.PROFILE_PAGE.firstName' | translate }}</label>
          <mat-form-field class='w-full'
                          subscriptSizing="fixed"
                          appearance='outline'>
            <input matInput formControlName='firstName'>
            <mat-hint align="start">
              {{ ValidatorHint.normalTextValidator }}
            </mat-hint>
            @if (form.controls.firstName.errors; as errors) {
              <mat-error>
                @if (errors['required']) {
                } @else if (errors['pattern']) {
                  {{ ValidatorError.normalTextValidator }}
                }
              </mat-error>
            }
          </mat-form-field>

          <label for="lastName" class="text-sm">{{ 'CORE.AUTH.PROFILE_PAGE.lastName' | translate }}</label>
          <mat-form-field class='w-full'
                          subscriptSizing="fixed"
                          appearance='outline'>
            <input matInput formControlName='lastName'/>
            <mat-hint align="start">
              {{ ValidatorHint.normalTextValidator }}
            </mat-hint>
            @if (form.controls.lastName.errors; as errors) {
              <mat-error>
                @if (errors['required']) {
                } @else if (errors['pattern']) {
                  {{ ValidatorError.normalTextValidator }}
                }
              </mat-error>
            }
          </mat-form-field>

          <label for="email" class="text-sm">{{ 'CORE.AUTH.PROFILE_PAGE.email' | translate }}</label>
          <mat-form-field class='w-full'
                          subscriptSizing="fixed"
                          appearance='outline'>
            <input matInput formControlName='email' required>
            @if (form.controls.email.errors; as errors) {
              <mat-error>
                @if (errors['required']) {
                  {{ ValidatorError.requiredValidator | translate: {value: 'CORE.AUTH.PROFILE_PAGE.email' | translate} }}
                } @else if (errors['email']) {
                  {{ ValidatorError.emailValidator }}
                }
              </mat-error>
            }
          </mat-form-field>
        </form>

        <button mat-raised-button
                class="w-full mt-4"
                [class]="success() ? 'bg-green-200! text-green-700!' : ''"
                color='primary'
                type='submit'
                name='update'
                [disabled]='!form.valid || !form.dirty || loading() || success()'
                (click)='save()'>
          @if (loading()) {
            <mat-icon>
              <mat-spinner diameter='20'/>
            </mat-icon>
          }

          @if (success()) {
            <mat-icon>check</mat-icon>
          }
          {{ success() ? ('CORE.AUTH.PROFILE_PAGE.successButton' | translate) : ('CORE.AUTH.PROFILE_PAGE.updateButton' | translate) }}
        </button>
      </mat-card-content>
    </mat-card>
  </div>
}
