<mat-form-field class="example-full-width">
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker" (dateInput)="onDateChange($event)"
         (dateChange)="onDateChange($event)">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<button matButton="elevated" (click)="picker.open()">Open</button>

<!--<mat-form-field>-->
<!--  <mat-label>Choose a date</mat-label>-->
<!--  <input matInput [matDatepicker]="picker">-->
<!--  <mat-hint>MM/DD/YYYY</mat-hint>-->
<!--  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--  <mat-datepicker #picker></mat-datepicker>-->
<!--</mat-form-field>-->

<!--<mat-form-field>-->
<!--  <mat-label>Choose a date</mat-label>-->
<!--  <input matInput [matDatepicker]="picker" [value]="selectedValue" (input)="onDateChange($event)">-->
<!--  <mat-hint>MM/DD/YYYY</mat-hint>-->
<!--  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--  <mat-datepicker #picker></mat-datepicker>-->
<!--</mat-form-field>-->

<!--<ion-datetime class="border-2 rounded-lg"-->
<!--              #datetime-->
<!--              [locale]="locale"-->
<!--              [presentation]="'date'"-->
<!--              [min]="min"-->
<!--              [max]="max"-->
<!--              [value]="selectedValue"-->
<!--              (ionChange)="onDateChange($event)"-->
<!--              [disabled]="isDisabled"/>-->

@if (!isDisabled) {
  <button matButton class="m-4" (click)="onReset()" color="danger" size="small">
    Clear
  </button>
}
