<rb-dialog-title [mode]='mode' [name]="name" (closeClicked)='close()' />

<mat-dialog-content>
  @if (mode === DialogMode.VIEW || mode === DialogMode.DELETE) {
    <rb-dialog-body-description [mode]="mode"
                                [label]="'Questionnaire'"
                                [entityName]="entity.name" />
  }

  @if (mode === DialogMode.ADD || mode === DialogMode.EDIT) {
    <form [formGroup]='form' novalidate>
<!--      <div class="flex justify-between items-start gap-4">-->
        @if (mode !== DialogMode.ADD) {
          <div>
            @if(!floatLabel) {
              <label for="id" class="text-sm">{{ 'ADMIN.questionnaire.id.label' | translate }}</label>
            }
            <mat-form-field class='small-input w-1/4'
                            subscriptSizing="fixed"
                            appearance='outline'
                            [floatLabel]='floatLabel ? "always" : "auto"'>
              @if(floatLabel) {
                <mat-label>{{ 'ADMIN.questionnaire.id.label' | translate }}</mat-label>
              }
              <input matInput formControlName='id'/>
            </mat-form-field>
          </div>
        }

<!--        <div>-->
        @if(!floatLabel) {
          <label for="name" class="text-sm">{{ 'ADMIN.questionnaire.name.label' | translate }} *</label>
        }
        <mat-form-field class='small-input w-1/2'
                        subscriptSizing="fixed"
                        appearance='outline'
                        [floatLabel]='floatLabel ? "always" : "auto"'>
          @if(floatLabel) {
            <mat-label>{{ 'ADMIN.questionnaire.name.label' | translate }}</mat-label>
          }
<!--            <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>-->
          <input matInput formControlName='name' required/>
<!--            <mat-error *ngIf="form.get('name')?.errors?.['duplicate'] && !form.get('name')?.hasError('required') && !form.get('name')?.errors?.['pattern']">-->
<!--              {{ "Name exists" }}-->
<!--            </mat-error>-->
<!--            <mat-error *ngIf="form.get('name')?.errors?.['pattern'] && !form.get('name')?.hasError('required')">-->
<!--              {{ValidatorError.normalTextValidator}}-->
<!--            </mat-error>-->
<!--            <mat-error *ngIf="form.get('name')?.hasError('required')">-->
<!--              {{ValidatorError.requiredValidator | translate: {value: 'ADMIN.questionnaire.name.label' | translate } }}-->
<!--            </mat-error>-->
        </mat-form-field>
<!--        </div>-->
<!--          <rb-mat-select-autocomplete formControlName='defaultLanguage'-->
<!--                                      [legend]='"Language"'-->
<!--                                      [options]='languages'-->
<!--                                      [label]='"Language"'-->
<!--                                      [multiple]="false">-->
<!--          </rb-mat-select-autocomplete>-->
        <div class="flex justify-between items-center gap-4">
          <div class="flex-grow">
            @if(!floatLabel) {
              <label for="name" class="text-sm">Language *</label>
            }
            <mat-form-field class='small-input'
                            subscriptSizing="fixed"
                            appearance='outline'
                            [floatLabel]='floatLabel ? "always" : "auto"'>
              @if(floatLabel) {
                <mat-label>Default Language</mat-label>
              }
              <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>
              <mat-select formControlName='language' required>
                @for (language of LANGUAGES; track language.code) {
                  <mat-option [value]="language.code">{{language.name}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

          <mat-slide-toggle class='mt-4' formControlName='isDefault'>Default</mat-slide-toggle>
        </div>
<!--          <rb-mat-select-autocomplete formControlName='language'-->
<!--                                      [legend]='"Language"'-->
<!--                                      [options]='languages'-->
<!--                                      [label]='"Language"'-->
<!--                                      [multiple]="false">-->
<!--          </rb-mat-select-autocomplete>-->
<!--      </div>-->

<!--        <div class="" formArrayName="questions">-->
<!--          <div class="mb-4 flex justify-between items-center">-->
<!--            <span class="font-bold">Questions</span>-->
<!--            <button type='button'-->
<!--                    mat-stroked-button-->
<!--                    color='primary'-->
<!--                    (click)="addQuestion()">-->
<!--              <mat-icon>add</mat-icon>-->
<!--              <span class="font-bold">Add Question</span>-->
<!--            </button>-->
<!--          </div>-->
<!--&lt;!&ndash;          <tr *ngFor="let question of questions().controls; let i=index" [formGroupName]="i">&ndash;&gt;-->
<!--          <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">-->
<!--&lt;!&ndash;            <div class="example-box" *ngFor="let movie of movies" cdkDrag>{{movie}}</div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--          <mat-expansion-panel class="mb-3" *ngFor="let question of questions.controls; let i=index"-->
<!--                               [formGroupName]="i" cdkDrag>-->
<!--            <mat-expansion-panel-header>-->
<!--              <mat-panel-title>-->
<!--                <div class="flex justify-between items-center w-full">-->
<!--                  <mat-icon fontSet='material-icons-outlined'>swap_vertical_circle</mat-icon>-->
<!--                  <span>#{{i}}</span>-->
<!--                  <span>{{question.get('field_name')?.value}}</span>-->
<!--                  <span>{{question.get('field_type')?.value}}</span>-->
<!--                  <mat-icon fontSet='material-icons-outlined' (click)="removeQuestion(i)" color="warn">do_not_disturb_on</mat-icon>-->
<!--                </div>-->
<!--              </mat-panel-title>-->
<!--            </mat-expansion-panel-header>-->

<!--            <div class="p-4">-->
<!--              <div class="flex justify-between items-center gap-4">-->
<!--                <mat-form-field class='w-1/2'-->
<!--                                appearance='outline'-->
<!--                                floatLabel='always'>-->
<!--                  <mat-label>Field Name</mat-label>-->
<!--&lt;!&ndash;                  <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>&ndash;&gt;-->
<!--                  <input matInput formControlName='field_name' required/>-->
<!--&lt;!&ndash;                  <mat-error *ngIf="form.get('field_name')?.errors?.['pattern'] && !form.get('field_name')?.hasError('required')">&ndash;&gt;-->
<!--&lt;!&ndash;                    {{ValidatorError.normalTextValidator}}&ndash;&gt;-->
<!--&lt;!&ndash;                  </mat-error>&ndash;&gt;-->
<!--&lt;!&ndash;                  <mat-error *ngIf="form.get('field_name')?.hasError('required')">&ndash;&gt;-->
<!--&lt;!&ndash;                    {{ValidatorError.requiredValidator | translate: {value: 'Field Name' } }}&ndash;&gt;-->
<!--&lt;!&ndash;                  </mat-error>&ndash;&gt;-->
<!--                </mat-form-field>-->
<!--                <mat-form-field class='w-1/2'-->
<!--                                subscriptSizing="dynamic"-->
<!--                                appearance='outline'-->
<!--                                floatLabel='always'>-->
<!--                  <mat-label>Field Type</mat-label>-->
<!--&lt;!&ndash;                  <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>&ndash;&gt;-->
<!--                  <mat-select formControlName='field_type'>-->
<!--                    <mat-option *ngFor="let type of questionTypes" [value]="type.name">{{type.label}}</mat-option>-->
<!--                  </mat-select>-->
<!--&lt;!&ndash;                  <mat-error *ngIf="form.get('field_type')?.errors?.['pattern'] && !form.get('field_type')?.hasError('required')">&ndash;&gt;-->
<!--&lt;!&ndash;                    {{ValidatorError.normalTextValidator}}&ndash;&gt;-->
<!--&lt;!&ndash;                  </mat-error>&ndash;&gt;-->
<!--&lt;!&ndash;                  <mat-error *ngIf="form.get('field_type')?.hasError('required')">&ndash;&gt;-->
<!--&lt;!&ndash;                    {{ValidatorError.requiredValidator | translate: {value: 'Field Type' } }}&ndash;&gt;-->
<!--&lt;!&ndash;                  </mat-error>&ndash;&gt;-->
<!--                </mat-form-field>-->
<!--              </div>-->

<!--              <div class="flex justify-between items-center gap-4">-->
<!--                <mat-form-field class='w-1/2'-->
<!--                                subscriptSizing="dynamic"-->
<!--                                appearance='outline'-->
<!--                                floatLabel='always'>-->
<!--                  <mat-label>Field Label</mat-label>-->
<!--&lt;!&ndash;                  <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>&ndash;&gt;-->
<!--                  <textarea rows="3" matInput formControlName='field_label' required></textarea>-->
<!--&lt;!&ndash;                  <mat-error *ngIf="form.get('field_label')?.errors?.['pattern'] && !form.get('field_label')?.hasError('required')">&ndash;&gt;-->
<!--&lt;!&ndash;                    {{ValidatorError.normalTextValidator}}&ndash;&gt;-->
<!--&lt;!&ndash;                  </mat-error>&ndash;&gt;-->
<!--&lt;!&ndash;                  <mat-error *ngIf="form.get('field_label')?.hasError('required')">&ndash;&gt;-->
<!--&lt;!&ndash;                    {{ValidatorError.requiredValidator | translate: {value: 'Field Label' } }}&ndash;&gt;-->
<!--&lt;!&ndash;                  </mat-error>&ndash;&gt;-->
<!--                </mat-form-field>-->
<!--                <mat-form-field class='w-1/2'-->
<!--                                subscriptSizing="dynamic"-->
<!--                                appearance='outline'-->
<!--                                floatLabel='always'>-->
<!--                  <mat-label>Section Header</mat-label>-->
<!--&lt;!&ndash;                  <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>&ndash;&gt;-->
<!--                  <textarea rows="3" matInput formControlName='section_header' required></textarea>-->
<!--&lt;!&ndash;                  <mat-error *ngIf="form.get('section_header')?.errors?.['pattern'] && !form.get('section_header')?.hasError('required')">&ndash;&gt;-->
<!--&lt;!&ndash;                    {{ValidatorError.normalTextValidator}}&ndash;&gt;-->
<!--&lt;!&ndash;                  </mat-error>&ndash;&gt;-->
<!--&lt;!&ndash;                  <mat-error *ngIf="form.get('section_header')?.hasError('required')">&ndash;&gt;-->
<!--&lt;!&ndash;                    {{ValidatorError.requiredValidator | translate: {value: 'Section Header' } }}&ndash;&gt;-->
<!--&lt;!&ndash;                  </mat-error>&ndash;&gt;-->
<!--                </mat-form-field>-->
<!--              </div>-->

<!--              <ng-container *ngIf="question.get('field_type')?.value as type">-->
<!--                <mat-form-field *ngIf="type !== 'timed' && type !== 'audio' && type !== 'text' && type !== 'datepicker' && type !== 'slider'"-->
<!--                                class='w-full'-->
<!--                                subscriptSizing="dynamic"-->
<!--                                appearance='outline'-->
<!--                                floatLabel='always'>-->
<!--                  <mat-label>Choices</mat-label>-->
<!--&lt;!&ndash;                  <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>&ndash;&gt;-->
<!--                  <textarea rows="6" matInput formControlName='select_choices_or_calculations' required></textarea>-->
<!--&lt;!&ndash;                  <mat-error *ngIf="form.get('select_choices_or_calculations')?.errors?.['pattern'] && !form.get('select_choices_or_calculations')?.hasError('required')">&ndash;&gt;-->
<!--&lt;!&ndash;                    {{ValidatorError.normalTextValidator}}&ndash;&gt;-->
<!--&lt;!&ndash;                  </mat-error>&ndash;&gt;-->
<!--&lt;!&ndash;                  <mat-error *ngIf="form.get('select_choices_or_calculations')?.hasError('required')">&ndash;&gt;-->
<!--&lt;!&ndash;                    {{ValidatorError.requiredValidator | translate: {value: 'Choices' } }}&ndash;&gt;-->
<!--&lt;!&ndash;                  </mat-error>&ndash;&gt;-->
<!--                </mat-form-field>-->

<!--                <fieldset *ngIf="type === 'timed'" formGroupName="field_annotation" class="p-4 rounded-sm border">-->
<!--                  <legend class="px-4">Field Annotation</legend>-->
<!--                  <div class="flex justify-between items-center gap-4">-->
<!--                    <mat-form-field class='w-1/2'-->
<!--                                    subscriptSizing="dynamic"-->
<!--                                    appearance='outline'-->
<!--                                    floatLabel='always'>-->
<!--                      <mat-label>Image</mat-label>-->
<!--&lt;!&ndash;                      <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>&ndash;&gt;-->
<!--                      <input matInput formControlName='image' required/>-->
<!--&lt;!&ndash;                      <mat-error *ngIf="form.get('image')?.errors?.['pattern'] && !form.get('image')?.hasError('required')">&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ValidatorError.normalTextValidator}}&ndash;&gt;-->
<!--&lt;!&ndash;                      </mat-error>&ndash;&gt;-->
<!--&lt;!&ndash;                      <mat-error *ngIf="form.get('image')?.hasError('required')">&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ValidatorError.requiredValidator | translate: {value: 'Image' } }}&ndash;&gt;-->
<!--&lt;!&ndash;                      </mat-error>&ndash;&gt;-->
<!--                    </mat-form-field>-->
<!--                    <mat-form-field class='w-1/6'-->
<!--                                    subscriptSizing="dynamic"-->
<!--                                    appearance='outline'-->
<!--                                    floatLabel='always'>-->
<!--                      <mat-label>Timer Unit</mat-label>-->
<!--&lt;!&ndash;                      <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>&ndash;&gt;-->
<!--                      <input matInput formControlName='unit' required/>-->
<!--&lt;!&ndash;                      <mat-error *ngIf="form.get('unit')?.errors?.['pattern'] && !form.get('unit')?.hasError('required')">&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ValidatorError.normalTextValidator}}&ndash;&gt;-->
<!--&lt;!&ndash;                      </mat-error>&ndash;&gt;-->
<!--&lt;!&ndash;                      <mat-error *ngIf="form.get('unit')?.hasError('required')">&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ValidatorError.requiredValidator | translate: {value: 'Unit' } }}&ndash;&gt;-->
<!--&lt;!&ndash;                      </mat-error>&ndash;&gt;-->
<!--                    </mat-form-field>-->
<!--                    <ng-container formGroupName="timer">-->
<!--                      <mat-form-field class='w-1/6'-->
<!--                                      subscriptSizing="dynamic"-->
<!--                                      appearance='outline'-->
<!--                                      floatLabel='always'>-->
<!--                        <mat-label>Timer Start</mat-label>-->
<!--&lt;!&ndash;                        <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>&ndash;&gt;-->
<!--                        <input matInput formControlName='start' required/>-->
<!--&lt;!&ndash;                        <mat-error *ngIf="form.get('start')?.errors?.['pattern'] && !form.get('start')?.hasError('required')">&ndash;&gt;-->
<!--&lt;!&ndash;                          {{ValidatorError.normalTextValidator}}&ndash;&gt;-->
<!--&lt;!&ndash;                        </mat-error>&ndash;&gt;-->
<!--&lt;!&ndash;                        <mat-error *ngIf="form.get('start')?.hasError('required')">&ndash;&gt;-->
<!--&lt;!&ndash;                          {{ValidatorError.requiredValidator | translate: {value: 'Start' } }}&ndash;&gt;-->
<!--&lt;!&ndash;                        </mat-error>&ndash;&gt;-->
<!--                      </mat-form-field>-->
<!--                      <mat-form-field class='w-1/6'-->
<!--                                      subscriptSizing="dynamic"-->
<!--                                      appearance='outline'-->
<!--                                      floatLabel='always'>-->
<!--                        <mat-label>Timer End</mat-label>-->
<!--&lt;!&ndash;                        <mat-hint align="end">{{ValidatorHint.normalTextValidator}}</mat-hint>&ndash;&gt;-->
<!--                        <input matInput formControlName='end' required/>-->
<!--&lt;!&ndash;                        <mat-error *ngIf="form.get('end')?.errors?.['pattern'] && !form.get('end')?.hasError('required')">&ndash;&gt;-->
<!--&lt;!&ndash;                          {{ValidatorError.normalTextValidator}}&ndash;&gt;-->
<!--&lt;!&ndash;                        </mat-error>&ndash;&gt;-->
<!--&lt;!&ndash;                        <mat-error *ngIf="form.get('end')?.hasError('required')">&ndash;&gt;-->
<!--&lt;!&ndash;                          {{ValidatorError.requiredValidator | translate: {value: 'End' } }}&ndash;&gt;-->
<!--&lt;!&ndash;                        </mat-error>&ndash;&gt;-->
<!--                      </mat-form-field>-->
<!--                    </ng-container>-->
<!--                  </div>-->
<!--                </fieldset>-->

<!--                <fieldset *ngIf="type === 'slider'" formGroupName="range" class="p-4 rounded-sm border">-->
<!--                  <legend class="px-4">Range</legend>-->
<!--                  <div class="flex justify-between items-center gap-4">-->
<!--                    <mat-form-field class='w-1/3'-->
<!--                                    subscriptSizing="dynamic"-->
<!--                                    appearance='outline'-->
<!--                                    floatLabel='always'>-->
<!--                      <mat-label>Min</mat-label>-->
<!--&lt;!&ndash;                      <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>&ndash;&gt;-->
<!--                      <input matInput formControlName='min' required/>-->
<!--&lt;!&ndash;                      <mat-error *ngIf="form.get('min')?.errors?.['pattern'] && !form.get('min')?.hasError('required')">&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ValidatorError.normalTextValidator}}&ndash;&gt;-->
<!--&lt;!&ndash;                      </mat-error>&ndash;&gt;-->
<!--&lt;!&ndash;                      <mat-error *ngIf="form.get('min')?.hasError('required')">&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ValidatorError.requiredValidator | translate: {value: 'Min' } }}&ndash;&gt;-->
<!--&lt;!&ndash;                      </mat-error>&ndash;&gt;-->
<!--                    </mat-form-field>-->
<!--                    <mat-form-field class='w-1/3'-->
<!--                                    subscriptSizing="dynamic"-->
<!--                                    appearance='outline'-->
<!--                                    floatLabel='always'>-->
<!--                      <mat-label>Max</mat-label>-->
<!--&lt;!&ndash;                      <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>&ndash;&gt;-->
<!--                      <input matInput formControlName='max' required/>-->
<!--&lt;!&ndash;                      <mat-error *ngIf="form.get('max')?.errors?.['pattern'] && !form.get('max')?.hasError('required')">&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ValidatorError.normalTextValidator}}&ndash;&gt;-->
<!--&lt;!&ndash;                      </mat-error>&ndash;&gt;-->
<!--&lt;!&ndash;                      <mat-error *ngIf="form.get('max')?.hasError('required')">&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ValidatorError.requiredValidator | translate: {value: 'Unit' } }}&ndash;&gt;-->
<!--&lt;!&ndash;                      </mat-error>&ndash;&gt;-->
<!--                    </mat-form-field>-->
<!--                    <mat-form-field class='w-1/3'-->
<!--                                    subscriptSizing="dynamic"-->
<!--                                    appearance='outline'-->
<!--                                    floatLabel='always'>-->
<!--                      <mat-label>Step</mat-label>-->
<!--&lt;!&ndash;                      <mat-hint align="start">{{ValidatorHint.normalTextValidator}}</mat-hint>&ndash;&gt;-->
<!--                      <input matInput formControlName='step' required/>-->
<!--&lt;!&ndash;                      <mat-error *ngIf="form.get('step')?.errors?.['pattern'] && !form.get('step')?.hasError('required')">&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ValidatorError.normalTextValidator}}&ndash;&gt;-->
<!--&lt;!&ndash;                      </mat-error>&ndash;&gt;-->
<!--&lt;!&ndash;                      <mat-error *ngIf="form.get('step')?.hasError('required')">&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ValidatorError.requiredValidator | translate: {value: 'Unit' } }}&ndash;&gt;-->
<!--&lt;!&ndash;                      </mat-error>&ndash;&gt;-->
<!--                    </mat-form-field>-->
<!--                  </div>-->
<!--                </fieldset>-->
<!--              </ng-container>-->

<!--              <rb-branching-logic [increment]="2" formControlName="totalQuantity"></rb-branching-logic>-->

<!--              <div>-->
<!--                <mat-slide-toggle *ngIf="i > 0" formControlName='has_branching_logic'-->
<!--                                  class="mb-4" color="accent">-->
<!--                  Branching Logic-->
<!--                </mat-slide-toggle>-->
<!--              </div>-->
<!--              <div *ngIf="question.get('has_branching_logic')?.value && i > 0" formGroupName="branching_logic">-->
<!--                <div>Show this question if:</div>-->
<!--                  <div class="flex items-center" *ngFor="let condition of branchingLogics(question).controls; let j=index"-->
<!--                                [formGroupName]="j">-->
<!--                    <rb-mat-select-autocomplete class="w-1/4" formControlName='condition_field'-->
<!--                                                [legend]='"Field"'-->
<!--                                                [options]='getPreviousQuestionsName(i)'-->
<!--                                                [label]='"Field"'-->
<!--                                                [multiple]="false">-->
<!--                    </rb-mat-select-autocomplete>-->
<!--                    <mat-form-field class='w-1/4'-->
<!--                                    subscriptSizing="fixed"-->
<!--                                    appearance='outline'-->
<!--                                    floatLabel='always'>-->
<!--                      <mat-label>Condition</mat-label>-->
<!--                      <mat-select formControlName='condition_operator'>-->
<!--                        <mat-option [value]="'equal'">Equals</mat-option>-->
<!--                        <mat-option [value]="'not_equal'">Not equal</mat-option>-->
<!--                      </mat-select>-->
<!--                    </mat-form-field>-->
<!--                    <mat-form-field class='w-1/4'-->
<!--                                    subscriptSizing="fixed"-->
<!--                                    appearance='outline'-->
<!--                                    floatLabel='always'-->
<!--                                    *ngIf="condition?.get('condition_field')?.value as name">-->
<!--                      &lt;!&ndash;                    *ngIf="question.get('branching_logic')?.get('condition_field')?.value as name">&ndash;&gt;-->
<!--                      <mat-label>Value</mat-label>-->
<!--                      <mat-select formControlName='condition_value'>-->
<!--                        <mat-option *ngFor="let option of questionsOptions[name]" [value]="option.code">{{option.label}}</mat-option>-->
<!--                      </mat-select>-->
<!--                    </mat-form-field>-->
<!--                    <mat-icon fontSet='material-icons-outlined' (click)="removeBranchingLogic(question, j)" color="warn">do_not_disturb_on</mat-icon>-->
<!--                  </div>-->
<!--                  <button type='button' mat-icon-button color='primary' (click)="addBranchingLogic(question)">&</button>-->
<!--                </div>-->
<!--            </div>-->
<!--          </mat-expansion-panel>-->
<!--          </div>-->
<!--        </div>-->
<!--        Ln: {{data.language}}-->
      <rb-question [entity]="entity" [language]="data.extra" formControlName="questions" [disabled]="true" />
    </form>
<!--  </ng-container>-->
  }
</mat-dialog-content>

@if (error()) {
  <rb-message />
}

<rb-dialog-actions [mode]='mode' [form]='form' (actionTriggered)='onAction($event)' />

