@let configFields = config$ | async;

<mat-card class="rb-table-row" [class]="
    (updated() === entity().id ? 'bg-green-100! ' : '') +
    (expanded ? 'mb-2' : '')
  ">
  <div class="rb-table-main-row">
    @for (property of PROPERTIES; track property.name) {
      @if (configFields[property.name] !== false) {
        <div [class]="property.tableClass + ' ' + property.width + ' ' + property.classes"
           [class.flex-1]="!property.width"
           [class.shrink-0]="!!property.width">
          @switch (property.name) {
            @case ('timestamp') {
              <rb-local-date [date]="entity()['timestamp']" [format]="'medium'" />
            }
            @case ('data') {
              <pre class="inline-block w-full overflow-x-auto whitespace-pre-wrap break-words">
                  {{ (entity().data | json) || '-' }}
              </pre>
            }
            @case ('actions') {
              <button mat-icon-button class="tiny" (click)="onExpansionClick($event)">
                <span class="material-symbols-outlined text-xl!">
                  {{ expanded ? 'expand_less' : 'expand_more' }}
                </span>
              </button>
            }
            @default {
              {{ entity()[property.name] || '-' }}
            }
          }
        </div>
      }
    }
  </div>
  <div class="rb-table-extension-row" [@detailExpand]="expanded ? 'expanded' : 'collapsed'">
    <rb-audit-details [entity]='entity()' [config]="configFields" [type]="DetailType.TABLE"/>
  </div>
</mat-card>
