@let _prefix = 'ADMIN.questionnaire.dialog';

@if (loading) {

} @else {
  <div [formGroup]="form" class="w-125">
    <div formGroupName="schedule">
      <mat-slide-toggle formControlName='onDemand' class="my-4" color="primary">
        {{ `${_prefix}.onDemand` | translate }}
      </mat-slide-toggle>



      @if (!onDemandValue()) {
        <mat-divider class="mb-2!"/>

        <mat-slide-toggle formControlName='relativeToReferenceTime' class="my-4" color="primary">
          {{ `${_prefix}.relativeToReferenceTimeLabel` | translate }}
        </mat-slide-toggle>

        @if (relativeToReferenceTimeValue()) {
          <div>
            <label for="referenceTimestamp" class="text-sm">
              {{ `${_prefix}.referenceTimeLabel` | translate }} *
            </label>
            <mat-form-field class='small-input w-1/2' appearance='outline'>
              <input id="referenceTimestamp" matInput [matDatepicker]='startDatePicker'
                     formControlName='referenceTimestamp'
                     [placeholder]='localeService.currentLocale()?.dateFormat || "dd/MM/yyyy"' required>
              <mat-datepicker-toggle matSuffix [for]='startDatePicker'/>
              <mat-datepicker #startDatePicker/>
              <!--        @if (form.controls.referenceTimestamp.errors; as errors) {-->
              <!--          <mat-error>-->
              <!--          @if (errors?.['matDatepickerMin']) {-->
              <!--            Date is out of range. It should be after 2000. &lt;!&ndash; TODO translate &ndash;&gt;-->
              <!--          }-->
              <!--          @if (errors?.['matDatepickerMax']) {-->
              <!--            Date is out of range. It should be before 2050. &lt;!&ndash; TODO translate &ndash;&gt;-->
              <!--          }-->
              <!--          @if (errors?.['matDatepickerParse']) {-->
              <!--&lt;!&ndash;            {{ `ADMIN.${entityName}.startDate.startDateInvalid` | translate }}&ndash;&gt;-->
              <!--          }-->
              <!--          @if (errors?.['matStartDateInvalid']) {-->
              <!--&lt;!&ndash;            {{ `ADMIN.${entityName}.startDate.startDateInvalid` | translate }}&ndash;&gt;-->
              <!--          }-->
              <!--          </mat-error>-->
              <!--        }-->
            </mat-form-field>
          </div>
        }

        <mat-divider class="mb-2!"/>

        <mat-slide-toggle formControlName='repeatedProtocol' class="my-4" color="primary">
          {{ `${_prefix}.repeatedProtocolLabel` | translate }}
        </mat-slide-toggle>

        @if (repeatedProtocolValue()) {
          <div formGroupName="repeatProtocol">
            <p class="text-sm">
              {{ `${_prefix}.repeatProtocolLabel` | translate }}
            </p>
            <div class="grid grid-cols-2 gap-4">
              <div>
                <label for="repeat-protocol-amount" class="text-sm">
                  {{ `${_prefix}.repeatProtocolAmount` | translate }} *
                </label>
                <mat-form-field class='small-input' appearance='outline'>
                  <input id="repeat-protocol-amount" matInput formControlName='amount' type="number" min="1"
                         max="10000" required>
                </mat-form-field>
              </div>

              <div>
                <label for="repeat-protocol-unit" class="text-sm">
                  {{ `${_prefix}.repeatProtocolUnit` | translate }} *
                </label>
                <mat-form-field class='small-input' appearance='outline'>
                  <mat-select id="repeat-protocol-unit" formControlName='unit' required>
                    @for (unit of UNITS; track unit.name) {
                      <mat-option [value]="unit.name">{{ unit.label }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        }

        <div formGroupName="repeatQuestionnaire">
          <p class="text-sm mt-2">{{ `${_prefix}.timeOffsetsLabel` | translate }}</p>
          <app-time-from-zero-form-array formControlName="unitsFromZero"
                                         [unit]="form.controls.schedule.controls.repeatQuestionnaire.controls.unit.value"/>
        </div>

        <mat-divider class="mb-2!"/>

        <div class="mt-2" formGroupName="completionWindow">
          <p class="text-sm">{{ `${_prefix}.completionWindowLabel` | translate }}</p>
          <div class="grid grid-cols-2 gap-4">

            <div class="">
              <label for="completion-window-amount" class="text-sm">
                {{ `${_prefix}.completionWindowAmount` | translate }} *
              </label>
              <mat-form-field class='small-input' appearance='outline'>
                <input id="completion-window-amount" matInput formControlName='amount'
                       type="number" min="0" max="10000" required>
              </mat-form-field>
            </div>

            <div class="">
              <label for="completion-window-unit" class="text-sm">
                {{ `${_prefix}.completionWindowUnit` | translate }} *
              </label>
              <mat-form-field class='small-input' appearance='outline'>
                <mat-select id="completion-window-unit" formControlName='unit' required>
                  @for (unit of UNITS; track unit.name) {
                    <mat-option [value]="unit.name">{{ unit.label }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
}
