<div [formGroup]="form">
  <mat-slide-toggle formControlName='has_branching_logic'
                    class="mb-4" color="accent">
    Branching Logic
  </mat-slide-toggle>
  <div *ngIf="form.get('has_branching_logic')?.value" formArrayName="or_group">
  <div class="mb-4">Show this question if:</div>
    <div class="" *ngFor="let condition of branchingLogics.controls; let j=index"
                  [formGroupName]="j">
      <rb-branching-logic-and-array [entity]="entity" [index]="index" formControlName="conditions"></rb-branching-logic-and-array>

<!--      <rb-mat-select-autocomplete class="small-input w-1/4"-->
<!--                                  formControlName='condition_field'-->
<!--                                  [legend]='"Field"'-->
<!--                                  [options]='previousQuestions'-->
<!--                                  [label]='"Field"'-->
<!--                                  [multiple]="false">-->
<!--      </rb-mat-select-autocomplete>-->
<!--      <mat-form-field class='small-input w-1/4'-->
<!--                      subscriptSizing="fixed"-->
<!--                      appearance='outline'-->
<!--                      floatLabel='always'>-->
<!--        <mat-label>Condition</mat-label>-->
<!--        <mat-select formControlName='condition_operator'>-->
<!--          <mat-option [value]="'equal'">Equals</mat-option>-->
<!--          <mat-option [value]="'not_equal'">Not equal</mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field class='small-input w-1/4'-->
<!--                      subscriptSizing="fixed"-->
<!--                      appearance='outline'-->
<!--                      floatLabel='always'>-->
<!--&lt;!&ndash;                      *ngIf="condition?.get('condition_field')?.value as name">&ndash;&gt;-->
<!--        &lt;!&ndash;                    *ngIf="question.get('branching_logic')?.get('condition_field')?.value as name">&ndash;&gt;-->
<!--        <mat-label>Value</mat-label>-->
<!--        <mat-select formControlName='condition_value'>-->
<!--          <ng-container *ngIf="condition?.get('condition_field')?.value as name">-->
<!--            <mat-option *ngFor="let option of questionsOptions[name]" [value]="option.code">{{option.label}}</mat-option>-->
<!--          </ng-container>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
      <div class="flex items-center gap-4">
        <mat-icon *ngIf="j !== 0" fontSet='material-icons-outlined' (click)="removeBranchingLogicArray(j)" color="accent">do_not_disturb_on</mat-icon>
        <mat-icon *ngIf="j === 0" fontSet='material-icons-outlined' class="text-gray-400">do_not_disturb_on</mat-icon>
        <button mat-button color="primary" (click)="addBranchingLogicArray()">OR</button>
      </div>
    </div>

  </div>
</div>
