<div [class]="!gridView() ? 'w-full text-sm relative px-4': 'grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-4 3xl:grid-cols-6 gap-4 px-4 text-base items-stretch'"
     appTableQueryReflector
     [page]="page()"
     [sort]="sort()"
     (activeQueryParams)="handleActiveQueryChange($event)">

  @if (!gridView() && entities().length) {
    <div class="sticky top-[72px] z-20 flex items-center gap-4 w-full py-2 px-4 font-bold border-y border-neutral-300 bg-background dark:bg-background-dark mat-app-background">
      @for (tableField of tableFields(); track tableField.name) {
        @if (tableField.name === 'checkbox') {
          <div [class]="tableField.tableClass + ' ' + tableField.width + ' ' + tableField.classes"
               [class.flex-1]="!tableField.width"
               [class.shrink-0]="!!tableField.width">
            <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()"/>
          </div>
        } @else {
          <div [class]="tableField.tableClass + ' ' + tableField.width + ' ' + tableField.classes"
               [class.flex-1]="!tableField.width"
               [class.shrink-0]="!!tableField.width">
            <button class="flex items-center gap-2 group" [class]="tableField.sortable ? 'cursor-pointer': ''"
                    (click)="switchSort(tableField)">
              <span>{{ `ADMIN.${entityMetadata().name}.${tableField.name}.tableLabel` | translate }}</span>
              @if (tableField.sortable) {
                <div class="group-hover:opacity-70 transition-opacity duration-500">
                  @if (sort().sortField !== tableField.name) {
                    <mat-icon class="opacity-40 w-4! h-4! text-base! material-symbols-outlined">
                      swap_vert
                    </mat-icon>
                  } @else {
                    <mat-icon class="w-3.5! h-3.5! text-base! material-symbols-outlined">
                      {{ sort().sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward' }}
                    </mat-icon>
                  }
                </div>
              }
            </button>
          </div>
        }
      }
    </div>
  }
  @if (entities().length) {
    @for (entity of entities(); track entity._name) {
      @if (customTemplate()) {
        <ng-container *ngTemplateOutlet="customTemplate()!; context: { $implicit: entity }" />
      }
    }
  }
</div>

<div class="flex items-center px-4 text-sm font-bold">
  @if (!totalEntities()) {
    <span class="py-4">{{ `ADMIN.${entityMetadata().name}.noItemFound` | translate }}</span>
  } @else {
    @if (entities().length === 0) {
      <span class="py-4">{{ `ADMIN.${entityMetadata().name}.noItemFoundWithTheFilter` | translate }}</span>
    }
  }
</div>

@if (entities().length > MIN_ENTITIES_FOR_PAGINATION) {
  <mat-paginator (page)="switchPage($event)"
                 [length]="totalEntities()"
                 [pageSize]="page().pageSize"
                 [pageSizeOptions]="PAGE_SIZE_OPTIONS"
                 [pageIndex]="page().pageIndex"
                 aria-label="Select page"/>
}
