@let _prefix = 'ADMIN.questionnaire.dialog';

@switch (type) {
  @case ('button') {
    @if (!!entity().text_validation_min || !!entity().text_validation_max) {
      <p>
        <mat-hint>A number between {{ entity().text_validation_min }} and {{ entity().text_validation_max }}</mat-hint>
      </p>
    }
  }
  @case ('form') {
    <fieldset class="p-2 rounded-sm border flex gap-2">
      <div class="w-1/2">
        <div>
          <label for="text_validation_min"
                 class="text-sm">{{ `${_prefix}.questionTextValidationMin` | translate }}</label>
        </div>
        <mat-form-field class='small-input' appearance="outline">
          <input id="text_validation_max" matInput [formControl]='text_validation_min'/>
        </mat-form-field>
      </div>

      <div class="w-1/2">
        <div>
          <label for="text_validation_max"
                 class="text-sm">{{ `${_prefix}.questionTextValidationMax` | translate }}</label>
        </div>
        <mat-form-field class='small-input' appearance="outline">
          <input id="text_validation_max" matInput [formControl]='text_validation_max'/>
        </mat-form-field>
      </div>
    </fieldset>

    <div class="mt-4">
      <div>
        <label for="matrix_group_name"
               class="text-sm">{{ `${_prefix}.questionMatrixGroupName` | translate }}</label>
      </div>
      <mat-form-field class='small-input' appearance="outline">
        <input id="matrix_group_name" matInput [formControl]='matrix_group_name'/>
      </mat-form-field>
    </div>
  }
  @case ('preview') {
    <app-question-header [question]="entity()" [language]="language()"/>

    <mat-form-field subscriptSizing="fixed" appearance="outline">
      <input matInput maxlength="256" [value]="answer()?.value" [disabled]="isPreviewDisabled"
             (input)="onPreviewInputChange($event)" [min]="Number(entity().text_validation_min | replacePlaceholders)"
             [max]="Number(entity().text_validation_max | replacePlaceholders)"
             [type]="'number'">
      <mat-hint>Enter a number between {{ entity().text_validation_min | replacePlaceholders }}
        and {{ entity().text_validation_max | replacePlaceholders }}
      </mat-hint>
    </mat-form-field>
    @if (error) {
      <p class="text-red-700 text-sm mt-4">{{ error }}</p>
    }

    @if (!isPreviewDisabled) {
      <button color="warn" matButton class="my-4 text-sm!" (click)="onPreviewInputChange(null)">
        Clear
      </button>
    }
  }
  @case ('logic') {
    <div class="">
      <mat-form-field class='small-input' appearance='outline'>
        <input matInput (input)="onLogicInputChange($event)" [value]="value" required type="number">
      </mat-form-field>
    </div>
  }
}



