@let _prefix = 'ADMIN.questionnaire.dialog.variable';

<div class='sticky top-0 z-40 flex flex-wrap justify-between gap-2 w-full bg-app-background dark:bg-app-background-dark'>
  <h2 class='flex items-center gap-2 m-0 text-lg font-bold '>
    <span class="text-primary dark:text-primary-dark">
      {{ `${_prefix}.templateVariables` | translate }}
    </span>
  </h2>

  <div class="flex items-center gap-2">
      <button (click)="openDialog('add')" mat-stroked-button color="primary" type="button">
        <span class="font-bold flex items-center gap-2">
          <mat-icon class="material-symbols-outlined">add</mat-icon>
          {{ `${_prefix}.add` | translate }} {{ `${_prefix}.title` | translate }}
        </span>
      </button>
  </div>
</div>

@let entities = store.selected()?.variables;

<div class="w-full text-sm relative mt-4 px-2">
  @if (entities?.length) {
      <div class="z-20 flex items-center gap-4 w-full py-2 px-4 font-bold border-y border-neutral-300 bg-background mat-app-background">
      @for (tableField of TableFields; track $index) {
          <div [class]="tableField.tableClass + ' ' + tableField.width + ' ' + tableField.classes"
               [class.flex-1]="!tableField.width"
               [class.shrink-0]="!!tableField.width">
            <button class="flex items-center gap-2 group">
              <span>{{ `${_prefix}.${tableField.name}` | translate }}</span>
            </button>
          </div>
      }
    </div>
  }
  @if (entities?.length) {
    @for (entity of entities; track $index) {
      <app-variable-table-row [entity]="entity"/>
    }
  }
</div>

<div class="flex items-center px-4 text-sm font-bold">
  @if (!entities?.length) {
    <span class="py-4">{{ `${_prefix}.noVariableFound` | translate }}</span>
  }
</div>
