@let _i18nEntity = 'ADMIN.questionnaire.dialog';

<form novalidate class="grid grid-cols-2 gap-4">
  <div>
    <div>
      <p class="text-sm">{{ `${_i18nEntity}.notification` | translate }}</p>
      <div>
        <app-html-editor [formField]="form.notification.title[_lang]"
                         [questionPicker]="false"
                         [label]="`${_i18nEntity}.notificationTitle`"/>
      </div>

      <div>
        <app-html-editor [formField]="form.notification.text[_lang]"
                         [questionPicker]="false"
                         [label]="`${_i18nEntity}.notificationMessage`"/>
      </div>
    </div>

    <mat-divider class="my-4!"/>

    <div>
      <p class="text-sm">{{ `${_i18nEntity}.reminders` | translate }}</p>
      <mat-slide-toggle [formField]="form.reminders.enabled" class="mx-3 my-4" color="primary">
        {{ `${_i18nEntity}.remindersEnable` | translate }}
      </mat-slide-toggle>

      @if (model().reminders.enabled) {
        <div class="grid grid-cols-3 gap-2">
          <app-input-form-field [field]="form.reminders.repeat"
                                [label]="`${_i18nEntity}.reminderRepeat`"
                                [required]="true"
                                type="number"/>

          <app-input-form-field [field]="form.reminders.amount"
                                [label]="`${_i18nEntity}.reminderAmount`"
                                [required]="true"
                                type="number"/>

          <div>
            <label for="reminders-unit" class="text-sm">
              {{ `${_i18nEntity}.reminderUnit` | translate }} *
            </label>
            <mat-form-field class='small-input' appearance='outline' subscriptSizing="fixed">
              <mat-select id="reminders-unit" [formField]="form.reminders.unit">
                @for (unit of UNITS; track unit.value) {
                  <mat-option [value]="unit.value">{{ unit.label }}</mat-option>
                }
              </mat-select>
              <mat-error>
                @if (form.reminders.unit().touched() && form.reminders.unit().invalid()) {
                  @for (error of form.reminders.unit().errors(); track error.kind) {
                    {{ error.message }}
                  }
                }
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      }
    </div>
  </div>
</form>
