@let entity = store.selected();

@if (entity) {
  <div
    class='sticky top-0 z-30 flex flex-wrap justify-between gap-2 p-4 w-full bg-primary/10 dark:bg-primary/10'>
    <div class='flex flex-wrap gap-2 items-center'>
      <button class="app-button-small app-button-full-corner" mat-flat-button
              [routerLink]="['/admin', 'clients']">
        <mat-icon class="material-symbols-outlined">{{ ENTITY_REGISTRY.client.icon }}</mat-icon>
        <span>{{ `ADMIN.${ENTITY_REGISTRY.client.name}.title.singular` | translate }}</span>
      </button>

      <h2 class='flex items-center gap-2 m-0 text-lg font-bold text-primary'>
        {{ entity.clientId }}
      </h2>
    </div>

    <app-client-actions *appShowIfHasRole='[{role: "ROLE_SYS_ADMIN"}]' [entity]="entity"/>
  </div>

  <div class="m-4">
    <nav class="border-b-2 border-neutral-200 dark:border-neutral-600"
         mat-tab-nav-bar
         mat-stretch-tabs="false"
         [tabPanel]="tabPanel">
      @for (link of links; track link) {
        <a mat-tab-link
           [routerLink]="link.path"
           routerLinkActive #rla="routerLinkActive"
           [active]="rla.isActive">
          <h2 class='flex items-center gap-2 m-0 text-base font-bold'>
            {{ link.label | translate }}
          </h2>
        </a>
      }
    </nav>
    <mat-tab-nav-panel #tabPanel class="">
      <router-outlet/>
    </mat-tab-nav-panel>
  </div>
}
