@let _prefix = 'ADMIN.questionnaire.dialog';

<form novalidate class="grid grid-cols-2 gap-4">
  <div>
    <div>
      <label for="title" class="text-sm">
        {{ `${_prefix}.title` | translate }}
      </label>
      <mat-form-field class='small-input w-full' appearance='outline' subscriptSizing="fixed">
        <input id="title" matInput [formField]="form.title[_lang]">
        <mat-error>
          @if (form.title[_lang]().touched() && form.title[_lang]().invalid()) {
            @for (error of form.title[_lang]().errors(); track error.kind) {
              {{ error.message }}
            }
          }
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <label for="description" class="text-sm">
        {{ `${_prefix}.description` | translate }}
      </label>
      <mat-form-field class='small-input w-full' appearance='outline' subscriptSizing="fixed">
        <textarea id="description" matInput [formField]="form.description[_lang]" cdkTextareaAutosize rows="2"></textarea>
        <mat-error>
          @if (form.description[_lang]().touched() && form.description[_lang]().invalid()) {
            @for (error of form.description[_lang]().errors(); track error.kind) {
              {{ error.message }}
            }
          }
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <label class="text-sm" for="showIntroduction">
        {{ `${_prefix}.showIntroduction` | translate }}
      </label>
      <mat-form-field class='small-input' appearance='outline' subscriptSizing="fixed">
        <mat-select id="showIntroduction" [formField]="form.showIntroduction">
          <mat-option value="no">
            {{ `${_prefix}.showIntroductionNo` | translate }}
          </mat-option>
          <mat-option value="once">
            {{ `${_prefix}.showIntroductionOnce` | translate }}
          </mat-option>
          <mat-option value="always">
            {{ `${_prefix}.showIntroductionAlways` | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    @if (model().showIntroduction !== 'no') {
      <div>
        <label for="startText" class="text-sm"
               [class]="form.startText[_lang]().invalid() ? 'text-red-700' : ''">
          {{ `${_prefix}.startText` | translate }} *
        </label>
        <app-rich-text-editor [formField]="form.startText[_lang]" [hideQuestionPicker]="true"/>

<!--        <app-question-template-variables [formField]="form.startText[_lang]" />-->
      </div>
    }

    <div>
      <label for="endText" class="text-sm"
             [class]="form.endText[_lang]().invalid() ? 'text-red-700' : ''">
        {{ `${_prefix}.endText` | translate }} *
      </label>
      <app-rich-text-editor [formField]="form.endText[_lang]" [hideQuestionPicker]="true"/>

<!--      <app-question-template-variables [formField]="form.endText[_lang]" />-->
    </div>

    <mat-slide-toggle [formField]="form.warningEnabled" class="my-4" color="primary">
      {{ `${_prefix}.warningEnabled` | translate }}
    </mat-slide-toggle>

    @if (model().warningEnabled) {
      <div>
        <label for="warningText" class="text-sm">
          {{ `${_prefix}.warningText` | translate }}
        </label>
        <mat-form-field class='small-input w-full' appearance='outline' subscriptSizing="fixed">
          <input id="warningText" matInput [formField]="form.warn[_lang]">
          <mat-error>
            @if (form.warn[_lang]().touched() && form.warn[_lang]().invalid()) {
              @for (error of form.warn[_lang]().errors(); track error.kind) {
                {{ error.message }}
              }
            }
          </mat-error>
        </mat-form-field>
      </div>
    }
  </div>
</form>
