@let _prefix = 'ADMIN.questionnaire.dialog';
@let language = dialogState.questionnaire()!.defaultLanguage!.code;

<form novalidate class="w-125">

  <div class="mb-4">
    <label for="titleLabel" class="text-sm">
      {{ `${_prefix}.titleLabel` | translate }}
    </label>
    <mat-form-field class='small-input w-full' appearance='outline'>
      <input id="titleLabel" matInput [formField]="form.title[language]">
    </mat-form-field>
  </div>

  <div class="mb-4">
    <label for="descriptionLabel" class="text-sm">
      {{ `${_prefix}.descriptionLabel` | translate }}
    </label>
    <mat-form-field class='small-input w-full' appearance='outline'>
      <textarea id="descriptionLabel" matInput [formField]="form.description[language]"></textarea>
    </mat-form-field>
  </div>

  <div class="text-sm w-1/2">
    <label for="showIntroduction">
      {{ `${_prefix}.showIntroductionLabel` | translate }}
    </label>
    <mat-form-field class='small-input' appearance='outline'>
      <mat-select id="showIntroduction" [formField]="form.showIntroduction">
        <mat-option value="no">
          {{ `${_prefix}.showIntroductionNo` | translate }}
        </mat-option>
        <mat-option value="once">
          {{ `${_prefix}.showIntroductionOnce` | translate }}
        </mat-option>
        <mat-option value="always">
          {{ `${_prefix}.showIntroductionAlways` | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  @if (model().showIntroduction !== 'no') {
    <div class="mb-4">
      <label for="startTextLabel" class="text-sm">
        {{ `${_prefix}.startTextLabel` | translate }}
      </label>
      <mat-form-field class='small-input w-full' appearance='outline'>
        <textarea id="startTextLabel" matInput [formField]="form.startText[language]"></textarea>
      </mat-form-field>
    </div>
  }

  <div class="mb-4">
    <label for="endTextLabel" class="text-sm">
      {{ `${_prefix}.endTextLabel` | translate }}
    </label>
    <mat-form-field class='small-input w-full' appearance='outline'>
      <textarea id="endTextLabel" matInput [formField]="form.endText[language]"></textarea>
    </mat-form-field>
  </div>

  <mat-slide-toggle [formField]="form.warningEnabled" class="my-4" color="primary">
    {{ `${_prefix}.warningEnabled` | translate }}
  </mat-slide-toggle>

  @if (model().warningEnabled) {
    <div class="mb-4">
      <label for="warningTextLabel" class="text-sm">
        {{ `${_prefix}.warningTextLabel` | translate }}
      </label>
      <mat-form-field class='small-input w-full' appearance='outline'>
        <input id="warningTextLabel" matInput [formField]="form.warn[language]">
      </mat-form-field>
    </div>
  }
</form>
