@let _i18nEntity = 'ADMIN.questionnaire.dialog';

<form novalidate class="grid grid-cols-2 gap-4">
  <div>
    <app-input-form-field [field]="form.title[_lang]" [label]="`${_i18nEntity}.title`"/>

    <app-textarea-form-field [field]="form.description[_lang]" [label]='`${_i18nEntity}.description`' [rows]="2"/>

    <mat-slide-toggle [formField]="form.warningEnabled" class="my-4" color="primary">
      {{ `${_i18nEntity}.warningEnabled` | translate }}
    </mat-slide-toggle>

    @if (model().warningEnabled) {
      <app-input-form-field [field]="form.warn[_lang]" [label]="`${_i18nEntity}.warningText`"/>
    }
  </div>
</form>
