<app-dialog-title [dialogMode]='SubjectDialogMode.DISCONTINUE'
                  [entityMetadata]="configService.getEntityMetadata()"
                  [entityName]="dialogData.entity._name"
                  [customLabel]="'ADMIN.subject.pairSource.title' | translate"
                  (closeEvent)='close()'/>

<mat-dialog-content>
  <app-dialog-body-description>
    <app-subject-details class="py-4" [entity]='dialogData.entity' [detailType]="DetailType.SUMMARY"/>
  </app-dialog-body-description>

  {{ 'ADMIN.source.title.plural' | translate }}
  <app-dialog-body-description>
    @if (!availableSources().length) {
      {{ 'ADMIN.source.noSourceAvailable' | translate }}
    } @else {
      @for (source of availableSources(); track source.id) {
        <div class='detail-item'>
          <span class='label'>
            <mat-checkbox [(ngModel)]='source.assigned'/>
          </span>
          <span class='value text-base'>
            <app-tag class="bg-source-type-color text-white">
              {{ source.sourceTypeProducer + "_" + source.sourceTypeModel + "_" + source.sourceTypeCatalogVersion }}
            </app-tag>
            {{ source.sourceName }}
            @if (source.expectedSourceName) {
              <span>[{{ source.expectedSourceName }}]</span>
            }
          </span>
        </div>
      }
    }
  </app-dialog-body-description>

</mat-dialog-content>

@if (error()) {
  <app-error-message-box>
    {{ error()?.error.errorCode | translate }}
  </app-error-message-box>
}

<div class='px-6 py-4 flex flex-wrap justify-between gap-2 w-full border-t border-neutral-400 dark:border-neutral-500'>
  <div class='flex flex-wrap gap-2'>
    <button mat-stroked-button
            color='accent'
            type='button'
            class='close-button'
            (click)='close()'>
      {{ 'ADMIN.subject.pairSource.cancel' | translate }}
    </button>
  </div>
  <div class='ml-auto justify-end'>
    <button mat-raised-button
            color='primary'
            type='submit'
            name='update'
            [disabled]='loading()'
            (click)='onAction(DialogAction.SAVE)'>
      @if (loading()) {
        <mat-icon>
          <mat-spinner diameter='20'/>
        </mat-icon>
      }
      {{ 'ADMIN.subject.pairSource.save' | translate }}
    </button>
  </div>
</div>
