<h2 mat-dialog-title class="border-b border-neutral-400 dark:border-neutral-500">
  <span> {{ `ADMIN.subject.pairSource.title` | translate }}</span>
  <code class="italic text-secondary"> {{ dialogData.entity?._name ? `${dialogData.entity?._name}` : `` }}</code>
</h2>

<mat-dialog-content>
  <div class='mb-4 text-base'>
    <app-subject-details class="py-4" [entity]='dialogData.entity' [detailType]="DetailType.SUMMARY"/>
  </div>

  {{ 'ADMIN.source.title.plural' | translate }}
  <div class='mb-4 text-base'>
    @if (!availableSources().length) {
      {{ 'ADMIN.source.noSourceAvailable' | translate }}
    } @else {
      @for (source of availableSources(); track source.id) {
        <div class='detail-item'>
          <span class='label'>
            <mat-checkbox [(ngModel)]='source.assigned'/>
          </span>
          <span class='value text-base'>
            <app-tag class="bg-source-type-color text-white">
              {{ source.sourceTypeProducer + "_" + source.sourceTypeModel + "_" + source.sourceTypeCatalogVersion }}
            </app-tag>
            {{ source.sourceName }}
            @if (source.expectedSourceName) {
              <span>[{{ source.expectedSourceName }}]</span>
            }
          </span>
        </div>
      }
    }
  </div>

</mat-dialog-content>

@if (error()) {
  <app-error-message-box>
    {{ $safeNavigationMigration(error()?.error.errorCode) | translate }}
  </app-error-message-box>
}

<div class='px-6 py-4 flex flex-wrap justify-between gap-2 w-full border-t border-neutral-400 dark:border-neutral-500'>
  <div class='flex flex-wrap gap-2'>
    <button mat-stroked-button
            color='accent'
            type='button'
            class='close-button'
            (click)='close()'>
      {{ 'ADMIN.subject.pairSource.cancel' | translate }}
    </button>
  </div>
  <div class='ml-auto justify-end'>
    <button mat-raised-button
            color='primary'
            type='submit'
            name='update'
            [disabled]='loading()'
            (click)='onAction(DialogAction.SAVE)'>
      @if (loading()) {
        <mat-icon>
          <mat-spinner diameter='20'/>
        </mat-icon>
      }
      {{ 'ADMIN.subject.pairSource.save' | translate }}
    </button>
  </div>
</div>
