<!--<p class="p-4"> Questionnaires page</p>-->
<!--<rb-entities-page-header [entityName]="name"-->
<!--                         (action)="onAction(DialogMode.ADD)">-->
<!--</rb-entities-page-header>-->
<!--HHH-->
<!--<rb-data-table-filter *ngIf='filters.length'-->
<!--                      [filters]='filters'-->
<!--                      [filterOpened]='isFilterOpened'-->
<!--                      (filterChanged)='handleFilterChange($event)'-->
<!--                      (filterEnableChanged)="onFilterEnabledChanged($event)">-->
<!--</rb-data-table-filter>-->

<!--<rb-loader *ngIf='loading'></rb-loader>-->

<!--<div class="rb-table" rbTableQueryReflector [page]="page" [sort]="sort" [defaultSort]="{sortField: 'id', sortOrder: 'desc'}"-->
<!--     (activeQueryParams)="handleActiveQueryChange($event)" (dialogQueryParams)="onAction($event.mode, undefined, $event.id, undefined )">-->
<!--  <div class="rb-table-header">-->
<!--    <div *ngFor="let property of PROPERTIES"-->
<!--         [class]="property.tableClass + ' ' + property.width + ' ' + property.classes"-->
<!--         [class.flex-1]="!property.width"-->
<!--         [class.shrink-0]="!!property.width">-->
<!--      <div class="rb-table-head group" (click)="switchSort(property)">-->
<!--        <span>{{ 'ADMIN.' + name + '.' + property.name + '.tableLabel' | translate }}</span>-->
<!--        <div *ngIf="property.sortable">-->
<!--          <div class="rb-table-sort" [class.opacity-0]="sort.sortField !== property.name">-->
<!--          <span class="rb-sort-icon material-symbols-outlined">-->
<!--            {{ sort.sortField === property.name && sort.sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward'}}-->
<!--          </span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--&lt;!&ndash;    <div class='w-96'>&ndash;&gt;-->
<!--&lt;!&ndash;      <span class="font-bold">Translations</span>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--    <div class='w-20'>-->
<!--      <span>{{ 'ADMIN.' + name + '.actions' | translate }}</span>-->
<!--    </div>-->
<!--  </div>-->

<!--  <ng-container *ngIf="entitiesToShow">-->
<!--    <div class="rb-table-row" [ngClass]="updated === entity.id ? 'bg-green-100!' : ''"-->
<!--         *ngFor="let entity of entitiesToShow">-->
<!--      <div class="rb-table-main-row">-->
<!--        <div *ngFor="let property of PROPERTIES"-->
<!--             [class]="property.tableClass + ' ' + property.width + ' ' + property.classes"-->
<!--             [class.flex-1]="!property.width"-->
<!--             [class.shrink-0]="!!property.width"-->
<!--             [ngSwitch]="property.name">-->
<!--          <ng-container *ngSwitchCase="'name'">-->
<!--            <p>{{ entity['name'] || '-' }}</p>-->
<!--&lt;!&ndash;            <div class="w-96">&ndash;&gt;-->
<!--              <div class="flex items-center flex-wrap">-->
<!--                <span class="text-xs font-bold text-neutral-400 uppercase">Translations</span>-->
<!--                <span *ngFor="let l of entity['translations'] | keyvalue; let i = index">-->
<!--                  <button mat-icon-button class="mat-small-icon-button uppercase text-sm"-->
<!--                          (click)='$event.stopPropagation()'-->
<!--                          [ngClass]="{'text-accent-color-500! dark:text-accent-dark-color-300!' : 'en' === l.key, 'text-primary-color-500! dark:text-primary-dark-color-500!': 'en' !== l.key}"-->
<!--                          [matMenuTriggerFor]="menu">-->
<!--&lt;!&ndash;                          [ngClass]="{'text-primary-color-500!' : 'en' === l.key, 'text-accent-color-200!': 'en' !== l.key, 'text-accent-color-500!': 'en' !== l.key}"&ndash;&gt;-->
<!--                    <span class="text-sm font-bold">{{l.key}}</span>-->
<!--                  </button>-->
<!--                  <mat-menu #menu="matMenu">-->
<!--                    <button mat-menu-item (click)='onTranslationAction(DialogMode.EDIT, entity, l.key, undefined)'>-->
<!--                      <span class="text-xl material-symbols-outlined">edit</span>-->
<!--                      <span>{{ 'ADMIN.questionnaire.edit' | translate }}</span>-->
<!--                    </button>-->
<!--                    <button mat-menu-item (click)='onTranslationAction(DialogMode.DELETE, entity, l.key, undefined)'>-->
<!--                      <span class="text-xl material-symbols-outlined">delete</span>-->
<!--                      <span>{{ 'ADMIN.questionnaire.delete' | translate }}</span>-->
<!--                    </button>-->
<!--                  </mat-menu>-->
<!--                </span>-->
<!--                <button mat-icon-button class="mat-small-icon-button"-->
<!--                        (click)='onTranslationAction(DialogMode.ADD, entity)'>-->
<!--                  <span class="text-lg text-primary-color-500 material-symbols-outlined">add</span>-->
<!--                </button>-->
<!--              </div>-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--          </ng-container>-->
<!--          <ng-container *ngSwitchCase="'questionCount'">-->
<!--            {{ entity["translations"]["en"]["questions"]?.length || '-' }}-->
<!--          </ng-container>-->
<!--          <ng-container *ngSwitchDefault>{{ entity[property.name] || '-' }}</ng-container>-->
<!--        </div>-->
<!--&lt;!&ndash;        <div class="w-96">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="flex items-center p-2">&ndash;&gt;-->
<!--&lt;!&ndash;            <button mat-icon-button class="mat-small-icon-button"&ndash;&gt;-->
<!--&lt;!&ndash;                    (click)='onTranslationAction(DialogMode.ADD, entity)'>&ndash;&gt;-->
<!--&lt;!&ndash;              <span class="text-xl material-symbols-outlined">add</span>&ndash;&gt;-->
<!--&lt;!&ndash;            </button>&ndash;&gt;-->
<!--&lt;!&ndash;            <span *ngFor="let l of entity['translations'] | keyvalue; let i = index">&ndash;&gt;-->
<!--&lt;!&ndash;                <button mat-icon-button class="mat-small-icon-button uppercase text-sm"&ndash;&gt;-->
<!--&lt;!&ndash;                        (click)='$event.stopPropagation()'&ndash;&gt;-->
<!--&lt;!&ndash;                        [ngClass]="{'text-blue-500!' : 'en' === l.key, 'text-green-500!': 'en' !== l.key, 'text-red-500!': 'en' !== l.key}"&ndash;&gt;-->
<!--&lt;!&ndash;                        [matMenuTriggerFor]="menu">&ndash;&gt;-->
<!--&lt;!&ndash;                  <span class="text-sm">{{l.key}}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                </button>&ndash;&gt;-->
<!--&lt;!&ndash;                <mat-menu #menu="matMenu">&ndash;&gt;-->
<!--&lt;!&ndash;                  <button mat-menu-item (click)='onTranslationAction(DialogMode.EDIT, entity, l.key, undefined)'>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="text-xl material-symbols-outlined">edit</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span>{{ 'ADMIN.questionnaire.edit' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                  </button>&ndash;&gt;-->
<!--&lt;!&ndash;                  <button mat-menu-item (click)='onTranslationAction(DialogMode.DELETE, entity, l.key, undefined)'>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="text-xl material-symbols-outlined">delete</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span>{{ 'ADMIN.questionnaire.delete' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                  </button>&ndash;&gt;-->
<!--&lt;!&ndash;                </mat-menu>&ndash;&gt;-->
<!--&lt;!&ndash;              </span>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--        <div class='w-20'>-->
<!--          <button mat-icon-button class="mat-small-icon-button"-->
<!--                  (click)="$event.stopPropagation(); expandedElement = expandedElement === entity ? null : entity">-->
<!--            <span class="material-symbols-outlined">-->
<!--              {{entity !== expandedElement ? 'expand_more' : 'expand_less'}}-->
<!--            </span>-->
<!--          </button>-->
<!--          <button class="mat-small-icon-button"-->
<!--                  mat-icon-button color="primary"-->
<!--                  (click)='onAction(DialogMode.EDIT, entity, undefined)'>-->
<!--            <span class="material-symbols-outlined">edit</span>-->
<!--          </button>-->
<!--          <button class="mat-small-icon-button" mat-icon-button color="warn"-->
<!--                  (click)='onAction(DialogMode.DELETE, entity, undefined)'>-->
<!--            <span class="material-symbols-outlined">delete</span>-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="rb-table-extension-row" [@detailExpand]="entity === expandedElement ? 'expanded' : 'collapsed'">-->
<!--&lt;!&ndash;        <rb-subject-details [entity]='entity' [type]="DetailType.TABLE"></rb-subject-details>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--  </ng-container>-->
<!--</div>-->
<!--<mat-paginator (page)="switchPage($event)"-->
<!--               [length]="filteredAndSortedEntities.length"-->
<!--               [pageSize]="page.pageSize"-->
<!--               [pageSizeOptions]="pageSizeOptions"-->
<!--               [pageIndex]="page.pageIndex"-->
<!--               aria-label="Select page">-->
<!--</mat-paginator>-->

<!--&lt;!&ndash;<div class="w-full px-4 text-sm">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="flex gap-4 w-full py-1 px-4">&ndash;&gt;-->
<!--&lt;!&ndash;    <div *ngFor="let property of PROPERTIES"&ndash;&gt;-->
<!--&lt;!&ndash;         [class]="(property.tableClass || '') + ' ' + (property.width || '') + ' ' + (property.classes || '')"&ndash;&gt;-->
<!--&lt;!&ndash;         [class.flex-1]="property.width === undefined"&ndash;&gt;-->
<!--&lt;!&ndash;         [class.shrink-0]="property.width !== undefined"&ndash;&gt;-->
<!--&lt;!&ndash;         [ngSwitch]="property.name">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="flex items-center gap-2 font-bold cursor-pointer group" (click)="switchSort(property)">&ndash;&gt;-->
<!--&lt;!&ndash;        <span class="font-bold">{{ 'ADMIN.questionnaire.' + property.name + '.tableLabel' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;        <div  *ngIf="property.sortable">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="group-hover:opacity-70 transition-opacity duration-500" [class.opacity-0]="sort.sortField !== property.name">&ndash;&gt;-->
<!--&lt;!&ndash;        <span class="material-symbols-outlined w-3.5! h-3.5! text-base">&ndash;&gt;-->
<!--&lt;!&ndash;          {{ sort.sortField === property.name && sort.sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward'}}&ndash;&gt;-->
<!--&lt;!&ndash;        </span>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class='w-96'>&ndash;&gt;-->
<!--&lt;!&ndash;      <span class="font-bold">Translations</span>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class='w-20 action-column'>&ndash;&gt;-->
<!--&lt;!&ndash;      <span class="font-bold">{{ 'ADMIN.questionnaire.actions' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  <ng-container *ngIf="entitiesToShow">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="shadow-sm rounded-sm bg-white my-1 hover:drop-shadow-sm" *ngFor="let entity of entitiesToShow">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="flex gap-4 items-center py-2 px-4">&ndash;&gt;-->
<!--&lt;!&ndash;        <div *ngFor="let property of PROPERTIES"&ndash;&gt;-->
<!--&lt;!&ndash;             [class]="(property.tableClass || '') + ' ' + (property.width || '') + ' ' + (property.classes || '')"&ndash;&gt;-->
<!--&lt;!&ndash;             [class.flex-1]="property.width === undefined"&ndash;&gt;-->
<!--&lt;!&ndash;             [class.shrink-0]="property.width !== undefined"&ndash;&gt;-->
<!--&lt;!&ndash;             [ngSwitch]="property.name">&ndash;&gt;-->
<!--&lt;!&ndash;          <ng-container *ngSwitchCase="'questionCount'">&ndash;&gt;-->
<!--&lt;!&ndash;            {{ entity["translations"]["en"]["questions"].length || '-' }}&ndash;&gt;-->
<!--&lt;!&ndash;          </ng-container>&ndash;&gt;-->
<!--&lt;!&ndash;          <ng-container *ngSwitchDefault>{{ entity[property.name] || '-' }}</ng-container>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="w-96">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="flex items-center p-2">&ndash;&gt;-->
<!--&lt;!&ndash;              <button mat-icon-button class="mat-small-icon-button"&ndash;&gt;-->
<!--&lt;!&ndash;                      (click)='onTranslationAction(DialogMode.ADD, entity)'>&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="text-xl material-symbols-outlined">add</span>&ndash;&gt;-->
<!--&lt;!&ndash;              </button>&ndash;&gt;-->
<!--&lt;!&ndash;              <span *ngFor="let l of entity['translations'] | keyvalue; let i = index">&ndash;&gt;-->
<!--&lt;!&ndash;                <button mat-icon-button class="mat-small-icon-button uppercase text-sm"&ndash;&gt;-->
<!--&lt;!&ndash;                        (click)='$event.stopPropagation()'&ndash;&gt;-->
<!--&lt;!&ndash;                        [ngClass]="{'text-blue-500!' : 'en' === l.key, 'text-green-500!': 'en' !== l.key, 'text-red-500!': 'en' !== l.key}"&ndash;&gt;-->
<!--&lt;!&ndash;                        [matMenuTriggerFor]="menu">&ndash;&gt;-->
<!--&lt;!&ndash;                  <span class="text-sm">{{l.key}}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                </button>&ndash;&gt;-->
<!--&lt;!&ndash;                <mat-menu #menu="matMenu">&ndash;&gt;-->
<!--&lt;!&ndash;                  <button mat-menu-item (click)='onTranslationAction(DialogMode.EDIT, entity, l.key, undefined)'>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="text-xl material-symbols-outlined">edit</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span>{{ 'ADMIN.questionnaire.edit' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                  </button>&ndash;&gt;-->
<!--&lt;!&ndash;                  <button mat-menu-item (click)='onTranslationAction(DialogMode.DELETE, entity, l.key, undefined)'>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="text-xl material-symbols-outlined">delete</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span>{{ 'ADMIN.questionnaire.delete' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                  </button>&ndash;&gt;-->
<!--&lt;!&ndash;                </mat-menu>&ndash;&gt;-->
<!--&lt;!&ndash;              </span>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class='w-20'>&ndash;&gt;-->
<!--&lt;!&ndash;          <button mat-icon-button class="mat-small-icon-button"&ndash;&gt;-->
<!--&lt;!&ndash;                  (click)="$event.stopPropagation(); expandedElement = expandedElement === entity ? null : entity">&ndash;&gt;-->
<!--&lt;!&ndash;          <span class="text-xl material-symbols-outlined">&ndash;&gt;-->
<!--&lt;!&ndash;            {{entity !== expandedElement ? 'expand_more' : 'expand_less'}}&ndash;&gt;-->
<!--&lt;!&ndash;          </span>&ndash;&gt;-->
<!--&lt;!&ndash;          </button>&ndash;&gt;-->
<!--&lt;!&ndash;          <button class="mat-small-icon-button"&ndash;&gt;-->
<!--&lt;!&ndash;                  mat-icon-button color="primary"&ndash;&gt;-->
<!--&lt;!&ndash;                  (click)='onAction(DialogMode.EDIT, entity, undefined)'>&ndash;&gt;-->
<!--&lt;!&ndash;            <span class="text-xl material-symbols-outlined font-bold">edit</span>&ndash;&gt;-->
<!--&lt;!&ndash;          </button>&ndash;&gt;-->
<!--&lt;!&ndash;          <button class="mat-small-icon-button" mat-icon-button color="warn"&ndash;&gt;-->
<!--&lt;!&ndash;                  (click)='onAction(DialogMode.DELETE, entity, undefined)'>&ndash;&gt;-->
<!--&lt;!&ndash;            <span class="text-xl material-symbols-outlined font-bold">delete</span>&ndash;&gt;-->
<!--&lt;!&ndash;          </button>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class='px-4'>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="mt-0.5 flex overflow-hidden transition-all duration-500"&ndash;&gt;-->
<!--&lt;!&ndash;             [@detailExpand]="entity === expandedElement ? 'expanded' : 'collapsed'">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="border-t w-full max-w-[calc(100vw-56px)]">&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;            <rb-user-details [entity]='entity' [type]="DetailType.TABLE"></rb-user-details>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </ng-container>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<mat-paginator (page)="switchPage($event)"&ndash;&gt;-->
<!--&lt;!&ndash;               [length]="filteredAndSortedEntities.length"&ndash;&gt;-->
<!--&lt;!&ndash;               [pageSize]="page.pageSize"&ndash;&gt;-->
<!--&lt;!&ndash;               [pageSizeOptions]="pageSizeOptions"&ndash;&gt;-->
<!--&lt;!&ndash;               [pageIndex]="page.pageIndex"&ndash;&gt;-->
<!--&lt;!&ndash;               aria-label="Select page">&ndash;&gt;-->
<!--&lt;!&ndash;</mat-paginator>&ndash;&gt;-->



<!--&lt;!&ndash;<div class='p-4'>&ndash;&gt;-->
<!--&lt;!&ndash;  <rb-entities-page-header [entityName]="ENTITY_NAME.questionnaire" (action)="onAction(DialogMode.ADD)"></rb-entities-page-header>&ndash;&gt;-->

<!--  &lt;!&ndash;     [ngStyle]='{"padding-top": organizationName? "1rem":""}'>&ndash;&gt;-->
<!--&lt;!&ndash;  <div class='flex flex-wrap justify-between gap-2 mb-4'>&ndash;&gt;-->
<!--&lt;!&ndash;    <h2 class='text-lg m-0 font-bold flex items-center gap-2'>&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-icon class='p-2 w-10! h-10! rounded-full bg-gray-200'&ndash;&gt;-->
<!--&lt;!&ndash;                fontSet='material-icons-outlined'>content_paste</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;      {{ 'ADMIN.questionnaire.title.plural' | translate }}&ndash;&gt;-->
<!--&lt;!&ndash;    </h2>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class='flex gap-2 items-center ml-auto'>&ndash;&gt;-->
<!--&lt;!&ndash;      <button *rbPermission='[{role: "ROLE_SYS_ADMIN"}]'&ndash;&gt;-->
<!--&lt;!&ndash;              type='button'&ndash;&gt;-->
<!--&lt;!&ndash;              mat-stroked-button&ndash;&gt;-->
<!--&lt;!&ndash;              color='primary'&ndash;&gt;-->
<!--&lt;!&ndash;              (click)='onAction(DialogMode.ADD, undefined, undefined, undefined, "en")'>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-icon>add</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;        <span class="font-bold">{{ 'ADMIN.questionnaire.create' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;      </button>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->


<!--&lt;!&ndash;  <div class='flex flex-wrap justify-between gap-2 mb-4'>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <h2 class='list-page-header-title project-color-fg'>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      <mat-icon class='circle-icon project-color'&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                fontSet='material-icons-outlined'>folder</mat-icon>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      {{ 'ADMIN.project.title.plural' | translate }}&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    </h2>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <div class='flex gap-2 items-center ml-auto'>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      *rbShowForRoles='[{role: "ROLE_SYS_ADMIN"}, {role: "ROLE_ORGANIZATION_ADMIN", entityName: organizationName}]'&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;      <button class='bg-project-color!'&ndash;&gt;-->
<!--&lt;!&ndash;              type='button'&ndash;&gt;-->
<!--&lt;!&ndash;              mat-raised-button&ndash;&gt;-->
<!--&lt;!&ndash;              color='primary'&ndash;&gt;-->
<!--&lt;!&ndash;              (click)='onAction(DialogMode.ADD)'>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-icon>add</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;        <span>{{ 'ADMIN.questionnaire.create' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;      </button>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->

<!--&lt;!&ndash;  &ndash;&gt;-->
<!--&lt;!&ndash;  <rb-data-table-filter *ngIf='filters.length'&ndash;&gt;-->
<!--&lt;!&ndash;                        [filters]='filters'&ndash;&gt;-->
<!--&lt;!&ndash;                        [filterOpened]='isFilterOpened'&ndash;&gt;-->
<!--&lt;!&ndash;                        (filterChanged)='onFilterChange($event)'>&ndash;&gt;-->
<!--&lt;!&ndash;  </rb-data-table-filter>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;  *rbPermission="[&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;  {role: 'ROLE_SYS_ADMIN'},&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;  {role: 'ROLE_ORGANIZATION_ADMIN', entityName: organizationName}&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;  ]; else gridTemplate"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;  <mat-card appearance="outlined" class="border p-0">&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-card-content>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      <div class='list-container'>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <div class='table-container'>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;          <rb-loader *ngIf='loading' [cover]='false'></rb-loader>&ndash;&gt;-->
<!--&lt;!&ndash;          <table class='text-sm sticky-head w-full'&ndash;&gt;-->
<!--&lt;!&ndash;                 mat-table&ndash;&gt;-->
<!--&lt;!&ndash;                 [dataSource]='dataSource'&ndash;&gt;-->
<!--&lt;!&ndash;                 matSort&ndash;&gt;-->
<!--&lt;!&ndash;                 [paginator]='paginator'&ndash;&gt;-->
<!--&lt;!&ndash;                 [sort]='sort'&ndash;&gt;-->
<!--&lt;!&ndash;                 [defaultPageSize]='defaultPageSize'&ndash;&gt;-->
<!--&lt;!&ndash;                 (dialogQueryParams)='onAction($event.mode, undefined, $event.id)'&ndash;&gt;-->
<!--&lt;!&ndash;                 rbNgMatTableQueryReflector&ndash;&gt;-->
<!--&lt;!&ndash;                 [trackBy]="trackId"&ndash;&gt;-->
<!--&lt;!&ndash;                 aria-label='Items List'&ndash;&gt;-->
<!--&lt;!&ndash;                 multiTemplateDataRows>&ndash;&gt;-->

<!--&lt;!&ndash;            <ng-container matColumnDef='id'>&ndash;&gt;-->
<!--&lt;!&ndash;              <th mat-header-cell&ndash;&gt;-->
<!--&lt;!&ndash;                  *matHeaderCellDef&ndash;&gt;-->
<!--&lt;!&ndash;                  mat-sort-header=''&ndash;&gt;-->
<!--&lt;!&ndash;                  disableClear&ndash;&gt;-->
<!--&lt;!&ndash;                  class='w-16 hidden sm:table-cell'>&ndash;&gt;-->
<!--&lt;!&ndash;                {{ 'ADMIN.questionnaire.id.tableLabel' | translate }}&ndash;&gt;-->
<!--&lt;!&ndash;              </th>&ndash;&gt;-->
<!--&lt;!&ndash;              <td mat-cell *matCellDef='let entity' class='w-16 hidden sm:table-cell'>&ndash;&gt;-->
<!--&lt;!&ndash;                {{ entity['id'] || '-' }}&ndash;&gt;-->
<!--&lt;!&ndash;              </td>&ndash;&gt;-->
<!--&lt;!&ndash;            </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;            <ng-container matColumnDef='name'>&ndash;&gt;-->
<!--&lt;!&ndash;              <th mat-header-cell&ndash;&gt;-->
<!--&lt;!&ndash;                  *matHeaderCellDef&ndash;&gt;-->
<!--&lt;!&ndash;                  mat-sort-header=''>&ndash;&gt;-->
<!--&lt;!&ndash;                {{ 'ADMIN.questionnaire.name.tableLabel' | translate }}&ndash;&gt;-->
<!--&lt;!&ndash;              </th>&ndash;&gt;-->
<!--&lt;!&ndash;              <td mat-cell *matCellDef='let entity'>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                *rbShowForRoles='[{role: "ROLE_SYS_ADMIN"}, {role: "ROLE_ORGANIZATION_ADMIN", entityName: organizationName}]'&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                <a [routerLink]='["../../../projects", entity["projectName"], "users", "roles"]'>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  <span class='primary-color'>{{ entity["name"] }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                </a>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                <a *rbShowForRoles='[{role: "ROLE_PROJECT_ADMIN", entityName: entity["projectName"]}];'&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                   [routerLink]='["../../../projects", entity["projectName"]]'>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                  <span class='primary-color'>{{ entity["name"] }}</span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                </a>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;              </td>&ndash;&gt;-->
<!--&lt;!&ndash;            </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;            <ng-container matColumnDef='createdBy'>&ndash;&gt;-->
<!--&lt;!&ndash;              <th mat-header-cell&ndash;&gt;-->
<!--&lt;!&ndash;                  *matHeaderCellDef&ndash;&gt;-->
<!--&lt;!&ndash;                  mat-sort-header=''>&ndash;&gt;-->
<!--&lt;!&ndash;                {{ 'ADMIN.questionnaire.createdBy.tableLabel' | translate }}&ndash;&gt;-->
<!--&lt;!&ndash;              </th>&ndash;&gt;-->
<!--&lt;!&ndash;              <td mat-cell *matCellDef='let entity'>&ndash;&gt;-->
<!--&lt;!&ndash;                {{ entity["createdBy"] || '-' }}&ndash;&gt;-->
<!--&lt;!&ndash;              </td>&ndash;&gt;-->
<!--&lt;!&ndash;            </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;            <ng-container matColumnDef='modifiedBy'>&ndash;&gt;-->
<!--&lt;!&ndash;              <th mat-header-cell&ndash;&gt;-->
<!--&lt;!&ndash;                  *matHeaderCellDef&ndash;&gt;-->
<!--&lt;!&ndash;                  mat-sort-header=''&ndash;&gt;-->
<!--&lt;!&ndash;                  class='hidden lg:table-cell'>&ndash;&gt;-->
<!--&lt;!&ndash;                {{ 'ADMIN.questionnaire.modifiedBy.tableLabel' | translate }}&ndash;&gt;-->
<!--&lt;!&ndash;              </th>&ndash;&gt;-->
<!--&lt;!&ndash;              <td mat-cell *matCellDef='let entity' class='hidden lg:table-cell'>&ndash;&gt;-->
<!--&lt;!&ndash;                {{ entity["modifiedBy"] || '-' }}&ndash;&gt;-->
<!--&lt;!&ndash;              </td>&ndash;&gt;-->
<!--&lt;!&ndash;            </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;            <ng-container matColumnDef='createdDate' >&ndash;&gt;-->
<!--&lt;!&ndash;              <th mat-header-cell&ndash;&gt;-->
<!--&lt;!&ndash;                  *matHeaderCellDef&ndash;&gt;-->
<!--&lt;!&ndash;                  mat-sort-header=''&ndash;&gt;-->
<!--&lt;!&ndash;                  class='w-36 hidden lg:table-cell'>&ndash;&gt;-->
<!--&lt;!&ndash;                {{ 'ADMIN.questionnaire.createdDate.tableLabel' | translate }}&ndash;&gt;-->
<!--&lt;!&ndash;              </th>&ndash;&gt;-->
<!--&lt;!&ndash;              <td mat-cell *matCellDef='let entity' class='w-36 hidden lg:table-cell'>&ndash;&gt;-->
<!--&lt;!&ndash;                <rb-local-date [date]="entity['createdDate']" [format]="'mediumDate'"></rb-local-date>&ndash;&gt;-->
<!--&lt;!&ndash;              </td>&ndash;&gt;-->
<!--&lt;!&ndash;            </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;            <ng-container matColumnDef='modifiedDate'>&ndash;&gt;-->
<!--&lt;!&ndash;              <th mat-header-cell&ndash;&gt;-->
<!--&lt;!&ndash;                  *matHeaderCellDef&ndash;&gt;-->
<!--&lt;!&ndash;                  mat-sort-header=""&ndash;&gt;-->
<!--&lt;!&ndash;                  class='w-36 hidden lg:table-cell'>&ndash;&gt;-->
<!--&lt;!&ndash;                {{ 'ADMIN.questionnaire.modifiedDate.tableLabel' | translate }}&ndash;&gt;-->
<!--&lt;!&ndash;              </th>&ndash;&gt;-->
<!--&lt;!&ndash;              <td mat-cell *matCellDef='let entity' class='w-36 hidden lg:table-cell'>&ndash;&gt;-->
<!--&lt;!&ndash;                <rb-local-date [date]="entity['modifiedDate']" [format]="'mediumDate'"></rb-local-date>&ndash;&gt;-->
<!--&lt;!&ndash;              </td>&ndash;&gt;-->
<!--&lt;!&ndash;            </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;            <ng-container matColumnDef='questionCount'>&ndash;&gt;-->
<!--&lt;!&ndash;              <th mat-header-cell&ndash;&gt;-->
<!--&lt;!&ndash;                  *matHeaderCellDef&ndash;&gt;-->
<!--&lt;!&ndash;                  mat-sort-header=""&ndash;&gt;-->
<!--&lt;!&ndash;                  class='w-36 hidden lg:table-cell'>&ndash;&gt;-->
<!--&lt;!&ndash;                {{ 'ADMIN.questionnaire.questionCount.tableLabel' | translate }}&ndash;&gt;-->
<!--&lt;!&ndash;              </th>&ndash;&gt;-->
<!--&lt;!&ndash;              <td mat-cell *matCellDef='let entity' class='w-36 hidden lg:table-cell'>&ndash;&gt;-->
<!--&lt;!&ndash;                {{ entity["translations"]["en"]["questions"].length || '-' }}&ndash;&gt;-->
<!--&lt;!&ndash;              </td>&ndash;&gt;-->
<!--&lt;!&ndash;            </ng-container>&ndash;&gt;-->


<!--&lt;!&ndash;            <ng-container matColumnDef='translations'>&ndash;&gt;-->
<!--&lt;!&ndash;              <th mat-header-cell&ndash;&gt;-->
<!--&lt;!&ndash;                  *matHeaderCellDef&ndash;&gt;-->
<!--&lt;!&ndash;                  mat-sort-header=""&ndash;&gt;-->
<!--&lt;!&ndash;                  class='w-36 hidden lg:table-cell'>&ndash;&gt;-->
<!--&lt;!&ndash;                {{ 'ADMIN.questionnaire.translations.tableLabel' | translate }}&ndash;&gt;-->
<!--&lt;!&ndash;              </th>&ndash;&gt;-->
<!--&lt;!&ndash;              <td mat-cell *matCellDef='let entity' class='w-36 hidden lg:table-cell'>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                <div class="flex overflow-hidden">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="flex items-center p-2">&ndash;&gt;-->
<!--&lt;!&ndash;                    <button class="" mat-icon-button aria-label="Example icon-button with a menu" (click)='onTranslationAction(DialogMode.ADD, entity)' >&ndash;&gt;-->
<!--&lt;!&ndash;                      <mat-icon>add</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;                    </button>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span *ngFor="let l of entity['translations'] | keyvalue; let i = index">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" (click)='$event.stopPropagation()'&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                              class="text-sm uppercase" [ngClass]="{'text-blue-500!' : l.default, 'text-green-500!': !l.default && l.valid, 'text-red-500!': !l.default && !l.valid}">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        {{l.name}}&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                      </button>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                      <button mat-icon-button&ndash;&gt;-->
<!--&lt;!&ndash;                              [matMenuTriggerFor]="menu"&ndash;&gt;-->
<!--&lt;!&ndash;                              aria-label="Example icon-button with a menu"&ndash;&gt;-->
<!--&lt;!&ndash;                              (click)='$event.stopPropagation()'&ndash;&gt;-->
<!--&lt;!&ndash;                              class="text-sm uppercase"&ndash;&gt;-->
<!--&lt;!&ndash;                              [ngClass]="{'text-blue-500!' : 'en' === l.key, 'text-green-500!': 'en' !== l.key, 'text-red-500!': 'en' !== l.key}">&ndash;&gt;-->
<!--&lt;!&ndash;                        {{l.key}}&ndash;&gt;-->
<!--&lt;!&ndash;                      </button>&ndash;&gt;-->
<!--&lt;!&ndash;                      <mat-menu #menu="matMenu">&ndash;&gt;-->
<!--&lt;!&ndash;                        <button mat-menu-item&ndash;&gt;-->
<!--&lt;!&ndash;                                (click)='onTranslationAction(DialogMode.EDIT, entity, l.key, undefined)'>&ndash;&gt;-->
<!--&lt;!&ndash;                          <mat-icon color='primary' fontSet='material-icons-outlined'>edit</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;                          <span>{{ 'ADMIN.questionnaire.edit' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </button>&ndash;&gt;-->
<!--&lt;!&ndash;                        <button mat-menu-item&ndash;&gt;-->
<!--&lt;!&ndash;                                disabled&ndash;&gt;-->
<!--&lt;!&ndash;                                (click)='onTranslationAction(DialogMode.DELETE, entity, l.key, undefined)'>&ndash;&gt;-->
<!--&lt;!&ndash;                          <mat-icon>delete</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;                          <span>{{ 'ADMIN.questionnaire.delete' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </button>&ndash;&gt;-->
<!--&lt;!&ndash;                      </mat-menu>&ndash;&gt;-->
<!--&lt;!&ndash;                    </span>&ndash;&gt;-->

<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;              </td>&ndash;&gt;-->
<!--&lt;!&ndash;            </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;            <ng-container matColumnDef='actions'>&ndash;&gt;-->
<!--&lt;!&ndash;              <th mat-header-cell&ndash;&gt;-->
<!--&lt;!&ndash;                  *matHeaderCellDef&ndash;&gt;-->
<!--&lt;!&ndash;                  class='w-20'>&ndash;&gt;-->
<!--&lt;!&ndash;                {{ 'ADMIN.questionnaire.actions' | translate }}&ndash;&gt;-->
<!--&lt;!&ndash;              </th>&ndash;&gt;-->
<!--&lt;!&ndash;              <td mat-cell&ndash;&gt;-->
<!--&lt;!&ndash;                  *matCellDef="let entity"&ndash;&gt;-->
<!--&lt;!&ndash;                  class='w-20'>&ndash;&gt;-->
<!--&lt;!&ndash;                <ng-container>&ndash;&gt;-->
<!--&lt;!&ndash;                  <button mat-icon-button&ndash;&gt;-->
<!--&lt;!&ndash;                          (click)="$event.stopPropagation(); expandedElement = expandedElement === entity ? null : entity">&ndash;&gt;-->
<!--&lt;!&ndash;                    <mat-icon *ngIf="entity !== expandedElement">expand_more</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;                    <mat-icon *ngIf="entity === expandedElement">expand_less</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;                  </button>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                  <ng-container *rbShowForRoles='[{role: "ROLE_SYS_ADMIN"}, {role: "ROLE_ORGANIZATION_ADMIN", entityName: organizationName}]'>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" (click)='$event.stopPropagation()'>&ndash;&gt;-->
<!--&lt;!&ndash;                      <mat-icon>more_vert</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;                    </button>&ndash;&gt;-->
<!--&lt;!&ndash;                    <mat-menu #menu="matMenu">&ndash;&gt;-->
<!--&lt;!&ndash;                      <button mat-menu-item&ndash;&gt;-->
<!--&lt;!&ndash;                              (click)='onAction(DialogMode.EDIT, entity, undefined, undefined, "en")'>&ndash;&gt;-->
<!--&lt;!&ndash;                        <mat-icon color='primary' fontSet='material-icons-outlined'>edit</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span>{{ 'ADMIN.questionnaire.edit' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                      </button>&ndash;&gt;-->
<!--&lt;!&ndash;                      <button mat-menu-item&ndash;&gt;-->
<!--&lt;!&ndash;                              disabled&ndash;&gt;-->
<!--&lt;!&ndash;                              (click)='onAction(DialogMode.DELETE, entity, undefined)'>&ndash;&gt;-->
<!--&lt;!&ndash;                        <mat-icon>delete</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span>{{ 'ADMIN.questionnaire.delete' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                      </button>&ndash;&gt;-->
<!--&lt;!&ndash;                    </mat-menu>&ndash;&gt;-->
<!--&lt;!&ndash;                  </ng-container>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                </ng-container>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;              </td>&ndash;&gt;-->
<!--&lt;!&ndash;            </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;            <ng-container matColumnDef="languageDetails">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              <td mat-cell *matCellDef="let entity" [attr.colspan]="displayedColumns.length"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                  class='border-b-0!'>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                <div class="flex overflow-hidden"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                     [@detailExpand]="'expanded'">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                  <div class="flex items-center justify-end p-2 w-full max-w-[calc(100vw-56px)]">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                    <button class="" mat-icon-button aria-label="Example icon-button with a menu" (click)='onTranslationAction(DialogMode.ADD, entity)' >&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                      <mat-icon>add</mat-icon>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                    </button>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                    <span *ngFor="let l of entitiesLangs[entity.name]; let i = index">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" (click)='$event.stopPropagation()'&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                              class="text-sm uppercase" [ngClass]="{'text-blue-500!' : l.default, 'text-green-500!': !l.default && l.valid, 'text-red-500!': !l.default && !l.valid}">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        {{l.name}}&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                      </button>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                      <mat-menu #menu="matMenu">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        <button mat-menu-item&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                                (click)='onTranslationAction(DialogMode.EDIT, entity, l, undefined)'>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                          <mat-icon color='primary' fontSet='material-icons-outlined'>edit</mat-icon>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                          <span>{{ 'ADMIN.questionnaire.edit' | translate }}</span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        </button>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        <button mat-menu-item&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                                disabled&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                                (click)='onTranslationAction(DialogMode.DELETE, entity, l, undefined)'>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                          <mat-icon>delete</mat-icon>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                          <span>{{ 'ADMIN.questionnaire.delete' | translate }}</span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        </button>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                      </mat-menu>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                    </span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                  </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              </td>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            </ng-container>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;            <ng-container matColumnDef="expandedDetail">&ndash;&gt;-->
<!--&lt;!&ndash;              <td mat-cell *matCellDef="let entity" [attr.colspan]="displayedColumns.length"&ndash;&gt;-->
<!--&lt;!&ndash;                  class=''>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="flex overflow-hidden"&ndash;&gt;-->
<!--&lt;!&ndash;                     [@detailExpand]="entity === expandedElement ? 'expanded' : 'collapsed'">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="p-2 w-full max-w-[calc(100vw-56px)]">&ndash;&gt;-->
<!--&lt;!&ndash;                    <rb-questionnaire-details [entity]='entity' [type]="DetailType.TABLE"></rb-questionnaire-details>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </td>&ndash;&gt;-->
<!--&lt;!&ndash;            </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;            <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>&ndash;&gt;-->
<!--&lt;!&ndash;              <tr mat-row *matRowDef="let element; columns: displayedColumns;"&ndash;&gt;-->
<!--&lt;!&ndash;                  class=""&ndash;&gt;-->
<!--&lt;!&ndash;                  [class.expanded-row]="expandedElement === element">&ndash;&gt;-->
<!--&lt;!&ndash;              </tr>&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;            <tr mat-row *matRowDef="let row; columns: ['languageDetails']"></tr>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="h-0!"></tr>&ndash;&gt;-->

<!--&lt;!&ndash;            <tr class='mat-row' *matNoDataRow>&ndash;&gt;-->
<!--&lt;!&ndash;              <td class='mat-cell' [colSpan]='displayedColumns.length'>&ndash;&gt;-->
<!--&lt;!&ndash;                {{ 'ADMIN.questionnaire.noItemFound' | translate }}&ndash;&gt;-->
<!--&lt;!&ndash;              </td>&ndash;&gt;-->
<!--&lt;!&ndash;            </tr>&ndash;&gt;-->
<!--&lt;!&ndash;          </table>&ndash;&gt;-->

<!--&lt;!&ndash;          <mat-paginator *ngIf="false"&ndash;&gt;-->
<!--&lt;!&ndash;                         [pageSizeOptions]=pageSizeOptions&ndash;&gt;-->
<!--&lt;!&ndash;                         aria-label='Select page of items'>&ndash;&gt;-->
<!--&lt;!&ndash;          </mat-paginator>&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;        </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    </mat-card-content>&ndash;&gt;-->
<!--&lt;!&ndash;  </mat-card>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
