@let _prefix = 'ADMIN.questionnaire.dialog';

<div class="w-full flex items-start gap-1" cdkDrag [formGroup]="form">
  <button mat-icon-button class="w-7! grow-0 shrink-0 cursor-move tiny">
    <mat-icon class="material-symbols-outlined">swap_vertical_circle</mat-icon>
  </button>

  <mat-form-field class='small-input w-1/4! grow-0' appearance='outline' subscriptSizing="fixed">
    <mat-select formControlName='operand'>
      @for (type of questionnaireStateService.questions(); track type) {
        <mat-option [value]="type.field_name">{{ type.field_name }}</mat-option>
      }
    </mat-select>
    <mat-error>
      @if (form.controls.operand?.errors; as errors) {
        @if (errors?.['required']) {
          {{ ValidatorError.requiredValidator | translate:{value: `${_prefix}.code` | translate} }}
        }
      }
    </mat-error>
  </mat-form-field>

  <mat-form-field class='small-input w-1/4! grow-0' appearance='outline' subscriptSizing="fixed">
    <mat-select formControlName='operand'>
      @for (type of OPERATORS; track type) {
        <mat-option [value]="type.value">{{ type.name }}</mat-option>
      }
    </mat-select>
    <mat-error>
      @if (form.controls.operand?.errors; as errors) {
        @if (errors?.['required']) {
          {{ ValidatorError.requiredValidator | translate:{value: `${_prefix}.code` | translate} }}
        }
      }
    </mat-error>
<!--    <input matInput formControlName="operator">-->
<!--    <mat-error>-->
<!--      @if (form.controls.operator?.errors; as errors) {-->
<!--        @if (errors?.['required']) {-->
<!--          {{ ValidatorError.requiredValidator | translate:{value: `${_prefix}.code` | translate} }}-->
<!--        }-->
<!--        @if (errors?.['duplicate']) {-->
<!--          {{ ValidatorError.duplicateValidatorShort | translate: {value: `${_prefix}.code` | translate} }}-->
<!--        }-->
<!--      }-->
<!--    </mat-error>-->
  </mat-form-field>

  <mat-form-field class='small-input w-1/4! grow-0' appearance='outline' subscriptSizing="fixed">
    <input matInput formControlName="value">
    <mat-error>
      @if (form.controls.value?.errors; as errors) {
        @if (errors?.['required']) {
          {{ ValidatorError.requiredValidator | translate:{value: `${_prefix}.code` | translate} }}
        }
        @if (errors?.['duplicate']) {
          {{ ValidatorError.duplicateValidatorShort | translate: {value: `${_prefix}.code` | translate} }}
        }
      }
    </mat-error>
  </mat-form-field>

<!--  <mat-form-field class='small-input w-3/12! grow-0' appearance='outline' subscriptSizing="fixed">-->
<!--    <input matInput formControlName="code">-->
<!--    <mat-error>-->
<!--      @if (form.controls.code?.errors; as errors) {-->
<!--        @if (errors?.['required']) {-->
<!--          {{ ValidatorError.requiredValidator | translate:{value: `${_prefix}.code` | translate} }}-->
<!--        }-->
<!--        @if (errors?.['duplicate']) {-->
<!--          {{ ValidatorError.duplicateValidatorShort | translate: {value: `${_prefix}.code` | translate} }}-->
<!--        }-->
<!--      }-->
<!--    </mat-error>-->
<!--  </mat-form-field>-->

<!--  <app-text-form-group class='small-input flex-grow-1'-->
<!--                       formControlName="label"-->
<!--                       [languages]="languages()"-->
<!--                       [label]="undefined"/>-->

<!--          [disabled]="questionIndex() === 0"-->
  <button class="tiny"
          mat-icon-button color="warn"
          (click)='remove.emit()'>
    <mat-icon class="material-symbols-outlined text-xl!">do_not_disturb_on</mat-icon>
  </button>
</div>
