<app-dialog-title [dialogMode]='dialogData.mode'
                 [entityMetadata]="configService.getEntityMetadata()"
                 (closeClicked)='close()'/>

<mat-dialog-content>
  @if (dialogData.mode === DialogMode.VIEW || dialogData.mode === DialogMode.DELETE) {
    <app-dialog-body-description [dialogMode]="dialogData.mode"
                                [label]="'ADMIN.user.title.singular' | translate"
                                [entityName]="dialogData.entity.login">
      <!--      <rb-user-details [mode]='mode' [entity]='entity' [config]="configFields" />-->
    </app-dialog-body-description>
  }

  @if (dialogData.mode === DialogMode.ADD || dialogData.mode === DialogMode.EDIT) {
    <form [formGroup]='form' novalidate>

      @if (dialogData.mode !== DialogMode.ADD) {
        <label for="id" class="text-sm">{{ 'ADMIN.user.id.label' | translate }}</label>
        <mat-form-field subscriptSizing="fixed"
                        appearance='fill'>
          <input matInput formControlName='id'/>
        </mat-form-field>
      }

      <label for="login" class="text-sm">{{ 'ADMIN.user.login.label' | translate }} *</label>
      <mat-form-field subscriptSizing="fixed"
                      appearance='outline'>
        <input matInput formControlName='login' required>
        @if (form.controls.login.errors; as errors) {
          <mat-error>
            @if (errors?.['duplicate']) {
              {{ "ADMIN.user.login.duplicate" | translate }}
            }
            @if (errors?.['pattern']) {
              {{ ValidatorError.normalTextValidator }}
            }
            @if (errors?.['required']) {
              {{ ValidatorError.requiredValidator | translate: {value: ('ADMIN.user.login.label' | translate)} }}
            }
          </mat-error>
        }
      </mat-form-field>

      <label for="firstName" class="text-sm">{{ 'ADMIN.user.firstName.label' | translate }}</label>
      <mat-form-field subscriptSizing="fixed"
                      appearance='outline'>
        <input matInput formControlName='firstName'/>
        @if (form.controls.firstName.errors; as errors) {
          <mat-error>
            @if (errors['pattern']) {
              {{ ValidatorError.normalTextValidator }}
            }
          </mat-error>
        }
      </mat-form-field>

      <label for="lastName" class="text-sm">{{ 'ADMIN.user.lastName.label' | translate }}</label>
      <mat-form-field subscriptSizing="fixed"
                      appearance='outline'>
        <input matInput formControlName='lastName'/>
        @if (form.controls.lastName.errors; as errors) {
          <mat-error>
            @if (errors['pattern']) {
              {{ ValidatorError.normalTextValidator }}
            }
          </mat-error>
        }
      </mat-form-field>

      <label for="email" class="text-sm">{{ 'ADMIN.user.email.label' | translate }} *</label>
      <mat-form-field subscriptSizing="fixed"
                      appearance='outline'>
        <input matInput formControlName='email' required/>
        @if (form.controls.email.errors; as errors) {
          <mat-error>
            @if (errors?.['duplicate']) {
              {{ "ADMIN.user.email.duplicate" }}
            }
            @if (errors?.['email']) {
              {{ ValidatorError.emailValidator }}
            }
            @if (errors?.['required']) {
              {{ ValidatorError.requiredValidator | translate: {value: 'ADMIN.user.email.label' | translate} }}
            }
          </mat-error>
        }
      </mat-form-field>

      <label for="_roles" class="text-sm">{{ 'ADMIN.user.roles.label' | translate }}</label>
      <fieldset formGroupName='_roles'>
        <div>
          <mat-slide-toggle color="primary" formControlName='_sysAdmin'>SYS_ADMIN</mat-slide-toggle>
        </div>
        @if (!form.controls._roles.controls._sysAdmin.value) {
          <div class='flex items-center'>
            <div class='w-1/3'>
              <mat-slide-toggle color="primary" formControlName='_organizationAdmin'>ORGANIZATION_ADMIN
              </mat-slide-toggle>
            </div>
            <div class="w-2/3">
              @if (form.controls._roles.controls._organizationAdmin.value) {
                <app-mat-select-autocomplete formControlName='_organizations'
                                            [legend]='"ADMIN.organization.title.plural" | translate'
                                            [label]='"ADMIN.organization.title.plural" | translate'
                                            [options]='dialogData.organizations'
                                            [multiple]="true"/>
              }
            </div>
          </div>
        }
        @if (!form.controls._roles.controls._sysAdmin.value) {
          <div class='flex items-center'>
            <div class='w-1/3'>
              <mat-slide-toggle color="primary" formControlName='_projectAdmin'>PROJECT_ADMIN</mat-slide-toggle>
            </div>
            <div class="w-2/3">
              @if (form.controls._roles.controls._projectAdmin.value) {
                <app-mat-select-autocomplete formControlName='_projects'
                                            [legend]='"ADMIN.project.title.plural" | translate'
                                            [label]='"ADMIN.project.title.plural" | translate'
                                            [options]='dialogData.projects'
                                            [multiple]="true"/>
              }
            </div>
          </div>
        }
      </fieldset>
    </form>
  }
</mat-dialog-content>

@if (error$()) {
  <div
    class="p-4 w-full text-center text-base rounded-sm break-words bg-red-100 text-red-600 dark:bg-red-800 dark:text-red-200">
    {{ (error$()?.error.errorCode | translate) ?? (error$()?.error?.message | translate) }}
  </div>
}

<app-dialog-actions [dialogMode]='dialogData.mode'
                   [form]='form'
                   (actionTriggered)='onAction($event)'/>
