<!--<rb-loader *ngIf='loading'-->
<!--           [loadingText]='"loading" | translate'>-->
<!--</rb-loader>-->

<!--<div class='p-4 pb-0'>-->
<!--&lt;!&ndash;  <rb-breadcrumb&ndash;&gt;-->
<!--&lt;!&ndash;    [items]='[&ndash;&gt;-->
<!--&lt;!&ndash;      {label: "Organizations", path: "/admin/organizations/"},&ndash;&gt;-->
<!--&lt;!&ndash;      {label: "Organization", name: organizationName, path: "/admin/organizations/" + organizationName},&ndash;&gt;-->
<!--&lt;!&ndash;    ]'>&ndash;&gt;-->
<!--&lt;!&ndash;  </rb-breadcrumb>&ndash;&gt;-->
<!--  <div class='flex justify-between mb-4 flex-wrap items-center'>-->
<!--    <div class='flex flex-wrap gap-2 items-center m-0 text-project-color'>-->
<!--      <div class='flex items-center text-sm font-semibold rounded-full gap-1 py-2 px-4 bg-project-color-100 text-project-color-700'>-->
<!--        <mat-icon fontSet='material-icons-outlined'>folder</mat-icon>-->
<!--        {{ 'ADMIN.project.title.singular' | translate }}-->
<!--      </div>-->
<!--      <h2 class="">{{ entity.name }}</h2>-->
<!--    </div>-->
<!--&lt;!&ndash;    <h2 class='details-page-header-title project-color-fg'>&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-chip disableRipple class='label-chip project-color'>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-icon fontSet='material-icons-outlined'>folder</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;        {{ 'ADMIN.project.title.singular' | translate }}&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-chip>&ndash;&gt;-->
<!--&lt;!&ndash;      {{ entity.humanReadableProjectName ?&ndash;&gt;-->
<!--&lt;!&ndash;      entity.humanReadableProjectName :&ndash;&gt;-->
<!--&lt;!&ndash;      entity.projectName }}&ndash;&gt;-->
<!--&lt;!&ndash;    </h2>&ndash;&gt;-->

<!--    <div class='flex gap-1 ml-auto'>-->
<!--      <button type='button'-->
<!--              mat-icon-button-->
<!--              color='primary'-->
<!--              (click)='panelOpenState=!panelOpenState'>-->
<!--        <mat-icon fontSet='material-icons-outlined' class='text-project-color'>description</mat-icon>-->
<!--      </button>-->
<!--      <ng-container>-->
<!--&lt;!&ndash;        *rbShowForRoles='[{role: "ROLE_SYS_ADMIN"}, {role: "ROLE_ORGANIZATION_ADMIN", entityName: organizationName}]'>&ndash;&gt;-->
<!--        <button mat-icon-button [matMenuTriggerFor]="menu" color='primary' aria-label="Example icon-button with a menu" (click)='$event.stopPropagation()'>-->
<!--          <mat-icon class='text-project-color'>more_vert</mat-icon>-->
<!--        </button>-->
<!--        <mat-menu #menu="matMenu">-->
<!--          <button mat-menu-item-->
<!--                  (click)='onAction(DialogMode.EDIT, entity)'>-->
<!--            <mat-icon color='primary' fontSet='material-icons-outlined'>edit</mat-icon>-->
<!--            <span>{{ 'ADMIN.project.edit' | translate }}</span>-->
<!--          </button>-->
<!--          <button mat-menu-item-->
<!--                  disabled-->
<!--                  (click)='onAction(DialogMode.DELETE, entity)'>-->
<!--            <mat-icon>delete</mat-icon>-->
<!--            <span>{{ 'ADMIN.project.delete' | translate }}</span>-->
<!--          </button>-->
<!--        </mat-menu>-->
<!--      </ng-container>-->
<!--    </div>-->
<!--  </div>-->

<!--  <mat-accordion class=''-->
<!--                 multi>-->
<!--    <mat-expansion-panel [expanded]='panelOpenState'-->
<!--                         class=''>-->
<!--      <div class='p-4 text-sm border'>-->
<!--        <rb-protocol-details [entity]='entity'>-->
<!--        </rb-protocol-details>-->
<!--      </div>-->
<!--    </mat-expansion-panel>-->
<!--  </mat-accordion>-->

<!--&lt;!&ndash;  <nav mat-tab-nav-bar&ndash;&gt;-->
<!--&lt;!&ndash;       class=''>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <a *rbShowForRoles='[{role: "ROLE_PROJECT_ADMIN", entityName: entity["projectName"]}]'&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <a mat-tab-link&ndash;&gt;-->
<!--&lt;!&ndash;       [routerLink]='["subjects"]'&ndash;&gt;-->
<!--&lt;!&ndash;       routerLinkActive='' #rla1='routerLinkActive' [active]='rla1.isActive'>&ndash;&gt;-->
<!--&lt;!&ndash;      <h2 class='m-0 items-center gap-1 flex text-subject-color'>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-icon class='h-4 w-4'&ndash;&gt;-->
<!--&lt;!&ndash;                  fontSet='material-icons-outlined'>person_outline</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;        {{ 'ADMIN.subject.title.plural' | translate }}&ndash;&gt;-->
<!--&lt;!&ndash;      </h2>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      {{ 'ADMIN.subject.title.plural' | translate }}&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    </a>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <a *rbShowForRoles='[{role: "ROLE_PROJECT_ADMIN", entityName: entity["projectName"]}]'&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <a mat-tab-link&ndash;&gt;-->
<!--&lt;!&ndash;       [routerLink]='["sources"]'&ndash;&gt;-->
<!--&lt;!&ndash;       routerLinkActive='' #rla2='routerLinkActive' [active]='rla2.isActive'>&ndash;&gt;-->
<!--&lt;!&ndash;      <h2 class='m-0 items-center gap-1 flex text-source-color'>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-icon class='h-4 w-4'&ndash;&gt;-->
<!--&lt;!&ndash;                  fontSet='material-icons-outlined'>source</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;        {{ 'ADMIN.source.title.plural' | translate }}&ndash;&gt;-->
<!--&lt;!&ndash;      </h2>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      {{ 'ADMIN.source.title.plural' | translate }}&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    </a>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <a *rbShowForRoles='[{role: "ROLE_PROJECT_ADMIN", entityName: entity["projectName"]}]'&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <a mat-tab-link&ndash;&gt;-->
<!--&lt;!&ndash;       [routerLink]='["groups"]'&ndash;&gt;-->
<!--&lt;!&ndash;       routerLinkActive='' #rla3='routerLinkActive' [active]='rla3.isActive'>&ndash;&gt;-->
<!--&lt;!&ndash;      <h2 class='m-0 items-center gap-1 flex text-group-color'>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-icon class='h-4 w-4'&ndash;&gt;-->
<!--&lt;!&ndash;                  fontSet='material-icons-outlined'>portrait</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;        {{ 'ADMIN.group.title.plural' | translate }}&ndash;&gt;-->
<!--&lt;!&ndash;      </h2>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      {{ 'ADMIN.group.title.plural' | translate }}&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    </a>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    *rbShowForRoles='[{role: "ROLE_SYS_ADMIN"}, {role: "ROLE_ORGANIZATION_ADMIN", entityName: organizationName}]'&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <a mat-tab-link&ndash;&gt;-->
<!--&lt;!&ndash;       &ndash;&gt;-->
<!--&lt;!&ndash;       [routerLink]='["users/roles"]'&ndash;&gt;-->
<!--&lt;!&ndash;       routerLinkActive='' #rla4='routerLinkActive' [active]='rla4.isActive'>&ndash;&gt;-->
<!--&lt;!&ndash;      <h2 class='m-0 items-center gap-1 flex text-user-color'>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-icon class='h-4 w-4'&ndash;&gt;-->
<!--&lt;!&ndash;                  fontSet='material-icons-outlined'>manage_accounts</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;        {{ 'ADMIN.user.title.plural' | translate }}&ndash;&gt;-->
<!--&lt;!&ndash;      </h2>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      {{ 'ADMIN.user.title.plural' | translate }}&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    </a>&ndash;&gt;-->
<!--&lt;!&ndash;    <a mat-tab-link&ndash;&gt;-->
<!--&lt;!&ndash;       [routerLink]='["subjects-authorizer"]'&ndash;&gt;-->
<!--&lt;!&ndash;       routerLinkActive='' #rla6='routerLinkActive' [active]='rla6.isActive'>&ndash;&gt;-->
<!--&lt;!&ndash;      <h2 class='m-0 items-center gap-1 flex text-subject-color'>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-icon class='h-4 w-4'&ndash;&gt;-->
<!--&lt;!&ndash;                  fontSet='material-icons-outlined'>person_outline</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        {{ 'ADMIN.subject.title.plural' | translate }}&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        Authorizer&ndash;&gt;-->
<!--&lt;!&ndash;      </h2>&ndash;&gt;-->
<!--&lt;!&ndash;      &lt;!&ndash;      {{ 'ADMIN.subject.title.plural' | translate }}&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    </a>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    *rbShowForRoles='[{role: "ROLE_SYS_ADMIN"}, {role: "ROLE_ORGANIZATION_ADMIN", entityName: organizationName}]'&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <a class="bg-gray-100 border opacity-100!"&ndash;&gt;-->
<!--&lt;!&ndash;       mat-tab-link&ndash;&gt;-->
<!--&lt;!&ndash;       [routerLink]='["clients"]'&ndash;&gt;-->
<!--&lt;!&ndash;       [state]='{ projectName: entity.projectName }'&ndash;&gt;-->
<!--&lt;!&ndash;       routerLinkActive=''&ndash;&gt;-->
<!--&lt;!&ndash;       #rla5='routerLinkActive'&ndash;&gt;-->
<!--&lt;!&ndash;       [active]='rla5.isActive'&ndash;&gt;-->
<!--&lt;!&ndash;       [ngClass]="rla5.isActive ? 'bg-white! border-b-white border-b-4': ''">&ndash;&gt;-->
<!--&lt;!&ndash;      <h2 class='m-0 items-center gap-1 flex text-user-color'&ndash;&gt;-->
<!--&lt;!&ndash;          [ngClass]="rla5.isActive? 'opacity-100' : 'opacity-50'">&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-icon class='h-4 w-4'&ndash;&gt;-->
<!--&lt;!&ndash;                  fontSet='material-icons-outlined'>app_settings_alt</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        {{ 'ADMIN.user.title.plural' | translate }}&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        App Config&ndash;&gt;-->
<!--&lt;!&ndash;      </h2>&ndash;&gt;-->
<!--&lt;!&ndash;      &lt;!&ndash;      {{ 'ADMIN.user.title.plural' | translate }}&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    </a>&ndash;&gt;-->
<!--&lt;!&ndash;  </nav>&ndash;&gt;-->

<!--<div class='border border-gray-300 border-t-0 m-0 rounded-b'>-->
<!--  <router-outlet ></router-outlet>-->
<!--</div>-->
<!--</div>-->
