@let _prefix = 'ADMIN.questionnaire.dialog';

<h2 mat-dialog-title class="border-b border-neutral-400 dark:border-neutral-500">
  <span>{{ `SHARED.dialog.${dialogData.mode}` | translate }}</span>
  <span> {{ `${_prefix}.title.singular` | translate }}</span>
</h2>

<mat-dialog-content class="h-full overflow-auto">
  @if (dialogData.mode === DialogMode.DELETE) {
    <div class='mb-4 text-base'>
      <div class="mt-4">
        <p class="font-bold">{{ "SHARED.dialog.deleteWarning" | translate }}</p>
      </div>
    </div>
  }

  @if (dialogData.mode === DialogMode.ADD || dialogData.mode === DialogMode.EDIT) {
    <p class="mb-4">Show this question if:</p>
    <pre class="text-base mb-4 text-secondary">{{conditionalLogicString}}</pre>

    @for (conditionalLogicItems of conditionalLogicItemsArray; track conditionalLogicItems; let index = $index;) {
      <app-conditional-logic-items class="" [conditionalLogicItems]="conditionalLogicItems"
                                   [questions]="dialogData.questions"
                                   [selectedIndex]="dialogData.selectedIndex"
                                   (itemsEvent)="onItemEvent($event, index)"/>
      <div class="flex justify-between items-center my-1 border-t border-t-gray-300">
        <div>
          <app-tag class="text-primary bg-primary/20">OR (|)</app-tag>
        </div>
        <div>
          <button class="tiny"
                  mat-icon-button color="primary"
                  (click)='addConditionalLogicItems()'>
            <mat-icon class="material-symbols-outlined text-xl!">add_circle</mat-icon>
          </button>
        </div>
      </div>
    } @empty {
      <div class="flex justify-between items-center my-1 border-t border-t-gray-300">
        <div></div>
        <div>
          <button class="tiny"
                  mat-icon-button color="primary"
                  (click)='addConditionalLogicItems()'>
            <mat-icon class="material-symbols-outlined text-xl!">add_circle</mat-icon>
          </button>
        </div>
      </div>
    }
  }
</mat-dialog-content>

@if (error()) {
  <app-error-message-box>
    {{ $safeNavigationMigration(error()?.error.errorCode) | translate }}
  </app-error-message-box>
}

<div class='px-6 py-4 flex flex-wrap justify-between gap-2 w-full border-t border-neutral-400 dark:border-neutral-500'>
  <div class='flex flex-wrap gap-2'>
    <button (click)='close()'
            mat-stroked-button
            color="accent"
            type="button">
      {{ 'SHARED.dialog.cancel' | translate }}
    </button>
  </div>
  <div class='ml-auto justify-end flex items-center gap-2'>
    <button (click)='handleSaveAction()'
            mat-raised-button
            color="primary"
            type="button">
      {{ "SHARED.dialog.update" | translate }}
    </button>
  </div>
</div>
