@let configFields = configService.getFormFields();

<app-entity-table-row [gridView]="gridView()"
            [tableFields]="configService.getTableFields()"
            [extensionClass]="extensionClass()"
            [customTemplate]="entityTemplate"
            [updated]="updated()">
  <app-subject-details extension-row [entity]='entity()' [detailType]="DetailType.TABLE"/>
  <app-subject-actions extra-actions [entity]="entity()" [isExpanded]="false"/>
</app-entity-table-row>

<ng-template #entityTemplate let-property>
  @switch (property.name) {
    @case ('checkbox') {
      <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                    (change)="$event ?  selection().toggle(entity()) : null"
                    [checked]="selection().isSelected(entity())">
      </mat-checkbox>
    }
    @case ('login') {
      <div class="flex flex-wrap gap-1 items-center">
        <app-subject-status [status]="entity().status" [detailType]="DetailType.TABLE"/>
        <a [routerLink]='[entity().login]' class="underline font-bold text-primary dark:text-primary-dark">
          <span class='' [matTooltip]="entity().login">{{ entity().login }}</span>
        </a>
      </div>
    }
    @case ('externalId') {
      <p>
        <span class="text-gray-500 dark:text-gray-300">{{ "ADMIN.subject.externalId.tableLabel" | translate }}: </span>
        <span class="font-bold">
              @if (entity().externalId) {
                @if (entity().externalLink) {
                  <a [href]='entity().externalLink' target='_blank'>{{ entity().externalId }}</a>
                } @else {
                  {{ entity().externalId }}
                }
              } @else {
                -
              }
            </span>
      </p>
      @if (!configFields || configFields['personName'] === undefined || configFields['personName']) {
        <p><span class="text-gray-500 dark:text-gray-300">{{ "ADMIN.subject.personName.tableLabel" | translate }}
          : </span><span
          class="font-bold">{{ entity().personName ?? '-' }}</span></p>
      }
      @if (!configFields || configFields['dateOfBirth'] === undefined || configFields['dateOfBirth']) {
        <p><span class="text-gray-500 dark:text-gray-300">{{ "ADMIN.subject.dateOfBirth.tableLabel" | translate }}
          : </span> <span class="font-bold"><app-local-date
          [date]="entity().dateOfBirth" [format]="'longDate'"/></span></p>
      }
    }
    @case ('dateOfBirth') {
      <app-local-date [date]="entity().dateOfBirth" [format]="'mediumDate'"/>
    }
    @case ('group') {
      <app-subject-group [group]="entity().group"/>
    }
    @case ('status') {
      <app-subject-status [status]="entity().status"/>
    }
    @case ('sources') {
      <div class="flex items-center flex-wrap gap-2 mt-1">
        @for (source of entity().sources; track source.id) {
          <app-tag
            class="bg-primary/10 dark:bg-primary-dark/10 text-primary dark:text-primary-dark">{{ source.sourceName }}
          </app-tag>
        }
      </div>
    }
    @default {
      {{ $any(entity())[property.name] || '-' }}
    }
  }
</ng-template>
