<div
  class='sticky top-0 z-30 flex flex-wrap justify-between gap-2 p-4 w-full bg-primary/10 dark:bg-primary/10'>
  <div class='flex flex-wrap gap-2 items-center'>
    <button class="app-button-small app-button-full-corner" mat-flat-button
            [routerLink]="['/admin', 'users']">
      <mat-icon class="material-symbols-outlined">{{ ENTITY_REGISTRY.user.icon }}</mat-icon>
      <span>{{ `ADMIN.${ENTITY_REGISTRY.user.name}.title.singular` | translate }}</span>
    </button>

    <h2 class='flex items-center gap-2 m-0 text-lg font-bold text-primary'>
      {{ entity().login }}
    </h2>
  </div>
  <app-user-actions [entity]="entity()" />
</div>

<div [class]="'m-4'">
  <nav class="border-b-2 border-neutral-200 dark:border-neutral-600"
       mat-tab-nav-bar
       mat-stretch-tabs="false"
       [tabPanel]="tabPanel">
    @for (link of links; track link) {
      <a mat-tab-link
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive"
         [routerLink]="['/', 'admin', 'users', entity()._name, link.path]">
        <h2 class='flex items-center gap-2 m-0 text-base font-bold'>
          {{ link.label | translate }}
        </h2>
      </a>
    }
  </nav>
  <mat-tab-nav-panel #tabPanel class="">
    <router-outlet/>
  </mat-tab-nav-panel>
</div>
