@let _i18nActivation = "AUTH.ACTIVATION";
@let _i18nError = "AUTH.ERROR";

<div class="flex justify-center items-center h-full">
  <mat-card class="max-w-200">
    <mat-card-content class="p-0! grid! grid-cols-2">
      <div class="p-8">
        <h4 class="my-12 text-center text-xl font-bold">{{ `${_i18nActivation}.title` | translate }}</h4>
        @if (!key) {
          <app-error-message-box>
            <p class="text-start">{{ `${_i18nActivation}.errorMessage` | translate }}</p>
          </app-error-message-box>
        } @else {
          @if (loading()) {
            <p>{{ `${_i18nActivation}.loading` | translate }}</p>
          }

          @if (success()) {
            <p>{{ `${_i18nActivation}.successMessage` | translate }}</p>
          }

          @if (error()) {
            <app-error-message-box>
              {{ `${_i18nError}.${error()?.error?.errorCode ?? error()?.error?.error}` | translate }}
              <p class="my-4 text-start">{{ `${_i18nActivation}.errorMessage` | translate }}</p>
            </app-error-message-box>
          }
        }

        <p class="my-4">
          <a class="text-primary" [routerLink]='["/auth/login"]'>
            {{ `${_i18nActivation}.gotToLogin` | translate }}
          </a>
        </p>
      </div>
      <app-branding class="w-full"/>
    </mat-card-content>
  </mat-card>
</div>
