@let configFields = config$ | async;
<mat-card class="rb-table-row" [class]="
    (updated$() ? 'bg-green-100! ' : '') +
    (expanded$() ? 'mb-2' : '')
  ">
  <div class="rb-table-main-row">
    @for (tableElement of TableElements; track tableElement.name) {
      @if (configFields[tableElement.name] !== false) {
        <div [class]="tableElement.tableClass + ' ' + tableElement.width + ' ' + tableElement.classes"
             [class.flex-1]="!tableElement.width"
             [class.shrink-0]="!!tableElement.width">
          @switch (tableElement.name) {
            @case ('_name') {
              <a
                [routerLink]='["/admin/source-types", entity$().producer, entity$().model, entity$().catalogVersion]'>
                <span class='font-bold text-primary'>
                  {{`${entity$().producer} [${entity$().model}] (${entity$().catalogVersion})`}}
                </span>
              </a>
              <p class="text-neutral-500 dark:text-neutral-300">{{ entity$().name }}</p>
            }
            @case ('sourceTypeScope') {
              <rb-source-type-scope [sourceTypeScope$]="entity$()['sourceTypeScope']"/>
            }
            @case ('canRegisterDynamically') {
              <rb-source-type-source-registration [canRegisterDynamically$]="entity$()['canRegisterDynamically']"/>
            }
            @case ("actions") {
              <button mat-icon-button class="tiny" (click)="onExpansionClick($event)">
                <span class="material-symbols-outlined text-xl!">
                  {{ expanded$() ? 'expand_less' : 'expand_more' }}
                </span>
              </button>
              <app-actions [entity$]="entity$()" [isExpanded$]="true"/>
            }
            @default {
              {{ entity$()[tableElement.name] || '-' }}
            }
          }
        </div>
      }
    }
  </div>
  <div class="rb-table-extension-row" [@detailExpand]="expanded$() ? 'expanded' : 'collapsed'">
    <rb-source-type-details class="py-4" [entity$]='entity$()' [type$]="DetailType.TABLE" [config$]="configFields"/>
  </div>
</mat-card>
