@let _prefix = "ADMIN.sourceType";

<app-dialog-title [dialogMode]='dialogData.mode'
                  [entityMetadata]="configService.getEntityMetadata()"
                  [entityName]="dialogData.entity?._name"
                  (closeEvent)='close()'/>

<mat-dialog-content>
  @if (dialogData.mode === DialogMode.VIEW || dialogData.mode === DialogMode.DELETE) {
    <app-dialog-body-description [dialogMode]="dialogData.mode"
                                 [label]="`${_prefix}.title.singular` | translate"
                                 [entityName]="dialogData.entity?._name"/>
<!--    [entityName]="dialogData.entity?.producer+'_'+ dialogData.entity?.model+'_'+ dialogData.entity?.catalogVersion"/>-->
  }

  @if (dialogData.mode === DialogMode.ADD || dialogData.mode === DialogMode.EDIT) {
    <form [formGroup]='form' novalidate autocomplete="off">
      @if (dialogData.mode !== DialogMode.ADD) {
        <label for="sourcetype-id" class="text-sm">{{ `${_prefix}.id.label` | translate }}</label>
        <mat-form-field subscriptSizing="fixed" appearance='fill'>
          <input matInput formControlName='id' required id="sourcetype-id">
        </mat-form-field>
      }

      <label for="sourcetype-producer" class="text-sm">
        {{ `${_prefix}.producer.label` | translate }} *
      </label>
      <mat-form-field subscriptSizing="fixed" appearance='outline'>
        <input matInput formControlName='producer' required id="sourcetype-producer"
               autocomplete="off" data-lpignore="true">
        <mat-error>
          @if (form.controls.producer.errors; as errors) {
            @if (errors?.['duplicate']) {
              {{ `${_prefix}.producer.duplicate` | translate }}
            }
            @if (errors?.['pattern']) {
              {{ ValidatorError.normalTextValidator | translate }}
            }
            @if (errors?.['required']) {
              {{ ValidatorError.requiredValidator | translate: {value: `${_prefix}.producer.label` | translate} }}
            }
          }
        </mat-error>
      </mat-form-field>

      <label for="sourcetype-model" class="text-sm">{{ `${_prefix}.model.label` | translate }} *</label>
      <mat-form-field subscriptSizing="fixed" appearance='outline'>
        <input matInput formControlName='model' required id="sourcetype-model"
               autocomplete="off" data-lpignore="true">
        <mat-error>
          @if (form.controls.model.errors; as errors) {
            @if (errors?.['duplicate']) {
              {{ `${_prefix}.model.duplicate` | translate }}
            }
            @if (errors?.['pattern']) {
              {{ ValidatorError.normalTextValidator | translate }}
            }
            @if (errors?.['required']) {
              {{ ValidatorError.requiredValidator | translate: {value: `${_prefix}.model.label` | translate} }}
            }
          }
        </mat-error>
      </mat-form-field>

      <label for="sourcetype-catalog-version" class="text-sm">{{ `${_prefix}.catalogVersion.label` | translate }}
        *</label>
      <mat-form-field subscriptSizing="fixed" appearance='outline'>
        <input matInput formControlName='catalogVersion' required id="sourcetype-catalog-version"
               autocomplete="off" data-lpignore="true">
        <mat-error>
          @if (form.controls.catalogVersion.errors; as errors) {
            @if (errors?.['duplicate']) {
              {{ `${_prefix}.catalogVersion.duplicate` | translate }}
            }
            @if (errors?.['pattern']) {
              {{ ValidatorError.normalTextValidator | translate }}
            }
            @if (errors?.['required']) {
              {{ ValidatorError.requiredValidator | translate: {value: `${_prefix}.catalogVersion.label` | translate} }}
            }
          }
        </mat-error>
      </mat-form-field>

      <label for="sourcetype-scope" class="text-sm">
        {{ `${_prefix}.sourceTypeScope.label` | translate }} *
      </label>
      <mat-form-field subscriptSizing="fixed" appearance='outline'>
        <mat-select id="sourcetype-scope" formControlName='sourceTypeScope' required>
          <mat-option [value]="'PASSIVE'">{{ `${_prefix}.sourceTypeScope.PASSIVE` | translate }}</mat-option>
          <mat-option [value]="'ACTIVE'">{{ `${_prefix}.sourceTypeScope.ACTIVE` | translate }}</mat-option>
        </mat-select>
        <mat-error>
          @if (form.controls.sourceTypeScope.errors; as errors) {
            @if (errors?.['required']) {
              {{ ValidatorError.requiredValidator | translate: {value: `${_prefix}.sourceTypeScope.label` | translate} }}
            }
          }
        </mat-error>
      </mat-form-field>

      <mat-slide-toggle color="primary" formControlName='canRegisterDynamically'>
        {{ `${_prefix}.canRegisterDynamically.label` | translate }}
      </mat-slide-toggle>
      <p class="text-xs -mt-3 mb-4">
        {{ `${_prefix}.canRegisterDynamically.hint` | translate }}
      </p>

      @if (!formFields || formFields['name'] === undefined || formFields['name']) {
        <label for="sourcetype-name" class="text-sm">{{ `${_prefix}.name.label` | translate }}</label>
        <mat-form-field subscriptSizing="fixed" appearance='outline'>
          <input matInput formControlName='name' id="sourcetype-name" autocomplete="off" data-lpignore="true">
          <mat-error>
            @if (form.controls.name.errors; as errors) {
              @if (errors?.['pattern']) {
                {{ ValidatorError.normalTextValidator | translate }}
              }
            }
          </mat-error>
        </mat-form-field>
      }

      @if (!formFields || formFields['description'] === undefined || formFields['description']) {
        <label for="sourcetype-description" class="text-sm">
          {{ `${_prefix}.description.label` | translate }}
        </label>
        <mat-form-field subscriptSizing="fixed" appearance='outline'>
          <textarea id="sourcetype-description" matInput #description
                    formControlName='description'
                    rows='3' maxlength='255'></textarea>
          <mat-hint align="start">{{ ValidatorHint.longTextValidator }}</mat-hint>
          <mat-hint align="end">{{ description.value.length }} / 255</mat-hint>
          <mat-error>
            @if (form.controls.description.errors; as errors) {
              @if (errors?.['pattern']) {
                {{ ValidatorError.longTextValidator | translate }}
              }
            }
          </mat-error>
        </mat-form-field>
      }

      @if (!formFields || formFields['assessmentType'] === undefined || formFields['assessmentType']) {
        <label for="sourcetype-assessment-type"
               class="text-sm">{{ `${_prefix}.assessmentType.label` | translate }}</label>
        <mat-form-field subscriptSizing="fixed" appearance='outline'>
          <input matInput formControlName='assessmentType' id="sourcetype-assessment-type"
                 autocomplete="off" data-lpignore="true">
          <mat-error>
            @if (form.controls.assessmentType.errors; as errors) {
              @if (errors?.['pattern']) {
                {{ ValidatorError.normalTextValidator | translate }}
              }
            }
          </mat-error>
        </mat-form-field>
      }

      @if (!formFields || formFields['appProvider'] === undefined || formFields['appProvider']) {
        <label for="sourcetype-assessment-app-provider"
               class="text-sm">{{ `${_prefix}.appProvider.label` | translate }}</label>
        <mat-form-field subscriptSizing="fixed" appearance='outline'>
          <input matInput formControlName='appProvider' id="sourcetype-assessment-app-provider"
                 autocomplete="off" data-lpignore="true">
          <mat-error>
            @if (form.controls.appProvider.errors; as errors) {
              @if (errors?.['pattern']) {
                {{ ValidatorError.normalTextValidator | translate }}
              }
            }
          </mat-error>
        </mat-form-field>
      }
    </form>
  }
</mat-dialog-content>

@if (error()) {
  <app-error-message-box>
    {{ error()?.error.errorCode | translate }} <br>
    @if (error()?.error.errorCode === 'error.sourceTypeInUse') {
      {{ `${_prefix}.error.sourceTypeInUse` | translate }}: <br>
      {{ error()?.error.params['project-names'] }}
    }
  </app-error-message-box>
}

<app-dialog-actions [dialogMode]='dialogData.mode'
                    [form]='form'
                    (actionTriggered)='onAction($event)'/>
