<rb-breadcrumb></rb-breadcrumb>

<rb-loader *ngIf='loading' [loadingText]='"loading" | translate'></rb-loader>

<!--<div class='sticky top-0 z-50 flex flex-wrap justify-between gap-2 p-4 pb-0 w-full bg-neutral-50 dark:bg-neutral-700'>-->
  <div class='sticky top-0 z-50 flex flex-wrap justify-between gap-2 p-4 pb-0 w-full bg-background dark:bg-background-dark'>

<!--<div class='sticky top-0 z-50 flex flex-wrap justify-between gap-2 pb-4 pb-0 w-full bg-neutral-50 dark:bg-neutral-700'>-->
  <!--  bg-white dark:bg-neutral-700-->
  <h2 class='flex items-center gap-2 m-0 text-lg font-bold '>
    <span class="p-2 w-10! h-10! rounded-full bg-neutral-200 dark:bg-neutral-600 material-symbols-outlined font-bold">{{ ENTITIES['project'].icon }}</span>
<!--    {{(selectedProject$ | async)?.name }}-->
  </h2>
  <!--  <ng-content select="[top-filter]"></ng-content>-->
  <div class='flex gap-1 ml-auto'>
    <ng-container *rbPermission='[{role: "ROLE_SYS_ADMIN"}, {role: "ROLE_ORGANIZATION_ADMIN", entityName: entity.name}]'>
      <rb-actions [entity]="entity" (action)="onAction($event.mode, $event.entity)"></rb-actions>
    </ng-container>
  </div>
  <!--  <div class="flex items-center gap-4">-->
  <!--    <ng-content select="[extra-buttons]"></ng-content>-->

  <!--    <button *ngIf="isGridView !== undefined" type='button'-->
  <!--            class="mat-large-icon-button"-->
  <!--            mat-icon-button-->
  <!--            color="primary"-->
  <!--            (click)="toggleGridListView()">-->
  <!--      <span class="material-symbols-outlined">{{isGridView ? "list" : "grid_view"}}</span>-->
  <!--    </button>-->
  <!--    <ng-container *rbPermission="permission">-->
  <!--      <button *ngIf="enableAddButton" (click)='onAction(DialogMode.ADD)'-->
  <!--              mat-stroked-button-->
  <!--              color="primary"-->
  <!--              type="button">-->
  <!--        <span class="material-symbols-outlined">add</span>-->
  <!--        {{ 'ADMIN.' + entityName + '.create' | translate }}-->
  <!--      </button>-->
  <!--    </ng-container>-->
  <!--  </div>-->
</div>

<!--<mat-card class="m-4">-->
<!--  <mat-card-content>-->
<div class="m-4">

    <nav
      class="border-b-2 border-neutral-200 dark:border-neutral-600"
      mat-tab-nav-bar
      mat-stretch-tabs="false"
      mat-align-tabs="start"
      [tabPanel]="tabPanel"
    >
      <a *ngFor="let link of links"
         class=""
         mat-tab-link
         (click)="activePath = link.path"
         [active]="link.path === activePath"
         [routerLink]="link.path"
      >
        <!--        {{link | json}}-->
        <h2 class='flex items-center gap-2 m-0 text-base font-bold '>
          <!--          <span class="p-2 w-10! h-10! rounded-full bg-neutral-200 dark:bg-neutral-600 material-symbols-outlined font-bold">-->
          <!--            folder-->
          <!--          </span>-->
          {{ link.label }}
          <!--          {{ 'ADMIN.' + entityName + '.title.plural' | translate }}-->
        </h2>
        <!--        <span class="font-bold">{{ link.label }}</span>-->
      </a>
    </nav>
    <mat-tab-nav-panel #tabPanel class="" >
      <router-outlet />
      <!--      (activate)="onActivate($event)"></router-outlet>-->
    </mat-tab-nav-panel>

<!--  </mat-card-content>-->
<!--</mat-card>-->
<!--<router-outlet ></router-outlet>-->
</div>
