@if (!hasChildren) {

  <nav aria-label="breadcrumb" class="breadcrumbs px-4 py-2 flex flex-wrap items-center bg-white dark:bg-neutral-700'">
    <div class='flex flex-wrap gap-2 items-center'>
      <button class="small-button bg-neutral-100! dark:bg-neutral-600! dark:text-white!" mat-flat-button
              [routerLink]="['/admin', 'organizations']">
          <span class="flex items-center gap-1">
            <span class="material-symbols-outlined text-lg" matPrefix>{{ ENTITIES.organization.icon }}</span>
            <span>{{ `ADMIN.organization.title.plural` | translate }}</span>
          </span>
      </button>
      <span class="material-symbols-outlined text-lg">chevron_right</span>
      <a class="text-xs font-bold" [routerLink]="">{{ entity$().organization.name }}</a>
    </div>
  </nav>


  <div class='sticky top-0 z-50 flex flex-wrap justify-between gap-2 p-4 pb-0 w-full'>
    <div class='flex flex-wrap gap-2 items-center'>
          <span class="flex items-center gap-1 bg-secondary text-white rounded-full text-xs font-bold px-2">
            <span class="material-symbols-outlined text-lg!" matPrefix>{{ ENTITIES.project.icon }}</span>
            <span>{{ 'ADMIN.project.title.singular' | translate }}</span>
          </span>
      <h2 class='flex items-center gap-2 m-0 text-lg font-bold text-secondary'>
        {{ entity$().projectName }}
      </h2>
    </div>

  <div class='flex gap-1 ml-auto'>
    <ng-container *rbPermission='[{role: "ROLE_SYS_ADMIN"}, {role: "ROLE_ORGANIZATION_ADMIN", entityName: entity$().projectName}]'>
      <app-actions [entity$]="entity$()" />
    </ng-container>
  </div>
</div>
}

<div [class]="!hasChildren ? 'm-4' : ''">
  @if (!hasChildren) {
    <nav class="border-b-2 border-neutral-200 dark:border-neutral-600"
       mat-tab-nav-bar
       mat-stretch-tabs="false"
       [tabPanel]="tabPanel">
    @for (link of links; track link) {
      <a mat-tab-link
         (click)="activePath = link.path"
         [active]="link.path === activePath"
               [routerLink]="['/', 'admin', 'organizations', entity$().organization.name, 'projects', entity$().projectName, link.path]">
        <h2 class='flex items-center gap-2 m-0 text-base font-bold'>
          {{ link.label }}
        </h2>
      </a>
    }
  </nav>
  }
  <mat-tab-nav-panel #tabPanel class="" >
    <router-outlet />
  </mat-tab-nav-panel>
</div>
