<!--<rb-entities-page [$filters]="filters" [$name]="name" [$loading]="loading" [$entities]="entities" [$page]="page" [$sort]="sort"-->
<!--                  [tableProperties]="PROPERTIES"-->
<!--                  [$entitiesToShow]="entitiesToShow"-->
<!--                  (action)="onAction(DialogMode.ADD)"-->
<!--                  (filterChange)='handleFilterChange($event)'-->
<!--                  (filterEnabledChanged)="onFilterEnabledChanged($event)"-->
<!--                  (activeQueryChange)="handleActiveQueryChange($event)"-->
<!--                  (switchPageAction)="switchPage($event)"-->
<!--                  (switchSortAction)="switchSort($event)"-->
<!--                  [$filteredAndSortedEntities]="filteredAndSortedEntities"-->
<!--                  [$updated]="updated"-->
<!--                  [$expandedElement]="expandedElement">-->
<!--  &lt;!&ndash;                  (dialogQueryParams)="onAction($event.mode, undefined, $event.id, undefined )"&ndash;&gt;-->

<!--</rb-entities-page>-->


<!--&lt;!&ndash;<rb-entities-page-header [showTitle]="true"&ndash;&gt;-->
<!--&lt;!&ndash;                         [entityName]="name"&ndash;&gt;-->
<!--&lt;!&ndash;                         (action)="onAction(DialogMode.ADD)">&ndash;&gt;-->
<!--&lt;!&ndash;  @if (filters.length && entities && entities.length > MIN_ENTITIES_FOR_FILTERS) {&ndash;&gt;-->
<!--&lt;!&ndash;    <rb-data-table-filter bottom-filter&ndash;&gt;-->
<!--&lt;!&ndash;                          [filters]='filters'&ndash;&gt;-->
<!--&lt;!&ndash;                          [filterOpened]='isFilterOpened'&ndash;&gt;-->
<!--&lt;!&ndash;                          (filterChanged)='handleFilterChange($event)'&ndash;&gt;-->
<!--&lt;!&ndash;                          (filterEnableChanged)="onFilterEnabledChanged($event)" />&ndash;&gt;-->
<!--&lt;!&ndash;  }&ndash;&gt;-->
<!--&lt;!&ndash;</rb-entities-page-header>&ndash;&gt;-->

<!--&lt;!&ndash;@if (loading) {&ndash;&gt;-->
<!--&lt;!&ndash;  <rb-loader />&ndash;&gt;-->
<!--&lt;!&ndash;}&ndash;&gt;-->

<!--&lt;!&ndash;@if (entities?.length) {&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="rb-table"&ndash;&gt;-->
<!--&lt;!&ndash;       rbTableQueryReflector&ndash;&gt;-->
<!--&lt;!&ndash;       [page]="page"&ndash;&gt;-->
<!--&lt;!&ndash;       [sort]="sort"&ndash;&gt;-->
<!--&lt;!&ndash;       [defaultSort]="{sortField: 'id', sortOrder: 'desc'}"&ndash;&gt;-->
<!--&lt;!&ndash;       (activeQueryParams)="handleActiveQueryChange($event)"&ndash;&gt;-->
<!--&lt;!&ndash;       (dialogQueryParams)="onAction($event.mode, undefined, $event.id, undefined )">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="rb-table-header">&ndash;&gt;-->
<!--&lt;!&ndash;      @for (property of PROPERTIES; track property.name) {&ndash;&gt;-->
<!--&lt;!&ndash;        <div [class]="property.tableClass + ' ' + property.width + ' ' + property.classes"&ndash;&gt;-->
<!--&lt;!&ndash;             [class.flex-1]="!property.width"&ndash;&gt;-->
<!--&lt;!&ndash;             [class.shrink-0]="!!property.width">&ndash;&gt;-->
<!--&lt;!&ndash;          <button class="rb-table-head group" (click)="switchSort(property)">&ndash;&gt;-->
<!--&lt;!&ndash;            <span>{{ 'ADMIN.' + name + '.' + property.name + '.tableLabel' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;            <div *ngIf="property.sortable">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="rb-table-sort" [class.opacity-0]="sort.sortField !== property.name">&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="rb-sort-icon material-symbols-outlined">&ndash;&gt;-->
<!--&lt;!&ndash;                  {{ sort.sortField === property.name && sort.sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward'}}&ndash;&gt;-->
<!--&lt;!&ndash;                </span>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </button>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      }&ndash;&gt;-->
<!--&lt;!&ndash;      <div class='w-14'>&ndash;&gt;-->
<!--&lt;!&ndash;        <span>{{ 'ADMIN.' + name + '.actions' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;    @for (entity of entitiesToShow; track entity.id) {&ndash;&gt;-->
<!--&lt;!&ndash;      <rb-group-table-row [entity]="entity"&ndash;&gt;-->
<!--&lt;!&ndash;                          [updated]="updated"&ndash;&gt;-->
<!--&lt;!&ndash;                          (actionEvent)="onAction($event.mode, $event.entity, undefined)" />&ndash;&gt;-->
<!--&lt;!&ndash;    }&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;}&ndash;&gt;-->

<!--&lt;!&ndash;<div class="flex items-center p-4 text-sm">&ndash;&gt;-->
<!--&lt;!&ndash;  @if (!entities?.length) {&ndash;&gt;-->
<!--&lt;!&ndash;    <span>{{ 'ADMIN.' + name + '.noItemFound' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;  }&ndash;&gt;-->
<!--&lt;!&ndash;  @if (entities?.length && !entitiesToShow?.length) {&ndash;&gt;-->
<!--&lt;!&ndash;    <span>{{ 'No item found with this filter' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;  }&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->


<!--&lt;!&ndash;@if (filters.length && entities && entities.length > MIN_ENTITIES_FOR_PAGINATION) {&ndash;&gt;-->
<!--&lt;!&ndash;  <mat-paginator (page)="switchPage($event)"&ndash;&gt;-->
<!--&lt;!&ndash;                 [length]="filteredAndSortedEntities.length"&ndash;&gt;-->
<!--&lt;!&ndash;                 [pageSize]="page.pageSize"&ndash;&gt;-->
<!--&lt;!&ndash;                 [pageSizeOptions]="pageSizeOptions"&ndash;&gt;-->
<!--&lt;!&ndash;                 [pageIndex]="page.pageIndex"&ndash;&gt;-->
<!--&lt;!&ndash;                 aria-label="Select page" />&ndash;&gt;-->
<!--&lt;!&ndash;}&ndash;&gt;-->
