@let _i18nEntity = `ADMIN.subject`;

@if (isExpanded()) {
  <div class="flex items-center">
    <button class="app-icon-button-small"
            mat-icon-button
            color="primary"
            [matTooltip]="`${_i18nEntity}.edit` | translate"
            (click)='onAction(DialogMode.EDIT)'>
      <mat-icon>edit</mat-icon>
    </button>

    <button class="app-icon-button-small"
            mat-icon-button
            color="warn"
            [matTooltip]="`${_i18nEntity}.delete` | translate"
            (click)='onAction(DialogMode.DELETE)'>
      <mat-icon>delete</mat-icon>
    </button>

    <button class="app-icon-button-small"
            mat-icon-button
            color="primary"
            [matTooltip]="`${_i18nEntity}.discontinue` | translate"
            (click)='onAction(DialogMode.DISCONTINUE)'
            [disabled]="entity().status === 'DISCONTINUED'">
      <mat-icon [class]="entity().status === 'DISCONTINUED' ? 'text-gray-300!': 'text-yellow-600!'">stop_circle</mat-icon>
    </button>

    <button class="app-icon-button-small"
            mat-icon-button
            color="primary"
            [matTooltip]="`${_i18nEntity}.pairSource` | translate"
            (click)='onAction(DialogMode.PAIR_SOURCE)'>
      <mat-icon>link</mat-icon>
    </button>

    <button class="app-icon-button-small"
            mat-icon-button
            color="primary"
            [matTooltip]="`${_i18nEntity}.pairApp` | translate"
            (click)='onAction(DialogMode.PAIR_APP)'>
      <mat-icon>qr_code</mat-icon>
    </button>

  </div>
} @else {
  <button mat-icon-button class="app-icon-button-small" [matMenuTriggerFor]="menu" (click)="$event.stopPropagation();">
    <mat-icon class="font-bold!">more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button (click)='onAction(DialogMode.EDIT)' mat-menu-item type="button">
      <mat-icon matButtonIconPrefix>edit</mat-icon>
      {{ `${_i18nEntity}.edit` | translate }}
    </button>

    <button (click)='onAction(DialogMode.DELETE)' mat-menu-item type="button">
      <mat-icon matButtonIconPrefix class="text-error!">delete</mat-icon>
      {{ `${_i18nEntity}.delete` | translate }}
    </button>

    <button (click)='onAction(DialogMode.DISCONTINUE)' mat-menu-item type="button">
      <mat-icon class="text-yellow-600!" matButtonIconPrefix>stop_circle</mat-icon>
      {{ `${_i18nEntity}.discontinue` | translate }}
    </button>

    <button (click)='onAction(DialogMode.PAIR_SOURCE)' mat-menu-item type="button">
      <mat-icon matButtonIconPrefix>link</mat-icon>
      {{ `${_i18nEntity}.pairSource` | translate }}
    </button>

    <button (click)='onAction(DialogMode.PAIR_APP)' mat-menu-item type="button">
      <mat-icon matButtonIconPrefix>qr_code</mat-icon>
      {{ `${_i18nEntity}.pairApp` | translate }}
    </button>
  </mat-menu>
}
