<div class='p-4'>
  <div class='flex flex-wrap justify-between gap-2 mb-4'>
    <h2 class='m-0 font-bold flex items-center gap-2'>
      <span class="material-symbols-outlined p-2 w-10! h-10! rounded-full bg-neutral-200 dark:bg-neutral-600">monitor_heart</span>
      {{'ADMIN.health.title.plural' | translate }}
    </h2>
    <div class='flex gap-2 items-center ml-auto'>
      <button type="button"
              mat-stroked-button
              color='primary'
              (click)='refresh()'>
        <span class="material-symbols-outlined">sync</span>
        <span class="font-bold">{{'ADMIN.health.refresh' | translate }}</span>
      </button>
    </div>
  </div>

  <rb-loader *ngIf='loading'></rb-loader>

  <mat-accordion class="text-sm" *ngIf='health?.components'>
    <mat-expansion-panel class="dark:border border-neutral-400 mb-1!"
                         *ngFor="let componentHealth of health?.components | keyvalue"
                         [hideToggle]='!componentHealth.value.details'>
      <mat-expansion-panel-header class="p-4! dark:bg-neutral-700">
        <mat-panel-title class="flex gap-4 justify-between">
          <span>{{'ADMIN.health.service' | translate }}: {{ 'health.indicator.' + componentHealth.key | translate }}</span>
          <rb-tag *ngIf="componentHealth.value.status === 'UP'"
                  colorClass="bg-green-100 text-green-700">
            {{'ADMIN.health.status' | translate }}: {{ componentHealth.value.status }}
          </rb-tag>
          <rb-tag *ngIf="componentHealth.value.status !== 'UP'"
                  colorClass="bg-red-100 text-red-700">
            {{'ADMIN.health.status' | translate }}: {{ componentHealth.value.status }}
          </rb-tag>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngIf='componentHealth.value.details'>
        <div class="p-4">
          <p class="mb-4">{{'ADMIN.health.properties' | translate }}</p>
          <div class="border [&_rb-detail-element:nth-child(even)>div]:bg-neutral-100 dark:[&_rb-detail-element:nth-child(even)>div]:bg-neutral-600 p-2">
            <rb-detail-element *ngFor='let entry of componentHealth.value.details | keyvalue'>
              <ng-container label>{{entry.key}}</ng-container>
              <ng-container *ngIf="entry.key !== 'diskSpace'" value>{{ entry.value }}</ng-container>
              <ng-container *ngIf="entry.key === 'diskSpace'" value>{{+entry.value | fileSize:2}}</ng-container>
            </rb-detail-element>
          </div>
        </div>
      </ng-container>
    </mat-expansion-panel>
  </mat-accordion>
</div>
