<app-details [entityMetadata]="configService.getEntityMetadata()"
            [tableFields]="configService.getTableFields()"
            [detailType]="detailType()"
            [customTemplate]="detailsTemplate" />

<ng-template #detailsTemplate let-property>
  @switch (property.name) {
    @case ('email') {
      @if (entity().email) {
        <a class="underline" href="mailto:{{ entity().email}}" target="_blank">{{ entity().email || '-' }}</a>
      } @else {
        -
      }
    }
    @case ('activated') {
      <span class="flex items-center gap-1">
        <app-user-activated class="inline-flex" [activated]="entity().activated" />
        <app-user-activate [entity]="entity()" />
      </span>

    }
    @case ('langKey') {
      {{ entity().langKey?.toUpperCase() || '-' }}
    }
    @case ('roles') {
      <app-permission-roles [roles]="entity()._roles" [organization]="organizationName()" [project]="projectName()" />
    }
    @case ('createdBy') {
      <app-user-created-by [createdBy]="entity().createdBy" />
    }
    @case ('createdDate') {
      <app-local-date [date]="entity().createdDate" [format]="'long'" />
    }
    @case ('lastModifiedBy') {
      <app-user-created-by [createdBy]="entity().lastModifiedBy" />
    }
    @case ('lastModifiedDate') {
      <app-local-date [date]="entity().lastModifiedDate" [format]="'long'" />
    }
    @default {
      {{ $any(entity())[property.name] || '-' }}
    }
  }
</ng-template>
