<div [formGroup]="form">
  <div class="flex gap-2 items-center justify-between">
    @if (label()) {
      <label for="startText" class="text-sm">{{ label() }} {{ required() ? '*' : '' }}</label>
    }
<!--    <div class="flex gap-2 text-sm">-->
<!--    @for (language of languages(); track language) {-->
<!--      {{language.id.toString() | uppercase}}-->
<!--    }-->
<!--    </div>-->
  </div>

<!--  @for (language of languages(); track language) {-->
<!--    @if (language.id === questionnaireStateService.selectedLanguage()) {-->
<!--      <mat-form-field class='small-input w-full' appearance='outline'>-->
<!--        @if (textarea()) {-->
<!--          <textarea matInput [cdkTextareaAutosize]="textareaAutosize()" [rows]="textareaRows()"-->
<!--                    [formControlName]='language.id'></textarea>-->
<!--        } @else {-->
<!--          <input matInput [formControlName]='language.id'>-->
<!--        }-->
<!--        <mat-error>-->
<!--          @if (form.controls[language.id.toString()]?.errors; as errors) {-->
<!--            @if (errors['required']) {-->
<!--                {{ ValidatorError.requiredValidator | translate: {value: label() | translate} }}-->
<!--            }-->
<!--          }-->
<!--        </mat-error>-->
<!--      </mat-form-field>-->
<!--    }-->
<!--  }-->
<!--  @for (language of languages(); track language) {-->
<!--    @if (language.id === questionnaireStateService.selectedLanguage()) {-->
      <mat-form-field class='small-input w-full' appearance='outline' subscriptSizing="dynamic">
        @if (textarea()) {
          <textarea matInput [cdkTextareaAutosize]="textareaAutosize()" [rows]="textareaRows()"
                    [formControl]='currentControl'></textarea>
        } @else {
          <input matInput [formControl]='currentControl'>
        }
        <mat-error>
          @if (currentControl.errors; as errors) {
            @if (errors['required']) {
              {{ ValidatorError.requiredValidator | translate: {value: (label() ?? 'Label') | translate} }}
            }
          }
        </mat-error>
      </mat-form-field>
<!--    }-->
<!--  }-->
</div>

