@let selectedLanguage = questionnaireStateService.selectedLanguage();

@if (sectionHeader()) {
  <p class="text-base" [innerHtml]="question().section_header?.[selectedLanguage] | replacePlaceholders"></p>
}
@if(label() && question().field_label) {
  <p class="text-lg">
    <span [innerHtml]="question().field_label[selectedLanguage] | replacePlaceholders"></span>
    @if (question().required_field !== 'false') {
      <span class="text-red-700"> *</span>
    } @else {
      <span class="text-gray-500 text-sm"> (Optional)</span>
    }
  </p>
}

@if (note()) {
<!--  <p class="text-sm mb-2" [innerHtml]="question().field_note | replacePlaceholders"></p>-->
}
