@use '@angular/material' as mat;

@mixin overrides() {
  @include mat.bottom-sheet-overrides((
    // Base
    container-shape: 28px,
    // Color
    container-text-color: var(--mat-sys-on-surface),
    container-background-color: var(--mat-sys-surface-container-low),
    // Typography
    container-text-font: var(--mat-sys-body-large-font),
    container-text-line-height: var(--mat-sys-body-large-line-height),
    container-text-size: var(--mat-sys-body-large-size),
    container-text-tracking: var(--mat-sys-body-large-tracking),
    container-text-weight: var(--mat-sys-body-large-weight)
  ));
}

