@let _prefix = 'ADMIN.questionnaire.dialog.variable';

<app-entity-table-row [gridView]="false"
            [tableFields]="TableFields"
            [extensionClass]="extensionClass()"
            [customTemplate]="entityTemplate"
            [updated]="updated()">
  <div class="flex items-center" extra-actions>
    <button class="tiny"
            mat-icon-button color="primary" [matTooltip]="`ADMIN.vairable.edit` | translate"
            (click)='openDialog("edit", entity())'>
      <mat-icon class="material-symbols-outlined text-xl!">edit</mat-icon>
    </button>
    <button class="tiny"
            mat-icon-button color="warn" [matTooltip]="`ADMIN.variable.delete` | translate"
            (click)='openDialog("delete", entity())'>
      <mat-icon class="material-symbols-outlined text-xl!">delete</mat-icon>
    </button>
  </div>
</app-entity-table-row>

<ng-template #entityTemplate let-property>
  @switch (property.name) {
    @case ('name') {
        {{ entity()['name'] || '-' }}
    }
    @case ('variables') {
      <p>{{ `${_prefix}.variables` | translate }}: <span>
      @switch(entity().type) {
        @case ('reservedVariable') {
          {{ entity().reservedVariable || '-' }}
        }
<!--        @case ('question') {-->
<!--          {{ entity().questionId || '-' }}-->
<!--        }-->
        @case ('questionnaire') {
          {{ entity().questionnaireId || '-' }} | {{ entity().questionId || '-' }}
        }
        @case ('topic') {
          {{ entity().topic || '-' }} | {{ entity().topicVariable || '-' }}
        }
      }</span></p>
      <p>{{ `${_prefix}.method` | translate }}: <span>{{entity().method || '-'}}</span></p>
      <p>{{ `${_prefix}.function` | translate }}: <span>{{entity().function || '-'}}</span></p>
      <p>{{ `${_prefix}.timeWindow` | translate }}: <span>{{entity().start || '-'}} - {{entity().end || '-'}}</span></p>
    }
    @default {
      {{ $any(entity())[property.name] || '-' }}
    }
  }
</ng-template>
