@let _i18nEntity = "ADMIN.organization";
@let _i18nShared = "SHARED.dialog";

@if (dialogData.mode) {
  <h2 mat-dialog-title class="border-b border-neutral-400">
    <span>{{ `${_i18nShared}.${dialogData.mode}` | translate }}</span>
    <span> {{ `${_i18nEntity}.title.singular` | translate }}</span>
    <code class="italic text-secondary"> {{ dialogData.entity?.name ? `${dialogData.entity?.name}` : `` }}</code>
  </h2>

  <mat-dialog-content>
    @if (dialogData.mode === DialogMode.DELETE) {
      <div class='mb-4 text-base'>
        <div class="mt-4">
          <p>
            {{ `${_i18nShared}.deleteMessage` | translate }} {{ `${_i18nEntity}.name` | translate }}:
            <code class="italic text-secondary">{{ dialogData.entity?.name }}</code>. </p>
          <p class="font-bold">{{ `${_i18nShared}.deleteWarning` | translate }}</p>
        </div>
      </div>
    }

    @if (dialogData.mode === DialogMode.ADD || dialogData.mode === DialogMode.EDIT) {

      <form novalidate>
        @if (dialogData.mode !== DialogMode.ADD) {
          <app-input-form-field [field]="form.id" [label]="`${_i18nEntity}.id`" [appearance]='"fill"'/>
        }

        <app-input-form-field [field]="form.name" [label]="`${_i18nEntity}.name`" [required]="true"/>

<!--        @if (!formFields || formFields['location'] === undefined || formFields['location']) {-->
          <app-input-form-field [field]="form.location" [label]='`${_i18nEntity}.location`'/>
<!--        }-->

<!--        @if (!formFields || formFields['description'] === undefined || formFields['description']) {-->
          <app-textarea-form-field [field]="form.description" [label]='`${_i18nEntity}.description`'/>
<!--        }-->
      </form>
    }
  </mat-dialog-content>

  @if (store.error()) {
    <app-error-box>
      {{ store.error() | json }}
    </app-error-box>
  }

  <mat-dialog-actions align="end" class="justify-between!">
    <button (click)='close()' mat-stroked-button color="accent">
      {{
        dialogData.mode !== DialogMode.DELETE ?
          (`${_i18nShared}.cancel` | translate) : (`${_i18nShared}.no` | translate)
      }}
    </button>
    @switch (dialogData.mode) {
      @case (DialogMode.DELETE) {
        <button [disabled]='store.loading()' (click)='delete()' color="warn" mat-raised-button>
          @if (store.loading()) {
            <mat-icon>
              <mat-spinner diameter="20"/>
            </mat-icon>
          }

          {{
            store.loading() ?
              (`${_i18nShared}.deletingButton` | translate) :
              (`${_i18nShared}.yes` | translate)
          }}
        </button>
      }
      @case (DialogMode.EDIT) {
        <button [disabled]='form().invalid() || store.loading()' (click)='save()' mat-raised-button color="primary">
          @if (store.loading()) {
            <mat-icon>
              <mat-spinner diameter='20'/>
            </mat-icon>
          }
          {{ `${_i18nShared}.update` | translate }}
        </button>
      }
      @case (DialogMode.ADD) {
        <button [disabled]='form().invalid() || store.loading()' (click)='save()' color="primary" mat-raised-button>
          @if (store.loading()) {
            <mat-icon>
              <mat-spinner diameter='20'/>
            </mat-icon>
          }
          {{ `${_i18nShared}.create` | translate }}
        </button>
      }
    }
  </mat-dialog-actions>
}
