@let _i18nFilter = 'SHARED.FILTER';

<div class="mb-2">
  @if (filters().length) {
    <div class='rounded-sm'>
      <form novalidate autocomplete="off" class='w-full flex gap-1 justify-between'>
        <div class="grow grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-4 3xl:grid-cols-6 gap-2 text-base items-stretch">
          @for (filter of _filters; track filter) {
            @if (!filter.advanced) {
              @if (filter.type === FilterType.SELECT) {
                <app-select-form-field [label]="null"
                                       [field]="form[filter.name]"
                                       [options]="[{value: '', label: `${_i18nFilter}.all`}, ...filter?.options ?? []]"/>
              }

              @if (filter.type === FilterType.INPUT) {
                <app-input-form-field [field]="form[filter.name]"
                                      [label]="null"
                                      type="search"
                                      [subscriptSizing]="'dynamic'"
                                      placeholder='{{ filter.label | translate }}'>
                  <mat-icon class="text-neutral-300" matIconPrefix>search</mat-icon>
                  @if (model()[filter.name]) {
                    <button type="button"
                            matSuffix
                            matIconButton
                            aria-label="Clear"
                            class="mx-2 app-icon-button-small"
                            (click)="removeFilter(filter)">
                      <mat-icon>close</mat-icon>
                    </button>
                  }
                </app-input-form-field>
              }

              @if (filter.type === FilterType.DATEPICKER) {
                <app-date-form-field [label]="null"
                                     [field]="form[filter.name]"
                                     [placeholder]='localeService.currentLocale()?.dateFormat || "dd/MM/yyyy"'/>
              }

              @if (filter.type === FilterType.RANGE_PICKER && filter.names) {
                <mat-form-field class="small-input" appearance="outline" subscriptSizing="fixed">
                  <mat-date-range-input [rangePicker]="rangePicker">
                    <input matStartDate
                           [formField]="form[filter.names[0]]"
                           [placeholder]='localeService.currentLocale()?.dateFormat || "dd/MM/yyyy"'>
                    <input matEndDate
                           [formField]="form[filter.names[1]]"
                           [placeholder]='localeService.currentLocale()?.dateFormat || "dd/MM/yyyy"'>
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="rangePicker"/>
                  <mat-date-range-picker #rangePicker/>
                </mat-form-field>
              }
            }
          }
        </div>
        @if (advancedFilterEnabled) {
          <div class="shrink-0">
            <button class="flex gap-1 justify-center items-center bg-neutral-200 border-neutral-300 border-2 rounded-full px-1 py-1 text-base font-bold text-neutral-700
                    transition duration-150 ease-in-out font-feature-default"
                    type="button"
                    [matMenuTriggerFor]="advancedFilter">
              <mat-icon class="text-lg font-bold">filter_alt</mat-icon>
              <mat-icon class="material-symbols-outlined text-lg font-bold">expand_more</mat-icon>
            </button>
            <mat-menu #advancedFilter="matMenu" class="w-120">
              <div class="text-sm p-4">
                @for (filter of _filters; track filter) {
                  @if (filter.advanced) {
                    <div class="">
                      @switch (filter.type) {
                        @case (FilterType.INPUT) {
                          <app-input-form-field [label]="null"
                                                [field]="form[filter.name]"
                                                placeholder='{{`${_i18nFilter}.filterBy` | translate}} {{ filter.label | translate }}'
                                                (click)="$event.stopPropagation()"/>
                        }
                        @case (FilterType.SELECT) {
                          <app-select-form-field [label]="null"
                                                 [field]="form[filter.name]"
                                                 [options]="filter?.options ?? []"
                                                 [subscriptSizing]="'dynamic'"
                                                 placeholder='{{`${_i18nFilter}.filterBy` | translate}} {{ filter.label | translate }}'
                                                 (click)="$event.stopPropagation()"/>
                        }
                        @case (FilterType.DATEPICKER) {
                          <app-date-form-field [label]="null"
                                               [field]="form[filter.name]"
                                               (click)="$event.stopPropagation()"
                                               [placeholder]='localeService.currentLocale()?.dateFormat || "dd/MM/yyyy"'/>
                        }
                        @case (FilterType.RANGE_PICKER) {
                          @if (filter.names) {
                            <mat-form-field appearance="outline"
                                            floatLabel="always"
                                            subscriptSizing="dynamic"
                                            (click)="$event.stopPropagation()">
                              <!--                              <input [formControlName]='filter.names[0]'>-->
                              <mat-date-range-input [rangePicker]="rangePicker">
                                <input matStartDate
                                       [formField]="form[filter.names[0]]"
                                       [placeholder]='localeService.currentLocale()?.dateFormat || "dd/MM/yyyy"'>
                                <input matEndDate
                                       [formField]="form[filter.names[1]]"
                                       [placeholder]='localeService.currentLocale()?.dateFormat || "dd/MM/yyyy"'>
                              </mat-date-range-input>
                              <mat-datepicker-toggle matSuffix [for]="rangePicker"/>
                              <mat-date-range-picker #rangePicker/>
                            </mat-form-field>
                          }
                        }
                      }
                    </div>
                  }
                }
              </div>
            </mat-menu>
          </div>
        }
      </form>
    </div>
  }

  <div class='justify-end text-sm! text-white! items-center flex gap-2'>
    @for (filter of _filters; track filter.name) {
      @if (filter.advanced) {
        @if (filter.type === FilterType.RANGE_PICKER && filter.names) {
          @if (model()[filter.names[0]] || model()[filter.names[1]]) {
            <app-tag class="bg-primary/10 text-primary">
              {{ filter.label | translate }}
              @if (model()[filter.names[0]]; as fromValue) {
                ({{ `${_i18nFilter}.from` | translate }}):
                <app-local-date [date]="fromValue" [format]="'mediumDate'"></app-local-date>
              }
              @if (model()[filter.names[1]]; as toValue) {
                ({{ `${_i18nFilter}.to` | translate }}):
                <app-local-date [date]="toValue" [format]="'mediumDate'"></app-local-date>
              }
              <button mat-icon-button class="app-icon-button-small" color="primary" (click)='removeFilter(filter)'>
                <mat-icon class="text-xl!">cancel</mat-icon>
              </button>
            </app-tag>
          }
        }

        @if (filter.type === FilterType.DATEPICKER) {
          @if (model()[filter.name]; as value) {
            <app-tag class="bg-primary/10 text-primary">
              {{ filter.label | translate }}:
              <app-local-date [date]="value" [format]="'mediumDate'"></app-local-date>
              <button mat-icon-button class="app-icon-button-small" color="primary" (click)='removeFilter(filter)'>
                <mat-icon class="text-xl!">cancel</mat-icon>
              </button>
            </app-tag>
          }
        }
        @if (filter.type !== FilterType.RANGE_PICKER && filter.type !== FilterType.DATEPICKER) {
          @if (model()[filter.name]; as value) {
            <app-tag class="bg-primary/10 text-primary">
              @if (filter.type === FilterType.SELECT) {
                @for (option of filter?.options; track option.value) {
                  @if (option.value.toString() === value) {
                    {{ filter.label | translate }}: {{ option.label | translate }}
                    <button mat-icon-button
                            class="app-icon-button-small"
                            color="primary"
                            (click)='removeFilter(filter)'>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  }
                }
              } @else {
                {{ filter.label | translate }}: {{ value | translate }}
                <button mat-icon-button class="app-icon-button-small" color="primary" (click)='removeFilter(filter)'>
                  <mat-icon>cancel</mat-icon>
                </button>
              }
            </app-tag>
          }
        }
      }
    }
    @if (filterEnabled) {
      <button mat-icon-button
              color='warn'
              class='shrink-0 filter-reset-button app-icon-button-small'
              [disabled]='!filterEnabled'
              (click)='resetFilters()'>
        <mat-icon>filter_alt_off</mat-icon>
      </button>
    }
  </div>

</div>
