@let _prefix = 'ADMIN.questionnaire.dialog';

@switch (type) {
  @case ('button') {
  }
  @case ('form') {
    <label for="unit" class="text-sm">{{ `${_prefix}.questionDateTypeLabel` | translate }}</label>
    <mat-form-field class='small-input w-full! grow-0' appearance='outline' subscriptSizing="dynamic">
      <mat-select [formControl]="date_type">
        <mat-option [value]="'date'">{{ 'ADMIN.questionnaire.dialog.questionDateTypeDate' | translate }}
        </mat-option>
        <mat-option [value]="'time'">{{ 'ADMIN.questionnaire.dialog.questionDateTypeTime' | translate }}
        </mat-option>
<!--        <mat-option [value]="'datetime'">{{ 'ADMIN.questionnaire.dialog.questionDateTypeLabel.datetime' | translate }}-->
<!--        </mat-option>-->
      </mat-select>
    </mat-form-field>

    <div class="mt-4">
<!--      <label for="unit" class="text-sm">{{ `${_prefix}.questionValidationLabel` | translate }}</label>-->
      <fieldset class="p-2 rounded-sm border flex gap-2">
        <div class="w-1/2">
          <div>
            <label for="text_validation_min"
                   class="text-sm">{{ `${_prefix}.questionTextValidationMin` | translate }}</label>
          </div>
          <mat-form-field class="small-input w-1/2" appearance='outline'>
            <input [formControl]='text_validation_min' matInput [matDatepicker]="dp1" readonly tabindex="-1"
                   (click)="dp1.open()">
            @if (text_validation_min.value) {
              <button matIconButton
                      matSuffix
                      type="button"
                      aria-label="Clear min date"
                      (click)="$event.stopPropagation(); text_validation_min.reset()">
                <mat-icon class="material-symbols-outlined">close</mat-icon>
              </button>
            }
            <mat-datepicker-toggle matIconSuffix [for]="dp1"></mat-datepicker-toggle>
            <mat-datepicker #dp1></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="w-1/2">
          <div>
            <label for="text_validation_max"
                   class="text-sm">{{ `${_prefix}.questionTextValidationMax` | translate }}</label>
          </div>
          <mat-form-field class="small-input w-1/2" appearance='outline'>
            <input [formControl]='text_validation_max' matInput [matDatepicker]="dp2" readonly (click)="dp2.open()">
            @if (text_validation_max.value) {
              <button matIconButton
                      matSuffix
                      type="button"
                      aria-label="Clear min date"
                      (click)="$event.stopPropagation(); text_validation_max.reset()">
                <mat-icon class="material-symbols-outlined">close</mat-icon>
              </button>
            }
            <mat-datepicker-toggle matIconSuffix [for]="dp2"></mat-datepicker-toggle>
            <mat-datepicker #dp2></mat-datepicker>
          </mat-form-field>
        </div>
      </fieldset>
    </div>

    <div class="mt-4">
      <div>
        <label for="matrix_group_name"
               class="text-sm">{{ `${_prefix}.questionMatrixGroupName` | translate }}</label>
      </div>
      <mat-form-field class='small-input' appearance="outline">
        <input id="matrix_group_name" matInput [formControl]='matrix_group_name'/>
      </mat-form-field>
    </div>
  }
  @case ('preview') {
    <app-question-header [question]="entity()" [language]="language()"/>

    @switch (entity().date_type) {
      @case ('time') {
        <mat-form-field class='small-input'
                        appearance='outline'
                        subscriptSizing="dynamic">
          <input matInput type="time" required (input)="onPreviewTimeInputChange($event)"/>
        </mat-form-field>
      }
<!--      @case ('datetime') {-->
<!--        <mat-form-field class='small-input'-->
<!--                        appearance='outline'-->
<!--                        subscriptSizing="dynamic">-->
<!--          <input matInput type="time" required />-->
<!--        </mat-form-field>-->
<!--      }-->
      @default {
        <mat-form-field class="small-input" appearance='outline'>
          <input [min]="entity().text_validation_min" [max]="entity().text_validation_max"
                 [value]="previewDateValue" matInput [matDatepicker]="dp3" readonly (click)="dp3.open()"
                 (dateChange)="onPreviewDateInputChange($event)">
          <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3></mat-datepicker>
        </mat-form-field>
      }
      <!--      @case ('date') {-->
        <!--        <mat-form-field class="small-input w-1/2" appearance='outline'>-->
        <!--          <input [min]="entity().text_validation_min" [max]="entity().text_validation_max"-->
        <!--                 [value]="previewDateValue" matInput [matDatepicker]="dp3" readonly (click)="dp3.open()"-->
        <!--                 (dateChange)="onPreviewInputChange($event)">-->
        <!--          <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>-->
        <!--          <mat-datepicker #dp3></mat-datepicker>-->
        <!--        </mat-form-field>-->
        <!--      }-->
    }

    @if (!isPreviewDisabled) {
      <button color="warn" matButton class="my-4 text-sm!" (click)="onPreviewDateInputChange(null)">
        Clear
      </button>
    }
  }
  @case ('logic') {
    <div>
      <mat-form-field class='small-input w-1/2' appearance='outline'>
        <input [value]="logicDateValue"
               matInput
               [matDatepicker]="picker"
               (dateChange)="onLogicInputChange($event)"/>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  }
}



