@let entity = organizationStore.selected();

@if (entity) {
  @if (!projectStore.selected()) {
    <div
      class='sticky top-0 z-30 flex flex-wrap justify-between gap-2 p-4 w-full bg-primary/10'>
      <div class='flex flex-wrap gap-2 items-center'>
        <button class="app-button-small app-button-full-corner" mat-flat-button
                [routerLink]="['/admin', 'organizations']">
          <mat-icon class="material-symbols-outlined">{{ ENTITY_REGISTRY.organization.icon }}</mat-icon>
          <span>{{ `ADMIN.${ENTITY_REGISTRY.organization.name}.title.singular` | translate }}</span>
        </button>
        <h2 class='flex items-center gap-2 m-0 text-lg font-bold text-primary'>
          {{ entity.name }}
        </h2>
      </div>

      <div class='flex gap-1 ml-auto'>
        <app-organization-actions
          *appShowIfHasRole='[{role: ROLES.SYS_ADMIN}, {role: ROLES.ORGANIZATION_ADMIN, entityName: entity.name}]'
          [entity]="entity"/>
      </div>
    </div>
  }

  <div [class]="!projectStore.selected() ? 'm-4' : ''">
    @if (!projectStore.selected()) {
      <nav class="border-b-2 border-neutral-200"
           mat-tab-nav-bar
           mat-stretch-tabs="false"
           [tabPanel]="tabPanel">
        @for (link of links; track link) {
          <a mat-tab-link *appShowIfHasRole="link.permissions"
             [routerLink]="link.path"
             routerLinkActive #rla="routerLinkActive"
             [active]="rla.isActive">
            <h2 class='flex items-center gap-2 m-0 text-base font-bold'>
              {{ link.label | translate }}
            </h2>
          </a>
        }
      </nav>
    }
    <mat-tab-nav-panel #tabPanel>
      <router-outlet/>
    </mat-tab-nav-panel>
  </div>
}
