@if (editor(); as editor) {
  <div class="border rounded overflow-hidden">
    <div
      class="h-8 flex items-center justify-between gap-0.5 p-1 border-b border-b-gray-300 [&>button]:p-px [&>button]:text-sm [&>button]:cursor-pointer [&>button]:bg-gray-200">
      <div class="flex items-center gap-0.5">

      <button mat-icon-button class="tiny" type="button"
              [class.active]="isActive('paragraph')"
              (click)="setParagraph()">
        <mat-icon class="material-symbols-outlined text-lg!">format_paragraph</mat-icon>
      </button>

        <button mat-icon-button class="tiny" type="button"
                [class.active]="isActive('heading', 1)" (click)="setHeading(1)">
          <mat-icon class="material-symbols-outlined text-lg!">format_h1</mat-icon>
        </button>
        <!--    <button mat-icon-button class="tiny" type="button"-->
        <!--            [class.active]="isActive('heading', 2)"-->
        <!--            (click)="setHeading(2)">-->
        <!--      <mat-icon class="material-symbols-outlined text-lg!">format_h2</mat-icon>-->
        <!--    </button>-->
        <!--    <button mat-icon-button class="tiny" type="button"-->
        <!--            [class.active]="isActive('heading', 3)"-->
        <!--            (click)="setHeading(3)">-->
        <!--      <mat-icon class="material-symbols-outlined text-lg!">format_h3</mat-icon>-->
        <!--    </button>-->

        <!-- Formatting -->
        <button mat-icon-button class="tiny" type="button"
                [class.active]="isActive('bold')"
                (click)="toggleBold()">
          <mat-icon class="material-symbols-outlined text-lg!">format_bold</mat-icon>
        </button>
        <button mat-icon-button class="tiny" type="button"
                [class.active]="isActive('italic')"
                (click)="toggleItalic()">
          <mat-icon class="material-symbols-outlined text-lg!">format_italic</mat-icon>
        </button>
        <button mat-icon-button class="tiny" type="button" [class.active]="isActive('underline')"
                (click)="toggleUnderline()">
          <mat-icon class="material-symbols-outlined text-lg!">format_underlined</mat-icon>
        </button>
        <!--    <button type="button" [class.active]="isActive('strike')" (click)="toggleStrike()"><mat-icon class="material-symbols-outlined text-xl!">format_strikethrough</mat-icon></button>-->

        <!--    <input type="color" [value]="selectedColor" (input)="setColor($event)" title="Text color"/>-->
        <!--    <button type="button" (click)="unsetColor()"><mat-icon class="material-symbols-outlined text-xl!">format_clear</mat-icon></button>-->

        <!--    <p>|</p>-->

        <!-- Lists -->

        <!--    <button type="button" [class.active]="isActive('bulletList')" (click)="toggleBulletList()"><mat-icon class="material-symbols-outlined text-xl!">format_list_bulleted</mat-icon></button>-->
        <!--    <button type="button" [class.active]="isActive('orderedList')" (click)="toggleOrderedList()"><mat-icon class="material-symbols-outlined text-xl!">format_list_numbered</mat-icon></button>-->
        <!--    <button type="button" [class.active]="isActive('blockquote')" (click)="toggleBlockquote()"><mat-icon class="material-symbols-outlined text-xl!">format_quote</mat-icon></button>-->

        <!--    <p>|</p>-->
        <button mat-icon-button class="tiny" type="button"
                (click)="insertImage()">
          <mat-icon class="material-symbols-outlined text-lg!">image</mat-icon>
        </button>
      </div>

      <div class="flex items-center gap-0.5">
        <button mat-icon-button class="tiny" type="button"
                (click)="undo()" [disabled]="!editor.can().undo()">
          <mat-icon class="material-symbols-outlined text-lg!">undo</mat-icon>
        </button>

        <button mat-icon-button class="tiny" type="button"
                (click)="redo()" [disabled]="!editor.can().redo()">
          <mat-icon class="material-symbols-outlined text-lg!">redo</mat-icon>
        </button>

        @if (!hideQuestionPicker() && questionIndex()) {
          <button mat-icon-button class="tiny" type="button"
                  (click)="openQuestionPicker()" [matTooltip]="'Insert question'">
            <mat-icon class="material-symbols-outlined text-lg!">data_array</mat-icon>
          </button>
        }

        <button mat-icon-button class="tiny" type="button"
                (click)="openVariablePicker()" [matTooltip]="'Insert variable'">
          <mat-icon class="material-symbols-outlined text-lg!">data_object</mat-icon>
        </button>

        <button mat-icon-button class="tiny" type="button"
                [class.active]="sourceMode"
                (click)="toggleSourceMode()" [matTooltip]="'view source'">
          <mat-icon class="material-symbols-outlined text-lg!">code_xml</mat-icon>
        </button>
      </div>
    </div>

<!--    <div-->
<!--      class="h-8 flex items-center gap-0.5 p-1 border-b border-b-gray-300 [&>button]:p-px [&>button]:text-sm [&>button]:cursor-pointer [&>button]:bg-gray-200">-->


<!--      -->
<!--    </div>-->

    @if (!sourceMode) {
      <tiptap-editor [editor]="editor"/>
    } @else {
      <textarea class="source-editor" [(ngModel)]="sourceHtml"></textarea>
    }
  </div>
}
