<app-question-header [question]="entity()" [language]="language()"/>

<mat-form-field subscriptSizing="fixed" appearance="outline">
  @if (entity().multi_line) {
    <textarea matInput rows="5" maxlength="256"
              [value]="answer()?.value ?? ''"
              [disabled]="isPreviewDisabled"
              (input)="onPreviewInputChange($event)"
              [type]="'text'"></textarea>
  } @else {
    <input matInput maxlength="256" [value]="answer()?.value ?? ''" [disabled]="isPreviewDisabled"
           (input)="onPreviewInputChange($event)"
           [type]="'text'">
  }
</mat-form-field>

@if (error) {
  <p class="text-red-700">{{ error }}</p>
}

@if (!isPreviewDisabled) {
  <button color="warn" matButton class="my-4 text-sm!" (click)="onPreviewInputChange(null)">
    Clear
  </button>
}
