<rb-entities-page-header [showTitle]="true"
                         [entityName]="ENTITY_NAME.sourceType"
                         [enableAddButton]="true"
                         [isGridView]="undefined"
                         [permission]="[{role: ROLES.SYS_ADMIN}]">
  <!--                         GRID_VIEW_ENABLED ? gridView : undefined"-->
  <!--                         (gridListToggled)="gridView = !gridView">-->
  @if (TABLE_FILTERS.length && entities$().length > MIN_ENTITIES_FOR_FILTERS) {
    <rb-data-table-filter bottom-filter
                          [filters]='TABLE_FILTERS'
                          [filterOpened]='isFilterOpened'
                          (filterChanged)='switchFilter($event)'
                          (filterEnableChanged)="onFilterEnabledChanged($event)"/>
  }
</rb-entities-page-header>

@if (loading$()) {
  <rb-loader/>
}

@let tp = (config$ | async)?.entities?.[ENTITY_NAME.sourceType]?.fields ?? {};
{{tp | json}}

<!--<div [class]="!gridView ? 'rb-table': 'grid-container'"-->
<div class="rb-table"
     rbTableQueryReflector
     [page]="page$()"
     [sort]="sort$()"
     [defaultSort]="{sortField: 'id', sortOrder: 'desc'}"
     (activeQueryParams)="handleActiveQueryChange($event)">

  @if (entities$().length) {
    <div class="rb-table-header mat-app-background">
      @for (tableElement of TABLE_ELEMENTS; track tableElement.name) {
        @if (tp[tableElement.name] !== false) {
          @if (tableElement.name === 'checkbox') {
            <div [class]="tableElement.tableClass + ' ' + tableElement.width + ' ' + tableElement.classes"
                 [class.flex-1]="!tableElement.width"
                 [class.shrink-0]="!!tableElement.width">
              <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()"/>
            </div>
          } @else {
            <div [class]="tableElement.tableClass + ' ' + tableElement.width + ' ' + tableElement.classes"
                 [class.flex-1]="!tableElement.width"
                 [class.shrink-0]="!!tableElement.width">
              <button class="rb-table-head group" [class]="tableElement.sortable ? 'cursor-pointer': ''"
                      (click)="switchSort(tableElement)">
                <span>{{ 'ADMIN.sourceType.' + tableElement.name + '.tableLabel' | translate }}</span>
                @if (tableElement.sortable) {
                  <div class="rb-table-sort" [class.opacity-0]="sort$().sortField !== tableElement.name">
                      <span class="rb-sort-icon material-symbols-outlined">
                        {{ sort$().sortField === tableElement.name && sort$().sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward' }}
                      </span>
                  </div>
                }
              </button>
            </div>
          }
        }
      }
    </div>
  }

  @if (entities$().length) {
    @for (entity of visibleEntities$(); track entity.id) {
      <rb-source-type-table-row [entity$]="entity" [entityUpdateTrigger$]="dialogService.dialogUpdateEvent$()"/>
    }
  }
</div>

<div class="flex items-center p-4 text-sm font-bold">
  @if (entities$().length === 0) {
    <span>{{ 'ADMIN.sourceType.noItemFound' | translate }}</span>
  }
  @if (processedEntities$().length === 0) {
    <span>{{ 'No item found with this filter' | translate }}</span>
  }
</div>

@if (processedEntities$().length > MIN_ENTITIES_FOR_PAGINATION) {
  <mat-paginator (page)="switchPage($event)"
                 [length]="processedEntities$().length"
                 [pageSize]="page$().pageSize"
                 [pageSizeOptions]="PAGE_SIZE_OPTIONS"
                 [pageIndex]="page$().pageIndex"
                 aria-label="Select page"/>
}
