@let _prefix = "ADMIN.client";

<app-dialog-title [dialogMode]='dialogData.mode'
                  [entityMetadata]="configService.getEntityMetadata()"
                  [entityName]="dialogData.mode !== DialogMode.ADD ? dialogData.entity._name : undefined"
                  (closeEvent)='close()'/>
<mat-dialog-content>
  @if (dialogData.mode === DialogMode.VIEW || dialogData.mode === DialogMode.DELETE) {
    <app-dialog-body-description [dialogMode]="dialogData.mode"
                                 [label]="`${_prefix}.title.singular` | translate"
                                 [entityName]="dialogData.entity.clientId"/>
  }

  @if (dialogData.mode === DialogMode.ADD || dialogData.mode === DialogMode.EDIT) {
    <form [formGroup]='form' novalidate>
      <label for="clientId" class="text-sm">
        {{ `${_prefix}.clientId.label` | translate }} *
      </label>
      <mat-form-field subscriptSizing="fixed" [appearance]='dialogData.entity ? "fill": "outline"'>
        <input id="clientId" matInput formControlName='clientId' required>
        <mat-error>
          @if (form.controls.clientId.errors; as errors) {
            @if (errors?.['duplicate']) {
              {{ `${_prefix}.clientId.duplicate` | translate }}
            }
            @if (errors?.['pattern']) {
              {{ ValidatorError.stringIdValidator | translate }}
            }
            @if (errors?.['required']) {
              {{ ValidatorError.requiredValidator | translate: {value: `${_prefix}.clientId.label` | translate} }}
            }
          }
        </mat-error>
      </mat-form-field>

      <mat-slide-toggle formControlName='enableEmptySecret' color="primary">
        {{ `${_prefix}.enableEmptySecret.label` | translate }}
      </mat-slide-toggle>
      <p class="mb-4 text-sm">{{ `${_prefix}.enableEmptySecret.hint` | translate }}</p>

      @if (!form.controls["enableEmptySecret"].value) {
        <label for="clientSecret" class="text-sm">
          {{ `${_prefix}.clientSecret.label` | translate }} *
        </label>
        <mat-form-field subscriptSizing="fixed" appearance='outline'>
          <input id="clientSecret" matInput formControlName='clientSecret'
                 [required]="!form.controls['enableEmptySecret'].value">
          <button type='button' matSuffix mat-button class="text-sm mx-2" (click)='generateRandomSecret(36)'>
            {{ `${_prefix}.clientSecret.generateKey` | translate }}
          </button>
          <mat-error>
            @if (form.controls.clientSecret.errors; as errors) {
              @if (errors?.['required']) {
                {{ ValidatorError.requiredValidator | translate: {value: `${_prefix}.clientSecret.label` | translate} }}
              }
            }
          </mat-error>
        </mat-form-field>
      }

      <label for="scope" class="text-sm">
        {{ `${_prefix}.scope.label` | translate }} *
      </label>
      <mat-form-field subscriptSizing="fixed" class="mb-16" appearance='outline'>
        <textarea id="scope" rows="3" matInput formControlName='scope' required></textarea>
        <mat-error>
          @if (form.controls.scope.errors; as errors) {
            @if (errors?.['pattern']) {
              {{ ValidatorError.normalTextValidator | translate }}
            }
            @if (errors?.['required']) {
              {{ ValidatorError.requiredValidator | translate: {value: `${_prefix}.scope.label` | translate} }}
            }
          }
        </mat-error>
        <mat-hint class="text-xs leading-3">{{ `${_prefix}.scope.hint` | translate }}</mat-hint>
      </mat-form-field>

      <label for="resourceIds" class="text-sm">
        {{ `${_prefix}.resourceIds.label` | translate }} *
      </label>
      <mat-form-field class="mb-4" subscriptSizing="fixed" appearance='outline'>
        <input id="resourceIds" matInput formControlName='resourceIds' required>
        <mat-error>
          @if (form.controls.resourceIds.errors; as errors) {
            @if (errors?.['pattern']) {
              {{ ValidatorError.normalTextValidator | translate }}
            }
            @if (errors?.['required']) {
              {{ ValidatorError.requiredValidator | translate: {value: `${_prefix}.resourceIds.label` | translate} }}
            }
          }
        </mat-error>
        <mat-hint>{{ `${_prefix}.resourceIds.hint` | translate }}</mat-hint>
      </mat-form-field>

      <p class="text-sm">
        {{ `${_prefix}.authorizedGrantTypes.label` | translate }}
      </p>
      <fieldset formGroupName='_authorizedGrantTypes'>
        <div>
          <mat-checkbox formControlName='refresh_token' color="primary">
            {{ `${_prefix}.authorizedGrantTypes.refreshToken` | translate }}
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox formControlName='password' color="primary">
            {{ `${_prefix}.authorizedGrantTypes.password` | translate }}
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox formControlName='authorization_code' color="primary">
            {{ `${_prefix}.authorizedGrantTypes.authorization_code` | translate }}
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox formControlName='client_credentials' color="primary">
            {{ `${_prefix}.authorizedGrantTypes.client_credentials` | translate }}
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox formControlName='implicit' color="primary">
            {{ `${_prefix}.authorizedGrantTypes.implicit` | translate }}
          </mat-checkbox>
        </div>
      </fieldset>

      <div class="mb-4" formGroupName="additionalInformation">
        <mat-slide-toggle formControlName='dynamic_registration' color="primary">
          {{ `${_prefix}.dynamic_registration.label` | translate }}
        </mat-slide-toggle>
      </div>

      <label for="registeredRedirectUri" class="text-sm">
        {{ `${_prefix}.registeredRedirectUri.label` | translate }}
      </label>
      <mat-form-field subscriptSizing="fixed" class="mb-4" appearance='outline'>
        <input id="registeredRedirectUri" matInput formControlName='registeredRedirectUri'>
        <mat-hint>{{ `${_prefix}.registeredRedirectUri.hint` | translate }}</mat-hint>
      </mat-form-field>

      <label for="autoApproveScopes" class="text-sm">
        {{ `${_prefix}.autoApproveScopes.label` | translate }}
      </label>
      <mat-form-field subscriptSizing="fixed" class="mb-4" appearance='outline'>
        <textarea id="autoApproveScopes" rows="3" matInput formControlName='autoApproveScopes'></textarea>
        <mat-hint>{{ `${_prefix}.autoApproveScopes.hint` | translate }}</mat-hint>
      </mat-form-field>

      <label for="accessTokenValiditySeconds" class="text-sm">
        {{ `${_prefix}.accessTokenValiditySeconds.label` | translate }} *
      </label>
      <mat-form-field id="accessTokenValiditySeconds" subscriptSizing="fixed" class="mb-4" appearance='outline'>
        <input matInput formControlName='accessTokenValiditySeconds' type='number' required>
        <mat-error>
          @if (form.controls.accessTokenValiditySeconds.errors; as errors) {
            @if (errors?.['required']) {
              {{ ValidatorError.requiredValidator | translate: {value: `${_prefix}.accessTokenValiditySeconds.label` | translate} }}
            }
          }
        </mat-error>
        <span matSuffix class="mx-4 text-neutral-500! dark:text-neutral-400">
          {{ form.controls.accessTokenValiditySeconds.value | duration:'s' }}
        </span>
        <mat-hint>{{ `${_prefix}.accessTokenValiditySeconds.hint` | translate }}</mat-hint>
      </mat-form-field>

      <label for="refreshTokenValiditySeconds" class="text-sm">
        {{ `${_prefix}.refreshTokenValiditySeconds.label` | translate }} *
      </label>
      <mat-form-field subscriptSizing="fixed" appearance='outline'>
        <input id="refreshTokenValiditySeconds" matInput formControlName='refreshTokenValiditySeconds' type='number'
               required>
        <mat-error>
          @if (form.controls.refreshTokenValiditySeconds.errors; as errors) {
            @if (errors?.['required']) {
              {{ ValidatorError.requiredValidator | translate: {value: `${_prefix}.refreshTokenValiditySeconds.label` | translate} }}
            }
          }
        </mat-error>
        <span matSuffix class="mx-4 text-neutral-500! dark:text-neutral-400">
          {{ form.controls.refreshTokenValiditySeconds.value | duration:'s' }}
        </span>
        <mat-hint>{{ `${_prefix}.refreshTokenValiditySeconds.hint` | translate }}</mat-hint>
      </mat-form-field>
    </form>
  }
</mat-dialog-content>


@if (error()) {
  <app-error-message-box>
    {{ error()?.error.errorCode | translate }}
  </app-error-message-box>
}

<app-dialog-actions [dialogMode]='dialogData.mode'
                    [form]='form'
                    (actionTriggered)='onAction($event)'/>
