<rb-dialog-title [mode$]='dialogData.mode'
                 [name$]="ENTITY_NAME.client"
                 (closeClicked)='close()'/>
<mat-dialog-content>
  @if (dialogData.mode === DialogMode.VIEW || dialogData.mode === DialogMode.DELETE) {
    <rb-dialog-body-description [mode$]="dialogData.mode"
                                [label$]="'Client'"
                                [entityName$]="dialogData.entity.clientId"/>
  }

  @if (dialogData.mode === DialogMode.ADD || dialogData.mode === DialogMode.EDIT) {
    <form [formGroup]='form' novalidate>

      <label for="clientId" class="text-sm">{{ 'ADMIN.client.clientId.label' | translate }} *</label>
      <mat-form-field subscriptSizing="fixed"
                      appearance='outline'>
        <input matInput formControlName='clientId' required />
        @if (form.controls.clientId?.errors; as errors) {
          <mat-error>
            @if (errors?.['duplicate']) {
              {{ 'ADMIN.client.clientId.duplicate' | translate }}
            }
            @if (errors?.['pattern']) {
              {{ValidatorError.normalTextValidator}}
            }
            @if (errors?.['required']) {
              {{ValidatorError.requiredValidator | translate: {value: 'ADMIN.client.clientId.label' | translate} }}
            }
          </mat-error>
        }
      </mat-form-field>

      <mat-slide-toggle formControlName='enableEmptySecret' color="primary">
        {{ 'ADMIN.client.enableEmptySecret.label' | translate }}
      </mat-slide-toggle>
      <p class="rb-hint">{{ 'ADMIN.client.enableEmptySecret.hint' | translate }}</p>

      @if (!form.controls["enableEmptySecret"].value) {
        <label for="clientId" class="text-sm">{{ 'ADMIN.client.clientSecret.label' | translate }} *</label>
        <mat-form-field subscriptSizing="fixed"
                        appearance='outline'>
          <input matInput formControlName='clientSecret' [required]="!form.controls['enableEmptySecret'].value"/>
          <button type='button'
                  matSuffix
                  mat-button
                  class="text-sm mx-2"
                  (click)='generateRandomSecret(36)'>
            {{ 'ADMIN.client.clientSecret.generateKey' | translate }}
          </button>
          @if (form.controls.clientSecret?.errors; as errors) {
            <mat-error>
              @if (errors?.['required']) {
                {{ValidatorError.requiredValidator | translate: {value: 'ADMIN.client.clientSecret.label' | translate} }}
              }
            </mat-error>
          }
        </mat-form-field>
      }

      <label for="scope" class="text-sm">{{ 'ADMIN.client.scope.label' | translate }} *</label>
      <mat-form-field subscriptSizing="fixed" class="mb-16"
                      appearance='outline'>
        <textarea rows="3" matInput formControlName='scope' required></textarea>
        @if (form.controls.scope?.errors; as errors) {
          <mat-error>
            @if (errors?.['pattern']) {
              {{ValidatorError.normalTextValidator}}
            }
            @if (errors?.['required']) {
              {{ValidatorError.requiredValidator | translate: {value: 'ADMIN.client.scope.label' | translate} }}
            }
          </mat-error>
        }
        <mat-hint>{{ 'ADMIN.client.scope.hint' | translate }}</mat-hint>
      </mat-form-field>

      <label for="resourceIds" class="text-sm">{{ 'ADMIN.client.resourceIds.label' | translate }} *</label>
      <mat-form-field subscriptSizing="fixed"
                      appearance='outline'>
        <input matInput formControlName='resourceIds' required/>
        @if (form.controls.resourceIds?.errors; as errors) {
          <mat-error>
            @if (errors?.['pattern']) {
              {{ValidatorError.normalTextValidator}}
            }
            @if (errors?.['required']) {
              {{ValidatorError.requiredValidator | translate: {value: 'ADMIN.client.resourceIds.label' | translate} }}
            }
          </mat-error>
        }
        <mat-hint>{{ 'ADMIN.client.resourceIds.hint' | translate }}</mat-hint>
      </mat-form-field>

      <label for="_authorizedGrantTypes" class="text-sm">{{ 'ADMIN.client.authorizedGrantTypes.label' | translate }}</label>
      <fieldset formGroupName='_authorizedGrantTypes'>
        <div>
          <mat-checkbox formControlName='refresh_token' color="primary">
            {{ 'ADMIN.client.authorizedGrantTypes.refreshToken' | translate }}
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox formControlName='password' color="primary">
            {{ 'ADMIN.client.authorizedGrantTypes.password' | translate }}
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox formControlName='authorization_code' color="primary">
            {{ 'ADMIN.client.authorizedGrantTypes.authorization_code' | translate }}
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox formControlName='client_credentials' color="primary">
            {{ 'ADMIN.client.authorizedGrantTypes.client_credentials' | translate }}
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox formControlName='implicit' color="primary">
            {{ 'ADMIN.client.authorizedGrantTypes.implicit' | translate }}
          </mat-checkbox>
        </div>
      </fieldset>
<!--        <mat-error *ngIf="form.controls.formAuthorizedGrantTypes?.errors?.['required']">-->
<!--          {{ValidatorError.requiredValidator | translate: {value: 'ADMIN.client.formAuthorizedGrantTypes.label' | translate} }}-->
<!--        </mat-error>-->

      <div>
        <mat-slide-toggle formControlName='dynamic_registration' color="primary">
          {{ 'ADMIN.client.dynamic_registration.label' | translate }}
        </mat-slide-toggle>
      </div>

      <label for="registeredRedirectUri" class="text-sm">{{ 'ADMIN.client.registeredRedirectUri.label' | translate }}</label>
      <mat-form-field subscriptSizing="fixed"
                      appearance='outline'>
        <input matInput formControlName='registeredRedirectUri' />
        <mat-hint>{{ 'ADMIN.client.registeredRedirectUri.hint' | translate }}</mat-hint>
      </mat-form-field>

      <label for="autoApproveScopes" class="text-sm">{{ 'ADMIN.client.autoApproveScopes.label' | translate }}</label>
      <mat-form-field subscriptSizing="fixed"
                      appearance='outline'>
        <textarea rows="3" matInput formControlName='autoApproveScopes'></textarea>
        <mat-hint>{{ 'ADMIN.client.autoApproveScopes.hint' | translate }}</mat-hint>
      </mat-form-field>

      <label for="accessTokenValiditySeconds" class="text-sm">{{ 'ADMIN.client.accessTokenValiditySeconds.label' | translate }} *</label>
      <mat-form-field subscriptSizing="fixed"
                      appearance='outline'>
        <input matInput
               formControlName='accessTokenValiditySeconds'
               type='number' required/>
        @if (form.controls.accessTokenValiditySeconds?.errors; as errors) {
          <mat-error>
            @if (errors?.['required']) {
              {{ValidatorError.requiredValidator | translate: {value: 'ADMIN.client.accessTokenValiditySeconds.label' | translate} }}
            }
          </mat-error>
        }
        <span matSuffix class="mx-4 text-neutral-500!">
          {{form.controls.accessTokenValiditySeconds.value | dhms}}
        </span>
        <mat-hint>{{ 'ADMIN.client.accessTokenValiditySeconds.hint' | translate }}</mat-hint>
      </mat-form-field>

      <label for="refreshTokenValiditySeconds" class="text-sm">{{ 'ADMIN.client.refreshTokenValiditySeconds.label' | translate }} *</label>
      <mat-form-field subscriptSizing="fixed"
                      appearance='outline'>
        <input matInput
               formControlName='refreshTokenValiditySeconds'
               type='number' required />
        @if (form.controls.accessTokenValiditySeconds?.errors; as errors) {
          <mat-error>
            @if (errors?.['required']) {
              {{ValidatorError.requiredValidator | translate: {value: 'ADMIN.client.refreshTokenValiditySeconds.label' | translate} }}
            }
          </mat-error>
        }
        <span matSuffix  class="mx-4 text-neutral-500!">
          {{form.controls.refreshTokenValiditySeconds.value | dhms}}
        </span>
        <mat-hint>{{ 'ADMIN.client.refreshTokenValiditySeconds.hint' | translate }}</mat-hint>
      </mat-form-field>

    </form>
  }
</mat-dialog-content>


@if (error$()) {
  <div
    class="p-4 w-full text-center text-base rounded-sm break-words bg-red-100 text-red-600 dark:bg-red-800 dark:text-red-200">
    {{ error$()?.error.errorCode | translate }}
  </div>
}

<rb-dialog-actions [mode$]='dialogData.mode'
                   [form$]='form'
                   (actionTriggered)='onAction($event)'/>
