<rb-dialog-title [mode]='mode' [name]="name" (closeClicked)='close()' />

@let configFields = (config$ | async)?.['fields'] ?? {};

<mat-dialog-content>
  @if (mode === DialogMode.VIEW || mode === DialogMode.DELETE) {
    <rb-dialog-body-description>
      <rb-client-details [mode]='mode' [entity]='entity' [config]="configFields" />
    </rb-dialog-body-description>
  }

  @if (mode === DialogMode.DELETE) {
    <div>
      <p>{{ 'ADMIN.client.deleteMessage' | translate }}: <strong>{{entity.clientId}}</strong>.</p>
      <p>{{ 'ADMIN.client.deleteConfirmationMessage' | translate }}</p>
    </div>
  }

  @if (mode === DialogMode.ADD || mode === DialogMode.EDIT) {
    <form [formGroup]="form" novalidate autocomplete="off">
      @for (field of _fields; track field.name) {
        @if (!field.auto || data.mode !== DialogMode.ADD) {
          <!--          {{data.data["sourceTypes"] | json}}-->
            <!--          {{field.optionsName | json}}-->
            <!--          {{data[field.optionsName] | json}}-->
          @let options = field.options ?? (field.optionsName ? data.extra[field.optionsName] : []);
          <!--          {{options | json}}-->
          <rb-mat-dynamic-input  [entityName]="name"
                                 [field]="field"
                                 [formControlName]="field.name"
                                 [options]="options" />
          <!--                                 [options]="[]"-->
            <!--          [options]="data[field.optionsName] ?? []"-->

            <!--                                 [options]="field.optionsName ? data[field.optionsName] : []" />-->
        }
      }
    </form>
<!--    <form [formGroup]='form' novalidate>-->

<!--      @if(!floatLabel) {-->
<!--        <label for="clientId" class="text-sm">{{ 'ADMIN.client.clientId.label' | translate }}</label>-->
<!--      }-->
<!--      <mat-form-field subscriptSizing="fixed"-->
<!--                      appearance='outline'-->
<!--                      [floatLabel]='floatLabel ? "always" : "auto"'>-->
<!--        @if(floatLabel) {-->
<!--          <mat-label>{{ 'ADMIN.client.clientId.label' | translate }}</mat-label>-->
<!--        }-->
<!--        <input matInput formControlName='clientId' required />-->
<!--        <mat-error *ngIf="form.controls.clientId?.errors?.['duplicate']">-->
<!--          {{ 'ADMIN.client.clientId.duplicate' | translate }}-->
<!--        </mat-error>-->
<!--        <mat-error *ngIf="form.controls.clientId?.errors?.['pattern']">-->
<!--          {{ValidatorError.normalTextValidator}}-->
<!--        </mat-error>-->
<!--        <mat-error *ngIf="form.controls.clientId?.errors?.['required']">-->
<!--          {{ValidatorError.requiredValidator | translate: {value: 'ADMIN.client.clientId.label' | translate} }}-->
<!--        </mat-error>-->
<!--      </mat-form-field>-->

<!--      <mat-slide-toggle formControlName='enableEmptySecret' color="primary">-->
<!--        {{ 'ADMIN.client.enableEmptySecret.label' | translate }}-->
<!--      </mat-slide-toggle>-->
<!--      <p class="rb-hint">{{ 'ADMIN.client.enableEmptySecret.hint' | translate }}</p>-->

<!--      @if (!form.controls["enableEmptySecret"].value) {-->
<!--        @if(!floatLabel) {-->
<!--          <mat-label>{{ 'ADMIN.client.clientSecret.label' | translate }}</mat-label>-->
<!--        }-->
<!--        <mat-form-field *ngIf='!form.controls["enableEmptySecret"].value'-->
<!--                        subscriptSizing="fixed"-->
<!--                        appearance='outline'-->
<!--                        [floatLabel]='floatLabel ? "always" : "auto"'>-->
<!--          @if(floatLabel) {-->
<!--            <mat-label>{{ 'ADMIN.client.clientSecret.label' | translate }}</mat-label>-->
<!--          }-->
<!--          <input matInput formControlName='clientSecret' required />-->
<!--          <button type='button'-->
<!--                  mat-button-->
<!--                  matSuffix-->
<!--                  class="text-sm mx-2"-->
<!--                  (click)='generateRandomSecret(36)'>-->
<!--            {{ 'ADMIN.client.clientSecret.generateKey' | translate }}-->
<!--          </button>-->
<!--          <mat-error *ngIf="form.controls.clientSecret?.errors?.['required']">-->
<!--            {{ValidatorError.requiredValidator | translate: {value: 'ADMIN.client.clientSecret.label' | translate} }}-->
<!--          </mat-error>-->
<!--        </mat-form-field>-->
<!--      }-->

<!--      @if(!floatLabel) {-->
<!--        <label for="scope" class="text-sm">{{ 'ADMIN.client.scope.label' | translate }}</label>-->
<!--      }-->
<!--      <mat-form-field subscriptSizing="fixed" class="mb-6"-->
<!--                      appearance='outline'-->
<!--                      [floatLabel]='floatLabel ? "always" : "auto"'>-->
<!--        @if(floatLabel) {-->
<!--          <mat-label>{{ 'ADMIN.client.scope.label' | translate }}</mat-label>-->
<!--        }-->
<!--        <textarea rows="3" matInput formControlName='scope' required></textarea>-->
<!--        <mat-error *ngIf="form.controls.scope?.errors?.['pattern']">-->
<!--          {{ValidatorError.normalTextValidator}}-->
<!--        </mat-error>-->
<!--        <mat-error *ngIf="form.controls.scope?.errors?.['required']">-->
<!--          {{ValidatorError.requiredValidator | translate: {value: 'ADMIN.client.scope.label' | translate} }}-->
<!--        </mat-error>-->
<!--        <mat-hint>{{ 'ADMIN.client.scope.hint' | translate }}</mat-hint>-->
<!--      </mat-form-field>-->

<!--      @if(!floatLabel) {-->
<!--        <label for="resourceIds" class="text-sm">{{ 'ADMIN.client.resourceIds.label' | translate }}</label>-->
<!--      }-->
<!--      <mat-form-field subscriptSizing="fixed"-->
<!--                      appearance='outline'-->
<!--                      [floatLabel]='floatLabel ? "always" : "auto"'>-->
<!--        @if(floatLabel) {-->
<!--          <mat-label>{{ 'ADMIN.client.resourceIds.label' | translate }}</mat-label>-->
<!--        }-->
<!--        <input matInput formControlName='resourceIds' required/>-->
<!--        <mat-error *ngIf="form.controls.resourceIds?.errors?.['pattern']">-->
<!--          {{ValidatorError.normalTextValidator}}-->
<!--        </mat-error>-->
<!--        <mat-error *ngIf="form.controls.resourceIds?.errors?.['required']">-->
<!--          {{ValidatorError.requiredValidator | translate: {value: 'ADMIN.client.resourceIds.label' | translate} }}-->
<!--        </mat-error>-->
<!--        <mat-hint>{{ 'ADMIN.client.resourceIds.hint' | translate }}</mat-hint>-->
<!--      </mat-form-field>-->

<!--      @if(!floatLabel) {-->
<!--        <label for="formAuthorizedGrantTypes" class="text-sm">{{ 'ADMIN.client.authorizedGrantTypes.label' | translate }}</label>-->
<!--      }-->
<!--      <fieldset formGroupName='formAuthorizedGrantTypes'>-->
<!--        @if(floatLabel) {-->
<!--          <legend>{{ 'ADMIN.client.authorizedGrantTypes.label' | translate }}</legend>-->
<!--        }-->
<!--        <div>-->
<!--          <mat-checkbox formControlName='refresh_token' color="primary">-->
<!--            {{ 'ADMIN.client.authorizedGrantTypes.refreshToken' | translate }}-->
<!--          </mat-checkbox>-->
<!--        </div>-->
<!--        <div>-->
<!--          <mat-checkbox formControlName='password' color="primary">-->
<!--            {{ 'ADMIN.client.authorizedGrantTypes.password' | translate }}-->
<!--          </mat-checkbox>-->
<!--        </div>-->
<!--        <div>-->
<!--          <mat-checkbox formControlName='authorization_code' color="primary">-->
<!--            {{ 'ADMIN.client.authorizedGrantTypes.authorization_code' | translate }}-->
<!--          </mat-checkbox>-->
<!--        </div>-->
<!--        <div>-->
<!--          <mat-checkbox formControlName='client_credentials' color="primary">-->
<!--            {{ 'ADMIN.client.authorizedGrantTypes.client_credentials' | translate }}-->
<!--          </mat-checkbox>-->
<!--        </div>-->
<!--        <div>-->
<!--          <mat-checkbox formControlName='implicit' color="primary">-->
<!--            {{ 'ADMIN.client.authorizedGrantTypes.implicit' | translate }}-->
<!--          </mat-checkbox>-->
<!--        </div>-->
<!--      </fieldset>-->
<!--&lt;!&ndash;        <mat-error *ngIf="form.controls.formAuthorizedGrantTypes?.errors?.['required']">&ndash;&gt;-->
<!--&lt;!&ndash;          {{ValidatorError.requiredValidator | translate: {value: 'ADMIN.client.formAuthorizedGrantTypes.label' | translate} }}&ndash;&gt;-->
<!--&lt;!&ndash;        </mat-error>&ndash;&gt;-->

<!--      @if(!floatLabel) {-->
<!--        <label for="registeredRedirectUri" class="text-sm">{{ 'ADMIN.client.registeredRedirectUri.label' | translate }}</label>-->
<!--      }-->
<!--      <mat-form-field subscriptSizing="fixed"-->
<!--                      appearance='outline'-->
<!--                      [floatLabel]='floatLabel ? "always" : "auto"'>-->
<!--        @if(floatLabel) {-->
<!--          <mat-label>{{ 'ADMIN.client.registeredRedirectUri.label' | translate }}</mat-label>-->
<!--        }-->
<!--        <input matInput formControlName='registeredRedirectUri' />-->
<!--        <mat-hint>{{ 'ADMIN.client.registeredRedirectUri.hint' | translate }}</mat-hint>-->
<!--      </mat-form-field>-->

<!--      @if(!floatLabel) {-->
<!--        <label for="autoApproveScopes" class="text-sm">{{ 'ADMIN.client.autoApproveScopes.label' | translate }}</label>-->
<!--      }-->
<!--      <mat-form-field subscriptSizing="fixed"-->
<!--                      appearance='outline'-->
<!--                      [floatLabel]='floatLabel ? "always" : "auto"'>-->
<!--        @if(floatLabel) {-->
<!--          <mat-label>{{ 'ADMIN.client.autoApproveScopes.label' | translate }}</mat-label>-->
<!--        }-->
<!--        <input matInput formControlName='autoApproveScopes' />-->
<!--        <mat-hint>{{ 'ADMIN.client.autoApproveScopes.hint' | translate }}</mat-hint>-->
<!--      </mat-form-field>-->

<!--      @if(!floatLabel) {-->
<!--        <label for="accessTokenValiditySeconds" class="text-sm">{{ 'ADMIN.client.accessTokenValiditySeconds.label' | translate }}</label>-->
<!--      }-->
<!--      <mat-form-field subscriptSizing="fixed"-->
<!--                      appearance='outline'-->
<!--                      [floatLabel]='floatLabel ? "always" : "auto"'>-->
<!--        @if(floatLabel) {-->
<!--          <mat-label>{{ 'ADMIN.client.accessTokenValiditySeconds.label' | translate }}</mat-label>-->
<!--        }-->
<!--        <input matInput-->
<!--               formControlName='accessTokenValiditySeconds'-->
<!--               type='number' required/>-->
<!--        <mat-error *ngIf="form.controls.accessTokenValiditySeconds?.errors?.['required']">-->
<!--          {{ValidatorError.requiredValidator | translate: {value: 'ADMIN.client.accessTokenValiditySeconds.label' | translate} }}-->
<!--        </mat-error>-->
<!--        <span matSuffix class="mx-4 text-neutral-500!">-->
<!--          {{form.controls.accessTokenValiditySeconds.value | dhms}}-->
<!--        </span>-->
<!--        <mat-hint>{{ 'ADMIN.client.accessTokenValiditySeconds.hint' | translate }}</mat-hint>-->
<!--      </mat-form-field>-->

<!--      @if(!floatLabel) {-->
<!--        <label for="refreshTokenValiditySeconds" class="text-sm">{{ 'ADMIN.client.refreshTokenValiditySeconds.label' | translate }}</label>-->
<!--      }-->
<!--      <mat-form-field subscriptSizing="fixed"-->
<!--                      appearance='outline'-->
<!--                      [floatLabel]='floatLabel ? "always" : "auto"'>-->
<!--        @if(floatLabel) {-->
<!--          <mat-label>{{ 'ADMIN.client.refreshTokenValiditySeconds.label' | translate }}</mat-label>-->
<!--        }-->
<!--        <input matInput-->
<!--               formControlName='refreshTokenValiditySeconds'-->
<!--               type='number' required />-->
<!--        <mat-error *ngIf="form.controls.refreshTokenValiditySeconds?.errors?.['required']">-->
<!--          {{ValidatorError.requiredValidator | translate: {value: 'ADMIN.client.refreshTokenValiditySeconds.label' | translate} }}-->
<!--        </mat-error>-->
<!--        <span matSuffix class="mx-4 text-neutral-500!">-->
<!--          {{form.controls.refreshTokenValiditySeconds.value | dhms}}-->
<!--        </span>-->
<!--        <mat-hint>{{ 'ADMIN.client.refreshTokenValiditySeconds.hint' | translate }}</mat-hint>-->
<!--      </mat-form-field>-->

<!--      @if(!floatLabel) {-->
<!--        <label for="additionalInformation" class="text-sm">{{ 'ADMIN.client.additionalInformation.label' | translate }}</label>-->
<!--      }-->
<!--      <fieldset formGroupName='additionalInformation'>-->
<!--        @if(floatLabel) {-->
<!--          <legend>{{ 'ADMIN.client.additionalInformation.label' | translate }}</legend>-->
<!--        }-->
<!--        <div>-->
<!--          <mat-checkbox formControlName='dynamic_registration' color="primary">-->
<!--            {{ 'ADMIN.client.dynamic_registration.label' | translate }}-->
<!--          </mat-checkbox>-->
<!--        </div>-->
<!--      </fieldset>-->
<!--    </form>-->
  }
</mat-dialog-content>


{{error() | json}}
@if (error()) {
  {{error()}}
  <rb-message />
}

<rb-dialog-actions [mode]='mode'
                   [form]='form'
                   (actionTriggered)='onAction($event)' />

<!--<rb-message *ngIf='error' />-->
<!--<rb-dialog-actions class="border-t-2" [mode]='mode'-->
<!--                   [form]='form'-->
<!--                   (actionTriggered)='onAction($event)' />-->
