@let _i18nQuestion = 'ADMIN.questionnaire.dialog.question';

<div class="grid grid-cols-[minmax(0,1fr)_minmax(0,320px)] gap-2 h-full">

  <form class="h-full overflow-y-auto pr-4">
    <div class="grid grid-cols-2 gap-2 items-center">
      <app-select-form-field [field]="form.field_type"
                             [options]="QUESTION_TYPE_OPTIONS"
                             [label]="`${_i18nQuestion}.fieldType`"
                             [required]="true"/>

      <div class="flex items-center justify-between">
        <mat-slide-toggle [formField]="form.isActive" class="my-4" color="primary">
          {{ `${_i18nQuestion}.isActive` | translate }}
        </mat-slide-toggle>
        <div class="flex items-center gap-1">
          @if (form().valid()) {
            <mat-icon class=" text-green-700! cursor-pointer"
                      [matTooltip]="`${_i18nQuestion}.questionIsValid` | translate">
              check_circle
            </mat-icon>
          } @else {
            <mat-icon class=" text-xl! text-red-700! cursor-pointer"
                      [matTooltip]="`${_i18nQuestion}.questionIsInvalid` | translate">
              warning
            </mat-icon>
          }

          <span>#{{ _index + 1 }}</span>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-2 items-center">
      <app-input-form-field [field]="form.field_name" [label]="`${_i18nQuestion}.fieldName`" [required]="true"/>
    </div>


    <div>
      <label for="variable_type" class="text-sm"
             [class]="form.variable.type().invalid() ? 'text-red-700' : ''">
        {{ `${_i18nQuestion}.variableType` | translate }} *
      </label>
      <mat-form-field class='small-input' appearance="outline" subscriptSizing="fixed">
        <mat-select [formField]='form.variable.type'>
          @for (item of VARIABLE_TYPES; track item.value) {
            <mat-option [value]="item.value">{{ item.label }}</mat-option>
          }
        </mat-select>
        <mat-error>
          @if (form.variable.type().invalid()) {
            @for (error of form.variable.type().errors(); track error.kind) {
              {{ error.message }}
            }
          }
        </mat-error>
      </mat-form-field>
    </div>

    @if (form.variable.type().value() === 'reserved_variables') {
      <div>
        <label for="variable_reserver_var" class="text-sm"
               [class]="form.variable.reserved_var().invalid() ? 'text-red-700' : ''">
          {{ `${_i18nQuestion}.variableReservedVar` | translate }} *
        </label>
        <mat-form-field class='small-input' appearance="outline" subscriptSizing="fixed">
          <mat-select [formField]='form.variable.reserved_var'>
            @for (item of RESERVED_VARIABLES; track item.value) {
              <mat-option [value]="item.value">{{ item.label }}</mat-option>
            }
          </mat-select>
          <mat-error>
            @if (form.variable.reserved_var().invalid()) {
              @for (error of form.variable.reserved_var().errors(); track error.kind) {
                {{ error.message }}
              }
            }
          </mat-error>
        </mat-form-field>
      </div>
    }

    @if (form.variable.type().value() === 'questionnaire') {
      <div>
        <label for="variable_questionnaireId" class="text-sm"
               [class]="form.variable.questionnaireId().invalid() ? 'text-red-700' : ''">
          {{ `${_i18nQuestion}.variableQuestionnaireId` | translate }} *
        </label>
        <mat-form-field class='small-input' appearance="outline" subscriptSizing="fixed">
          <mat-select [formField]='form.variable.questionnaireId'>
            @for (item of store.allItems(); track item.id) {
              <mat-option [value]="item.name">{{ item.name }}</mat-option>
            }
          </mat-select>
          <mat-error>
            @if (form.variable.questionnaireId().invalid()) {
              @for (error of form.variable.questionnaireId().errors(); track error.kind) {
                {{ error.message }}
              }
            }
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <label for="variable_questionnaire_question" class="text-sm"
               [class]="form.variable.questionnaire_question().invalid() ? 'text-red-700' : ''">
          {{ `${_i18nQuestion}.variableQuestionnaireQuestion` | translate }} *
        </label>
        <mat-form-field class='small-input' appearance="outline" subscriptSizing="fixed">
          <mat-select [formField]='form.variable.questionnaire_question'>
            @for (item of questionnaireQuestions(); track item.field_name) {
              <mat-option [value]="item.field_name">{{ item.field_name }}</mat-option>
            }
          </mat-select>
          <mat-error>
            @if (form.variable.questionnaire_question().invalid()) {
              @for (error of form.variable.questionnaire_question().errors(); track error.kind) {
                {{ error.message }}
              }
            }
          </mat-error>
        </mat-form-field>
      </div>
    }

    @if (form.variable.type().value() === 'topic') {
      <div>
        <label for="variable_topic" class="text-sm"
               [class]="form.variable.topic().invalid() ? 'text-red-700' : ''">
          {{ `${_i18nQuestion}.variableTopic` | translate }} *
        </label>
        <mat-form-field class='small-input' appearance="outline" subscriptSizing="fixed">
          <mat-select [formField]='form.variable.topic'>
            @for (item of TOPICS | keyvalue; track item.key) {
              <mat-option [value]="item.key">{{ item.key }}</mat-option>
            }
          </mat-select>
          <mat-error>
            @if (form.variable.topic().invalid()) {
              @for (error of form.variable.topic().errors(); track error.kind) {
                {{ error.message }}
              }
            }
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <label for="variable_topic_var" class="text-sm"
               [class]="form.variable.topic_var().invalid() ? 'text-red-700' : ''">
          {{ `${_i18nQuestion}.variableTopicVar` | translate }} *
        </label>
        <mat-form-field class='small-input' appearance="outline" subscriptSizing="fixed">
          <mat-select [formField]='form.variable.topic_var'>
            @for (item of TOPICS[form.variable.topic().value()]; track item.name) {
              <mat-option [value]="item.name">{{ item.name }}</mat-option>
            }
          </mat-select>
          <mat-error>
            @if (form.variable.topic_var().invalid()) {
              @for (error of form.variable.topic_var().errors(); track error.kind) {
                {{ error.message }}
              }
            }
          </mat-error>
        </mat-form-field>
      </div>
    }

    @if (form.variable.type().value() === 'topic' || form.variable.type().value() === 'questionnaire') {
      <div>
        <label for="variable_method" class="text-sm"
               [class]="form.variable.method().invalid() ? 'text-red-700' : ''">
          {{ `${_i18nQuestion}.variableMethod` | translate }} *
        </label>
        <mat-form-field class='small-input' appearance="outline" subscriptSizing="fixed">
          <mat-select [formField]='form.variable.method'>
            @for (item of METHODS; track item) {
              <mat-option [value]="item.value">{{ item.label }}</mat-option>
            }
          </mat-select>
          <mat-error>
            @if (form.variable.method().invalid()) {
              @for (error of form.variable.method().errors(); track error.kind) {
                {{ error.message }}
              }
            }
          </mat-error>
        </mat-form-field>
      </div>
    }
  </form>
</div>
