@let _prefix = 'ADMIN.questionnaire.dialog';

@switch (type) {
  @case ('button') {
    <div class="flex gap-2">
    <span class="text-neutral-500" [class]="!entity().range ? 'text-red-500' : ''">{{ `${_prefix}.questionRangeLabel` | translate }}</span>
      <span [class]="entity().range?.min === null ? 'text-red-500' : ''">Min: {{entity().range?.min ?? 'N/A'}}, </span>
      <span [class]="entity().range?.max === null ? 'text-red-500' : ''">Max: {{entity().range?.max ?? 'N/A'}}, </span>
      <span [class]="entity().range?.step === null ? 'text-red-500' : ''">Step: {{entity().range?.step ?? 'N/A'}}</span>
    </div>
  }
  @case ('form') {
    <label for="unit" class="text-sm">{{ `${_prefix}.questionRangeLabel` | translate }}</label>
    <fieldset [formGroup]="range" class="p-2 rounded-sm border">
      <div class="grid grid-cols-3 gap-4">
        <div>
          <label for="select_choices_or_calculations" class="text-sm" [class]="range.controls['min'].errors ? 'text-red-500' : ''">
            {{ `${_prefix}.questionRangeMin` | translate }} *
          </label>
          <mat-form-field class='small-input' appearance='outline' subscriptSizing="dynamic">
            <input matInput formControlName='min' required type="number">
            <mat-error>
              @if (range.controls['min'].errors; as errors) {
                @if (errors?.['pattern']) {
                  {{ ValidatorError.normalTextValidator | translate }}
                }
                @if (errors?.['required']) {
                  {{ ValidatorError.requiredValidator | translate:{value: `${_prefix}.questionRangeMin` | translate} }}
                }
              }
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <label for="select_choices_or_calculations" class="text-sm" [class]="range.controls['max'].errors ? 'text-red-500' : ''">
            {{ `${_prefix}.questionRangeMax` | translate }} *
          </label>
          <mat-form-field class='small-input w-1/3' appearance='outline' subscriptSizing="dynamic">
            <input matInput formControlName='max' required type="number">
            <mat-error>
              @if (range.controls['max'].errors; as errors) {
                @if (errors?.['pattern']) {
                  {{ ValidatorError.normalTextValidator | translate }}
                }
                @if (errors?.['required']) {
                  {{ ValidatorError.requiredValidator | translate:{value: `${_prefix}.questionRangeMax` | translate} }}
                }
              }
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <label for="select_choices_or_calculations" class="text-sm" [class]="range.controls['step'].errors ? 'text-red-500' : ''">
            {{ `${_prefix}.questionRangeStep` | translate }} *
          </label>
          <mat-form-field class='w-1/3' appearance='outline' subscriptSizing="dynamic">
            <input matInput formControlName='step' required type="number">
            <mat-error>
              @if (range.controls['step'].errors; as errors) {
                @if (errors?.['pattern']) {
                  {{ ValidatorError.normalTextValidator | translate }}
                }
                @if (errors?.['required']) {
                  {{ ValidatorError.requiredValidator | translate:{value: `${_prefix}.questionRangeStep` | translate} }}
                }
              }
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      @if (range.errors?.['minLessThanMax']) {
        <mat-error class="text-sm">Min should be less than max.</mat-error>
      }

      @if (range.errors?.['stepGreaterThanZero']) {
        <mat-error class="text-sm">Step should be greater than 0.</mat-error>
      }

      <div class="grid grid-cols-2 gap-4 mt-4">
        <app-text-form-group class='small-input grow'
                             [textGroup]="asFormGroup(range.controls['labelLeft'])"
                             label="Min Label"/>

        <app-text-form-group class='small-input grow'
                             [textGroup]="asFormGroup(range.controls['labelRight'])"
                             label="Max Label"/>
      </div>
    </fieldset>

  }
  @case ('preview') {
    <app-question-header [question]="entity()" [language]="language()" />

    @if (entity().range; as range) {
      <p class="text-center bg-primary/20 p-4">{{ slider.value }}</p>
      <mat-slider class="mt-8! w-[calc(100%-16px)]!"
                  [disabled]="isPreviewDisabled"
                  [max]="range.max"
                  [min]="range.min"
                  [step]="range.step ?? 1"
                  [discrete]="true"
                  [showTickMarks]="true"
                  color="primary">
        <input matSliderThumb class="" [value]="+(answer()?.value ?? range.min)" #slider (valueChange)="onPreviewInputChange($event)">
      </mat-slider>

      <div class="flex justify-between text-sm">
        <div class="w-1/2" [innerHtml]="range.labelLeft?.[language()!.code] | replacePlaceholders"></div>
        <div class="w-1/2 text-right" [innerHtml]="range.labelRight?.[language()!.code] | replacePlaceholders"></div>
      </div>
    }

    @if (!isPreviewDisabled) {
      <button color="warn" matButton class="my-4 text-sm!" (click)="onPreviewInputChange(null)">
        Clear
      </button>
    }

  }
  @case ('logic') {
    <div class="">
      <mat-form-field class='small-input' appearance='outline'>
        <input matInput (input)="onLogicInputChange($event)" [value]="value" required type="number">
      </mat-form-field>
    </div>
  }
}



