@if (datasourceMetrics) {
  <div class="p-4 metrics">
    <table class="w-full text-xs">
      <thead class="border-b border-gray-500">
      <tr>
        <th class="text-start" i18n>
          <span>{{ 'ADMIN.metrics.databases.connectionPoolUsage' | translate }}</span>
          ({{ 'ADMIN.metrics.databases.active' | translate }}: {{ datasourceMetrics.active.value }},
          min: {{ datasourceMetrics.min.value }}, max: {{ datasourceMetrics.max.value }}
          , {{ 'ADMIN.metrics.databases.idle' | translate }}: {{ datasourceMetrics.idle.value }})
        </th>
        <th class="text-start">{{ 'Count' }}</th>
        <th class="text-start">{{ 'Mean' }}</th>
        <th class="text-start">{{ 'Min' }}</th>
        <th class="text-start">{{ 'p50' }}</th>
        <th class="text-start">{{ 'p75' }}</th>
        <th class="text-start">{{ 'p95' }}</th>
        <th class="text-start">{{ 'p99' }}</th>
        <th class="text-start">{{ 'Max' }}</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ 'ADMIN.metrics.databases.acquire' | translate }}</td>
        <td>{{ datasourceMetrics.acquire.count }}</td>
        <td>{{ datasourceMetrics.acquire.mean | number: '1.0-2' }}</td>
        <td>{{ datasourceMetrics.acquire['0.0'] | number: '1.0-3' }}</td>
        <td>{{ datasourceMetrics.acquire['0.5'] | number: '1.0-3' }}</td>
        <td>{{ datasourceMetrics.acquire['0.75'] | number: '1.0-3' }}</td>
        <td>{{ datasourceMetrics.acquire['0.95'] | number: '1.0-3' }}</td>
        <td>{{ datasourceMetrics.acquire['0.99'] | number: '1.0-3' }}</td>
        <td>{{ datasourceMetrics.acquire.max | number: '1.0-2' }}</td>
      </tr>
      <tr>
        <td>{{ 'ADMIN.metrics.databases.creation' | translate }}</td>
        <td>{{ datasourceMetrics.creation.count }}</td>
        <td>{{ datasourceMetrics.creation.mean | number: '1.0-2' }}</td>
        <td>{{ datasourceMetrics.creation['0.0'] | number: '1.0-3' }}</td>
        <td>{{ datasourceMetrics.creation['0.5'] | number: '1.0-3' }}</td>
        <td>{{ datasourceMetrics.creation['0.75'] | number: '1.0-3' }}</td>
        <td>{{ datasourceMetrics.creation['0.95'] | number: '1.0-3' }}</td>
        <td>{{ datasourceMetrics.creation['0.99'] | number: '1.0-3' }}</td>
        <td>{{ datasourceMetrics.creation.max | number: '1.0-2' }}</td>
      </tr>
      <tr>
        <td>{{ 'ADMIN.metrics.databases.usage' | translate }}</td>
        <td>{{ datasourceMetrics.usage.count }}</td>
        <td>{{ datasourceMetrics.usage.mean | number: '1.0-2' }}</td>
        <td>{{ datasourceMetrics.usage['0.0'] | number: '1.0-3' }}</td>
        <td>{{ datasourceMetrics.usage['0.5'] | number: '1.0-3' }}</td>
        <td>{{ datasourceMetrics.usage['0.75'] | number: '1.0-3' }}</td>
        <td>{{ datasourceMetrics.usage['0.95'] | number: '1.0-3' }}</td>
        <td>{{ datasourceMetrics.usage['0.99'] | number: '1.0-3' }}</td>
        <td>{{ datasourceMetrics.usage.max | number: '1.0-2' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
}
