<div class="flex justify-center items-center h-[calc(100vh-64px)]">
  <mat-card appearance="outlined" class="w-[400px]">
    <mat-card-header class='block! text-center'>
      <mat-card-title class="text-lg">
        {{ 'CORE.AUTH.PASSWORD_PAGE.title' | translate }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ 'CORE.AUTH.PASSWORD_PAGE.subtitle' | translate }}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      @if (error) {
        <rb-message/>
      }

      <form [formGroup]='form' novalidate>
        <mat-form-field class='w-full my-4 small'
                        subscriptSizing="fixed"
                        appearance='outline'
                        floatLabel='always'>
          <mat-label>
            {{ 'CORE.AUTH.PASSWORD_PAGE.newPassword' | translate }}
          </mat-label>
          <input matInput
                 formControlName='password'
                 required
                 [type]="hidePassword ? 'password' : 'text'"/>
          <mat-icon matSuffix
                    (click)="hidePassword = !hidePassword">
            {{ hidePassword ? 'visibility_off' : 'visibility' }}
          </mat-icon>
          @if (form.controls.password?.errors?.['passwordStrengthValidator'] && !form.controls.password.hasError('required')) {
            <mat-error>
              {{ 'CORE.AUTH.PASSWORD_PAGE.weakPasswordError' | translate }}
            </mat-error>
          }
          @if (form.controls.password.hasError('required')) {
            <mat-error>
              {{
                ValidatorError.requiredValidator | translate:
                  {value: 'CORE.AUTH.PASSWORD_PAGE.newPassword' | translate}
              }}
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field class='w-full mb-4'
                        subscriptSizing="fixed"
                        appearance='outline'
                        floatLabel='always'>
          <mat-label>
            {{ 'CORE.AUTH.PASSWORD_PAGE.confirmPassword' | translate }}
          </mat-label>
          <input matInput
                 formControlName='confirmPassword'
                 required
                 [type]="hideConfirmPassword ? 'password' : 'text'"/>
          <mat-icon matSuffix
                    (click)="hideConfirmPassword = !hideConfirmPassword">
            {{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}
          </mat-icon>
          @if (form.get('confirmPassword')?.errors?.['confirmPasswordValidator']) {
            <mat-error>
              {{ 'CORE.AUTH.PASSWORD_PAGE.confirmPasswordError' | translate }}
            </mat-error>
          }
          @if (form.controls.confirmPassword.hasError('required')) {
            <mat-error>
              {{
                ValidatorError.requiredValidator | translate:
                  {value: 'CORE.AUTH.PASSWORD_PAGE.confirmPassword' | translate}
              }}
            </mat-error>
          }
        </mat-form-field>
      </form>
      <div>
        <button mat-raised-button
                class="w-full"
                [class]="success ? 'bg-green-200! text-green-700!': ''"
                color='primary'
                type='submit'
                name='update'
                [disabled]='!form.valid || !form.dirty || isLoading || success'
                (click)='update()'>
          @if (isLoading) {
            <mat-icon>
              <mat-spinner diameter='20'/>
            </mat-icon>
          }
          @if (success) {
            <mat-icon>check</mat-icon>
          }
          {{ success ? ('CORE.AUTH.PASSWORD_PAGE.successButton' | translate) : ('CORE.AUTH.PASSWORD_PAGE.updateButton' | translate) }}
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>>
