<div class="flex justify-center items-center h-[calc(100vh-64px)]">
  <mat-card appearance="outlined" class="w-2/3 max-w-[800px]">
    <mat-card-header class='block! text-center'>
      <mat-card-title class="text-lg">
        {{ 'CORE.AUTH.PASSWORD_PAGE.title' | translate }}
      </mat-card-title>
<!--      <mat-card-subtitle>-->
<!--        {{ 'CORE.AUTH.PASSWORD_PAGE.subtitle' | translate }}-->
<!--      </mat-card-subtitle>-->
    </mat-card-header>

    <mat-card-content>
      @if (error()) {
        <app-error-message-box>
          {{error()}}
        </app-error-message-box>
      }

      <form [formGroup]='form' novalidate>
        <label for="password" class="text-sm">
          {{ 'CORE.AUTH.PASSWORD_PAGE.newPassword' | translate }} *
        </label>
        <mat-form-field class='w-full small'
                        subscriptSizing="fixed"
                        appearance='outline'>
          <input matInput
                 formControlName='password'
                 required
                 [type]="hidePassword ? 'password' : 'text'"/>
          <mat-icon matSuffix
                    (click)="hidePassword = !hidePassword">
            {{ hidePassword ? 'visibility_off' : 'visibility' }}
          </mat-icon>
          @if (form.controls.password.errors?.['passwordStrengthValidator'] && !form.controls.password.hasError('required')) {
            <mat-error>
              {{ 'CORE.AUTH.PASSWORD_PAGE.weakPasswordError' | translate }}
            </mat-error>
          }
          @if (form.controls.password.hasError('required')) {
            <mat-error>
              {{
                ValidatorError.requiredValidator | translate:
                    {value: 'CORE.AUTH.PASSWORD_PAGE.newPassword' | translate}
              }}
            </mat-error>
          }
        </mat-form-field>

        <label for="confirmPassword" class="text-sm">
          {{ 'CORE.AUTH.PASSWORD_PAGE.confirmPassword' | translate }}
        </label>
        <mat-form-field class='w-full'
                        subscriptSizing="fixed"
                        appearance='outline'>
          <input matInput
                 formControlName='confirmPassword'
                 required
                 [type]="hideConfirmPassword ? 'password' : 'text'"/>
          <mat-icon matSuffix
                    (click)="hideConfirmPassword = !hideConfirmPassword">
            {{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}
          </mat-icon>
          @if (form.get('confirmPassword')?.errors?.['confirmPasswordValidator']) {
            <mat-error>
              {{ 'CORE.AUTH.PASSWORD_PAGE.confirmPasswordError' | translate }}
            </mat-error>
          }
          @if (form.controls.confirmPassword.hasError('required')) {
            <mat-error>
              {{
                ValidatorError.requiredValidator | translate:
                    {value: 'CORE.AUTH.PASSWORD_PAGE.confirmPassword' | translate}
              }}
            </mat-error>
          }
        </mat-form-field>
      </form>
      <button mat-raised-button
              class="w-full mt-4"
              [class]="success() ? 'bg-green-200! text-green-700!': ''"
              color='primary'
              type='submit'
              name='update'
              [disabled]='!form.valid || !form.dirty || loading() || success()'
              (click)='update()'>
        @if (loading()) {
          <mat-icon>
            <mat-spinner diameter='20'/>
          </mat-icon>
        }
        @if (success()) {
          <mat-icon>check</mat-icon>
        }
        {{ success() ? ('CORE.AUTH.PASSWORD_PAGE.successButton' | translate) : ('CORE.AUTH.PASSWORD_PAGE.updateButton' | translate) }}
      </button>
    </mat-card-content>
  </mat-card>
</div>>
