<div class="flex justify-center items-center h-[calc(100vh-64px)]">
  <mat-card appearance="outlined" class="w-[400px]">
    <mat-card-header class='block! text-center'>
      <mat-card-title class="text-lg">
        {{ 'CORE.AUTH.PASSWORD_PAGE.title' | translate }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ 'CORE.AUTH.PASSWORD_PAGE.subtitle' | translate }}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      @if (error) {
        <rb-message />
      }

<!--      @if (form) {-->
<!--      <div>-->
        <form [formGroup]='form' novalidate>
          <mat-form-field class='w-full my-4 small'
                          subscriptSizing="fixed"
                          appearance='outline'
                          floatLabel='always'>
            <mat-label>
              {{ 'CORE.AUTH.PASSWORD_PAGE.newPassword' | translate }}
            </mat-label>
            <input matInput
                   formControlName='password'
                   required
                   [type]="hidePassword ? 'password' : 'text'"/>
            <mat-icon matSuffix
                      (click)="hidePassword = !hidePassword">
              {{hidePassword ? 'visibility_off' : 'visibility'}}
            </mat-icon>
            @if (form.controls.password?.errors?.['passwordStrengthValidator'] && !form.controls.password.hasError('required')) {
              <mat-error>
                {{ 'CORE.AUTH.PASSWORD_PAGE.weakPasswordError' | translate }}
              </mat-error>
            }
            @if (form.controls.password.hasError('required')) {
            <mat-error>
              {{ValidatorError.requiredValidator | translate:
              {value: 'CORE.AUTH.PASSWORD_PAGE.newPassword' | translate} }}
            </mat-error>
            }
          </mat-form-field>

          <mat-form-field class='w-full mb-4'
                          subscriptSizing="fixed"
                          appearance='outline'
                          floatLabel='always'>
            <mat-label>
              {{ 'CORE.AUTH.PASSWORD_PAGE.confirmPassword' | translate }}
            </mat-label>
            <input matInput
                   formControlName='confirmPassword'
                   required
                   [type]="hideConfirmPassword ? 'password' : 'text'"/>
            <mat-icon matSuffix
                      (click)="hideConfirmPassword = !hideConfirmPassword">
              {{hideConfirmPassword ? 'visibility_off' : 'visibility'}}
            </mat-icon>
            @if (form.get('confirmPassword')?.errors?.['confirmPasswordValidator']) {
            <mat-error>
              {{ 'CORE.AUTH.PASSWORD_PAGE.confirmPasswordError' | translate }}
            </mat-error>
            }
            @if (form.controls.confirmPassword.hasError('required')) {
            <mat-error>
              {{ValidatorError.requiredValidator | translate:
              {value: 'CORE.AUTH.PASSWORD_PAGE.confirmPassword' | translate} }}
            </mat-error>
            }
          </mat-form-field>
        </form>
        <div>
          <button mat-raised-button
                  class="w-full"
                  [class]="success ? 'bg-green-200! text-green-700!': ''"
                  color='primary'
                  type='submit'
                  name='update'
                  [disabled]='!form.valid || !form.dirty || isLoading || success'
                  (click)='update()'>
            @if (isLoading) {
              <mat-icon>
                <mat-spinner diameter='20' />
              </mat-icon>
            }
            @if (success) {
              <mat-icon>check</mat-icon>
            }
            {{ success ? ('CORE.AUTH.PASSWORD_PAGE.successButton' | translate )  : ( 'CORE.AUTH.PASSWORD_PAGE.updateButton' | translate ) }}
          </button>
        </div>
<!--      </div>-->
<!--      }-->
    </mat-card-content>
  </mat-card>
</div>>

<!--<div class="flex justify-center items-center h-[calc(100vh-64px)]">-->
<!--  <div class="m-4 flex w-full rounded-lg bg-white dark:bg-neutral-800 shadow-lg md:w-1/2">-->
<!--    <div class="text-neutral-900 dark:text-neutral-100 shrink-0 grow-0 w-full p-4">-->
<!--      <h1 class="text-center mb-12 text-xl font-semibold">-->
<!--        {{ 'CORE.AUTH.PASSWORD_PAGE.title' | translate }}-->
<!--      </h1>-->
<!--      <p class="mb-4">{{ 'CORE.AUTH.PASSWORD_PAGE.subtitle' | translate }}</p>-->
<!--      <form [formGroup]="form" novalidate>-->
<!--        <div class="relative mb-4">-->
<!--          <label for="password" class="rb-form-field-label"-->
<!--                 [class.rb-form-field-label-error]="controls.password?.dirty && controls.password?.errors">-->
<!--            {{ 'CORE.AUTH.RESET_PASSWORD_PAGE.newPassword' | translate }} *-->
<!--          </label>-->
<!--          <div class="flex items-center border text-sm rounded-lg focus:ring-blue-500 dark:bg-gray-700 focus:border-blue-500 w-full pr-2.5"-->
<!--               [ngClass]="controls.password?.dirty && controls.password?.errors ? 'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500' : ''">-->
<!--            <input formControlName="password" [type]="hidePassword ? 'password' : 'text'"-->
<!--                   id="password"-->
<!--                   class="rb-form-field-input"-->
<!--                   placeholder="Enter Password">-->
<!--            <button class="bg-transparent material-symbols-outlined" (click)="hidePassword = !hidePassword">-->
<!--              {{hidePassword ? 'visibility_off' : 'visibility'}}-->
<!--            </button>-->
<!--          </div>-->
<!--          <p *ngIf="controls.password?.dirty && controls.password?.errors?.['required']"-->
<!--             class="rb-form-field-error">-->
<!--            {{ValidatorError.requiredValidator | translate: {value: 'CORE.AUTH.RESET_PASSWORD_PAGE.password' | translate} }}-->
<!--          </p>-->
<!--          <p *ngIf="controls.password?.dirty && controls.password?.errors?.['passwordStrengthValidator']"-->
<!--             class="rb-form-field-error">-->
<!--            {{ 'CORE.AUTH.RESET_PASSWORD_PAGE.weakPasswordError' | translate }}-->
<!--          </p>-->
<!--        </div>-->

<!--        <div class="relative mb-4">-->
<!--          <label for="confirm-password" class="rb-form-field-label"-->
<!--                 [class.rb-form-field-label-error]="controls.confirmPassword?.dirty && controls.confirmPassword?.errors">-->
<!--            {{ 'CORE.AUTH.RESET_PASSWORD_PAGE.confirmPassword' | translate }} *-->
<!--          </label>-->
<!--          <div class="flex items-center border text-sm rounded-lg focus:ring-blue-500 dark:bg-gray-700 focus:border-blue-500 w-full pr-2.5"-->
<!--               [ngClass]="controls.confirmPassword?.dirty && controls.confirmPassword?.errors ? 'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500' : ''">-->
<!--            <input formControlName="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'" id="confirm-password"-->
<!--                   class="rb-form-field-input"-->
<!--                   placeholder="Enter Password">-->
<!--            <button class="bg-transparent material-symbols-outlined" (click)="hideConfirmPassword = !hideConfirmPassword">-->
<!--              {{hideConfirmPassword ? 'visibility_off' : 'visibility'}}-->
<!--            </button>-->
<!--          </div>-->
<!--          <p *ngIf="controls.confirmPassword?.dirty && controls.confirmPassword?.errors?.['required']"-->
<!--             class="rb-form-field-error">-->
<!--            {{ValidatorError.requiredValidator | translate:-->
<!--            {value: 'CORE.AUTH.RESET_PASSWORD_PAGE.confirmPassword' | translate} }}-->
<!--          </p>-->
<!--          <p *ngIf="controls.confirmPassword?.dirty && controls.confirmPassword?.errors?.['confirmPasswordValidator']"-->
<!--             class="rb-form-field-error">-->
<!--            {{ 'CORE.AUTH.RESET_PASSWORD_PAGE.confirmPasswordError' | translate }}-->
<!--          </p>-->
<!--        </div>-->

<!--        <rb-message *ngIf="error"></rb-message>-->

<!--        <div class="mb-4 text-center">-->
<!--          <rb-button [colors]="['primary-color-500', 'accent-color-500']"-->
<!--                     [disabled]="!form.valid || isLoading"-->
<!--                     [isLoading]="isLoading"-->
<!--                     (click)="update()">-->
<!--            {{ success ? ('CORE.AUTH.PASSWORD_PAGE.successButton' | translate )  : ( 'CORE.AUTH.PASSWORD_PAGE.updateButton' | translate ) }}-->
<!--          </rb-button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<rb-small-card-container>-->
<!--  <mat-card appearance="outlined" class="w-[400px]">-->
<!--    <mat-card-header class='block! text-center'>-->
<!--      <mat-card-title class="text-lg">-->
<!--        {{ 'CORE.AUTH.PASSWORD_PAGE.title' | translate }}-->
<!--      </mat-card-title>-->
<!--      <mat-card-subtitle>-->
<!--        {{ 'CORE.AUTH.PASSWORD_PAGE.subtitle' | translate }}-->
<!--      </mat-card-subtitle>-->
<!--    </mat-card-header>-->

<!--    <mat-card-content>-->
<!--      <rb-message *ngIf='error'></rb-message>-->

<!--      <div *ngIf='form'>-->
<!--        <form [formGroup]='form' novalidate>-->
<!--          <mat-form-field class='w-full my-4'-->
<!--                          subscriptSizing="dynamic"-->
<!--                          appearance='outline'-->
<!--                          floatLabel='always'>-->
<!--            <mat-label>-->
<!--              {{ 'CORE.AUTH.PASSWORD_PAGE.newPassword' | translate }}-->
<!--            </mat-label>-->
<!--            <input matInput-->
<!--                   formControlName='password'-->
<!--                   required-->
<!--                   [type]="hidePassword ? 'password' : 'text'"/>-->
<!--            <mat-icon matSuffix-->
<!--                      (click)="hidePassword = !hidePassword">-->
<!--              {{hidePassword ? 'visibility_off' : 'visibility'}}-->
<!--            </mat-icon>-->
<!--            <mat-error *ngIf="form.get('password')?.errors?.['passwordStrengthValidator'] && !form.get('password')?.hasError('required')">-->
<!--              {{ 'CORE.AUTH.PASSWORD_PAGE.weakPasswordError' | translate }}-->
<!--            </mat-error>-->
<!--            <mat-error *ngIf="form.get('password')?.hasError('required')">-->
<!--              {{ValidatorError.requiredValidator | translate:-->
<!--              {value: 'CORE.AUTH.PASSWORD_PAGE.newPassword' | translate} }}-->
<!--            </mat-error>-->
<!--          </mat-form-field>-->

<!--          <mat-form-field class='w-full mb-4'-->
<!--                          subscriptSizing="dynamic"-->
<!--                          appearance='outline'-->
<!--                          floatLabel='always'>-->
<!--            <mat-label>-->
<!--              {{ 'CORE.AUTH.PASSWORD_PAGE.confirmPassword' | translate }}-->
<!--            </mat-label>-->
<!--            <input matInput-->
<!--                   formControlName='confirmPassword'-->
<!--                   required-->
<!--                   [type]="hideConfirmPassword ? 'password' : 'text'"/>-->
<!--            <mat-icon matSuffix-->
<!--                      (click)="hideConfirmPassword = !hideConfirmPassword">-->
<!--              {{hideConfirmPassword ? 'visibility_off' : 'visibility'}}-->
<!--            </mat-icon>-->
<!--            <mat-error *ngIf="form.get('confirmPassword')?.errors?.['confirmPasswordValidator']">-->
<!--              {{ 'CORE.AUTH.PASSWORD_PAGE.confirmPasswordError' | translate }}-->
<!--            </mat-error>-->
<!--            <mat-error *ngIf="form.get('confirmPassword')?.hasError('required')">-->
<!--              {{ValidatorError.requiredValidator | translate:-->
<!--              {value: 'CORE.AUTH.PASSWORD_PAGE.confirmPassword' | translate} }}-->
<!--            </mat-error>-->
<!--          </mat-form-field>-->
<!--        </form>-->
<!--        <div>-->
<!--          <button mat-raised-button-->
<!--                  class="w-full"-->
<!--                  [ngClass]="{'bg-green-200! text-green-700!': success}"-->
<!--                  color='primary'-->
<!--                  type='submit'-->
<!--                  name='update'-->
<!--                  [disabled]='!form.valid || !form.dirty || isLoading || success'-->
<!--                  (click)='update()'>-->
<!--            <mat-icon *ngIf='isLoading'>-->
<!--              <mat-spinner diameter='20'></mat-spinner>-->
<!--            </mat-icon>-->
<!--            <mat-icon *ngIf="success">check</mat-icon>-->
<!--            {{ success ? ('CORE.AUTH.PASSWORD_PAGE.successButton' | translate )  : ( 'CORE.AUTH.PASSWORD_PAGE.updateButton' | translate ) }}-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->
<!--</rb-small-card-container>-->
