@if (!hasSubject()) {
  <nav aria-label="breadcrumb" class="px-4 py-2 flex flex-wrap items-center gap-1">
    <button class="app-button-small" mat-flat-button [routerLink]="['/admin', 'organizations']">
      <mat-icon class="material-symbols-outlined">{{ ENTITY_REGISTRY.organization.icon }}</mat-icon>
      <span>{{ `ADMIN.${ENTITY_REGISTRY.organization.name}.title.plural` | translate }}</span>
    </button>
    <mat-icon class="material-symbols-outlined text-lg">chevron_right</mat-icon>
    <button class="app-button-small" mat-button [routerLink]="['/admin', 'organizations', entity().organization.name]">
      <span>{{ entity().organization.name }}</span>
    </button>
  </nav>

  <div
    class='sticky top-0 z-30 flex flex-wrap justify-between gap-2 p-4 pb-0 w-full bg-app-background dark:bg-app-background-dark'>
    <div class='flex flex-wrap gap-2 items-center'>
      <button class="app-button-small app-button-full-corner" mat-flat-button [routerLink]="['/admin', 'organizations', entity().organization.name, 'projects']">
        <mat-icon class="material-symbols-outlined">{{ ENTITY_REGISTRY.project.icon }}</mat-icon>
        <span>{{ `ADMIN.${ENTITY_REGISTRY.project.name}.title.singular` | translate }}</span>
      </button>

<!--      <a class="flex items-center gap-1 bg-secondary text-white rounded-full text-xs font-bold px-2"-->
<!--         [routerLink]="['/admin', 'organizations', entity().organization.name, 'projects']">-->
<!--        <span class="material-symbols-outlined text-lg!" matPrefix>{{ ENTITY_REGISTRY.project.icon }}</span>-->
<!--        <span>{{ `ADMIN.${ENTITY_REGISTRY.project.name}.title.singular` | translate }}</span>-->
<!--      </a>-->
      <h2 class='flex items-center gap-2 m-0 text-lg font-bold text-secondary'>
        {{ entity().projectName }}
      </h2>
    </div>

<!--    <div class='flex gap-1 ml-auto'>-->
      <ng-container
        *appShowIfHasRole='[{role: ROLES.SYS_ADMIN}, {role: ROLES.ORGANIZATION_ADMIN, entityName: entity().projectName}]'>
        <app-project-actions [entity]="entity()"/>
      </ng-container>
<!--    </div>-->
  </div>
}

<div [class]="!hasSubject() ? 'm-4' : ''">
  @if (!hasSubject()) {
    <nav class="border-b-2 border-neutral-200 dark:border-neutral-600"
         mat-tab-nav-bar
         mat-stretch-tabs="false"
         [tabPanel]="tabPanel">
      @for (link of links; track link.label) {
        <a mat-tab-link
           routerLinkActive #rla="routerLinkActive"
           [active]="rla.isActive"
           [routerLink]="['/', 'admin', 'organizations', entity().organization.name, 'projects', entity().projectName, link.path]">
          <h2 class='flex items-center gap-2 m-0 text-base font-bold'>
            {{ link.label | translate }}
          </h2>
        </a>
      }
    </nav>
  }
  <mat-tab-nav-panel #tabPanel>
    <router-outlet/>
  </mat-tab-nav-panel>
</div>
