@if (!subjectId) {
  <nav aria-label="breadcrumb" class="bg-tertiary/10 px-4 py-2 flex flex-wrap items-center gap-1">
    <button class="app-button-small" mat-flat-button color="tertiary" [routerLink]="['/admin', 'organizations']">
      <mat-icon class="material-symbols-outlined">{{ ENTITY_REGISTRY.organization.icon }}</mat-icon>
      <span>{{ `ADMIN.${ENTITY_REGISTRY.organization.name}.title.plural` | translate }}</span>
    </button>
    <mat-icon class="material-symbols-outlined text-tertiary!">chevron_right</mat-icon>
    <button class="app-button-small" mat-flat-button color="tertiary" [routerLink]="['/admin', 'organizations', entity().organization.name]">
      <span>{{ entity().organization.name }}</span>
    </button>
  </nav>

  <div
    class='sticky top-0 z-30 flex flex-wrap justify-between gap-2 p-4 w-full bg-primary/10 dark:bg-primary/10'>
    <div class='flex flex-wrap gap-2 items-center'>
      <button class="app-button-small app-button-full-corner" mat-flat-button
              [routerLink]="['/admin', 'organizations', entity().organization.name, 'projects']">
        <mat-icon class="material-symbols-outlined">{{ ENTITY_REGISTRY.project.icon }}</mat-icon>
        <span>{{ `ADMIN.${ENTITY_REGISTRY.project.name}.title.singular` | translate }}</span>
      </button>

      <h2 class='flex items-center gap-2 m-0 text-lg font-bold text-primary'>
        {{ entity().projectName }}
      </h2>
    </div>

    <ng-container
      *appShowIfHasRole='[{role: ROLES.SYS_ADMIN}, {role: ROLES.ORGANIZATION_ADMIN, entityName: entity().projectName}]'>
      <app-project-actions [entity]="entity()"/>
    </ng-container>
  </div>
}

<div [class]="!subjectId ? 'm-4' : ''">
  @if (!subjectId) {
    <nav class="border-b-2 border-neutral-200 dark:border-neutral-600"
         mat-tab-nav-bar
         mat-stretch-tabs="false"
         [tabPanel]="tabPanel">
      @for (link of links; track link.label) {
        <a mat-tab-link
           routerLinkActive #rla="routerLinkActive"
           [active]="rla.isActive"
           [routerLink]="['/', 'admin', 'organizations', entity().organization.name, 'projects', entity().projectName, link.path]">
          <h2 class='flex items-center gap-2 m-0 text-base font-bold'>
            {{ link.label | translate }}
          </h2>
        </a>
      }
    </nav>
  }
  <mat-tab-nav-panel #tabPanel>
    <router-outlet/>
  </mat-tab-nav-panel>
</div>
