<rb-dialog-title [mode]='dialogData.mode'
                 [name]="ENTITY_NAME.sourceType"
                 (closeClicked)='close()'/>

<mat-dialog-content>
  @if (dialogData.mode === DialogMode.VIEW || dialogData.mode === DialogMode.DELETE) {
    <rb-dialog-body-description [mode]="dialogData.mode"
                                [label]="'Source Type'"
                                [entityName]="dialogData.entity.producer+'_'+ dialogData.entity.model+'_'+ dialogData.entity.catalogVersion"/>
  }

  @if (dialogData.mode === DialogMode.ADD || dialogData.mode === DialogMode.EDIT) {
    <form [formGroup]='form' novalidate autocomplete="off">
      @if (dialogData.mode !== DialogMode.ADD) {
        <label for="id" class="text-sm">{{ 'ADMIN.sourceType.id.label' | translate }}</label>
        <mat-form-field subscriptSizing="fixed"
                        appearance='outline'>
          <input matInput formControlName='id' required
                 id="search-id" autocomplete="off" data-lpignore="true"/>
        </mat-form-field>
      }

      <label for="producer" class="text-sm">{{ 'ADMIN.sourceType.producer.label' | translate }} *</label>
      <mat-form-field subscriptSizing="fixed"
                      appearance='outline'>
        <input matInput formControlName='producer' required
               id="search-producer" autocomplete="off" data-lpignore="true"/>
        @if (form.controls.producer?.errors; as errors) {
          <mat-error>
            @if (errors?.['duplicate']) {
              {{ 'ADMIN.sourceType.producer.duplicate' | translate }}
            }
            @if (errors?.['pattern']) {
              {{ ValidatorError.normalTextValidator }}
            }
            @if (errors?.['required']) {
              {{ ValidatorError.requiredValidator | translate: {value: 'ADMIN.sourceType.producer.label' | translate} }}
            }
          </mat-error>
        }

      </mat-form-field>

      <label for="model" class="text-sm">{{ 'ADMIN.sourceType.model.label' | translate }} *</label>
      <mat-form-field subscriptSizing="fixed"
                      appearance='outline'>
        <input matInput formControlName='model' required
               id="search-model" autocomplete="off" data-lpignore="true"/>
        @if (form.controls.model?.errors; as errors) {
          <mat-error>
            @if (errors?.['duplicate']) {
              {{ 'ADMIN.sourceType.model.duplicate' | translate }}
            }
            @if (errors?.['pattern']) {
              {{ ValidatorError.normalTextValidator }}
            }
            @if (errors?.['required']) {
              {{ ValidatorError.requiredValidator | translate: {value: 'ADMIN.sourceType.model.label' | translate} }}
            }
          </mat-error>
        }
      </mat-form-field>

      <label for="catalogVersion" class="text-sm">{{ 'ADMIN.sourceType.catalogVersion.label' | translate }} *</label>
      <mat-form-field subscriptSizing="fixed"
                      appearance='outline'>
        <input matInput formControlName='catalogVersion' required
               id="search-catalog-version" autocomplete="off" data-lpignore="true"/>
        @if (form.controls.catalogVersion?.errors; as errors) {
          <mat-error>
            @if (errors?.['duplicate']) {
              {{ 'ADMIN.sourceType.catalogVersion.duplicate' | translate }}
            }
            @if (errors?.['pattern']) {
              {{ ValidatorError.normalTextValidator }}
            }
            @if (errors?.['required']) {
              {{ ValidatorError.requiredValidator | translate: {value: 'ADMIN.sourceType.catalogVersion.label' | translate} }}
            }
          </mat-error>
        }
      </mat-form-field>

      <label for="sourceTypeScope" class="text-sm">{{ 'ADMIN.sourceType.sourceTypeScope.label' | translate }} *</label>
      <mat-form-field subscriptSizing="fixed"
                      appearance='outline'>
        <mat-select formControlName='sourceTypeScope' required>
          <mat-option [value]="'PASSIVE'">{{ 'ADMIN.sourceType.sourceTypeScope.PASSIVE' | translate }}</mat-option>
          <mat-option [value]="'ACTIVE'">{{ 'ADMIN.sourceType.sourceTypeScope.ACTIVE' | translate }}</mat-option>
        </mat-select>
        @if (form.controls.sourceTypeScope?.errors; as errors) {
          <mat-error>
            @if (errors?.['required']) {
              {{ ValidatorError.requiredValidator | translate: {value: 'ADMIN.sourceType.sourceTypeScope.label' | translate} }}
            }
          </mat-error>
        }
      </mat-form-field>

      <mat-slide-toggle color="primary" formControlName='canRegisterDynamically'>
        {{ 'ADMIN.sourceType.canRegisterDynamically.label' | translate }}
      </mat-slide-toggle>
      <p class="text-xs -mt-3 mb-4">
        {{ 'ADMIN.sourceType.canRegisterDynamically.hint' | translate }}
      </p>

      <label for="name" class="text-sm">{{ 'ADMIN.sourceType.name.label' | translate }}</label>
      <mat-form-field subscriptSizing="fixed"
                      appearance='outline'>
        <input matInput formControlName='name'
               id="search-source-type-name" autocomplete="off" data-lpignore="true"/>
      </mat-form-field>

      <label for="description" class="text-sm">{{ 'ADMIN.sourceType.description.label' | translate }}</label>
      <mat-form-field subscriptSizing="fixed"
                      appearance='outline'>
        <textarea matInput #description formControlName='description' rows='3' maxlength='255'></textarea>
        <mat-hint align="start">{{ ValidatorHint.longTextValidator }}</mat-hint>
        <mat-hint align="end">{{ description.value.length }} / 255</mat-hint>
        @if (form.controls.description?.errors; as errors) {
          <mat-error>
            @if (errors?.['pattern']) {
              {{ ValidatorError.longTextValidator }}
            }
          </mat-error>
        }
      </mat-form-field>

      <label for="assessmentType" class="text-sm">{{ 'ADMIN.sourceType.assessmentType.label' | translate }}</label>
      <mat-form-field subscriptSizing="fixed"
                      appearance='outline'>
        <input matInput formControlName='assessmentType'
               id="search-assessment-type" autocomplete="off" data-lpignore="true"/>
      </mat-form-field>

      <label for="appProvider" class="text-sm">{{ 'ADMIN.sourceType.appProvider.label' | translate }}</label>
      <mat-form-field subscriptSizing="fixed"
                      appearance='outline'>
        <input matInput formControlName='appProvider'
               id="search-app-provider" autocomplete="off" data-lpignore="true"/>
      </mat-form-field>
    </form>
  }
</mat-dialog-content>

@if (error$()) {
  <div
    class="p-4 w-full text-center text-base rounded-sm break-words bg-red-100 text-red-600 dark:bg-red-800 dark:text-red-200">
    {{ error$()?.error.errorCode | translate }}
  </div>
}

<rb-dialog-actions [mode]='dialogData.mode'
                   [form]='form'
                   (actionTriggered)='onAction($event)'/>
