<rb-dialog-title [mode]='mode' [name]="name" (closeClicked)='close()' />

@let configFields = (config$ | async)?.['fields'] ?? {};

<mat-dialog-content>
  @if (mode === DialogMode.VIEW || mode === DialogMode.DELETE) {
    <rb-dialog-body-description [mode]="mode" [label]="'Source Type'"
                                [entityName]="entity.producer+'_'+entity.model+'_'+entity.catalogVersion"/>
  }

  @if (mode === DialogMode.ADD || mode === DialogMode.EDIT) {
    <form [formGroup]='form' novalidate autocomplete="off">

      @if (mode !== DialogMode.ADD) {
        @if(!floatLabel) {
          <label for="id" class="text-sm">{{ 'ADMIN.sourceType.id.label' | translate }}</label>
        }
        <mat-form-field subscriptSizing="fixed"
                        appearance='outline'
                        [floatLabel]='floatLabel ? "always" : "auto"'>
          @if(floatLabel) {
            <mat-label>{{ 'ADMIN.sourceType.id.label' | translate }}</mat-label>
          }
          <input matInput formControlName='id' required
                 id="search-id" autocomplete="off" data-lpignore="true" />
        </mat-form-field>
      }

      @if(!floatLabel) {
        <label for="producer" class="text-sm">{{ 'ADMIN.sourceType.producer.label' | translate }}</label>
      }
      <mat-form-field subscriptSizing="fixed"
                      appearance='outline'
                      [floatLabel]='floatLabel ? "always" : "auto"'>
        @if(floatLabel) {
          <mat-label>{{ 'ADMIN.sourceType.producer.label' | translate }}</mat-label>
        }
        <input matInput formControlName='producer' required
               id="search-producer" autocomplete="off" data-lpignore="true"/>
        <mat-error *ngIf="form.controls.producer?.errors?.['duplicate']">
          {{ 'ADMIN.sourceType.producer.duplicate' | translate }}
        </mat-error>
        <mat-error *ngIf="form.controls.producer?.errors?.['pattern']">
          {{ValidatorError.normalTextValidator}}
        </mat-error>
        <mat-error *ngIf="form.controls.producer?.errors?.['required']">
          {{ValidatorError.requiredValidator | translate: {value: 'ADMIN.sourceType.producer.label' | translate } }}
        </mat-error>
      </mat-form-field>

      @if(!floatLabel) {
        <label for="model" class="text-sm">{{ 'ADMIN.sourceType.model.label' | translate }}</label>
      }
      <mat-form-field subscriptSizing="fixed"
                      appearance='outline'
                      [floatLabel]='floatLabel ? "always" : "auto"'>
        @if(floatLabel) {
          <mat-label>{{ 'ADMIN.sourceType.model.label' | translate }}</mat-label>
        }
        <input matInput formControlName='model' required
               id="search-model" autocomplete="off" data-lpignore="true"/>
        <mat-error *ngIf="form.controls.model?.errors?.['duplicate']">
          {{ 'ADMIN.sourceType.id.label' | translate }}{{ "Source Type (Producer, model and catalog version) exists" }}
        </mat-error>
        <mat-error *ngIf="form.controls.model?.errors?.['pattern']">
          {{ValidatorError.normalTextValidator}}
        </mat-error>
        <mat-error *ngIf="form.controls.model?.errors?.['required']">
          {{ValidatorError.requiredValidator | translate: {value: 'ADMIN.sourceType.model.label' | translate } }}
        </mat-error>
      </mat-form-field>

      @if(!floatLabel) {
        <label for="catalogVersion" class="text-sm">{{ 'ADMIN.sourceType.catalogVersion.label' | translate }}</label>
      }
      <mat-form-field subscriptSizing="fixed"
                      appearance='outline'
                      [floatLabel]='floatLabel ? "always" : "auto"'>
        @if(floatLabel) {
          <mat-label>{{ 'ADMIN.sourceType.catalogVersion.label' | translate }}</mat-label>
        }
        <input matInput formControlName='catalogVersion' required
               id="search-catalog-version" autocomplete="off" data-lpignore="true"/>
        <mat-error *ngIf="form.controls.catalogVersion?.errors?.['duplicate']">
          {{ 'ADMIN.sourceType.id.label' | translate }}{{ "Source Type (Producer, model and catalog version) exists" }}
        </mat-error>
        <mat-error *ngIf="form.controls.catalogVersion?.errors?.['pattern']">
          {{ValidatorError.normalTextValidator}}
        </mat-error>
        <mat-error *ngIf="form.controls.catalogVersion?.errors?.['required']">
          {{ValidatorError.requiredValidator | translate: {value: 'ADMIN.sourceType.catalogVersion.label' | translate } }}
        </mat-error>
      </mat-form-field>

      @if(!floatLabel) {
        <label for="sourceTypeScope" class="text-sm">{{ 'ADMIN.sourceType.sourceTypeScope.label' | translate }}</label>
      }
      <mat-form-field subscriptSizing="fixed"
                      appearance='outline'
                      [floatLabel]='floatLabel ? "always" : "auto"'>
        @if(floatLabel) {
          <mat-label>{{ 'ADMIN.sourceType.sourceTypeScope.label' | translate }}</mat-label>
        }
        <mat-select formControlName='sourceTypeScope' required>
          <mat-option [value]="'PASSIVE'">{{ 'ADMIN.sourceType.sourceTypeScope.PASSIVE' | translate }}</mat-option>
          <mat-option [value]="'ACTIVE'">{{ 'ADMIN.sourceType.sourceTypeScope.ACTIVE' | translate }}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls.sourceTypeScope?.errors?.['required']">
          {{ValidatorError.requiredValidator | translate: {value: 'ADMIN.sourceType.sourceTypeScope.label' | translate} }}
        </mat-error>
      </mat-form-field>

      <mat-slide-toggle color="primary" formControlName='canRegisterDynamically'>
        {{ 'ADMIN.sourceType.canRegisterDynamically.label' | translate }}
      </mat-slide-toggle>
      <p class="text-xs -mt-3 mb-4">
        {{ 'ADMIN.sourceType.canRegisterDynamically.hint' | translate }}
      </p>

      @if (configFields?.['name'] === undefined || configFields?.['name'] === true) {
        @if(!floatLabel) {
        <label for="name" class="text-sm">{{ 'ADMIN.sourceType.name.label' | translate }}</label>
      }
      <mat-form-field subscriptSizing="fixed"
                      appearance='outline'
                      [floatLabel]='floatLabel ? "always" : "auto"'>
        @if(floatLabel) {
          <mat-label>{{ 'ADMIN.sourceType.name.label' | translate }}</mat-label>
        }
        <input matInput formControlName='name'
               id="search-source-type-name" autocomplete="off" data-lpignore="true"/>
      </mat-form-field>
      }

      @if (configFields?.['description'] === undefined || configFields?.['description'] === true) {
        @if(!floatLabel) {
        <label for="description" class="text-sm">{{ 'ADMIN.sourceType.description.label' | translate }}</label>
      }
      <mat-form-field subscriptSizing="fixed"
                      appearance='outline'
                      [floatLabel]='floatLabel ? "always" : "auto"'>
        @if(floatLabel) {
          <mat-label>{{ 'ADMIN.sourceType.description.label' | translate }}</mat-label>
        }
        <textarea matInput #description formControlName='description' rows='3' maxlength='255'></textarea>
        <mat-hint align="start">{{ValidatorHint.longTextValidator}}</mat-hint>
        <mat-hint align="end">{{description.value.length}} / 255</mat-hint>
        <mat-error *ngIf="form.controls.description?.errors?.['pattern']">
          {{ValidatorError.longTextValidator}}
        </mat-error>
      </mat-form-field>
      }

      @if (configFields?.['assessmentType'] === undefined || configFields?.['assessmentType'] === true) {
        @if(!floatLabel) {
        <label for="assessmentType" class="text-sm">{{ 'ADMIN.sourceType.assessmentType.label' | translate }}</label>
      }
      <mat-form-field subscriptSizing="fixed"
                      appearance='outline'
                      [floatLabel]='floatLabel ? "always" : "auto"'>
        @if(floatLabel) {
          <mat-label>{{ 'ADMIN.sourceType.assessmentType.label' | translate }}</mat-label>
        }
        <input matInput formControlName='assessmentType'
               id="search-assessment-type" autocomplete="off" data-lpignore="true"/>
      </mat-form-field>
      }

      @if (configFields?.['appProvider'] === undefined || configFields?.['appProvider'] === true) {
        @if(!floatLabel) {
        <label for="appProvider" class="text-sm">{{ 'ADMIN.sourceType.appProvider.label' | translate }}</label>
      }
      <mat-form-field subscriptSizing="fixed"
                      appearance='outline'
                      [floatLabel]='floatLabel ? "always" : "auto"'>
        @if(floatLabel) {
        <mat-label>{{ 'ADMIN.sourceType.appProvider.label' | translate }}</mat-label>
        }
        <input matInput formControlName='appProvider'
               id="search-app-provider" autocomplete="off" data-lpignore="true"/>
      </mat-form-field>
      }
    </form>
  }
</mat-dialog-content>

<rb-message *ngIf='error' />
<rb-dialog-actions [mode]='mode' [form]='form' (actionTriggered)='onAction($event)' />
