@use './styles/theme';
@use './styles/tailwind.css';
@use "./styles/custom-utilities";

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

mat-icon {
  font-family: 'Material Symbols Outlined', serif !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.mat-mdc-form-field-infix {
  display: flex;
}
