<!--<rb-loader *ngIf="loading"-->
<!--           [loadingText]='"loading" | translate'>-->
<!--</rb-loader>-->

<!--<div class='p-4'>-->
<!--&lt;!&ndash;  <rb-breadcrumb&ndash;&gt;-->
<!--&lt;!&ndash;    [items]='[&ndash;&gt;-->
<!--&lt;!&ndash;      {label: "ADMIN.organization.title.plural" | translate, path: "/admin/organizations/"},&ndash;&gt;-->
<!--&lt;!&ndash;      {label: "ADMIN.organization.title.singular" | translate, name: organizationName, path: "/admin/organizations/" + organizationName},&ndash;&gt;-->
<!--&lt;!&ndash;      {label: "ADMIN.project.title.singular" | translate, name: projectName, path: "/admin/projects/" + projectName},&ndash;&gt;-->
<!--&lt;!&ndash;    ]'>&ndash;&gt;-->
<!--&lt;!&ndash;  </rb-breadcrumb>&ndash;&gt;-->

<!--  <div class='flex justify-between mb-4 flex-wrap items-center'>-->
<!--    <div class='flex flex-wrap gap-2 items-center m-0 text-subject-color'>-->
<!--      <div class='flex items-center text-sm font-semibold rounded-full gap-1 py-2 px-4 bg-subject-color-100 text-subject-color-700'>-->
<!--        <mat-icon fontSet='material-icons-outlined'>person_outline</mat-icon>-->
<!--        {{ 'ADMIN.subject.title.singular' | translate }}-->
<!--      </div>-->
<!--      <h2 class="">{{ entity.login }}</h2>-->
<!--    </div>-->
<!--&lt;!&ndash;    <h2 class='details-page-header-title subject-color-fg'>&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-chip disableRipple class='label-chip subject-color'>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-icon fontSet='material-icons-outlined'>person_outline</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;        {{'ADMIN.subject.title.singular' | translate }}&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-chip>&ndash;&gt;-->
<!--&lt;!&ndash;      {{entity.login}}&ndash;&gt;-->
<!--&lt;!&ndash;    </h2>&ndash;&gt;-->

<!--    <div class='flex gap-1 ml-auto'>-->
<!--      <button mat-icon-button [matMenuTriggerFor]="menu" color='primary' aria-label="Example icon-button with a menu" (click)='$event.stopPropagation()'>-->
<!--        <mat-icon class='text-subject-color'>more_vert</mat-icon>-->
<!--      </button>-->
<!--      <mat-menu #menu="matMenu">-->
<!--&lt;!&ndash;        <rb-pair-app [entity]="entity" [project]="project" [projects]="projects" [projectName]="projectName" [clients]="clients" (updateTrigger)="triggerUpdate($event)"></rb-pair-app>&ndash;&gt;-->
<!--&lt;!&ndash;        <rb-pair-source [entity]="entity" [project]="project" [projects]="projects" [projectName]="projectName" [clients]="clients" (updateTrigger)="triggerUpdate($event)"></rb-pair-source>&ndash;&gt;-->
<!--&lt;!&ndash;        <button mat-menu-item&ndash;&gt;-->
<!--&lt;!&ndash;                (click)='pairApp(entity)'>&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-icon color='primary'>qr_code</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;          <span>Pair App</span>&ndash;&gt;-->
<!--&lt;!&ndash;        </button>&ndash;&gt;-->

<!--&lt;!&ndash;        <button mat-menu-item&ndash;&gt;-->
<!--&lt;!&ndash;                (click)='pairSource(entity)'>&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-icon color='primary'>link</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;          <span>Pair Source</span>&ndash;&gt;-->
<!--&lt;!&ndash;        </button>&ndash;&gt;-->
<!--        <button-->
<!--          mat-menu-item-->
<!--          (click)='onAction(DialogMode.EDIT, entity)'>-->
<!--          <mat-icon color='primary' fontSet='material-icons-outlined'>edit</mat-icon>-->
<!--          <span>{{'ADMIN.subject.edit' | translate }}</span>-->
<!--        </button>-->
<!--        <button-->
<!--          mat-menu-item-->
<!--          [routerLink]='["revisions"]'>-->
<!--          <mat-icon color='primary' fontSet='material-icons-outlined'>history</mat-icon>-->
<!--          <span>{{'ADMIN.subject.history' | translate }}</span>-->
<!--        </button>-->
<!--&lt;!&ndash;        <rb-discontinue [entity]="entity" [projects]="projects" [projectName]="projectName" [clients]="clients" (updateTrigger)="triggerUpdate($event)"></rb-discontinue>&ndash;&gt;-->
<!--        &lt;!&ndash;        <button mat-menu-item&ndash;&gt;-->
<!--&lt;!&ndash;                (click)='discontinue(entity)'>&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-icon color='accent' fontSet="material-icons-outlined">stop_circle</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;          <span>Discontinue</span>&ndash;&gt;-->
<!--&lt;!&ndash;        </button>&ndash;&gt;-->
<!--        <button-->
<!--          mat-menu-item-->
<!--          (click)='onAction(DialogMode.DELETE, entity)'>-->
<!--          <mat-icon color='warn' fontSet='material-icons-outlined'>delete</mat-icon>-->
<!--          <span>{{'ADMIN.subject.delete' | translate }}</span>-->
<!--        </button>-->
<!--      </mat-menu>-->
<!--    </div>-->
<!--  </div>-->

<!--  <router-outlet></router-outlet>-->

<!--  <div class='p-4 text-sm border'>-->
<!--    <rb-subject-authorizer-details [entity]='entity'></rb-subject-authorizer-details>-->
<!--  </div>-->
<!--</div>-->

