<div class="flex flex-col h-full w-80 m-auto border-2 border-gray-300 rounded-lg">
<mat-toolbar>
  <button matIconButton class="" aria-label="Example icon-button with menu icon">
    <mat-icon class="material-symbols-outlined">close</mat-icon>
  </button>
  <span>{{ questionnaireName() }}</span>
<!--  <span class="flex-auto">Questionnaire name</span>-->
<!--  <button matIconButton class="" aria-label="Example icon-button with heart icon">-->
<!--    <mat-icon class="material-symbols-outlined"></mat-icon>-->
<!--  </button>-->
<!--  <button matIconButton class="example-icon" aria-label="Example icon-button with share icon">-->
<!--    <mat-icon class="material-symbols-outlined">share</mat-icon>-->
<!--  </button>-->
</mat-toolbar>

<!--<ion-header>-->
<!--  <ion-toolbar color="primary">-->
<!--    <ion-buttons slot="start">-->
<!--&lt;!&ndash;      <ion-button fill="clear" (click)="exitQuestionnaire()">&ndash;&gt;-->
<!--&lt;!&ndash;        <ion-icon class="text-2xl" name="close-outline"/>&ndash;&gt;-->
<!--&lt;!&ndash;      </ion-button>&ndash;&gt;-->
<!--    </ion-buttons>-->
<!--&lt;!&ndash;    <ion-title class="text-lg font-bold">{{ task.label ?? task.name }}</ion-title>&ndash;&gt;-->
<!--    <ion-title class="text-lg font-bold">Hello</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<!--@if (protocol && groupedQuestions) {-->
  @if(!loading) {
@if (groupedQuestions) {
<!--  <ion-content>-->

<!--    @if (showIntroduction) {-->
<!--      <app-introduction [protocol]="protocol" (startEvent)="startQuestionnaire()"/>-->
<!--    } @else if (showFinish) {-->
<!--      <app-finish [protocol]="protocol" [task]="task" (exit)="handleFinish()"/>-->
<!--    } @else {-->
<!--  {{groupedQuestions | json}}-->
<!--  {{groupedQuestions['progress_report4'] | json}}-->
  <div class="grow shrink-0 overflow-auto">
<!--    @for (item of groupedQuestions | keyvalue: originalOrder; track item; let i = $index) {-->
<!--      {{item.key | json}}-->
<!--    }-->
      @for (item of groupedQuestions | keyvalue: originalOrder; track item.key; let i = $index) {
<!--        {{item.key}}-->
        @if (i === currentQuestion.index) {
          @if (item.value.length > 1) {
            <app-grouped-questions [questions]="item.value"
                                   [groupName]="item.key"
                                   [answers]="answers"
                                   (answerEvent)="onGroupAnswer($event)"
                                   (nextActionEvent)="nextAction($event)"/>
          } @else {
            <app-question [question]="item.value[0]"
                          [answers]="answers"
                          [answer]="answers[item.key]?.[0]"
                          (answerEvent)="onAnswer($event)"
                          (nextActionEvent)="nextAction($event)"/>
<!--                          [protocol]="protocol"-->
          }
        }
      }
</div>

<!--    }-->

<!--  </ion-content>-->

<!--  @if (!showIntroduction && !showFinish) {-->
<!--    <ion-footer>-->
  <div>
      <app-toolbar (toolbarEvent)="handleToolbarEvent($event)"
                   [currentQuestionId]="currentQuestion.index"
                   [isLeftButtonDisabled]="isLeftButtonDisabled"
                   [isRightButtonDisabled]="isRightButtonDisabled"
                   [totalQuestions]="groupedQuestionsSize"
                   [isProgressCountShown]="showProgressCount"/>
  </div>
<!--    </ion-footer>-->


<!--  }-->
} @else {
  Loading...
}
<!--(nextEvent)="nextQuestion()"-->
<!--(previousEvent)="previousQuestion()"-->
<!--(closeEvent)="exitQuestionnaire()"-->
<!--(finishEvent)="navigateToFinishPage()"-->
  }
</div>
