<app-entity [entity]="entity()"
            [gridView]="gridView()"
            [tableFields]="configService.getTableFields()"
            [customTemplate]="entityTemplate">
  <div class='w-full md:w-1/2 flex justify-end items-center gap-2' extra-actions>
    <app-tag [class]="entity().level === 'TRACE'? 'bg-primary dark:bg-primary-dark text-white' : 'bg-gray-200 dark:bg-gray-500'" (click)="updateAction(entity(), 'TRACE')">{{ 'ADMIN.log.level.TRACE' | translate }}</app-tag>
    <app-tag [class]="entity().level === 'DEBUG'? 'bg-teal-500 text-white' : 'bg-gray-200 dark:bg-gray-500'" (click)="updateAction(entity(), 'DEBUG')">{{ 'ADMIN.log.level.DEBUG' | translate }}</app-tag>
    <app-tag [class]="entity().level === 'INFO'? 'bg-primary dark:bg-primary-dark text-white' : 'bg-gray-200 dark:bg-gray-500'" (click)="updateAction(entity(), 'INFO')">{{ 'ADMIN.log.level.INFO' | translate }}</app-tag>
    <app-tag [class]="entity().level === 'WARN'? 'bg-orange-400 text-white' : 'bg-gray-200 dark:bg-gray-500'" (click)="updateAction(entity(), 'WARN')">{{ 'ADMIN.log.level.WARN' | translate }}</app-tag>
    <app-tag [class]="entity().level === 'ERROR'? 'bg-red-400 text-white' : 'bg-gray-200 dark:bg-gray-500'" (click)="updateAction(entity(), 'ERROR')">{{ 'ADMIN.log.level.ERROR' | translate }}</app-tag>
  </div>
</app-entity>

<ng-template #entityTemplate let-property>
  @switch (property.name) {
    @default {
      {{ entity()[property.name] || '-' }}
    }
  }
</ng-template>

<!--@let tableFields = configService.getTableFields();-->

<!--<mat-card class="rb-table-row" [class]="-->
<!--    (updated() ? 'bg-green-100! ' : '') +-->
<!--    (expanded() ? 'mb-2' : '')-->
<!--  ">-->
<!--  <div class="rb-table-main-row">-->
<!--    @for (tableElement of tableFields; track tableElement.name) {-->
<!--      <div [class]="tableElement.tableClass + ' ' + tableElement.width + ' ' + tableElement.classes"-->
<!--           [class.flex-1]="!tableElement.width"-->
<!--           [class.shrink-0]="!!tableElement.width">-->
<!--        @switch (tableElement.name) {-->
<!--          @default {-->
<!--            {{ entity()[tableElement.name] || '-' }}-->
<!--          }-->
<!--        }-->
<!--      </div>-->

<!--      <div class='w-full md:w-1/2 flex justify-end items-center gap-2'>-->
<!--        <app-tag [class]="entity().level === 'TRACE'? 'bg-primary dark:bg-primary-dark text-white' : 'bg-gray-200 dark:bg-gray-500'" (click)="updateAction(entity(), 'TRACE')">{{ 'ADMIN.log.level.TRACE' | translate }}</app-tag>-->
<!--        <app-tag [class]="entity().level === 'DEBUG'? 'bg-teal-500 text-white' : 'bg-gray-200 dark:bg-gray-500'" (click)="updateAction(entity(), 'DEBUG')">{{ 'ADMIN.log.level.DEBUG' | translate }}</app-tag>-->
<!--        <app-tag [class]="entity().level === 'INFO'? 'bg-primary dark:bg-primary-dark text-white' : 'bg-gray-200 dark:bg-gray-500'" (click)="updateAction(entity(), 'INFO')">{{ 'ADMIN.log.level.INFO' | translate }}</app-tag>-->
<!--        <app-tag [class]="entity().level === 'WARN'? 'bg-orange-400 text-white' : 'bg-gray-200 dark:bg-gray-500'" (click)="updateAction(entity(), 'WARN')">{{ 'ADMIN.log.level.WARN' | translate }}</app-tag>-->
<!--        <app-tag [class]="entity().level === 'ERROR'? 'bg-red-400 text-white' : 'bg-gray-200 dark:bg-gray-500'" (click)="updateAction(entity(), 'ERROR')">{{ 'ADMIN.log.level.ERROR' | translate }}</app-tag>-->
<!--      </div>-->
<!--    }-->
<!--  </div>-->

<!--  @if (expanded()) {-->
<!--    <div class="rb-table-extension-row" animate.enter="expand-in-anim" animate.leave="expand-out-anim">-->
<!--  </div>-->
<!--  }-->
<!--</mat-card>-->
