<nav aria-label="breadcrumb" class="breadcrumbs px-4 py-2 flex flex-wrap items-center bg-white dark:bg-neutral-700'">
  <div class='flex flex-wrap gap-2 items-center'>
    <span class="material-symbols-outlined bg-neutral-100 dark:bg-neutral-600 rounded-full cursor-pointer"
          rbBackButton>
      chevron_left
    </span>
    <button class="small-button bg-neutral-100! dark:bg-neutral-600! dark:text-white!" mat-flat-button
            [routerLink]="['/admin', 'source-types']">
      <span class="flex items-center gap-1">
        <span class="material-symbols-outlined text-lg" matPrefix>{{ ENTITIES.sourceType.icon }}</span>
        <span>{{ `ADMIN.sourceData.title.plural` | translate }}</span>
      </span>
    </button>
    <span class="text-xs font-bold">{{`${entity$().clientId}`}}</span>
  </div>
</nav>

<div class='flex flex-wrap justify-between gap-2 p-4 bg-white dark:bg-neutral-700'>
  <h2 class='flex items-center gap-2 m-0 text-lg font-bold '>
  <span class="material-symbols-outlined p-2 w-10! h-10! rounded-full bg-neutral-200 dark:bg-neutral-600">
    {{ ENTITIES.sourceType.icon }}
  </span>
    {{`${entity$().clientId}`}}
  </h2>
  <div class='flex gap-1 ml-auto'>
    <app-actions [entity$]="entity$()" [isExpanded$]="false"/>
  </div>
</div>

<mat-card class="m-4 p-4 text-sm border">
  <mat-card-content>
<!--    <rb-source-type-details [entity$]='entity$()' [tableFields$]="tableFields"/>-->
  </mat-card-content>
</mat-card>


<!--<rb-loader *ngIf='loading' [loadingText]='"loading" | translate'></rb-loader>-->

<!--&lt;!&ndash;<rb-static-breadcrumb *ngIf="inGlobalScope$ | async"&ndash;&gt;-->
<!--&lt;!&ndash;                      [entityName]="ENTITY_NAME.client" [entity]="entity">&ndash;&gt;-->
<!--&lt;!&ndash;</rb-static-breadcrumb>&ndash;&gt;-->

<!--<form *ngIf="form" class="pt-4 px-4 bg-white" [formGroup]='form' novalidate>-->
<!--    <mat-form-field *ngIf="entity.clientId === 'pRMT'"-->
<!--                    subscriptSizing="dynamic"-->
<!--                    class='small-input mb-0! sm:w-[300px]'-->
<!--                    appearance='outline'-->
<!--                    floatLabel='always'>-->
<!--        <mat-label>Config Category</mat-label>-->
<!--        <mat-select formControlName='category' placeholder="Select a config category">-->
<!--            <mat-option [value]="'general'">General</mat-option>-->
<!--            <mat-option [value]="'measurements'">Therapist App - Measurements</mat-option>-->
<!--            <mat-option [value]="'feedbackConfig'">Therapist App - Feedback</mat-option>-->
<!--        </mat-select>-->
<!--    </mat-form-field>-->
<!--    <mat-form-field *ngIf="entity.clientId === 'aRMT'"-->
<!--                    subscriptSizing="dynamic"-->
<!--                    class='small-input mb-0! sm:w-[300px]'-->
<!--                    appearance='outline'-->
<!--                    floatLabel='always'>-->
<!--        <mat-label>Config Category</mat-label>-->
<!--        <mat-select formControlName='category' placeholder="Select a config category">-->
<!--            <mat-option [value]="'general'">General</mat-option>-->
<!--            <mat-option [value]="'protocols'">Protocols</mat-option>-->
<!--            <mat-option [value]="'questionnaires'">Questionnaires</mat-option>-->
<!--        </mat-select>-->
<!--    </mat-form-field>-->
<!--</form>-->

<!--<div class="mx-4">-->
<!--    <mat-accordion class='' multi>-->
<!--        <mat-expansion-panel [expanded]='panelOpenState'-->
<!--                             class=''>-->
<!--            <div class='p-4 text-sm border'>-->
<!--                <rb-client-details [entity]='entity'>-->
<!--                </rb-client-details>-->
<!--            </div>-->
<!--        </mat-expansion-panel>-->
<!--    </mat-accordion>-->
<!--</div>-->

<!--<router-outlet></router-outlet>-->
