<rb-details [name$]="ENTITY_NAME.source"
             [entity$]="entity$()"
             [tableFields$]="tableFields$()"
             [type$]="type$()"
             [customTemplate$]="detailsTemplate"/>

<ng-template #detailsTemplate let-property>
  @switch (property.name) {
    @case ('assigned') {
      <rb-source-assigned [assigned$]="entity$().assigned"/>
    }
    @case ('sourceType') {
      <rb-source-source-type [sourceType$]="entity$().sourceType"/>
    }
    @case ('attributes') {
      @if (entity$().attributes) {
        @for (attribute of entity$().attributes | keyvalue; track attribute.key) {
          <div>
            {{ attribute.key }}: {{ attribute.value || '-' }}
          </div>
        }
      }
      @if (!entity$().attributes || !(entity$().attributes | keyvalue)?.length) {
        -
      }
    }
    @default {
      {{ entity$()[property.name] || '-' }}
    }
  }
</ng-template>
