@let _prefix = 'ADMIN.questionnaire';

<app-entity-table-row [gridView]="gridView()"
            [tableFields]="configService.getTableFields()"
            [extensionClass]="extensionClass()"
            [customTemplate]="entityTemplate"
            [updated]="updated()">
  <app-questionnaire-details extension-row [entity]='entity()' [detailType]="DetailType.TABLE"/>
  <app-questionnaire-actions extra-actions
                            *appShowIfHasRole='[{role: ROLES.SYS_ADMIN}, {role: ROLES.ORGANIZATION_ADMIN, entityName: entity().name}]'
                            [entity]="entity()"
                            [isExpanded]="true"
                            (duplicate)="onDuplicate()"/>
</app-entity-table-row>
<ng-template #entityTemplate let-property>
  @switch (property.name) {
    @case ('name') {
      <p class="font-bold">{{ entity()['name'] || '-' }}</p>
      <div class="flex items-center flex-wrap gap-2">
        <span class="text-xs font-bold text-neutral-400 uppercase">{{`${_prefix}.availableLanguages` | translate}}</span>
        @for (l of entity().languages; track l.code) {
          <span>
            <span class="h-full flex items-center justify-center uppercase"><span class="text-sm font-bold">{{l.code}}</span></span>
          </span>
        }
      </div>
    }
    @case ('questionCount') {
      {{ entity().questions?.length || '-' }}
    }
    @case ('type') {
      @if (entity().schedule?.onDemand) {
        <app-tag class="bg-primary/10 text-primary dark:bg-primary-dark/10 dark:text-primary-dark">
          On Demand
        </app-tag>
      } @else {
        @if (!entity().schedule?.repeatedProtocol) {
          <app-tag class="bg-primary/10 text-primary dark:bg-primary-dark/10 dark:text-primary-dark">
            Scheduled
          </app-tag>
          <div
            [innerHTML]="`${_prefix}.oneTimeProtocol.tableContent` | translate">
          </div>
        } @else {
  <!--        @if (repeatProtocol.amount === 9999 && repeatProtocol.unit === 'year' ) {-->
  <!--          <div-->
  <!--            [innerHTML]="'ADMIN.protocol.oneTimeProtocol.tableContent' | translate">-->
  <!--          </div>-->
  <!--        } @else {-->
          @let repeatProtocol = entity().schedule?.repeatProtocol;
            <div
              [innerHTML]="`${_prefix}.repeatProtocol.tableContent` | translate: {amount: repeatProtocol?.amount, unit: repeatProtocol?.unit}">
            </div>
          }
        @if (entity().schedule?.completionWindow; as completionWindow) {
          <div>
            {{
              `${_prefix}.completionWindow.tableContent` | translate: {
                amount: completionWindow.amount,
                unit: completionWindow.unit
              }
            }}
          </div>
        }
      }
<!--      } @else {-->
<!--        {{'On Demand'}}-->
<!--      }-->

    }
    @case ('completionWindow') {
      @if (entity().schedule?.completionWindow; as completionWindow) {
        {{ completionWindow.amount }} {{ completionWindow.unit }}
      } @else {
        -
      }
    }
    @case ('active') {
      <mat-slide-toggle [checked]="entity().isActive" (change)="onActiveChange($event)" />
    }
    @case ('status') {
      <app-tag class="bg-primary/10 text-primary dark:bg-primary-dark/10 dark:text-primary-dark">
      {{ entity().isValid ? 'Valid' : 'Invalid' }}
<!--        / Active: {{ entity().isActive }}-->
      </app-tag>
    }
    @default {
      {{ $any(entity())[property.name] || '-' }}
    }
  }
</ng-template>
