<mat-card class="rb-table-row" [class]="
    (updated$() ? 'bg-primary/5! dark:bg-primary-dark/5! ' : '') +
    (expanded$() ? 'mb-2' : '')
  ">
<!--  {{entity$() | json}}-->
  <div class="rb-table-main-row">
    @for (tableElement of tableFields$(); track tableElement.name) {
      <div [class]="tableElement.tableClass + ' ' + tableElement.width + ' ' + tableElement.classes"
           [class.flex-1]="!tableElement.width"
           [class.shrink-0]="!!tableElement.width">
        @switch (tableElement.name) {
              @case ('name') {
                <p class="font-bold">{{ entity$()['name'] || '-' }}</p>
<!--                @if ((entity$()._languages?.length ?? 0) > 1) {-->
                <div class="flex items-center flex-wrap gap-2">
                  <span class="text-xs font-bold text-neutral-400 uppercase">Translations</span>
                  @for (l of entity$().languages; track l) {
                    <span>
<!--                  <div class="flex items-center flex-wrap">-->
<!--                    <span class="text-xs font-bold text-neutral-400 uppercase">Translations</span>-->
<!--                    @for (l of entity$()._languages; track l) {-->
<!--                      @if (l !== 'en') {-->
<!--                        <span>-->
<!--                      <button mat-icon-button class="tiny uppercase"-->
<!--                              (click)='$event.stopPropagation()'-->
<!--                              [class]="'en' !== l ? 'text-secondary! dark:text-secondary-dark!' : 'text-primary! dark:text-primary-dark!'"-->
<!--                              [matMenuTriggerFor]="menu">-->
<!--&lt;!&ndash;                        <span class="text-sm font-bold">{{l.key}}</span>&ndash;&gt;-->
                        <span class="h-full flex items-center justify-center uppercase"><span class="text-sm font-bold">{{l.id}}</span></span>
<!--                      </button>-->
<!--                      <mat-menu #menu="matMenu">-->
<!--                        <button mat-menu-item (click)='onTranslationAction(DialogMode.EDIT, entity$(), l)'>-->
<!--                          <span class="flex items-center gap-2">-->
<!--                            <span class="text-xl! material-symbols-outlined font-bold! text-primary">edit</span>-->
<!--                            <span class="text-base">{{ 'ADMIN.questionnaire.edit' | translate }}</span>-->
<!--                          </span>-->
<!--                          &lt;!&ndash;                          <span class="text-xl! material-symbols-outlined text-primary">edit</span>&ndash;&gt;-->
<!--                          &lt;!&ndash;                          <span class="text-lg">{{ 'ADMIN.questionnaire.edit' | translate }}</span>&ndash;&gt;-->
<!--                        </button>-->
<!--                        <button mat-menu-item (click)='onTranslationAction(DialogMode.DELETE, entity$(), l)'>-->
<!--                          <span class="flex items-center gap-2">-->
<!--                            <span class="text-xl! text-red-500 material-symbols-outlined font-bold!">delete</span>-->
<!--                            <span class="text-base">{{ 'ADMIN.questionnaire.delete' | translate }}</span>-->
<!--                          </span>-->

<!--                          &lt;!&ndash;                          <span class="text-xl! material-symbols-outlined text-red-500">delete</span>&ndash;&gt;-->
<!--                          &lt;!&ndash;                          <span class="text-sm">{{ 'ADMIN.questionnaire.delete' | translate }}</span>&ndash;&gt;-->
<!--                        </button>-->
<!--                      </mat-menu>-->
                    </span>
<!--                      }-->
                    }
<!--                    <button mat-icon-button class="tiny" (click)='onTranslationAction(DialogMode.EDIT, entity$(), "new")'>-->
<!--                      <span class="material-symbols-outlined text-xl! text-primary">add</span>-->

<!--                      &lt;!&ndash;                    <span class="text-lg text-primary-color-500 material-symbols-outlined">add</span>&ndash;&gt;-->
<!--                    </button>-->
                  </div>
<!--                } @else {-->
<!--                  <span class="text-xs font-bold text-neutral-400 uppercase">No translations - Only English</span>-->
<!--                }-->
                <!--            <div class="w-96">-->
<!--                <div class="flex items-center flex-wrap">-->
<!--                  <span class="text-xs font-bold text-neutral-400 uppercase">Translations</span>-->
<!--                  @for (l of entity$()['languages']; track l) {-->
<!--                    <span>-->
<!--                      <button mat-icon-button class="tiny uppercase"-->
<!--                              (click)='$event.stopPropagation()'-->
<!--                              [class]="entity$().defaultLanguage !== l ? 'text-secondary! dark:text-secondary-dark!' : 'text-primary! dark:text-primary-dark!'"-->
<!--                              [matMenuTriggerFor]="menu">-->
<!--&lt;!&ndash;                              [class]="'en' !== l.key ? 'text-secondary! dark:text-secondary-dark!' : 'text-primary! dark:text-primary-dark!'"&ndash;&gt;-->
<!--                        &lt;!&ndash;                        <span class="text-sm font-bold">{{l.key}}</span>&ndash;&gt;-->
<!--                        <span class="h-full flex items-center justify-center"><span class="text-sm font-bold">{{l}}</span></span>-->
<!--                      </button>-->
<!--                      <mat-menu #menu="matMenu">-->
<!--                        <button mat-menu-item (click)='onTranslationAction(DialogMode.EDIT, entity$(), l, undefined)'>-->
<!--                          <span class="flex items-center gap-2">-->
<!--                            <span class="text-xl! material-symbols-outlined font-bold! text-primary">edit</span>-->
<!--                            <span class="text-base">{{ 'ADMIN.questionnaire.edit' | translate }}</span>-->
<!--                          </span>-->
<!--                          &lt;!&ndash;                          <span class="text-xl! material-symbols-outlined text-primary">edit</span>&ndash;&gt;-->
<!--                          &lt;!&ndash;                          <span class="text-lg">{{ 'ADMIN.questionnaire.edit' | translate }}</span>&ndash;&gt;-->
<!--                        </button>-->
<!--                        <button mat-menu-item (click)='onTranslationAction(DialogMode.DELETE, entity$(), l, undefined)'>-->
<!--                          <span class="flex items-center gap-2">-->
<!--                            <span class="text-xl! text-red-500 material-symbols-outlined font-bold!">delete</span>-->
<!--                            <span class="text-base">{{ 'ADMIN.questionnaire.delete' | translate }}</span>-->
<!--                          </span>-->

<!--                          &lt;!&ndash;                          <span class="text-xl! material-symbols-outlined text-red-500">delete</span>&ndash;&gt;-->
<!--                          &lt;!&ndash;                          <span class="text-sm">{{ 'ADMIN.questionnaire.delete' | translate }}</span>&ndash;&gt;-->
<!--                        </button>-->
<!--                      </mat-menu>-->
<!--                    </span>-->
<!--                  }-->
<!--&lt;!&ndash;                  @for (l of entity()['translations'] | keyvalue; track l.key;) {&ndash;&gt;-->
<!--&lt;!&ndash;                    <span>&ndash;&gt;-->
<!--&lt;!&ndash;                      <button mat-icon-button class="tiny uppercase"&ndash;&gt;-->
<!--&lt;!&ndash;                              (click)='$event.stopPropagation()'&ndash;&gt;-->
<!--&lt;!&ndash;                              [class]="entity().defaultLanguage !== l.key ? 'text-secondary! dark:text-secondary-dark!' : 'text-primary! dark:text-primary-dark!'"&ndash;&gt;-->
<!--&lt;!&ndash;                              [matMenuTriggerFor]="menu">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                              [class]="'en' !== l.key ? 'text-secondary! dark:text-secondary-dark!' : 'text-primary! dark:text-primary-dark!'"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        <span class="text-sm font-bold">{{l.key}}</span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="h-full flex items-center justify-center"><span class="text-sm font-bold">{{l.key}}</span></span>&ndash;&gt;-->
<!--&lt;!&ndash;                      </button>&ndash;&gt;-->
<!--&lt;!&ndash;                      <mat-menu #menu="matMenu">&ndash;&gt;-->
<!--&lt;!&ndash;                        <button mat-menu-item (click)='onTranslationAction(DialogMode.EDIT, entity(), l.key?.toString(), undefined)'>&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="flex items-center gap-2">&ndash;&gt;-->
<!--&lt;!&ndash;                            <span class="text-xl! material-symbols-outlined font-bold! text-primary">edit</span>&ndash;&gt;-->
<!--&lt;!&ndash;                            <span class="text-base">{{ 'ADMIN.questionnaire.edit' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                          </span>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                          <span class="text-xl! material-symbols-outlined text-primary">edit</span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                          <span class="text-lg">{{ 'ADMIN.questionnaire.edit' | translate }}</span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                        </button>&ndash;&gt;-->
<!--&lt;!&ndash;                        <button mat-menu-item (click)='onTranslationAction(DialogMode.DELETE, entity(), l.key?.toString(), undefined)'>&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="flex items-center gap-2">&ndash;&gt;-->
<!--&lt;!&ndash;                            <span class="text-xl! text-red-500 material-symbols-outlined font-bold!">delete</span>&ndash;&gt;-->
<!--&lt;!&ndash;                            <span class="text-base">{{ 'ADMIN.questionnaire.delete' | translate }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                          </span>&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;                          <span class="text-xl! material-symbols-outlined text-red-500">delete</span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                          <span class="text-sm">{{ 'ADMIN.questionnaire.delete' | translate }}</span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                        </button>&ndash;&gt;-->
<!--&lt;!&ndash;                      </mat-menu>&ndash;&gt;-->
<!--&lt;!&ndash;                    </span>&ndash;&gt;-->
<!--&lt;!&ndash;                  }&ndash;&gt;-->
<!--                  <button mat-icon-button class="tiny"-->
<!--                          (click)='onTranslationAction(DialogMode.ADD, entity$())'>-->
<!--                    <span class="material-symbols-outlined text-xl! text-primary">add</span>-->

<!--&lt;!&ndash;                    <span class="text-lg text-primary-color-500 material-symbols-outlined">add</span>&ndash;&gt;-->
<!--                  </button>-->
<!--                </div>-->
              }
              @case ('questionCount') {
                {{ entity$().questions.length || '-' }}
              }
              @case ('actions') {
                <button mat-icon-button
                        class="tiny block"
                        [class.xs:hidden!]="extensionClass$() === 'block xs:hidden'"
                        [class.sm:hidden!]="extensionClass$() === 'block sm:hidden'"
                        [class.md:hidden!]="extensionClass$() === 'block md:hidden'"
                        [class.lg:hidden!]="extensionClass$() === 'block lg:hidden'"
                        [class.xl:hidden!]="extensionClass$() === 'block xl:hidden'"
                        [class.2xl:hidden!]="extensionClass$() === 'block 2xl:hidden'"
                        [class.3xl:hidden!]="extensionClass$() === 'block 3xl:hidden'"
                        (click)="onExpansionClick($event)">
                <span class="material-symbols-outlined text-xl!">
                  {{ expanded$() ? 'expand_less' : 'expand_more' }}
                </span>
                </button>
                <app-questionnaire-actions [entity$]="entity$()" [isExpanded$]="true"/>
<!--                <button mat-icon-button class="tiny lg:hidden!" (click)="onExpansionClick($event)">-->
<!--                  <span class="material-symbols-outlined">-->
<!--                    {{ expanded ? 'expand_less' : 'expand_more' }}-->
<!--                  </span>-->
<!--                </button>-->
<!--                <ng-container *showIfHasRole="[{role: ROLES.SYS_ADMIN}]">-->
<!--                  <button class="tiny" mat-icon-button color="primary" (click)='onAction(DialogMode.EDIT, entity(), entity().defaultLanguage)'>-->
<!--                    <span class="material-symbols-outlined text-xl!">edit</span>-->
<!--                  </button>-->
<!--                  <button class="tiny" mat-icon-button color="warn" (click)='onAction(DialogMode.DELETE, entity(), entity().defaultLanguage)'>-->
<!--                    <span class="text-red-500 material-symbols-outlined text-xl!">delete</span>-->
<!--                  </button>-->
<!--                </ng-container>-->
              }
          @default {
            {{ entity$()[tableElement.name] || '-' }}
          }
            }
          </div>
        }

<!--      <div class='w-20'>-->
<!--        <button mat-icon-button class="mat-small-icon-button lg:hidden!" (click)="onExpansionClick($event)">-->
<!--          <span class="material-symbols-outlined">-->
<!--            {{ expanded ? 'expand_less' : 'expand_more' }}-->
<!--          </span>-->
<!--        </button>-->
<!--        <ng-container *showIfHasRole="[{role: ROLES.SYS_ADMIN}]">-->
<!--          <button class="tiny" mat-icon-button color="primary" (click)='onAction(DialogMode.EDIT, entity())'>-->
<!--            <span class="material-symbols-outlined text-xl!">edit</span>-->
<!--          </button>-->
<!--          <button class="tiny" mat-icon-button color="warn" (click)='onAction(DialogMode.DELETE, entity())'>-->
<!--            <span class="text-red-500 material-symbols-outlined text-xl!">delete</span>-->
<!--          </button>-->
<!--        </ng-container>-->
<!--      </div>-->
    </div>

  @if (expanded$()) {
    <div class="rb-table-extension-row" animate.enter="expand-in-anim" animate.leave="expand-out-anim">
    <app-questionnaire-details class="py-4"
                         [entity$]='entity$()'
                         [type$]="DetailType.TABLE"
                         [tableFields$]="tableFields$()"/>
  </div>
  }
  </mat-card>
