@if (language()) {
  @if (sectionHeader()) {
    <p class="text-sm font-bold mb-4" [innerHtml]="question().section_header?.[language()!.code] | replacePlaceholders"></p>
  }
  @if (label() && question().field_label) {
    <p class="text-lg">
      <span [innerHtml]="question().field_label[language()!.code] | replacePlaceholders"></span>
      @if (!disableRequiredAsterisk()) {
        @if (question().required_field) {
          <span class="text-red-700"> *</span>
        } @else {
          <span class="text-gray-500 text-sm"> ({{ 'optional' | translateLang}})</span>
        }
      }
    </p>
  }

  @if (note()) {
    <p class="text-sm my-2" [innerHtml]="question().field_note?.[language()!.code] | replacePlaceholders"></p>
  }
}
