@let _i18nEntity = "ADMIN.sourceData";
@let _i18nShared = "SHARED.dialog";

<h2 mat-dialog-title class="border-b border-neutral-400 dark:border-neutral-500">
  <span>{{ `${_i18nShared}.${dialogData.mode}` | translate }}</span>
  <span> {{ `${_i18nEntity}.title.singular` | translate }}</span>
  <code class="italic text-secondary"> {{ dialogData.entity?.sourceDataName ? `${dialogData.entity?.sourceDataName}` : `` }}</code>
</h2>

<mat-dialog-content>
  @if (dialogData.mode === DialogMode.DELETE) {
    <div class='mb-4 text-base'>
      <div class="mt-4">
        <p>
          {{ `${_i18nShared}.deleteMessage` | translate }} {{ `${_i18nEntity}.sourceDataName` | translate }}:
          <code class="italic text-secondary">{{ dialogData.entity?.sourceDataName }}</code>. </p>
        <p class="font-bold">{{ `${_i18nShared}.deleteWarning` | translate }}</p>
      </div>
    </div>
  }

  @if (dialogData.mode === DialogMode.ADD || dialogData.mode === DialogMode.EDIT) {
    <form novalidate>
      @if (dialogData.mode !== DialogMode.ADD) {
        <app-input-form-field [field]="form.id" [label]=`${_i18nEntity}.id` [appearance]='"fill"'/>
      }

      <app-input-form-field [field]="form.sourceDataType"
                            [label]=`${_i18nEntity}.sourceDataType`
                            [required]="true"/>

      <app-searchable-multi-select [field]="form.sourceType"
                                   [label]="`${_i18nEntity}.sourceType`"
                                   [valueKey]="'id'"
                                   [labelKey]="'name'"
                                   [options]="dialogData.sourceTypeFullList"
                                   [multiple]="false"/>

      <app-input-form-field [field]="form.sourceDataName"
                            [label]=`${_i18nEntity}.sourceDataName`
                            [required]="true"/>

<!--      @if (!formFields || formFields['processingState'] === undefined || formFields['processingState']) {-->
        <app-select-form-field [field]="form.processingState"
                               [label]=`${_i18nEntity}.processingState`
                               [options]="PROCESSING_STATE.map((state) => ({ value: state, label: `${_i18nEntity}.processingState.${state}` }))"/><!--        <label for="processing-state" class="text-sm">-->
<!--      }-->

      <!--      @if (!formFields || formFields['topic'] === undefined || formFields['topic']) {-->
      <app-input-form-field [field]="form.topic" [label]="`${_i18nEntity}.topic`"/>
      <!--      }-->

      <!--      @if (!formFields || formFields['keySchema'] === undefined || formFields['keySchema']) {-->
      <app-input-form-field [field]="form.keySchema" [label]="`${_i18nEntity}.keySchema`"/>
      <!--      }-->

      <!--      @if (!formFields || formFields['valueSchema'] === undefined || formFields['valueSchema']) {-->
      <app-input-form-field [field]="form.valueSchema" [label]="`${_i18nEntity}.valueSchema`"/>
      <!--      }-->

      <!--      @if (!formFields || formFields['frequency'] === undefined || formFields['frequency']) {-->
      <app-input-form-field [field]="form.frequency" [label]="`${_i18nEntity}.frequency`"/>
      <!--      }-->

      <!--      @if (!formFields || formFields['unit'] === undefined || formFields['unit']) {-->
      <app-input-form-field [field]="form.unit" [label]="`${_i18nEntity}.unit`"/>
      <!--      }-->
    </form>
  }
</mat-dialog-content>

@if (store.error()) {
  <app-error-message-box>
    {{ store.error() | json }}
  </app-error-message-box>
}
<mat-dialog-actions align="end" class="justify-between!">
  <button (click)='close()' mat-stroked-button color="accent">
    {{
      dialogData.mode !== DialogMode.DELETE ?
        (`${_i18nShared}.cancel` | translate) : (`${_i18nShared}.no` | translate)
    }}
  </button>
  @switch (dialogData.mode) {
    @case (DialogMode.DELETE) {
      <button [disabled]='store.loading()' (click)='delete()' color="warn" mat-raised-button>
        @if (store.loading()) {
          <mat-icon>
            <mat-spinner diameter="20"/>
          </mat-icon>
        }

        {{
          store.loading() ?
            (`${_i18nShared}.deletingButton` | translate) :
            (`${_i18nShared}.yes` | translate)
        }}
      </button>
    }
    @case (DialogMode.EDIT) {
      <button [disabled]='form().invalid() || store.loading()' (click)='save()' mat-raised-button color="primary">
        @if (store.loading()) {
          <mat-icon>
            <mat-spinner diameter='20'/>
          </mat-icon>
        }
        {{ `${_i18nShared}.update` | translate }}
      </button>
    }
    @case (DialogMode.ADD) {
      <button [disabled]='form().invalid() || store.loading()' (click)='save()' color="primary" mat-raised-button>
        @if (store.loading()) {
          <mat-icon>
            <mat-spinner diameter='20'/>
          </mat-icon>
        }
        {{ `${_i18nShared}.create` | translate }}
      </button>
    }
  }
</mat-dialog-actions>
