<h2 mat-dialog-title class="border-b-2">
  <span class='inline-flex items-center justify-between w-full'>
    <span class="text-lg">
      <span>Publish Changes</span>
    </span>
    <button mat-icon-button
            (click)='close()'
            [mat-dialog-close]='true'>
      <span class="material-symbols-outlined">close</span>
    </button>
  </span>
</h2>


<!--<div mat-dialog-title>-->
<!--  <div class='flex items-center justify-between'>-->
<!--    <div class="text-lg">-->
<!--      <span>Publish Changes</span>-->
<!--    </div>-->
<!--    <button mat-icon-button-->
<!--            class='close-button'-->
<!--            [mat-dialog-close]='true'-->
<!--            (click)='close()'>-->
<!--      <span class="material-symbols-outlined">close</span>-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->

  <mat-dialog-content>
    <p>After you publish, these changes are available to users.</p>
  </mat-dialog-content>

  <div>
    @if (error()) {
      <rb-message />
    }
    <div class='px-6 py-4 flex flex-wrap justify-between gap-2 w-full'>
      <div class='flex flex-wrap gap-2'>
        <button mat-stroked-button
                color='primary'
                type='button'
                class='close-button'
                [mat-dialog-close]='true'
                (click)='close()'>
          {{ 'ADMIN.user.activate.cancel' | translate }}
        </button>
      </div>
      <div class=''>
        <button mat-raised-button class="text-white!"
                color='accent'
                [disabled]='isLoading'
                (click)='publish()'>
          @if (isLoading) {
            <mat-icon>
              <mat-spinner diameter='20' />
            </mat-icon>
            Publishing...
          } @else {
            Publish
          }
        </button>
      </div>
    </div>
  </div>
