<div class="editor-container">

  <div class="toolbar">

    <!-- Text style -->

    <button
      type="button"
      [class.active]="isActive('paragraph')"
      (click)="setParagraph()">
      P
    </button>

    <button
      type="button"
      [class.active]="isActive('heading', 1)"
      (click)="setHeading(1)">
      H1
    </button>

    <button
      type="button"
      [class.active]="isActive('heading', 2)"
      (click)="setHeading(2)">
      H2
    </button>

    <button
      type="button"
      [class.active]="isActive('heading', 3)"
      (click)="setHeading(3)">
      H3
    </button>

    <span class="separator"></span>

    <!-- Formatting -->
    <input
      type="color"
      [value]="selectedColor"
      (input)="setColor($event)"
      title="Text color"
    />

    <button
      type="button"
      (click)="unsetColor()">
      Clear color
    </button>

    <button
      type="button"
      [class.active]="isActive('bold')"
      (click)="toggleBold()">
      <strong>B</strong>
    </button>

    <button
      type="button"
      [class.active]="isActive('italic')"
      (click)="toggleItalic()">
      <em>I</em>
    </button>

    <button
      type="button"
      [class.active]="isActive('underline')"
      (click)="toggleUnderline()">
      <u>U</u>
    </button>

    <button
      type="button"
      [class.active]="isActive('strike')"
      (click)="toggleStrike()">
      <s>S</s>
    </button>

    <span class="separator"></span>

    <!-- Lists -->

    <button
      type="button"
      [class.active]="isActive('bulletList')"
      (click)="toggleBulletList()">
      • List
    </button>

    <button
      type="button"
      [class.active]="isActive('orderedList')"
      (click)="toggleOrderedList()">
      1. List
    </button>

    <button
      type="button"
      [class.active]="isActive('blockquote')"
      (click)="toggleBlockquote()">
      Quote
    </button>

    <span class="separator"></span>

    <button
      type="button"
      (click)="insertImage()">
      🖼️
    </button>

    <span class="separator"></span>

    <!-- Undo / Redo -->

    <button
      type="button"
      (click)="undo()"
      [disabled]="!editor.can().undo()">
      ↶
    </button>

    <button
      type="button"
      (click)="redo()"
      [disabled]="!editor.can().redo()">
      ↷
    </button>

    <button
      type="button"
      [class.active]="sourceMode"
      (click)="toggleSourceMode()">
      &lt;/&gt;
    </button>


    <button
      type="button"
      title="Insert question"
      (click)="openQuestionPicker()">
      + Question
    </button>
  </div>

  @if (!sourceMode) {

    <tiptap-editor
      [editor]="editor">
    </tiptap-editor>

  } @else {

    <textarea
      class="source-editor"
      [(ngModel)]="sourceHtml">
  </textarea>

  }

<!--  <tiptap-editor-->
<!--    [editor]="editor">-->
<!--  </tiptap-editor>-->

</div>
