<div cdkDropList (cdkDropListDropped)="onDrop($event)" class="">
  <div class="w-full flex-col mt-4 mb-1 text-sm">
    <div class="flex items-center w-full border-b border-gray-300">
      <div class="w-1/12 flex-grow-0"></div>
      <div class="w-3/12 flex-grow-0">Day</div>
      <div class="w-7/12 flex-grow-0">Time</div>
      <div class="w-1/12 flex-grow-0"></div>
    </div>
    @if (form.controls.length) {
      @for (time of form.controls; let i = $index; track time) {
        <div cdkDrag [formGroup]="time" class="w-full flex items-center border-b border-gray-300">
          <div class="w-1/12 flex-grow-0 flex-shrink-0 cursor-move">
            <span class="material-symbols-outlined">swap_vertical_circle</span>
          </div>
          <mat-form-field class='small-input w-3/12! flex-grow-0'
                          appearance='outline'
                          subscriptSizing="dynamic">
            <input class="" matInput type="number" [formControlName]="'day'">
          </mat-form-field>
          <mat-form-field class='small-input w-7/12!  flex-grow-0'
                          appearance='outline'
                          subscriptSizing="dynamic">
            <input matInput [formControlName]="'time'" type="time" />
          </mat-form-field>

          <button class="w-1/12 flex-grow-0 flex-shrink-0 material-symbols-outlined text-red-500" (click)="removeItem(i)">
            remove_circle
          </button>
        </div>
      }
<!--    </div>-->
<!--  </div>-->
    } @else {

    }
    <div class="w-full flex items-center py-2">
      <div class="w-1/12 flex-shrink-0"></div>
      <p class="w-10/12 flex-shrink-0 text-sm text-red-400">
        @if (!form.controls.length) {
          No offset added.
        }
      </p>
      <div class="w-1/12 flex-shrink-0 flex-grow-0 text-center">
      <button class="material-symbols-outlined" (click)="addItem()">add_circle</button>
      </div>
    </div>

<!--<div class="flex justify-end mb-2">-->
<!--  <div class="w-1/12 flex-shrink-0 flex-grow-0 text-center">-->
<!--    <button class="material-symbols-outlined" (click)="addItem()">add_circle</button>-->
<!--  </div>-->
<!--</div>-->
  </div>
</div>

