<h2 mat-dialog-title class="border-b border-neutral-400 dark:border-neutral-500">
  Insert question
</h2>

<mat-dialog-content class="p-4!">

  @if (data.questionPicker) {
    <label for="template-variable" class="text-sm">Select</label>
  <mat-form-field class='small-input' appearance='outline' subscriptSizing="fixed">
    <mat-select (selectionChange)="selectQuestion($event)">
      @for (question of questions; track $index) {
        @if ($index < data.questionIndex) {
          <mat-option [value]="question">{{ question.field_name }}</mat-option>
        }
      }
    </mat-select>
<!--    <mat-error>-->
<!--      @if (selectForm().invalid()) {-->
<!--        @for (error of selectForm().errors(); track error.kind) {-->
<!--          {{ error.message }}-->
<!--        }-->
<!--      }-->
<!--    </mat-error>-->
  </mat-form-field>
  }

  @if (!data.questionPicker) {
  <label for="template-variable" class="text-sm">Select a Reserved Variable</label>
  <mat-form-field class='small-input' appearance='outline' subscriptSizing="fixed">
    <mat-select (selectionChange)="selectQuestion($event)">
      @for (question of RESERVED_VARIABLES; track $index) {
        <mat-option [value]="question.value">{{ question.label }}</mat-option>
      }
    </mat-select>
    <!--    <mat-error>-->
    <!--      @if (selectForm().invalid()) {-->
    <!--        @for (error of selectForm().errors(); track error.kind) {-->
    <!--          {{ error.message }}-->
    <!--        }-->
    <!--      }-->
    <!--    </mat-error>-->
  </mat-form-field>
  }
</mat-dialog-content>

<div class='px-6 py-4 flex flex-wrap justify-between gap-2 w-full border-t border-neutral-400 dark:border-neutral-500'>
  <div class='flex flex-wrap gap-2'>
    <button (click)='cancel()'
            mat-stroked-button
            color="accent"
            type="button">
      {{ 'SHARED.dialog.cancel' | translate }}
    </button>
  </div>
</div>
