<app-question-header [question]="question()" [language]="language()"/>

<mat-radio-group aria-label="Select an option" [value]="answer()?.value">
  @for (option of yesNoOptions; track option.code) {
    <div>
      <mat-radio-button [value]="option.code" (click)="onInputChange(option.code)"
                        [disabled]="!isEditEnabled">
        <span class="ion-text-wrap" [innerHtml]="option.label[language()!.code] | replacePlaceholders"></span>
      </mat-radio-button>
    </div>
  }
</mat-radio-group>
@if (isEditEnabled) {
  <button color="warn" matButton class="my-4 text-sm!" (click)="onInputChange(null)">
    Clear
  </button>
}
