<!--&lt;!&ndash;<app-scrollable-content>&ndash;&gt;-->
<!--&lt;!&ndash;  @if (isHealthKitQuestionsList) {&ndash;&gt;-->
<!--&lt;!&ndash;    <app-health-input [questionsList]="questionsList"&ndash;&gt;-->
<!--&lt;!&ndash;                      (valueChange)="onHealthInputChange($event)"/>&ndash;&gt;-->
<!--&lt;!&ndash;  } @else {&ndash;&gt;-->
<!--    @for (question of questionsList; track question; let i = $index) {-->
<!--      @if (question.showQuestion) {-->
<!--        <app-question [question]="question"-->
<!--                      [language]="language()"-->
<!--                      [answers]="answers"-->
<!--                      [answer]="answers[item.key]?.[0]"-->
<!--                      (answerEvent)="onAnswer($event)"-->
<!--                      (nextActionEvent)="nextAction($event)"/>-->


<!--&lt;!&ndash;        <app-question-header [question]="question" [sectionHeader]="i === 0"/>&ndash;&gt;-->
<!--&lt;!&ndash;        @switch (question.field_type) {&ndash;&gt;-->
<!--&lt;!&ndash;          @case ("matrix-radio") {&ndash;&gt;-->
<!--&lt;!&ndash;            @if ((question.select_choices_or_calculations?.length ?? 0) > 2) {&ndash;&gt;-->
<!--&lt;!&ndash;              <app-radio-input [question]="question"&ndash;&gt;-->
<!--&lt;!&ndash;                               (valueChange)="onInputChange(i, question, $event)"/>&ndash;&gt;-->
<!--&lt;!&ndash;            } @else {&ndash;&gt;-->
<!--&lt;!&ndash;              <app-matrix-radio-input [question]="question"&ndash;&gt;-->
<!--&lt;!&ndash;                                      [answer]="answers()?.[question.field_name]?.[0]"&ndash;&gt;-->
<!--&lt;!&ndash;                                      (valueChange)="onInputChange(i, question, $event)"/>&ndash;&gt;-->
<!--&lt;!&ndash;            }&ndash;&gt;-->
<!--&lt;!&ndash;          }&ndash;&gt;-->
<!--&lt;!&ndash;          @case ('yesno') {&ndash;&gt;-->
<!--&lt;!&ndash;            <app-yesno-input [question]="question"&ndash;&gt;-->
<!--&lt;!&ndash;                             (valueChange)="onInputChange(i, question, $event)"/>&ndash;&gt;-->
<!--&lt;!&ndash;          }&ndash;&gt;-->
<!--&lt;!&ndash;          @case ('checkbox') {&ndash;&gt;-->
<!--&lt;!&ndash;            <app-checkbox-input [question]="question"&ndash;&gt;-->
<!--&lt;!&ndash;                                (valueChange)="onInputChange(i, question, $event)"/>&ndash;&gt;-->
<!--&lt;!&ndash;          }&ndash;&gt;-->
<!--&lt;!&ndash;          @case ('range') {&ndash;&gt;-->
<!--&lt;!&ndash;            <app-range-input [question]="question"&ndash;&gt;-->
<!--&lt;!&ndash;                             (valueChange)="onInputChange(i, question, $event)"/>&ndash;&gt;-->
<!--&lt;!&ndash;          }&ndash;&gt;-->
<!--&lt;!&ndash;          @case ('range-info') {&ndash;&gt;-->
<!--&lt;!&ndash;            <app-range-info-input [question]="question"&ndash;&gt;-->
<!--&lt;!&ndash;                                  (valueChange)="onInputChange(i, question, $event)"/>&ndash;&gt;-->
<!--&lt;!&ndash;          }&ndash;&gt;-->
<!--&lt;!&ndash;          @case ('slider') {&ndash;&gt;-->
<!--&lt;!&ndash;            <app-slider-input [question]="question"&ndash;&gt;-->
<!--&lt;!&ndash;                              (valueChange)="onInputChange(i, question, $event)"/>&ndash;&gt;-->
<!--&lt;!&ndash;          }&ndash;&gt;-->
<!--&lt;!&ndash;          @case ('text') {&ndash;&gt;-->
<!--&lt;!&ndash;            <app-text-input [question]="question"&ndash;&gt;-->
<!--&lt;!&ndash;                            (valueChange)="onInputChange(i, question, $event)"/>&ndash;&gt;-->
<!--&lt;!&ndash;          }&ndash;&gt;-->
<!--&lt;!&ndash;          @case ('duration') {&ndash;&gt;-->
<!--&lt;!&ndash;            <app-time-input [question]="question" [isMeridianEnabled]="false"&ndash;&gt;-->
<!--&lt;!&ndash;                            (valueChange)="onInputChange(i, question, $event)"/>&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;          <app-duration-input [question$]="question"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;              &lt;!&ndash;                              (valueChange)="onInputChange(i, question, $event)" />&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;          }&ndash;&gt;-->
<!--&lt;!&ndash;          @case ('time') {&ndash;&gt;-->
<!--&lt;!&ndash;            <app-time-input [question]="question"&ndash;&gt;-->
<!--&lt;!&ndash;                            (valueChange)="onInputChange(i, question, $event)"/>&ndash;&gt;-->
<!--&lt;!&ndash;          }&ndash;&gt;-->
<!--&lt;!&ndash;          @case ('date') {&ndash;&gt;-->
<!--&lt;!&ndash;            <app-date-input [question]="question"&ndash;&gt;-->
<!--&lt;!&ndash;                            (valueChange)="onInputChange(i, question, $event)"/>&ndash;&gt;-->
<!--&lt;!&ndash;          }&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;          @case('health') {&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <app-health-input [question]="question"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                              [questionsList]="questionsList"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                              (valueChange)="onHealthInputChange($event)"/>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;          }&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;          @case ('healthkit') {&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <app-health-input [question]="question"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                              (valueChange)="onInputChange(i, question, $event)"/>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                            [refTimestamp]="0" />&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;              &lt;!&ndash;                            [currentlyShown]="true"&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;          }&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->
<!--      }-->
<!--    }-->
<!--&lt;!&ndash;  }&ndash;&gt;-->
<!--&lt;!&ndash;</app-scrollable-content>&ndash;&gt;-->


<!--&lt;!&ndash;<div [class.fade]="!currentlyShown" [class.content-matrix]="true" style="padding: 16px;">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="" style="padding-bottom: 4px;">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    @if (!isSectionHeaderHidden()) {&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;      <p [innerHtml]="question().section_header | replacePlaceholders"></p>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    }&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="field-container" [class.field-container-matrix]="true">&ndash;&gt;-->
<!--&lt;!&ndash;      <h2>&ndash;&gt;-->
<!--&lt;!&ndash;        <span [innerHtml]="question().field_label | replacePlaceholders"></span>&ndash;&gt;-->
<!--&lt;!&ndash;        @if (question().required_field !== 'false') {&ndash;&gt;-->
<!--&lt;!&ndash;          <span> *</span>&ndash;&gt;-->
<!--&lt;!&ndash;        } @else {&ndash;&gt;-->
<!--&lt;!&ndash;          <span> (Optional)</span>&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->
<!--&lt;!&ndash;      </h2>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  <ion-radio-group (ionChange)="onInputChange($event.detail.value)">&ndash;&gt;-->
<!--&lt;!&ndash;    <ion-row>&ndash;&gt;-->
<!--&lt;!&ndash;      @for (item of question().select_choices_or_calculations; track item.code) {&ndash;&gt;-->
<!--&lt;!&ndash;        <ion-col>&ndash;&gt;-->
<!--&lt;!&ndash;          &lt;!&ndash;        {{selected}} / {{item.code}}&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;          <ion-item color="none" lines="none" class="item-md" [class.checked]="selected === item.code">&ndash;&gt;-->
<!--&lt;!&ndash;            <ion-radio [value]="item.code">&ndash;&gt;-->
<!--&lt;!&ndash;              <span class="ion-text-wrap">{{ item.label }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;            </ion-radio>&ndash;&gt;-->
<!--&lt;!&ndash;          </ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;        </ion-col>&ndash;&gt;-->
<!--&lt;!&ndash;      }&ndash;&gt;-->
<!--&lt;!&ndash;    </ion-row>&ndash;&gt;-->
<!--&lt;!&ndash;  </ion-radio-group>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
