@let _prefix = 'ADMIN.questionnaire.dialog';
@let entity = dialogState.questionnaire();
@let defaultLanguage = entity?.defaultLanguage;

@if (defaultLanguage) {
  <form novalidate>
    <div class="">
      <label for="languagesLabel" class="text-sm">{{ `${_prefix}.languagesLabel` | translate }}</label>
      <app-searchable-multi-select [formField]="languagesForm.languages"
                                   [disabledItem]="defaultLanguage"
                                   [labelKey]="'label'"
                                   [options]="ISO_LANGUAGES"
                                   [valueKey]="'code'"
                                   [multiple]="true"/>
    </div>


    <div class="w-full overflow-x-auto border border-gray-300">
      <div [style.grid-template-rows]="`repeat(${numberOfGridRows}, max-content)`"
           class="grid grid-flow-col auto-cols-[minmax(300px,max-content)] text-xs *:border *:border-gray-300 *:p-2 *:-mt-px *:-ml-px">
        <div class=""></div>
        <div class="">Title</div>
        <div class="">Description</div>
        <div class="">End Text</div>
        @if (entity?.warningEnabled) {
          <div class="">Warn</div>
        }
        @if (!entity?.schedule?.onDemand) {
          <div class="">Notification Title</div>
          <div class="">Notification Text</div>
        }
        @for (question of entity?.questions; track question.field_name) {
          <div class="border-y">Question <code class="text-secondary">{{ question.field_name }}</code></div>
          <div>Field Label</div>
          @if (question.section_header?.[defaultLanguage.code]) {
            <div>Section Header</div>
          }
          @if (question.field_note?.[defaultLanguage.code]) {
            <div>Field Note</div>
          }
          @for (choice of question.select_choices_or_calculations; track choice.code) {
            <div>Choice {{ choice.code }}</div>
          }
        }

        @for (language of languagesList(); track language) {
          <div>{{ language }}</div>
          <mat-form-field class='small-input' appearance='outline' subscriptSizing="dynamic">
            <textarea id="" matInput [formField]="form.translation[language].title"></textarea>
          </mat-form-field>
          <mat-form-field class='small-input' appearance='outline' subscriptSizing="dynamic">
            <textarea id="" matInput [formField]="form.translation[language].description"></textarea>
          </mat-form-field>
          <mat-form-field class='small-input' appearance='outline' subscriptSizing="dynamic">
            <textarea id="" matInput [formField]="form.translation[language].endText"></textarea>
          </mat-form-field>
          @if (entity?.warningEnabled) {
            <mat-form-field class='small-input' appearance='outline' subscriptSizing="dynamic">
              <textarea id="" matInput [formField]="form.translation[language].warn"></textarea>
            </mat-form-field>
          }
          @if (!entity?.schedule?.onDemand) {
            <mat-form-field class='small-input' appearance='outline' subscriptSizing="dynamic">
              <textarea id="" matInput
                        [formField]="form.translation[language].schedule.notification.title"></textarea>
            </mat-form-field>
            <mat-form-field class='small-input' appearance='outline' subscriptSizing="dynamic">
              <textarea id="" matInput
                        [formField]="form.translation[language].schedule.notification.text"></textarea>
            </mat-form-field>
          }

          @for (question of form.translation[language].questions; track $index; ) {
            <div class="border-y"></div>
            <mat-form-field class='small-input' appearance='outline' subscriptSizing="dynamic">
              <textarea id="" matInput [formField]="question.field_label"></textarea>
            </mat-form-field>
            @if (entity?.questions?.[$index]['section_header']?.[defaultLanguage.code]) {
              <mat-form-field class='small-input' appearance='outline' subscriptSizing="dynamic">
                <textarea id="" matInput [formField]="question.section_header"></textarea>
              </mat-form-field>
            }
            @if (entity?.questions?.[$index]['field_note']?.[defaultLanguage.code]) {
              <mat-form-field class='small-input' appearance='outline' subscriptSizing="dynamic">
                <textarea id="" matInput [formField]="question.field_note"></textarea>
              </mat-form-field>
            }
            @for (choice of question.select_choices_or_calculations; track $index; let j = $index) {
              <mat-form-field class='small-input' appearance='outline' subscriptSizing="dynamic">
                <textarea id="" matInput [formField]="choice.label"></textarea>
              </mat-form-field>
            }
          }
        }
      </div>
    </div>
  </form>
}
