@let _prefix = 'ADMIN.questionnaire.dialog';
@let _entity = entity();

@if (_entity) {
  <div class="flex justify-between items-center sticky top-0 z-10 py-2">
    <span class="font-bold"></span>
    <div class="flex gap-2 items-center">
      <div class='small-input text-sm flex justify-end gap-1'>
        @for (language of _entity.languages; track language) {
          <button mat-icon-button class="tiny uppercase"
                  (click)='$event.stopPropagation(); selectedLanguage = language'
                  [class]="selectedLanguage?.id === language.id ? 'text-primary! dark:text-primary-dark!' : 'text-neutral-400! dark:text-neutral-500!'">
              <span class="h-full flex items-center justify-center">
                <span class="text-sm font-bold">{{ language.id }}</span>
              </span>
          </button>
        }
      </div>
    </div>
  </div>

  <div class="flex h-[90%] justify-between">
    <div class="h-full aspect-9/16 bg-primary/20 border-2 border-gray-300 rounded-lg">

<!--      <div class="w-1/2 flex flex-col h-[90%] border-2 border-gray-300 rounded-lg">-->
        <div class="h-full flex flex-col">
      @if (selectedLanguage) {
        <span class="p-4 shrink-0 font-bold">{{ _entity.title?.[selectedLanguage.id] ?? _entity.name }}</span>
      }
      @if(!loading) {
        @if (groupedQuestions) {
<!--          {{groupedQuestions | json}}-->
          <div class="grow overflow-auto p-4">
            @for (item of groupedQuestions | keyvalue: originalOrder; track item.key; let i = $index) {
              @if (i === currentQuestion.index) {
<!--                <pre>{{item.value | json}}</pre>-->
                @for (q of item.value; track q;) {
                  <app-question [question]="q"
                                [language]="selectedLanguage"
                                [answers]="answers"
                                [answer]="answers[item.key]?.[$index]"
                                (answerEvent)="onAnswer($event)"
                                (nextActionEvent)="nextAction($event)"/>
                }
<!--                @if (item.value.length > 1) {-->
<!--                  <app-grouped-questions [questions]="item.value"-->
<!--                                         [groupName]="item.key"-->
<!--                                         [language]="selectedLanguage"-->
<!--                                         [answers]="answers"-->
<!--                                         [answer]="answers[item.key]"-->
<!--                                         (answerEvent)="onGroupAnswer($event)"-->
<!--                                         (nextActionEvent)="nextAction($event)"/>-->
<!--                } @else {-->
<!--                  <app-question [question]="item.value[0]"-->
<!--                                [language]="selectedLanguage"-->
<!--                                [answers]="answers"-->
<!--                                [answer]="answers[item.key]?.[0]"-->
<!--                                (answerEvent)="onAnswer($event)"-->
<!--                                (nextActionEvent)="nextAction($event)"/>-->
<!--                }-->
              }
            }
          </div>
          <div>
            <app-toolbar (toolbarEvent)="handleToolbarEvent($event)"
                         [currentQuestionId]="currentQuestion.index"
                         [isLeftButtonDisabled]="isLeftButtonDisabled()"
                         [isRightButtonDisabled]="isRightButtonDisabled()"
                         [totalQuestions]="groupedQuestionsSize"
                         [isProgressCountShown]="showProgressCount"/>
          </div>
        } @else {
          Loading...
        }
      }
    </div>
    </div>
    <div class="h-full overflow-auto w-1/2 text-sm"><pre>{{answers | json}}</pre></div>
  </div>




}
